     <div class="watch-playlists-drawer">
        <div class="ytg-box">
           <div class="messages-area">
              <div class="yt-alert yt-alert-default yt-alert-success added-to-message hid">
                 <div class="yt-alert-icon">
                    <img alt="提醒图标" class="icon master-sprite" src="<%= asset_path 'yt/wfw.gif' %>">
                 </div>
                 <div class="yt-alert-buttons">  <button role="button" data-close-parent-class="yt-alert" onclick=";return false;" class="close yt-uix-close yt-uix-button yt-uix-button-close" type="button"><span class="yt-uix-button-content">关闭 </span></button></div>
                 <div role="alert" class="yt-alert-content">
                    <span class="yt-alert-vertical-trick"></span>
                    <div class="yt-alert-message">
                       已添加至<span class="added-to-message-title"></span>
                    </div>
                 </div>
              </div>
              <div class="yt-alert yt-alert-default yt-alert-error  added-to-error-message hid">
                 <div class="yt-alert-icon">
                    <img alt="提醒图标" class="icon master-sprite" src="<%= asset_path 'yt/wfw.gif' %>">
                 </div>
                 <div class="yt-alert-buttons">  <button role="button" data-close-parent-class="yt-alert" onclick=";return false;" class="close yt-uix-close yt-uix-button yt-uix-button-close" type="button"><span class="yt-uix-button-content">关闭 </span></button></div>
                 <div role="alert" class="yt-alert-content"></div>
              </div>
              <div class="yt-alert yt-alert-default yt-alert-success  note-added-message hid">
                 <div class="yt-alert-icon">
                    <img alt="提醒图标" class="icon master-sprite" src="<%= asset_path 'yt/wfw.gif' %>">
                 </div>
                 <div class="yt-alert-buttons">  <button role="button" data-close-parent-class="yt-alert" onclick=";return false;" class="close yt-uix-close yt-uix-button yt-uix-button-close" type="button"><span class="yt-uix-button-content">关闭 </span></button></div>
                 <div role="alert" class="yt-alert-content">
                    <span class="yt-alert-vertical-trick"></span>
                    <div class="yt-alert-message">
                       备注已添加至：
                       <span class="note-added-message-title"></span>
                    </div>
                 </div>
              </div>
           </div>
           <h3>
              添加到课件锦囊
           </h3>
           <span class="playlist-addto-title-options">
              <span class="yt-uix-form-input-checkbox-container "><input type="checkbox" id="playlist-addto-top-checkbox" class="yt-uix-form-input-checkbox" name="playlist-addto-top"><span class="yt-uix-form-input-checkbox-element"></span></span>
              <label for="playlist-addto-top-checkbox">
              将课件添加到列表顶部
              </label>
              <span class="yt-uix-form-input-select sort-playlists-container" style="margin-right:18px">
                 <span class="yt-uix-form-input-select-content"><img class="yt-uix-form-input-select-arrow" src="<%= asset_path 'yt/wfw.gif' %>"><span class="yt-uix-form-input-select-value">
                 创建日期
                 </span></span>
                 <select name="playlist-sort" class="yt-uix-form-input-select-element sort-playlists">
                    <option selected="" value="created">
                       创建日期
                    </option>
                    <option value="privacy">
                       隐私设置
                    </option>
                    <option value="a-z">
                       A-Z
                    </option>
                    <option value="z-a">
                       Z-A
                    </option>
                 </select>
              </span>
           </span>
        </div>
        <ul class="playlist-items">
<% current_user.all_play_lists.desc(:undestroyable).asc(:title_en).each do |play_list| %>
<% if !play_list.is_history %>
  	<%= render :partial => 'add_to_play_list',:locals=>{play_list:play_list} %>
	<% end %> 
<% end %>
        </ul>
        <form method="post" class="create-playlist" action="/ajax/create_new_playlist">
					 <div style="margin:0;padding:0;display:inline">
            <input type="hidden" value="<%= cw_id %>" name="kejian_id" class="video-id">
					 	<input name="utf8" type="hidden" value="✓">
					 	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
					 </div>
           <div class="playlist-create-form-actions">
              <span class="yt-uix-form-input-select new-playlist-privacy">
                 <span class="yt-uix-form-input-select-content">
                   <img class="yt-uix-form-input-select-arrow" src="<%= asset_path 'yt/wfw.gif' %>">
                   <span class="yt-uix-form-input-select-value">公开</span></span>
                 <select name="is_public" class="yt-uix-form-input-select-element ">
                    <option value="public">公开</option>
	                  <option value="unlisted">不公开</option>
                    <option value="private">私有</option>
                 </select>
              </span>
              <button role="button" class="create-new-playlist yt-uix-button yt-uix-button-default" type="submit" onclick=";return false;" disabled="True"><span class="yt-uix-button-content">创建课件锦囊 </span></button>
           </div>
           <div class="playlist-create-form-playlist-name">
             <span class="new-playlist-title yt-uix-form-input-container">
               <input placeholder="输入新课件锦囊的名称" name="playlist_name" id="playlist_wired"class="yt-uix-form-input-text new-playlist-title label-input-label">
             </span>
           </div>
        </form>
     </div>
<script type="text/javascript" charset="utf-8">
  jQuery('#playlist_wired').bind('keyup',function(){
     if(jQuery('#playlist_wired').val().length > 0){
       jQuery('.playlist-create-form-actions > button.create-new-playlist.yt-uix-button.yt-uix-button-default').removeAttr('disabled');
     }else{
       jQuery('.playlist-create-form-actions > button.create-new-playlist.yt-uix-button.yt-uix-button-default').attr('disabled',true);
     }
   });
</script>