 <% if current_user %>
    <% if flash[:notice]%>
		<div class="notice" style="margin:8px">
			<p class="title"><%= flash[:notice] %></p>
		</div>
    <% end %>
        <%= form_for comment,:remote => true do |f| %>
        <%= f.hidden_field :commentable_type %>
        <%= f.hidden_field :commentable_id %>
        <div class="yt-alert yt-alert-default yt-alert-error hid comments-post-message">
           <div class="yt-alert-icon">
              <img alt="Alert icon" class="icon master-sprite" src="<%= asset_path 'yt/wfw.gif' %>" />
           </div>
           <div class="yt-alert-buttons"></div>
           <div role="alert" class="yt-alert-content"></div>
        </div>
        <a class="yt-user-photo comments-post-profile" href="/user/<%= current_user.slug %>">
        <span class="video-thumb ux-thumb yt-thumb-square-46 ">
            <span class="yt-thumb-clip">
                <span class="yt-thumb-clip-inner">
                    <img width="46" src="<%= avatar_url current_user %>" />
                    <span class="vertical-align"></span>
                </span>
            </span>
        </span>
        </a>
        <div class="comments-textarea-container"><img class="comments-textarea-tip" alt="" src="<%= asset_path 'yt/wfw.gif' %>" />
        <label class="comments-textarea-label link-gplus-lightbox" id="comment_placeholder">说点什么...</label>
           <%= f.text_area :body,id:"comment_placeholder_now",class:"yt-uix-form-textarea comments-textarea link-gplus-lightbox" %>
        </div>
        <p class="comments-remaining">
           剩余字符数：<span data-max-count="500" class="comments-remaining-count">500</span>
        </p>
        <p class="comments-post-buttons">
           <button role="button" class="comments-post yt-uix-button yt-uix-button-default" type="submit"><span class="yt-uix-button-content">发布</span></button>
        </p>
        <% end %>
  <% else %>
  <div class="comments-post-alert">
            现在<a id="comment_login" href="/login">登录</a>或<a href="/register">注册</a><span class="comments-post-form-rollover-text">即可发表评论！</span>
  </div>
  <% end %>