<div class="comments-post-containerx">
  <div class="comment-share-area yt-rounded">
    <div class="comment-share-content">
      <h4>链接到此评论：</h4>
      <div>
        <input type="text" class="comment-share-url yt-uix-form-input-text" value="http://<%= Setting.ktv_sub.nil? ? 'www' : Setting.ktv_sub %>.kejian<%= $psvr_really_development ? '.lvh.me' : '.tv'%>/coursewares/<%= cw.id %>?cid=<%= comment.id %>">
      </div>
      <div>
        <span>分享到：</span>
          <img action="yt.window.popup('http:\/\/www.facebook.com\/sharer.php?u=http%3A%2F%2Fwww.youtube.com%2Fcomment%3Flc%3D_COMMENT_ID_&amp;t=_COMMENT_TEXT_', {height:440, width:620, scrollbars:true});" class="icon-comment-share icon-comment-share-facebook" src="<%= asset_path 'yt/wfw.gif' %>" title="Facebook" alt="">
          <img action="yt.window.popup('http:\/\/twitter.com\/share?url=http%3A%2F%2Fwww.youtube.com%2Fcomment%3Flc%3D_COMMENT_ID_&amp;text=_COMMENT_TEXT_%3A&amp;via=youtube', {height:650, width:1024, scrollbars:true});" class="icon-comment-share icon-comment-share-twitter" src="<%= asset_path 'yt/wfw.gif' %>" title="Twitter" alt="">
          <img action="yt.window.popup('https:\/\/plus.google.com\/u\/0\/share?url=http%3A%2F%2Fwww.youtube.com%2Fcomment%3Flc%3D_COMMENT_ID_&amp;source=yt', {height:620, width:620, scrollbars:true});" class="icon-comment-share icon-comment-share-googleplus" src="<%= asset_path 'yt/wfw.gif' %>" title="Google+" alt="">
      </div>
    </div>
    <div data-action="close-share" class="close comment-action">
      <img class="close-button" src="<%= asset_path 'yt/wfw.gif' %>">
    </div>
  </div>
  

  </div>
  
  
