<div class="share-email">
      <div class="yt-alert yt-alert-actionable yt-alert-success hid share-email-success" >
         <div class="yt-alert-icon">
            <img alt="提醒图标" class="icon master-sprite" src="<%= asset_path 'yt/wfw.gif' %>">
         </div>
         <div class="yt-alert-buttons">  
           <button role="button" onclick=";return false;" class="share-email-remail yt-uix-button yt-uix-button-default" type="button">
             <span class="yt-uix-button-content">再次发送 </span>
           </button>
         </div>
         <div role="alert" class="yt-alert-content">
            <span class="yt-alert-vertical-trick"></span>
            <div class="yt-alert-message">
               电子邮件已成功发送！
            </div>
         </div>
      </div>
      <div class="yt-alert yt-alert-default yt-alert-error hid share-email-error">
         <div class="yt-alert-icon">
            <img alt="提醒图标" class="icon master-sprite" src="<%= asset_path 'yt/wfw.gif' %>">
         </div>
         <div class="yt-alert-buttons"></div>
         <div role="alert" class="yt-alert-content"></div>
      </div>
      <form action="/ajax/ajax_send_email" method="POST" class="share-email-form">
         <input type="hidden" value="<%= cw.id %>" name="cw_id">
         <div class="section">
            <label for="share-email-recipients">
            收件人<span>（电子邮件地址或用户名）</span>：
            </label>
            <textarea name="recipients" class="yt-uix-form-textarea share-email-recipients" aria-haspopup="true" style="height: 15px;"></textarea>
         </div>
         <div class="section">
            <label for="share-email-note">
            其他注释<span>（可选）</span>：
            </label>
            <textarea name="message" class="yt-uix-form-textarea share-email-note"></textarea>
         </div>
         <div class="section">
            <label>
            电子邮件预览：
            </label>
            <div class="share-email-preview-container">
               <div class="share-email-preview">
                  <p class="share-email-preview-header">
                     <a><%= current_user.slug %></a>在 课件TV 上与您分享了一个课件：
                  </p>
                  <p class="share-email-preview-note"></p>
                  <p class="share-email-preview-body">
                     <a><strong>“<%= cw.title %>”</strong></a>
                      <%= cw.topic %>
                  </p>
               </div>
            </div>
         </div>
         <div class="share-email-captcha section hid"></div>
         <p class="share-email-buttons">
            <button role="button" onclick='return false;'class="share-email-send yt-uix-button yt-uix-button-primary" type="submit"><span class="yt-uix-button-content">发送电子邮件 </span></button>
         </p>
      </form>
   </div>
   
   <script type="text/javascript" charset="utf-8">

   (function($){
    $('textarea.yt-uix-form-textarea.share-email-note').keyup(function(event){
        $('p.share-email-preview-note').html($(this).val().replace(/\r\n|\r|\n/g,"<br>"));
    });
    $('.share-email-remail').live('click',function(){
      $('.yt-alert-success.share-email-success').addClass('hid');
      if( validateEmail($('.share-email-recipients').val()) ){
        $.ajax({
          url:"/ajax/ajax_send_email",
          type:"POST",
          data:{'cw_id':'<%= cw.id %>','recipients':$('.share-email-recipients').val(),'message':$('.share-email-note').val()},
          dataType:'json'
        }).done(function(json){
          $('.share-email-recipients').val('');
          $('.yt-alert-error.share-email-error').addClass('hid');
          $('.yt-alert-success.share-email-success').removeClass('hid');
        });
        return true;
      }else{
        $('.share-email-recipients').val('');
        $('.yt-alert-success.share-email-success').addClass('hid');
        $('.yt-alert-error.share-email-error > .yt-alert-content').html('邮箱地址格式不正确！');
        $('.yt-alert-error.share-email-error').removeClass('hid');
        return false;
      }
    });
    $('.share-email-send.yt-uix-button.yt-uix-button-primary').live('click',function(){
      if( validateEmail($('.share-email-recipients').val()) ){
        $.ajax({
          url:"/ajax/ajax_send_email",
          type:"POST",
          data:{'cw_id':'<%= cw.id %>','recipients':$('.share-email-recipients').val(),'message':$('.share-email-note').val()},
          dataType:'json'
        }).done(function(json){
          $('.share-email-recipients').val('');
          $('.yt-alert-error.share-email-error').addClass('hid');
          $('.yt-alert-success.share-email-success').removeClass('hid');
        });
        return true;
      }else{
        $('.share-email-recipients').val('');
        $('.yt-alert-success.share-email-success').addClass('hid');
        $('.yt-alert-error.share-email-error > .yt-alert-content').html('邮箱地址格式不正确！');
        $('.yt-alert-error.share-email-error').removeClass('hid');

        return false;
      }
    });
    function validateEmail(email) { 
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }
    })(jQuery);
   </script>