<div id="watch-action-confirmation">
  <div class="full-width" id="watch-action-response-message">
     <div id="watch-action-like-plus-one-tooltip">
        <strong>谢谢</strong>！与您的朋友分享该视频吧！
     </div>
     <div id="watch-like-share">
        <ul id="watch-like-share-services">
					<li>
					<!-- JiaThis Button BEGIN -->
					<div class="jiathis_style_32x32">
					<a class="jiathis_button_renren"></a>
					<a class="jiathis_button_tsina"></a>
					<a class="jiathis_button_douban"></a>
					</div>
					<% if cw.status !=0 or !cw.check_upyun_result 
						picurl = asset_path("yt/img/meh_mini-unreadable.png")
					else 
						picurl =  asset_url("cw/#{cw.ktvid}/#{cw.revision}thumb_slide_0.jpg") 
				  end %>
					<script type="text/javascript" >
					var jiathis_config={
						siteNum:0,
						url:jQuery('input.share-panel-url[name="share_url"]').val(),// document.getElementsByName('share_url')[0].value,
						summary:"<%= cw.title %>",
						title:"课件TV <%= cw.title %>",
						boldNum:0,
						pic:"<%= picurl %>",
						appkey:{
							"tsina":"2931187294",
							"tqq":"100285598",
							"renren":'952ab0cc70fa4a6c9e0fbe260a81657e'
						},
						hideMore:true
					}
					</script>
					<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=1351061699325921" charset="utf-8"></script>
					<!-- JiaThis Button END -->
					</li>
        </ul>
        <input type="text" onclick="this.select()" value="http://<%= Setting.ktv_subdomain%>/coursewares/<%= cw_id %>" class="share-panel-url">
     </div>
  </div>
</div>