<div id="watch-action-confirmation">
  <div class="yt-alert yt-alert-naked yt-alert-success  addto-badge">
     <div class="yt-alert-icon">
        <img alt="提醒图标" class="icon master-sprite" src="<%= asset_path 'yt/wfw.gif' %>">
     </div>
     <div role="alert" class="yt-alert-content">
        <span class="yt-alert-vertical-trick"></span>
        <div class="yt-alert-message">
           您对此课件给予了差评。感谢您提供反馈意见！
        </div>
     </div>
  </div>
  <div id="watch-action-response-message">
     <div class="watch-ratings-stats">
       <% cw = Courseware.find(cw_id) %>
        <strong>此课件的评分</strong> <span class="watch-ratings-stats-parenthesis">(总计 <%= (total = cw.thanked_count + cw.disliked_count) %> 票)</span><br>
        <table class="watch-ratings-stats-table">
           <tbody>
              <tr>
                 <td>
                    <img alt="好评数" src="<%= asset_path 'yt/wfw.gif' %>" class="master-sprite watch-ratings-stats-like">
                 </td>
                 <td><%= cw.thanked_count %></td>
                 <td width="100%">
                    <div style="width:<%= total>0 ? (cw.thanked_count*1.0 / (total*1.0)) *100 : 0  %>%" class="likes-bar"></div>
                 </td>
              </tr>
              <tr>
                 <td>
                    <img alt="差评数" src="<%= asset_path 'yt/wfw.gif' %>" class="master-sprite watch-ratings-stats-unlike">
                 </td>
                 <td><%= cw.disliked_count %> </td>
                 <td width="100%">
                    <div style="width:<%= total>0 ? (cw.disliked_count*1.0 / (total*1.0)) *100 : 0  %>%" class="dislikes-bar"></div>
                 </td>
              </tr>
           </tbody>
        </table>
     </div>
     <br>
     <div class="divider">
        <br><strong><img src="<%= asset_path 'yt/wfw.gif' %>" class="master-sprite watch-gray-flag">您是否要<a data-from-dislike="1" onclick="return false;" class="hLink" href="#">举报此课件包含不当内容？</a></strong><br><br>
     </div>
  </div>
  <div class="clearL">
  </div>
</div>