(function() {
  var frame_id = 'presentation_frame_<%= @courseware.id %>';
      action = 0;

<% if params[:container].present? %>
  var iframe = document.createElement('iframe');
  iframe.id = frame_id;
  iframe.src = "/embed/<%= @courseware.id%>?slide=1&preview=1";
  var width = document.getElementById('<%=params[:container]%>').offsetWidth;
  document.getElementById('<%=params[:container]%>').appendChild(iframe);
  var tf = document.getElementById(frame_id);
  tf.style.border = '0';
  tf.style.background = 'transparent';
  tf.style.margin = '0';
  tf.style.padding = '0';
  tf.border = 0;
<%else%>
  document.write("<div id=\"speakerdeck_presentation_wrapper_<%= @courseware.id %>\"><iframe style=\"border:0; padding:0; margin:0; background:transparent;\" mozallowfullscreen=\"true\" webkitallowfullscreen=\"true\" frameBorder=\"0\" allowTransparency=\"true\" id=\"presentation_frame_<%= @courseware.id %>\" src=\"/embed/<%= @courseware.id%>?slide=1&preview=1\" width=\"\" height=\"\"></iframe>\n</div>");

  var width = document.getElementById('speakerdeck_presentation_wrapper_<%= @courseware.id %>').offsetWidth;
<%end%>

  var frame = document.getElementById(frame_id),
      node  = frame.parentNode,
      height = (width-2) / <%=@courseware.wh_ratio%> + 65,
      maxed = false;

  frame.style['-webkit-border-radius'] = '5px';
  frame.style.width = width + 'px';
  frame.style.height = height + 'px';

  var url = frame.src;

  document.onkeyup = function(e) {
    if(document.activeElement.tagName.toLowerCase() !== 'input' && document.activeElement.tagName.toLowerCase() !== 'textarea') {
      var code = (window.event) ? window.event.keyCode : e.keyCode;
      switch(code) {
        case 39:
          frame.src = url + '#next-' + action++;
          return false;
          break;
        case 37:
          frame.src = url + '#prev-' + action++;
          return false;
      }
    }
  };
})();
