<% content_for :body_style do %>background: none repeat scroll 0 0 #F0EEEE<% end %>
<%= render file:'/application/headers/_zm_header' %>
<div class="__zm">

<div class="notelayer" id="mainempty" style="display:none;">你关注的内容太少了，去<a href="/newIndex" class="blue">推荐频道</a>找找吧。</div>

<div id="pagewrap">
<input id="queryScope" name="queryScope" type="hidden" value="0" />
<input id="isProduct" type="hidden" value="0" />
<input id="queryOrder" type="hidden" value="0" />
<input id="priceScope" type="hidden" value="" />
<div class="filterbar" style="margin-top:1px;">

<div class="hotword floatleft cf">
<h4>只查看：</h4>
<ul id="ulQueryScope">

<li ><a class="queryScopeCss" rel="2"  href="javascript:;" ><span>篇幅长的</span></a></li>
<li  class='current'><a class="queryScopeCss" rel="0"  href="javascript:;" ><span>全部</span></a></li>
</ul>
</div>
<div class="hotword floatright cf">
<span><input id="isProductCheckBox" type="checkbox"></span>
<span class="onlycom"><label for="isProductCheckBox">只看幻灯片</label></span>
<span class="split">|</span>
<h4>排序：</h4>
<ul id="ulQueryOrder">
<li  class='current'><a class="queryOrderCss" rel="1" href="javascript:;"><span>最新</span></a></li>
<li ><a class="queryOrderCss" rel="2" href="javascript:;"><span>最热</span></a></li>
</ul>
</div>

</div>
<div id="content" style="box-shadow:none;background:none;overflow:visible !important;">

<div id="leftLabel" class="rightbox" style="visibility:hidden;">







<div  class="topline userbox userbox-home">
<div style="overflow:hidden;">
  <div class="uhead" style="height:60px;"><a href="<%= user_path current_user%>"><img src="<%=avatar_url(current_user,:mid60)%>" /></a></div>
  <div class="uinfo">
    <p><a href="" class="blue arial b"><%=current_user.name%></a></p>
    <p><%= current_user.tagline %></p>
  </div>
</div>
<ul class="useratten cf">
<li>
<a id="user_profile_medium_follow_count" class="gray block usernumber" href="/users/<%= current_user.slug %>/following">
  <em><%=current_user.following_ids.size%></em><br />
<span>关注</span>
</a>
</li>
<li>
<a id="user_profile_medium_fans_count" class="gray block usernumber" href="/users/<%= current_user.slug %>/followers">
  <em><%=current_user.follower_ids.size%></em><br />
<span>粉丝</span>
</a>
</li>
<li>
<a class="gray block usernumber" href="/users/<%= current_user.slug %>"><%=current_user.coursewares_count%><br />
<span>课件</span></a>
</li>
</ul>
</div>
 
</div>

</div>
<div id="imloading" class="imfootloading" style="visibility:hidden;"><div class="loading">正在加载，请稍候...</div></div>
<div id="firstload" class="firstload" style="display:none;">加载中...</div>
<script type="text/javascript">
<% content_for :butt2 do %>
console.log($('#queryScope').val());
$('.queryScopeCss').live('click', function () {
    var queryScope = $(this).attr("rel");
    $('#queryScope').val(queryScope);
    $('#ulQueryScope > li').removeClass();
    $(this).parent().addClass('current');
    queryExec();
});
$('#isProductCheckBox').live('click', function () {
    var selected = $('#isProductCheckBox').attr("checked");
    if (typeof (selected) == "undefined") {
        $('#isProduct').val(0);
    } else if (selected == 'checked') {
        $('#isProduct').val(1);
    }
    queryExec();
});
$('#priceContent a').live('click', function () {
    var price = $(this).text();
    if (price == '全部') {
        $('#priceScope').val("");
    } else if (price == '500以上') {
        $('#priceScope').val(501);
    } else {
        $('#priceScope').val(price);
    }
    $('#priceContent').prev('a').html(price + '<em class="iconbg arrow"></em>');
    $('#priceContent').hide();
    queryExec();
});
$('.queryOrderCss').live('click', function () {
    var queryOrder = $(this).attr("rel");
    $('#queryOrder').val(queryOrder);
    $('#ulQueryOrder > li').removeClass();
    $(this).parent().addClass('current');
    queryExec();
});
$('.allprice').hover(function () {
    $('#priceContent').show();
}, function () {
    $('#priceContent').hide();
})

function queryExec() {
    var queryScope = $('#queryScope').val();
    var priceScope = $('#priceScope').val();
    var isProduct = $('#isProduct').val();
    var queryOrder = $('#queryOrder').val();
    $('#leftLabel').nextAll().remove();
    var linkUrl = "/coursewares_mine",
        jsonUrl = "/coursewares_mine/";
    autoLayout.loading = true;
    autoLayout.isHasNextPage = true;
    autoLayout.pageNum = 2;
    autoLayout.init({
        contentID: "content",
        rightLoad: true,
        leftID: "leftLabel",
        rightID: [],
        linkUrl: linkUrl,
        dataContent: {
            'queryScope': queryScope,
            'priceScope': priceScope,
            'onlyForCommodity': isProduct,
            'queryOrder': queryOrder
        },
        noText: "mainempty",
        loadingID: "imloading",
        callBack: function () {
            if (!autoLayout.isFirst) {}
        }
    });
    autoLayout.eachAction(jsonUrl);
}

im(function () {
    var queryScope = $('#queryScope').val();
    var priceScope = $('#priceScope').val();
    var isProduct = $('#isProduct').val();
    var queryOrder = $('#queryOrder').val();
    var linkUrl = "/coursewares_mine",
        jsonUrl = "/coursewares_mine/";
    autoLayout.init({
        contentID: "content",
        rightLoad: true,
        leftID: "leftLabel",
        rightID: [],
        linkUrl: linkUrl,
        dataContent: {
            'queryScope': queryScope,
            'priceScope': priceScope,
            'onlyForCommodity': isProduct,
            'queryOrder': queryOrder
        },
        noText: "mainempty",
        loadingID: "imloading",
        callBack: function () {
            if (!autoLayout.isFirst) {}
        }
    });
    autoLayout.eachAction(jsonUrl);
});
<% end %>
</script>



<!-- add board dialog start -->
<div id="addBoard" style="display:none;">
<div style="height: 400px;overflow: hidden;position:relative;">
<div id="newpocket" >
<div class="addtext"><span class="innerborder"><input id="newBoardName" tabindex="1" type="text" class="deftest gray" maxlength="20" value="请输入图格名称，在20个汉字之内" /></span></div>
<div class="category"><h2 class="f14 b">图格的分类？</h2>
<div class="list"><ul class="cf" id="boardcategories"></ul></div>
</div>
<div class="category selectuser"><h2 class="f14 b">谁能在图格里添加收集？</h2>
<p><input id="mePerson" type="radio" checked id="radio-12" name="newBoardManageType" value="1" tabindex="3" /><label class="radio omlymy f14" for="mePerson">只是我</label></p>
<p><input id="otherPerson" type="radio" name="newBoardManageType" value="2" /><label class="radio addothre f14" for="otherPerson">我和其他用户</label>
<span class='reSelect' style="display:none">已选择<em></em>位好友   <a href='javascript:;' class='blue'>重新选择</a></span>
</p>
</div>
</div>
<div id="selectfriend-1" class="selectfriend" >
<div class="gotop"><a id="backPerson" href="javascript:void(0)" >确认返回</a></div>

<div id="add_friend_lists" class="friendlist" style="display:''">
<h3>
<span class="f14">我的好友</span> <span class="gray" id="friendListSize">(<em>0</em>)</span>
</h3><div class="list"><ul id="friendList" class="cf"></ul></div>
</div>


<div id="add_board_nocontent" class="nocontent" style="display:none">
<span class="yahe" >抱歉，您现在还没有好友</span><br />
<a href="/invite" class="f14 blue">马上去寻找好友&gt;&gt;</a>
</div>

</div>
</div>
<div id="addBoard-tips" style="display:none"></div>
<div id="createBoardBtnDiv" class="dialogsubmit"><a id="createBoardBtn" class="bigbutton calloff bigbuttongray" href="javascript:void(0);" tabindex="4">确认创建</a><a class="confirmback" href="javascript:;" id="jqruey-goback" style="display:none">确认返回</a></div>
</div>
<!-- add board dialog end -->
<!-- edit board dialog start -->
<div id="editBoard" style="display:none;">
<div style="height: 400px;overflow: hidden;position:relative;">
<div id="editpocket" style="display: block;">
<div class="addtext"><span class="innerborder"><input id="editBoardName" class="deftest" type="text" maxlength="20" tabindex="1"  /></span></div>
<div class="category"><h2 class="f14 b">图格的分类</h2>
<div class="list"><ul class="cf" id="editBoardcategories"></ul></div>
</div>
<div class="category"><h2 class="f14 b">谁能在图格里添加收集？</h2>
<p><input id="editMePerson" type="radio" id="radio-12" name="editBoardManageType" value="1" tabindex="3" /><label class="radio omlymy f14" for="editMePerson">只是我</label></p>
<p><input id="editOtherPerson" type="radio" name="editBoardManageType" value="2" /><label class="radio f14 addothre" for="editOtherPerson" >我和其他用户</label> 
<span id="editSelectedUser" style="display:none;" class="gray" >已选择 <em></em>位好友  &nbsp;&nbsp;<a id="editReSelect" href="javascript:;" class="blue">重新选择</a></span></p>
</div>
</div>
<div id="selectfriend-2" class="selectfriend">
<div class="gotop"><a id="editBackPerson" href="javascript:void(0)" >确认返回</a></div>

<div class="friendlist"><h3>
<span class="f14">我的好友</span> <span class="gray" id="editFriendListSize">(<em>0</em>)</span>
<!--  <span class="selecterror">您必须选择至少一位好友</span>-->
</h3><div class="list"><ul id="editFriendList" class="cf"></ul></div>
</div>


</div>
</div>
<div class="optionshare" >
<div class="modifyborder" id="jquery-option">
<span ><a href="javascript:;" class="alldel-btn delete dialogdel">删除图格</a></span>
<span style="display:none">确认删除图格吗？<a id="delete" href="###" class="enter submitbtn confirm-btn">确认</a> <a id="cancel" href="javascript:void(0);" class="reset submitbtn cancel-btn">取消</a></span>
</div>
</div>
<div id="editBoard-tips" style="display:none"></div>
<div id="saveBoardBtn" class="dialogsubmit" style="border:none; padding-top:4px">
<a  class="bigbutton calloff bigbuttongray" href="javascript:void(0);" tabindex="4">保存</a>
<a class="confirmback" href="javascript:void(0);" id="jqruey-goback-1" style="display:none">确认返回</a>
</div>
</div>
<!-- edit board dialog end -->


<!-- Dialog Start -->
<div id="reshareDialog" style="display:none;" class="body">
<div id="loadings" class="client cf">
<div class="block">
<div id="reshareDialogBoardPicImage" class="indeximg"></div>
<div class="saybox">
<div class="selectbox gray" style="margin-bottom: 12px; font-size: 14px">收集到</div>
<div class="selectbox margin">
<select id="reshareDialogBoardList" name="boardId" ><!-- id="assembly1" -->
</select>
</div>
<div class="note cf">
<span class="count gray floatright numsText">还可以输入 <em class="shoujiNum">0</em> 字</span><span class="gray">添加描述(可选)</span>
</div>
<div class="textareabox margin">
<span class="innerborder">
<textarea name="title" id="reshare-ta"></textarea>
</span>
</div>
<div class="integralbox margin">
<input name="isComment" type="checkbox" id="checkbox-1" />
<label id="reshareDialogCommentTo" for="checkbox-1" class="checkbox gray"></label><br>
<input name="isComment2" type="checkbox" id="checkbox-2" />
<label id="reshareDialogCommentTo2" for="checkbox-2" class="checkbox gray">同时评论给原收集者</label>
</div>
<div style="display:none;overflow:hidden;">
<span class="smstips smserror"><em class="smstips" id="reshareDialogMessage"></em></span>
</div>
<div id="reshareCommitButtonDiv" class="submit"><!-- dialogsubmit -->
<div class="right">
<span class="floatright share">
<span class="size" id="reshareCommitButtonDiv-1" style="display: none;">同步到:</span><span id="reshare_sync_sina-1" style="display: none;"><input id="reshare_sync_sina" type="checkbox" value="2"><label for="reshare_sync_sina" class="sina">新浪</label></span><span id="reshare_sync_tencent_weibo-1" style="display: none;"><input id="reshare_sync_tencent_weibo" type="checkbox" value="4"><label for="reshare_sync_tencent_weibo" class="qq">腾讯微博</label></span><span id="reshare_sync_renren-1" style="display: none;"><input id="reshare_sync_renren" type="checkbox" value="1"><label for="reshare_sync_renren" class="renren">人人</label></span><span id="reshare_sync_qzone-1" style="display: none;"><input id="reshare_sync_qzone" type="checkbox" value="8"><label for="reshare_sync_qzone" class="qzone">QQ</label></span>
</span>
</div>
<a id="reshareCommitButton" class="bigbutton big-btn bigbuttongray" href="javascript:void(0);">收集</a>
</div>
</div>
<!-- <div class="submit cf"></div> -->
</div>
</div>
</div>
<!-- Dialog End -->

<div id="editShareDialog" style="width: 640px; margin-top: 30px; margin-left: 30px; display:none;" class="dialog">
<div class="client cf"  id="loadings">
<div class="block">
<div class="indeximg" id="editBoardPicThumb">
</div>
<div class="saybox">
<div class="selectbox margin">
<select id="editBoardList">
</select>
</div>
<div class="textareabox margin">
<textarea id="editTitle"></textarea>
<div class="saynumber">
<a class="insertprice pos-left" id="insertprice3"><em>&yen;</em>插入价格</a>
<span class="floatright"><em id="sharenumid">1</em>/140</span>
</div>
</div>
<div class="integralbox margin" style="display:none;"><input type="checkbox" id="editIntegral" checked="checked"><label class="checkbox" for="editIntegral">积分悬赏</label> <span id="integral"></span> (悬赏后，分享将以 <span class="q"></span>   提问形式发出)</div>
<div id="delBoardPic" class="optionshare" style="margin:0;">
<div class="modifyborder">
<span><a class="alldel-btn delete dialogdel" href="javascript:void(0);" id="delBtn">删除收集</a></span>
</div>
</div>
<div id="delBoardPicConfirm" class="optionshare" style="margin:0;display:none;">
<div class="modifyborder"> 
确认删除此收集吗？<a id="btnDelBoardPicOK" class="enter submitbtn confirm-btn" href="javascript:void(0);">确认</a> <a id="btnDelBoardPicCancel" class="reset submitbtn cancel-btn" href="javascript:void(0);">取消</a>
</div>
</div>
<div id="submitDiv" class="submit" style="padding-top:18px;">
<input id="editBoardPicId" type="hidden" value="" />
<span id="eidtMsgTip" class="smstips smserror"><em class="smstips"></em></span>
<a id="btnSaveBoardPic" class="bigbutton big-btn bigbuttongray" href="javascript:void(0);">完成</a>
</div>
</div>
</div>
</div>
</div>

<!--发私信-->
<div id="message_dialog" style="display:none;">
<div class="client sendmail">
<span class="countdown" ><em id="jquery-sendmail" class="blue">0</em>/300</span>
<div class="sendline cf">
<label class="username">收件人：</label>
<span class="intext relative">
<span class="innerborder">
<input type="text" autocomplete="off"  id="user_id" to_user_id="0" maxlength="10" class="deftest w200" name="truename">
</span>
</span>
</div>
<div class="sendline cf" style="padding-bottom: 12px; _padding-bottom:16px">
<label class="usercontent">内&nbsp;容：</label>
<span class="intext">
<span class="innerborder">
<textarea id="message_content"></textarea>
</span>
</span>
</div>
<div id="jqeury-smsinfo" style="padding-left:55px; margin-bottom:8px; display:none"></div>
<div id="send_div" class="sendsubmit" style="_padding-left:57px">
<a id="button_send" class="bigbutton calloff bigbuttongray" href="javascript:void(0);">发送</a>
</div>
</div>
</div>


<!--址址登记-->
<div id="address_dialog" style="display:none;">
<h3 class="yahei f18 aligncenter pad-t16" style="display:none"><span id="address_ok_ico" class="success-ico"></span><span id="address-js-msg-span"></span></h3>
<div class="desc aligncenter gray" style="display:none" id="address-js-desc-div"></div>
<table class="address" id="address_div">
<tbody>
<tr id="tr_address_qq" style="display:none">
<td class="tdleft">QQ：</td>
<td>
<span class="innerborder"><input id="address_qq" type="text" class="deftest" /></span>
&nbsp;&nbsp;<span class="orange f12" id="js-error-qq"></span>
</td>
</tr>
<tr id="tr_address_mobile" style="display:none">
<td class="tdleft">手机：</td>
<td><span class="innerborder"><input id="address_mobile" type="text" maxLength="11" class="deftest" /></span><span id="mobile_alert" style="display:none;font-size:12px;padding-left:6px;" class='highlight'></sapn></td>
</tr>
<tr class="address_coin">
<td class="tdleft">姓  名：</td>
<input type="hidden" id="dialog_address_id" value="" />
<td><span class="innerborder"><input id="real_name" type="text" class="deftest" /></span></td>
</tr>
<tr class="address_coin">
<td class="tdleft">联系电话：</td>
<td>
<span class="innerborder"><input id="telephone" type="text" class="deftest"></span>
&nbsp;&nbsp;<span class="orange f12" id="js-error-mobile"></span>
</td>
</tr>
<tr class="address_coin" styl>
<td class="tdleft">收货地址：</td>
<td>
<span class="taouter"><textarea id="address"></textarea></span><br/>
<span id="js-error-address" class="orange f12"></span>
<div class="historyAdress" style="display:none">
<h4 id="address_h4" style="display:none">常用地址</h4>
<ul style="display:none" id="address_history">
</ul>
</div>
</td>
</tr>
<tr>
<td class="tdleft"></td>
<td>
<a id="save_address" href="###" class="bigbutton calloff bigbuttongray">提交</a>
<a class="bigbutton neednot-btn bigbuttongray" href="javascript:void(0)">取消</a>
</td>
</tr>
</tbody>
</table>
</div>

</div>
<%= render file:'/application/footers/_zm_footer' %>
















