<% content_for :armpit do %>
	<%= stylesheet_link_tag 'ktv/__ytb' %>
	<%= stylesheet_link_tag 'ktv/__ytb_edit' %>
	<%# stylesheet_link_tag 'ktv/__ytb_upload' %>
<% end %>
<% content_for :butt do %>
	<%= javascript_include_tag "ktv/upload"%>
<% end %>
<div id="the_upload_ytb" class='__ytb'>
<div class="my_courseware_edit" id="page">
	<div id="masthead-container">
		<!-- begin masthead -->
		<div class="yt-nav yt-nav-dark " id="masthead-subnav">
			<ul class="yt-nav-aside">
				<li>
					<a class="yt-uix-button yt-uix-button-subnav yt-uix-sessionlink yt-uix-button-dark" href="/coursewares/<%= @courseware.id %>"><span class="yt-uix-button-content">在课件页上阅读</span></a>
				</li>
				<li>
				<a class="yt-uix-button yt-uix-button-subnav yt-uix-sessionlink yt-uix-button-dark" id="edit-upload"><span class="yt-uix-button-content">上传此课件的修订版</span></a>
				</li>
			</ul>
			<ul>
				<li class=" selected">
				<span class="yt-nav-item">
				信息和设置 </span>
				</li>
				<% if false %>
				<li>
				<a href="/enhance?v=eO4V45qp_jU&amp;feature=mhsn" class="yt-nav-item">
				增强功能 </a>
				</li>
				<li>
				<a href="/audio?v=eO4V45qp_jU&amp;feature=mhsn" class="yt-nav-item">
				音频 </a>
				</li>
				<li>
				<a href="/my_videos_annotate?v=eO4V45qp_jU&amp;feature=mhsn" class="yt-nav-item">
				注释 </a>
				</li>
				<li>
				<a href="/my_videos_timedtext?video_id=eO4V45qp_jU&amp;feature=mhsn" class="yt-nav-item">
				字幕 </a>
				</li>
				<% end %>
			</ul>
		</div>
		<div id="alerts">
		</div>
		<!-- end masthead -->
	</div>
	<div id="uploader"></div>
	<div id="content-container">
		  <div id="content">
				<div class="editor-content upload-item">
					<div id="video-header">
						<div class="save-cancel-buttons">
							<button role="button" onclick=";window.location.href=this.getAttribute('href');return false;" class=" yt-uix-button yt-uix-button-default" type="button" href="/coursewares/<%= @courseware.id %>"><span class="yt-uix-button-content">取消 </span></button>
							<button role="button" onclick=";return false;" class="save-changes-button yt-uix-button yt-uix-button-default" type="button" disabled=""><span class="yt-uix-button-content">已保存</span></button>
						</div>
						<h1 id="title">
							<%= Sanitize.clean(@courseware.title.to_s.gsub(/\n/, ' '), Sanitize::Config::BASIC).html_safe %> </h1>
						<hr class="video-header-divider">
					</div>
					<div class="" id="player-and-info-pane">
						<div id="video">
							<div id="vm-video-player">
		            <div class="slide_frame">
		              <script src="/embed/<%= @courseware.id %>.js"></script>
		            </div>
							</div>
								</div>
								<div data-video-id="eO4V45qp_jU" class="metadata-thumbnail-chooser vertical-thumbnail-chooser">
									<span class="standard-thumbs-available">
									<% for i in 0...3 %>
									<div class="selectable-thumb standard-thumb small-thumb-dimensions">
										<span class="video-thumb ux-thumb yt-thumb-default-120 ">
											<span class="yt-thumb-clip">
												<span class="yt-thumb-clip-inner">
													<img width="120" alt="缩略图" src="<%= asset_url("cw/#{@courseware.ktvid}/#{@courseware.revision}thumb_slide_#{i}.jpg") %>" >
													<span class="vertical-align"></span>
												</span>
											</span>
										</span>
									</div>
									<% end %>
									<% if false %>
									<div class="selectable-thumb standard-thumb small-thumb-dimensions">
										<span class="thumbnail-overlay overlay-standard small-thumb-dimensions">
										<span class="thumbnail-overlay-inner-border">
										<div class="thumbnail-overlay-content">
											 设为缩略图
										</div>
										</span>
										</span>
										<span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="120" alt="缩略图" src="https://i2.ytimg.com/vi/eO4V45qp_jU/3.jpg?time=1352642116960" data-still-image-index="3"><span class="vertical-align"></span></span></span></span>
									</div>
									<% end %>
									</span>
									
									<div class="custom-thumb-selectable">
										<% if false %>
										<span class="thumbnail-overlay hid overlay-custom">
											<span class="thumbnail-overlay-inner-border">
												<div class="overlay-set-thumbnail">
													 设为缩略图
												</div>
												<div class="overlay-change-thumbnail">
													 更改图片
												</div>
											</span>
										</span>
										<span class="thumbnail-overlay hid overlay-change-only">
											<span class="thumbnail-overlay-inner-border">
												<div class="overlay-change-thumbnail">
										 		 更改图片
											  </div>
										 </span>
										</span>
										<div style="display: none;" class="thumbnail-upload-error hid">
											<div>
												<img title="Default Error" alt="Error icon" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-tooltip thumbnail-error-icon" data-tooltip-max-width="116" id="thumbnail-error">
											</div>
											<div class="custom-thumb-center">
												<span>
													<button role="button" onclick=";return false;" class="thumbnail-try-again-button yt-uix-button yt-uix-button-default" type="button">
														<span class="yt-uix-button-content">重试... </span>
													</button>
												</span>
											</div>
										</div>
										<% end %>
										<div style="" class="custom-thumb-area vertical-custom-thumb-area small-thumb-dimensions">
											<div class="custom-thumb-container">
												<div style="position: relative;">
													<button role="button" onclick=";return false;" class="custom-thumb-button yt-uix-button yt-uix-tooltip yt-uix-button-default" title="正在开发..."type="button">
														<span class="yt-uix-button-content">自定义缩略图 </span>
													</button>
													<% if false %>
													<div style="overflow: hidden; position: absolute; width: 88px; height: 25px; left: 0px; top: 0px;">
														<input type="file" style="position: absolute; right: 0px; top: 0px; cursor: pointer; opacity: 0; font-size: 25px;">
													</div>
													<% end %>
												</div>
											</div>
											<div class="yt-uix-hovercard">
												<span data-position="topright" class="yt-uix-hovercard-target custom-thumb-text">
													文件大小上限为 2MB。 
												</span>
											</div>
										</div>
										<% if false %>
										<div style="display: none;" class="selectable-thumb custom-thumb hid small-thumb-dimensions">
											<span class="video-thumb ux-thumb yt-thumb-default-120 ">
												<span class="yt-thumb-clip">
													<span class="yt-thumb-clip-inner">
														<img width="120" alt="缩略图" src="<%=asset_path('yt/img/loader-vflff1Mjj.gif')%>">
														<span class="vertical-align"></span>
													</span>
												</span>
											</span>
										</div>
										<div style="display: none;" class="custom-thumb-loader small-thumb-dimensions hid">
											<div class="custom-thumb-center">
												<div class="custom-thumb-uploading">
													<span>正在上传</span>
												</div>
												<div class="custom-thumb-filename"></div>
												<div>
													<button role="button" onclick=";return false;" class="custom-thumb-cancel-button yt-uix-button yt-uix-button-default" type="button">
														<span class="yt-uix-button-content">取消 </span>
													</button>
												</div>
											</div>
										</div>
										<% end %>
									</div>
									
								</div>
								<div class="hid" id="expandable-error-detail">
									<span class="yt-uix-expander yt-uix-expander-collapsed">
									<span class="yt-uix-expander-head">详细信息</span>
									<pre class="yt-uix-expander-body">
										__details__
									</pre>
									</span>
								</div>
								<div id="video-info">
									<h2>课件信息</h2>
									<dl>
										<dt>
										上传时间： </dt>
										<dd><%= @courseware.created_at.strftime('%Y年%m月%d日 %H:%M:%S') %></dd>
										<dt><% if @courseware.tree.present? %>子文件数<% else %>页数<% end %>：</dt>
										<dd><%= @courseware.slides_count %><% if @courseware.tree.present? %>个<% else %>页<% end %></dd>
										<dt>原始文件:</dt>
										<dd><%= @courseware.pdf_filename %></dd>
										<dt>文件信息:</dt>
										<dd><%= @courseware.filesort_mundane %></dd>
										<% if @courseware.human_time %>
										<dt>作者创作时间投入:</dt>
										<dd><%= @courseware.human_time_human(:very_short => true) %></dd>
										<% end %>
										<% if @courseware.finished_at %>
										<dt>最终完稿于:</dt>
										<dd><%= @courseware.finished_at.strftime('%Y年%m月%d日 %H:%M:%S') %></dd>
										<% end %>
										<dt class="new-section">阅读次数: </dt>
										<dd class="video-count video-view-count">
										<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="vm-sprite">
										<span><%= @courseware.views_count %></span>
										</dd>
										<dt>顶：</dt>
										<dd class="video-count video-likes-count">
										<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="vm-sprite">
										<span><%= @courseware.thanked_count %></span>
										</dd>
										<dt>
										踩的人数： </dt>
										<dd class="video-count video-dislikes-count">
										<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="vm-sprite">
										<span><%= @courseware.disliked_count %></span>
										</dd>
										<dt>评论：</dt>
										<dd class="video-count video-comments">
										<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="vm-sprite">
										<span><%= @courseware.comments.count %></span>
										</dd>
										<dt>
										课件网址： </dt>
										<dd>http://<%= Setting.ktv_sub %>.kejian.tv/coursewares/<%= @courseware.id %></dd>
									</dl>
								</div>
								<div class="clear"></div>
							</div>
							<div id="metadata-editor-loading" style="display: none;" class="hid">
								<img src="<%=asset_path('yt/img/loader-vflff1Mjj.gif')%>">
							</div>
							<div id="metadata-editor-pane" style="visibility: visible;">
								<div class="sub-item-exp fade-during">
										<div class="metadata-editor-container">
											<div class="subnav">
												<ul class="tabs">
													<li data-tab-id="basic-info" class="tab-header selected">
													<span>
													基本信息
													</span>
													</li>
													<li data-tab-id="monetization" class="tab-header ">
													<span>
													获利
													</span>
													</li>
													<li data-tab-id="advanced-settings" class="tab-header ">
													<span>
													高级设置
													</span>
													</li>
												</ul>
												<span class="tab-bg"></span>
												<div class="summary-icons">
													<span title="公开" class="metadata-status-public metadata-status <% if @courseware.privacy != 0 %>hid<% end %> yt-uix-tooltip yt-uix-tooltip-reverse ">
													<img alt="公开" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
													</span>
													<span   title="不公开" class="metadata-status-unlisted metadata-status yt-uix-tooltip yt-uix-tooltip-reverse <% if @courseware.privacy != 1 %>hid<% end %>">
													<img alt="不公开" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
													</span>
													<span  title="私有" class="metadata-status-private metadata-status yt-uix-tooltip yt-uix-tooltip-reverse <% if @courseware.privacy != 2 %>hid<% end %>">
													<img alt="私有" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
													</span>
													<span title="预定" class="metadata-status-scheduled metadata-status yt-uix-tooltip yt-uix-tooltip-reverse hid">
													<img alt="预定" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
													</span>
													<span title="未获利" class="metadata-status-video-not-monetized metadata-status yt-uix-tooltip yt-uix-tooltip-reverse ">
													<img alt="未获利" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
													</span>
													<span title="已获利" class="metadata-status-video-monetized metadata-status yt-uix-tooltip yt-uix-tooltip-reverse hid">
													<img alt="已获利" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
													</span>
													<span title="未声明所有权" class="metadata-status-video-not-claimed metadata-status yt-uix-tooltip yt-uix-tooltip-reverse hid">
													<img alt="未声明所有权" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
													</span>
													<span title="已声明" class="metadata-status-video-claimed metadata-status yt-uix-tooltip yt-uix-tooltip-reverse hid">
													<img alt="已声明" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
													</span>
													<span title="已遭拒" class="metadata-status-video-rejected metadata-status yt-uix-tooltip yt-uix-tooltip-reverse hid">
													<img alt="已遭拒" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
													</span>
													<span title="申诉" class="metadata-status-video-appealable metadata-status yt-uix-tooltip yt-uix-tooltip-reverse hid">
													<img alt="申诉" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
													</span>
												</div>
											</div>
											<div class="metadata-popups">
												<div style="display: none;" class="location-map">
													<div class="map-canvas">
													</div>
												</div>
											</div>
											<div class="metadata-container">
												<%= form_for @courseware,:url => "/edit_page_auto_save", :html => { :method => :post, :class => 'kejian-settings-form', :autocomplete=>"off" } do |f| %>
												<input type="hidden" name="presentation[id]" value="<%= @courseware.id %>" class="id">
							          <input type="hidden" name="psvr_g" value="<%= Department.get_fid(@c.department) if @c %>" class="psvr_g">
							          <input type="hidden" name="psvr_f" value="<%= @courseware.course_fid %>" class="psvr_f">
										    <input class="presentation_uptime" name="presentation[uptime]" type="hidden" value="" />
										    <input class="pdf_filename" name="presentation[pdf_filename]" type="hidden" value="<%= @courseware.pdf_filename %>" />
												<input class="upload_persentage" name="presentation[upload_persentage]" type="hidden" value="<%= @courseware.upload_persentage %>" />
													<div data-tab-id="basic-info" class="metadata-tab">
														<fieldset class="metadata-two-column">
															<label>
															<h4>标题</h4>
															<span class=" yt-uix-form-input-container ">
																<input name="presentation[title]" class="presentation_title yt-uix-form-input-text kejian-settings-title"   value="<%= Sanitize.clean(@courseware.title.to_s.gsub(/\n/, ' '), Sanitize::Config::BASIC).html_safe %>">
															</span>
															</label>
															<label>
															<h4>学院与课程名</h4>
															<span class=" yt-uix-form-input-container ">
																<input name="presentation[topic]" class="psvr_login_required yt-uix-form-input-text kejian-settings-department" value="<% if @c %> <%= @c.department %>: <%= @c.name %> <% end %>" readonly="readonly">
															</span>
															</label>
															<label>
															<h4>说明</h4>
															<span class="yt-uix-form-input-container ">
																<textarea rows="6" name="presentation[description]" class="yt-uix-form-textarea kejian-settings-description"><%= Sanitize.clean(@courseware.desc.to_s, Sanitize::Config::BASIC).html_safe %></textarea>
															</span>
															</label>
															<h4 class="tags-header">
															标记 <span class="yt-uix-clickcard">
															<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" tabindex="0" role="button" class="yt-help-icon yt-uix-clickcard-target">
															<span class="yt-uix-clickcard-content">
															<button class="yt-uix-clickcard-close"></button>
															<p>
																有助于他人发现您的课件的关键字
															</p>
															</span>
															</span>
															</h4>
															<div class="kejian-settings-tag-chips-container yt-uix-form-textarea">
																<input type="hidden" data="" value="<%= @courseware.keywords.join(' ') %>" class="kejian-settings-tags" name="presentation[keywords]">
																<% @courseware.keywords.each do |k| %>
																<span class="yt-chip"><span><%= k %></span><span class="yt-delete-chip"></span></span>
																<% end %>
																<input placeholder="请用逗号分隔多个标签" aria-haspopup="true" autocomplete="false" spellcheck="false" class="kejian-settings-add-tag">
															</div>
															<div class="upload-item-tag-suggestions clearfix">
																<div style="display: none;" class="tag-suggest-title">
																	 推荐标签：
																</div>
																<div style="display: none;" class="tag-suggest-tags">
																	<div class="tag"><span class="tag-add">+</span><span class="tag-title">a</span></div>
																	<span class="generating-tags">正在生成标记建议</span>
																	<img alt="正在加载..." src="<%=asset_path('yt/img/loader-vflff1Mjj.gif')%>">
																</div>
																<a style="display: none;" class="tag-suggest-add-all">全部添加</a>
															</div>
															<% if false %>
															<input type="hidden" value="2" name="presentation[still_id]" class="still-id">
															<input type="hidden" value="" name="presentation[still_id_custom_thumb_version]" class="still-id-custom-thumb-version">
															<% end %>
														</fieldset>
														<fieldset class="metadata-column">
															<label>
															<h4 class="category-header">老师姓名</h4>
															<span class="yt-uix-form-input-select presentation_teacher_span">
																<span class="yt-uix-form-input-select-content">
																	<img class="yt-uix-form-input-select-arrow" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
																	<span class="yt-uix-form-input-select-value"><% if @courseware.teachers.present? and !@courseware.teachers[0].blank?  and @courseware.teachers[0] != "教师请求" %> <%= @courseware.teachers[0] %><% else %>请选择老师<% end %></span>
																</span>
																<% exist = false %>
															<select name="presentation[teacher]" class="yt-uix-form-input-select-element category-input presentation_teacher_select_dynamic">
																	<option <% if !@courseware.teachers.present? or @courseware.teachers[0].blank? %> selected="selected"<% end %>value="">请选择老师</option>
																	<% @teachers.each do |teacher| %>
																	<option <% if @courseware.teachers.present? and @courseware.teachers[0] == teacher %>selected="selected"<% exist = true%> <% end %> value="<%= teacher %>"><%= teacher %></option>
																	<% end %>
																	<% if !exist %>
																		<%= @courseware.teachers[0] %>
																	<% end %>
																	<option value="opt_psvr_add_more">其他</option>
															</select>
															</span>
															</label>
															<input type="text" class="yt-uix-form-input-text  presentation_other_teacher" name="presentation[other_teacher]"  placeholder="例: 郭懋正" value="" style="margin-top:6px;display: none">
															<h4 class="category-presentation_sort1_hv">课件类型</h4>
															<span class="yt-uix-form-input-select ">
																<span class="yt-uix-form-input-select-content">
																	<img class="yt-uix-form-input-select-arrow" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
																	<span class="yt-uix-form-input-select-value"><%= Courseware::SORT1STR[@courseware.sort1] %></span>
																</span>
															<select name="presentation[sort1]" class="yt-uix-form-input-select-element category-input">
												        <% Courseware::SORT1STR.each do |k,v| %>
												        <option <% if k== @courseware.sort1 %> selected="selected" <% end %> value="<%= k %>"><%= v %></option>
												        <% end %>
															</select>
															</span>
													
															<h4 class="privacy-header">
															隐私设置 <span class="yt-uix-clickcard">
															<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" tabindex="0" role="button" class="yt-help-icon yt-uix-clickcard-target">
															<span class="yt-uix-clickcard-content">
															<button class="yt-uix-clickcard-close"></button>
															<p>
																隐私设置关系到您与朋友、家人或公众分享课件的方式。 <% if false %><a href="//support.google.com/课件TV/bin/answer.py?answer=157177&amp;hl=zh-CN" target="_new">
																了解详情 </a><% end %>
															</p>
															</span>
															</span>
															</h4>
															<div class="metadata-privacy-field ">
																<span class="yt-uix-form-input-select privacy-select"><span class="yt-uix-form-input-select-content"><img class="yt-uix-form-input-select-arrow" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"><span class="yt-uix-form-input-select-value">
																	<%= Courseware::PRIVACY_TYPE[@courseware.privacy] %> </span></span>
																<select name="presentation[privacy]" class="yt-uix-form-input-select-element metadata-privacy-input">
													        <% Courseware::PRIVACY_EN.each do |k,v| %>
													        <option <% if v == Courseware::PRIVACY_TYPE[@courseware.privacy] %> selected="selected" <% end %> value="<%= k %>"><%= v %></option>
													        <% end %>
																	<option disabled="disabled" value="scheduled">
																	预定 </option>
																</select>
																</span>
																<div class="metadata-privacy-settings metadata-public-settings <%if Courseware::PRIVACY_TYPE[@courseware.privacy] != "公开" %>hid<% end %>">
																	<span class="metadata-privacy-option-desc">
																	任何人都可以搜索和阅读 </span>
																</div>
																<div class="metadata-privacy-settings metadata-unlisted-settings <%if Courseware::PRIVACY_TYPE[@courseware.privacy] != "不公开" %>hid<% end %>">
																	<span class="metadata-privacy-option-desc">
																	知道相关链接的人可以阅读 </span>
																</div>
																<div class="metadata-privacy-settings metadata-private-settings <%if Courseware::PRIVACY_TYPE[@courseware.privacy] != "私有" %>hid<% end %>">
																	<span class="metadata-privacy-option-desc">
																	只有您选择的用户才能阅读 </span>
																	<div class="sharebox">
																	</div>
																</div>
															</div>
															<div class="metadata-privacy-disabled hid">
																<p class="metadata-privacy-disabled-rental">
																	 此课件将成为私有内容，并会在获得租借批准后自动公开
																</p>
															</div>
															<div class="license-selection single-field">
																<h4 class="license-header">
																许可及所有权 </h4>
																<span class="yt-uix-form-input-select license-selection-select"><span class="yt-uix-form-input-select-content"><img class="yt-uix-form-input-select-arrow" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"><span class="yt-uix-form-input-select-value">
																	<%= Courseware::LICENSE_TYPE[@courseware.license] %> </span></span>
																<select name="presentation[reuse]" class="yt-uix-form-input-select-element license-input">
																	<% Courseware::LICENSE_EN.each do |k,v| %>
																	<option <% if Courseware::LICENSE_TYPE[@courseware.license] == v %> selected="selected"<% end %> value="<%= k %>"><%= v %></option>
																	<% end %>
																</select>
																</span>
															</div>
														</fieldset>
													</div>
													<div data-tab-id="monetization" class="metadata-tab hid">
														<span class="enable-monetization-field">
														<span class="yt-uix-form-input-checkbox-container ">
															<input type="checkbox" class="yt-uix-form-input-checkbox enable-monetization" value="enable" name="presentation[enable_monetization]" <% if @courseware.enable_monetization%> checked="checked" <% end %>>
															<span class="yt-uix-form-input-checkbox-element"></span>
														</span>
														通过我的课件获利 
													</span>
														<div class="monetization-disclaimer hid"> &nbsp;&nbsp;&nbsp;&nbsp;点击此处即确认我拥有此课件的全部资料及其发布、分享的权利，也就是说，我拥有利用此课件获利所必需的所有声音和视觉元素的足够的商业使用权。我了解，课件TV可能需要我提供商业使用权的证明资料和/或可能因为反复滥用此系统而停用我的获利功能或我的帐户。我了解需要提供的材料。【注】所填信息将会记录，暂时不会开始盈利，当您的课件正式开始盈利时，我们将立刻通知您。
															<div class="monetization-disclaimer-buttons">
																<button role="button" onclick=";return false;" class="monetization-disclaimer-cancel yt-uix-button yt-uix-button-default" type="button"><span class="yt-uix-button-content">取消 </span></button>
																<button role="button" onclick=";return false;" class="monetization-disclaimer-accept yt-uix-button yt-uix-button-primary" type="button"><span class="yt-uix-button-content">知道了 </span></button>
															</div>
														</div>
														<div class="monetization-settings <% if !@courseware.enable_monetization%> hid <% end %>">
															<label>
															<span class="yt-uix-form-input-radio-container checked">
																<input type="radio" value="ads" checked="checked" class="yt-uix-form-input-radio monetization-style-ads" name="presentation[monetization_style]">
																<span class="yt-uix-form-input-radio-element"></span></span>
															通过广告获利 </label>
															<div class="ypp-ads-settings">
																<div class="monetize-with-ads monetize-options-box">
																	<h4>广告格式</h4>
																	<div>
																		<label>
																		<span class="yt-uix-form-input-checkbox-container checked">
																			<input type="checkbox" <% if @courseware.enable_overlay_ads %> checked="checked" <% end %> class="yt-uix-form-input-checkbox ads-settings-enable-overlay-ads" value="yes" name="presentation[enable_overlay_ads]">
																			<span class="yt-uix-form-input-checkbox-element"></span>
																		</span>
																		课件内嵌重叠式广告 </label>
																		<span class="yt-uix-clickcard">
																		<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" tabindex="0" role="button" class="yt-help-icon yt-uix-clickcard-target">
																		<span class="yt-uix-clickcard-content">
																		<button class="yt-uix-clickcard-close"></button>
																		<img alt="?" src="<%=asset_path('yt/img/in-display-overlay-vfllJbecp.png')%>"><br>
																		<p>
																			课件内重叠式广告是显示在您课件下半部分的透明的重叠式广告。 <% if false %><a href="//support.google.com/课件TV/bin/answer.py?answer=94525&amp;hl=zh-CN" target="_new">
																				了解详情 </a><% end %>
																		</p>
																		</span>
																		</span>
																	</div>
																	<div>
																		<label>
																		<span class="yt-uix-form-input-checkbox-container checked">
																			<input type="checkbox" <% if @courseware.trueview_instream %> checked="checked" <% end %> class="yt-uix-form-input-checkbox ads-settings-trueview-instream" name="presentation[trueview_instream]">
																			<span class="yt-uix-form-input-checkbox-element"></span>
																		</span>
																		TrueView 插播广告 </label>
																		<span class="yt-uix-clickcard">
																		<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" tabindex="0" role="button" class="yt-help-icon yt-uix-clickcard-target">
																		<span class="yt-uix-clickcard-content">
																		<button class="yt-uix-clickcard-close"></button>
																		<img alt="?" src="<%=asset_path('yt/img/in-stream-trueview-vflyOPLHS.png')%>"><br>
																		<p>
																			TrueView 插播广告由一系列格式组成，允许观众选择并控制显示哪些广告客户讯息及其显示的时间。 <% if false %><a href="//support.google.com/课件TV/bin/answer.py?answer=1205675&amp;hl=zh-CN" target="_new">
																			了解详情 </a><% end %>
																		</p>
																		</span>
																		</span>
																	</div>
																	<div>
																		<label>
																		<span class="yt-uix-form-input-checkbox-container ">
																			<input type="checkbox" class="yt-uix-form-input-checkbox ads-settings-paid-product" name="presentation[paid_product]" value="yes" <% if @courseware.paid_product %> checked="checked" <% end %>>
																			<span class="yt-uix-form-input-checkbox-element"></span>
																		</span>
																		<i>此课件中包含一个付费产品展示位置</i>
																		</label>
																		<span class="yt-uix-clickcard">
																		<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" tabindex="0" role="button" class="yt-help-icon yt-uix-clickcard-target">
																		<span class="yt-uix-clickcard-content">
																		<button class="yt-uix-clickcard-close"></button>
																		<p>
																			合作伙伴可以在自己的内容中加入付费产品展示位置。所有产品展示位置都需要符合我们的广告政策。 <% if false %><a href="//support.google.com/课件TV/bin/answer.py?answer=154235&amp;hl=zh-CN" target="_new">
																			了解详情 </a><% end %>
																		</p>
																		</span>
																		</span>
																	</div>
																	<div class="default-ads-info">
																		 默认情况下显示展示广告。
																	</div>
																	<span class="yt-uix-clickcard">
																	<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" tabindex="0" role="button" class="yt-help-icon yt-uix-clickcard-target">
																	<span class="yt-uix-clickcard-content">
																	<button class="yt-uix-clickcard-close"></button>
																	<img alt="?" src="<%=asset_path('yt/img/in-display-vflqN9OMb.png')%>"><br>
																	<p>
																		展示广告（横幅）可以在网站上的任意区域（首页除外）投放。这些广告显示在精选课件右侧和推荐课件列表的上方，大小为 300x250。 <%if false %><a href="//support.google.com/课件TV/bin/answer.py?answer=188038&amp;hl=zh-CN" target="_new">
																		了解详情 </a><% end %>
																	</p>
																	</span>
																	</span>
																</div>
																<div style="clear:both;">
																</div>
															</div>
															<hr class="metadata-separator-line">
															<div class="metadata-syndication-settings ">
																<h4 class=" syndication-header">整合</h4>
																<label class="single-option metadata-syndication-label">
																<span class="yt-uix-form-input-radio-container checked">
																	<input type="radio" value="yes" <% if @courseware.allow_syndication %> checked="checked" <% end %> class="yt-uix-form-input-radio" name="presentation[allow_syndication]">
																	<span class="yt-uix-form-input-radio-element"></span></span>
																所有平台 </label>
																<span class="metadata-syndication-option-desc">
																<ul>
																	<li>使此课件可在所有平台上阅读</li>
																</ul>
																</span>
																<label class="single-option metadata-syndication-label">
																<span class="yt-uix-form-input-radio-container ">
																	<input type="radio" <% if !@courseware.allow_syndication %> checked="checked" <% end %> value="no" class="yt-uix-form-input-radio" name="presentation[allow_syndication]">
																	<span class="yt-uix-form-input-radio-element"></span>
																</span>
																获利平台 </label>
																<span class="metadata-syndication-option-desc">
																使此课件仅可在获利平台上阅读 <span class="yt-uix-clickcard">
																<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" tabindex="0" role="button" class="yt-help-icon yt-uix-clickcard-target">
																<span class="yt-uix-clickcard-content">
																<button class="yt-uix-clickcard-close"></button>
																<p>
																	获利平台是指我们用于投放等效课件插播广告的平台，例如 课件TV Android 应用。 <% if false %><a href="//support.google.com/课件TV/bin/answer.py?answer=2453875&amp;hl=zh-CN" target="_new">
																	了解详情 </a><% end %>
																</p>
																</span>
																</span>
																</span>
															</div>
														</div>
													</div>
													<div data-tab-id="advanced-settings" class="metadata-tab hid">
														<div class="metadata-column-half">
															<h4 class="comments-options-header">评论和回复</h4>
															<p class="advanced-tab-option">
																<label>
																<span class="yt-uix-form-input-checkbox-container checked">
																	<input type="checkbox" <% if @courseware.allow_comments %>checked="checked"<% end %> class="yt-uix-form-input-checkbox video-settings-allow-comments" name="presentation[allow_comments]" value="yes">
																	<span class="yt-uix-form-input-checkbox-element"></span>
																</span>
																允许评论 </label>
																<span class="yt-uix-form-input-select inline-select video-settings-allow-comments-detail "><span class="yt-uix-form-input-select-content"><img class="yt-uix-form-input-select-arrow" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"><span class="yt-uix-form-input-select-value">
																	<%= Courseware::ALLOW_CN[@courseware.allow_comments_detail] %> </span></span>
																<select name="presentation[allow_comments_detail]" class="yt-uix-form-input-select-element ">
																	<% Courseware::ALLOW_DETAL_EN.each do |k,v| %>
																	<option <% if Courseware::ALLOW_CN[@courseware.allow_comments_detail] == v %>selected="selected"<% end %> value="<%= k %>"><%= v %></option>
																	<% end %>
																</select>
																</span>
															</p>
															<p class="advanced-tab-option">
																<label>
																<span class="yt-uix-form-input-checkbox-container checked">
																	<input type="checkbox" <% if @courseware.allow_comment_ratings %>checked="checked"<% end %> class="yt-uix-form-input-checkbox video-settings-allow-comment-ratings" name="presentation[allow_comment_ratings]" value="yes">
																	<span class="yt-uix-form-input-checkbox-element"></span>
																</span>
																用户可对评论投票 </label>
															</p>
															<p class="advanced-tab-option">
																<label>
																<span class="yt-uix-form-input-checkbox-container checked">
																	<input type="checkbox"<% if @courseware.allow_ratings %> checked="checked"<% end %> class="yt-uix-form-input-checkbox video-settings-allow-ratings" name="presentation[allow_ratings]">
																	<span class="yt-uix-form-input-checkbox-element"></span>
																</span>
																用户可以查看此课件的评分 </label>
															</p>
															<p class="advanced-tab-option">
																<label>
																<span class="yt-uix-form-input-checkbox-container checked">
																	<input type="checkbox" <% if @courseware.allow_responses %>checked="checked"<% end %> class="yt-uix-form-input-checkbox video-settings-allow-responses" name="presentation[allow_responses]">
																	<span class="yt-uix-form-input-checkbox-element"></span>
																</span>
																是否允许用课件评论： </label>
																<span class="yt-uix-form-input-select inline-select video-settings-allow-responses-detail"><span class="yt-uix-form-input-select-content"><img class="yt-uix-form-input-select-arrow" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"><span class="yt-uix-form-input-select-value">
																<%= Courseware::ALLOW_CN[@courseware.allow_responses_detail] %> </span></span>
																<select name="presentation[allow_responses_detail]" class="yt-uix-form-input-select-element ">
																	<% Courseware::ALLOW_DETAL_EN.each do |k,v| %>
																	<option <% if Courseware::ALLOW_CN[@courseware.allow_responses_detail] == v %>selected="selected"<%end %> value="<%= k %>"><%= v %></option>
																	<% end %>
																</select>
																</span>
															</p>
															<div>
																<h4 class=" syndication-header">整合</h4>
																<label class="single-option metadata-syndication-label ">
																所有平台 </label>
															</div>
															<p class="advanced-tab-option">
																<label>
																</label>
															</p>
															<h4 class="embedding-header">分发选项</h4>
															<div class="">
																<label>
																<span class="yt-uix-form-input-checkbox-container checked">
																	<input type="checkbox"<% if @courseware.allow_embedding %> checked="checked"<% end %> class="yt-uix-form-input-checkbox video-settings-allow-embedding" name="presentation[allow_embedding]">
																	<span class="yt-uix-form-input-checkbox-element"></span>
																</span>
																允许嵌入 </label>
																<span class="yt-uix-clickcard">
																<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" tabindex="0" role="button" class="yt-help-icon yt-uix-clickcard-target">
																<span class="yt-uix-clickcard-content">
																<button class="yt-uix-clickcard-close"></button>
																<p>
																	允许他人在其网站中嵌入您的课件。 <%if false %><a href="//support.google.com/课件TV/bin/answer.py?answer=171780&amp;hl=zh-CN" target="_new">
																	了解详情 </a><% end %>
																</p>
																</span>
																</span>
															</div>
															<label>
															<span class="yt-uix-form-input-checkbox-container checked">
																<input type="checkbox" <% if @courseware.creator_share_feeds %> checked="checked" <% end %> class="yt-uix-form-input-checkbox sharing-checkbox-feeds" name="presentation[creator_share_feeds]">
																<span class="yt-uix-form-input-checkbox-element"></span>
															</span>
															通知粉丝 </label>
															<span class="yt-uix-clickcard">
															<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" tabindex="0" role="button" class="yt-help-icon yt-uix-clickcard-target">
															<span class="yt-uix-clickcard-content">
															<button class="yt-uix-clickcard-close"></button>
															<p>
																您的粉丝将会从主页和邮箱看到您上传了该课件。 <% if false %><a href="//support.google.com/课件TV/bin/static.py?page=guide.cs&amp;guide=2467581&amp;topic=2565764&amp;hl=zh-CN" target="_new">
																了解详情 </a><% end %>
															</p>
															</span>
															</span>
														</div>
														<div class="metadata-column-half">
															 <% if false %><label>
															<h4 class="location-header">课件位置</h4>
															<div class="location-controls">
																<span class=" yt-uix-form-input-container ">
																	<input value="" class="yt-uix-form-input-text location-input"></span>
																<button role="button" onclick=";return false;" class="map-button-search yt-uix-button yt-uix-button-default" type="button"><span class="yt-uix-button-content">搜索 </span></button>
																<input type="hidden" value="" class="location-latitude" name="location_latitude">
																<input type="hidden" value="" class="location-longitude" name="location_longitude">
																<input type="hidden" value="" class="location-altitude" name="location_altitude">
															</div>
															</label>
															<% end %>
															<label>
															<h4 class="recording-date-header">制作日期</h4>
															<span class="recorded-date-formatted yt-uix-form-input-container ">
																<% 
																if !@courseware.version_date[@courseware.version.to_s].blank?
																	today = @courseware.version_date[@courseware.version.to_s]
																elsif @courseware.finished_at
																	today = @courseware.finished_at.strftime("%Y年%m月%d日")
																else
																	today = @courseware.created_at.strftime("%Y年%m月%d日")
																end
																	%>
																<input class="yt-uix-form-input-text presentation_version_date recorded-date-formatted-input datepicker publish-date hasDatepicker" value="<%= today %>" name="presentation[version_date]"></span>
															</label>
															<button role="button" onclick=";return false;" class="recorded-date-today-button yt-uix-button yt-uix-button-default" type="button"><span class="yt-uix-button-content">今天 </span></button>
														<% if false %>
															<h4 class="threed-header">3D 课件</h4>
															<div>
																<span class="yt-uix-form-input-select "><span class="yt-uix-form-input-select-content"><img class="yt-uix-form-input-select-arrow" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"><span class="yt-uix-form-input-select-value">
																无偏好设置 </span></span>
																<select name="presentation[threed_type]" class="yt-uix-form-input-select-element threed_type">
																	<option selected="" value="default">
																	无偏好设置 </option>
																	<option value="off">
																	停用此课件的 3D 效果 </option>
																	<option value="converted">
																	请制作该课件的 3D 版本 </option>
																	<option value="layout">
																	此课件已是 3D 课件 </option>
																</select>
																</span>
																<span class="yt-uix-form-input-select threed-layout hid"><span class="yt-uix-form-input-select-content"><img class="yt-uix-form-input-select-arrow" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"><span class="yt-uix-form-input-select-value">并排布局：左课件在左</span></span>
																<select name="presentation[threed_layout]" class="yt-uix-form-input-select-element ">
																	<option value="1">并排布局：左课件在左</option>
																	<option value="2">并排布局：右课件在左</option>
																	<option value="3">上下布局：左课件在上</option>
																	<option value="4">上下布局：右课件在上</option>
																</select>
																</span>
															</div>
														<% end %>
														</div>
														<div class="clearfix">
														</div>
													</div>
													<% end %>
											</div>
										</div>
									</div>
									<div class="metadata-actions">
										<div class="save-cancel-buttons">
											<button role="button" onclick=";window.location.href=this.getAttribute('href');return false;" class=" yt-uix-button yt-uix-button-default" type="button" href="/coursewares/<%= @courseware.id %>"><span class="yt-uix-button-content">取消 </span></button>
											<button role="button" onclick=";return false;" class="save-changes-button yt-uix-button yt-uix-button-default" type="button" disabled=""><span class="yt-uix-button-content">已保存</span></button>
										</div>
										<span class="save-error-message">已保存所有更改。</span>
										<span class="metadata-left-footer">
										</span>
									</div>
								</div>
							</div>
						</div>
</div>
</div>						
</div>			


<script type="text/javascript" charset="utf-8">
	<% content_for :butt2 do %>
	$('.psvr_f').val(<%= Ktv::Utils.safely('undefined'){ret=@c.fid if @c;if ret.present?;ret;;end} %>);
	$('.psvr_g').val(<%= Ktv::Utils.safely('undefined'){ret=Department.get_fid(@c.department)if @c ;if ret.present?;ret;end}%>);
  $('.yt-uix-tooltip').tipsy({gravity: $.fn.tipsy.autoNS,opacity: 1});
	<% end %>
</script>
<%= render file:'/application/footers/_sdk_footer' %>
