<div class="__sdk">
  <div id="content">
    
  <%= form_for @courseware,:url => "/presentations", :html => { :method => :post,'data-s3' =>@config.to_json,  :class => 'new_presentation', :id=>'upload_presentation', :autocomplete=>"off" } do |f| %>
    <input id="presentation_uptime" name="presentation[uptime]" type="hidden" value="<%=@uptime%>" />
    <section id="presentation" class="supplimental">
      <div class="wrapper">
        <div class="primary_info" id="biaozhu_cw" style="display:none">
          <h1>标注课件信息</h1>

  <p><label for="presentation_title">课件标题</label> <input class="text" id="presentation_title" name="presentation[title]" size="30" type="text" placeholder="例如：[北京大学]郭懋正:2011阅读与练习第1次"  value="<%= cookies[:presentation_pretitle] %><%= ': ' if cookies[:presentation_pretitle].present? %>"/></p>
  <p><label for="presentation_topic">领域</label> <input class="text" id="presentation_topic" name="presentation[topic]" size="30" type="text" placeholder="例如：数学分析" value="<%= cookies[:presentation_topic] %>"/></p>

  <p class="submit">
      <button class="primary">保存课件信息</button>
      <span class="button primary cancel">请先完成文件上传</span>
  </p>


        </div>
        <div class="secondary_info">

<div id="upload">
  <%= yield :upload_armpit%>
  <h1>请复制粘贴视频页面地址 <span style="font-size:14px">(目前支持来源: 网易公开课)</span></h1>
  <div class="steps">
    <div class="presentation_wrapper">
      <p><input class="text" id="presentation_title" name="presentation[title]" size="30" type="text" placeholder="例如：http://v.163.com/special/opencourse/algorithms.html" /></p>
      <h1>发布进度</h1>
      <div class="step">
        <div id="upload_progress" class="progress_bar inactive">
          <div class="progress_title">上传进度</div>
          <div class="progress_meter"></div>
        </div>
      </div>
      <div class="step">
        <div id="process_progress" class="progress_bar inactive">
          <div class="progress_title">转码进度</div>
          <div class="progress_meter"></div>
        </div>
      </div>
    </div>
  </div><!-- /steps -->
  <p id="ok_to_leave" style="display:none">此时您可安全地离开本页面，我们将在后台自动处理您的课件。</p>
</div>
        </div>
      </div>
    </section>
  <% end %>
  
  
</div>
</div>

<%= render file:'/application/footers/_sdk_footer' %>
