<%
  if @courseware.course_fid.present?
    nn=Course.get_name(@courseware.course_fid)
  end
%>
      
<% content_for :armpit do %>
<%= stylesheet_link_tag 'ktv/__ytb' %>
<% end %>


<% content_for :butt2 do %>
KTV.data = {
courseware_id: '<%=@courseware.id%>'
}
<% end %>
<style type="text/css" media="screen">
  span.yasuobao{
    color:#999;
    font-size:18px;
    margin:5px 0;
    font-family:Helvetica,arial,freesans,clean,sans-serif;
  }

  #slides_container.busy{
    background:url("https://a248.e.akamai.net/assets.github.com/images/spinners/octocat-spinner-128.gif") no-repeat scroll center 200px transparent;
  }
   #stickies{
   position:absolute;
   width:228px;
   top:0;
   margin-left:957px;
   }
   .sticky{
   padding:18px 8px;
   border-left: 1px solid #BCA902;
   border-right: 1px solid #BCA902;
   border-bottom: 1px solid #BCA902;
   background: #FEF49C url(<%= asset_path 'stickies_top.png' %>) repeat-x;
   width:226px;
   max-height:1000px;
   line-height:20px;
   -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0), inset 0 0 0 rgba(0, 0, 0, 0.9);
   -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0), inset 0 0 0 rgba(0, 0, 0, 0.9);
   box-shadow: 0 1px 0px rgba(0, 0, 0, 0), inset 0 0 0 rgba(0, 0, 0, 0.9);
   border-top:none;
   }
   .new_sticky{
   height:208px;
   padding-bottom:37px;
   }
   .new_sticky_btn{
   }
   .n_share {
   }       
   #shared_lb {
   declaration:none;
   display: block;
   float: left;
   margin-left: 5px;
   margin-right:10px;
   margin-top:4px;
   /*      background-image: url(<%= asset_path 'task-x.png' %>); */
   }
   #shared_lb.share-private {
   /*        background-image: url(<%= asset_path 'task-x.png' %>);*/
   }
   #shared_lb.share-public{
   /*        background-image: url(<%= asset_path 'task-apostrophe.png' %>); */
   }
   #shared_lb.share-followers {
   /*        background-image: url(<%= asset_path 'task-dash.png' %>); */
   }
</style>

<script type="text/javascript" charset="utf-8">
   <% content_for :butt2 do %>
   $("textarea.sticky").autosize('autosizejs',10);
   $('#new_sticky_cancel').off().on('click',function(){
     $('#new_note').hide();
     window.frames[0].eval("window.biji_group.setOpacity(0);");
     window.frames[0].eval("$(window.biji_canvas).css('background','rgba(0,0,0,0)')");
     window.frames[0].eval("$('.overnav').show()");
     window.frames[0].eval("for(i=0;i<biji_already.length;++i){window.biji_layer.add(biji_already[i]);}");
     window.frames[0].eval("window.biji_stage.draw();");
     return false;
   });
   $('#new_note').bind('ajax:complete',function(jqXHR, textStatus){
     if(200==textStatus.status){
       if ('Succeed'==textStatus.responseText) {
         time_now = (new Date).getTime();
         KTV.sdk_flashes_clear();
         $('#new_note').after(
           $('<textarea></textarea>').
             attr('readonly','readonly').
             addClass('sticky').
             attr('id','note_'+time_now.toString()).
             val($('#note_body').val())
         );
         $('#new_sticky_cancel').trigger('click');
         real_val = $('#note_'+time_now.toString()).position().top + $('#note_'+time_now.toString()).height() / 2;
         real_x = $('#note_x').val();
         real_y = $('#note_y').val();
         real_width = $('#note_width').val();
         real_height = $('#note_height').val();
         window.frames[0].eval("biji_addrectangle("+real_x+","+real_y+","+real_width+","+real_height+","+real_val+",-1);");
         $('#note_body').val('');
       }else{
         KTV.sdk_flashes_set('error',textStatus.responseText);
       }
     }else{
       KTV.sdk_flashes_set('error','网络通信失败');
     }
   });
   $('#shared_lb').live("click", function(e) {
       $(this).toggleShareMode();
       return false;
   }); 
   
   <% end %>
</script>
<div class="__own">
   <div class="wrapper">
      <div id="stickies" style="display:none">
         <%= form_for [@courseware,@note],:remote => true,:html=>{style:'display:none;width:225px'} do |f| %>
         <%= f.hidden_field :page %>
         <%= f.hidden_field :x %>
         <%= f.hidden_field :y %>
         <%= f.hidden_field :width %>
         <%= f.hidden_field :height %>
         <%= f.hidden_field :courseware_id %>
         <textarea class="sticky new_sticky" name="note[body]" id="note_body" onkeydown=""></textarea>
         <div class="wrapper222" style="position:relative;top:-38px">
            <div class="n_share">
               <%= f.hidden_field :shared %>
               <%= f.label :shared,'仅自己可见',:id => 'shared_lb'%>
            </div>
            <button id="new_sticky_cancel" class="new_sticky_btn" style="float:right;margin-right:2px"><span class="button primary cancel">取消</span></button>
            <button id="new_sticky_submit" class="new_sticky_btn" style="float:right;margin-right:5px"><span class="primary">保存笔记</span></button>
         </div>
         f
         <% end %>
         <% if '1'==params[:force_biji] %>
         <% @courseware.notes.where(:page => 0).each_with_index do |note,index| %>
         <!-- 这个查询怎么写？:user_id=>BSON::ObjectId(\"#{current_user.id}\")
            "page = #{0}AND ((shared = 1) OR (shared = 0 AND user_id = #{current_user.id}) OR (shared = 2 AND (user_id in #{current_user.followers})))" -->
         <textarea class="sticky" readonly="readonly" id="note_<%= note.id %>"><%= note.body %></textarea>
         <% content_for :butt3 do %>
         real_val = $('#note_<%= note.id %>').position().top + $('#note_<%= note.id %>').height() / 2;
         window.frames[0].eval("biji_addrectangle(<%= note.x %>,<%= note.y %>,<%= note.width %>,<%= note.height %>,"+real_val+",<%=index%>);");
         <% end %>
         <% end %>
         <% end %>
      </div>
   </div>
</div>

<script>
  window.parent_gotoSingle = function(){
    if(jQuery('#presentation .main').width()==708){return}
    jQuery('#presentation .main').css({width:708});
    jQuery('#presentation iframe').each(function(index){
      jQuery(this).animate({width:window[this.id].width(),height:window[this.id].height()},222);
      this.contentWindow.Slide.gotoSingle(true);
      this.contentWindow.Slide.setSlideSize();
    });
    jQuery('#presentation .extras').show();
  }
  window.parent_gotoDouble = function(){
    if(jQuery('#presentation .main').width()==960){return}
    jQuery('#presentation .extras').hide();
    jQuery('#presentation .main').css({width:960});
    jQuery('#presentation iframe').each(function(index){
      jQuery(this).animate({width:window[this.id].width(),height:window[this.id].height()},222);
      this.contentWindow.Slide.gotoDouble(true);
      this.contentWindow.Slide.setSlideSize();
    });
  }
</script>


<div class="__sdk">
   <%# todo: 710px ..ratio %>
   <section id="presentation" class="feature">
      <div class="wrapper">
         <% if @courseware.thin? %>
         <div class="extras" style="float:right;margin-left:12px">
            <%= render :partial => 'presenter', :locals => {user:@courseware.user} if @courseware.user %>
         </div>
         <% end %>
         <h1 style="<%='margin-bottom:12px' if @courseware.yasuobao?%>">
            <%if @cws%>第<%=@courseware.courseware_series_no%>集. <%end%>
            <%= @courseware.title %>
            <%if @cws%>
            <span style="font-size:16px;text-align:center">
            (
            <%= link_to('上一集',@cws.coursewares.where('courseware_series_no = ?', @courseware.courseware_series_no - 1).first.path)+' |' if @courseware.courseware_series_no - 1 > 0 %>
            <%= link_to('下一集',@cws.coursewares.where('courseware_series_no = ?', @courseware.courseware_series_no + 1).first.path)+' |' if @courseware.courseware_series_no + 1 <= @cws.coursewares_count %>
            <%=link_to "共#{@cws.coursewares_count}集",'#cws_list'%>
            )
            </span>
            <%end%>
            <%unless 0==@courseware.status%>
            <span style="font-size:16px;text-align:center;color:red">
              (<%= Courseware::STATE_TEXT[Courseware::STATE_SYM[@courseware.status]] %>...)
            </span>
            <%end%>
            <% if owner? @courseware %>
            <a id="edit_presentation" class="grey" style="display:inline-block;" href="<%= edit_courseware_path(@courseware) %>">编辑课件</a>
            <% end %>
            <% if @courseware.yasuobao? %>
            <br>
            <span style="font-size:16px;text-align:center">
              <span id="yasuobao_root">(压缩包)</span> <span class="yasuobao">/</span> <span id="yasuobao_content"></span>
              <script>
                window.parent_cmd = function(id,text){
                  if(window.psvr_altid){
                    jQuery('#cwiframe_'+window.psvr_altid).remove();
                    script = document.createElement( 'script' );
                    script.type = 'text/javascript';
                    script.id = 'alt_embed';
                    jQuery('#slides_container')[0].appendChild(script);
                  }
                  window.psvr_altid=id;
                  jQuery('#cwiframe_<%=@courseware.id%>').animate({'margin-left': -708}, 222, function(){
                    jQuery(this).hide();
                    jQuery('#yasuobao_content').html(text);
                    jQuery('#yasuobao_root').html('<a href="#" id="yasuobao_root_a">(压缩包)</a>');
                    jQuery('#yasuobao_root_a').bind('click',window.yasuobao_root);
                    jQuery('#slides_container').addClass('busy');
                    jQuery.getJSON('/coursewares/'+id,function(data){
                      jQuery('#alt_embed').attr('class',"speakerdeck-embed");
                      jQuery('#alt_embed').attr('data-course-slug','');
                      jQuery('#alt_embed').attr('data-courseware-slug',id);
                      jQuery('#alt_embed').attr('data-ratio',data['wh_ratio']);
                      jQuery('#alt_embed').attr('data-force-biji','');
                      jQuery('#alt_embed').attr('data-force-alt','1');
                      jQuery('#alt_embed').attr('async','async');
                      jQuery('#alt_embed').attr('src',"/assets/ktv/embed.js");
                    });
                  })
                };
                window.yasuobao_root = function(){
                  jQuery('#cwiframe_'+window.psvr_altid).animate({'margin-left':710},222,function(){
                    jQuery('#yasuobao_content').html('');
                    jQuery('#yasuobao_root').html('(压缩包)');
                    jQuery(this).hide();
                    jQuery(this).css('margin-left',0);
                    jQuery('#cwiframe_<%=@courseware.id%>').show();
                    jQuery('#cwiframe_<%=@courseware.id%>').animate({'margin-left': 0}, 222);
                  });
                }
              </script>
            </span>
            <% end %>
         </h1>
         <% if @courseware.thin? %>
         <div class="main" style="width:100%;margin-top:12px;">
            <div class="slide_frame busy" id="slides_container" style="overflow:hidden">
               <script async="async" class="speakerdeck-embed"<% if @courseware.version!=@courseware_real_version %> data-cw-revision="<%= @courseware.version %>"<% end %> data-course-slug="<%=@courseware.topic_id%>" data-courseware-slug="<%=@courseware.id%>" data-ratio="<%= @courseware.wh_ratio %>" data-force-biji="<%= params[:force_biji] %>" src="<%=asset_path 'ktv/embed.js'%>" type="text/javascript"></script>
            </div>
         </div>
         <div class="extras" style="float:right;margin-right:0px">
            <ul class="delimited share" style="margin-bottom:0;border-top:none">
               <li class="download" style="border-top:none">下载<a target="_blank" href="<%= download_courseware_path(@courseware)%>"><%=Courseware::SORTSTR[@courseware.sort]%>(<%=!@courseware.have_pw ? number_to_human_size(@courseware.down_pdf_size*1000,:precision=>1) : '需要密码' %>)</a></li>
            </ul>
         </div>
         <div class="extras" style="float:right;margin-right:40px">
            <ul class="delimited share" style="margin-bottom:0;border-top:none">
               <li class="dianjiliang" style="border-top:none">下载量 <a href="#watch-view-count"><%= number_with_delimiter @courseware.downloads_count %> 次</a></li>
            </ul>
         </div>
         <div class="extras" style="float:right;margin-right:18px;margin-right:40px">
            <ul class="delimited" style="margin-bottom:0;border-top:none">
               <li class="like" style="border-top:none">
                  <% unless current_user and @courseware.user_id==current_user.id%>
                  <% if thank_courseware_ed?(@courseware) %>
                  <a href="#fans" class="unlike purple" rel="nofollow">已喜欢</a>
                  <% else %>
                  <a href="javascript:void(0)" class="like grey psvr_login_required" rel="nofollow" id="weizuozhefasongganxie">我喜欢</a>
                  <% end %>
                  <% else %>
                  <a href="#fans" class="like grey">收到的喜欢</a>
                  <% end %>
                  <a href="#fans" class="likes"><span id="weizuozhefasongganxie2"><%= @courseware.thanked_count %></span> 喜欢</a>
               </li>
            </ul>
         </div>
         <div class="extras" style="float:right;margin-right:18px;margin-right:40px">
            <ul class="delimited" style="margin-bottom:0;border-top:none">
             <%if nn%>
               <li class="category" style="border-top:none">课程 <a href="/courses/<%= @courseware.course_fid %>" title="<%= nn %>" target="_parent"><%= nn %></a></li>
             <%else%>
               <li class="category" style="border-top:none">课程 <a href="/topics/<%= @courseware.topic_id %>"><%= @courseware.topic %></a></li>
             <%end%>
            </ul>
         </div>
         <% if @courseware.version_date[@courseware.version.to_s].present? %>
           <div class="extras" style="float:right;margin-right:0px">
              <ul class="delimited share" style="margin-bottom:0;border-top:none">
                <li class="dianjiliang" style="border-top:none">版本 <a href="#revisions"><%= @courseware.version_date[@courseware.version.to_s] %>版</a></li>
             </ul>
          </div>
         <% end %>
         <% else %>
         <div class="main">
            <div class="slide_frame busy" id="slides_container" style="overflow:hidden">
<!--重点！！！！！！！！！-->
               <% case @courseware.sort.to_sym %>
               <% when :ppt,:pptx,:doc,:docx,:pdf %>
               <script async="async" class="speakerdeck-embed"<% if @courseware.version!=@courseware_real_version %> data-cw-revision="<%= @courseware.version %>"<% end %> data-course-slug="<%=@courseware.topic_id%>" data-courseware-slug="<%=@courseware.id%>" data-ratio="<%= @courseware.wh_ratio %>" data-force-biji="<%= params[:force_biji] %>" src="<%=asset_path 'ktv/embed.js'%>" type="text/javascript"></script>
               <% when :zip,:rar,:'7z' %>
               <script async="async" class="speakerdeck-embed"<% if @courseware.version!=@courseware_real_version %> data-cw-revision="<%= @courseware.version %>"<% end %> data-course-slug="<%=@courseware.topic_id%>" data-courseware-slug="<%=@courseware.id%>" data-ratio="<%= @courseware.wh_ratio %>" data-force-biji="<%= params[:force_biji] %>" src="<%=asset_path 'ktv/embed.js'%>" type="text/javascript"></script>
               <script type="text/javascript" id="alt_embed"></script>

               <% when :webm %>
               <img src="/tmp1.png" />
               <img src="/tmp2.png" />
               <% when :xunlei %>
               <script type="text/javascript" charset="utf-8">
                  window.curUzreInfo = <%=raw Ktv::Xunlei.give_me_a_user.to_json %>;
               </script>
               <div class="player">
                  <div id="XL_CLOUD_VOD_PLAYER" from="xlpan_default" style="width:100%;background:#000;height:604px">
                     <img width="100%" src="http://vod.lixian.xunlei.com/img/player_startup.jpg" />
                     <a enable_openwindow="false" format="p" start="0" title="" filesize="" url="" cid="" enable_kkva="undefined" enable_setting="undefined" enable_filelist="undefined" enable_caption="undefined" enable_download="undefined" gcid="" share_url="<%= @courseware.path(:url => true) %>" autoplay="true" enable_panel="true" width="100%" href="<%= @courseware.xunlei_url %>">正在载入视频, 请稍等.</a>
                  </div>
                  <script type="text/javascript" charset="utf-8" src="<%= asset_path('s.player.js') %>"></script>
               </div>
               <% when :youku %>
               <embed src="http://player.youku.com/player.php/sid/XMTczNDg4NzY0/v.swf" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
               <% end %>
<!--重点over-->
            </div>
         </div>
         <div class="extras">
            <%= render :partial => 'presenter', :locals => {user:@courseware.user} if @courseware.user %>
            <ul class="delimited">
               <li class="like">
                  <% unless current_user and @courseware.user_id==current_user.id%>
                  <% if thank_courseware_ed?(@courseware) %>
                  <a href="#fans" class="unlike purple" rel="nofollow">已喜欢</a>
                  <% else %>
                  <a href="javascript:void(0)" class="like grey psvr_login_required" rel="nofollow" id="weizuozhefasongganxie">我喜欢</a>
                  <% end %>
                  <% else %>
                  <a href="#fans" class="like grey">收到的喜欢</a>
                  <% end %>
                  <a href="#fans" class="likes"><span id="weizuozhefasongganxie2"><%= @courseware.thanked_count %></span> 喜欢</a>
               </li>
             <%if nn%>
               <li class="category">课程 <a href="/courses/<%= @courseware.course_fid %>" title="<%= nn %>" target="_parent"><%= nn %></a></li>
             <%else%>
               <li class="category">课程 <a href="/topics/<%= @courseware.topic_id %>"><%= @courseware.topic %></a></li>
             <%end%>
               <% if @courseware.version_date[@courseware.version.to_s].present? %>
                <li class="dianjiliang">版本 <a href="#revisions"><%= @courseware.version_date[@courseware.version.to_s] %>版</a></li>
               <% end %>
               <li class="dianjiliang">下载量 <a href="#watch-view-count"><%= number_with_delimiter @courseware.downloads_count %> 次</a></li>
            </ul>
            <h1><%=image_tag('share.png',alt:'下载此课件')%></h1>
            <ul class="delimited share">
               <li class="download">下载<a target="_blank" href="<%= download_courseware_path(@courseware)%>"><%=Courseware::SORTSTR[@courseware.sort]%>(<%=!@courseware.have_pw ? number_to_human_size(@courseware.down_pdf_size*1000,:precision=>1) : '需要密码' %>)</a></li>
            </ul>
         </div>
      </div>
      <% end %>
   </section>
   <section id="tabs">
     <div class="wrapper">
       <div class="main">
         <ul>
           <li class="current"><a href="#fans">粉丝</a></li>
           <li><a class="likes" href="#revisions">修订历史(<%= @courseware_real_version+1 %>)</a></li>
         </ul>
       </div>
     </div>
   </section>
   <section class="supplimental">
     <div class="wrapper">
       <div class="main" style="">
         <div class="tab-content" id="fans" style="">
             
           <h1>喜欢这个课件的人 (<span id="weizuozhefasongganxie6"><%= @courseware.thanked_count %></span>)
             <% unless current_user and @courseware.user_id==current_user.id%>
             <% if thank_courseware_ed?(@courseware) %>
               <span style="" class="unlike" id="weizuozhefasongganxie4">
                 <a rel="nofollow" class="unlike button" href="#fans">✓ 我已表示喜欢!</a>
               </span>
             <% else %>
               <span style="" class="like" id="weizuozhefasongganxie3">
                 <a rel="nofollow" class="like button psvr_login_required" href="javascript:void(0)">喜欢这个课件?</a>
               </span>
             <% end %>
             <% end %>
           </h1>
           <div id="weizuozhefasongganxie5">
             <% @courseware.thanked_user_ids.reverse.each do |user_id| %>
             <div><a class="" href="/users/<%= User.get_slug(user_id) %>"><img src="<%= avatar_url_quick(user_id,:small47) %>" alt="<%= User.get_name(user_id) %>"></a></div>
             <% end %>
           </div>
           
         </div>
         <div class="tab-content" id="revisions" style="">
           <h1>课件修订历史</h1>
           <div class="presentations">
             <% @courseware_real_version.downto(0).each_with_index do |version,index| %>
             <% slide_count = @courseware.slides_counts[version.to_s] || 1 %>
             <% sz = [slide_count-1,50].min %>
             <div data-slide-count="<%= sz+1 %>" data-id="<%= @courseware.id %>" class="presentation" style="<%= 'margin-right:0px' if 2==index % 3 %>">
                 <a href="<%= courseware_path @courseware %>/revisions/<%= version+1 %>" class="slide_preview scrub setup">
                <% (sz).downto(1).each do |i| %>
                <img style="display: none;" data-slide="<%= i %>" class="timeline" alt="第<%= i %>页" src="<%= asset_url("cw/#{@courseware.ktvid}/#{@courseware.revision(version)}thumb_slide_#{i}.jpg") %>">
                <% end %>
                <img src="<%= asset_url("cw/#{@courseware.ktvid}/#{@courseware.revision(version)}thumb_slide_0.jpg") %>" alt="Thumb_slide_0" width="210" height="158">
                <div class="scrubber">
                <div style="width: 100%;" class="scrubbed">
                </div>
                </div>
                 </a>
                 <div class="preview_info">
                <h3><a href="<%= courseware_path @courseware %>/revisions/<%= version+1 %>">第<%= version+1 %>版<%= '(最新版)' if version==@courseware_real_version %> <%= ": #{@courseware.version_date[version.to_s]}" if @courseware.version_date[version.to_s] %></a></h3>
                <p class="date">
                  <%= l(@courseware.created_at, :format => :long) %>, <a href="/users/<%= User.get_slug @courseware.user_id %>"><%= User.get_name @courseware.user_id %></a>
                </p>
               </div>
             </div>
             <% end %>
            </div>
         </div>
       </div>
     </div>
   </section>
</div>


<div class="__ytb">
   <div id="watch-main-container" style="padding-top:20px">
      <div id="watch-main">
         <div id="watch-panel">
            <div id="flash10-promo-div" class="yt-alert yt-alert-default yt-alert-warn hid ">
               <div class="yt-alert-icon">
                  <img alt="Alert icon" class="icon master-sprite" src="<%= asset_path 'yt/wfw.gif' %>" />
               </div>
               <div class="yt-alert-buttons">  
                   <button role="button" data-close-parent-class="yt-alert" onclick=";return false;" class="close yt-uix-close yt-uix-button yt-uix-button-close" type="button"><span class="yt-uix-button-content">关闭</span></button>
               </div>
               <div role="alert" class="yt-alert-content">
                  <span class="yt-alert-vertical-trick"></span>
                  <div class="yt-alert-message">
                     评论提示
                  </div>
               </div>
            </div>
            
            <div id="watch-actions">
               <div id="watch-actions-right">
                  <span class="watch-view-count">
                  <strong><%= number_with_delimiter @courseware.views_count %></strong>
                  点击
                  </span>
                  <button onclick=";return false;" title="显示课件统计信息" type="button" id="watch-insight-button" class="yt-uix-tooltip yt-uix-tooltip-reverse yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" data-button-action="actions.stats" role="button">
                      <span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-watch-insight" src="<%= asset_path 'yt/wfw.gif' %>" alt="显示课件统计信息" /></span>
                  </button>
               </div>
               <span id="watch-like-unlike" class="yt-uix-button-group " data-button-toggle-group="optional">
                    
                      <button onclick=";return false;" title="顶一下" type="button" class="like button psvr_login_required start yt-uix-tooltip-reverse  yt-uix-button yt-uix-button-default yt-uix-tooltip <% if !current_user.nil? and @courseware.thanked_user_ids.include?(current_user.id) %> yt-uix-button-toggled <% end  %>" id="watch-like" data-button-toggle="true" data-button-action="actions.like" role="button">
                         <span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-watch-like" src="<%= asset_path 'yt/wfw.gif' %>" alt="顶一下" /></span>
                         <span class="yt-uix-button-content">顶 </span>
                      </button>

 
             
                    <button onclick=";return false;" title="踩一下" type="button" class="psvr_login_required end yt-uix-tooltip-reverse  yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty <% if  !current_user.nil? and @courseware.disliked_user_ids.include?(current_user.id) %> yt-uix-button-toggled <% end  %>" id="watch-unlike" data-button-toggle="true" data-button-action="actions.unlike" role="button">
                        <span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-watch-unlike" src="<%= asset_path 'yt/wfw.gif' %>" alt="踩一下"></span>
                    </button>
               </span>
               <button role="button" data-button-action="actions.addto" title="添加到收藏夹或系列" onclick=";return false;" class="psvr_login_required yt-uix-tooltip-reverse  yt-uix-button yt-uix-button-default yt-uix-tooltip" type="button" data-tooltip-text="添加到收藏夹或系列">
                   <span class="yt-uix-button-content"><span class="addto-label">添加到</span></span>
                </button>
                <button onclick=";return false;" title="分享或嵌入此课件" type="button" class="psvr_login_required yt-uix-tooltip-reverse yt-uix-button yt-uix-button-default yt-uix-tooltip" id="watch-share" data-button-action="actions.share" role="button">
                    <span class="yt-uix-button-content">分享 </span>
                </button>
                <button onclick=";return false;" title="举报不当内容" type="button" class="yt-uix-tooltip-reverse psvr_login_required yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" id="watch-flag" data-button-action="actions.flag" role="button">
                    <span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-watch-flag" src="<%= asset_path 'yt/wfw.gif' %>" alt="举报不当内容" /></span>
                </button>
            </div>
            
            <div class="hid" id="watch-actions-area-container">
                <div class="yt-rounded" id="watch-actions-area">
                   <div class="watch-actions-panel hid" id="watch-actions-loading" style="display: none;">
                      正在加载...
                   </div>
                   <div class="watch-actions-panel hid" id="watch-actions-error" style="display: none;">
                      <div class="yt-alert yt-alert-naked yt-alert-error  ">
                         <div class="yt-alert-icon">
                            <img alt="提醒图标" class="icon master-sprite" src="<%= asset_path 'yt/wfw.gif' %>" />
                         </div>
                         <div id="watch-error-string" role="alert" class="yt-alert-content"></div>
                      </div>
                   </div>
                   <div class="watch-actions-panel hid" id="watch-actions-addto" style="display: none;"></div>
                   <div class="watch-actions-panel hid" id="watch-actions-share" style="display: none;">
                      <div id="watch-actions-share-loading">
                         正在加载...
                      </div>
                      <div class="hid" id="watch-actions-share-panel"></div>
                   </div>
                   <div class="watch-actions-panel hid" id="watch-actions-ajax" style="display: none;"></div>
                   <div id='closehide' class="close">
                      <img class="close-button" src="<%= asset_path 'yt/wfw.gif' %>" />
                   </div>
                </div>
            </div>
            <div id="watch-info">
               <div class="yt-uix-expander  yt-uix-expander-collapsed" id="watch-description">
                  <div id="watch-description-clip">
                     <p id="watch-uploader-info">
                        <a dir="ltr" rel="author" class="yt-uix-sessionlink yt-user-name author" href="/users/<%= @courseware.user_id %>"><%= User.get_name @courseware.user_id %></a> 发布于 <span class="watch-video-date" id="eow-date"><%= timeago @courseware.created_at  %></span>
                     </p>
                     <div id="watch-description-text">
                        <p id="eow-description">课件描述：<%=Sanitize.clean((@courseware.desc.nil? ? '无' : @courseware.desc).gsub(/\n/, '<br />'), Sanitize::Config::BASIC).html_safe %></p>
                     </div>
                     <div id="watch-description-extras">
                        <h4>
                           领域:
                        </h4>
                        <p id="eow-category"><a href="/music"><%= link_to "/topics/#{Topic.get_name @courseware.topic_id}", @courseware.topic %></a></p>
                        <h4>许可:</h4>
                        <p id="eow-reuse">
                           标准课件TV许可
                        </p>
                     </div>
                  </div>
                 <% if @courseware.disliked_count+@courseware.thanked_count != 0 %>
                  <ul id="watch-description-extra-info">
                      <li>
                          <div class="video-extras-sparkbars">
                           <div style="width: <%=@courseware.thanked_count*1.0/((@courseware.disliked_count+@courseware.thanked_count)*1.0)*100%>%" class="video-extras-sparkbar-likes"></div>   
                           <div style="width: <%=@courseware.disliked_count*1.0/((@courseware.disliked_count+@courseware.thanked_count)*1.0)*100%>%" class="video-extras-sparkbar-dislikes"></div>
                          </div>
                        <span class="video-extras-likes-dislikes">
                          <span class="likes"><%= @courseware.thanked_count %></span> 人顶, <span class="dislikes"><%= @courseware.disliked_count %></span> 人踩
                        </span>
                    </li>
                  </ul>
                 <% else %>
                  <ul id="watch-description-extra-info">
                       <li>
                           <div class="video-extras-sparkbars"></div>
                         <span class="video-extras-likes-dislikes"></span>
                     </li>
                  </ul>
                 <% end %>
                  <div class="yt-horizontal-rule "><span class="first"></span><span class="second"></span><span class="third"></span></div>
                   <div id="watch-description-toggle" class="yt-uix-expander-head">
                     <div id="watch-description-expand" class="expand">
                       <button type="button" class="metadata-inline yt-uix-button yt-uix-button-text" onclick=";return false;"  role="button">
                           <span class="yt-uix-button-content">显示更多 <img src="<%= asset_path 'yt/wfw.gif' %>" alt="显示更多"></span>
                        </button>
                     </div>
                     <div id="watch-description-collapse" class="collapse">
                       <button type="button" class="metadata-inline yt-uix-button yt-uix-button-text" onclick=";return false;"  role="button">
                           <span class="yt-uix-button-content">隐藏部分 <img src="<%= asset_path 'yt/wfw.gif' %>" alt="隐藏部分"></span>
                       </button>
                     </div>
                   </div>
               </div>
            </div>
            <div id="watch-discussion">
               <div class="" data-type="highlights" id="comments-view">
                  <div class="comment-share-area yt-rounded hid" id="comment-share-area">
                     <div class="comment-share-content">
                        <h4>链接到此评论：</h4>
                        <div>
                           <input type="text" class="comment-share-url yt-uix-form-input-text" />
                        </div>
                        <div>
                           <span>分享到：</span>
                           <img action="yt.window.popup('http:\/\/www.facebook.com\/sharer.php?u=http%3A%2F%2Fwww.youtube.com%2Fcomment%3Flc%3D_COMMENT_ID_&amp;t=_COMMENT_TEXT_', {height:440, width:620, scrollbars:true});" class="icon-comment-share icon-comment-share-facebook" src="<%= asset_path 'yt/wfw.gif' %>" title="Facebook" alt="" />
                           <img action="yt.window.popup('http:\/\/twitter.com\/share?url=http%3A%2F%2Fwww.youtube.com%2Fcomment%3Flc%3D_COMMENT_ID_&amp;text=_COMMENT_TEXT_%3A&amp;via=youtube', {height:650, width:1024, scrollbars:true});" class="icon-comment-share icon-comment-share-twitter" src="<%= asset_path 'yt/wfw.gif' %>" title="Twitter" alt="" />
                           <img action="yt.window.popup('https:\/\/plus.google.com\/share?url=http%3A%2F%2Fwww.youtube.com%2Fcomment%3Flc%3D_COMMENT_ID_&amp;authuser=0&amp;source=yt', {height:620, width:620,<%= asset_path 'yt/wfw.gif' %> scrollbars:true});" class="icon-comment-share icon-comment-share-googleplus" src="<%= asset_path 'yt/wfw.gif' %>" title="Google+" alt="" />
                        </div>
                     </div>
                     <div data-action="close-share" class="close comment-action">
                        <img class="close-button" src="<%= asset_path 'yt/wfw.gif' %>" />
                     </div>
                  </div>
                  <!-- 上传者 热门 发表 评论列表  -->
                  <div class="comments-section">
                      <h4>上传者评论
                        (<strong>    <a dir="ltr" data-sessionlink="ei=CN6ej-OY67ICFY9ApAodpT-vgQ%3D%3D" class="yt-uix-sessionlink yt-user-name " href="/user/southwave5963">southwave5963</a>
                  </strong>)
                      </h4>
                        <ul class="comment-list">
                    <li data-score="26" data-id="DJMUUR7r3Qhk8-mduSIL8bBk6GszBKZhs1f4vzohUTY" data-author-id="-pF3PfnnldcTlTQsGM7jxg" data-tag="upload" class="comment yt-tile-default">

                      <div class="comment-body">


                    <div class="content-container">
                      <div class="content">

                            <div dir="ltr" class="comment-text">
                              <p>中島みゆきさん!! こんな凛とした女性は滅多にいない!!立ち姿姿勢,糊のきいた白<wbr></wbr>­ｶｯﾀｰｼｬﾂを裾をｼﾞｰﾝｽﾞの中にちゃんと入れただけの超<wbr></wbr>­ｼﾝﾌﾟﾙな服装がこれ程に合う人は皆無だ!!&#65279; ｼｬｲな拓郎に敬愛の優しい眼差し向ける姿に痺れると共に感動で<wbr></wbr>­涙が頬を伝います。飛び入り競演の最高動画です。</p>
                  <p>upされた御方に最大の敬意を表します。</p>

                            </div>

                          <p class="metadata">
                            <span class="author ">
                                  <a dir="ltr" data-sessionlink="ei=CN6ej-OY67ICFY9ApAodpT-vgQ%3D%3D" class="yt-uix-sessionlink yt-user-name " href="/user/kohisiyo">kohisiyo</a>

                            </span>
                            <span dir="ltr" class="time">
                              <span dir="ltr">5 个月前<span>
                            </span>
                              <span title="顶了 29 次，踩了 3 次" class="comments-rating-positive" dir="ltr">
                                26
                                <img src="<%= asset_path 'yt/wfw.gif' %>" class="comments-rating-thumbs-up">
                              </span>
                          </span></span></p>

                      </div>


                     <div class="comment-actions">
                              <span class="yt-uix-button-group"><button role="button" data-tooltip-show-delay="300" data-action="vote-up" title="顶" onclick=";return false;" class="start comment-action-vote-up comment-action yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="顶" src="<%= asset_path 'yt/wfw.gif' %>" class="yt-uix-button-icon yt-uix-button-icon-watch-comment-vote-up"><span class="yt-valign-trick"></span></span></button><button role="button" data-tooltip-show-delay="300" data-action="vote-down" title="踩" onclick=";return false;" class="end comment-action-vote-down comment-action yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="踩" src="<%= asset_path 'yt/wfw.gif' %>" class="yt-uix-button-icon yt-uix-button-icon-watch-comment-vote-down"><span class="yt-valign-trick"></span></span></button></span><span class="yt-uix-button-group"><button role="button" data-action="reply" onclick=";return false;" title='回复' class="start comment-action yt-uix-button yt-uix-tooltip yt-uix-button-default" type="button"><span class="yt-uix-button-content">回复 </span></button><button aria-activedescendant="" aria-haspopup="true" aria-expanded="false" aria-pressed="false" role="button" data-button-has-sibling-menu="true" onclick=";return false;" class="end flip yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button"><img alt="" src="<%= asset_path 'yt/wfw.gif' %>" class="yt-uix-button-arrow"><div style="display: none;" class=" yt-uix-button-menu yt-uix-button-menu-default"><ul><li data-action="share" class="comment-action"><span class="yt-uix-button-menu-item">分享</span></li><li data-action="remove" class="comment-action-remove comment-action"><span class="yt-uix-button-menu-item">删除</span></li><li data-action="flag" class="comment-action"><span class="yt-uix-button-menu-item">举报</span></li><li data-action="block" class="comment-action-block comment-action"><span class="yt-uix-button-menu-item">屏蔽该用户</span></li><li data-action="unblock" class="comment-action-unblock comment-action"><span class="yt-uix-button-menu-item">解除对用户的屏蔽</span></li></ul></div></button></span>  </div>

                    </div>

                      </div>
                    </li>
 
                      <li data-score="5" data-id="DJMUUR7r3Qg5i-g4LyuPC57kfHNp-W7w_DFTV-9h3QM" data-author-id="NGp2SFcqitlhne4YT6_mIA" data-tag="upload" class="comment yt-tile-default child">

                      <div class="comment-body">


                        <div class="content-container">
                      <div class="content">

                            <div dir="ltr" class="comment-text">
                              <p>コメントありがとう&#65279;</p>

                            </div>

                          <p class="metadata">
                            <span class="author ">
                                  <a dir="ltr" data-sessionlink="ei=CN6ej-OY67ICFY9ApAodpT-vgQ%3D%3D" class="yt-uix-sessionlink yt-user-name " href="/user/southwave5963">southwave5963</a>

                            </span>
                            <span dir="ltr" class="time">
                  对    <a dir="ltr" data-sessionlink="ei=CN6ej-OY67ICFY9ApAodpT-vgQ%3D%3D" class="yt-uix-sessionlink yt-user-name " href="/user/kohisiyo">kohisiyo</a>
                  的回复
                                <a data-action="show-parent" onclick="return false;" class="comment-action comment-action-showparent" href="#">(显示评论)</a>
                              <span dir="ltr">5 个月前<span>
                            </span>
                              <span title="顶了 5 次，踩了 0 次" class="comments-rating-positive" dir="ltr">
                                5
                                <img src="<%= asset_path 'yt/wfw.gif' %>" class="comments-rating-thumbs-up">
                              </span>
                          </span></span></p>

                          </div>


                          <div class="comment-actions">
                              <span class="yt-uix-button-group"><button role="button" data-tooltip-show-delay="300" data-action="vote-up" title="顶" onclick=";return false;" class="start comment-action-vote-up comment-action yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="顶" src="<%= asset_path 'yt/wfw.gif' %>" class="yt-uix-button-icon yt-uix-button-icon-watch-comment-vote-up"><span class="yt-valign-trick"></span></span></button><button role="button" data-tooltip-show-delay="300" data-action="vote-down" title="踩" onclick=";return false;" class="end comment-action-vote-down comment-action yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="踩" src="<%= asset_path 'yt/wfw.gif' %>" class="yt-uix-button-icon yt-uix-button-icon-watch-comment-vote-down"><span class="yt-valign-trick"></span></span></button></span><span class="yt-uix-button-group"><button role="button" data-action="reply" onclick=";return false;" class="start comment-action yt-uix-button yt-uix-button-default" type="button"><span class="yt-uix-button-content">回复 </span></button><button aria-activedescendant="" aria-haspopup="true" aria-expanded="false" aria-pressed="false" role="button" data-button-has-sibling-menu="true" onclick=";return false;" class="end flip yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button"><img alt="" src="<%= asset_path 'yt/wfw.gif' %>" class="yt-uix-button-arrow"><div style="display: none;" class=" yt-uix-button-menu yt-uix-button-menu-default"><ul><li data-action="share" class="comment-action"><span class="yt-uix-button-menu-item">分享</span></li><li data-action="remove" class="comment-action-remove comment-action"><span class="yt-uix-button-menu-item">删除</span></li><li data-action="flag" class="comment-action"><span class="yt-uix-button-menu-item">举报</span></li><li data-action="block" class="comment-action-block comment-action"><span class="yt-uix-button-menu-item">屏蔽该用户</span></li><li data-action="unblock" class="comment-action-unblock comment-action"><span class="yt-uix-button-menu-item">解除对用户的屏蔽</span></li></ul></div></button></span>  </div>

                        </div>

                      </div>
                    </li>

                    </ul>

                  </div>
                  <div class="comments-section">
                     <h4>热门评论</h4>
                     <ul class="comment-list">
                            <% if @hot_comments.count >0%>
                                  <% @hot_comments.each do |comment| %>
                                     <%= render :partial=>'cw_comment',:locals=>{comment:comment,data_score:3} %>
                                  <% end %>
                              <% end %>
                     </ul>
                  </div>
                  <div class="comments-section ">
                     <div id="comments-header-container">
                            <div id="comments-header">
                                  <a href="/all_comments?v=EDIhtPftU50" class="comments-section-see-all">
                      查看所有评论
                                  </a>
                                <h4>
                      所有评论
                                  <span class="comments-section-stat">(<%= @courseware.comments_count %>)</span>
                                </h4>
                            </div>
                      </div>
                     <div class="comments-post-container clearfix">
                       <%= render :partial=>'comment_new',:locals=>{comment:@comment} %>
                     </div>
                     <ul class="comment-list" id="the_comment-list">
                        <% if @comments.count > 0%>
                            <% @comments.each do |comment| %>
                                <%= render :partial=>'cw_comment',:locals=>{comment:comment,data_score:0} %>
                            <% end %>
                        <% end %>
                     </ul>
                  </div>
                  <div class="comments-section">
                         <% if @comments.total_pages > 1 %>
                          <div class="yt-uix-pager" style="float:right">
                              <a class="yt-uix-button yt-uix-sessionlink yt-uix-pager-page-num yt-uix-pager-button yt-uix-button-default <%= ' yt-uix-button-toggled' if 9==@per_page %>" title="每页显示9个评论" href="<%= request.path %>?page=1&per_page=9">9</a>
                              <a class="yt-uix-button yt-uix-sessionlink yt-uix-pager-page-num yt-uix-pager-button yt-uix-button-default <%= ' yt-uix-button-toggled' if 15==@per_page %>" title="每页显示15个评论" href="<%= request.path %>?page=1&per_page=15">15</a>
                              <a class="yt-uix-button yt-uix-sessionlink yt-uix-pager-page-num yt-uix-pager-button yt-uix-button-default<%= ' yt-uix-button-toggled' if 30==@per_page %>" title="每页显示30个评论" href="<%= request.path %>?page=1&per_page=30">30</a>
                              <a class="yt-uix-button yt-uix-sessionlink yt-uix-pager-page-num yt-uix-pager-button yt-uix-button-default<%= ' yt-uix-button-toggled' if 50==@per_page %>" title="每页显示50个评论" href="<%= request.path %>?page=1&per_page=50">50</a>
                              <span class="page-numbers desc">评论/页</span>
                          </div>
                          <%= will_paginate @comments, :renderer=> YTBLinkRenderer,:inner_window=>4,:previous_label => "« 上一页",:next_label => "下一页 »"%>
                          <% end %>
                  </div>
                  <ul>
                     <li id="parent-comment-loading" class="hid"> Loading comment...</li>
                  </ul>
                  <div class="hid" id="comments-loading">Loading...</div>
               </div>
            </div>
         </div>
         <div id="watch-sidebar">
             <div id="watch-context-container" class="watch-sidebar-section">
                <div class="watch-sidebar-body">
                   <div id="watch-context">
                      <h4 class="context-head">
                         <a class="context-link" href="/recommended?feature=context-vrec">
                         <img class="context-icon context-icon-guide-feed" src="<%= asset_path 'yt/wfw.gif' %>" alt="" />
                         <strong class="context-title" dir="ltr">来自 课件TV 的课件</strong>
                         </a>
                         <img src="<%= asset_path 'yt/wfw.gif' %>" class="context-seeall-icon" alt="" />
                      </h4>
                      <div class="yt-horizontal-rule "><span class="first"></span><span class="second"></span><span class="third"></span></div>
                      <div id="watch-context-body" class="context-body">
                         <ul id="watch-context-item-list" class="video-list">
                            <li class="video-list-item">
                               <a href="/watch?v=vN2vxYnAZf0&amp;feature=context-vrec" class="related-video  yt-uix-sessionlink" data-sessionlink="ei=CLLr09jvi7ECFY6lpAodDg3eaQ%3D%3D&amp;feature=context-vrec&amp;context=G2ffce6fRVAAAAAAAABw"><span class="ux-thumb-wrap contains-addto "><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img data-group-key="thumb-group-0" src="//i3.ytimg.com/vi/vN2vxYnAZf0/default.jpg" alt="Steve Jobs MacWorld - 1999.mov" data-thumb="//i3.ytimg.com/vi/vN2vxYnAZf0/default.jpg" width="120" /><span class="vertical-align"></span></span></span></span><span class="video-time">1:39:48</span>
                               <button data-tooltip-text="Watch Later" onclick=";return false;" title="Watch Later" type="button" class="addto-button video-actions addto-watch-later-button yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" data-video-ids="vN2vxYnAZf0" role="button"><span class="yt-uix-button-content">  <span class="addto-label">
                               Watch Later
                               </span>
                               <span class="addto-label-error">
                               Error
                               </span>
                               <img src="<%= asset_path 'yt/wfw.gif' %>" />
                               </span></button>
                               </span><span dir="ltr" class="title" title="Steve Jobs MacWorld - 1999.mov">Steve Jobs MacWorld - 1999.mov</span><span class="stat attribution">by <span class="yt-user-name " dir="ltr">dogtownmac</span></span><span class="stat view-count">7,679 views</span></a>
                            </li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
             <div class="watch-sidebar-section">
                <h4 class="watch-sidebar-head">推荐</h4>
                <div class="yt-horizontal-rule "><span class="first"></span><span class="second"></span><span class="third"></span></div>
                <div id="watch-related-container" class="watch-sidebar-body">
                   <ul id="watch-related" class="video-list">
                      <li class="video-list-item watch-pyv-vid">
                         <a class="video-list-item-link" href="http://googleads.g.doubleclick.net/aclk?sa=l&amp;ai=BDldRn236T5y_ForZkQX3hbXbDK_PtJgCv9LPnEfHyoSmBODUAxABGAEg4_uTAzgAUOPNl6H5_____wFgiQOgAa-2xuwDsgEPd3d3LnlvdXR1YmUuY29tyAEB2gEoaHR0cDovL3d3dy55b3V0dWJlLmNvbS92aWRlby91dnN1QVpGZW04OOABA4ACAcACAagDAbADi9yTE-gDA-gD3wXoA5EG9QMAAAADoAYayAbn44r0Rg&amp;num=1&amp;sig=AOD64_2L9KYsElJwEI2Lsi8YVZAI2OSEtg&amp;ctype=21&amp;video_id=WECufItDCec&amp;client=ca-pub-6219811747049371&amp;adurl=http://www.youtube.com/user/sixpackshortcuts%3Fv%3DWECufItDCec">
                         <span class="ux-thumb-wrap">
                         <span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img src="//i1.ytimg.com/vi/WECufItDCec/2.jpg" alt="Thumbnail" width="120" /><span class="vertical-align"></span></span></span></span>
                         <span class="video-time">9:48</span>
                         </span>
                         <span class="title" title="Insane Home Chest Workout">Insane Home Chest Workout</span>
                         <span class="stat">by sixpackshortcuts</span>
                         <span class="stat">
                         1,071,210 views
                         </span>
                         <span class="stat alt">Ad</span>
                         </a>
                      </li>
                      <div id="ppv-container" class=""></div>
                      <li class="video-list-item">    <a href="/watch?v=uvsuAZFem88&amp;feature=list_other&amp;playnext=1&amp;list=SP17677124127540BC" class="related-playlist  yt-uix-sessionlink" data-sessionlink="ved=CAIQzhooAA%3D%3D&amp;ei=CLLr09jvi7ECFY6lpAodDg3eaQ%3D%3D&amp;feature=list_other"><span class="ux-thumb-wrap"><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img data-group-key="thumb-group-0" src="//i2.ytimg.com/vi/uvsuAZFem88/default.jpg" alt="Steve Jobs' Best Video Moments on Stage" data-thumb="//i2.ytimg.com/vi/uvsuAZFem88/default.jpg" width="120" /><span class="vertical-align"></span></span></span></span><span class="video-count"><strong>3</strong> videos</span></span><span class="thumb-row"><span class="video-thumb ux-thumb yt-thumb-default-40 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img data-group-key="thumb-group-0" src="//i2.ytimg.com/vi/uvsuAZFem88/default.jpg" alt="Thumbnail" data-thumb="//i2.ytimg.com/vi/uvsuAZFem88/default.jpg" width="40" /><span class="vertical-align"></span></span></span></span><span class="video-thumb ux-thumb yt-thumb-default-40 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img data-group-key="thumb-group-0" src="//i4.ytimg.com/vi/7ABFW6rv15g/default.jpg" alt="Thumbnail" data-thumb="//i4.ytimg.com/vi/7ABFW6rv15g/default.jpg" width="40" /><span class="vertical-align"></span></span></span></span><span class="video-thumb ux-thumb yt-thumb-default-40 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img data-group-key="thumb-group-0" src="//i4.ytimg.com/vi/sfVk2qFlePg/default.jpg" alt="Thumbnail" data-thumb="//i4.ytimg.com/vi/sfVk2qFlePg/default.jpg" width="40" /><span class="vertical-align"></span></span></span></span></span><span dir="ltr" class="title" title="Steve Jobs' Best Video Moments on Stage">Steve Jobs' Best Video Moments on Stage</span></a>
                      </li>
                      <li class="video-list-item"><a href="/watch?v=lz8aU1EXkBA&amp;feature=related" class="related-video  yt-uix-sessionlink" data-sessionlink="ved=CAMQzRooAQ%3D%3D&amp;ei=CLLr09jvi7ECFY6lpAodDg3eaQ%3D%3D&amp;feature=related"><span class="ux-thumb-wrap contains-addto "><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img data-group-key="thumb-group-0" src="//i1.ytimg.com/vi/lz8aU1EXkBA/default.jpg" alt="Steve Jobs Full Interview  at 2010 D8 Conference w/ Mossberg" data-thumb="//i1.ytimg.com/vi/lz8aU1EXkBA/default.jpg" width="120" /><span class="vertical-align"></span></span></span></span><span class="video-time">1:35:54</span>
                         <button onclick=";return false;" title="Watch Later" type="button" class="addto-button video-actions addto-watch-later-button yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" data-video-ids="lz8aU1EXkBA" role="button"><span class="yt-uix-button-content">  <span class="addto-label">
                         Watch Later
                         </span>
                         <span class="addto-label-error">
                         Error
                         </span>
                         <img src="<%= asset_path 'yt/wfw.gif' %>" />
                         </span></button>
                         </span><span dir="ltr" class="title" title="Steve Jobs Full Interview  at 2010 D8 Conference w/ Mossberg">Steve Jobs Full Interview  at 2010 D8 Conference w/ Mossberg</span><span class="stat attribution">by <span class="yt-user-name " dir="ltr">Eninety2</span></span><span class="stat view-count">252,843 views</span></a>
                      </li>
                   </ul>
                   <ul id="watch-more-related" class="video-list hid">
                      <li id="watch-more-related-loading">正在载入更多建议...</li>
                   </ul>
                </div>
                <div class="watch-sidebar-foot">
                   <p class="content">
                       <button type="button" id="watch-more-related-button" onclick=";return false;" class=" yt-uix-button yt-uix-button-default" role="button">
                           <span class="yt-uix-button-content">载入更多推荐课件  </span>
                       </button>
                    </p>
                </div>
             </div>
             <span class="yt-vertical-rule-main"></span>
             <span class="yt-vertical-rule-corner-top"></span>
             <span class="yt-vertical-rule-corner-bottom"></span>
         </div>
         <div class="clear"></div>
      </div>
      <div style="visibility: hidden; height: 0px; padding: 0px; overflow: hidden;">
         <div id="baseDiv"></div>
      </div>
   </div>
   
      <script type="text/javascript" charset="utf-8">
           <% content_for :butt2 do %>
               var focus_comment = function(){
                     $('#comment_placeholder').html('');
                     $('.comments-textarea-container img').css('z-index','2');
                     $('.comments-textarea-container textarea').height('78');
                     $('.comments-post-buttons').show();
               };
               var give_up_focus = function(){
                    $('#comment_placeholder').html('说点什么。。。');
                    $('#comment_placeholder_now').val('');
                    $('.comments-remaining').hide();
                    $('.comments-textarea-container img').css('z-index','-1');
                    $('.comments-textarea-container textarea').height('40');
                    $('.comments-post-buttons').hide();
               }
               $('#new_comment').bind('ajax:success',function(event, responseText, ajaxOptions){
                 $('#the_comment-list').prepend(responseText);
                 give_up_focus();
               });
              var closeHide = function(){
               somethingHide('#watch-actions-area-container');
               somethingHide('#watch-actions-loading');
               somethingHide('#watch-actions-ajax');
               $('#watch-actions-ajax').html('');
               removeToggled('');
             };
             $('#closehide').live('click',closeHide);
             $("div[data-action='close-share']").live('click',function(){
               $(this).parent().parent().remove();
             });

             $('#comment_placeholder_now').focus(focus_comment);
             $('#comment_placeholder_now').live("keyup change",function(){
                var max = parseInt($('.comments-remaining-count').attr('data-max-count'));
                $('.comments-remaining').show();
                if($(this).val().length > max){
                    $(this).val($(this).val().substr(0, max));
                }
                $('.comments-remaining-count').html(max-$(this).val().length);
             });  
             $('#ct2ct_body').live("keyup change",function(){
                 var max = parseInt($('.comments-remaining-countx').attr('data-max-count'));
                 $('.comments-remainingx').show();
                 if($(this).val().length > max){
                     $(this).val($(this).val().substr(0, max));
                 }
                 $('.comments-remaining-countx').html(max-$(this).val().length);
              });
             $('#comment_placeholder').live("click",focus_comment);
             $('#watch-description-toggle').live("click",function(){
                $('#watch-description').toggleClass('yt-uix-expander-collapsed');
             });
             function removeToggled(name){
                 tt = 'yt-uix-button-toggled';
                 if(name != "watch-like" && $("#watch-like").hasClass(tt))
                    $("#watch-like").removeClass(tt);
                 if(name != "watch-unlike" && $("#watch-unlike").hasClass(tt))    
                    $('#watch-unlike').removeClass(tt);
                 if(name != "actions.addto" && $("button[data-button-action='actions.addto']").hasClass(tt))  
                    $("button[data-button-action='actions.addto']").removeClass(tt);
                 if(name != "actions.share" && $("button[data-button-action='actions.share']").hasClass(tt))  
                    $("button[data-button-action='actions.share']").removeClass(tt);
                 if(name != "actions.flag" && $("button[data-button-action='actions.flag']").hasClass(tt))      
                    $("button[data-button-action='actions.flag']").removeClass(tt);
                 if(name != "watch-insight-button" && $("#watch-insight-button").hasClass(tt))      
                    $("#watch-insight-button").removeClass(tt);
             };
             $('#watch-like').live("click",function(){
                removeToggled(this.id);
                $(this).toggleClass('yt-uix-button-toggled');
                ajax_load_board(this,this.id);
             });
             $('#watch-unlike').live("click",function(){
                 removeToggled(this.id);
                 $(this).toggleClass('yt-uix-button-toggled');
                 ajax_load_board(this,this.id);
             });
             function ajax_load_board(who,type){
               hide_everything();
               if($(who).hasClass('yt-uix-button-toggled')){
                    somethingShow('#watch-actions-area-container');
                    somethingShow('#watch-actions-loading');
                    $.ajax({
                       type:"POST",
                       url:'/ajax/get_operation',
                       data:{'type':type,'cw_id':"<%= @courseware.id %>"},
                       dataType: "html",
                       cookie:true
                    }).done(function(html){
                          $('#watch-actions-ajax').html(html);
                          somethingShow('#watch-actions-ajax');
                          somethingHide('#watch-actions-loading');
                          ajax_get_dingcai();
                    });            
                }else{
                    somethingHide('#watch-actions-area-container');
                    somethingHide('#watch-actions-ajax');
                    $('#watch-actions-ajax').html('');
                }
             }
             function ajax_get_dingcai(){
               $.ajax({
                 type:"POST",
                 url:'/ajax/get_dynamic_dingcai',
                 data:{'cw_id':"<%= @courseware.id %>"},
                 dataType:'json'
               }).done(function(data){
                  $('.video-extras-sparkbars').html('<div style="width:'+ data['dingpercent'] +'%" class="video-extras-sparkbar-likes"></div><div style="width:'+ data['caipercent'] +'%" class="video-extras-sparkbar-dislikes"></div>');
                  $('.video-extras-likes-dislikes').html('<span class="likes">'+data['d']+'</span> 人顶, <span class="dislikes">'+data['c']+'</span> 人踩');
               })
             }
             $("button[data-button-action='actions.addto']").live("click",function(){
                 removeToggled('actions.addto');
                 $(this).toggleClass('yt-uix-button-toggled');
                 if($(this).hasClass('yt-uix-button-toggled')){
                    hide_everything();
                    somethingShow('#watch-actions-area-container');
                    somethingShow('#watch-actions-loading');
                    $.ajax({
                       type:"POST",
                       url:'/ajax/get_operation',
                       data:{'type':'addto','cw_id':"<%= @courseware.id %>"},
                       dataType: "html",
                       cookie:true
                    }).done(function(html){
                          $('#watch-actions-addto').html(html);
                          somethingShow('#watch-actions-addto');
                          somethingHide('#watch-actions-loading');
                    });
                  }  
                  else{
                      somethingHide('#watch-actions-area-container');
                      somethingHide('#watch-actions-addto');
                      $('#watch-actions-addto').html('');
                  }
             });
             $("button[data-button-action='actions.share']").live("click",function(){
                 removeToggled('actions.share');
                 $(this).toggleClass('yt-uix-button-toggled');
                 if($(this).hasClass('yt-uix-button-toggled')){
                   hide_everything();
                   somethingShow('#watch-actions-area-container');
                   somethingShow('#watch-actions-loading');
                   $.ajax({
                      type:"POST",
                      url:'/ajax/get_share_panel',
                      data:{'cw_id':"<%= @courseware.id %>"},
                      dataType: "html",
                      cookie:true,
                      timeout:3000
                   }).done(function(html){
                         $('#watch-actions-share-panel').html(html);
                         somethingShow('#watch-actions-share-panel');
                         somethingShow('#watch-actions-share');
                         somethingHide('#watch-actions-loading');
                         somethingHide('#watch-actions-share-loading');
                   });
                 }else{
                      somethingHide('#watch-actions-loading');
                      somethingHide('#watch-actions-area-container');
                      somethingHide('#watch-actions-share');
                      $('#watch-actions-share-panel').html('');
                 }
                 
             });
             $("button[data-button-action='actions.flag']").live("click",function(){
                 removeToggled('actions.flag');
                 $(this).toggleClass('yt-uix-button-toggled');
                 ajax_load_board(this,'flag');
             }); 
              $("#watch-insight-button").live("click",function(){
                  removeToggled(this.id);
                  $(this).toggleClass('yt-uix-button-toggled');
                  ajax_load_board(this,'stat');
              });           
             $('.yt-uix-tooltip').tipsy({gravity: $.fn.tipsy.autoNS,fade: true,opacity: 0.8});
             $('#comment_login').click(function(){return KTV.login()});
             $('#watch-more-related-button').live("click",function(){
                $(this).hide();
                $('#watch-more-related').show();
                $('#watch-related').append('<li>for ajax</li>');
                return false;
             });
             $("input[name=playlist_name]").live('focus',function(){
               $(this).removeClass('label-input-label');
             });
             $("input[name=playlist_name]").live('blur',function(){
                $(this).addClass('label-input-label');
             });
             $('button[data-close-parent-class=yt-alert]').live('click',function(){
                somethingHide($(this).parent().parent());
             });
             $('.yt-uix-form-input-select').live('focus',function(){
                $(this).addClass('focused');
             });
             $('.yt-uix-form-input-select').live('blur',function(){
                $(this).removeClass('focused');
             });
             $('.playlist-item').live('click',function(){
               if(!$(this).hasClass('selected') && !$(this).hasClass('loading')){
                  playlist_back_to_default();
                  tmp = this;
                  $(this).addClass('loading');
                  var on_top = 'false';
                  if($('#playlist-addto-top-checkbox').prop('checked'))
                    on_top = 'true';
                  $.ajax({
                    type:"POST",
                    url:'/ajax/add_to_playlist',
                    data:{'cw_id':'<%= @courseware.id %>','list_title':$(this).attr('data-title'),'on_top':on_top,'sort':$('select.yt-uix-form-input-select-element.sort-playlists >option:selected').val()},
                    dataType:'json',
                  }).done(function(data){
                    if (data['status'] == "suc") {
                      $('form > .yt-uix-form-input-container > .yt-uix-form-input-text.playlist-note',tmp).attr('placeholder',data['comment']);
                      // $('')
                      
                      $('.yt-alert-success.added-to-message > .yt-alert-content > .yt-alert-message > .added-to-message-title').html(data['list_title']);
                      somethingShow('.yt-alert-success.added-to-message');
                      $(tmp).removeClass('loading');
                      $(tmp).addClass('selected');
                    }
                  });
                  
               }
             });
             $('.cancel-note.yt-uix-button.yt-uix-button-default').live('click',function(){
               somethingHide('.yt-alert.yt-alert-default');
               $(this).parent().parent().removeClass('selected');
               return false;
             });
             function ajax_get_list(){
                $.ajax({
                  type:"POST",
                  url:'/ajax/playlist_sort',
                  data:{'sort':$('select.yt-uix-form-input-select-element.sort-playlists >option:selected').val()},
                  dataType:'html'
                }).done(function(html){
                  $('ul.playlist-items').html(html);
                });
             };           
             $('select.yt-uix-form-input-select-element.sort-playlists').live('change',function(){
                playlist_back_to_default();
                $('.yt-uix-form-input-select-content > .yt-uix-form-input-select-value',$(this).parent()).html($('select.yt-uix-form-input-select-element.sort-playlists > option:selected').text());
                ajax_get_list();
             });
             $('.yt-uix-form-input-select.new-playlist-privacy > select.yt-uix-form-input-select-element').live('change',function(){
               $('.yt-uix-form-input-select-content > .yt-uix-form-input-select-value',$(this).parent()).html($('.yt-uix-form-input-select.new-playlist-privacy > select.yt-uix-form-input-select-element > option:selected').text());
             });
             
             $('button.create-new-playlist.yt-uix-button.yt-uix-button-default').live('click',function(){
               $.ajax({
                 type:"POST",
                 url:'/ajax/create_new_playlist',
                 data:{'list_title':$('#playlist_wired').val(),'is_private':$('.yt-uix-form-input-select.new-playlist-privacy > select.yt-uix-form-input-select-element > option:selected').val()},
                 dataType:'json'
               }).done(function(data){
                 console.log(data);
                 $('#playlist_wired').val('');
                 ajax_get_list();
               });
             });
             
             $('.save-note.yt-uix-button.yt-uix-button-primary').live('click',function(){
               tmp = this;
               if($('#playlist_wired').val().length>0){
                 $.ajax({
                    type:'POST',
                    url:'/ajax/add_comment_to_playlist',
                    data:{'comment':$('.yt-uix-form-input-container > .yt-uix-form-input-text.playlist-note',$(tmp).parent()).val(),'cw_id':'<%= @courseware.id %>','list_title':$(tmp).parent().parent().attr('data-title')},
                    dataType:'json'
                  }).done(function(data){
                    if(data['status'] == 'suc'){
                      playlist_back_to_default();                   
                      $('.yt-alert-success.note-added-message > .yt-alert-content > .yt-alert-message >.note-added-message-title').html(data['title']);
                      somethingShow('.yt-alert-success.note-added-message');
                    }
                  });
               }else{
                 show_add_error('请填写备注');
               }
                 
               return false;
             });
             
             function show_add_error(msg){
               somethingHide('.yt-alert.yt-alert-default');
               $('.messages-area > .yt-alert-error.added-to-error-message > .yt-alert-content').html(msg);
               somethingShow('.yt-alert-error.added-to-error-message');
             }
             function playlist_back_to_default(){
               $('.playlist-item').removeClass('selected');
               $('.playlist-item').removeClass('loading');
               somethingHide('.yt-alert.yt-alert-default');
             }
             function somethingHide(id){
                 $(id).hide();
                 $(id).addClass('hid');
             }
             function somethingShow(id){
                 $(id).removeClass('hid');
                 $(id).slideDown('middle');
             }
             function hide_everything(){
               somethingHide('#watch-actions-area-container');
               somethingHide('#watch-actions-loading');
               somethingHide('#watch-actions-share-loading');
               somethingHide('#watch-actions-error');
               somethingHide('#watch-actions-addto');
               somethingHide('#watch-actions-share');
               somethingHide('#watch-actions-ajax');
               
               somethingHide('#watch-actions-share-panel');
               $('#watch-actions-addto').html('');
               $('#watch-error-string').html('');
               $('#watch-actions-share-panel').html('');
               $('#watch-actions-ajax').html('');
             }
             $('#watch-actions-error').ajaxError(function(){
               hide_everything();
               $('#watch-error-string').html('该功能目前不可用，请稍后重试。');
               somethingShow('#watch-actions-error');
             })
             
              $('.yt-uix-expander-head >.share-panel-show-url-options').live('click',function(){
                $('.share-panel-services.yt-uix-expander').addClass('yt-uix-expander-collapsed');
                $('.share-panel-url-options.yt-uix-expander').toggleClass('yt-uix-expander-collapsed');
              });
              
              $('.yt-uix-expander-head > .share-panel-show-more').live('click',function(){
                $('.share-panel-url-options.yt-uix-expander').addClass('yt-uix-expander-collapsed');
                $('.share-panel-services.yt-uix-expander').toggleClass('yt-uix-expander-collapsed');
              });
              $('.yt-uix-form-input-text.share-panel-start-at-time').live('focus',function(){
                $('input.share-panel-start-at').prop('checked',true);
                if(!isInt($(this).val())){
                  $(this).val('');
                }else{
                  if(parseInt($(this).val()) > <%= @courseware.slides_count %>){
                    $(this).val('<%= @courseware.slides_count %>');
                  }
                }
              }).live('blur',function(){
                if(isInt($(this).val())){
                  var url= $('.yt-uix-form-input-text.share-panel-url').val();
                  var arr= parseUri(url);
                  var former=arr['protocol']+'://' + arr['host'] + arr['path'];
                  var num=(parseInt($(this).val()) > <%= @courseware.slides_count %>) ? '<%= @courseware.slides_count %>' : $(this).val();
                  var slidex = '?slide=' + num;
                  $('.yt-uix-form-input-text.share-panel-url').val(former + slidex);
                }
              });
              var share_panel = function(ix,ux,tx){
                if($(ix).hasClass('hid')){
                  $.ajax({
                    type:'POST',
                    url:'/ajax/get_share_partial',
                    data:{'type':tx,'cw_id':'<%= @courseware.id %>'},
                    dataType:'html',
                    cookie:true,
                    timeout:3000
                  }).done(function(html){
                    if(!$(ux).hasClass('hid')){
                      somethingHide(ux);
                    }
                    $(ix).html(html);
                    somethingShow(ix);
                  });  
                }else{
                  somethingHide(ix);
                }
              };
              $('.share-panel-embed').live('click',function(){share_panel('.share-panel-embed-container','.share-panel-email-container','embed');});
              $('.share-panel-email').live('click',function(){share_panel('.share-panel-email-container','.share-panel-embed-container','email')});

              function isInt(n) {
                 return n % 1 === 0;
              }
              function parseUri (str) {
              	var	o   = parseUri.options,
              		m   = o.parser[o.strictMode ? "strict" : "loose"].exec(str),
              		uri = {},
              		i   = 14;

              	while (i--) uri[o.key[i]] = m[i] || "";

              	uri[o.q.name] = {};
              	uri[o.key[12]].replace(o.q.parser, function ($0, $1, $2) {
              		if ($1) uri[o.q.name][$1] = $2;
              	});

              	return uri;
              };

              parseUri.options = {
              	strictMode: false,
              	key: ["source","protocol","authority","userInfo","user","password","host","port","relative","path","directory","file","query","anchor"],
              	q:   {
              		name:   "queryKey",
              		parser: /(?:^|&)([^&=]*)=?([^&]*)/g
              	},
              	parser: {
              		strict: /^(?:([^:\/?#]+):)?(?:\/\/((?:(([^:@]*)(?::([^:@]*))?)?@)?([^:\/?#]*)(?::(\d*))?))?((((?:[^?#\/]*\/)*)([^?#]*))(?:\?([^#]*))?(?:#(.*))?)/,
              		loose:  /^(?:(?![^:@]+:[^:@\/]*@)([^:\/?#.]+):)?(?:\/\/)?((?:(([^:@]*)(?::([^:@]*))?)?@)?([^:\/?#]*)(?::(\d*))?)(((\/(?:[^?#](?![^?#\/]*\.[^?#\/.]+(?:[?#]|$)))*\/?)?([^?#\/]*))(?:\?([^#]*))?(?:#(.*))?)/
              	}
              };
             $('#flag-reason-button').live('click',function(e){
               back2normal();
               if($(this).hasClass('yt-uix-button-active')){
                 $('#flag-video-menu').addClass('hid').hide();
                 $(this).removeClass('yt-uix-button-active');
               }else{
                 $(this).addClass('yt-uix-button-active');
                 $('#flag-video-menu').addClass('yt-uix-button-menu yt-uix-button-menu-external');
                 $('#flag-video-menu').removeClass('hid').show();
                }
                e.stopPropagation();
             });
             $(document).click(function(e){
               var target = e.target;
               if (!$(target).is('#flag-reason-button') && !$(target).parents().is('#flag-reason-button')) {
                 if($('#flag-reason-button').hasClass('yt-uix-button-active')){
                    $('#flag-video-menu').addClass('hid');
                    $('#flag-reason-button').removeClass('yt-uix-button-active');
                 }
               }
             });
             $('.flag-menu > .yt-uix-button-menu-item').live('click',function(e){
               $('.yt-uix-button-menu-item').removeClass('selected');
               $('.yt-uix-button-menu-item').removeClass('child-selected');
               $(this).addClass('selected');
               $('#flag-video-menu').addClass('hid');
               $('#flag-reason-button').removeClass('yt-uix-button-active');
               $('#flag-reason-button > .yt-uix-button-content').html($('.label',this).html());
               handleChoose(this);
               e.stopPropagation();
             });
             $('.submenu > .yt-uix-button-menu-item').live('click',function(e){
               $('.yt-uix-button-menu-item').removeClass('selected');
               $('.yt-uix-button-menu-item').removeClass('child-selected');
               $(this).addClass('selected');
               $(this).parent().parent().addClass('selected');
               $(this).parent().parent().addClass('child-selected');
               $('#flag-video-menu').addClass('hid');
               $('#flag-reason-button').removeClass('yt-uix-button-active');
               $('#flag-reason-button > .yt-uix-button-content').html($('.label',this).html());
               handleChoose(this);
               e.stopPropagation();
             });
             
             var glayer;
             var greason;
             var gmsg;
             $('#flag-video-submit').live('click',function(){
                  $.ajax({
                    url:'/ajax/flagcw',
                    type:'POST',
                    data:{'cw_id':'<%= @courseware.id %>','user_id':'<%= if current_user then current_user.id end%>','layer':glayer,'reason':greason, 'form':$('#flag-video-form').serializeArray()},
                    dataType:'json'
                  }).done(function(json){
                     if(json['status'] == 'suc'){
                       $('#flag-video-form-container').hide().addClass('hid');
                       if(gmsg != undefined){
                         $('#flag-video-result-'+gmsg).removeClass('hid');
                       }else{
                         $('#flag-video-result-default').removeClass('hid');
                       }
                     }else{
                       back2normal();
                       $('#flag-video-form').removeClass('hid');
                       $('#flag-video-error').removeClass('hid');
                     }
                  });
             });
             var handleChoose = function(who){
               var time = $(who).attr('data-include-time');
               var message = gmsg = $(who).attr('data-result-message');
               var textbox  = $(who).attr('data-show-textbox-with-label');
               var nopost =$(who).attr('data-no-post');
               var layer = glayer =$(who).attr('data-reason');
               var reason = ''
               if(layer != undefined){
                 layer = 'reason';
                 reason = greason =$(who).attr('data-reason');
               }else{
                 layer = 'subreason';
                 reason = greason =$(who).attr('data-subreason');
               }
               responseType(time,message,textbox,nopost);
             }
             var back2normal = function(){
               $('#flag-video-form').addClass('hid');
               $('#flag-video-more-info-time').addClass('hid');
               $('#flag-video-more-info-comment').addClass('hid');
               $('#flag-video-error').addClass('hid');
               $('#flag-video-result-default').addClass('hid');
               $('#flag-video-results-container').hide();
               $('#flag-video-result-maybe-review').addClass('hid');
               $('#flag-video-result-hate-speech').addClass('hid');
               $('#flag-video-result-dcma-policy').addClass('hid');
               $('#flag-video-result-privacy-center').addClass('hid');
               $('#flag-video-result-bullying').addClass('hid');
               $('#flag-video-result-legal-claim').addClass('hid');
               $('#flag-video-buttons').hide();
               $('#flag-video-more-info-hate-group').addClass('hid');
             };
             
             var responseType = function(time,message,textbox,nopost){
               back2normal();
               $('#flag-video-results-container').removeClass('hid').show();
               if(time=='true'){
                 $('#flag-video-form').removeClass('hid');
                 $('#flag-video-more-info-time').removeClass('hid');
                 if(nopost != 'true'){
                   $('#flag-video-buttons').show();
                 }
               }
               if(textbox != undefined){
                  $('#flag-video-more-info-comment').removeClass('hid');
                  $('#flag-video-more-info-textarea-label').html(textbox);
               }
               if(message == 'hate-speech'){
                 $('#flag-video-more-info-hate-group').removeClass('hid');
               }
               if(nopost =='true' && time!='true'){
                  $('#flag-video-form-container').hide().addClass('hid');
                   $('#flag-video-result-'+message).removeClass('hid'); 
               }else if(nopost !='true' && time!='true'){
                  $('#flag-video-form').removeClass('hid');
                  $('#flag-video-buttons').removeClass('hid').show();
               }
             };
             // $('li.comment.yt-tile-default').live('click',function(e){
             //    console.log(e.target);
             //    cid = $(this).attr('data-id');
             //    console.log(cid);
             //    console.log(e.data)
             //    console.log(e.currentTarget)
             //  });
             $('.comment-action').live('click',function(){
               type = $(this).attr('data-action');
               console.log(type); 
               if(type == 'close-share')
                return false;
               if(type == 'vote-up' || type =='vote-down' || type =='reply'){
                 cid = $(this).parent().parent().parent().parent().parent().attr('data-id')
               }else{
                 cid = $(this).parent().parent().parent().parent().parent().parent().parent().parent().attr('data-id');
               }
               if(type == 'share' || type == 'reply'){
                 datatype = 'html';
               }else{
                 datatype = 'json';
               }
               tmp = this;
               $.ajax({
                 url:'/ajax/comment_action',
                 type:'POST',
                 data:{'cid':cid,'atype':type},
                 dataType:datatype
               }).done(function(data){
                 if(type == 'share'){
                    $('.comments-post-containerx').remove();
                    $(tmp).parent().parent().parent().parent().parent().parent().parent().parent().append(data);
                 }else if(type == 'reply'){
                   $('.comments-post-containerx').remove();
                   $(tmp).parent().parent().parent().parent().parent().append(data);
                 }else if(type == 'vote-up' || type =='vote-down'){
                   if(data['status'] == 'suc'){
                     if(parseInt(data['cc'])>0){
                       $('li[data-id='+cid+'] > .comment-body >.content-container >.content > .metadata > .comments-rating-positive').remove();
                       $('li[data-id='+cid+'] > .comment-body >.content-container >.content > .metadata').append('<span title="顶了 '+data['up']+' 次，踩了 '+ data['down']+' 次" class="comments-rating-positive" dir="ltr"><img src="<%= asset_path "yt/wfw.gif" %>" class="comments-rating-thumbs-up"></span>');
                     }
                   }
                 }else if(type == 'flag'){
                   
                 }else{
                   
                 }
               })
             });
             $('.end.flip.yt-uix-button.yt-uix-button-default.yt-uix-button-empty').live('click',function(){
               $(this).toggleClass('yt-uix-button-active');
               $('.yt-uix-button-menu.yt-uix-button-menu-default',this).toggle().toggleClass('hid');
             });

           <% end %>
        </script>
</div>


<%= render file:'/application/footers/_sdk_footer' %>
