<h2>客户端列表</h2>
<div class="header_buttons">
  <%= link_to '创建新的客户端', new_cpanel_client_path, class: "button icon add" %>
</div>
<% unless @clients.empty? %>
<table>
  <tr>
    <th>创建者</th>
    <th>客户端名</th>
    <th>状态</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= link_to client.user.name, "/users/#{client.user.slug}" %></td>
    <td><%= client.name %></td>
    <td><%= raw client.blocked? ? "<span style=\"color:red\">未审核</span>" : "已审核" %></td>
    <td><%= link_to '详情', cpanel_client_path(client), class: "button" %></td>
    <td><%= link_to '编辑', edit_cpanel_client_path(client), class: "button" %></td>
    <td><%= link_to '删除', cpanel_client_path(client), confirm: 'Are you sure?', method: :delete, class: "button danger" %></td>
    <% if current_user.admin? %>
      <% if client.blocked? %>
        <td><%= link_to '通过审核', unblock_cpanel_client_path(client), method: :put, class: "button danger icon unlock" %></td>
      <% else %>
        <td><%= link_to '改为未审核', block_cpanel_client_path(client), method: :put, class: "button danger icon lock" %></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
</table>
<% end %>
<br/>
