<% content_for :armpit do %>
<%= stylesheet_link_tag "__lnk", :media => "all" %>
<% end %>


<%= render :partial => 'content_above', :locals=>{:skp_content_style => "height:1888px;background: white url(#{asset_path 'lnbg.png'}) repeat-y scroll 0 0;"} %>

<%= render 'ln_nav' %>
<% content_for :butt2 do %>
$('#pagekey-nprofile-edit-success').resize(KTV.ln_bind_targetize);
KTV.ln_bind_targetize();
<% end %>
<%= render 'content_below' %>

<div class="wrapper" style="width:1000px">
<%= render :partial=>"bind_#{@serv}",:locals=>{ass_style:'width: 822px;position:absolute;top:186px;margin-left:166px'} %>
<div class="__lnk" id="pagekey-nprofile-edit-success">
<div class=" en member v2 edit-my-profile edit-profile-section chrome-v4 background-v4 sticky-bg basic-member js ">
  <div role="main" class="" id="body" style="margin-top:0">
  	<div id="section-header">
  		<ul id="nav-secondary">
  			<li class="" id="nav-edit-profile"><a href="/profile/edit?locale=en_US"><span>Edit Profile</span></a></li>
  			<li class="" id="nav-my-profile"><a href="/profile/view?id=73526537&amp;locale=en_US&amp;trk=tab_pro"><span>View Profile</span></a></li>
  		</ul>
  	</div>
  	<div class="wrapper hp-nus-wrapper">
  		<div id="global-error">
  		</div>
  		<div class="grid-f profile-edit" id="main">
  			<div id="content">
  				<h1>绑定<%= @service[:name] %></h1>
          <div id="suc_bangding" style="display:none">
            <%= image_tag 'suc_bangding.png',:alt => '绑定成功' %>
            <p>系统正在自动为您导入账号信息，稍后访问[ <a href="/account/edit">我的账号</a> ]即可观察到变化。</p>
          </div>
  			</div>
  		</div>
  	</div>
  </div>
</div>
</div>
</div>
