
<div class="contentItem" style="background:url("http://kejian.tv/assets/usermailerbg.png") repeat-x left bottom;padding:20px;">
		<div class="pictureItem" style="font-size:12x;margin:5px 0;">
			<h6 style="font:bold 14px/2em simsun;margin:0;"><%= link_to @follower.name, user_url(@follower.slug), :target=>'_blank', :style=>'color:#360;font-weight:bold;font-size:14px;text-decoration:none;' %>在Kejian.TV上关注了你</h6>
      <% if !@follower.avatar.blank? %>
        <img src="<%= @follower.avatar.mid.url%>" style="width:50px;height:50px;float:left;margin-right:10px;" />
      <% else %>
        <img src="/defaults/avatar/mid.jpg" style="width:50px;height:50px;float:left;margin-right:10px;" />
      <% end %>
			<p style="margin:0;padding:0;">
        <%= link_to @follower.name, user_url(@follower.slug), :target=>'_blank', :style=>'color:#360;font-weight:bold;font-size:14px;text-decoration:none;' %><br>
			  在<%= Setting.app_name %>上，他有 <%= @follower.asks_count %>个题, <%= @follower.answers_count %>个解答 </p>
		</div>
	</div>