
<%= render "head", :user => @user %>


<section class="userNavContent">
  <%= render 'subnav',:user=>@user %>

  <section>
    <section class="cList">
      <% @topics.each do |item| %>
        <%if !Topic.where(:_id=>item).first.blank? and (local_topic = Topic.where(_id:item).first)%>
          <%= render "traverse/topic", :topic => local_topic %>
        <%end%>
      <% end %>
    </section>
  </section>
  <%= will_paginate @topics, :renderer=>WendaoLinkRenderer,:inner_window=>2 %>
</section>

<%= render "sidebar", :user => @user %>


