<% content_for :armpit do %>
  <%= stylesheet_link_tag "ktv/__zm_dar.css", :media => "all" %>
<% end %>
<% content_for :body_style do %>background: none repeat scroll 0 0 #F0EEEE<% end %>
<%= render file:'/application/headers/_zm_header' %>




<div class="__zm">
<div id="wrapper">
<div id="content" class="cf" style="box-shadow:none;background:none;overflow:visible !important;margin-top:18px">
<div class="ranking" id="jquery-certufyPersonCu">
<h2 class="yahe"><span class="rankico"></span>达人排行榜 </h2>
<ul class="userlist cf">
<!-- [{id=5, nickname=acfear, avatar_large=/20111103/6e73/6865/6667597a/1320306321955.5478.190.190.jpg, description=奥德, fans_count=54, friends_count=5, follow_count=13}, {id=11, nickname=jmhe, avatar_large=/20111124/6b73/6b66/6867597a/1322101756782.6425.190.190.jpg, description=我信上帝, fans_count=20, friends_count=1, follow_count=8}, {id=143, nickname=cbc027, avatar_large=null, description=null, fans_count=3, friends_count=1, follow_count=15}, {id=27, nickname=我来了, avatar_large=null, description=, fans_count=1, friends_count=0, follow_count=3}] -->


<li>
<div class="starcontainer cf">
<a href="/profile/15345" usercard="15345"  havecard="1" target="_blank" class="avatar">

<span class="redbg">1</span>


<img src="http://b5.imimg.cn/20111130/d7a6/5532/32259664565.2.60.60.jpg" title="Basoo" />
</a>
<p class="profile">
<a class="username" usercard="15345"  havecard="1" href="/profile/15345" target="_blank" title="Basoo">


Bas..

</a><br />
<a href="/fans/15345/1" class="number" target="_blank"><span id="cu_15345_count">146904</span>人关注</a><br />





<a class="hotbutton follow-btn" href="###" id="cu_15345" followed="15345" follow="false">关注</a>


</p>
</div>
<div class="rk-profile">


东京原宿古着店店主，..

</div>
</li>


<li>
<div class="starcontainer cf">
<a href="/profile/10021" usercard="10021"  havecard="1" target="_blank" class="avatar">

<span class="redbg">2</span>


<img src="http://b2.imimg.cn/20111108/7130/6f76/77998189131.2.60.60.jpg" title="小吱" />
</a>
<p class="profile">
<a class="username" usercard="10021"  havecard="1" href="/profile/10021" target="_blank" title="小吱">

小吱


</a><br />
<a href="/fans/10021/1" class="number" target="_blank"><span id="cu_10021_count">131823</span>人关注</a><br />





<a class="hotbutton follow-btn" href="###" id="cu_10021" followed="10021" follow="false">关注</a>


</p>
</div>
<div class="rk-profile">


爱猎奇爱探索，活体十..

</div>
</li>


<li>
<div class="starcontainer cf">
<a href="/profile/15281" usercard="15281"  havecard="1" target="_blank" class="avatar">

<span class="redbg">3</span>


<img src="http://b0.imimg.cn/20111130/6c73/6669/626f597a/1329384146843.3864.60.60.jpg" title="侯子爱吃桃子" />
</a>
<p class="profile">
<a class="username" usercard="15281"  havecard="1" href="/profile/15281" target="_blank" title="侯子爱吃桃子">


侯子爱..

</a><br />
<a href="/fans/15281/1" class="number" target="_blank"><span id="cu_15281_count">131047</span>人关注</a><br />





<a class="hotbutton follow-btn" href="###" id="cu_15281" followed="15281" follow="false">关注</a>


</p>
</div>
<div class="rk-profile">


Vintage爱好者..

</div>
</li>


<li>
<div class="starcontainer cf">
<a href="/profile/15229" usercard="15229"  havecard="1" target="_blank" class="avatar">


<span>4</span>

<img src="http://b7.imimg.cn/20120628/9ff2/a73a/67055769072.2.60.60.jpg" title="咸了喝水" />
</a>
<p class="profile">
<a class="username" usercard="15229"  havecard="1" href="/profile/15229" target="_blank" title="咸了喝水">

咸了喝水


</a><br />
<a href="/fans/15229/1" class="number" target="_blank"><span id="cu_15229_count">130653</span>人关注</a><br />





<a class="hotbutton follow-btn" href="###" id="cu_15229" followed="15229" follow="false">关注</a>


</p>
</div>
<div class="rk-profile">


抠门金牛座，败家翘楚..

</div>
</li>


<li>
<div class="starcontainer cf">
<a href="/profile/14679" usercard="14679"  havecard="1" target="_blank" class="avatar">


<span>5</span>

<img src="http://b6.imimg.cn/20111129/aee6/2f36/30295545832.2.60.60.jpg" title="Olivia" />
</a>
<p class="profile">
<a class="username" usercard="14679"  havecard="1" href="/profile/14679" target="_blank" title="Olivia">


Oli..

</a><br />
<a href="/fans/14679/1" class="number" target="_blank"><span id="cu_14679_count">130127</span>人关注</a><br />





<a class="hotbutton follow-btn" href="###" id="cu_14679" followed="14679" follow="false">关注</a>


</p>
</div>
<div class="rk-profile">


普文二三种青年的完美..

</div>
</li>


<li>
<div class="starcontainer cf">
<a href="/profile/38365" usercard="38365"  havecard="1" target="_blank" class="avatar">


<span>6</span>

<img src="http://b5.imimg.cn/20111222/5e0e/669c/11155813659.2.60.60.jpg" title="宥鸣" />
</a>
<p class="profile">
<a class="username" usercard="38365"  havecard="1" href="/profile/38365" target="_blank" title="宥鸣">

宥鸣


</a><br />
<a href="/fans/38365/1" class="number" target="_blank"><span id="cu_38365_count">121132</span>人关注</a><br />





<a class="hotbutton follow-btn" href="###" id="cu_38365" followed="38365" follow="false">关注</a>


</p>
</div>
<div class="rk-profile">


热血天秤男，热爱一切..

</div>
</li>


<li>
<div class="starcontainer cf">
<a href="/profile/10469" usercard="10469"  havecard="1" target="_blank" class="avatar">


<span>7</span>

<img src="http://b4.imimg.cn/20120629/a068/6ab0/67348692417.2.60.60.jpg" title="木木糖" />
</a>
<p class="profile">
<a class="username" usercard="10469"  havecard="1" href="/profile/10469" target="_blank" title="木木糖">

木木糖


</a><br />
<a href="/fans/10469/1" class="number" target="_blank"><span id="cu_10469_count">114864</span>人关注</a><br />





<a class="hotbutton follow-btn" href="###" id="cu_10469" followed="10469" follow="false">关注</a>


</p>
</div>
<div class="rk-profile">


徘徊在80后和90后..

</div>
</li>


<li>
<div class="starcontainer cf">
<a href="/profile/15260" usercard="15260"  havecard="1" target="_blank" class="avatar">


<span>8</span>

<img src="http://b5.imimg.cn/20111130/6a73/6865/6f6b597a/1328848324044.8462.60.60.jpg" title="李影Kitty" />
</a>
<p class="profile">
<a class="username" usercard="15260"  havecard="1" href="/profile/15260" target="_blank" title="李影Kitty">


李影K..

</a><br />
<a href="/fans/15260/1" class="number" target="_blank"><span id="cu_15260_count">112772</span>人关注</a><br />





<a class="hotbutton follow-btn" href="###" id="cu_15260" followed="15260" follow="false">关注</a>


</p>
</div>
<div class="rk-profile">


皇城根的超级美肤控，..

</div>
</li>


<li>
<div class="starcontainer cf">
<a href="/profile/15384" usercard="15384"  havecard="1" target="_blank" class="avatar">


<span>9</span>

<img src="http://b6.imimg.cn/20111130/6873/6972/696b597a/1329113087728.1188.60.60.jpg" title="耳机林sir" />
</a>
<p class="profile">
<a class="username" usercard="15384"  havecard="1" href="/profile/15384" target="_blank" title="耳机林sir">


耳机林..

</a><br />
<a href="/fans/15384/1" class="number" target="_blank"><span id="cu_15384_count">110348</span>人关注</a><br />





<a class="hotbutton follow-btn" href="###" id="cu_15384" followed="15384" follow="false">关注</a>


</p>
</div>
<div class="rk-profile">


活的耳机宝典。代表作..

</div>
</li>


<li>
<div class="starcontainer cf">
<a href="/profile/15396" usercard="15396"  havecard="1" target="_blank" class="avatar">


<span>10</span>

<img src="http://b7.imimg.cn/20111130/6c73/646c/6763597a/1330072713333.0761.60.60.jpg" title="69fish" />
</a>
<p class="profile">
<a class="username" usercard="15396"  havecard="1" href="/profile/15396" target="_blank" title="69fish">


69f..

</a><br />
<a href="/fans/15396/1" class="number" target="_blank"><span id="cu_15396_count">109637</span>人关注</a><br />





<a class="hotbutton follow-btn" href="###" id="cu_15396" followed="15396" follow="false">关注</a>


</p>
</div>
<div class="rk-profile">


核辐射级败家，关注领..

</div>
</li>

</ul>
</div>
<!---------------------------------------------------------------->
<div class="star-item cf" id="jquery-certufyPerson">
<h2 class="yahe">所有达人</h2>
<ul class="star-list">





<li>

<div class="star-head"><a href="/profile/126529" usercard="126529"  havecard="1" target="_blank"><img src="http://b5.imimg.cn/20120629/4da8/f57c/52908846189.2.60.60.jpg" title="坏品味码字员"/></a></div>
<div class="star-info">
<h3>





<a class="hotbutton follow-btn" href="###" id="126529" followed="126529" follow="false">关注</a>


<a href="/profile/126529" usercard="126529"  havecard="1" target="_blank" title="坏品味码字员">
坏品味码字员
</a><span class="ctf-icon small-ctf-star-w"></span></h3>
<p><a href="/follow/126529/1" target="_blank">关注<em>55</em></a><a href="/fans/126529/1" target="_blank">粉丝<em id="126529_count">97600</em></a></p>
<p><a href="/bds/126529" target="_blank">图格<em>31</em></a><a href="/profile/126529" target="_blank">收集<em>1851</em></a></p>
</div>
<div class="star-profile gray">
天蝎座坏品味兼重口味码字叔，苦逼的自由撰稿人。喜欢一切美的事物，有图片收集癖...
</div>
<div class="hissharelist"><a href="/share/5234191" target="_blank"><img src="http://b8.imimg.cn/20120720/a4ec/d74e/94428387654.3.60.60.jpg" /></a><a href="/share/5214147" target="_blank"><img src="http://b2.imimg.cn/20120722/cc0a/2a7e/72190153517.3.60.60.jpg" /></a><a href="/share/5022262" target="_blank"><img src="http://b5.imimg.cn/20120719/c2ce/4f78/95962372495.3.60.60.jpg" /></a><a href="/share/5022226" target="_blank"><img src="http://b1.imimg.cn/20120719/8058/e0ae/95921917213.3.60.60.jpg" /></a><a href="/share/5018459" target="_blank"><img src="http://b4.imimg.cn/20120719/a0b8/8944/91098229759.3.60.60.jpg" /></a></div>
</li>




<li>

<div class="star-head"><a href="/profile/322120" usercard="322120"  havecard="1" target="_blank"><img src="http://b1.imimg.cn/20120722/ebe2/9c00/64706380912.2.60.60.jpg" title="plorz"/></a></div>
<div class="star-info">
<h3>





<a class="hotbutton follow-btn" href="###" id="322120" followed="322120" follow="false">关注</a>


<a href="/profile/322120" usercard="322120"  havecard="1" target="_blank" title="plorz">
plorz
</a><span class="ctf-icon small-ctf-star-w"></span></h3>
<p><a href="/follow/322120/1" target="_blank">关注<em>12</em></a><a href="/fans/322120/1" target="_blank">粉丝<em id="322120_count">69064</em></a></p>
<p><a href="/bds/322120" target="_blank">图格<em>16</em></a><a href="/profile/322120" target="_blank">收集<em>202</em></a></p>
</div>
<div class="star-profile gray">
爱音乐、爱旅行，自由随性。着迷复古、学院风更是喜爱。从杯纸到奢侈品，从条纹控...
</div>
<div class="hissharelist"><a href="/share/4754254" target="_blank"><img src="http://b0.imimg.cn/20120715/4a14/3f38/49660619389.3.60.60.jpg" /></a><a href="/share/4754139" target="_blank"><img src="http://b7.imimg.cn/20120715/ef32/d7a2/49178083635.3.60.60.jpg" /></a><a href="/share/4754121" target="_blank"><img src="http://b3.imimg.cn/20120715/6644/2e5a/49081750566.3.60.60.jpg" /></a><a href="/share/4563805" target="_blank"><img src="http://b3.imimg.cn/20120711/dbfe/1fac/4870338122.3.60.60.jpg" /></a><a href="/share/4490752" target="_blank"><img src="http://b5.imimg.cn/20120709/5c50/1708/37865775815.3.60.60.jpg" /></a></div>
</li>




<li>

<div class="star-head"><a href="/profile/243416" usercard="243416"  havecard="1" target="_blank"><img src="http://b4.imimg.cn/20120324/6873/646c/6567597a/1335346899906.3409.60.60.jpg" title="JOSEPH欢崽"/></a></div>
<div class="star-info">
<h3>





<a class="hotbutton follow-btn" href="###" id="243416" followed="243416" follow="false">关注</a>


<a href="/profile/243416" usercard="243416"  havecard="1" target="_blank" title="JOSEPH欢崽">
JOSEPH欢...
</a><span class="ctf-icon small-ctf-star-w"></span></h3>
<p><a href="/follow/243416/1" target="_blank">关注<em>9</em></a><a href="/fans/243416/1" target="_blank">粉丝<em id="243416_count">62529</em></a></p>
<p><a href="/bds/243416" target="_blank">图格<em>7</em></a><a href="/profile/243416" target="_blank">收集<em>191</em></a></p>
</div>
<div class="star-profile gray">
非专业野模和专业媒体人。热爱说教的怪味小清新，高帮鞋的狂热爱好者，努力相信健...
</div>
<div class="hissharelist"><a href="/share/5240362" target="_blank"><img src="http://b0.imimg.cn/20120723/94de/275c/21051675425.3.60.60.jpg" /></a><a href="/share/5240290" target="_blank"><img src="http://b3.imimg.cn/20120723/f11a/7274/20995205918.3.60.60.jpg" /></a><a href="/share/5155572" target="_blank"><img src="http://b5.imimg.cn/20120721/86ac/5a6c/84135661291.3.60.60.jpg" /></a><a href="/share/5155535" target="_blank"><img src="http://b4.imimg.cn/20120721/b184/ddb4/84078839275.3.60.60.jpg" /></a><a href="/share/5155510" target="_blank"><img src="http://b7.imimg.cn/20120721/e166/cf6c/84023709130.3.60.60.jpg" /></a></div>
</li>




<li>

<div class="star-head"><a href="/profile/355979" usercard="355979"  havecard="1" target="_blank"><img src="http://b8.imimg.cn/20120405/1e66/e468/70574097473.2.60.60.jpg" title="像匕首一样的男子"/></a></div>
<div class="star-info">
<h3>





<a class="hotbutton follow-btn" href="###" id="355979" followed="355979" follow="false">关注</a>


<a href="/profile/355979" usercard="355979"  havecard="1" target="_blank" title="像匕首一样的男子">
像匕首一样的男...
</a><span class="ctf-icon small-ctf-star-w"></span></h3>
<p><a href="/follow/355979/1" target="_blank">关注<em>35</em></a><a href="/fans/355979/1" target="_blank">粉丝<em id="355979_count">44748</em></a></p>
<p><a href="/bds/355979" target="_blank">图格<em>29</em></a><a href="/profile/355979" target="_blank">收集<em>596</em></a></p>
</div>
<div class="star-profile gray">
纯视觉系动物，时而重口味，时而小清新；热爱设计，喜欢玩弄文字，坏品位犹如匕首...
</div>
<div class="hissharelist"><a href="/share/4166166" target="_blank"><img src="http://b1.imimg.cn/20120702/7604/df06/43860362117.3.60.60.jpg" /></a><a href="/share/4166131" target="_blank"><img src="http://b4.imimg.cn/20120702/5db0/740e/43727780423.3.60.60.jpg" /></a><a href="/share/4166081" target="_blank"><img src="http://b8.imimg.cn/20120702/2f70/a1bc/43544530243.3.60.60.jpg" /></a><a href="/share/4166025" target="_blank"><img src="http://b5.imimg.cn/20120702/794e/b920/43385046446.3.60.60.jpg" /></a><a href="/share/4166016" target="_blank"><img src="http://b1.imimg.cn/20120702/9392/1f1a/43358661773.3.60.60.jpg" /></a></div>
</li>




<li>

<div class="star-head"><a href="/profile/959462" usercard="959462"  havecard="1" target="_blank"><img src="http://b5.imimg.cn/20120628/8a78/5f44/91962276393.2.60.60.jpg" title="Jacob周"/></a></div>
<div class="star-info">
<h3>





<a class="hotbutton follow-btn" href="###" id="959462" followed="959462" follow="false">关注</a>


<a href="/profile/959462" usercard="959462"  havecard="1" target="_blank" title="Jacob周">
Jacob周
</a><span class="ctf-icon small-ctf-star-w"></span></h3>
<p><a href="/follow/959462/1" target="_blank">关注<em>5</em></a><a href="/fans/959462/1" target="_blank">粉丝<em id="959462_count">10954</em></a></p>
<p><a href="/bds/959462" target="_blank">图格<em>5</em></a><a href="/profile/959462" target="_blank">收集<em>74</em></a></p>
</div>
<div class="star-profile gray">
多重身份的O型血天秤座，游走在各种话题边缘的伪80后。十年服装公司摸爬滚打，...
</div>
<div class="hissharelist"><a href="/share/5182590" target="_blank"><img src="http://b1.imimg.cn/20120722/3254/15cc/33315173552.3.60.60.jpg" /></a><a href="/share/5181404" target="_blank"><img src="http://b7.imimg.cn/20120722/7de8/e76a/32267075645.3.60.60.jpg" /></a><a href="/share/5172795" target="_blank"><img src="http://b8.imimg.cn/20120722/9906/3dba/23441294922.3.60.60.jpg" /></a><a href="/share/5172580" target="_blank"><img src="http://b0.imimg.cn/20120722/bfae/29fe/23215444926.3.60.60.jpg" /></a><a href="/share/5170123" target="_blank"><img src="http://b3.imimg.cn/20120722/b20e/4244/20374685544.3.60.60.jpg" /></a></div>
</li>




<li>

<div class="star-head"><a href="/profile/451762" usercard="451762"  havecard="1" target="_blank"><img src="http://b3.imimg.cn/20120410/ee4e/b138/78119604546.2.60.60.jpg" title="文艺青年CharlotteChiang"/></a></div>
<div class="star-info">
<h3>





<a class="hotbutton follow-btn" href="###" id="451762" followed="451762" follow="false">关注</a>


<a href="/profile/451762" usercard="451762"  havecard="1" target="_blank" title="文艺青年CharlotteChiang">
文艺青年Cha...
</a><span class="ctf-icon small-ctf-star-w"></span></h3>
<p><a href="/follow/451762/1" target="_blank">关注<em>1</em></a><a href="/fans/451762/1" target="_blank">粉丝<em id="451762_count">5732</em></a></p>
<p><a href="/bds/451762" target="_blank">图格<em>8</em></a><a href="/profile/451762" target="_blank">收集<em>116</em></a></p>
</div>
<div class="star-profile gray">
90后Macau大学生，热爱与时尚沾边的一切，服装设计中毒者，鞋控，典型以画...
</div>
<div class="hissharelist"><a href="/share/4907340" target="_blank"><img src="http://b7.imimg.cn/20120718/cb2e/b330/41824490620.3.60.60.jpg" /></a><a href="/share/4907304" target="_blank"><img src="http://b6.imimg.cn/20120718/665c/d872/41782560546.3.60.60.jpg" /></a><a href="/share/4907298" target="_blank"><img src="http://b0.imimg.cn/20120718/57f0/4566/41774683048.3.60.60.jpg" /></a><a href="/share/4907275" target="_blank"><img src="http://b4.imimg.cn/20120718/c8b8/ef14/41753429520.3.60.60.jpg" /></a><a href="/share/4907246" target="_blank"><img src="http://b4.imimg.cn/20120718/1b06/3b2c/41728073010.3.60.60.jpg" /></a></div>
</li>




<li>

<div class="star-head"><a href="/profile/1317348" usercard="1317348"  havecard="1" target="_blank"><img src="http://b3.imimg.cn/20120720/5460/416e/68937153377.2.60.60.jpg" title="斯佳丽-T"/></a></div>
<div class="star-info">
<h3>





<a class="hotbutton follow-btn" href="###" id="1317348" followed="1317348" follow="false">关注</a>


<a href="/profile/1317348" usercard="1317348"  havecard="1" target="_blank" title="斯佳丽-T">
斯佳丽-T
</a><span class="ctf-icon small-ctf-star-w"></span></h3>
<p><a href="/follow/1317348/1" target="_blank">关注<em>18</em></a><a href="/fans/1317348/1" target="_blank">粉丝<em id="1317348_count">5608</em></a></p>
<p><a href="/bds/1317348" target="_blank">图格<em>8</em></a><a href="/profile/1317348" target="_blank">收集<em>128</em></a></p>
</div>
<div class="star-profile gray">
射手座美食家一枚，酷爱和吃有关的一切！下厨房认证厨师，新浪美食名博主。
</div>
<div class="hissharelist"><a href="/share/5238505" target="_blank"><img src="http://b0.imimg.cn/20120723/a164/c798/19201927162.3.60.60.jpg" /></a><a href="/share/5238087" target="_blank"><img src="http://b8.imimg.cn/20120723/c430/475c/18807031295.3.60.60.jpg" /></a><a href="/share/5237790" target="_blank"><img src="http://b1.imimg.cn/20120723/93ac/bbaa/18464031425.3.60.60.jpg" /></a><a href="/share/5237589" target="_blank"><img src="http://b0.imimg.cn/20120723/469a/ae28/18381446343.3.60.60.jpg" /></a><a href="/share/5237494" target="_blank"><img src="http://b2.imimg.cn/20120723/a13e/8ce8/18286035507.3.60.60.jpg" /></a></div>
</li>




<li>

<div class="star-head"><a href="/profile/1290314" usercard="1290314"  havecard="1" target="_blank"><img src="http://b0.imimg.cn/20120717/2aa8/53f6/25285208612.2.60.60.jpg" title="周璟一"/></a></div>
<div class="star-info">
<h3>





<a class="hotbutton follow-btn" href="###" id="1290314" followed="1290314" follow="false">关注</a>


<a href="/profile/1290314" usercard="1290314"  havecard="1" target="_blank" title="周璟一">
周璟一
</a><span class="ctf-icon small-ctf-star-w"></span></h3>
<p><a href="/follow/1290314/1" target="_blank">关注<em>2</em></a><a href="/fans/1290314/1" target="_blank">粉丝<em id="1290314_count">7465</em></a></p>
<p><a href="/bds/1290314" target="_blank">图格<em>7</em></a><a href="/profile/1290314" target="_blank">收集<em>109</em></a></p>
</div>
<div class="star-profile gray">
纠结滴天秤座，深度宅女，动漫迷、美剧迷。虽然长的不萌，但是喜欢一切萌的事物，...
</div>
<div class="hissharelist"><a href="/share/5155034" target="_blank"><img src="http://b1.imimg.cn/20120721/c64c/5a14/83125313060.3.60.60.jpg" /></a><a href="/share/5155015" target="_blank"><img src="http://b8.imimg.cn/20120721/9b08/e1bc/83081277731.3.60.60.jpg" /></a><a href="/share/5154986" target="_blank"><img src="http://b2.imimg.cn/20120721/9d88/9eb8/83053622577.3.60.60.jpg" /></a><a href="/share/5154501" target="_blank"><img src="http://b8.imimg.cn/20120721/8e62/4f3e/82239526759.3.60.60.jpg" /></a><a href="/share/5154487" target="_blank"><img src="http://b0.imimg.cn/20120721/cc0c/a0e6/82223380291.3.60.60.jpg" /></a></div>
</li>




<li>

<div class="star-head"><a href="/profile/1168693" usercard="1168693"  havecard="1" target="_blank"><img src="http://b0.imimg.cn/20120709/b8bc/b818/27891012979.2.60.60.jpg" title="雀斑"/></a></div>
<div class="star-info">
<h3>





<a class="hotbutton follow-btn" href="###" id="1168693" followed="1168693" follow="false">关注</a>


<a href="/profile/1168693" usercard="1168693"  havecard="1" target="_blank" title="雀斑">
雀斑
</a><span class="ctf-icon small-ctf-star-w"></span></h3>
<p><a href="/follow/1168693/1" target="_blank">关注<em>20</em></a><a href="/fans/1168693/1" target="_blank">粉丝<em id="1168693_count">10895</em></a></p>
<p><a href="/bds/1168693" target="_blank">图格<em>8</em></a><a href="/profile/1168693" target="_blank">收集<em>200</em></a></p>
</div>
<div class="star-profile gray">
身体里住着两条鱼的白羊男，做了几年的服装设计，突然想晚点起床。。。

</div>
<div class="hissharelist"><a href="/share/5197760" target="_blank"><img src="http://b8.imimg.cn/20120722/b85c/7796/49476693224.3.60.60.jpg" /></a><a href="/share/5197733" target="_blank"><img src="http://b7.imimg.cn/20120722/a030/74a4/49446077872.3.60.60.jpg" /></a><a href="/share/5197712" target="_blank"><img src="http://b1.imimg.cn/20120722/7a02/5f44/49426965145.3.60.60.jpg" /></a><a href="/share/5197689" target="_blank"><img src="http://b7.imimg.cn/20120722/15f0/ca1e/49392622321.3.60.60.jpg" /></a><a href="/share/5197679" target="_blank"><img src="http://b3.imimg.cn/20120722/bf80/7686/49363214615.3.60.60.jpg" /></a></div>
</li>



<li class="noborder">


<div class="star-head"><a href="/profile/1080292" usercard="1080292"  havecard="1" target="_blank"><img src="http://b2.imimg.cn/20120704/be7e/8718/80586130700.2.60.60.jpg" title="乐我"/></a></div>
<div class="star-info">
<h3>





<a class="hotbutton follow-btn" href="###" id="1080292" followed="1080292" follow="false">关注</a>


<a href="/profile/1080292" usercard="1080292"  havecard="1" target="_blank" title="乐我">
乐我
</a><span class="ctf-icon small-ctf-star-w"></span></h3>
<p><a href="/follow/1080292/1" target="_blank">关注<em>13</em></a><a href="/fans/1080292/1" target="_blank">粉丝<em id="1080292_count">10830</em></a></p>
<p><a href="/bds/1080292" target="_blank">图格<em>10</em></a><a href="/profile/1080292" target="_blank">收集<em>117</em></a></p>
</div>
<div class="star-profile gray">
擅长各种手工，没事喜欢做点儿东西的水瓶座。希望按照自己喜欢的方式生活，希望每...
</div>
<div class="hissharelist"><a href="/share/4230761" target="_blank"><img src="http://b7.imimg.cn/20120704/7d18/16f8/84099004059.3.60.60.jpg" /></a><a href="/share/4230684" target="_blank"><img src="http://b8.imimg.cn/20120704/374a/47e0/84084576336.3.60.60.jpg" /></a><a href="/share/4230624" target="_blank"><img src="http://b4.imimg.cn/20120704/dd26/5dde/84058768269.3.60.60.jpg" /></a><a href="/share/4230467" target="_blank"><img src="http://b5.imimg.cn/20120704/48be/bbb8/83970434841.3.60.60.jpg" /></a><a href="/share/4230461" target="_blank"><img src="http://b1.imimg.cn/20120704/dec0/7378/83961643143.3.60.60.jpg" /></a></div>
</li>

</ul>
<div class="star-button">

<a href="javascript:;" class="btn-xlarge-follow" id="allFollows">一键关注全部</a>


</div>
<div class="page">
<div class='paddinttop page'><span class='prev'><em>&laquo;</em></span><a class='default' href='javascript:;'><em>1</em></a><a href='/certify/person/2'><em>2</em></a><a href='/certify/person/3'><em>3</em></a>&nbsp;...&nbsp;<a href='/certify/person/13'><em>13</em></a><a href='/certify/person/2' class='next'><em>&raquo;</em></a></div>
</div>
</div>
</div>
</div>
<script type="text/javascript">
<% content_for :butt2 do %>
followAllFollows = function(){
if(jQuery('#jquery-certufyPerson .hotbutton[follow|=false]').size()>0){
jQuery("#allFollows").text("一键关注全部");
jQuery("#allFollows").removeClass();
jQuery("#allFollows").addClass("btn-xlarge-follow");
}
}
unfollowAllFollows = function(){
if(jQuery('#jquery-certufyPerson .hotbutton[follow|=false]').size()==0){
jQuery("#allFollows").text("已关注");
jQuery("#allFollows").removeClass();
jQuery("#allFollows").addClass("btn-xlarge-unfollow");
}
}
followCkeck=function (id,className,type,postUrl){
if(type == 1){
im.window.confirm(jQuery("#"+id),"确认取消关注吗?",function(){
jQuery.ajax({
type : "POST",
url : postUrl,
dataType:"json",
success : function(data) {
jQuery("#"+id).text("关注");
jQuery("#"+id).removeClass();
jQuery("#"+id).addClass(className);
jQuery("#"+id).attr("follow",false);
jQuery("#"+id+"_count").text(parseInt(jQuery("#"+id+"_count").text())-1);
followAllFollows();
}
});
});
}else{
jQuery.ajax({
type : "POST",
url : postUrl,
dataType:"json",
success : function(data) {
jQuery("#"+id).text("已关注");
jQuery("#"+id).removeClass();
jQuery("#"+id).addClass(className);
jQuery("#"+id).attr("follow",true);
jQuery("#"+id+"_count").text(parseInt(jQuery("#"+id+"_count").text())+1);
unfollowAllFollows();
}
});
}
}
jQuery('#jquery-certufyPersonCu .hotbutton').live("click",function(){
var loginUserId = <%=raw current_user ? current_user.id.to_s.to_json : 0 %>;
if (loginUserId == 0) {
var _path = window.location.pathname;
var flag = consts("REGIST_TYPE_STATION_GET");
window.location.href= "/login"+"?flag="+flag+"&p="+_path;
return;
}
var follow = jQuery(this).attr("follow");
var followed = jQuery(this).attr("followed");
var isMe = true;
if(isMe){
return;
}
if(eval(follow) == true){
postUrl = uri("URI_FANS_UNFOLLOW_USER", jQuery(this).attr("followed"));			
}else{
postUrl = uri("URI_FANS_ADD_FOLLOW_USER", jQuery(this).attr("followed"));
}
if(eval(follow) == true){
followCkeck(jQuery(this).attr("id"),"hotbutton follow-btn",1,postUrl);
} else {
followCkeck(jQuery(this).attr("id"),"hotbutton unfollow-btn",2,postUrl);
}
});
jQuery("#allFollows").live("click",function(){
jQuery('#jquery-certufyPerson .hotbutton[follow|=false]').click();
jQuery("#allFollows").text("已关注");
jQuery("#allFollows").removeClass();
jQuery("#allFollows").addClass("btn-xlarge-unfollow");
});
jQuery('#jquery-certufyPerson .hotbutton').live("click",function(){
var loginUserId = <%=raw current_user ? current_user.id.to_s.to_json : 0 %>;
if (loginUserId == 0) {
var _path = window.location.pathname;
var flag = consts("REGIST_TYPE_STATION_GET");
window.location.href= "/login"+"?flag="+flag+"&p="+_path;
return;
}
var follow = jQuery(this).attr("follow");
var followed = jQuery(this).attr("followed");
var isMe = true;
if(isMe){
return;
}
if(eval(follow) == true){
postUrl = uri("URI_FANS_UNFOLLOW_USER", followed);			
}else{
postUrl = uri("URI_FANS_ADD_FOLLOW_USER", followed);
}
if(eval(follow) == true){
followCkeck(followed,"hotbutton follow-btn",1,postUrl);
} else {
followCkeck(followed,"hotbutton unfollow-btn",2,postUrl);
}
});
<% end %>
</script>

</div>
<div style="width:100%;height:50px"></div>
<%= render file:'/application/footers/_zm_footer' %>
