<%= render :partial => 'content_above' %>
	<div id="mainbar-full" class="user-show-new">
		<div class="subheader">
      <h1 id="user-displayname"><%= name_beautify @user.name %></h1>
			<span class="toggle-summary-wrap"><a class="toggle-summary">less info</a></span>
			<div class="sub-header-links fr">
				<a href="http://meta.skeptics.stackexchange.com/users/23/oddthinking">
				<img src="http://cdn.sstatic.net/skepticsmeta/img/favicon.ico" alt="meta site favicon">
				meta user </a>
				<span class="lsep">|</span>
				<a href="http://stackexchange.com/users/5093/oddthinking">
				<img src="http://cdn.sstatic.net/stackexchange/img/favicon.ico" alt="stack exchange network profile">
				network profile </a>
			</div>
		</div>
		<div id="user-info-container" style="height: auto; ">
			<div id="large-user-info" class="user-header" style="display: block; ">
				<div class="user-header-left">
					<div class="gravatar">
						<a href="/users/<%= @user.id %>">
						<div class="">
							<img src="<%=dz_avatar_url(@user.id,@user.email,:big)%>" alt="" width="200" height="200" class="logo">
						</div>
						</a>
						<div class="reputation">
							<span>
							<a href="/users/23/oddthinking?tab=reputation">27,939</a>
							</span>
							reputation
						</div>
						<div class="badges">
							<span><span title="3 gold badges"><span class="badge1"></span><span class="badgecount">3</span></span><span title="89 silver badges"><span class="badge2"></span><span class="badgecount">89</span></span><span title="161 bronze badges"><span class="badge3"></span><span class="badgecount">161</span></span></span>
						</div>
					</div>
					<div class="data">
						<table>
						<tbody>
						<tr>
							<th>
								bio
							</th>
							<td>
								website
							</td>
							<td>
								<a href="http://www.somethinkodd.com/oddthinking" rel="me" class="url">somethinkodd.com/oddthinking</a>
							</td>
						</tr>
						<tr>
							<th>
							</th>
							<td>
								location
							</td>
							<td class="label adr">
								Sydney, Australia
							</td>
						</tr>
						<tr>
							<th>
							</th>
							<td>
								age
							</td>
							<td>
							</td>
						</tr>
						</tbody>
						<tbody>
						<tr>
							<th>
								visits
							</th>
							<td>
								member for
							</td>
							<td class="cool" title="2011-02-24 23:34:43Z">
								1 year, 7 months
							</td>
						</tr>
						<tr>
							<th>
							</th>
							<td>
								seen
							</td>
							<td class="supernova" title="2012-10-15 01:49:56Z">
								<span title="2012-10-15 01:49:56Z" class="relativetime">50 mins ago</span>
							</td>
						</tr>
						</tbody>
						<tbody>
						<tr>
							<th>
								stats
							</th>
							<td>
								profile views
							</td>
							<td>
								1,489
							</td>
						</tr>
						</tbody>
						</table>
					</div>
				</div>
				<div class="user-about-me note">
					<p>
						I'm a software developer (currently focused on Python), living in Australia (currently focused on Sydney).
					</p>
					<p>
						I am a former Pro Tem Moderator of Skeptics.SE, but I handed in my diamond when the first elections were held. Now I can say what I like and no-one needs to listen. :-)
					</p>
				</div>
				<br class="clear">
			</div>
			<div id="small-user-info" class="user-header user-header-slim" style="display: none; ">
				<div class="data">
					<table>
					<tbody>
					<tr>
						<td rowspan="2" class="gravatar-cell">
							<div class="gravatar">
								<a href="http://skeptics.stackexchange.com/users/23/oddthinking">
								<div class="">
									<img src="http://www.gravatar.com/avatar/9a51b486fec41adca6738d37f0d9cb3a?s=42&amp;d=identicon&amp;r=PG" alt="" width="42" height="42" class="logo">
								</div>
								</a>
							</div>
						</td>
						<td>
							<div class="reputation">
								<span class="reputation-score">27,939</span> reputation
							</div>
						</td>
						<th>
							bio
						</th>
						<td>
							website
						</td>
						<td>
							<a href="http://www.somethinkodd.com/oddthinking" rel="me" class="url">somethinkodd.com/oddthinking</a>
						</td>
						<th>
							visits
						</th>
						<td>
							member for
						</td>
						<td class="cool" title="2011-02-24 23:34:43Z">
							1 year, 7 months
						</td>
					</tr>
					<tr>
						<td>
							<div class="badges">
								<span><span title="3 gold badges"><span class="badge1"></span><span class="badgecount">3</span></span><span title="89 silver badges"><span class="badge2"></span><span class="badgecount">89</span></span><span title="161 bronze badges"><span class="badge3"></span><span class="badgecount">161</span></span></span> badges
							</div>
						</td>
						<th>
						</th>
						<td>
							location
						</td>
						<td class="label adr">
							Sydney, Australia
						</td>
						<th>
						</th>
						<td>
							seen
						</td>
						<td class="supernova" title="2012-10-15 01:49:56Z">
							<span title="2012-10-15 01:49:56Z" class="relativetime">50 mins ago</span>
						</td>
					</tr>
					</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="subheader user-tabs-nav">
			<div id="tabs">
				<a class="youarehere" href="/users/23/oddthinking?tab=summary" title="this user's overall summary">
				summary </a>
				<a href="/users/23/oddthinking?tab=answers" title="answers this user has provided">
				answers </a>
				<a href="/users/23/oddthinking?tab=questions" title="questions this user has asked">
				questions </a>
				<a href="/users/23/oddthinking?tab=tags" title="tags this user has posts in">
				tags </a>
				<a href="/users/23/oddthinking?tab=badges" title="badges this user has earned">
				badges </a>
				<a href="/users/23/oddthinking?tab=favorites" title="questions this user has favorited">
				favorites </a>
				<a href="/users/23/oddthinking?tab=bounties" title="bounties this user has participated in">
				bounties </a>
				<a href="/users/23/oddthinking?tab=reputation" title="reputation this user has earned">
				reputation </a>
				<a href="/users/23/oddthinking?tab=activity" title="this user's recent activity">
				activity </a>
			</div>
		</div>
		<div>
			<div id="user-panel-answers" class="user-panel user-panel-left">
				<div class="subheader">
					<h1><a href="/users/23/oddthinking?tab=answers">
					<span class="count">266</span> Answers </a></h1>
					<div class="subtabs user-panel-subtabs">
						<a href="javascript:void(0)" class="youarehere">votes</a>
						<a href="javascript:void(0)">activity</a>
						<a href="javascript:void(0)">newest</a>
					</div>
				</div>
				<div class="user-panel-content">
					<table class="user-answers lines">
					<tbody>
					<tr>
						<td class="count-cell">
							<div class="mini-counts answered-accepted">
								59
							</div>
						</td>
						<td class="answer-hyperlink" title="Were children safer in the good old days?">
							<a href="/questions/8033/were-children-safer-in-the-good-old-days/9469#9469" class="answer-hyperlink ">Were children safer in the good old days?</a>
						</td>
					</tr>
					<tr>
						<td class="count-cell">
							<div class="mini-counts">
								44
							</div>
						</td>
						<td class="answer-hyperlink" title="Does a webpage with a black background save energy?">
							<a href="/questions/4373/does-a-webpage-with-a-black-background-save-energy/4379#4379" class="answer-hyperlink ">Does a webpage with a black background save energy?</a>
						</td>
					</tr>
					<tr>
						<td class="count-cell">
							<div class="mini-counts answered-accepted">
								42
							</div>
						</td>
						<td class="answer-hyperlink" title="Does the Pepsi brand name stand for &quot;pay every penny to save Israel&quot;?">
							<a href="/questions/8493/does-the-pepsi-brand-name-stand-for-pay-every-penny-to-save-israel/8497#8497" class="answer-hyperlink ">Does the Pepsi brand name stand for “pay every penny to save Israel”?</a>
						</td>
					</tr>
					<tr>
						<td class="count-cell">
							<div class="mini-counts answered-accepted">
								34
							</div>
						</td>
						<td class="answer-hyperlink" title="Is it impossible to fold a sheet of paper in half more than seven times?">
							<a href="/questions/5912/is-it-impossible-to-fold-a-sheet-of-paper-in-half-more-than-seven-times/5913#5913" class="answer-hyperlink ">Is it impossible to fold a sheet of paper in half more than seven times?</a>
						</td>
					</tr>
					<tr>
						<td class="count-cell">
							<div class="mini-counts answered-accepted">
								30
							</div>
						</td>
						<td class="answer-hyperlink" title="Does aloe vera help cure sunburn?">
							<a href="/questions/10005/does-aloe-vera-help-cure-sunburn/10006#10006" class="answer-hyperlink ">Does aloe vera help cure sunburn?</a>
						</td>
					</tr>
					</tbody>
					</table>
				</div>
				<div class="user-panel-footer">
					<a href="/users/23/oddthinking?tab=answers&amp;sort=votes">view more</a>
				</div>
			</div>
			<div id="user-panel-reputation" class="user-panel">
				<div class="subheader">
					<h1><a href="/users/23/oddthinking?tab=reputation">
					<span class="count">27,939</span> Reputation </a></h1>
					<div id="leagueRank">
						<a href="http://stackexchange.com/leagues/95/alltime/skeptics/2011-02-24/23#23" target="_blank">top <b>0.16%</b> overall</a>
					</div>
					<script type="text/javascript">$(function () { $("#leagueRank").addSpinner().load("/users/rank?userId=23"); });</script>
				</div>
				<div class="user-panel-content">
					<div class="user-rep-chart-summary">
						<div class="user-rep-chart-summary-bar" style="right:0px; height:34.78261%" title="Sunday, Oct 14, 2012: 40 reputation">
						</div>
						<div class="user-rep-chart-summary-bar" style="right:15.57px; height:47.82609%" title="Saturday, Oct 13, 2012: 55 reputation">
						</div>
						<div class="user-rep-chart-summary-bar" style="right:31.14px; height:39.13044%" title="Friday, Oct 12, 2012: 45 reputation">
						</div>
						<div class="user-rep-chart-summary-bar" style="right:46.71px; height:8.695652%" title="Thursday, Oct 11, 2012: 10 reputation">
						</div>
						<div class="user-rep-chart-summary-bar" style="right:62.28px; height:13.04348%" title="Wednesday, Oct 10, 2012: 15 reputation">
						</div>
						<div class="user-rep-chart-summary-bar" style="right:77.85px; height:0%" title="Tuesday, Oct 9, 2012: 0 reputation">
						</div>
						<div class="user-rep-chart-summary-bar" style="right:93.42px; height:30.43478%" title="Monday, Oct 8, 2012: 35 reputation">
						</div>
						<div class="user-rep-chart-summary-bar" style="right:108.99px; height:52.17391%" title="Sunday, Oct 7, 2012: 60 reputation">
						</div>
						<div class="user-rep-chart-summary-bar" style="right:124.56px; height:0%" title="Saturday, Oct 6, 2012: 0 reputation">
						</div>
						<div class="user-rep-chart-summary-bar" style="right:140.13px; height:34.78261%" title="Friday, Oct 5, 2012: 40 reputation">
						</div>
						<div class="user-rep-chart-summary-bar" style="right:155.7px; height:17.3913%" title="Thursday, Oct 4, 2012: 20 reputation">
						</div>
						<div class="user-rep-chart-summary-bar" style="right:171.27px; height:8.695652%" title="Wednesday, Oct 3, 2012: 10 reputation">
						</div>
						<div class="user-rep-chart-summary-bar" style="right:186.84px; height:0%" title="Tuesday, Oct 2, 2012: 0 reputation">
						</div>
						<div class="user-rep-chart-summary-bar" style="right:202.41px; height:26.08696%" title="Monday, Oct 1, 2012: 30 reputation">
						</div>
						<div class="user-rep-chart-summary-bar" style="right:217.98px; height:26.08696%" title="Sunday, Sep 30, 2012: 30 reputation">
						</div>
						<div class="user-rep-chart-summary-bar" style="right:233.55px; height:0%" title="Saturday, Sep 29, 2012: 0 reputation">
						</div>
						<div class="user-rep-chart-summary-bar" style="right:249.12px; height:0%" title="Friday, Sep 28, 2012: 0 reputation">
						</div>
						<div class="user-rep-chart-summary-bar" style="right:264.69px; height:8.695652%" title="Thursday, Sep 27, 2012: 10 reputation">
						</div>
						<div class="user-rep-chart-summary-bar" style="right:280.26px; height:73.91304%" title="Wednesday, Sep 26, 2012: 85 reputation">
						</div>
						<div class="user-rep-chart-summary-bar" style="right:295.83px; height:100%" title="Tuesday, Sep 25, 2012: 115 reputation">
						</div>
						<div class="user-rep-chart-summary-bar" style="right:311.4px; height:17.3913%" title="Monday, Sep 24, 2012: 20 reputation">
						</div>
						<div class="user-rep-chart-summary-bar" style="right:326.97px; height:0%" title="Sunday, Sep 23, 2012: 0 reputation">
						</div>
						<div class="user-rep-chart-summary-bar" style="right:342.54px; height:17.3913%" title="Saturday, Sep 22, 2012: 20 reputation">
						</div>
						<div class="user-rep-chart-summary-bar" style="right:358.11px; height:26.08696%" title="Friday, Sep 21, 2012: 30 reputation">
						</div>
						<div class="user-rep-chart-summary-bar" style="right:373.68px; height:93.91304%" title="Thursday, Sep 20, 2012: 108 reputation">
						</div>
						<div class="user-rep-chart-summary-bar" style="right:389.25px; height:43.47826%" title="Wednesday, Sep 19, 2012: 50 reputation">
						</div>
						<div class="user-rep-chart-summary-bar" style="right:404.82px; height:52.17391%" title="Tuesday, Sep 18, 2012: 60 reputation">
						</div>
						<div class="user-rep-chart-summary-bar" style="right:420.39px; height:39.13044%" title="Monday, Sep 17, 2012: 45 reputation">
						</div>
						<div class="user-rep-chart-summary-bar" style="right:435.96px; height:0%" title="Sunday, Sep 16, 2012: 0 reputation">
						</div>
						<div class="user-rep-chart-summary-bar" style="right:451.53px; height:0%" title="Saturday, Sep 15, 2012: 0 reputation">
						</div>
					</div>
					<table class="user-rep lines">
					<tbody>
					<tr>
						<td class="rep-amount count-cell">
							<span class="rep-up">+5</span>
						</td>
						<td>
							<a href="/questions/5887/is-a-proposal-to-build-an-artificial-mountain-being-seriously-considered" class="question-hyperlink">Is a proposal to build an artificial mountain being seriously considered?</a>
						</td>
					</tr>
					<tr>
						<td class="rep-amount count-cell">
							<span class="rep-up special-rep">+35</span>
						</td>
						<td>
							<a href="/questions/11217/against-the-law-to-spray-clean-not-according-to-label-directions/11250#11250" class="answer-hyperlink ">Against the law to spray-clean not according to label directions?</a>
						</td>
					</tr>
					<tr>
						<td class="rep-amount count-cell">
							<span class="rep-up special-rep">+25</span>
						</td>
						<td>
							<a href="/questions/7663/once-a-burn-has-cooled-with-water-or-not-does-further-submersion-in-cool-wate/8309#8309" class="answer-hyperlink ">Once a burn has cooled (with water or not), does further submersion in cool water help?</a>
						</td>
					</tr>
					<tr>
						<td class="rep-amount count-cell">
							<span class="rep-up">+10</span>
						</td>
						<td>
							<a href="/questions/7837/are-all-cells-of-the-human-body-completely-replaced-every-seven-to-ten-years/7843#7843" class="answer-hyperlink ">Are all cells of the human body completely replaced every seven to ten years?</a>
						</td>
					</tr>
					</tbody>
					</table>
				</div>
				<div class="user-panel-footer">
					<a href="/users/23/oddthinking?tab=reputation">view more</a>
				</div>
			</div>
			<div id="user-panel-questions" class="user-panel user-panel-left">
				<div class="subheader">
					<h1><a href="/users/23/oddthinking?tab=questions">
					<span class="count">38</span> Questions </a></h1>
					<div class="subtabs user-panel-subtabs">
						<a href="javascript:void(0)" class="youarehere">votes</a>
						<a href="javascript:void(0)">activity</a>
						<a href="javascript:void(0)">newest</a>
					</div>
				</div>
				<div class="user-panel-content">
					<table class="user-questions lines">
					<tbody>
					<tr>
						<td class="count-cell">
							<div class="mini-counts">
								34
							</div>
						</td>
						<td class="question-hyperlink" title="What is the failure rate of Solid-State Drives (SSD)?">
							<a href="/questions/7084/what-is-the-failure-rate-of-solid-state-drives-ssd" class="question-hyperlink">What is the failure rate of Solid-State Drives (SSD)?</a>
						</td>
					</tr>
					<tr>
						<td class="count-cell">
							<div class="mini-counts">
								21
							</div>
						</td>
						<td class="question-hyperlink" title="Can the Overton Window be deliberately moved by espousing extremist views?">
							<a href="/questions/5063/can-the-overton-window-be-deliberately-moved-by-espousing-extremist-views" class="question-hyperlink">Can the Overton Window be deliberately moved by espousing extremist views?</a>
						</td>
					</tr>
					<tr>
						<td class="count-cell">
							<div class="mini-counts answered-accepted">
								21
							</div>
						</td>
						<td class="question-hyperlink" title="Do &quot;sword-swallowers&quot; swallow swords?">
							<a href="/questions/7882/do-sword-swallowers-swallow-swords" class="question-hyperlink">Do “sword-swallowers” swallow swords?</a>
						</td>
					</tr>
					<tr>
						<td class="count-cell">
							<div class="mini-counts answered-accepted">
								19
							</div>
						</td>
						<td class="question-hyperlink" title="Is Colgate suppressing vaccine technology that could prevent tooth decay?">
							<a href="/questions/3300/is-colgate-suppressing-vaccine-technology-that-could-prevent-tooth-decay" class="question-hyperlink">Is Colgate suppressing vaccine technology that could prevent tooth decay? [closed]</a>
						</td>
					</tr>
					<tr>
						<td class="count-cell">
							<div class="mini-counts answered-accepted">
								19
							</div>
						</td>
						<td class="question-hyperlink" title="Did a nocebo study find that rashes could swap hands?">
							<a href="/questions/127/did-a-nocebo-study-find-that-rashes-could-swap-hands" class="question-hyperlink">Did a nocebo study find that rashes could swap hands?</a>
						</td>
					</tr>
					</tbody>
					</table>
				</div>
				<div class="user-panel-footer">
					<a href="/users/23/oddthinking?tab=questions&amp;sort=votes">view more</a>
				</div>
			</div>
			<div id="user-panel-tags" class="user-panel">
				<div class="subheader">
					<h1><a href="/users/23/oddthinking?tab=tags">
					<span class="count">221</span> Tags </a></h1>
				</div>
				<div class="user-panel-content">
					<table class="user-tags">
					<tbody>
					<tr>
						<td>
							<div class="answer-votes" title="Asked 2 non-wiki questions with a total score of 14. Answered 47 non-wiki questions with a total score of 361." onclick="window.location.href='/search?q=user:23+[medical-science]'">
								361
							</div>
							<a href="/search?q=user:23+[medical-science]" class="post-tag" title="show all posts by this user in 'medical-science'">medical-science</a>
							<span class="item-multiplier" title="50 posts in the medical-science tag"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">50</span></span>
						</td>
						<td>
							<div class="answer-votes" title="Asked 6 non-wiki questions with a total score of 56. Answered 20 non-wiki questions with a total score of 122." onclick="window.location.href='/search?q=user:23+[psychology]'">
								122
							</div>
							<a href="/search?q=user:23+[psychology]" class="post-tag" title="show all posts by this user in 'psychology'">psychology</a>
							<span class="item-multiplier" title="26 posts in the psychology tag"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">26</span></span>
						</td>
					</tr>
					<tr>
						<td>
							<div class="answer-votes" title="Asked 1 non-wiki questions with a total score of 6. Answered 22 non-wiki questions with a total score of 208." onclick="window.location.href='/search?q=user:23+[biology]'">
								208
							</div>
							<a href="/search?q=user:23+[biology]" class="post-tag" title="show all posts by this user in 'biology'">biology</a>
							<span class="item-multiplier" title="23 posts in the biology tag"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">23</span></span>
						</td>
						<td>
							<div class="answer-votes" title="Answered 13 non-wiki questions with a total score of 106." onclick="window.location.href='/search?q=user:23+[statistics]'">
								106
							</div>
							<a href="/search?q=user:23+[statistics]" class="post-tag" title="show all posts by this user in 'statistics'">statistics</a>
							<span class="item-multiplier" title="14 posts in the statistics tag"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">14</span></span>
						</td>
					</tr>
					<tr>
						<td>
							<div class="answer-votes" title="Asked 2 non-wiki questions with a total score of 9. Answered 14 non-wiki questions with a total score of 167." onclick="window.location.href='/search?q=user:23+[physics]'">
								167
							</div>
							<a href="/search?q=user:23+[physics]" class="post-tag" title="">physics</a>
							<span class="item-multiplier" title="16 posts in the physics tag"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">16</span></span>
						</td>
						<td>
							<div class="answer-votes" title="Answered 8 non-wiki questions with a total score of 106." onclick="window.location.href='/search?q=user:23+[cancer]'">
								106
							</div>
							<a href="/search?q=user:23+[cancer]" class="post-tag" title="show all posts by this user in 'cancer'">cancer</a>
							<span class="item-multiplier" title="8 posts in the cancer tag"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">8</span></span>
						</td>
					</tr>
					<tr>
						<td>
							<div class="answer-votes" title="Asked 2 non-wiki questions with a total score of 10. Answered 21 non-wiki questions with a total score of 155." onclick="window.location.href='/search?q=user:23+[nutrition]'">
								155
							</div>
							<a href="/search?q=user:23+[nutrition]" class="post-tag" title="">nutrition</a>
							<span class="item-multiplier" title="25 posts in the nutrition tag"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">25</span></span>
						</td>
						<td>
							<div class="answer-votes" title="Asked 3 non-wiki questions with a total score of 31. Answered 13 non-wiki questions with a total score of 100." onclick="window.location.href='/search?q=user:23+[history]'">
								100
							</div>
							<a href="/search?q=user:23+[history]" class="post-tag" title="show all posts by this user in 'history'">history</a>
							<span class="item-multiplier" title="16 posts in the history tag"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">16</span></span>
						</td>
					</tr>
					<tr>
						<td>
							<div class="answer-votes" title="Answered 13 non-wiki questions with a total score of 139." onclick="window.location.href='/search?q=user:23+[animals]'">
								139
							</div>
							<a href="/search?q=user:23+[animals]" class="post-tag" title="">animals</a>
							<span class="item-multiplier" title="14 posts in the animals tag"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">14</span></span>
						</td>
						<td>
							<div class="answer-votes" title="Answered 6 non-wiki questions with a total score of 95." onclick="window.location.href='/search?q=user:23+[safety]'">
								95
							</div>
							<a href="/search?q=user:23+[safety]" class="post-tag" title="show all posts by this user in 'safety'">safety</a>
							<span class="item-multiplier" title="6 posts in the safety tag"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">6</span></span>
						</td>
					</tr>
					</tbody>
					</table>
				</div>
				<div class="user-panel-footer">
					<a href="/users/23/oddthinking?tab=tags">view more</a>
				</div>
			</div>
			<div id="user-panel-accounts" class="user-panel user-panel-left">
				<div class="subheader">
					<h1><a href="http://stackexchange.com/users/5093/oddthinking?tab=accounts">
					<span class="count">31</span> Accounts </a></h1>
				</div>
				<div class="user-panel-content">
					<table class="user-accounts lines">
					<tbody>
					<tr>
						<td class="icon-cell">
							<img class="favicon" src="http://cdn.sstatic.net/skeptics/img/favicon.ico" alt="Skeptics">
						</td>
						<td>
							<a class="site-hyperlink" href="http://skeptics.stackexchange.com/users/23/">Skeptics</a>
						</td>
						<td class="reputation">
							<span class="reputation-score">27,939</span> rep
						</td>
						<td class="badges">
							<span title="3 gold badges"><span class="badge1"></span><span class="badgecount">3</span></span><span title="89 silver badges"><span class="badge2"></span><span class="badgecount">89</span></span><span title="161 bronze badges"><span class="badge3"></span><span class="badgecount">161</span></span>
						</td>
					</tr>
					<tr>
						<td class="icon-cell">
							<img class="favicon" src="http://cdn.sstatic.net/stackoverflow/img/favicon.ico" alt="Stack Overflow">
						</td>
						<td>
							<a class="site-hyperlink" href="http://stackoverflow.com/users/8014/">Stack Overflow</a>
						</td>
						<td class="reputation">
							<span class="reputation-score">7,134</span> rep
						</td>
						<td class="badges">
							<span title="3 gold badges"><span class="badge1"></span><span class="badgecount">3</span></span><span title="22 silver badges"><span class="badge2"></span><span class="badgecount">22</span></span><span title="49 bronze badges"><span class="badge3"></span><span class="badgecount">49</span></span>
						</td>
					</tr>
					<tr>
						<td class="icon-cell">
							<img class="favicon" src="/content/stackoverflowmeta/img/favicon.ico" alt="Meta Stack Overflow">
						</td>
						<td>
							<a class="site-hyperlink" href="http://meta.stackoverflow.com/users/145319/">Meta Stack Overflow</a>
						</td>
						<td class="reputation">
							<span class="reputation-score">929</span> rep
						</td>
						<td class="badges">
							<span title="4 silver badges"><span class="badge2"></span><span class="badgecount">4</span></span><span title="16 bronze badges"><span class="badge3"></span><span class="badgecount">16</span></span>
						</td>
					</tr>
					<tr>
						<td class="icon-cell">
							<img class="favicon" src="http://cdn.sstatic.net/photo/img/favicon.ico" alt="Photography">
						</td>
						<td>
							<a class="site-hyperlink" href="http://photo.stackexchange.com/users/160/">Photography</a>
						</td>
						<td class="reputation">
							<span class="reputation-score">646</span> rep
						</td>
						<td class="badges">
							<span title="3 silver badges"><span class="badge2"></span><span class="badgecount">3</span></span><span title="14 bronze badges"><span class="badge3"></span><span class="badgecount">14</span></span>
						</td>
					</tr>
					<tr>
						<td class="icon-cell">
							<img class="favicon" src="http://cdn.sstatic.net/workplace/img/favicon.ico" alt="The Workplace">
						</td>
						<td>
							<a class="site-hyperlink" href="http://workplace.stackexchange.com/users/1547/">The Workplace</a>
						</td>
						<td class="reputation">
							<span class="reputation-score">481</span> rep
						</td>
						<td class="badges">
							<span title="1 silver badge"><span class="badge2"></span><span class="badgecount">1</span></span><span title="4 bronze badges"><span class="badge3"></span><span class="badgecount">4</span></span>
						</td>
					</tr>
					</tbody>
					</table>
				</div>
				<div class="user-panel-footer">
					<a alt="full list of accounts" href="http://stackexchange.com/users/5093/oddthinking?tab=accounts">
					<img src="http://cdn.sstatic.net/stackexchange/img/favicon.ico" alt="stack exchange network profile">
					view more </a>
				</div>
			</div>
			<div id="user-panel-badges" class="user-panel">
				<div class="subheader">
					<h1><a href="/users/23/oddthinking?tab=badges">
					<span class="count">49</span> Badges </a></h1>
					<div class="subtabs user-panel-subtabs">
						<a href="javascript:void(0)" class="youarehere">recent</a>
						<a href="javascript:void(0)">class</a>
						<a href="javascript:void(0)">name</a>
					</div>
				</div>
				<div class="user-panel-content">
					<table class="user-badges">
					<tbody>
					<tr>
						<td>
							<a href="/badges/19/enlightened?userid=23" title="silver badge: First to answer and accepted with at least 10 upvotes" class="badge"><span class="badge2"></span>&nbsp;Enlightened</a>
							<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">56</span></span>
						</td>
						<td>
							<a href="/badges/88/custodian?userid=23" title="bronze badge: Completed at least one review task. This badge is awarded once per review type" class="badge"><span class="badge3"></span>&nbsp;Custodian</a>
							<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">2</span></span>
						</td>
					</tr>
					<tr>
						<td>
							<a href="/badges/23/nice-answer?userid=23" title="bronze badge: Answer score of 10 or more" class="badge"><span class="badge3"></span>&nbsp;Nice Answer</a>
							<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">94</span></span>
						</td>
						<td>
							<a href="/badges/87/psychology?userid=23" title="bronze badge: Earned 100 upvotes for at least 20 answers in the psychology tag" class="badge-tag"><span class="badge3"></span>&nbsp;psychology</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="/badges/24/good-answer?userid=23" title="silver badge: Answer score of 25 or more" class="badge"><span class="badge2"></span>&nbsp;Good Answer</a>
							<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">12</span></span>
						</td>
						<td>
							<a href="/badges/86/nutrition?userid=23" title="bronze badge: Earned 100 upvotes for at least 20 answers in the nutrition tag" class="badge-tag"><span class="badge3"></span>&nbsp;nutrition</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="/badges/26/popular-question?userid=23" title="bronze badge: Asked a question with 1,000 views" class="badge"><span class="badge3"></span>&nbsp;Popular Question</a>
							<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">6</span></span>
						</td>
						<td>
							<a href="/badges/17/necromancer?userid=23" title="silver badge: Answered a question more than 60 days later with score of 5 or more" class="badge"><span class="badge2"></span>&nbsp;Necromancer</a>
							<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">7</span></span>
						</td>
					</tr>
					<tr>
						<td>
							<a href="/badges/27/notable-question?userid=23" title="silver badge: Asked a question with 2,500 views" class="badge"><span class="badge2"></span>&nbsp;Notable Question</a>
							<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">2</span></span>
						</td>
						<td>
							<a href="/badges/64/revival?userid=23" title="bronze badge: Answered more than 30 days later as first answer scoring 2 or more" class="badge"><span class="badge3"></span>&nbsp;Revival</a>
							<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">14</span></span>
						</td>
					</tr>
					</tbody>
					</table>
				</div>
				<div class="user-panel-footer">
					<a href="/users/23/oddthinking?tab=badges&amp;sort=recent">view more</a>
				</div>
			</div>
			<div id="user-panel-bounties" class="user-panel user-panel-left">
				<div class="subheader">
					<h1><a href="/users/23/oddthinking?tab=bounties">
					<span class="count">0</span> Active bounties</a></h1>
					<div class="subtabs user-panel-subtabs">
						<a href="javascript:void(0)" class="youarehere">active</a>
						<a href="javascript:void(0)">offered</a>
						<a href="javascript:void(0)">earned</a>
					</div>
				</div>
				<div class="user-panel-content">
					<div class="empty">
						This user has no active <a href="/faq#bounty">bounties</a>
					</div>
				</div>
				<div class="user-panel-footer">
				</div>
			</div>
			<div id="user-panel-votes" class="user-panel">
				<div class="subheader">
					<h1>
					<span class="count">1,648</span> Votes Cast </h1>
				</div>
				<div class="user-panel-content">
					<table class="votes-cast-stats">
					<thead>
					<tr>
						<th colspan="2">
							all time
						</th>
						<th class="spacer">
							&nbsp;
						</th>
						<th colspan="2">
							by type
						</th>
						<th class="spacer">
							&nbsp;
						</th>
						<th>
							month
						</th>
						<th class="spacer">
							&nbsp;
						</th>
						<th>
							week
						</th>
						<th class="spacer">
							&nbsp;
						</th>
						<th>
							day
						</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>
							1,037
						</td>
						<td class="desc">
							up
						</td>
						<td>
						</td>
						<td>
							404
						</td>
						<td class="desc">
							question
						</td>
						<td>
						</td>
						<td rowspan="2" class="span">
							18
						</td>
						<td>
						</td>
						<td rowspan="2" class="span">
							4
						</td>
						<td>
						</td>
						<td rowspan="2" class="span">
							1
						</td>
					</tr>
					<tr>
						<td>
							611
						</td>
						<td class="desc">
							down
						</td>
						<td>
						</td>
						<td>
							1,244
						</td>
						<td class="desc">
							answer
						</td>
						<td>
						</td>
					</tr>
					</tbody>
					</table>
				</div>
				<div class="user-panel-footer">
				</div>
			</div>
		</div>
		<div id="feed-link">
			<div id="feed-link-text">
				<a href="/feeds/user/23" title="feed of the 30 latest questions, answers, and comments from this user"><span class="feed-icon"></span>user feed</a>
			</div>
		</div>
	</div>
	<script type="text/javascript">
StackExchange.ready(function(){$.get('/users/ivc/23/31b5');});
	</script>
	<noscript>
	 &lt;div&gt;&lt;img src="/users/ivc/23/31b5" class="dno" alt="" width="0" height="0"&gt;&lt;/div&gt;
	</noscript>
<%= render :partial => 'content_below' %>

