<% content_for :armpit do %>
  <%= stylesheet_link_tag "ktv/__zm_dar.css", :media => "all" %>
<% end %>
<% content_for :body_style do %>background: none repeat scroll 0 0 #F0EEEE<% end %>
<%= render file:'/application/headers/_zm_header' %>

<div class="__zm">
<div id="wrapper">
<div id="content" class="cf" style="box-shadow:none;background:none;overflow:visible !important;margin-top:18px">
<div class="ranking" id="jquery-certufyShopCu">
<h2 class="yahe"><span class="rankico"></span>话题排行榜</h2>
<ul class="userlist cf">


<li>
<div class="starcontainer cf">
<a href="/profile/2" usercard="2"  havecard="1" target="_blank" class="avatar">

<span class="redbg">1</span>


<img src="http://b4.imimg.cn/20111108/6a73/6c6e/6d6c597a/1330066346793.0614.60.60.jpg" title="课件交流系统" />
</a>
<p class="profile">
<a class="username" href="/profile/2" usercard="2"  havecard="1" target="_blank" title="课件交流系统">

课件交流系统


</a><br />
<a href="/fans/2/1"  class="number" target="_blank"><span id="cu_2_count">167703</span>人关注</a><br />




<a class="hotbutton follow-btn" href="###" id="cu_2" followed="2" follow="false">关注</a>


</p>
</div>
<div class="rk-profile">

课件交流系统官方帐号。


</div>
</li>


<li>
<div class="starcontainer cf">
<a href="/profile/1090953" usercard="1090953"  havecard="1" target="_blank" class="avatar">

<span class="redbg">2</span>


<img src="http://b8.imimg.cn/20120704/1d06/25ae/95547461805.2.60.60.jpg" title="阿迪达斯中国" />
</a>
<p class="profile">
<a class="username" href="/profile/1090953" usercard="1090953"  havecard="1" target="_blank" title="阿迪达斯中国">


阿迪达..

</a><br />
<a href="/fans/1090953/1"  class="number" target="_blank"><span id="cu_1090953_count">11328</span>人关注</a><br />




<a class="hotbutton follow-btn" href="###" id="cu_1090953" followed="1090953" follow="false">关注</a>


</p>
</div>
<div class="rk-profile">


阿迪达斯（adida..

</div>
</li>


<li>
<div class="starcontainer cf">
<a href="/profile/12985" usercard="12985"  havecard="1" target="_blank" class="avatar">

<span class="redbg">3</span>


<img src="http://b8.imimg.cn/20111127/6c73/6a62/636d597a/1330501379464.5037.60.60.jpg" title="玛姬妆品沙龙" />
</a>
<p class="profile">
<a class="username" href="/profile/12985" usercard="12985"  havecard="1" target="_blank" title="玛姬妆品沙龙">


玛姬妆..

</a><br />
<a href="/fans/12985/1"  class="number" target="_blank"><span id="cu_12985_count">3508</span>人关注</a><br />




<a class="hotbutton follow-btn" href="###" id="cu_12985" followed="12985" follow="false">关注</a>


</p>
</div>
<div class="rk-profile">


M小姐妆品店是主要经..

</div>
</li>


<li>
<div class="starcontainer cf">
<a href="/profile/356428" usercard="356428"  havecard="1" target="_blank" class="avatar">


<span>4</span>

<img src="http://b3.imimg.cn/20120405/7ab2/dde4/71400924378.2.60.60.jpg" title="有男度" />
</a>
<p class="profile">
<a class="username" href="/profile/356428" usercard="356428"  havecard="1" target="_blank" title="有男度">

有男度


</a><br />
<a href="/fans/356428/1"  class="number" target="_blank"><span id="cu_356428_count">2492</span>人关注</a><br />




<a class="hotbutton follow-btn" href="###" id="cu_356428" followed="356428" follow="false">关注</a>


</p>
</div>
<div class="rk-profile">


【有男度】汇聚国外设..

</div>
</li>


<li>
<div class="starcontainer cf">
<a href="/profile/278747" usercard="278747"  havecard="1" target="_blank" class="avatar">


<span>5</span>

<img src="http://b4.imimg.cn/20120329/4f6e/f554/46972719704.2.60.60.jpg" title="百加得中国" />
</a>
<p class="profile">
<a class="username" href="/profile/278747" usercard="278747"  havecard="1" target="_blank" title="百加得中国">


百加得..

</a><br />
<a href="/fans/278747/1"  class="number" target="_blank"><span id="cu_278747_count">2393</span>人关注</a><br />




<a class="hotbutton follow-btn" href="###" id="cu_278747" followed="278747" follow="false">关注</a>


</p>
</div>
<div class="rk-profile">


百加得集团是全球唯一..

</div>
</li>


<li>
<div class="starcontainer cf">
<a href="/profile/147756" usercard="147756"  havecard="1" target="_blank" class="avatar">


<span>6</span>

<img src="http://b0.imimg.cn/20120305/6d73/6962/6270597a/1332738544567.7364.60.60.jpg" title="英皇珍珠" />
</a>
<p class="profile">
<a class="username" href="/profile/147756" usercard="147756"  havecard="1" target="_blank" title="英皇珍珠">

英皇珍珠


</a><br />
<a href="/fans/147756/1"  class="number" target="_blank"><span id="cu_147756_count">2380</span>人关注</a><br />




<a class="hotbutton follow-btn" href="###" id="cu_147756" followed="147756" follow="false">关注</a>


</p>
</div>
<div class="rk-profile">


时尚百搭，给爱美的女..

</div>
</li>


<li>
<div class="starcontainer cf">
<a href="/profile/15369" usercard="15369"  havecard="1" target="_blank" class="avatar">


<span>7</span>

<img src="http://b2.imimg.cn/20111130/6c73/6f6c/6870597a/1330228345578.2274.60.60.jpg" title="斯波帝卡男装" />
</a>
<p class="profile">
<a class="username" href="/profile/15369" usercard="15369"  havecard="1" target="_blank" title="斯波帝卡男装">


斯波帝..

</a><br />
<a href="/fans/15369/1"  class="number" target="_blank"><span id="cu_15369_count">2297</span>人关注</a><br />




<a class="hotbutton follow-btn" href="###" id="cu_15369" followed="15369" follow="false">关注</a>


</p>
</div>
<div class="rk-profile">


斯波帝卡男装，男人的..

</div>
</li>


<li>
<div class="starcontainer cf">
<a href="/profile/14971" usercard="14971"  havecard="1" target="_blank" class="avatar">


<span>8</span>

<img src="http://b7.imimg.cn/20111129/6973/6869/636d597a/1328163312814.1641.60.60.jpg" title="叶店" />
</a>
<p class="profile">
<a class="username" href="/profile/14971" usercard="14971"  havecard="1" target="_blank" title="叶店">

叶店


</a><br />
<a href="/fans/14971/1"  class="number" target="_blank"><span id="cu_14971_count">2176</span>人关注</a><br />




<a class="hotbutton follow-btn" href="###" id="cu_14971" followed="14971" follow="false">关注</a>


</p>
</div>
<div class="rk-profile">

外贸尖货儿宝贝聚集地


</div>
</li>


<li>
<div class="starcontainer cf">
<a href="/profile/88142" usercard="88142"  havecard="1" target="_blank" class="avatar">


<span>9</span>

<img src="http://b2.imimg.cn/20120214/6e73/6e67/676f597a/1331178438961.1783.60.60.jpg" title="蒙娜丽婷" />
</a>
<p class="profile">
<a class="username" href="/profile/88142" usercard="88142"  havecard="1" target="_blank" title="蒙娜丽婷">

蒙娜丽婷


</a><br />
<a href="/fans/88142/1"  class="number" target="_blank"><span id="cu_88142_count">1832</span>人关注</a><br />




<a class="hotbutton follow-btn" href="###" id="cu_88142" followed="88142" follow="false">关注</a>


</p>
</div>
<div class="rk-profile">

打造性感的你


</div>
</li>


<li>
<div class="starcontainer cf">
<a href="/profile/15117" usercard="15117"  havecard="1" target="_blank" class="avatar">


<span>10</span>

<img src="http://b3.imimg.cn/20111130/f34e/af86/63961283625.2.60.60.jpg" title="miuo蜜柚屋" />
</a>
<p class="profile">
<a class="username" href="/profile/15117" usercard="15117"  havecard="1" target="_blank" title="miuo蜜柚屋">


miu..

</a><br />
<a href="/fans/15117/1"  class="number" target="_blank"><span id="cu_15117_count">1793</span>人关注</a><br />




<a class="hotbutton follow-btn" href="###" id="cu_15117" followed="15117" follow="false">关注</a>


</p>
</div>
<div class="rk-profile">


富有，自由和幸福……..

</div>
</li>

</ul>
</div>
<!---------------------------------------------------------------->
<div class="shop-item cf" id="jquery-certufyShop">
<h2 class="yahe">所有话题</h2>
<!------>





<div class="userlist cf">

<div class="user">
<div class="userinfo cf">
<a class="avatar" href="/profile/1205497" usercard="1205497"  havecard="1" target="_blank"><img src="http://b5.imimg.cn/20120712/d39c/e9ba/80774825181.2.60.60.jpg" title="深旅国际旅行社海燕部" /></a>
<p class="profile">
<a class="username" usercard="1205497"  havecard="1" href="/profile/1205497" target="_blank" title="深旅国际旅行社海燕部">


深旅国..

</a><span class="ctf-icon small-ctf-w"></span><br />
<span class="star-profile">



主要从事出境、国内、港澳和..

</span>
</p>
</div>
<div class="useratten">
<a href="/follow/1205497/1" target="_blank"><span class="number">20</span><span>关注</span></a><a href="/fans/1205497/1" target="_blank"><span class="number"  id="1205497_count">17</span><span>粉丝</span></a><a href="/bds/1205497" target="_blank"><span class="number">6</span><span>图格</span></a>
</div>
<div class="user-follow">





<a class="shopCertify concern-ico" href="###" id="1205497" followed="1205497" follow="false"><em>关注</em></a>


<!-- <a follow="false" id="followBtn" class="concern-ico" href="javascript:;"><em>关注</em></a> -->
</div>
</div>
<div class="boardlist cf">

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>14</b>张</span>
<span class="t">
香港特色
</span>
</h3>
<a href="/board/1205497/6375005" target="_blank" class="boardimg"><img title="香港特色" src="http://b7.imimg.cn//20120713/ea3c/c78e/2681815984315071.jpg"></a>
</div>

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>9</b>张</span>
<span class="t">
澳门风光
</span>
</h3>
<a href="/board/1205497/6375006" target="_blank" class="boardimg"><img title="澳门风光" src="http://b6.imimg.cn//20120713/6eb4/d450/2688344218641177.jpg"></a>
</div>

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>9</b>张</span>
<span class="t">
深圳美景
</span>
</h3>
<a href="/board/1205497/6375007" target="_blank" class="boardimg"><img title="深圳美景" src="http://b6.imimg.cn//20120716/a0e8/afa0/2926444895155765.jpg"></a>
</div>

</div>
</div>




<div class="userlist cf">

<div class="user">
<div class="userinfo cf">
<a class="avatar" href="/profile/1370957" usercard="1370957"  havecard="1" target="_blank"><img src="http://b6.imimg.cn/20120720/daa4/8836/77386955064.2.60.60.jpg" title="韩国美妆网" /></a>
<p class="profile">
<a class="username" usercard="1370957"  havecard="1" href="/profile/1370957" target="_blank" title="韩国美妆网">


韩国美..

</a><span class="ctf-icon small-ctf-w"></span><br />
<span class="star-profile">



http://www.zh..

</span>
</p>
</div>
<div class="useratten">
<a href="/follow/1370957/1" target="_blank"><span class="number">28</span><span>关注</span></a><a href="/fans/1370957/1" target="_blank"><span class="number"  id="1370957_count">6</span><span>粉丝</span></a><a href="/bds/1370957" target="_blank"><span class="number">9</span><span>图格</span></a>
</div>
<div class="user-follow">





<a class="shopCertify concern-ico" href="###" id="1370957" followed="1370957" follow="false"><em>关注</em></a>


<!-- <a follow="false" id="followBtn" class="concern-ico" href="javascript:;"><em>关注</em></a> -->
</div>
</div>
<div class="boardlist cf">

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>8</b>张</span>
<span class="t">
我的美丽色彩
</span>
</h3>
<a href="/board/1370957/7174353" target="_blank" class="boardimg"><img title="我的美丽色彩" src="http://b0.imimg.cn//20120720/36f4/1810/1541854022578435.jpg"></a>
</div>

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>9</b>张</span>
<span class="t">
裸妆的秘密
</span>
</h3>
<a href="/board/1370957/7174354" target="_blank" class="boardimg"><img title="裸妆的秘密" src="http://b5.imimg.cn//20120720/1ba8/2974/1542213283367051.jpg"></a>
</div>

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>9</b>张</span>
<span class="t">
完美卸载不残留
</span>
</h3>
<a href="/board/1370957/7174355" target="_blank" class="boardimg"><img title="完美卸载不残留" src="http://b1.imimg.cn//20120720/6640/84c6/1542931738984574.jpg"></a>
</div>

</div>
</div>




<div class="userlist cf">

<div class="user">
<div class="userinfo cf">
<a class="avatar" href="/profile/1329109" usercard="1329109"  havecard="1" target="_blank"><img src="http://b6.imimg.cn/20120719/145a/5f58/78185567637.2.60.60.jpg" title="abfab时尚" /></a>
<p class="profile">
<a class="username" usercard="1329109"  havecard="1" href="/profile/1329109" target="_blank" title="abfab时尚">


abf..

</a><span class="ctf-icon small-ctf-w"></span><br />
<span class="star-profile">



abfab，Absolut..

</span>
</p>
</div>
<div class="useratten">
<a href="/follow/1329109/1" target="_blank"><span class="number">20</span><span>关注</span></a><a href="/fans/1329109/1" target="_blank"><span class="number"  id="1329109_count">7</span><span>粉丝</span></a><a href="/bds/1329109" target="_blank"><span class="number">5</span><span>图格</span></a>
</div>
<div class="user-follow">





<a class="shopCertify concern-ico" href="###" id="1329109" followed="1329109" follow="false"><em>关注</em></a>


<!-- <a follow="false" id="followBtn" class="concern-ico" href="javascript:;"><em>关注</em></a> -->
</div>
</div>
<div class="boardlist cf">

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>25</b>张</span>
<span class="t">
美女风格本
</span>
</h3>
<a href="/board/1329109/7016895" target="_blank" class="boardimg"><img title="美女风格本" src="http://b7.imimg.cn//20120719/ab90/9ada/1465987961763189.jpg"></a>
</div>

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>18</b>张</span>
<span class="t">
abfab型男潮物
</span>
</h3>
<a href="/board/1329109/7016896" target="_blank" class="boardimg"><img title="abfab型男潮物" src="http://b3.imimg.cn//20120719/41de/a8ce/1458190989263403.jpg"></a>
</div>

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>9</b>张</span>
<span class="t">
色男女
</span>
</h3>
<a href="/board/1329109/7016897" target="_blank" class="boardimg"><img title="色男女" src="http://b5.imimg.cn//20120719/a21a/9454/3205631247797297.jpg"></a>
</div>

</div>
</div>




<div class="userlist cf">

<div class="user">
<div class="userinfo cf">
<a class="avatar" href="/profile/1304456" usercard="1304456"  havecard="1" target="_blank"><img src="http://b4.imimg.cn/20120719/97a6/a4b2/68031612411.2.60.60.jpg" title="梦舒雅专卖" /></a>
<p class="profile">
<a class="username" usercard="1304456"  havecard="1" href="/profile/1304456" target="_blank" title="梦舒雅专卖">


梦舒雅..

</a><span class="ctf-icon small-ctf-w"></span><br />
<span class="star-profile">



郑州麦裤服饰有限公司，领秀..

</span>
</p>
</div>
<div class="useratten">
<a href="/follow/1304456/1" target="_blank"><span class="number">2</span><span>关注</span></a><a href="/fans/1304456/1" target="_blank"><span class="number"  id="1304456_count">11</span><span>粉丝</span></a><a href="/bds/1304456" target="_blank"><span class="number">5</span><span>图格</span></a>
</div>
<div class="user-follow">





<a class="shopCertify concern-ico" href="###" id="1304456" followed="1304456" follow="false"><em>关注</em></a>


<!-- <a follow="false" id="followBtn" class="concern-ico" href="javascript:;"><em>关注</em></a> -->
</div>
</div>
<div class="boardlist cf">

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>0</b>张</span>
<span class="t">
2012冬季新款
</span>
</h3>
<a href="/board/1304456/6926129" target="_blank" class="boardimg"><img title="2012冬季新款" src="http://b0.imimg.cn/tmp/board_thumb.jpg"></a>
</div>

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>9</b>张</span>
<span class="t">
牛仔面料
</span>
</h3>
<a href="/board/1304456/6926139" target="_blank" class="boardimg"><img title="牛仔面料" src="http://b2.imimg.cn//20120719/8784/6d40/3186447795016688.jpg"></a>
</div>

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>10</b>张</span>
<span class="t">
七分裤
</span>
</h3>
<a href="/board/1304456/6988746" target="_blank" class="boardimg"><img title="七分裤" src="http://b4.imimg.cn//20120720/da72/f15e/1531279781624851.jpg"></a>
</div>

</div>
</div>




<div class="userlist cf">

<div class="user">
<div class="userinfo cf">
<a class="avatar" href="/profile/1305584" usercard="1305584"  havecard="1" target="_blank"><img src="http://b6.imimg.cn/20120718/c910/dcf2/5672585942.2.60.60.jpg" title="LYY男青年" /></a>
<p class="profile">
<a class="username" usercard="1305584"  havecard="1" href="/profile/1305584" target="_blank" title="LYY男青年">


LYY..

</a><span class="ctf-icon small-ctf-w"></span><br />
<span class="star-profile">



Campus Life S..

</span>
</p>
</div>
<div class="useratten">
<a href="/follow/1305584/1" target="_blank"><span class="number">19</span><span>关注</span></a><a href="/fans/1305584/1" target="_blank"><span class="number"  id="1305584_count">8</span><span>粉丝</span></a><a href="/bds/1305584" target="_blank"><span class="number">6</span><span>图格</span></a>
</div>
<div class="user-follow">





<a class="shopCertify concern-ico" href="###" id="1305584" followed="1305584" follow="false"><em>关注</em></a>


<!-- <a follow="false" id="followBtn" class="concern-ico" href="javascript:;"><em>关注</em></a> -->
</div>
</div>
<div class="boardlist cf">

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>10</b>张</span>
<span class="t">
原味小内内
</span>
</h3>
<a href="/board/1305584/6932487" target="_blank" class="boardimg"><img title="原味小内内" src="http://b8.imimg.cn//20120719/a3be/c28e/3186537445239002.jpg"></a>
</div>

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>9</b>张</span>
<span class="t">
型男帅哥
</span>
</h3>
<a href="/board/1305584/6932492" target="_blank" class="boardimg"><img title="型男帅哥" src="http://b4.imimg.cn//20120719/b722/bdbc/3186534074910002.jpg"></a>
</div>

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>13</b>张</span>
<span class="t">
那些年
</span>
</h3>
<a href="/board/1305584/6979519" target="_blank" class="boardimg"><img title="那些年" src="http://b7.imimg.cn//20120719/c29e/f7b8/1433156744297360.jpg"></a>
</div>

</div>
</div>




<div class="userlist cf">

<div class="user">
<div class="userinfo cf">
<a class="avatar" href="/profile/1287457" usercard="1287457"  havecard="1" target="_blank"><img src="http://b8.imimg.cn/20120717/d590/72ca/17293688882.2.60.60.jpg" title="银泰网" /></a>
<p class="profile">
<a class="username" usercard="1287457"  havecard="1" href="/profile/1287457" target="_blank" title="银泰网">

银泰网


</a><span class="ctf-icon small-ctf-w"></span><br />
<span class="star-profile">



银泰网是专注于精品时尚百货..

</span>
</p>
</div>
<div class="useratten">
<a href="/follow/1287457/1" target="_blank"><span class="number">14</span><span>关注</span></a><a href="/fans/1287457/1" target="_blank"><span class="number"  id="1287457_count">62</span><span>粉丝</span></a><a href="/bds/1287457" target="_blank"><span class="number">5</span><span>图格</span></a>
</div>
<div class="user-follow">





<a class="shopCertify concern-ico" href="###" id="1287457" followed="1287457" follow="false"><em>关注</em></a>


<!-- <a follow="false" id="followBtn" class="concern-ico" href="javascript:;"><em>关注</em></a> -->
</div>
</div>
<div class="boardlist cf">

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>9</b>张</span>
<span class="t">
清爽系尤物
</span>
</h3>
<a href="/board/1287457/6838567" target="_blank" class="boardimg"><img title="清爽系尤物" src="http://b3.imimg.cn//20120720/1494/c722/1543651855148763.jpg"></a>
</div>

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>10</b>张</span>
<span class="t">
就要这个范儿
</span>
</h3>
<a href="/board/1287457/6838568" target="_blank" class="boardimg"><img title="就要这个范儿" src="http://b0.imimg.cn//20120717/e41e/d772/1281557472490203.jpg"></a>
</div>

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>10</b>张</span>
<span class="t">
连衣裙女王
</span>
</h3>
<a href="/board/1287457/6839343" target="_blank" class="boardimg"><img title="连衣裙女王" src="http://b7.imimg.cn//20120717/9178/46cc/1280067810442943.jpg"></a>
</div>

</div>
</div>




<div class="userlist cf">

<div class="user">
<div class="userinfo cf">
<a class="avatar" href="/profile/1271508" usercard="1271508"  havecard="1" target="_blank"><img src="http://b3.imimg.cn/20120717/eb8a/ad38/84891370189.2.60.60.jpg" title="苹果皮小店" /></a>
<p class="profile">
<a class="username" usercard="1271508"  havecard="1" href="/profile/1271508" target="_blank" title="苹果皮小店">


苹果皮..

</a><span class="ctf-icon small-ctf-w"></span><br />
<span class="star-profile">


质量如一，价格合理


</span>
</p>
</div>
<div class="useratten">
<a href="/follow/1271508/1" target="_blank"><span class="number">183</span><span>关注</span></a><a href="/fans/1271508/1" target="_blank"><span class="number"  id="1271508_count">266</span><span>粉丝</span></a><a href="/bds/1271508" target="_blank"><span class="number">7</span><span>图格</span></a>
</div>
<div class="user-follow">





<a class="shopCertify concern-ico" href="###" id="1271508" followed="1271508" follow="false"><em>关注</em></a>


<!-- <a follow="false" id="followBtn" class="concern-ico" href="javascript:;"><em>关注</em></a> -->
</div>
</div>
<div class="boardlist cf">

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>19</b>张</span>
<span class="t">
小店商品
</span>
</h3>
<a href="/board/1271508/6751546" target="_blank" class="boardimg"><img title="小店商品" src="http://b1.imimg.cn//20120723/9e2c/a882/1771344601073402.jpg"></a>
</div>

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>9</b>张</span>
<span class="t">
彩绘图案
</span>
</h3>
<a href="/board/1271508/6751547" target="_blank" class="boardimg"><img title="彩绘图案" src="http://b2.imimg.cn//20120717/b072/a3c2/1252698679511186.jpg"></a>
</div>

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>15</b>张</span>
<span class="t">
可爱卡通
</span>
</h3>
<a href="/board/1271508/6751548" target="_blank" class="boardimg"><img title="可爱卡通" src="http://b0.imimg.cn//20120717/be08/cb88/1252938051644839.jpg"></a>
</div>

</div>
</div>




<div class="userlist cf">

<div class="user">
<div class="userinfo cf">
<a class="avatar" href="/profile/1216923" usercard="1216923"  havecard="1" target="_blank"><img src="http://b0.imimg.cn/20120716/8e4e/f5c4/25364340121.2.60.60.jpg" title="康乐途保健瘦身馆" /></a>
<p class="profile">
<a class="username" usercard="1216923"  havecard="1" href="/profile/1216923" target="_blank" title="康乐途保健瘦身馆">


康乐途..

</a><span class="ctf-icon small-ctf-w"></span><br />
<span class="star-profile">



康乐途保健瘦身馆,秀出最完..

</span>
</p>
</div>
<div class="useratten">
<a href="/follow/1216923/1" target="_blank"><span class="number">2</span><span>关注</span></a><a href="/fans/1216923/1" target="_blank"><span class="number"  id="1216923_count">339</span><span>粉丝</span></a><a href="/bds/1216923" target="_blank"><span class="number">6</span><span>图格</span></a>
</div>
<div class="user-follow">





<a class="shopCertify concern-ico" href="###" id="1216923" followed="1216923" follow="false"><em>关注</em></a>


<!-- <a follow="false" id="followBtn" class="concern-ico" href="javascript:;"><em>关注</em></a> -->
</div>
</div>
<div class="boardlist cf">

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>9</b>张</span>
<span class="t">
手工创意
</span>
</h3>
<a href="/board/1216923/6443918" target="_blank" class="boardimg"><img title="手工创意" src="http://b4.imimg.cn//20120717/e6f6/c5c0/3009732013713873.jpg"></a>
</div>

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>12</b>张</span>
<span class="t">
化妆美容
</span>
</h3>
<a href="/board/1216923/6443919" target="_blank" class="boardimg"><img title="化妆美容" src="http://b1.imimg.cn//20120717/9b22/e6ec/1263861647089875.jpg"></a>
</div>

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>13</b>张</span>
<span class="t">
减肥瘦身
</span>
</h3>
<a href="/board/1216923/6443920" target="_blank" class="boardimg"><img title="减肥瘦身" src="http://b4.imimg.cn//20120717/e2ae/87ec/3011285065174581.jpg"></a>
</div>

</div>
</div>




<div class="userlist cf">

<div class="user">
<div class="userinfo cf">
<a class="avatar" href="/profile/1205887" usercard="1205887"  havecard="1" target="_blank"><img src="http://b2.imimg.cn/20120712/d188/3d36/84067639522.2.60.60.jpg" title="创意生活加油站" /></a>
<p class="profile">
<a class="username" usercard="1205887"  havecard="1" href="/profile/1205887" target="_blank" title="创意生活加油站">


创意生..

</a><span class="ctf-icon small-ctf-w"></span><br />
<span class="star-profile">



每天忙忙碌碌的生活是不是有..

</span>
</p>
</div>
<div class="useratten">
<a href="/follow/1205887/1" target="_blank"><span class="number">2</span><span>关注</span></a><a href="/fans/1205887/1" target="_blank"><span class="number"  id="1205887_count">24</span><span>粉丝</span></a><a href="/bds/1205887" target="_blank"><span class="number">7</span><span>图格</span></a>
</div>
<div class="user-follow">





<a class="shopCertify concern-ico" href="###" id="1205887" followed="1205887" follow="false"><em>关注</em></a>


<!-- <a follow="false" id="followBtn" class="concern-ico" href="javascript:;"><em>关注</em></a> -->
</div>
</div>
<div class="boardlist cf">

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>22</b>张</span>
<span class="t">
个性单杯
</span>
</h3>
<a href="/board/1205887/6377248" target="_blank" class="boardimg"><img title="个性单杯" src="http://b5.imimg.cn//20120712/b9fc/be40/873770213790443.jpg"></a>
</div>

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>8</b>张</span>
<span class="t">
变色杯
</span>
</h3>
<a href="/board/1205887/6377250" target="_blank" class="boardimg"><img title="变色杯" src="http://b0.imimg.cn//20120712/1b0a/b88c/874010022911917.jpg"></a>
</div>

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>27</b>张</span>
<span class="t">
精美收纳盒
</span>
</h3>
<a href="/board/1205887/6377252" target="_blank" class="boardimg"><img title="精美收纳盒" src="http://b5.imimg.cn//20120712/541c/cfc6/874612047759434.jpg"></a>
</div>

</div>
</div>



<div class="userlist cf noborder">


<div class="user">
<div class="userinfo cf">
<a class="avatar" href="/profile/1224964" usercard="1224964"  havecard="1" target="_blank"><img src="http://b3.imimg.cn/20120713/6312/1a34/73818866597.2.60.60.jpg" title="恋爱饰纪" /></a>
<p class="profile">
<a class="username" usercard="1224964"  havecard="1" href="/profile/1224964" target="_blank" title="恋爱饰纪">

恋爱饰纪


</a><span class="ctf-icon small-ctf-w"></span><br />
<span class="star-profile">



恋爱饰纪 韩国礼物定制中心..

</span>
</p>
</div>
<div class="useratten">
<a href="/follow/1224964/1" target="_blank"><span class="number">20</span><span>关注</span></a><a href="/fans/1224964/1" target="_blank"><span class="number"  id="1224964_count">24</span><span>粉丝</span></a><a href="/bds/1224964" target="_blank"><span class="number">6</span><span>图格</span></a>
</div>
<div class="user-follow">





<a class="shopCertify concern-ico" href="###" id="1224964" followed="1224964" follow="false"><em>关注</em></a>


<!-- <a follow="false" id="followBtn" class="concern-ico" href="javascript:;"><em>关注</em></a> -->
</div>
</div>
<div class="boardlist cf">

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>149</b>张</span>
<span class="t">
项链
</span>
</h3>
<a href="/board/1224964/6492509" target="_blank" class="boardimg"><img title="项链" src="http://b7.imimg.cn//20120719/2fb8/94ac/1463726347683978.jpg"></a>
</div>

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>3</b>张</span>
<span class="t">
手链
</span>
</h3>
<a href="/board/1224964/6492510" target="_blank" class="boardimg"><img title="手链" src="http://b1.imimg.cn//20120713/bb0a/1204/943071669468985.jpg"></a>
</div>

<div class="mbox">
<h3 class="mboxTitle"><span class="number">共<b>0</b>张</span>
<span class="t">
耳饰
</span>
</h3>
<a href="/board/1224964/6492511" target="_blank" class="boardimg"><img title="耳饰" src="http://b0.imimg.cn/tmp/board_thumb.jpg"></a>
</div>

</div>
</div>

<!------>
<div class="star-button">

<a href="javascript:;" class="btn-xlarge-follow" id="allFollows">一键关注全部</a>


</div>
<div class="page">
<div class='paddinttop page'><span class='prev'><em>&laquo;</em></span><a class='default' href='javascript:;'><em>1</em></a><a href='/certify/shop/2'><em>2</em></a><a href='/certify/shop/3'><em>3</em></a>&nbsp;...&nbsp;<a href='/certify/shop/17'><em>17</em></a><a href='/certify/shop/2' class='next'><em>&raquo;</em></a></div>
</div>
</div>
</div>
</div>
<script type="text/javascript">
followAllFollows = function(){
if($('#jquery-certufyShop .shopCertify[follow|=false]').size()>0){
$("#allFollows").text("一键关注全部");
$("#allFollows").removeClass();
$("#allFollows").addClass("btn-xlarge-follow");
}
}
unfollowAllFollows = function(){
if($('#jquery-certufyShop .shopCertify[follow|=false]').size()==0){
$("#allFollows").text("已关注");
$("#allFollows").removeClass();
$("#allFollows").addClass("btn-xlarge-unfollow");
}
}
followCkeck=function (id,className,type,postUrl){
if(type == 1){
im.window.confirm($("#"+id),"确认取消关注吗?",function(){
$.ajax({
type : "POST",
url : postUrl,
dataType:"json",
success : function(data) {
$("#"+id).text("关注");
$("#"+id).removeClass();
$("#"+id).addClass(className);
$("#"+id).attr("follow",false);
$("#"+id+"_count").text(parseInt($("#"+id+"_count").text())-1);
followAllFollows();
}
});
});
}else{
$.ajax({
type : "POST",
url : postUrl,
dataType:"json",
success : function(data) {
$("#"+id).text("已关注");
$("#"+id).removeClass();
$("#"+id).addClass(className);
$("#"+id).attr("follow",true);
$("#"+id+"_count").text(parseInt($("#"+id+"_count").text())+1);
unfollowAllFollows();
}
});
}
}
$('#jquery-certufyShopCu .hotbutton').live("click",function(){
var loginUserId = <%=raw current_user ? current_user.id.to_s.to_json : 0 %>;
if (loginUserId == 0) {
var _path = window.location.pathname;
var flag = consts("REGIST_TYPE_STATION_GET");
window.location.href= "/login"+"?flag="+flag+"&p="+_path;
return;
}
var follow = $(this).attr("follow");
var followed = $(this).attr("followed");
var isMe = true;
if(isMe){
return;
}
if(eval(follow) == true){
postUrl = uri("URI_FANS_UNFOLLOW_USER", $(this).attr("followed"));			
}else{
postUrl = uri("URI_FANS_ADD_FOLLOW_USER", $(this).attr("followed"));
}
if(eval(follow) == true){
followCkeck($(this).attr("id"),"hotbutton follow-btn",1,postUrl);
} else {
followCkeck($(this).attr("id"),"hotbutton unfollow-btn",2,postUrl);
}
});
$("#allFollows").live("click",function(){
$('#jquery-certufyShop .shopCertify[follow|=false]').click();
$("#allFollows").text("已关注");
$("#allFollows").removeClass();
$("#allFollows").addClass("btn-xlarge-unfollow");
});
$('#jquery-certufyShop .shopCertify').live("click",function(){
var loginUserId = <%=raw current_user ? current_user.id.to_s.to_json : 0 %>;
if (loginUserId == 0) {
var _path = window.location.pathname;
var flag = consts("REGIST_TYPE_STATION_GET");
window.location.href= "/login"+"?flag="+flag+"&p="+_path;
return;
}
var follow = $(this).attr("follow");
var followed = $(this).attr("followed");
var isMe = true;
if(isMe){
return;
}
if(eval(follow) == true){
postUrl = uri("URI_FANS_UNFOLLOW_USER", followed);			
}else{
postUrl = uri("URI_FANS_ADD_FOLLOW_USER", followed);
}
if(eval(follow) == true){
followCkeck(followed,"shopCertify concern-ico",1,postUrl);
} else {
followCkeck(followed,"shopCertify concerned-ico",2,postUrl);
}
});
</script>
</div>


<%= render file:'/application/footers/_zm_footer' %>
