<%= render 'content_above' %>
<%= render :partial => 'dz_navi',:locals => {margintop:15} %>
<div id="psvr_midder">
    <div class="psvr_content">
        <div class="psvr_contentbox">
          <%= render 'dp_table' %>
<table class="psvr psvr_seedtable psvr_dptable" id="dp_0" border="0" align="center" cellpadding="1" cellspacing="1" bgcolor="#cccccc" width="100%" style="background:#cccccc">
  <tr bgcolor="#f1f1f1">
    <td height="28" colspan="5" align="left"><h3 class="psvr" >
      <% if Setting.ktv_sub == 'zhongxue' %>
        <%= Setting.ktv_subname %>课件交流系统目前共收录了<%= link_to Course.count,'/courses',style:'color:red',class:'psvr' %>门课程
      <% else %>
        <%= Setting.ktv_subname %>共为学生准备了<%= link_to Course.count,'/courses',class:'psvr',style:"color:#{params[:years].present? ? 'black' : 'red'}"%>门课程，本学期开设了其中的<%= link_to @courses_now_count,'/courses?years=20122',class:'psvr',style:"color:#{params[:years].present? ? 'red' : 'black'}"%>门
      <% end %>
    </h3></td>
  </tr>
  <tr bgcolor="#fafafa" align="center">
    <td width="6%" align="center">类型</td>
    <td width="34%" align="left">名字</td>
    <td width="16%">学院</td>
    <td width="30%">任课教师</td>
    <td width="8%">课件数▼</td>
  </tr><!--seed_today-->


  <!--seed_today-->

  <% @courses.each_with_index do |item,index| %>
     <tr bgcolor="#ffffff" align="center">
        <td><%= item.is_yjs %></td>
        <td align="left">
          <%=link_to item.number ? "[#{item.number}] #{item.name}" : item.name,cpath(item),class:'psvr'%> 
        </td>
        <td>  
          <%= link_to item.department,"/departments/#{Department.get_id(item.department)}"%>
        </td>
        <td>  
          <% item.teachings.each do |teaching| %>
            <%= link_to teaching.teacher,"/teachers/#{teaching.typeid}" %>
          <% end %>
        </td>
        <td><%=link_to item.coursewares_count,cpath(item),class:'psvr'%></td> 
      </tr> 
  <% end %>
</table>
<%= will_paginate @courses, :renderer=> DZLinkRenderer,:inner_window=>4 %>
        </div>
    </div>
</div>  

<%= render 'content_below' %>