<% content_for :armpit do %>
  <%= stylesheet_link_tag "ktv/__flo.css", :media => "all" %>
<% end %>
<% content_for :body_klass do %> flo_background <%end %>
<% content_for :sdk_wrapper_style do %>width:98%;<%end %>

<style>
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	background: red;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #dde;
	position: relative;
}

.jspDrag
{
	background: #bbd;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}


/* Styles specific to this particular page */
.scroll-pane
{
	width: 100%;
	height: 200px;
	overflow: auto;
}
.horizontal-only
{
	height: auto;
	max-height: 200px;
}
		
/* Styles specific to this particular page */
.scroll-pane
{
	width: 100%;
	height: 200px;
	overflow: auto;
}
.horizontal-only
{
	height: auto;
	max-height: 200px;
}
		
</style>
			<div class="scroll-pane" style="height:200px">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in ligula id sem tristique ultrices
					eget id neque. Duis enim turpis, tempus at accumsan vitae, lobortis id sapien. Pellentesque nec orci
					mi, in pharetra ligula. Nulla facilisi. Nulla facilisi. Mauris convallis venenatis massa, quis
					consectetur felis ornare quis. Sed aliquet nunc ac ante molestie ultricies. Nam pulvinar ultricies
					bibendum. Vivamus diam leo, faucibus et vehicula eu, molestie sit amet dui. Proin nec orci et elit
					semper ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
					mus. Sed quis urna mi, ac dignissim mauris. Quisque mollis ornare mauris, sed laoreet diam malesuada
					quis. Proin vel elementum ante. Donec hendrerit arcu ac odio tincidunt posuere. Vestibulum nec risus
					eu lacus semper viverra.
				</p>
				<p>
					Vestibulum dictum consectetur magna eu egestas. Praesent molestie dapibus erat, sit amet sodales
					lectus congue ut. Nam adipiscing, tortor ac blandit egestas, lorem ligula posuere ipsum, nec
					faucibus nisl enim eu purus. Quisque bibendum diam quis nunc eleifend at molestie libero tincidunt.
					Quisque tincidunt sapien a sapien pellentesque consequat. Mauris adipiscing venenatis augue ut
					tempor. Donec auctor mattis quam quis aliquam. Nullam ultrices erat in dolor pharetra bibendum.
					Suspendisse eget odio ut libero imperdiet rhoncus. Curabitur aliquet, ipsum sit amet aliquet varius,
					est urna ullamcorper magna, sed eleifend libero nunc non erat. Vivamus semper turpis ac turpis
					volutpat non cursus velit aliquam. Fusce id tortor id sapien porta egestas. Nulla venenatis luctus
					libero et suscipit. Sed sed purus risus. Donec auctor, leo nec eleifend vehicula, lacus felis
					sollicitudin est, vitae lacinia lectus urna nec libero. Aliquam pellentesque, arcu condimentum
					pharetra vestibulum, lectus felis malesuada felis, vel fringilla dolor dui tempus nisi. In hac
					habitasse platea dictumst. Ut imperdiet mauris vitae eros varius eget accumsan lectus adipiscing.
				</p>
				<p>
					Quisque et massa leo, sit amet adipiscing nisi. Mauris vel condimentum dolor. Duis quis ullamcorper
					eros. Proin metus dui, facilisis id bibendum sed, aliquet non ipsum. Aenean pulvinar risus eu nisi
					dictum eleifend. Maecenas mattis dolor eget lectus pretium eget molestie libero auctor. Praesent sit
					amet tellus sed nibh convallis semper. Curabitur nisl odio, feugiat non dapibus sed, tincidunt ut
					est. Nullam erat velit, suscipit aliquet commodo sit amet, mollis in mauris. Curabitur pharetra
					dictum interdum. In posuere pretium ultricies. Curabitur volutpat eros vehicula quam ultrices
					varius. Proin volutpat enim a massa tempor ornare. Sed ullamcorper fermentum nisl, ac hendrerit sem
					feugiat ac. Donec porttitor ullamcorper quam. Morbi pretium adipiscing quam, quis bibendum diam
					congue eget. Sed at lectus at est malesuada iaculis. Sed fermentum quam dui. Donec eget ipsum dolor,
					id mollis nisi. Donec fermentum vehicula porta.
				</p>
				<p>
					Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero
					sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
					Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
					commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros
					ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis.
					Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna
					eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis
					luctus, metus
				</p>
				<p>
					Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit
					amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
				</p>
			</div>


  <%= javascript_include_tag "ktv/application" %>

<% if false %>

<% content_for :butt2 do %>
KTV.flo_targetize();
jQuery(window).bind('resize',KTV.flo_targetize);
<% end %>
<div class="__flo">
	<div class="production" id="std-ui-wrap">
		<div id="app-root-view">
			<div class="app-north">
				<div class="app-north-inner">
					<div class="header-flow">
						<div class="flow-topbar left">
              <ul class="align-left">
                <li class="action li-settings" style="display: block;"><a class="toggle_navbar alt" title="Preferences"><span class="icon">Preferences</span><span class="left"></span><span class="right"></span></a><div class="count-badge"></div></li>
                <li class="action li-notifications" style="display: block;"><a class="sorters" title="Notifications"><span class="icon">Notifications</span><span class="left"></span><span class="right"></span></a><div class="count-badge" style="display: none;">0</div></li>
              </ul>
							<ul class="align-right">
								<li class="action li-new_task" style="display: block;"><a class="new_task" title="Create a New Task (Enter/Return)"><span class="icon">New Task</span><span class="left"></span><span class="right"></span></a>
								<div class="count-badge">
								</div>
								</li>
							</ul>
						</div>
						<div class="flow-topbar center">
							<ul class="align-left">
								<li class="action li-back" style="display: none;"><a class="back" title="Go Back"><span class="text">Back</span><span class="left"></span><span class="right"></span></a>
								<div class="count-badge">
								</div>
								</li>
							</ul>
							<ul class="align-right">
								<li class="action li-actions" style="display: block;"><a class="actions" title="Task List Actions"><span class="icon">Actions</span><span class="left"></span><span class="right"></span></a>
								<div class="count-badge">
								</div>
								</li>
							</ul>
						</div>
						<div class="flow-topbar right">
							<ul class="align-left">
								<li class="search">
								<input type="text" placeholder="课程内搜索..." class="query">
								<a style="display: none;" title="Clear search query" class="clear-search"><ins></ins></a>
								</li>
							</ul>
							<ul class="align-right">
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Sidebar -->
			<div class="app-west">
				<div class="app-west-inner">
					<div class="sidebar" style="height: 2000px;">
						<div class="sidebar-inner">
							<div class="primary-boxes-wrap">
								<div class="sidebar-primary-boxes">
									<h3><%= @course.name %></h3>
									<ul class="primary-boxes">
										<!-- li class="box dashboard">
        <a>
          <span>Dashboard</span>
          <b class="dasboard-badge" style="display: none;"></b>
        </a>
      </li -->
										<li class="box dashboard droppable ui-droppable active current">
										<a href="#/inbox">
										<span>课程主页</span>
										<b style="display: none;" class="badge inbox-badge"></b>
										</a>
										</li>
										<li class="box flagged">
										<a href="#/upcoming">
										<span>讲义</span>
										<b style="display: none;" class="badge upcoming-badge"></b>
										</a>
										</li>
										<li class="box all-tasks">
										<a href="#/flagged">
										<span>作业</span>
										<b style="display: none;" class="badge flagged-badge"></b>
										</a>
										</li>
										<li class="box delegated">
										<a href="#/delegated">
										<span>试卷</span>
										<b style="display: none;" class="badge delegated-badge"></b>
										</a>
										</li>
										<li class="box inbox">
										<a href="#/tasks">
										<span>课堂录像</span>
										<b style="" class="badge all-tasks-badge">17</b>
										</a>
										</li>
										<li class="box someday">
										<a href="#/tasks">
										<span>资料/读物</span>
										<b style="" class="badge all-tasks-badge">17</b>
										</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="panes-wrap">
								<div class="panes-wrap-inner">
									<ul class="sidebar-tabs tabs project-tags-collaborators">
										<li data-pane="projects" class="projects active ui-droppable">老师列表</li>
										<li data-pane="collaborators" class="collaborators ui-droppable">学期归档</li>
									</ul>
									<div class="main-sidebar-panes sidebar-panes">
										<div class="pane projects active">
											<div class="pane-root">
												<div class="filter projects">
													<input type="text" placeholder="搜索老师…">
													<a title="clear search" class="clear-search"><ins></ins></a>
												</div>
												<div class="pane-inner" style="overflow: hidden; padding: 0px; height: 211px;">
													<div style="height: 211px;" class="jspContainer ios">


                            <div class="jspPane" style="left: 0px; top: 0px; width: 220px;">
                              <ul class="collaborators collaborator-list items-list flow-tree">
                                <li class="person list-item concierge no-summary ui-droppable active" data-id="95924" data-cid="c11" id="sidebar-person-95924" data-email="concierge@getflow.com">
                                <ins></ins>
                                <div class="person-link link">
                                  <ins><span class="photo"></span></ins>
                                  <span class="name">所有老师</span>
                                  <ul class="summaries">
                                  </ul>
                                </div>
                                <div class="settings">
                                  <ins></ins>
                                </div>
                                <div class="fadeout">
                                </div>
                                </li>
                              <% @course.teachers.each do |teacher| %>
                                <li class="person list-item ui-droppable" data-id="127314" data-cid="c9" id="sidebar-person-127314">
                                <ins></ins>
                                <div class="person-link link">
                                  <ins class="has-photo"><span class="photo" style="background-image: url(&quot;https://flowapp.s3.amazonaws.com/accounts/127314/78a71cc963c77ccba60ae57f1969f9ce_medium.png&quot;);"></span></ins>
                                  <span class="name"><%=teacher%></span>
                                  <ul class="summaries">
                                    <li class="summary state">邮箱请求</li>
                                  </ul>
                                </div>
                                <div class="settings">
                                  <ins></ins>
                                </div>
                                <div class="fadeout">
                                </div>
                                </li>
                              <% end %>
                                <li class="person list-item ui-droppable" data-id="90562" data-cid="c10" id="sidebar-person-90562">
                                <ins></ins>
                                <div class="person-link link">
                                  <ins class="has-photo"><span class="photo" style="background-image: url(&quot;https://flowapp.s3.amazonaws.com/accounts/90562/80fe26db82b28bad4b7a9451cbaacadf_medium.jpg&quot;);"></span></ins>
                                  <span class="name">minqi pan</span>
                                  <ul class="summaries">
                                    <li class="summary state">Pending</li>
                                  </ul>
                                </div>
                                <div class="settings">
                                  <ins></ins>
                                </div>
                                <div class="fadeout">
                                </div>
                                </li>
                              </ul>
                              <div class="no-results" style="display: none;">
                                No contacts found.
                              </div>
                            </div>






													</div>
												</div>
											</div>
										</div>
										<div class="pane collaborators">
											<div class="pane-root">
												<div class="filter people">
													<input type="text" placeholder="Search people…">
													<a title="clear search" class="clear-search"><ins></ins></a>
												</div>
												<div class="pane-inner" style="overflow: hidden; padding: 0px; height: 211px;">
													<div style="height: 0px" class="jspContainer ios">
														<div class="jspPane" style="left: 0px; top: 0px; width: 0px;">
															<ul class="collaborators collaborator-list items-list flow-tree">
																<li class="person list-item concierge no-summary ui-droppable" data-id="95924" data-cid="c8" id="sidebar-person-95924" data-email="concierge@getflow.com">
																<ins></ins>
																<div class="person-link link">
																	<ins><span class="photo"></span></ins>
																	<span class="name">添加老师...</span>
																	<ul class="summaries">
																	</ul>
																</div>
																<div class="settings">
																	<ins></ins>
																</div>
																<div class="fadeout">
																</div>
																</li>
															</ul>
															<div class="no-results" style="display: none;">
																No contacts found.
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="secondary-boxes-wrap" style="display: none;">
								<div class="sidebar-secondary-boxes">
									<h3>Other Lists</h3>
									<div class="pane">
										<ul class="links">
											<li class="link all-tasks"><a href="#/tasks/all"><ins></ins><span>All Tasks</span></a></li>
											<li class="link followed-tasks"><a href="#/following"><ins></ins><span>Followed Tasks</span></a></li>
											<li class="link completed-tasks"><a href="#/complete"><ins></ins><span>Completed Tasks</span></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="action-bar-wrap">
								<div class="side-action-bar">
									<div class="actions">
										<div class="action new-action">
											<a><ins class="add"></ins></a>
										</div>
									</div>
									<div class="status">
									  共<%= @course.coursewares_count %>个课件
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Main Content Area -->
			<div class="app-center">
				<div class="app-center-inner">
					<div class="detail-view">
						<div class="detail-view-inner">
							<div class="layout-east">
								<div class="layout-east-inner">
									<div class="navbar">
										<div class="section collaborators" style="display: none;">
											<ul style="display: block;" class="actions-list">
												<li class="action-item everyone active">
												<ins></ins>
												<a title="View everyone's tasks" class="name">All Tasks</a>
												<div style="" class="count">
													17
												</div>
												</li>
											</ul>
											<h3 class="title"><span class="fadeout">Tags</span></h3>
											<div class="section-content">
												<ul class="collaborators">
												</ul>
												<div class="quick-invite-wrapper">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="layout-center">
								<div class="layout-center-inner">
									<div class="content-views-wrap">
										<div class="content-view-wrap">
											<div class="loading-tasks" style="display:block">
												<div class="spinner s48 blue">
												</div>
												<label class="loading-label"></label><label class="loading-sub-label"></label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pop-out-wrap quicksearch pop-out-list" style="display: none; position: absolute; top: 50px; left: 1033px;">
		<div class="pop-out">
			<div class="pop-out-body">
				<div class="pop-out-header">
					<a class="wrapper" style="display: inline;"><button type="button" class="left cancel">Cancel</button>
					<div class="back_button">
					</div>
					</a>
					<h2 class="title">Quick Search</h2>
					<button type="button" class="button right" style="display: none;"></button>
				</div>
				<div class="pop-out-content">
					<ul class="fancy-list">
					</ul>
					<div class="spinner s16">
					</div>
				</div>
			</div>
		</div>
		<div class="pop-out-tail top" style="display: block; background: url(<%= asset_path('flo/images/nubs/top-black.png') %>) no-repeat scroll center top transparent; width: 30px; height: 16px; top: -14px; left: 186px;">
		</div>
	</div>
	<!-- Welcome Slides -->
	<!-- Quicktask FOrm -->
	<!-- Contact Form -->
	<div id="flying-task">
	</div>
	<!-- Google Code for Flow Trial or Paid Users Remarketing List -->
	<ul id="flowlr">
	</ul>
	<div id="pre-loaded-avatars" style="">
	</div>
</div>

<% end %>
