<script type="text/javascript">
<% content_for :butt2 do %>
(function($){
  $('.crs_sideicons a:not(.active)').hover(function(){
    $('#crs_side_supplementary').css({'top':($(this).position().top-1).toString()+'px','display':'block'});
  },function(){
    $('#crs_side_supplementary').hide();
  }).mouseup(function(){
    $('#crs_side_supplementary').hide();
  });
})(jQuery);
<% end %>
</script>
<% content_for :body_style do %>background:url(<%=asset_path 'zm/r11839/images/common/bodybg.gif'%>) repeat scroll 0 0 #F0EEEE<% end %>
<% content_for :sdk_wrapper_style do %>width:100%<% end %>
<% content_for :sdk_wrapper_style_end do %>margin-right:7px<% end %>
<% residual = (220 - Setting.logo_ktv_width - 11 - 51) %>
<% if residual>0 %>
  <% content_for :sdk_wrapper_style1 do %>margin-left:<%= residual / 2 %>px;<% end %>
  <% content_for :sdk_wrapper_style2 do %>margin-left:225px<% end %>
<% else %>
  <!-- todo -->
<% end %>

<% content_for :armpit do %>
  <%= stylesheet_link_tag "ktv/__zm_user.css", :media => "all" %>
<% end %>
<script type="text/javascript">
<% content_for :butt2 do %>

var old_content = jQuery("#contentMain").html();
jQuery('.queryOrderCss').live('click', function () {
    var queryOrder = jQuery(this).attr("rel");
    jQuery('#queryOrder').val(queryOrder);
    jQuery('#ulQueryOrder > li').removeClass();
    jQuery(this).parent().addClass('current');
    queryExec();
});
function queryExec(){
    var queryOrder = jQuery('#queryOrder').val();
    jQuery("#contentMain").html(old_content);
    autoLayout.pageAuto = true;
    autoLayout.pageNums = 0;
    autoLayout.loading = true;
    autoLayout.isHasNextPage = true;
    autoLayout.pageNum = 2;
    autoLayout.psvr_client_width_offset = 242;
    autoLayout.psvr_mincol = 3;
    var linkUrl = "/courses/<%=@course.fid%>/coursewares",
        jsonUrl = "/courses/<%=@course.fid%>/coursewares_with_page/";
    autoLayout.init({
        contentID: "contentMain",
        rightLoad: true,
        leftID: "",
        dataContent: {
            'queryOrder': queryOrder
        },
        rightID: [],
        linkUrl: linkUrl,
        loadingID: "imloading",

        callBack: function () {
          var showContent = "还没有人为<%=@course.name%>上传课件";
          jQuery("#contentMain").prepend('<div style="text-align: center; margin-right: 233px; padding-top: 100px; left: 0px; top: 0px;" class="f14" columns="0">' + showContent + '</div>');
        }
    });
    autoLayout.eachAction(jsonUrl);
}
im(function () {
    queryExec();
});
<% end %>
</script>    


<div id="crs_head">
  <a class="crs_btn">课程设置</a>
  <div id="crs_search">
    <input class="query" placeholder="课内搜索..." type="text">
  </div>
  <div class="nav">
    <a href="/courses" title="<%=$ktv_subname%>课程导航" class="crs_head_ui nav1home"><%=$ktv_subname%>课程导航</a>
    <a href="/departments/<%= @course.department_fid %>" class="crs_head_ui nav0"><%= @course.department_name %></a>
    <a href="/courses/<%= @course.fid %>" class="crs_head_ui nav0"><%= @course.name %></a>
  </div>
</div>
<div class="psvr2_colmask psvr2_leftmenu">
    <div class="colright" style="background:url(<%=asset_path 'zm/r11839/images/common/bodybg.gif'%>) repeat scroll 0 0 #F0EEEE">
        <div class="col1wrap">
            <div class="col1">
                <div id="crs_dickhead">
                  <ul>
                    <li><a href="/courses/<%= @course.fid %>" class="a1 <%= 'active' if params[:sort1].blank?||'all'==params[:sort1] %>">全部资源</a></li>
                    <% Courseware::SORT1STR.each_with_index do |arr,index| %>
                      <% key,value=arr %>
                      <li><a href="/courses/<%= @course.fid %>?sort1=<%= key %>" class="a<%= index+2 %> <%= 'active' if key==params[:sort1] %>"><%= value %></a></li>
                    <% end %>
                  </ul>
                </div>
                <!-- Column 2 start -->
                <div class="__zm" style="margin-top:">
                  <% params[:queryOrder] ||= '1' %>
                  <input id="queryOrder" type="hidden" value="<%= params[:queryOrder] %>" />
                  <div id="pagewrap">
                  	<div id="content" style="box-shadow:none;background:none;overflow:visible !important;margin-top:13px">
                  		<!--内容容器开始-->
                  		<div style="clear: both;">
                  		</div>
                  		<div id="contentMain" class="content" style="position: relative;">
                  		</div>
                  	</div>
                  	<div id="imloading" class="imfootloading" style="visibility:hidden;">
                  		<div class="loading">
                  			正在加载，请稍候...
                  		</div>
                  	</div>
                  </div>
                </div>
        				<!-- Column 2 end -->
            </div>
        </div>
        <div class="col2" id="crs_side">
          <!-- Column 1 start -->
          <h2 class="h2_1">课程</h2>
          <div id="crs_side_supplementary" style="display:none"></div>
          <ul class="crs_sideicons">
            <li><a href="/courses/<%= @course.fid %>" class="a1 <%= 'active' if 3==request.path.split('/').size %>">资源一览</a></li>
            <li><a href="/courses/<%= @course.fid %>/syllabus" class="a2 <%= 'active' if 'syllabus'==request.path.split('/')[-1] %>">教学大纲</a></li>
            <li><a href="/courses/<%= @course.fid %>/asks" class="a3 <%= 'active' if 'asks'==request.path.split('/')[-1] %>">提问求助区</a></li>
            <li><a href="/courses/<%= @course.fid %>/experts" class="a4 <%= 'active' if 'experts'==request.path.split('/')[-1] %>">专家与精英</a></li>
          </ul>
          <h2 class="h2_2">课程管理操作</h2>
          <h2 class="h2_3">统计数据</h2>
  				<!-- Column 1 end -->
        </div>
    </div>
</div>
    
    

    