<script type="text/javascript">
<% content_for :butt2 do %>
(function($){
  $(window).resize(KTV.crs_subize);
  KTV.crs_subize();
  $('.crs_sideicons a:not(.active)').hover(function(){
    $('#crs_side_supplementary').css({'top':($(this).position().top-1).toString()+'px','display':'block'});
  },function(){
    $('#crs_side_supplementary').hide();
  }).mouseup(function(){
    $('#crs_side_supplementary').hide();
  });
})(jQuery);
<% end %>
</script>
<% content_for :sdk_wrapper_style do %>width:100%<% end %>
<% content_for :sdk_wrapper_style_end do %>margin-right:7px<% end %>
<% residual = (220 - Setting.logo_ktv_width - 11 - 51) %>
<% if residual>0 %>
  <% content_for :sdk_wrapper_style1 do %>margin-left:<%= residual / 2 %>px;<% end %>
  <% content_for :sdk_wrapper_style2 do %>margin-left:225px<% end %>
<% else %>
  <!-- todo -->
<% end %>



<div id="crs_head">
  <a class="crs_btn">课程设置</a>
  <div id="crs_search">
    <input class="query" placeholder="课内搜索..." type="text">
  </div>
  <div class="nav">
    <a href="/courses" title="<%=$ktv_subname%>课程导航" class="crs_head_ui nav1home"><%=$ktv_subname%>课程导航</a>
    <a href="/departments/<%= @course.department_fid %>" class="crs_head_ui nav0"><%= @course.department_name %></a>
    <a href="/courses/<%= @course.fid %>" class="crs_head_ui nav0"><%= @course.name %></a>
  </div>
  <div class="nav_right">
    课长: <a href="#">无</a>
  </div>
</div>
<div class="psvr2_colmask psvr2_leftmenu">
    <div class="colright" style="<% if 'show'==params[:action] %>background:url(<%=asset_path 'zm/r11839/images/common/bodybg.gif'%>) repeat scroll 0 0 #F0EEEE<%elsif params[:action].to_s.starts_with?('admin') %>background: #FFF<% else %><%end%>">
        <div class="col1wrap">
            <div class="col1" style="<%= 'margin:0 8px 0 228px' unless @dz_parser.nil? %>">
                <!-- Column 2 start -->
                <%= render @render_overwrite ? @render_overwrite : "#{params[:action]}" %>
        				<!-- Column 2 end -->
            </div>
        </div>
        <div class="col2" id="crs_side">
          <!-- Column 1 start -->
          <h2 class="h2_1">课程</h2>
          <div id="crs_side_supplementary" style="display:none"></div>
          <ul class="crs_sideicons">
            <li><a href="/courses/<%= @course.fid %>" class="a1 <%= 'active' if 3==request.path.split('/').size %>">资源一览</a></li>
            <li><a href="/courses/<%= @course.fid %>/syllabus" class="a2 <%= 'active' if 'syllabus'==request.path.split('/')[-1] %>">教学大纲</a></li>
            <li><a href="/courses/<%= @course.fid %>/asks" class="a3 <%= 'active' if 'asks'==request.path.split('/')[-1] %>">提问求助区</a></li>
            <li><a href="/courses/<%= @course.fid %>/experts" class="a4 <%= 'active' if 'experts'==request.path.split('/')[-1] %>">专家与精英</a></li>
          </ul>
          <h2 class="h2_2">课程管理面板</h2>
          <ul class="crs_sideicons">
<% if !session[:psvr_modcp_open] %>
            <li><a href="/courses/<%= @course.fid %>/admin_login" class="psvr_login_required a5">打开管理面板</a></li>
<% else %>
            <li><a href="/courses/<%= @course.fid %>/admin_logout" class="psvr_login_required a6">关闭管理面板</a></li>
            <li><a href="/courses/<%= @course.fid %>/admin7" class="psvr_login_required a7 <%= 'active' if 'admin7'==request.path.split('/')[-1] %>">内部留言</a></li>
            <li><a href="/courses/<%= @course.fid %>/admin8" class="psvr_login_required a8 <%= 'active' if 'admin8'==request.path.split('/')[-1] %>">审核</a></li>
            <li><a href="/courses/<%= @course.fid %>/admin9" class="psvr_login_required a9 <%= 'active' if 'admin9'==request.path.split('/')[-1] %>">禁止用户</a></li>
            <li><a href="/courses/<%= @course.fid %>/admin10" class="psvr_login_required a10 <%= 'active' if 'admin10'==request.path.split('/')[-1] %>">禁止 IP</a></li>
            <li><a href="/courses/<%= @course.fid %>/admin11" class="psvr_login_required a11 <%= 'active' if 'admin11'==request.path.split('/')[-1] %>">用户权限</a></li>
            <li><a href="/courses/<%= @course.fid %>/admin12" class="psvr_login_required a12 <%= 'active' if 'admin12'==request.path.split('/')[-1] %>">编辑用户</a></li>
            <li><a href="/courses/<%= @course.fid %>/admin13" class="psvr_login_required a13 <%= 'active' if 'admin13'==request.path.split('/')[-1] || 'admin_login'==request.path.split('/')[-1] %>">主题管理</a></li>
            <li><a href="/courses/<%= @course.fid %>/admin14" class="psvr_login_required a14 <%= 'active' if 'admin14'==request.path.split('/')[-1] %>">推荐主题</a></li>
            <li><a href="/courses/<%= @course.fid %>/admin15" class="psvr_login_required a15 <%= 'active' if 'admin15'==request.path.split('/')[-1] %>">课程编辑</a></li>
            <li><a href="/courses/<%= @course.fid %>/admin16" class="psvr_login_required a16 <%= 'active' if 'admin16'==request.path.split('/')[-1] %>">公告</a></li>
            <li><a href="/courses/<%= @course.fid %>/admin17" class="psvr_login_required a17 <%= 'active' if 'admin17'==request.path.split('/')[-1] %>">管理日志</a></li>
            <li><a href="/courses/<%= @course.fid %>/admin18" class="psvr_login_required a18 <%= 'active' if 'admin18'==request.path.split('/')[-1] %>">管理举报</a></li>
<% end %>
          </ul>          
          <h2 class="h2_3">统计数据</h2>
  				<!-- Column 1 end -->
        </div>
    </div>
</div>
    
    

    