<% content_for :armpit do %>
<%= stylesheet_link_tag 'ktv/__ytb' %>
<%= stylesheet_link_tag 'ktv/application' %>
<% end %>


<style type="text/css" media="screen">
  body{
    background: #e4e4e4 url("<%= asset_path 'white.png'%>");
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
    color: #555;
  }
</style>

  
  <% item = Courseware.find(params[:id]) %>
      <section class="comment" id="<%= @type %>_<%= @id %>_comments" >
        <div class="__skp">
          <div class="container"style="background: #e4e4e4 url(<%= asset_path 'white.png'%>);">
            <div style="min-height: 45px;margin: 0 auto;overflow: auto;width: 970px;">
              <div id="mainbar">
                <div id="questions">
                           <div id="question-summary-10960" class="question-summary" >
                                 <div class="statscontainer __sdk">
                                   <div class="presentations">
                                     <%= render :partial => 'application/cw',:locals=>{courseware:item,version:item.version,courseware_id:item.ktvid} %>
                                   </div>
                                 </div>
                                 <div class="summary">
                                     <h3>
                                       <% if nn=Course.get_name(item.course_fid) %>
                                         <a href="/courses/<%= item.course_fid %>" class="tag-post"><%= nn %></a><br>
                                         <% nd=Course.get_department(item.course_fid) %>
                                       <% end %>
                                       <a href="/coursewares/<%= item.id %>" class="question-hyperlink">
                                       <%= item.title %>
                                       </a>
                                     </h3>
                                     <div class="excerpt">
                                       <% 
                                       arr=[]
                                       arr<<item.filesort_mundane if item.filesort_mundane
                                       arr<<"共#{number_with_delimiter item.slides_count}页" if item.slides_count>0 and !item.tree.present?
                                       arr<<"共#{number_with_delimiter item.slides_count}个可阅读文档" if item.slides_count>0 and item.tree.present?
                                       arr<<"#{number_with_delimiter item.words_count}字" if item.words_count>0
                                       arr.reject! {|x| x.blank?}
                                       %>
                                       <%= arr.blank? ? item.fileinfo : arr.join(', ')+'.' %>
                                       <% 
                                       arr=[]
                                       arr<<"作者创作时间投入: #{item.human_time_human(:very_short => true)}" if item.human_time>0
                                       arr<<"最终完稿于: #{item.finished_at.strftime('%Y年%m月%d日 %H:%M:%S')}" if item.finished_at
                                       arr.reject! {|x| x.blank?}
                                     %>
                                       <% unless arr.blank? %>
                                         <br><%= arr.join(', ')+'.' %>
                                       <% end %>
                                     </div>

                                     <div class="tags t-nutrition">
                                       <% if false and item.teacher.present? %>
                                         <!-- todo -->
                                         <a href="/teachers/<%= item.teacher_typeid %>" class="post-tag" title="<%= item.teacher %>" rel="tag"><%= item.teacher %></a> 
                                       <% end %>
                                       <% if false and nd %>
                                         <!-- todo -->
                                         <a href="/departments/<%= item.course_fid %>" class="post-tag" title="<%= nd %>" rel="tag"><%= nd %></a> 
                                       <% end %>
                                     </div>
                                     <div class="started fr">


                                 <div class="user-info ">
                                     <div class="user-action-time">
                                       上传于<%= timeago(item.created_at,:span=>true) %>
                                     </div>
                                     <div class="user-gravatar32">
                                         <a href="/users/454/oliver-c"><div class="">
                                           <img width="32" height="32" alt="" src="<%=dz_avatar_url(User.get_uid(item.uploader_id),User.get_email(item.uploader_id),:small)%>">
                                         </div></a>
                                     </div>
                                     <div class="user-details">
                                       <a href="/<%= User.get_fangwendizhi item.uploader_id %>"><%= name_beautify User.get_name(item.uploader_id)%></a><br>
                                         <span dir="ltr" title="reputation score 26521" class="reputation-score">26.5k</span><span title="2 gold badges"><span class="badge1"></span><span class="badgecount">2</span></span><span title="95 silver badges"><span class="badge2"></span><span class="badgecount">95</span></span><span title="168 bronze badges"><span class="badge3"></span><span class="badgecount">168</span></span>
                                     </div>
                                 </div>

                                     </div>  
                                 </div>
                           </div>   
                </div>                     
              </div>
            </div>
          </div>
        </div>
        <div class='__ytb'>
           <div id="watch-main-container" style="background: #e4e4e4 url(<%= asset_path 'white.png'%>);">
                   <div id="watch-main" style="min-height: 45px;margin: 0 auto;overflow: auto;width: 970px;">
                     <div id="watch-panel" >
                       <div id="watch-discussion">
                        <div class="comments-section ">
                           <div class="comments-post-container clearfix">
                             <%= render :partial=>'coursewares/comment_new',:locals=>{comment:@comment} %>
                           </div>
                           <ul class="comment-list" id="the_comment-list">
                              <% if @comments.count > 0%>
                                  <% @comments.each do |comment| %>
                                      <%= render :partial=>'coursewares/cw_comment',:locals=>{comment:comment,data_score:0} %>
                                  <% end %>
                              <% end %>
                           </ul>
                        </div>      
                        <div class="comments-section">
                         <% if @comments.total_pages > 1 %>
                          <div class="yt-uix-pager" style="float:right">
                              <a class="yt-uix-button yt-uix-sessionlink yt-uix-pager-page-num yt-uix-pager-button yt-uix-button-default <%= ' yt-uix-button-toggled' if 9==@per_page %>" title="每页显示9个评论" href="<%= request.path %>?page=1&per_page=9">9</a>
                              <a class="yt-uix-button yt-uix-sessionlink yt-uix-pager-page-num yt-uix-pager-button yt-uix-button-default <%= ' yt-uix-button-toggled' if 15==@per_page %>" title="每页显示15个评论" href="<%= request.path %>?page=1&per_page=15">15</a>
                              <a class="yt-uix-button yt-uix-sessionlink yt-uix-pager-page-num yt-uix-pager-button yt-uix-button-default<%= ' yt-uix-button-toggled' if 30==@per_page %>" title="每页显示30个评论" href="<%= request.path %>?page=1&per_page=30">30</a>
                              <a class="yt-uix-button yt-uix-sessionlink yt-uix-pager-page-num yt-uix-pager-button yt-uix-button-default<%= ' yt-uix-button-toggled' if 50==@per_page %>" title="每页显示50个评论" href="<%= request.path %>?page=1&per_page=50">50</a>
                              <span class="page-numbers desc">评论/页</span>
                          </div>
                          <%= will_paginate @comments, :renderer=> YTBLinkRenderer,:inner_window=>4,:previous_label => "« 上一页",:next_label => "下一页 »"%>
                          <% end %>
                        </div>
                       </div>
                     </div>
                   </div>
           </div>      
        </div>
      </section>

<div class="__sdk">
  <footer>
    <div class="wrapper">
      <p class="title">版权所有 <span class="en">&copy;</span> <%= Time.now.year %> <a href="http://<%=Setting.ktv_subdomain%>"><%= Setting.ktv_sub.upcase %>.Kejian.TV</a>. 课件著作权为原作者所有.</p>
      <p class="links">
        <a href="/">返回首页</a>
        <a href="/welcome/shuffle">手气不错</a>
        <a href="/simple/admin.php" target="_blank">后台管理</a>
      </p>
    </div>
  </footer>
</div>

<script type="text/javascript">
<% content_for :butt2 do %>
  // jQuery(".comments .cmtpager a").live("click", function() {
  //   App.loading();
  //   jQuery.ajax({
  //     url:this.href,
  //     dataType:'html',
  //     success:function(data) {
  //       jQuery('#<%= @type %>_<%= @id %>_comments').html(data);
  //       App.loading(0);
  //     }
  //   });
  //   return false;
  // });
  // App.inputLimit(jQuery('#<%="new_comment_#{@type}_#{@id}"%>'),2000);
  // jQuery('.comments .cmtpager a.disabled').click(function(){
  //   return false;
  // });
        var focus_comment = function(){
           $('#comment_placeholder').html('');
           $('.comments-textarea-container img').css('z-index','2');
           $('.comments-textarea-container textarea').height('78');
           $('.comments-post-buttons').show();
        };
        var give_up_focus = function(){
          $('#comment_placeholder').html('说点什么。。。');
          $('#comment_placeholder_now').val('');
          $('.comments-remaining').hide();
          $('.comments-textarea-container img').css('z-index','-1');
          $('.comments-textarea-container textarea').height('40');
          $('.comments-post-buttons').hide();
        }
        $('#new_comment').bind('ajax:success',function(event, responseText, ajaxOptions){
        $('#the_comment-list').prepend(responseText);
        $('.comments-post-message').addClass('hid');
        give_up_focus();
        $("abbr.timeago").timeago();
        $("span.relativetime").timeago();
        });
        $('#new_comment').bind('ajax:error',function(event, request, settings){
        $('.comments-post-message > .yt-alert-content').html(request.responseText);
        $('.comments-post-message').removeClass('hid');
        });
        var closeHide = function(){
        somethingHide('#watch-actions-area-container');
        somethingHide('#watch-actions-loading');
        somethingHide('#watch-actions-ajax');
        $('#watch-actions-ajax').html('');
        removeToggled('');
        };
        $('#closehide').live('click',closeHide);
        $("div[data-action='close-share']").live('click',function(){
        $(this).parent().parent().remove();
        });

        $('#comment_placeholder_now').focus(focus_comment);
        $('#comment_placeholder_now').live("keyup change",function(){
        var max = parseInt($('.comments-remaining-count').attr('data-max-count'));
        $('.comments-remaining').show();
        if($(this).val().length > max){
          $(this).val($(this).val().substr(0, max));
        }
        $('.comments-remaining-count').html(max-$(this).val().length);
        });  
        $('#ct2ct_body').live("keyup change",function(){
        var max = parseInt($('.comments-remaining-countx').attr('data-max-count'));
        $('.comments-remainingx').show();
        if($(this).val().length > max){
           $(this).val($(this).val().substr(0, max));
        }
        $('.comments-remaining-countx').html(max-$(this).val().length);
        });
        $('#comment_placeholder').live("click",focus_comment);
        $('#watch-description-toggle').live("click",function(){
        $('#watch-description').toggleClass('yt-uix-expander-collapsed');
        });
        function removeToggled(name){
        tt = 'yt-uix-button-toggled';
        if(name != "watch-like" && $("#watch-like").hasClass(tt))
          $("#watch-like").removeClass(tt);
        if(name != "watch-unlike" && $("#watch-unlike").hasClass(tt))    
          $('#watch-unlike').removeClass(tt);
        if(name != "actions.addto" && $("button[data-button-action='actions.addto']").hasClass(tt))  
          $("button[data-button-action='actions.addto']").removeClass(tt);
        if(name != "actions.share" && $("button[data-button-action='actions.share']").hasClass(tt))  
          $("button[data-button-action='actions.share']").removeClass(tt);
        if(name != "actions.flag" && $("button[data-button-action='actions.flag']").hasClass(tt))      
          $("button[data-button-action='actions.flag']").removeClass(tt);
        if(name != "watch-insight-button" && $("#watch-insight-button").hasClass(tt))      
          $("#watch-insight-button").removeClass(tt);
        };
        $('.yt-uix-tooltip').tipsy({gravity: $.fn.tipsy.autoNS,fade: true,opacity: 0.8});
        $('#comment_login').click(function(){return KTV.login()});
        $('#watch-more-related-button').live("click",function(){
            $(this).hide();
            $('#watch-more-related').show();
            $('#watch-related').append('<li>for ajax</li>');
            return false;
        });
        $("input[name=playlist_name]").live('focus',function(){
          $(this).removeClass('label-input-label');
        });
        $("input[name=playlist_name]").live('blur',function(){
          $(this).addClass('label-input-label');
        });
        $('button[data-close-parent-class=yt-alert]').live('click',function(){
          somethingHide($(this).parent().parent());
        });
        $('.yt-uix-form-input-select').live('focus',function(){
          $(this).addClass('focused');
        });
        $('.yt-uix-form-input-select').live('blur',function(){
          $(this).removeClass('focused');
        });
        $('.cancel-note.yt-uix-button.yt-uix-button-default').live('click',function(){
          somethingHide('.yt-alert.yt-alert-default');
          $(this).parent().parent().removeClass('selected');
          return false;
        });
        function show_add_error(msg){
          somethingHide('.yt-alert.yt-alert-default');
          $('.messages-area > .yt-alert-error.added-to-error-message > .yt-alert-content').html(msg);
          somethingShow('.yt-alert-error.added-to-error-message');
        }
        function playlist_back_to_default(){
            $('.playlist-item').removeClass('selected');
            $('.playlist-item').removeClass('loading');
            somethingHide('.yt-alert.yt-alert-default');
        }
        function somethingHide(id){
            $(id).hide();
            $(id).addClass('hid');
        }
        function somethingShow(id){
            $(id).removeClass('hid');
            $(id).slideDown('middle');
        }
      

        $('.comment-action').live('click',function(){
            type = $(this).attr('data-action');
            // console.log(type); 
            if(type == 'close-share'){
            return false; 
            }               
            if(type == 'vote-up' || type =='vote-down' || type =='reply'){
            cid = $(this).parent().parent().parent().parent().parent().attr('data-id');
            }else if(type =='show-parent'){
            cid = $(this).parent().parent().parent().parent().parent().parent().attr('data-id');
            }else{
            cid = $(this).parent().parent().parent().parent().parent().parent().parent().parent().attr('data-id');
            }
            // console.log(cid); 
            if(type == 'share' || type == 'reply' || type == 'show-parent'){
            datatype = 'html';
            }else{
            datatype = 'json';
            }
            tmp = this;
            $.ajax({
            url:'/ajax/comment_action',
            type:'POST',
            data:{'cid':cid,'atype':type},
            dataType:datatype,
            }).done(function(data){
            $('.end.flip.yt-uix-button.yt-uix-button-default.yt-uix-button-empty').removeClass('yt-uix-button-active');
            $('.end.flip.yt-uix-button.yt-uix-button-default.yt-uix-button-empty > .yt-uix-button-menu.yt-uix-button-menu-default').hide().addClass('hid');
            if(type == 'share'){
              $('.comments-post-containerx').remove();
              $(tmp).parent().parent().parent().parent().parent().parent().parent().parent().append(data);
            }else if(type == 'reply'){
             $('.comments-post-containerx').remove();
             $(tmp).parent().parent().parent().parent().parent().append(data);
            }else if(type == 'vote-up' || type =='vote-down'){
             if(data['status'] == 'suc'){
               if(parseInt(data['cc'])>0){
                 $('li[data-id='+cid+'] > .comment-body >.content-container >.content > .metadata > .comments-rating-positive').remove();
                 $('li[data-id='+cid+'] > .comment-body >.content-container >.content > .metadata').append('<span title="顶了 '+data['up']+' 次，踩了 '+ data['down']+' 次" class="comments-rating-positive" dir="ltr"><img src="<%= asset_path "yt/wfw.gif" %>" class="comments-rating-thumbs-up">'+data['up'] +'</span>');
               }
             }
            }else if(type == 'remove'){
             if(data['status'] == 'suc'){
               $('li[data-id='+cid+'] > .comment-body >.content-container > .content >.comment-text').html('<p>该评论已经被删除！</p>');
             }
            }else if(type == 'flag'){

            }else if(type == 'show-parent'){
                 $(tmp).parent().parent().parent().parent().parent().parent().before('<ul class="comment-list">'+data+'</ul>');
                 $(tmp).parent().parent().parent().parent().parent().parent().addClass('child');
                 $(tmp).remove();
             }
            })
        });
        $('.end.flip.yt-uix-button.yt-uix-button-default.yt-uix-button-empty').live('click',function(){
            $(this).toggleClass('yt-uix-button-active');
            $('.yt-uix-button-menu.yt-uix-button-menu-default',this).toggle().toggleClass('hid');
        });
        $('input.comment-share-url.yt-uix-form-input-text').live('focus',function(){
             var $this = $(this);
             $this.select();
             $this.mouseup(function() {
                 $this.unbind("mouseup");
                 return false;
             });
        });  
  <% end %>
</script>

