<% content_for :armpit do %>
  <%= stylesheet_link_tag "ktv/__zm_friend.css", :media => "all" %>
  <%= stylesheet_link_tag "ktv/__zm_dialog.css", :media => "all" %>
<% end %>
<% content_for :body_style do %>background:url(<%=asset_path 'zm/r11839/images/common/bodybg.gif'%>) repeat scroll 0 0 #F0EEEE<% end %>

<div class="__zm" style="margin-top:18px;margin-bottom:28px">
<div id="wrapper">
<div id="content" class="cf" style="box-shadow:none;background:none;overflow:visible !important;">
<div id="maincolumn">
<div id="friend">

<h1>
<% case params['action'] %>
<% when 'followers' %>
  关注<%= user_sex_title(@teacher,current_user)%>的人
<% when 'courses' %>
  <%= user_sex_title(@teacher,current_user)%>邀请的人
<% end %>
</h1>


<div class="ftag">
<ul class="cf">
<li class="<%= 'current' if 'followers'==params['action'] %>"><a href="/<%= @teacher.fangwendizhi %>/followers"><%= user_sex_title(@teacher,current_user)%>的粉丝<span class="num"><em><%= @teacher.follower_ids.size %></em></span>
</a>
</li>
<li class="<%= 'current' if 'courses'==params['action'] %>"><a href="/<%= @teacher.fangwendizhi %>/courses"><%= user_sex_title(@teacher,current_user)%>的课程</a></li>
</ul>
</div>

<div id="follow_no_user" class="fr_nocontent_tips" style="display:none;">

你还没有关注任何人

</div>
<ul class="friendlist" id="jquery-friendlist">
<% @followers.each do |id| %>
<%
if id.respond_to?(:id)
  u = id
else
  u = User.where(id:id).first
	if u.nil?
		next
	end
end
%>
<li class=" cf">
<% if !@course %>	
<div class="uhead">
  <a href="/users/<%= u.id %>">
    <img src="<%= avatar_url(u,:middle) %>" width="60" height="60" usercard="15345" havecard="1"/>
  </a>
</div>
<% end %>

<div class="uinfo f14 gray">
  <a href="<%= course_path u %>" class="blue" usercard="15345" havecard="1"><%= u.name_beautified %></a>
<span class="ctf-icon small-ctf-star-w" title="认证达人"></span>
<div style="padding-top:12px">
<% if @course %>
		<% if current_user.blank? %>
				<a href="javascript:;" follow="false" followed="<%= u.id %>" id="<%= u.id %>" class="psvr_login_required buttonfollow friend-follow png">关注</a>
		<% else %>
				<% if current_user.course_followed?(u) %>
				<a href="javascript:;" follow="true" followed="<%= u.id %>" id="<%= u.id %>" class="psvr_login_required buttonfollow unfriend-follow png">已关注</a>
				<% else %>
				<a href="javascript:;" follow="false" followed="<%= u.id %>" id="<%= u.id %>" class="psvr_login_required buttonfollow friend-follow png">关注</a>
				<% end %>
		<% end %>
<% end %>



</div>
</div>
</li>

<% end %>

</ul>

<span id="span-page" style="display:''">
  <%= will_paginate @followers, :renderer => ZMLinkRenderer,:inner_window=>2 %>
</span>
</div>
</div>
<div id="rightcolumn">







<div  class="topline userbox userbox-home">
<div style="overflow:hidden;">
  <div class="uhead" style="height:60px;"><a href="<%= teacher_path @teacher%>"><img src="<%=teacher_avatar_url(@teacher,:normal)%>" width="60" height="60" /></a></div>
  <div class="uinfo">
    <p><a href="/<%=@teacher.fangwendizhi%>" class="blue arial b"><%=@teacher.name_beautified%></a></p>
    <p><%= @teacher.tagline %></p>
  </div>
</div>
<ul class="useratten cf">
  <li>
  <a id="user_profile_medium_fans_count" class="gray block usernumber" href="/fans/1141902/1">
    <em><%=@teacher.follower_ids.size%></em><br />
  <span>粉丝</span>
  </a>
  </li>
  <li>
  <a class="gray block usernumber" href="/<%= @teacher.fangwendizhi %>"><%=@teacher.coursewares_count%><br />
  <span>课件</span></a>
  </li>
</ul>
</div>

</div>
</div>
</div>
<script type="text/javascript">
<% content_for :butt2 do %>
if(jQuery("#jquery-friendlist li").length<1) {
var total = 13;
if(total == 0){
jQuery("#follow_no_user").show();
jQuery("#span-page").hide();
}
}
jQuery('#jquery-friendlist .send-mail').live("click",function(){
var loginUserId = 1141902;
if (loginUserId == 0) {
var _path = window.location.pathname;
var flag = consts("REGIST_TYPE_STATION_GET");
window.location.href= "/login"+"?flag="+flag+"&p="+_path;
return;
}
var toUserId = jQuery(this).attr("letter_receiver");
var toUserName = jQuery(this).attr("receiver_name");
var loginUserId = 1141902;
if(jQuery("#message_dialog>div").size() == 1){
sendMessageDialog.init("",1141902);
}
sendMessageDialog.otherOpenMessage("#message_"+toUserId,loginUserId,""+toUserId,""+toUserName);
})
jQuery('#jquery-friendlist .buttonfollow').live("click",function(){
var loginUserId = 1141902;
if (loginUserId == 0) {
var _path = window.location.pathname;
var flag = consts("REGIST_TYPE_STATION_GET");
window.location.href= "/login"+"?flag="+flag+"&p="+_path;
return;
}
jQuery("#jquery-friendlist .buttonfollow").bind("click",function(){
return false;
})
var isMe = true;
if(eval(isMe) == true){
var followCount = jQuery("#user_profile_medium_follow_count").find("em").text();
}
var follow = jQuery(this).attr("follow");
var followed = jQuery(this).attr("followed");
if(eval(follow) == true){
postUrl = '/ajax/unfollow_course';			
}else{
postUrl = '/ajax/follow_course';
}
if(eval(follow) == true){
im.window.confirm(jQuery(this),"确认取消关注吗?",function(){
jQuery.ajax({
type : "POST",
data:{'authenticity_token':"<%= form_authenticity_token %>","followed":followed},
url : postUrl,
dataType:"json",
success : function(data) {
jQuery("#"+followed).text("关注");
jQuery("#"+followed).removeClass();
jQuery("#"+followed).addClass("buttonfollow friend-follow png");
jQuery("#"+followed).attr("follow",false);
if(eval(isMe) == true){
followCount = eval(followCount)-1;
}
jQuery("#user_profile_medium_follow_count").find("em").text(followCount);
}
});
});
jQuery("#jquery-friendlist .buttonfollow").unbind("click");
} else {
jQuery.ajax({
type : "POST",
url : postUrl,
data:{'authenticity_token':"<%= form_authenticity_token %>","followed":followed},
dataType:"json",
success : function(data) {
jQuery("#"+followed).text("已关注");
jQuery("#"+followed).removeClass();
jQuery("#"+followed).addClass("buttonfollow unfriend-follow png");
jQuery("#"+followed).attr("follow",true);
if(eval(isMe) == true){
followCount = eval(followCount)+1;
}
jQuery("#user_profile_medium_follow_count").find("em").text(followCount);
jQuery("#jquery-friendlist .buttonfollow").unbind("click");
}
});
}
});
<% end %>
</script>


<%= render file:'/application/footers/_zm_footer' %>
