<% content_for :armpit do %>
	<%= stylesheet_link_tag 'ktv/__slide' %>
  <%= stylesheet_link_tag "ktv/__slide_pro", :media => "all" %>
	  <%= stylesheet_link_tag "ktv/__slide_fb" %>
<% end %>
<div class="__slide" style="padding-top:40px">
   <div class="container">
      <div class="row ">
         <div class="span12 hide">
            <div class="feature "><span class="icon ss-logo"></span>课件TV PRO</div>
            <div style="width:148px;" class="feature "><span class="icon analytics"></span>Analytics</div>
            <div class="feature "><span class="icon leads"></span>Capture leads</div>
            <div class="feature "><span class="icon meetings"></span>Conduct meetings</div>
            <!-- <div class="feature "><span class="icon linkedin"></span>Slide Tracking</div> -->
            <div class="feature "><span class="icon display"></span>Display settings</div>
            <div class="feature "><span class="icon benefits"></span>Other PRO benefits</div>
         </div>
         <div style="" class="feature-wrapper pro-cta-wrapper span12 active">
            <h1>Content is king if marketing includes the right tools</h1>
            <img width="854" height="473" src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/pro-dash.jpg')%>" />
            <div class="details clearfix">
               <img width="480" height="300" src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/analytics-3.jpg')%>" />
               <div class="feature-text">
                  <h2>Get Analytics</h2>
                  <ul>
                     <li>Detailed data of your views</li>
                     <li>Source of your views</li>
                     <li>Location of your viewers</li>
                     <li>Profile of people downloading your content</li>
                     <li>Actual tweets which mention your content</li>
                  </ul>
               </div>
            </div>
            <div class="details clearfix even">
               <img width="480" height="300" src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/pro-dash-leads.jpg')%>" />
               <div class="feature-text">
                  <h2>Capture Leads</h2>
                  <ul>
                     <li>Customize your lead forms by adding or removing fields</li>
                     <li>Segment your leads per viewer's location</li>
                     <li>Run multiple campaigns on a single presentation, video or document</li>
                     <li>Perform market surveys with custom questions</li>
                  </ul>
               </div>
            </div>
            <div class="details clearfix">
               <img width="480" height="300" src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/pro-dash-meetings.jpg')%>" />
               <div class="feature-text">
                  <h2>Conduct Meetings</h2>
                  <ul>
                     <li>Dedicated conference number for 12 countries</li>
                     <li>Unlimited meetings and participants</li>
                     <li>Synchronous slide progression</li>
                     <li>Password protection for your private meetings</li>
                     <li>Guest login for attendees who don't have a 课件TV account</li>
                  </ul>
               </div>
            </div>
            <div class="details clearfix even">
               <img width="480" height="300" src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/pro-dash-display.jpg')%>" />
               <div class="feature-text">
                  <h2>Display Settings</h2>
                  <ul>
                     <li>Customize the layout of sidebar panels on your profile page</li>
                     <li>Increase SEO by tagging, then showcase your tagged content</li>
                     <li>Streamline and simplify the look of your page by controlling your page settings</li>
                     <li>Add custom HTML content to your profile pages. (available in platinum only)</li>
                  </ul>
               </div>
            </div>
            <div class="details clearfix">
               <img width="480" height="300" src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/pro-dash-benefits.jpg')%>" />
               <div class="feature-text">
                  <h2>Other PRO benefits</h2>
                  <ul>
                     <li>Password protect your uploads and share using secret URLs</li>
                     <li>Upload privately and schedule it to go public at a certain date</li>
                     <li>Upload larger files upto 300 MB in size</li>
                     <li>Remove ads from all your pages</li>
                     <li>Upload professional videos upto 500 MB in size</li>
                  </ul>
               </div>
            </div>
            <div class="cta" style="z-index: 1000; bottom: 0px;">
               <h2 class="float-left">Signup for a 课件TV PRO account</h2>
               <a href="/premium/plans" class="btn btn-primary btn-large float-right">See Plans and Pricing</a>
            </div>
            <div style="display: none; width: 938px; height: 66px; float: none;"></div>
         </div>
         <div class="feature-wrapper span12 ">
            <h1>Detailed information on content views and viewers</h1>
            <img width="854" height="473" src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/analytics-2.jpg')%>" />
            <div class="details clearfix">
               <img width="480" height="300" src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/analytics-3.jpg')%>" />
               <div class="feature-text">
                  <h2>Measure effectiveness of your presentations</h2>
                  <p>Don't know how your presentation is performing? With PRO analytics, you get to track the performance of your presentations daily. See the breakup of your views by source and country. Get details of embed views or facebook likes. Know the detailed stats of the latest views.</p>
               </div>
            </div>
            <div class="details clearfix even">
               <img width="480" height="300" src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/analytics-1.jpg')%>" />
               <div class="feature-text">
                  <h2>Details of tweets and downloads</h2>
                  <p>See details of the people who downloaded your presentation. Get to know who tweeted your content and what they tweeted.</p>
               </div>
            </div>
            <div class="details clearfix">
               <img width="480" height="300" src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/analytics-4.jpg')%>" />
               <div class="feature-text">
                  <h2>Ability to export your data to excel</h2>
                  <p>Export your daily views or latest views data to excel. The export automatically emails you the csv file to your registered email address.</p>
               </div>
            </div>
            <div class="cta">
               <h2 class="float-left">Signup for a 课件TV PRO account</h2>
               <a href="/premium/plans" class="btn btn-primary btn-large float-right">See Plans and Pricing</a>
            </div>
         </div>
         <div class="feature-wrapper span12 ">
            <h1>Leads which lead you to success</h1>
            <img width="854" height="473" src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/lead-1.jpg')%>" />
            <div class="details clearfix">
               <img width="480" height="300" src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/lead-2.jpg')%>" />
               <div class="feature-text">
                  <h2>Collect information from your viewers</h2>
                  <p>Let your content get you sales leads. Link customizable lead form with your content and ask your viewers for the information you need. </p>
               </div>
            </div>
            <div class="details clearfix even">
               <img width="480" height="300" src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/lead-3.jpg')%>" />
               <div class="feature-text">
                  <h2>Custom questions and geographic targeting</h2>
                  <p>Collect quality leads by adding custom questions to your lead form. Now easily create market surveys or feedback forms and link them to your content. Target your lead campaigns geographically for better leads.</p>
               </div>
            </div>
            <div class="details clearfix">
               <img width="480" height="300" src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/lead-4.jpg')%>" />
               <div class="feature-text">
                  <h2>Export your data into CRM</h2>
                  <p>Easily export in csv file format and import your leads into salesforce or any other CRM you use. </p>
               </div>
            </div>
            <div class="cta">
               <h2 class="float-left">Signup for a 课件TV PRO account</h2>
               <a href="/premium/plans" class="btn btn-primary btn-large float-right">See Plans and Pricing</a>
            </div>
         </div>
         <div class="feature-wrapper span12 ">
            <h1>Easy web meetings. No software installation.</h1>
            <img width="854" height="473" src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/meetings-1.jpg')%>" />
            <div class="details clearfix">
               <img width="480" height="300" src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/meetings-2.jpg')%>" />
               <div class="feature-text">
                  <h2>Simple 1-click start meetings</h2>
                  <p>Now you can start your meetings in a ziffy. Just choose the presentation you have uploaded on 课件TV and click start. Thats it. No prior software installation needed for you or your attendees. </p>
               </div>
            </div>
            <div class="details clearfix even">
               <img width="480" height="300" src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/meetings-5.jpg')%>" />
               <div class="feature-text">
                  <h2>Synchronous slide switching</h2>
                  <p>Switching your slides automatically takes your participants to the slide you are on. Highlight a particular area of the slide for your participants using the highlighter function. </p>
               </div>
            </div>
            <div class="details clearfix">
               <img width="480" height="300" src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/meetings-3.jpg')%>" />
               <div class="feature-text">
                  <h2>Dedicated conference line</h2>
                  <p>Reliable and dedicated audio conference line. Conference support for 13 countries. Now your attendees don't need to dial an international number. </p>
               </div>
            </div>
            <div class="details clearfix even">
               <img width="480" height="300" src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/meetings-4.jpg')%>" />
               <div class="feature-text">
                  <h2>Password protect your meetings</h2>
                  <p>Protect your meetings with password. Easy guest login for your participants who don't have a 课件TV account.</p>
               </div>
            </div>
            <div class="cta">
               <h2 class="float-left">Signup for a 课件TV PRO account</h2>
               <a href="/premium/plans" class="btn btn-primary btn-large float-right">See Plans and Pricing</a>
            </div>
         </div>
         <div class="feature-wrapper span12 ">  
            <h1>Track performance of your presentations.</h1>
            <img src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/customize-1.jpg')%>" width="854" height="473">
            <div class="details clearfix">
              <img src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/customize-2.jpg')%>" width="480" height="300"/>
              <div class="feature-text">
            		<h2>Detailed Analytics for your presentations</h2><p>Measure performance of every single slide. Get a real time reporting. </p>
            </div>
            </div>
            <div class="details clearfix">
              <img src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/customize-3.jpg')%>" width="480" height="300"/>
              <div class="feature-text">
            		<h2>Creates, share and manage invites.</h2><p>With 课件TV PRO, you can subscribe to the latest presentations, documents and videos your team uploads and showcase it on your company's profile page. Unleash your team's work to the world. </p>
            </div>
            </div>
            <div class="details clearfix">
              <img src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/customize-4.jpg')%>" width="480" height="300"/>
              <div class="feature-text">
            		<h2>Block competing content, transcripts, comments on your content</h2><p>Customize your content page. Let your content viewers pay attention to only your content. Enrich their experience by removing transcripts and comments.</p>
            </div>
            </div>
            <div class="cta"><h2 class="float-left">Signup for a 课件TV PRO account</h2><a class="btn btn-primary btn-large float-right" href="/premium/plans">See Plans and Pricing</a></div>
            </div>  
         <div class="feature-wrapper span12 ">
            <h1>Makeover your profile. Make it a part of your brand.</h1>
            <img width="854" height="473" src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/customize-1.jpg')%>" />
            <div class="details clearfix">
               <img width="480" height="300" src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/customize-2.jpg')%>" />
               <div class="feature-text">
                  <h2>Apply preset themes or create your own</h2>
                  <p>Change look and feel of your profile. Applying from hand-picked preset themes or create a theme that matches your brand identity. Market your content to the world effectively.</p>
               </div>
            </div>
            <div class="details clearfix even">
               <img width="480" height="300" src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/customize-3.jpg')%>" />
               <div class="feature-text">
                  <h2>Publish latest content from your team</h2>
                  <p>With 课件TV PRO, you can subscribe to the latest presentations, documents and videos your team uploads and showcase it on your company's profile page. Unleash your team's work to the world. </p>
               </div>
            </div>
            <div class="details clearfix">
               <img width="480" height="300" src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/customize-4.jpg')%>" />
               <div class="feature-text">
                  <h2>Block competing content, transcripts, comments on your content</h2>
                  <p>Customize your content page. Let your content viewers pay attention to only your content. Enrich their experience by removing transcripts and comments.</p>
               </div>
            </div>
            <div class="cta">
               <h2 class="float-left">Signup for a 课件TV PRO account</h2>
               <a href="/premium/plans" class="btn btn-primary btn-large float-right">See Plans and Pricing</a>
            </div>
         </div>
         <div class="feature-wrapper benefits-wrapper span12 ">
            <h1>Features to help you market your content</h1>
            <img width="854" height="473" src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/upload-benefits.jpg')%>" />
            <div class="details clearfix">
               <img width="480" height="285" src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/benefits-privacy.jpg')%>" />
               <div class="feature-text">
                  <h2>Upload and share privately</h2>
                  <p>    
                  </p>
                  <ul>
                     <li>Upload privately for review before you making it public.</li>
                     <li>Create secret URLs to share your private content with your friends.</li>
                     <li>Password-protect your uploads. All private uploads are hosted on secure HTTPS pages.</li>
                     <li>Schedule your uploads to go public on a certain date and time.</li>
                  </ul>
                  <p></p>
               </div>
            </div>
            <div class="details clearfix even">
               <img width="486" height="291" src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/benefits-videos.jpg')%>" />
               <div class="feature-text">
                  <h2>Upload professional videos</h2>
                  <p>   
                  </p>
                  <ul>
                     <li>Your favorite professional content network now supports videos. Upload all your professional content in one place.</li>
                     <li>No ads on your videos.</li>
                     <li>No video time limits.</li>
                  </ul>
                  <p></p>
               </div>
            </div>
            <div class="details clearfix">
               <img width="480" height="285" src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/benefits-larger-uploads.jpg')%>" />
               <div class="feature-text">
                  <h2>Large uploads</h2>
                  <p>   
                  </p>
                  <ul>
                     <li>Upload presentations and documents up to 300 MB in size.</li>
                     <li>Use better graphics and hi-resolution images in your presentations and documents.</li>
                     <li>Upload e-books, white papers, research documents and share your knowledge with the world.</li>
                     <li>No upload limit on number of files.</li>
                  </ul>
                  <p></p>
               </div>
            </div>
            <div class="details clearfix even">
               <img width="480" height="285" src="<%=asset_path('slide/public.slidesharecdn.com/images/preview/benefits-no-ads.jpg')%>" />
               <div class="feature-text">
                  <h2>Remove ads from all your pages</h2>
                  <p>    
                  </p>
                  <ul>
                     <li>Browse through an ad-free SlideShare. PRO members don't get to see those distracting ads.</li>
                     <li>Remove ads around your content. Ensure your audience engages with your content.</li>
                  </ul>
                  <p></p>
               </div>
            </div>
            <div class="cta">
               <h2 class="float-left">Signup for a 课件TV PRO account</h2>
               <a href="/premium/plans" class="btn btn-primary btn-large float-right">See Plans and Pricing</a>
            </div>
         </div>
      </div>
      <a class="back-to-top j-backToTop" href="#">Back to top</a>
   </div>
	 <br />	 <br />	 <br />
</div>


<script type="text/javascript" charset="utf-8">
	<% content_for :butt2 do %>
	 var xxdd = '<div style="display: block; width: 938px; height: 66px; float: none;"></div>';
   $('.cta').css({
		'z-index': '1000', 
		'bottom': '0px',
		'width': '822px', 
		'position': 'fixed', 
		'left': $('.container').offset().left.toString()+'px'
   });
		$('.cta').after(xxdd);
	$(window).scroll(function(){
    var css = {
 		'z-index': '1000', 
 		'bottom': '0px',
 		'width': '822px', 
 		'position': 'fixed', 
 		'left': $('.container').offset().left.toString()+'px'
    };
    if($(window).scrollTop() < $('.container').height()-$(window).height()){
			$('.cta').next().show();
			$('.cta').css(css);
		}else{
			console.log($(window).scrollTop());
			$('.cta').next().hide();
			$('.cta').attr('style','');
			$('.cta').css({'z-index':'1000','bottom':'0px'});
		}
  });
	<% end %>
</script>