<div class="green_header">关键词设置说明</div>
<div class="search_form">
  <div style="margin-left:4px;">
    1、添加关键词后，如果用户在提问、回答、评论、一句话介绍、个人经历中出现关键词，系统提示包含敏感字符，用户无法提交发布；
  </div>
  <div style="margin-left:4px;">
    2、关键词分一级关键词和二级关键词，二级关键词有效期3个月，3个月后系统自动删除；一级关键词永久生效，除非管理员手动删除；
  </div>
  <div style="margin-left:4px;">
    3、二级关键词，建议为一般广告词语，通常这些广告打一枪换个地方，没有必要对这类词一直屏蔽，比如一些网址，QQ，电话等；
  </div>
  <div style="margin-left:4px;">
    4、一级关键词，建议为经常出现或者会影响我们网站声誉的词语，如色情类，邪教类，攻击我伟大的党等类词语；
  </div>
  <div style="margin-left:4px;">
    5、最新添加的关键词在列表最前面；
  </div>
  <div style="margin-bottom:20px;margin-left:4px;">
    6、二级关键词可以通过“提升关键词等级”变为一级关键词；一级关键词可以通过“降低关键词等级”变为一级关键词；
  </div>
</div>
<div class="green_header">关键词设置及查询</div>
<div class="search_form">
  <div class="search_form_row" style="float:left;">
    <%=form_tag("/cpanel/autofollow/create_ban_word") do%>
      <%=text_field_tag(:create_word,nil,:style=>"width:120px;",:value=>params[:create_word])%>
      <%=label_tag(:create_level,"级别:")%>
      <%=select_tag :create_level,options_for_select([["一级",1],["二级",2]],params[:create_level]),:style=>"margin-right:20px;" %>
      <button type="submit">添加关键词</button>
    <% end %>
  </div>
  <div class="search_form_row" style="float:left;margin-left:125px;">
    <%=form_tag("/cpanel/autofollow/ban_word") do%>
      <%=text_field_tag(:search_word,nil,:style=>"width:150px;",:value=>params[:search_word])%>
      <%=label_tag(:search_level,"级别:")%>
      <%=select_tag :search_level,options_for_select([["全部",0],["一级",1],["二级",2]],params[:search_level]),:style=>"margin-right:20px;" %>
      <button type="submit">查询关键词</button>
    <% end %>
  </div>
  <div style="clear:both;"></div>
</div>
<div class="search_form_row">
  <fieldset>
    <legend>导入关键词</legend>
    <div>
      <label for="fileselect" style="margin:1.2em;">Files to upload:</label>
      <input type="file" id="fileselect" name="ban_file" />
      <div id="filedrag" style="display:block;">or drop files here</div>
    </div>
  </fieldset>
  <div id="drag_messages"></div>
</div>
<div style="clear:both;height:20px;"></div>
<script type="text/javascript">
  (function() {
    // getElementById
    function jQueryid(id) {
      return document.getElementById(id);
    }
    // output information
    function Output(msg) {
      var m = jQueryid("drag_messages");
      m.innerHTML = msg;
    }
    // file upload
    function sendFile(file) {
      var uri = "/cpanel/autofollow/import_ban_word";
      var xhr = new XMLHttpRequest();
      var fd = new FormData();
              
      xhr.open("POST", uri, true);
      xhr.onreadystatechange = function() {
        if (xhr.readyState == 4 && xhr.status == 200) {
          // Handle response.  
          alert(xhr.responseText); // handle response.  
        }
      };
      fd.append('ban_file', file);
      // Initiate a multipart/form-data upload  
      xhr.send(fd);  
    }
    // file drag hover
    function FileDragHover(e) {
      e.stopPropagation();
      e.preventDefault();
      e.target.className = (e.type == "dragover" ? "hover" : "");
    }
    // file selection
    function FileSelectHandler(e) {
      // cancel event and hover styling
      FileDragHover(e);
      // fetch FileList object
      var files = e.target.files || e.dataTransfer.files;
      // process all File objects
      for (var i = 0, f; f = files[i]; i++) {
        ParseFile(f);
      }
    }
    // output file information
    function ParseFile(file) {
      t=file;
      if(file.type=="text/plain"){
        Output(
        "<p>File information: <strong>" + file.name +
          "</strong> type: <strong>" + file.type +
          "</strong> size: <strong>" + file.size +
          "</strong> bytes</p>"
      );
        if(confirm("确定添加该文件中的关键词？")){
          sendFile(file);
        }
      }else{
        alert("请上传txt文件！")
      }
    }
    // initialize
    function Init() {
      var fileselect = jQueryid("fileselect"),
      filedrag = jQueryid("filedrag");
      // file select
      fileselect.addEventListener("change", FileSelectHandler, false);
      // is XHR2 available?
      var xhr = new XMLHttpRequest();
      if (xhr.upload) {
        // file drop
        filedrag.addEventListener("dragover", FileDragHover, false);
        filedrag.addEventListener("dragleave", FileDragHover, false);
        filedrag.addEventListener("drop", FileSelectHandler, false);
        filedrag.style.display = "block";
      }
    }
    // call initialization file
    if (window.File && window.FileList && window.FileReader) {
      Init();
    }
  })();
</script>