<div class="green_header">数据统计情况</div>
<div id="stats_index">
  <%if @kpi%>
    <table class="stat_table stat_table2" style="width:620px;margin:20px 0px 30px 30px;">
      <thead>
        <tr>
          <th>时段<span style="font-weight:normal;margin-left:10px;">(仅包含2012年6月18日之后的注册用户)</span></th>
          <th>登录用户数</th>
          <th>平均登录数</th>
        </tr>
      </thead>
      <%@kpi.value.each_with_index do |x,i|%>
        <tbody>
          <tr>
            <%if i==0%>
              <td>注册日</td>
            <%else%>
              <td>注册后<%=(i-1)*30+1%>至<%=i*30%>天内</td>
            <%end%>
            <td><%= x.split(":")[0] %></td>
            <td><%= x.split(":")[1] %></td>
          </tr>
        </tbody>
      <%end%>
    </table>
  <%else%>
    <div style="color:red;margin:30px;">暂无结果</div>
  <%end%>
</div>
<div id="stats_index">
  <%if @stat%>
    <table class="stat_table stat_table2" style="width:620px;margin:20px 0px 30px 30px;">
      <thead>
        <tr>
          <th style="width:50%;">统计项</th>
          <th>数值</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>日登录用户数</td>
          <td><%= @stat.login_user_count %></td>
        </tr>
        <tr>
          <td>30日提问用户数</td>
          <td><%= @stat.ask_user_count %></td>
        </tr>
        <tr>
          <td>30日回答用户数</td>
          <td><%= @stat.answer_user_count %></td>
        </tr>
      </tbody>
    </table>
  <%else%>
    <div style="color:red;margin:30px;">暂无结果</div>
  <%end%>
</div>
<%= form_tag '/cpanel/kpi' do %>
  <div style="font-size:13px;margin-left:30px;">
    <h2 style="margin-bottom:20px;font-size:13px;">
      KPI查询
    </h2>
    <% t=Time.now.getlocal %>
    <p style="margin-bottom:20px;">
      <span style="margin-right:15px;">查询日期:</span>
      <input style="margin-right:20px;width:120px;" class="validate[custom[date]]" id="datepicker" name="datepicker" value="<%= params[:datepicker] %>" type="text">
    </p>
    <p><%= submit_tag '查询',:style=>"width:90px;" %></p>
  </div>
<%end %>

<% content_for :butt2 do %>
  jQuery(function() {
  jQuery( "#datepicker" ).datepicker({
  dateFormat:'yy-mm-dd'
  });
  });
<% end %>