<li>
  <div class="mute">
    <!--<a href="#" rel="tipsyt" title="不感兴趣" onclick="return Users.mute_suggest_item(this,'Topic','<%= topic.id %>');"></a>-->
  </div>
  <div class="info clearfix">
    <div class="item">
      <div class="left">
        <%= topic_cover_tag(topic,:mid) %>
      </div>
      <div class="right">
        <%= topic_name_tag(topic, :prefix => "") %>
        <div class="tagline">话题</div>
      </div>
    </div>
    <div class="action">
      <% if current_user.topic_followed?(topic) %>
      <a class="bBtn bBtnUnFocus small" href="#" onclick="return Topics.unfollow(this, '<%= topic.name %>','small');">取消</a>
      <% else %>
      <a class="bBtn bBtnFocus small" href="#" onclick="return Topics.follow(this, '<%= topic.name %>','small');">关注</a>
      <% end %>
    </div>
  </div>
</li>
