<% if @notifies and @notifies.size > 0 %>
<div data-role="content">

    <ul data-role="listview" class="asksList">
            	<%
            	@notifies.each do |k, children|
            		next if k.to_s.blank?
            	%>
              <li>

                <%
                    aaa = nil
                    answer = Answer.first(:conditions => {:id => k})
                    aaa = answer.ask if answer.present?
                    aaa = Ask.first(:conditions => {:id => k})
                 %>
                 <% if aaa.present? %>
                   <a href="/asks/<%=aaa.id%>?force_mobile=1">
                 <% end %>
              
              		<%
                  if children[:type] == "USER"
              		%>
                    <%= Nokogiri::HTML(children[:items].map {|n| (n.log and n.log.user) ? n.log.user.name : "" }.uniq.join("、")).text() %> 关注了你。
              		<%
                  else
                    if ["THANK_ANSWER"].include?children[:type]
                      answer = Answer.first(:conditions => {:id => k})
                      next if answer.blank?
                      ask = answer.ask
                      next if ask.blank?
                    else
                      ask = Ask.first(:conditions => {:id => k})
                    end
              			if !ask
              %>
              该题已被原作者删除。
              <%
              else
              		%>
                      <%
                      if children[:items].size > 1
                        items = []; comments = []
                        children[:items].each do |item|
                          if item.action == "NEW_COMMENT" and !comments.include?("#{item.targer_id},#{item.user_id}")
                            items << item
                            comments << "#{item.targer_id},#{item.user_id}"
                          elsif item.action != "NEW_COMMENT"
                            items << item
                          end
                        end
                      %>
                        <%= items.size %>项关于题 <%= ask.title %>:
                          <%
                          items.each do |item|
                            if item.log
                              target_id = ["THANK_ANSWER","INVITE_TO_ANSWER"].include?(item.action) ? item.log.target_parent_id : item.target_id
                          %>
                            <%= Nokogiri::HTML(ask_notification_tag_mobile(target_id, item, false)).text() %>
                            <%
                            end
                          end
                          %>

                      <%
                      else
                        item = children[:items].first
                        if item and item.log
                          target_id = ["THANK_ANSWER","INVITE_TO_ANSWER"].include?(item.action) ? item.log.target_parent_id : item.target_id
                          %>
                          <%= Nokogiri::HTML(ask_notification_tag(target_id, item, true)).text() %>
                          <%
                        end
                      end
              			end
              		end
              		%>
             <% if aaa.present? %>
                </a>
              <%end%>
                </li>
            	<% end %>
      </ul>
  </div>
<% else %>
暂无通知
<% end %>
