<% if @quans.respond_to?(:total_pages) && @quans.total_pages > 1 %>
<%= will_paginate @quans, :renderer=> SKPLinkRenderer,:inner_window=>3 %>
<% if @quans3 %>
<div class="page-sizer fr">
    <a class="page-numbers<%= ' current' if  '15'==params[:per_page] %>" title="每页显示15个条目" href="<%=alter_request_path request.fullpath,:per_page=>'15',:page=>'1'%>">15</a>
    <a class="page-numbers<%= ' current' if  '30'==params[:per_page] %>" title="每页显示30个条目" href="<%=alter_request_path request.fullpath,:per_page=>'30',:page=>'1'%>">30</a>
    <a class="page-numbers<%= ' current' if  '99'==params[:per_page] %>" title="每页显示99个条目" href="<%=alter_request_path request.fullpath,:per_page=>'99',:page=>'1'%>">99</a>
    <span class="page-numbers desc">条目/页</span>
</div>
<% else %>
<div class="page-sizer fr">
    <a class="page-numbers<%= ' current' if  '10'==params[:per_page] %>" title="每页显示10个条目" href="<%=alter_request_path request.fullpath,:per_page=>'10',:page=>'1'%>">10</a>
    <a class="page-numbers<%= ' current' if  '30'==params[:per_page] %>" title="每页显示30个条目" href="<%=alter_request_path request.fullpath,:per_page=>'30',:page=>'1'%>">30</a>
    <a class="page-numbers<%= ' current' if  '50'==params[:per_page] %>" title="每页显示50个条目" href="<%=alter_request_path request.fullpath,:per_page=>'50',:page=>'1'%>">50</a>
    <span class="page-numbers desc">条目/页</span>
</div>
<% end %>

<% end %>
