<% content_for :butt2 do %>
KTV.sss_op();
jQuery('#main').height(jQuery('#mainbar').height()+88);
<% end %>

<div class="wrapper" style="width:1000px">
<div class="__g"  dir="ltr" alink="#dd4b39" bgcolor="#fff" id="psvr_dz_target" link="#12c" text="#222" vlink="#61c" style="position:absolute;top:130px;width:1000px">
<div id="pocs" style="position: absolute; z-index: 986; left: 10px; top: 48px; display:none">
	<div id="pocs2">
		请按回车开始搜索.
	</div>
</div>
<a href="/setprefs?prev=http://www.google.com/&amp;sig=0_UfXEF6gThHJvik_cuq_v_b0p_rM%3D&amp;suggon=2" style="left:-1000em;position:absolute">Screen reader users, click here to turn off Google Instant.</a><textarea name="csi" id="csi" style="display:none"></textarea>
<div id="mngb">
	<div id="gb" class="gbes" style="height:88px">
		<div id="gbw">
			<div id="gbq" class="gbes" style="">
        <div class="gbt gbes" id="gbq1">
        </div>
				<div id="gbq2" class="gbt gbqfh gbes" style="top:22px">
					<div id="gbqfw">
            <%= render 'form'%>
					</div>
				</div>
			</div>
		</div>
    <div class="gbes" id="gbx1" style=""></div>
    <div id="gbbw"><div id="gbb"></div></div>
	</div>
	<div data-ved="0CAMQnRs" id="iflved" style="display:none">
	</div>
	<div id="searchform" style="display:none" class="">
		<span id="tophf"></span><span id="ss-bar"></span>
	</div>
</div>
<textarea name="wgjc" id="wgjc" style="display:none"></textarea><textarea name="wwcache" id="wwcache" style="display:none"></textarea><textarea name="hcache" id="hcache" style="display:none"></textarea>
<div id="gac_scont">
</div>
<div id="main" style="height:666px">

	<div id="ignore" style="visibility: hidden; ">
	</div>
	<div>
		<div id="cnt" class=" big">
			<div class="mw">
				<div id="sfcnt">
					<div id="sform" style="height:36px">
					</div>
				</div>
				<div id="srchdsc" style="">
				</div>
				<div id="sdb" style="">
				</div>
				<div id="subform_ctrl" style="visibility: visible; ">
				</div>
			</div>
			<div id="appbar" style="">
				<div id="extabar">
					<div id="topabar" style="position:relative">
						<div class="ab_wrp">
							<div id="ab_name">
								<span>搜索</span>
							</div>
							<div id="sbfrm_l">
								<div id="resultStats">
                  共找到 <%=number_with_delimiter @pages.total_entries%> <%=quan%>相关<%=thing%><nobr> (用时 <%=0%> 毫秒)&nbsp;</nobr>
								</div>
							</div>
							<ol id="ab_ctls">
								<li class="ab_ctl" id="ab_ctl_opt" style="display: inline-block; "><a class="ab_button" href="/preferences?hl=en" id="abar_button_opt" unselectable="on" role="button" aria-expanded="false" aria-haspopup="true" tabindex="0"><span class="ab_icon" title="Options" id="ab_opt_icon" unselectable="on"></span></a>
								<div class="ab_dropdown" id="ab_options" role="menu" tabindex="-1" style="visibility:hidden">
									<ul>
										<li class="ab_dropdownitem" role="menuitem" aria-selected="false"><a class="ab_dropdownlnk" href="/preferences?hl=en" tabindex="-1">
										<div>
											Search settings
										</div>
										</a></li>
										<li class="ab_dropdownitem" role="menuitem" aria-selected="false"><a class="ab_dropdownlnk" href="/advanced_search?q=%E5%A4%96%E6%98%9F%E4%BA%BA%E5%AD%A6%E7%89%A9%E7%90%862&amp;hl=en&amp;newwindow=1&amp;biw=1374&amp;bih=655&amp;prmd=imvns" id="ab_as" tabindex="-1">
										<div>
											Advanced search
										</div>
										</a></li>
										<li class="ab_dropdownitem" role="menuitem" aria-selected="false"><a class="ab_dropdownlnk" href="/history/optout?hl=en" tabindex="-1">
										<div>
											Web History
										</div>
										</a></li>
										<li class="ab_dropdownitem" role="menuitem" aria-selected="false"><a class="ab_dropdownlnk" href="//www.google.com/support/websearch/?source=g&amp;hl=en" tabindex="-1">
										<div>
											Search Help
										</div>
										</a></li>
									</ul>
								</div>
								</li>
							</ol>
						</div>
					</div>
					<div id="botabar" style="display:none">
						<div>
						</div>
					</div>
				</div>
				<div>
				</div>
			</div>
			<div class="mw" id="ucs" style="">
			</div>
			<div class="mw">
				<div id="arcntc" style="">
				</div>
				<div id="rcnt" style="clear:both;position:relative;zoom:1">
					<div id="leftnavc" style="">
						<div id="leftnav" role="navigation" style="position:absolute;top:1px;width:132px">
							<div id="ms">
								<ul>
                <% if :kejian==mode %>
                  <li class="mitem msel">
									<div class="kls">
										课件
									</div>
									</li>
                <% else %>
                  <li class="mitem"><a class="kl" href="/search/<%=CGI::escape params[:q]%>">课件</a></li>
                <% end %>
                <% if :kejianneirong==mode %>
                  <li class="mitem msel">
									<div class="kls">
										课件内容
									</div>
									</li>
                <% else %>
									<li class="mitem"><a class="kl" href="/search_contents/<%=CGI::escape params[:q]%>">课件内容</a></li>
                <% end %>
                <% if :bofangliebiao==mode %>
                  <li class="mitem msel">
									<div class="kls">
										播放列表
									</div>
									</li>
                <% else %>
									<li class="mitem"><a class="kl" href="/search_playlists/<%=CGI::escape params[:q]%>">播放列表</a></li>
                <% end %>
                <% if :kecheng==mode %>
                  <li class="mitem msel">
									<div class="kls">
										课程
									</div>
									</li>
                <% else %>
									<li class="mitem"><a class="kl" href="/search_courses/<%=CGI::escape params[:q]%>">课程</a></li>
                <% end %>
                <% if :laoshi==mode %>
                  <li class="mitem msel">
									<div class="kls">
										老师
									</div>
									</li>
                <% else %>
									<li class="mitem"><a class="kl" href="/search_teachers/<%=CGI::escape params[:q]%>">老师</a></li>
                <% end %>
                <% if :yonghu==mode %>
                  <li class="mitem msel">
									<div class="kls">
										用户
									</div>
									</li>
                <% else %>
									<li class="mitem"><a class="kl" href="/search_users/<%=CGI::escape params[:q]%>">用户</a></li>
                <% end %>
								</ul>
								<div data-ved="0CAwQ_gU" id="more_link">
									<ul class="nojsb" id="hidden_modes">
										<li class="mitem"><a class="kl" href="/search?q=%E5%A4%96%E6%98%9F%E4%BA%BA%E5%AD%A6%E7%89%A9%E7%90%862&amp;hl=en&amp;newwindow=1&amp;biw=1374&amp;bih=655&amp;prmd=imvns&amp;source=lnms&amp;tbm=bks&amp;sa=X&amp;ei=04d1UODSOobpiAeU5oGoDQ&amp;ved=0CA0Q_AUoAA">Books</a></li>
										<li class="mitem"><a class="kl" href="/search?q=%E5%A4%96%E6%98%9F%E4%BA%BA%E5%AD%A6%E7%89%A9%E7%90%862&amp;hl=en&amp;newwindow=1&amp;biw=1374&amp;bih=655&amp;prmd=imvns&amp;source=lnms&amp;tbm=plcs&amp;sa=X&amp;ei=04d1UODSOobpiAeU5oGoDQ&amp;ved=0CA4Q_AUoAQ">Places</a></li>
										<li class="mitem"><a class="kl" href="/search?q=%E5%A4%96%E6%98%9F%E4%BA%BA%E5%AD%A6%E7%89%A9%E7%90%862&amp;hl=en&amp;newwindow=1&amp;biw=1374&amp;bih=655&amp;prmd=imvns&amp;source=lnms&amp;tbm=blg&amp;sa=X&amp;ei=04d1UODSOobpiAeU5oGoDQ&amp;ved=0CA8Q_AUoAg">Blogs</a></li>
										<li class="mitem"><a class="kl" href="http://www.google.com/flights/gwsredirect?q=%E5%A4%96%E6%98%9F%E4%BA%BA%E5%AD%A6%E7%89%A9%E7%90%862&amp;hl=en&amp;newwindow=1&amp;biw=1374&amp;bih=655&amp;prmd=imvns&amp;source=lnms&amp;tbm=flm&amp;sa=X&amp;ei=04d1UODSOobpiAeU5oGoDQ&amp;ved=0CBAQ_AUoAw">Flights</a></li>
										<li class="mitem"><a class="kl" href="/search?q=%E5%A4%96%E6%98%9F%E4%BA%BA%E5%AD%A6%E7%89%A9%E7%90%862&amp;hl=en&amp;newwindow=1&amp;biw=1374&amp;bih=655&amp;prmd=imvns&amp;source=lnms&amp;tbm=dsc&amp;sa=X&amp;ei=04d1UODSOobpiAeU5oGoDQ&amp;ved=0CBEQ_AUoBA">Discussions</a></li>
										<li class="mitem"><a class="kl" href="/search?q=%E5%A4%96%E6%98%9F%E4%BA%BA%E5%AD%A6%E7%89%A9%E7%90%862&amp;hl=en&amp;newwindow=1&amp;biw=1374&amp;bih=655&amp;prmd=imvns&amp;source=lnms&amp;tbm=rcp&amp;sa=X&amp;ei=04d1UODSOobpiAeU5oGoDQ&amp;ved=0CBIQ_AUoBQ">Recipes</a></li>
										<li class="mitem"><a class="kl" href="/search?q=%E5%A4%96%E6%98%9F%E4%BA%BA%E5%AD%A6%E7%89%A9%E7%90%862&amp;hl=en&amp;newwindow=1&amp;biw=1374&amp;bih=655&amp;prmd=imvns&amp;source=lnms&amp;tbm=app&amp;sa=X&amp;ei=04d1UODSOobpiAeU5oGoDQ&amp;ved=0CBMQ_AUoBg">Applications</a></li>
										<li class="mitem"><a class="kl" href="/search?q=%E5%A4%96%E6%98%9F%E4%BA%BA%E5%AD%A6%E7%89%A9%E7%90%862&amp;hl=en&amp;newwindow=1&amp;biw=1374&amp;bih=655&amp;prmd=imvns&amp;source=lnms&amp;tbm=pts&amp;sa=X&amp;ei=04d1UODSOobpiAeU5oGoDQ&amp;ved=0CBQQ_AUoBw">Patents</a></li>
									</ul>
									<a href="#" class="jsb nj kl" id="showmodes"><span class="msm">更多</span><span class="msl">更少</span></a>
								</div>
							</div>
							<div id="bms">
								<div class="lnsep">
								</div>
								<div style="clear:both;overflow:hidden">
									<h2 class="hd">Search Options</h2>
									<ul id="tbd" class="med">
										<li class="jsb" style="display:none">
										<ul class="tbt">
										</ul>
										</li>
										<li class="jsb" style="display:none">
										<ul class="tbt">
										</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="bfoot" style="">
					<div id="nyc" role="dialog" style="display: none; position: absolute; top: 160px; left: 0px; height: 495px; bottom: auto; " class="rhstc5">
						<div id="nycp">
							<div id="nycxh">
								<button title="Hide result details" id="nycx"></button>
							</div>
							<div id="nycntg">
								<h3 class="r"><a href="http://www.langlang.cc/1464004.htm" target="_blank" class="l"><em>外星人学物理</em>(匈牙利普通高中物理教材<em>2</em>)/米克罗斯(Miklos) 山道尔 <b>...</b></a></h3>
								<div>
									<cite>www.langlang.cc/1464004.htm</cite>&nbsp;- <span class="vshid"><a href="/search?hl=en&amp;newwindow=1&amp;biw=1374&amp;bih=655&amp;q=related:www.langlang.cc/1464004.htm+%E5%A4%96%E6%98%9F%E4%BA%BA%E5%AD%A6%E7%89%A9%E7%90%862&amp;tbo=1&amp;sa=X&amp;ei=04d1UODSOobpiAeU5oGoDQ&amp;ved=0CE4QHzAE">Similar</a></span>
								</div>
							</div>
						</div>
						<div id="nyccur" class="" style="display: none; ">
						</div>
					</div>
					<div id="nycf">
					</div>
				</div>
			</div>
			<div id="xfoot" style="">
				<div id="xjsd">
				</div>
				<div id="xjsi">
				</div>
			</div>
		</div>
	</div>



</div>
<div id="xjsd">
</div>
<div id="xjsi">
</div>


<table cellspacing="0" cellpadding="0" style="width: 851px; top: 48px; position: absolute; text-align: left; left: 16px;display:none;" class="gstl_0 gssb_c" dir="ltr" id="psvr_gtable">
<tbody>
<tr>
	<td class="gssb_f">
	</td>
	<td class="gssb_e" style="width: 100%;">
		<table cellspacing="0" cellpadding="0" style="width: 100%;" class="gssb_m">
		<tbody id="psvr_gtbody">
		</tbody>
		</table>
	</td>
</tr>
</tbody>
</table>



</div>
</div>
