<div id="mainbar" class="wide" style="position:absolute;z-index:333;min-height:444px;margin-top:152px;margin-left:138px;">
<div id="questions">
<% eager_load = PlayList.eager_load(@play_lists.collect(&:id)) %>
<% @play_lists.each_with_index do |search_result,index|%>
  <% item = eager_load[index] %>
  <div id="question-summary-<%= item.id %>" class="question-summary">
      <div class="statscontainer __sdk">
        <div class="presentations">
          <%= render :partial => 'play_list',:locals=>{play_list:item} %>
        </div>
      </div>
      <div class="summary">
          <h3>
            <% item.course_fids.each do |course_fid| %>
              <% if nn=Course.get_name(course_fid) %>
									<% urlc = '/courses/'+ course_fid.to_s %>
                <a href="<%= gen_jump_url(urlc) %>&keyword=<%= CGI::escape(params[:q]) %>&t=s" target="_blank" class="tag-post"><%= nn %></a><br>
                <% nd=Course.get_department(course_fid) %>
              <% end %>
            <% end %>
							<% urlp = '/play_lists/'+ item.id.to_s  %>
            <a href="<%= gen_jump_url(urlp) %>&keyword=<%= CGI::escape(params[:q]) %>&t=s" target="_blank"  class="question-hyperlink" title="<%= item.title %>">
            <% if search_result.highlight %>
              <%=page_highlight((search_result.highlight.title ? search_result.highlight.title.join('...') : item.title),params[:q])%>
            <% else %>
              <%= item.title %>
            <% end %>
            </a>
          </h3>
          <div class="excerpt excerpt_red">
            <% has_body=false %>
            <% if search_result.highlight %>
              <% if search_result.highlight['courseware_titles.title'] %>
                <% has_body=true %>
                <% search_result.highlight['courseware_titles.title'].each_with_index do |ttt,index| %>
                  <% break if index >= 3 %>
									<% url ='/coursewares/'+ search_result.courseware_titles.detect{|x| ttt==x.title}.id %>
                  <a href="<%= gen_jump_url(url) %>&keyword=<%= CGI::escape(params[:q]) %>&t=s" target="_blank"  class="playlist-detail-title yt-uix-sessionlink"><img class="tiny-video-icon" src="<%=asset_path 'yt/img/pixel-vfl3z5WfW.gif'%>" alt=""><span dir="ltr"><%=page_highlight(ttt,params[:q])%></span></a>
                <% end %>
              <% end %>
            <% end %>
            <% if !has_body %>
              <% item.content.limit(3).each do |cwid| %>
							<% cwurl =  '/coursewares/' + cwid.to_s %>
                <a href="<%= gen_jump_url(cwurl) %>&keyword=<%= CGI::escape(params[:q]) %>&t=s"  target="_blank" class="playlist-detail-title yt-uix-sessionlink"><img class="tiny-video-icon" src="<%=asset_path 'yt/img/pixel-vfl3z5WfW.gif'%>" alt=""><span dir="ltr"><%=Courseware.get_title cwid%></span></a>
              <% end %>
            <% end %>
          </div>
          <div class="tags t-nutrition">
            <% has_body=false %>
            <% if search_result.highlight %>
              <% if search_result.highlight.desc %>
                <% has_body=true %>
                <%=page_highlight(search_result.highlight.desc.join(' ... '),params[:q])%>
              <% end %>
            <% end %>
            <% if !has_body %>
              <% if item.desc.present? %>
                <%=item.desc%>
              <% else%>
								<% iurl = '/play_lists/'+item.id %>
								<% uu = gen_jump_url(iurl)+'&keyword='+CGI::escape(params[:q]) + '&t=s' %>
                共<%=link_to item.coursewares_count,"#{uu}"%>个课件.
              <% end%>
            <% end %>
          </div>

      </div>
  </div>
  
<% end %>

</div>
<%= render 'quans_paginate' %>
</div>
