<div id="mainbar" class="wide" style="position:absolute;z-index:333;min-height:444px;margin-top:152px;margin-left:138px;">
<div id="questions" class="wide">
<% @pages.each do |page|%>
<% urlcw = '/coursewares/' + page.courseware_id.to_s +'?slide='+ (page.page_index+1).to_s %>
<div id="question-summary-<%= page.id %>" class="question-summary wide">
      <div class="statscontainer __sdk">
        <div class="presentations">
          <div data-slide-count="1" data-id="<%=page.courseware_id%>" class="presentation">
            <a href="<%= gen_jump_url(urlcw) %>&keyword=<%= CGI::escape(params[:q]) %>" target="_blank"  class="slide_preview scrub setup">
              <img src="<%= asset_url("cw/#{page.courseware_ktvid}/thumb_slide_#{page.page_index}.jpg") %>" alt="Thumb_slide_0" width="210" height="158">
            </a>
          </div>
        </div>
        <div class="di">第<%=page.page_index+1%>页</div>
      </div>
      <div class="summary wide">
          <h3>
						<% urlc = '/courses/'+ page.course_fid.to_s %>
              <a href="<%= gen_jump_url(urlc) %>&keyword=<%= CGI::escape(params[:q]) %>" target="_blank" class="tag-post"><%= page.course_name %></a><br>
              <a href="<%= gen_jump_url(urlcw) %>&keyword=<%= CGI::escape(params[:q]) %>" target="_blank" class="question-hyperlink">
            <% if page.highlight %>
              <%=page_highlight((page.highlight.courseware_title ? page.highlight.courseware_title.join('...') : page.courseware_title),params[:q])%>
            <% else %>
              <%= page.courseware_title %>
            <% end %>
            (第<%= page.page_index+1 %>页)
            </a>
          </h3>
          <div class="excerpt">
            <% if page.highlight %>
              <%=page_highlight((page.highlight.body ? page.highlight.body.join(' ... ') : page.body),params[:q])%>
            <% else %>
              <%= page.body %>
            <% end %>
          </div>
      </div>
  </div>
  
  <% end %>
</div>
<%= render 'quans_paginate' %>
</div>
