<% content_for :butt2 do %>
  <% @liber_terms.split(/\s+/).each do |itemRaw|%>
    $('#mainbar').highlight(<%=raw itemRaw.to_json%>,'search-highlight');
  <% end %>
<% end %>
<div id="mainbar" class="wide users-page" style="position:absolute;z-index:333;min-height:444px;margin-top:170px;margin-left:138px;">
<div id="user-browser">
	<table>
	<tbody>
<% 0.upto(@teachers.count/3) do |i|%>
	<tr>
  <% 0.upto(2) do |j| %>
    <% tch = @teachers[i*3 + j] %>
    <%
      next unless tch
      if tch['avatar_small40']
        avatar=tch['avatar_small40']
      else
        avatar='/defaults/avatar/small48.png'
      end
    %>
		<td>
			<div class="user-info " style="width:262px">
				<div class="user-gravatar48">
          <a href="/teachers/<%=tch['id']%>">
					<div class="">
            <img src="<%=avatar%>" alt="<%=tch['title']%>" width="48" height="48">
        </div>
					</a>
				</div>
				<div class="user-details">
          <a href="/teachers/<%=tch['id']%>"><%=tch['title']%></a><br>
					<span class="user-location"><%=tch['redis_search_alias']%></span><br>
          <span class="reputation-score" dir="ltr"><%=tch['coursewares_count']%>个课件</span>
				</div>
			</div>
		</td>
  <% end %>
	</tr>
<% end %>
	</tbody>
	</table>
</div>


<%= render 'quans_paginate' %>
</div>
