<div id="mainbar" style="position:absolute;z-index:333;min-height:444px;margin-top:170px;margin-left:138px;">
  <div class="psvr_content" style="margin:0 0 0 5px !important;width:818px">
      <div class="psvr_contentbox">
          <table class="psvr psvr_seedtable psvr_dptable" id="dp_0" border="0" align="center" cellpadding="1" cellspacing="1" bgcolor="#cccccc" width="100%" style="background:#cccccc">
            <tr bgcolor="#f1f1f1">
              <td height="28" colspan="5" align="left"><h3 class="psvr" >
                  课程搜索结果
                </h3></td>
              </tr>
              <tr bgcolor="#fafafa" align="center">
                <td width="10%" align="center">类型</td>
                <td width="34%" align="left">名字</td>
                <td width="16%">学院</td>
                <td width="26%">任课教师</td>
                <td width="8%">课件数▼</td>
              </tr><!--seed_today-->


              <!--seed_today-->

              <% @courses.each_with_index do |item,index| %>
                 <tr bgcolor="#ffffff" align="center">
                    <td><%= item['ctype'] %></td>
                    <td align="left">
                      <%=link_to item['title'],"/courses/#{item['fid']}",class:'psvr'%> 
                    </td>
                    <td>  
                      <%= link_to item['department_name'],"/departments/#{Department.get_fid(item['department_name'])}"%>
                    </td>
                    <td>  
                      <% item['teachers'].each do |teacher| %>
                        <%= link_to teacher,"/teachers/#{Teacher.get_id(teacher)}" %>
                      <% end %>
                    </td>
                    <td><%=link_to item['coursewares_count'],"/courses/#{item['fid']}",class:'psvr'%></td> 
                  </tr> 
              <% end %>
            </table>
            <%= will_paginate @quans, :renderer=> DZLinkRenderer,:inner_window=>4 %>
        </div>
    </div>
</div>  
