<% content_for :armpit do %>
  <%= stylesheet_link_tag "__g", :media => "all" %>
<% end %>


<%= render :partial => 'content_above', :locals=>{:skp_content_style => "height:433px;"} %>

<%= render :partial => 'content_below' %>
<% content_for :butt2 do %>
KTV.dz_targetize();
$('#psvr_dz_target').resize(KTV.dz_targetize);
<% end %>

<div class="wrapper" style="width:1000px">
<div class="__g"  dir="ltr" alink="#dd4b39" bgcolor="#fff" id="psvr_dz_target" link="#12c" text="#222" vlink="#61c" style="position:absolute;top:130px;width:1000px">
<div id="pocs" style="position: absolute; display: none; ">
	<div id="pocs0">
		<span><span>Google</span> Instant is unavailable. Press Enter to search.</span><a href="/support/websearch/bin/answer.py?answer=186645&amp;form=bb&amp;hl=en">Learn more</a>
	</div>
	<div id="pocs1">
		<span>Google</span> Instant is off due to connection speed. Press Enter to search.
	</div>
	<div id="pocs2">
		Press Enter to search.
	</div>
</div>
<a href="/setprefs?prev=http://www.google.com/&amp;sig=0_UfXEF6gThHJvik_cuq_v_b0p_rM%3D&amp;suggon=2" style="left:-1000em;position:absolute">Screen reader users, click here to turn off Google Instant.</a><textarea name="csi" id="csi" style="display:none"></textarea>
<div id="mngb">
	<div id="gb" class="gbes" style="height:88px">
		<div id="gbw">
			<div id="gbq" class="gbes" style="">
				<div id="gbq2" class="gbt gbqfh gbes">
					<div id="gbqfw">
						<form id="gbqf" name="gbqf" method="get" action="/search" class="gbes">
							<fieldset class="gbxx">
								<legend class="gbxx">Hidden fields</legend>
								<div id="gbqffd">
									<input type="hidden" name="hl" value="en"><input type="hidden" name="output" value="search"><input type="hidden" name="sclient" value="psy-ab">
								</div>
							</fieldset>
							<fieldset class="gbqff gbes" id="gbqff">
								<legend class="gbxx"></legend>
								<div id="gbfwa" class="gbqfwa ">
									<div id="gbqfqw" class="gbqfqw ">
										<div id="gbqfqwb" class="gbqfqwc">
											<table cellspacing="0" cellpadding="0" style="height: 27px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; " id="gs_id0" class="gstl_0 lst-t">
											<tbody>
											<tr>
												<td id="gs_ttc0" style="white-space: nowrap; " dir="ltr">
												</td>
												<td id="gs_tti0" class="gsib_a">
													<div id="gs_lc0" style="position: relative; ">
														<input id="gbqfq" class="gbqfif" name="q" type="text" autocomplete="off" value="" style="border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; width: 100%; height: 1.25em; margin-top: -0.0625em; background-image: url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: transparent; position: absolute; z-index: 6; left: 0px; outline-style: none; outline-width: initial; outline-color: initial; background-position: initial initial; background-repeat: initial initial; " dir="ltr" spellcheck="false">
														<div class="gbqfif" style="background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: transparent; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; position: absolute; z-index: 2; white-space: pre; color: transparent; visibility: hidden; background-position: initial initial; background-repeat: initial initial; " id="gs_sc0">
														</div>
														<input class="gbqfif" disabled="" style="border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; height: auto; width: 100%; position: absolute; z-index: 1; background-color: transparent; -webkit-text-fill-color: silver; color: silver; left: 0px; visibility: hidden; " id="gs_taif0" dir="ltr"><input class="gbqfif" disabled="" style="border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; height: auto; width: 100%; position: absolute; z-index: 1; background-color: transparent; -webkit-text-fill-color: silver; color: silver; left: 0px; visibility: hidden; " id="gs_htif0" dir="ltr">
													</div>
												</td>
												<td class="gsib_b">
													<div class="gsst_b" id="gs_st0" style="line-height: 27px; display: none; " dir="ltr">
													</div>
												</td>
											</tr>
											</tbody>
											</table>
										</div>
									</div>
								</div>
							</fieldset>
							<div id="gbqfbw">
								<button id="gbqfb" aria-label="搜索 <%= Setting.ktv_subname_eng %> 课件资源" class="gbqfb" name="btnG"><span class="gbqfi"></span></button>
							</div>
							<div id="gbqfbwa" class="jsb">
								<button id="gbqfba" aria-label="搜索 <%= Setting.ktv_subname_eng %> 课件资源" name="btnK" class="gbqfba"><span id="gbqfsa">搜索 <%= Setting.ktv_subname_eng %> 课件资源</span></button><button id="gbqfbb" aria-label="手气不错" name="btnI" class="gbqfba" ><span id="gbqfsb">手气不错</span></button>
								<div class="gbqfba gbqfba-hvr" role="button" style="display: none; font-family: Arial, sans-serif; overflow-x: hidden; overflow-y: hidden; text-align: center; z-index: 50; ">
									<div style="left: 0px; position: absolute; right: 0px; white-space: nowrap; ">
										<div>
											<span>I'm Feeling Doodley</span>
										</div>
										<div>
											<span>I'm Feeling Artistic</span>
										</div>
										<div>
											<span>I'm Feeling Hungry</span>
										</div>
										<div>
											<span>I'm Feeling Puzzled</span>
										</div>
										<div>
											<span>I'm Feeling Trendy</span>
										</div>
										<div>
											<span>I'm Feeling Stellar</span>
										</div>
										<div>
											<span>I'm Feeling Playful</span>
										</div>
										<div>
											<span>I'm Feeling Wonderful</span>
										</div>
									</div>
								</div>
							</div>
							<input type="hidden" name="oq"><input type="hidden" name="gs_l"><input type="hidden" name="pbx" value="1">
							
              <div class="psvr_zhuzhan">
                Search.Kejian.TV 可提供站际课件搜索： <a href="http://search.kejian.tv" target="_blank">进入主站</a>
              </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div data-ved="0CAMQnRs" id="iflved" style="display:none">
	</div>
	<div id="searchform" style="display:none" class="">
		<span id="tophf"></span><span id="ss-bar"></span>
	</div>
</div>
<textarea name="wgjc" id="wgjc" style="display:none"></textarea><textarea name="wwcache" id="wwcache" style="display:none"></textarea><textarea name="hcache" id="hcache" style="display:none"></textarea>
<div id="gac_scont">
</div>
<div id="main" style="padding-bottom:162px">
	<span class="ctr-p" id="body"><center>
	<div id="lga" style="">
		<img alt="<%= Setting.ktv_subname %>课件交流系统" src="<%= asset_path "logo_#{Setting.ktv_sub}.png" %>" id="hplogo" style="">
	</div>
	<div style="height:102px">
	</div>
	</center></span>
</div>
<div id="xjsd">
</div>
<div id="xjsi">
</div>
<table cellspacing="0" cellpadding="0" style="display: none; position: absolute; width: 570px; top: 339px; left: 459px; " class="gstl_0 gssb_c">
<tbody>
<tr>
	<td class="gssb_f">
	</td>
	<td class="gssb_e" style="width: 100%; ">
	</td>
</tr>
</tbody>
</table>




</div>
</div>

