<% content_for :armpit do %>
  <%= stylesheet_link_tag "__g", :media => "all" %>
<% end %>

<%= render :partial => 'content_above', :locals=>{:skp_content_style => "height:433px;"} %>

<%= render :partial => 'content_below' %>
<% content_for :butt2 do %>
KTV.sss_op();
<% end %>

<div class="wrapper" style="width:1000px">
<div class="psvr_search_whitebox" style="display:none">
  &nbsp;
</div>
<div class="__g"  dir="ltr" alink="#dd4b39" bgcolor="#fff" id="psvr_dz_target" link="#12c" text="#222" vlink="#61c" style="position:absolute;top:130px;width:1000px">
<div id="pocs" style="position: absolute; z-index: 986; left: 10px; top: 48px; display:none">
	<div id="pocs2">
		请按回车开始搜索.
	</div>
</div>
<a href="/setprefs?prev=http://www.google.com/&amp;sig=0_UfXEF6gThHJvik_cuq_v_b0p_rM%3D&amp;suggon=2" style="left:-1000em;position:absolute">Screen reader users, click here to turn off Google Instant.</a><textarea name="csi" id="csi" style="display:none"></textarea>
<div id="mngb">
	<div id="gb" class="gbes" style="height:88px">
		<div id="gbw">
			<div id="gbq" class="gbes" style="">
        <div class="gbt gbes" id="gbq1">
        </div>
				<div id="gbq2" class="gbt gbqfh gbes">
					<div id="gbqfw">
						<form id="gbqf" name="gbqf" method="get" action="/search" class="gbes">
							<div style="margin:0;padding:0;display:inline">
								<input name="utf8" type="hidden" value="✓">
								<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
							</div>
							<fieldset class="gbqff gbes" id="gbqff">
								<legend class="gbxx"></legend>
								<div id="gbfwa" class="gbqfwa ">
									<div id="gbqfqw" class="gbqfqw ">
										<div id="gbqfqwb" class="gbqfqwc">
											<table cellspacing="0" cellpadding="0" style="height: 27px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; " id="gs_id0" class="gstl_0 lst-t">
											<tbody>
											<tr>
												<td id="gs_ttc0" style="white-space: nowrap; " dir="ltr">
												</td>
												<td id="gs_tti0" class="gsib_a">
													<div id="gs_lc0" style="position: relative; ">
														<input id="gbqfq" class="gbqfif" name="q" type="text" autocomplete="off" value="" style="border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin:-6px 0 0 0px; width: 534px; height: 30px; color:#000; line-height:30px; background-image: url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: transparent; position: absolute; z-index: 6; left: 0px; outline-style: none; outline-width: initial; outline-color: initial; background-position: initial initial; background-repeat: initial initial; " dir="ltr" spellcheck="false" x-webkit-speech x-webkit-grammar="builtin:search" spellcheck="false">
														<div class="gbqfif" style="background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: transparent; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; position: absolute; z-index: 2; white-space: pre; color: transparent; visibility: hidden; background-position: initial initial; background-repeat: initial initial; " id="gs_sc0">
														</div>
														<input class="gbqfif" disabled="" style="border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; height: auto; width: 100%; position: absolute; z-index: 1; background-color: transparent; -webkit-text-fill-color: silver; color: silver; left: 0px; visibility: hidden; " id="gs_taif0" dir="ltr"><input class="gbqfif" disabled="" style="border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; height: auto; width: 100%; position: absolute; z-index: 1; background-color: transparent; -webkit-text-fill-color: silver; color: silver; left: 0px; visibility: hidden; " id="gs_htif0" dir="ltr">
													</div>
												</td>
												<td class="gsib_b">
													<div class="gsst_b" id="gs_st0" style="line-height: 27px; display: none; " dir="ltr">
													</div>
												</td>
											</tr>
											</tbody>
											</table>
										</div>
									</div>
								</div>
							</fieldset>
							<div id="gbqfbw">
								<button id="gbqfb" aria-label="搜索 <%= Setting.ktv_subname_eng %> 课件资源" class="gbqfb" name="btnG"><span class="gbqfi"></span></button>
							</div>
							<div id="gbqfbwa" class="jsb">
								<button id="gbqfba" aria-label="搜索 <%= Setting.ktv_subname_eng %> 课件资源" name="btnK" class="gbqfba"><span id="gbqfsa">搜索 <%= Setting.ktv_subname_eng %> 课件资源</span></button><button id="gbqfbb" aria-label="手气不错" name="btnI" class="gbqfba" ><span id="gbqfsb">手气不错</span></button>
							</div>
							<input type="hidden" name="oq"><input type="hidden" name="gs_l"><input type="hidden" name="pbx" value="1">
							
              <div class="psvr_zhuzhan">
                Search.Kejian.TV 可提供站际课件搜索： <a href="http://search.kejian.tv" target="_blank">进入主站</a>
              </div>
						</form>
					</div>
				</div>
			</div>
		</div>
    <div class="gbes" id="gbx1" style="display:none"></div>
    <div id="gbbw"><div id="gbb"></div></div>
	</div>
	<div data-ved="0CAMQnRs" id="iflved" style="display:none">
	</div>
	<div id="searchform" style="display:none" class="">
		<span id="tophf"></span><span id="ss-bar"></span>
	</div>
</div>
<textarea name="wgjc" id="wgjc" style="display:none"></textarea><textarea name="wwcache" id="wwcache" style="display:none"></textarea><textarea name="hcache" id="hcache" style="display:none"></textarea>
<div id="gac_scont">
</div>
<div id="main" style="height:305px">
	<span class="ctr-p" id="body"><center>
	<div id="lga" style="">
		<img alt="<%= Setting.ktv_subname %>课件台" src="<%= asset_path "logo_#{Setting.ktv_sub}.png" %>" id="hplogo" style="">
	</div>
	<div style="height:102px">
	</div>
	</center></span>
</div>
<div id="xjsd">
</div>
<div id="xjsi">
</div>


<table cellspacing="0" cellpadding="0" style="width: 851px; top: 48px; position: absolute; text-align: left; left: 16px;display:none;" class="gstl_0 gssb_c" dir="ltr" id="psvr_gtable">
<tbody>
<tr>
	<td class="gssb_f">
	</td>
	<td class="gssb_e" style="width: 100%;">
		<table cellspacing="0" cellpadding="0" style="width: 100%;" class="gssb_m">
		<tbody id="psvr_gtbody">
		</tbody>
		</table>
	</td>
</tr>
</tbody>
</table>



</div>
</div>

