<li><a href="/asks/<%= item.id %>?force_mobile=1">
        <%= user_avatar_tag(item.user, :small, nil, true) %>
        <h3><%= item.title %></h3>
        <p><%=item.user.name %> 提出的问题 · <%= item.answers_count %> 个答案 </p>
</a></li>
    



