<%= render 'asks/base' %>

<section>
<h3><%= request.path.starts_with?('/zero_asks') ? '悬而未决的问题' : '所有问题' %></h3>
<!-- 下面的每个article样式为：左侧头像，右侧话题分类、话题标问题话题摘要 -->
<% @asks.each do |item| %>
<%= render "asks/ask", :item => item %>
<% end %>
<%= will_paginate @asks, :renderer=>(request.path.starts_with?('/zero_asks') ? WendaoLinkRendererZEROASKS : WendaoLinkRendererASKS),:inner_window=>2 %>
</section>
<%= render "asks/sidebar" %>