<div data-role="content">
    <div data-theme="d" class="ask-content">
    <% unless @ask.topics.blank? %>
		<div data-role="controlgroup" data-type="horizontal" data-mini="true">
      <% @ask.topics.each do |topic| %>
        <a href="/topics/<%= topic %>?force_mobile=1" data-role="button"><%= topic %></a>
      <% end %>
        <a href="/topics?force_mobile=1" data-role="button">更多话题</a>
		</div>
    <% end %>

        <div class="ask-head"><%= @ask.title %></div>
        <div class="ask-info">
            <%= @ask.user.name %>提出的问题 · <%= @ask.answers_count %>个答案
        </div>
        <div class="ask-body">
            <p><%= @ask.body_plain %></p>
        </div>
    </div>
    <ul data-role="listview" class="asksList" style="margin-bottom:20px">

        <% user_answered = false %>
        <% if !@answers.blank? %>
          <% @answers.each do |item| %>
            <% user_answered = true if owner?(item) %>
            <%= render("answer.mobile", :item => item) %>
          <% end %>
        <% end %>

    </ul>

    <div>
<% if current_user %>
  <% if user_answered %>
    <div class="disabled_answer">一个问题你只能解答一次，但你可以对现有的解答进行修改。</div>
  <% elsif !@ask.to_user.blank? and current_user.id != @ask.to_user_id %>
    <div class="disabled_answer">这个问题是对 <%= @ask.to_user.name %> 提问的，只有<%= user_sex_title(@ask.to_user) %>才能解答。</div>
  <% else %>
    <%= form_for(@answer, :remote => true, :html => { :onsubmit => "return Asks.beforeAnswer(this);" },
                 :url => answer_ask_path(@ask.id)) do |f| %>
          <div data-role="fieldcontain" class="ui-hide-label">
              <label for="inputAnswerTextarea">解答内容：</label>
              <input type="hidden" name="force_mobile" value="1" />
              <%= f.text_area :body, :style => "height:100px;", :placeholder=>"我的答案..." %>
          </div>
          <button type="submit" data-role="button" data-theme="b">提交答案</button>
    <% end %>
  <% end %>
<% else %>
<div>请先<a href="/mobile/login/">登录</a>或<a href="/mobile/register/">注册</a>以解答该问题</div>
<% end %>
  </div>
</div>
