<% content_for :armpit do %>
  <%= stylesheet_link_tag "ktv/__zm", :media => "all" %>
  <%= stylesheet_link_tag "ktv/__zm_reg", :media => "all" %>
<% end %>
<div class="__zm">
<div id="reg-header">
</div>
<div id="content" class="newreg">
	<div class="platformusers" style="margin-top:8px">
    <h2 class="yahei">用以下任一网站账号登录，5秒完成</h2>
    <p style="margin:0 0 16px 143px"><a class="renren" href="/account/auth/renren"><img class="core_renren" src="/assets/234_48dark.png" alt="用人人网账号登录"></a><%=image_tag 'zm/r11839/images/reg/tuijian.png',style:'position:relative;left:8px',alt:'（推荐）' %> </p>
    <% key = "spetial_#{Setting.ktv_sub}".to_sym; if value=UcThirdPartyAuth::SERVICES[key] %>
    <p style="margin:0 0 16px 143px"><a class="renren" href="/account/auth/<%=key%>"><img class="core_spetial" src="/assets/bind/huge_<%=key%>.png" alt="用<%=value[:name]%>登录"></a> </p>
    <%end%>
    <ul class="cf">
      <li><a class="yahei sina" href="/account/auth/weibo"><em class="png">新浪微博</em></a></li>
      <li><a class="yahei qq" href="/account/auth/qq"><em class="png">腾讯QQ</em></a></li>
      <li><a class="yahei tencent" href="/account/auth/tqq"><em class="png">腾讯微博</em></a></li>
      <li><a class="yahei douban" href="/account/auth/douban"><em class="png">豆瓣</em></a></li>
      <li><a class="yahei google" href="/account/auth/google"><em class="png">谷歌账号</em></a></li>
      <li><a class="yahei zhaopin" href="/account/auth/zhaopin"><em class="png">智联招聘</em></a></li>
      <li><a class="yahei linkedin" href="/account/auth/linkedin"><em class="png">LinkedIn</em></a></li>
      <li><a class="yahei github" href="/account/auth/github"><em class="png">Github</em></a></li>
      <li><a class="yahei facebook" href="/account/auth/facebook"><em class="png">Facebook</em></a></li>
      <li><a class="yahei twitter" href="/account/auth/twitter"><em class="png">Twitter</em></a></li>
    </ul>
	</div>
	<div class="hsplit">
	</div>
	<!--使用Kejian.TV帐号登录-->
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html=>{:id=>'login_form'}) do |f| %>
	<div class="zmusers" id="loginForm">
		<h2>
		<a href="javascript:changeShow('loginDiv');" class="title">使用电子邮箱登录或注册</a>
		</h2>
    <div class="regform" id="loginDiv" style="<% unless '1'==params[:traditional]%> display: none;<% end %>">
			<dl class="cf">
				<dt>邮箱：</dt>
				<dd>
				<span class="ioginInput">
				<span class="inputouter">
				<input type="text" id="userEmail" name="userEmail" value="" onfocus="im.user.validate.thisFocus(this , '请输入注册邮箱');"/>
				</span>
				</span>
				<span class="errortips" style="display:block;" id="errortips1"></span>
				</dd>
			</dl>
			<dl class="special cf">
				<dt>密码：</dt>
				<dd>
				<span class="ioginInput">
				<span class="inputouter"><input type="password" maxlength="16" id="userPassword" name="userPassword" onfocus="im.user.validate.thisFocus(this , '请输入密码');" onblur="im.user.validate.checkPassword(this , false);"/></span>
				</span>
				<span class="errortips" style="display:block;"></span>
				</dd>
			</dl>
			<dl class="dl-getpwd cf">
				<dt>&nbsp;</dt>
				<dd class="dl-getpwd">
        <p style="position: absolute; text-align: right; margin-left: 185px;">
                <a href="/register">注册新用户 »</a><br>
                <a href="/account/confirmation/new">重发确认邮件 »</a><br>
                <a href="/account/password/new">忘记密码 »</a><br>
        </p>
				<input type="checkbox" id="userKeepLogin" name="userKeepLogin" checked="checked"/><label for="userKeepLogin">保存登录状态</label></dd>
			</dl>
			<dl class="cf">
				<dt>&nbsp;</dt>
				<dd><a class="btn-login" href="javaScript:jQuery('#login_form').submit()"></a></dd>
			</dl>
		</div>
	</div>
<% end %>
	<!--忘记密码-->
	<div class="losepwd" id="losePwd" style="display: none;">
		<h2>
		<a href="javascript:changeShow('losePwdform');" class="title">忘记密码</a>
		</h2>
		<div class="thisform" id="losePwdform">
			<dl class="cf">
				<dt>邮箱：</dt>
				<dd>
				<span class="ioginInput">
				<span class="inputouter">
				<input type="text" class="deftest" id="userEmail_2" name="userEmail" onfocus="im.user.validate.thisFocus(this , '请输入注册邮箱');" onblur="im.user.validate.checkEmail(this , false);"/>
				</span>
				</span>
				<span class="errortips" style="display:block;" id="errortips3"></span>
				</dd>
			</dl>
			<dl class="special cf">
				<dt>&nbsp;</dt>
				<dd><a class="btn-getpwd btn-ungetpwd" id="submitButton" href="javaScript:findPassWord()"></a></dd>
			</dl>
			<dl class="cf">
				<dt>&nbsp;</dt>
				<dd><a href="javascript:changeShow('loginForm');changeShow('losePwd');">返回登录</a></dd>
			</dl>
		</div>
	</div>
	<!--发送成功-->
	<div class="sendbox" id="sendEmail" style="display: none;">
		<h2>
		<a href="javascript:changeShow('sendboxbody');" class="title unfold">发送成功</a>
		</h2>
		<div class="sendboxbody" id="sendboxbody">
			<div class="mailbox">
				 邮件已发送至<span id="userSendEmail"></span><br/>请点击其中的链接重设密码
			</div>
			<div class="sendbutton">
				<a id="mailLink" class="adaptbtn btn-gray36" target="_blank"><span class="adaptbtn"><em class="adaptbtn">去我的邮箱</em></span></a><a href="javascript:changeShow('loginForm');changeShow('sendEmail');">返回登录</a>
			</div>
		</div>
	</div>
</div>
<% content_for :butt2 do %>
var pageNeedCaptcha = false;
$(function () {
    if ('' == 'findpassword') {
        changeShow('loginForm');
        changeShow('losePwd');
        changeShow('loginDiv');
    }
    if ('' != '') {
        changeShow('loginDiv');
        $("#userEmail").val('');
    }
    $("#userEmail").blur(function () {
        if (im.user.validate.checkEmail(this, false)) {
            var userEmail = $.trim($("#userEmail").val());
            $.post("/ajax/logincheck", {
                userEmail: userEmail,
                r: Math.random()
            }, function (data) {
              console.log(data);
                if (data == '0') {
                  $('#userEmail').removeClass('errortest');
                  $('#errortips1').hide();
                } else {
                  $('#userEmail').addClass('errortest');
                  $('#errortips1').html(data);
                  $('#errortips1').show();
                }
            },'text');
        }
    })
    /*
$("#userEmail_2").blur(function(){
if(im.user.validate.checkEmail(this, false)){
$("#submitButton").removeClass("btn-ungetpwd");
}else{
$("#submitButton").addClass("btn-ungetpwd");
}
})
*/
    im.user.validate.checkForm({
        objValue: [{
            ele: $("#userEmail_2"), //表单元素
            type: "text", //表单类型
            func: selectBottomOl, //表单元素验证方法，返回是布尔值
            defaultSta: false
        }],
        element: $("#submitButton"), //提交按钮对象
        openClass: "btn-getpwd", //提交按钮可点击样式
        closeClass: "btn-getpwd btn-ungetpwd" //提交按钮灰色不可点击样式
    })

    function selectBottomOl(obj) {
        var str = $(obj).val();
        var flag = 0;
        if (str != "" && str.length > 0) {
            flag = 1;
        }
        if (flag == 1) {
            return true;
        }
        return false;
    }
    $(document).keydown(function (event) {
        if (event.which == 13) {
          $('#login_form').submit();
        }
    })
})

window.showCaptcha = function() {
    var dTime = new Date();
    im("#verifyImg").attr("src", "/captcha/image.html?t=" + dTime.getTime());
    $("#kapchaTr").slideDown(1000, function () {});
};

window.hideCaptcha = function() {
    $("#kapchaTr").slideUp(1000, function () {});
};
window.fnfooter = function() {
  return true;
};

window.changeShow = function(id) {
    var dis = $("#" + id).css("display");
    if (dis == "none") {
        $("#" + id).stop(true, true).slideDown(function () {
            fnfooter();
        });
        $("#" + id).parent().find('.title').addClass('unfold');
    } else {
        $("#" + id).stop(true, true).slideUp(function () {
            fnfooter();
        });
        $("#" + id).parent().find('.title').removeClass('unfold');
    }
};

window.findPassWord = function() {
    if (im.user.validate.checkEmail(im("#userEmail_2"))) {
        $.post("/profile/ajaxfindpassword", {
            userEmail: $.trim($("#userEmail_2").val()),
            r: Math.random()
        }, function (data) {
            switch (data.status) {
                case 1:
                    $("#userSendEmail").text($.trim($("#userEmail_2").val()));
                    $("#mailLink").attr("href", data.desc);
                    $("#losePwd").hide();
                    $("#sendEmail").show();
                    break;
                case 2:
                    $("#errortips3").text("邮箱不能为空").attr("class", "errortips").show();
                    break;
                case 3:
                    $("#errortips3").text("发送失败！已超过每日请求次数").attr("class", "errortips").show();
                    break;
                case 4:
                    $("#errortips3").text("发送失败！该邮箱不存在").attr("class", "errortips").show();
                    break;
                case 5:
                    $("#errortips3").text("发送失败！请重新发送！").attr("class", "errortips").show();
                    break;
                default:
                    return false;
            }
        }, 'json')
    }
};
<% end %>
<div class="totop" id="backtotop" style="display: none;">
  <a href="javascript:void(0);">返回 </a > < /div>
<div id="loginLayout">
</div>

<% content_for :butt2 do %>
$("#submitCont").die().live("click", function () {
    var cont = $("#feedbackCont").val();
    var len = cont.length;
    var tel_val = $.trim($("#contactNumber").val());
    var email_val = $.trim($("#contactEmail").val());
    if (len > 500) {
        showTips("输入内容不得大于500字。", "error");
        return false;
    }
    if (cont == "" || cont == null || len == 0) {
        showTips("您还没有给我们写下宝贵意见噢。", "error");
        return false;
    }
    if (tel_val.length > 0) {
        var reg = /^\d+$/g;
        if (!reg.test(tel_val)) {
            showTips("请输入11位手机号码。", "error");
            return;
        }
    }
    if (email_val.length > 0) {
        var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,3})$/;
        if (!reg.test(email_val)) {
            showTips("请输入正确的email地址。", "error");
            return;
        }
    }
    $.post("/feedBack/add", {
        "content": cont,
        "email": email_val,
        "telephone": tel_val
    }, function (data) {
        im.window.alert("提交成功，您的支持会让我们做的更好！");
    });
    im("#feedBackBox").dialog("close"); // 关闭弹层
    return false;
});
<% end %>
</div>
