<% content_for :title do %>登录<% end %>
<%= image_tag 'ie/ktv_login.png',:class => 'ktvregh2', :alt => '登录' %>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html=>{:class => 'normal',:id=>'submit_btn_form'}) do |f| %>
  <input type="hidden" name="redirect_to" value="<%= request.path %>"/>

  <div class="field">
    <%= f.label :email,'E-mail' %>(<%= link_to "重发激活邮件", new_user_confirmation_path %>)(<%= link_to "忘记密码", new_password_path(resource_name) %>)<div class="field_error" id="regerror_email"><%= resource.errors_for_field(:email) %></div><br class="clear">
    <%= f.email_field :email,:class => 's462',:tabindex => 2 %>
  </div>
  <div class="field">
    <%= f.label :password,'密码' %><div class="field_error" id="regerror_email"><%= resource.errors_for_field(:email) %></div><br class="clear">
    <%= f.password_field :password,:class => 's462',:tabindex => 2,:onkeypress=>"if(event.keyCode==13){$('#submit_btn_form').submit();}" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <% resource.remember_me = true%>
    <div><%= f.check_box :remember_me,:style=>'height:19px;margin-left:5px',:onkeypress=>"if(event.keyCode==13){$('#submit_btn_form').submit();}" %> <%= f.label :remember_me,'记住我的登录状态' %></div>
  <% end -%>

  <div class="clearfix" style="margin-top:20px;padding-bottom:8px">
    <div class="field fl">
      <a href="javascript:void(0)" class="btn btn210 submit_btns" id="submit_btn">提交登录</a>
    </div>
    <div class="field fr">
      <a href="<%= cancel_href %>" class="btn btn210_grey">取消</a>
    </div>
  </div>
<% end %>

