<% puser = User.find(playlist.user_id) %>
<form action="/play_lists/<%= playlist.id %>/handler" method="post" id="playlist-editor-form">
   <input type="hidden" value="<%= Digest::MD5.hexdigest(playlist.id.to_s+'.liber.'+Digest::MD5.hexdigest(@formhash)) %>" name="encrypted_playlist_id" />
   <input type="hidden" value="<%= @formhash %>" name="form_hash" />
   <div id="playlist-editor-heading-container">
      <div class="ytg-box" id="playlist-editor-heading" style="height:32px">
         <h2>
            编辑课件锦囊
         </h2>
         <ul>
            <li>
               <button role="button" class="ignore-unsaved-changes yt-uix-button yt-uix-button-default" id="playlist-editor-cancel-button" type="button" onclick=";window.location.href=this.getAttribute('href');return false;" href="/play_lists/<%= playlist.id %>"><span class="yt-uix-button-content">取消 </span></button>
            </li>
            <li>
               <button role="button" class="ignore-unsaved-changes yt-uix-button yt-uix-button-default" id="playlist-editor-save-button" type="submit" onclick=";return true;"><span class="yt-uix-button-content">保存 </span></button>
            </li>
         </ul>
      </div>
   </div>
   <div class="ytg-base playlist-editor" id="branded-page-default-bg">
      <div class="ytg-base clearfix" id="branded-page-body-container">
         <div class="ytg-wide" id="branded-page-header-container">
            <div class="ytg-wide ytg-box" id="branded-page-header">
               <a href="/<%= puser.fangwendizhi %>" class="profile-thumb">
               <span class="video-thumb ux-thumb yt-thumb-square-77 ">
                 <span class="yt-thumb-clip">
                   <span class="yt-thumb-clip-inner">
                     <img width="77" alt="缩略图" src="<%=dz_avatar_url(User.get_uid(puser.id),puser.email,:small)%>" />
                     <span class="vertical-align"></span>
                   </span>
                 </span>
               </span>
               </a>
               <div class="ytg-box">
                  <div class="playlist-info">
                     <div class="header-right">
                        <div class="header-stats ytg-box">
                           <ul>
                              <li class="stat-entry first">
                                 <span class="stat-value"><%= playlist.content.nil? ? 0 : playlist.content.count %></span>
                                 <span class="stat-name">
                                 课件
                                 </span>
                              </li>
                              <% if !playlist.content.nil? and playlist.content.count >0 %>
                              <li class="stat-entry">
                                 <span class="stat-value"><%= playlist.content_total_pages  %></span>
                                 <span class="stat-name">
                                 总页数
                                 </span>
                              </li>
                              <% end %>
                           </ul>
                        </div>
                     </div>
                     <div class="playlist-reference">
        								<label data-char-limit="60" data-warn-at-chars-remaining="20" data-count-char-by-size="true" class="yt-uix-char-counter">
                        课件锦囊标题
                        <span class="remaining-chars input-annotation">
                        剩余字符数：<span class="yt-uix-char-counter-remaining"><%= 60- playlist.title.length%></span>
                        </span>
                        <span class=" yt-uix-form-input-container">
                          <input maxlength="60" value="<%= Sanitize.clean(playlist.title.gsub(/\n/, ' '), Sanitize::Config::BASIC).html_safe %>" name="title" class="yt-uix-form-input-text text yt-uix-char-counter-input" dir="ltr" />
                        </span>
                        </label>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div id="branded-page-body">
            <div id="playlist-pane-container">
               <div class="primary-pane">
                  <div class="playlist-actions">
                     <span class="yt-uix-form-input-checkbox-container playlist-select-all">
                       <input type="checkbox" id="playlist-select-all" class="yt-uix-form-input-checkbox" name="" />
                       <span class="yt-uix-form-input-checkbox-element"></span></span>
                     <span class="playlist-quick-sort-container">
                        快速排序方式：
                        <span class="yt-uix-form-input-select ">
                           <span class="yt-uix-form-input-select-content"><img class="yt-uix-form-input-select-arrow" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" /><span class="yt-uix-form-input-select-value">
                           观看次数
                           </span></span>
                           <select id="playlist-quicksort" class="yt-uix-form-input-select-element ">
                              <option value="playlist-sort-views" class="playlist-sort-views">
                                 观看次数
                              </option>
                              <option value="playlist-sort-title" class="playlist-sort-title">
                                 标题
                              </option>
                              <option value="playlist-sort-date-uploaded" class="playlist-sort-date-uploaded">
                                 日期
                              </option>
                              <option value="playlist-sort-random" class="playlist-sort-random">
                                 随机
                              </option>
                              <option value="playlist-sort-reverse" class="playlist-sort-reverse">
                                 逆序
                              </option>
                           </select>
                        </span>
                     </span>
                     <button aria-activedescendant="" aria-haspopup="true" aria-expanded="false" aria-pressed="false" role="button" class=" yt-uix-button yt-uix-button-default" onclick=";return false;" id="playlist-edit-actions" type="button" disabled="true">
                        <span class="yt-uix-button-content">操作 </span>
                        <img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-arrow" />
                        <ul style="display: none;" aria-haspopup="true" role="menu" class=" yt-uix-button-menu yt-uix-button-menu-default">
                           <li id="aria-id-top" role="menuitem"><span onclick=";return false;" class="playlist-move-items-top yt-uix-button-menu-item">移至顶部</span></li>
                           <li id="aria-id-bottom" role="menuitem"><span onclick=";return false;" class="playlist-move-items-bottom yt-uix-button-menu-item">移至底部</span></li>
                           <li id="aria-id-delete" role="menuitem"><span onclick=";return false;" class="playlist-delete-items yt-uix-button-menu-item">从课件锦囊中删除课件</span></li>
                        </ul>
                     </button>
                     <button role="button" data-button-toggle="true" class="add-playlist-video-button yt-uix-button yt-uix-button-default" id="playlist-add-video" type="button" onclick=";return false;">
                       <span class="yt-uix-button-content">通过网址添加课件 </span>
                     </button>
                  </div>
                  <div class="hid" id="add-playlist-video-dialog">
                     <div id="add-video-success">
                        <div class="yt-alert yt-alert-default yt-alert-success  ">
                           <div class="yt-alert-icon">
                              <img alt="提醒图标" class="icon master-sprite" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" />
                           </div>
                           <div class="yt-alert-buttons"></div>
                           <div role="alert" class="yt-alert-content">
                              <span class="yt-alert-vertical-trick"></span>
                              <div class="yt-alert-message">
                                 课件添加成功！
                              </div>
                           </div>
                        </div>
                     </div>
                     <div id="add-video-failed">
                        <div class="yt-alert yt-alert-default yt-alert-error  ">
                           <div class="yt-alert-icon">
                              <img alt="提醒图标" class="icon master-sprite" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" />
                           </div>
                           <div class="yt-alert-buttons"></div>
                           <div role="alert" class="yt-alert-content"></div>
                        </div>
                     </div>
                     <span class=" yt-uix-form-input-container"><input placeholder="课件网址" class="yt-uix-form-input-text add-video-panel-url" /></span>
                     <button role="button" onclick=";return false;" class="playlist-add-video-url-button-add yt-uix-button yt-uix-button-default" type="button">
                       <span class="yt-uix-button-content">添加 </span>
                     </button>
                     <span class="add-video-loader loader" id="add-video-in-progress">
                     <img alt="正在添加课件..." src="<%=asset_path('yt/img/loader-vflff1Mjj.gif')%>" />
                     </span>
                  </div>
                  <div class="playlist-landing">
                     <% if !playlist.content.nil? and playlist.content.count > 0 %>
                     <ol class="playlist-video-items yt-uix-dragdrop" id="playlist-video-items">
                      <% playlist.content.each_with_index do |cwid,index| %>
												<%= render :partial=>'list',:locals =>{content:playlist.content,cwid:cwid,index:index,annotation:playlist.annotation,user_id:playlist.user_id} %>
											<% end %>
                     </ol>
                     <% else %>
                       <div class="playlist-empty-message">
                         <div class="yt-alert yt-alert-default yt-alert-warn  ">  
                           <div class="yt-alert-icon">
                             <img alt="提醒图标" class="icon master-sprite" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
                           </div>
                           <div class="yt-alert-buttons"></div><div role="alert" class="yt-alert-content">    
                             <span class="yt-alert-vertical-trick"></span>
                             <div class="yt-alert-message">
                                 该课件锦囊中没有任何课件。
                             </div>
                           </div>
                         </div>
                       </div>
                     <% end %>
                     <ul class="hid" id="playlist-video-item-templates">
                        <li class="playlist-video-item-interstitial-placeholder">
                           正在处理新课件...
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="secondary-pane">
                  <fieldset data-warn-at-chars-remaining="20" data-char-limit="5000" data-count-char-by-size="true" class="yt-uix-char-counter">
                     <label>
                     <span class="editor-input-header">
                       锦囊描述
                       <span class="remaining-chars input-annotation">
                       剩余字符数：<span class="yt-uix-char-counter-remaining"><%= (5000 - (playlist.desc.blank? ? 0 : playlist.desc.length)).to_s %></span>
                       </span>
                     </span>
                       <span class="yt-uix-form-input-container ">
                         <textarea rows="6" maxlength="5000" name="description" class="yt-uix-form-textarea yt-uix-char-counter-input" style="height: 73px;"><%=  Sanitize.clean(playlist.desc, Sanitize::Config::BASIC).html_safe if !playlist.desc.blank? %></textarea>
                       </span>
                     </label>
                  </fieldset>
                  <hr class="yt-horizontal-rule" />
                  <fieldset id="playlist-privacy-setting">
                     <h3>
                        隐私设置
                     </h3>
                     <ul>
                        <li>
                           <label>
                           <span class="yt-uix-form-input-radio-container  checked">
                             <input type="radio" value="0" id="playlist-privacy-public-radio-button" <% if playlist.privacy == 0 %>checked="checked"<% end %> class="yt-uix-form-input-radio" name="is_private" />
                             <span class="yt-uix-form-input-radio-element"></span></span>
                           公开
                           </label>
                        </li>
                        <li>
                           <label>
                           <span class="yt-uix-form-input-radio-container ">
                             <input type="radio" value="1" id="playlist-privacy-private-radio-button" class="yt-uix-form-input-radio" name="is_private" <% if playlist.privacy == 1 %>checked="checked"<% end %> />
                             <span class="yt-uix-form-input-radio-element"></span></span>
                           私有
                           </label>
                        </li>
                     </ul>
                  </fieldset>
                  <hr class="yt-horizontal-rule " />
                  <fieldset id="playlist-other-settings">
                     <h3>
                        设置
                     </h3>
                     <div class="checkbox-container <% if playlist.playlist_allow_embedding %> active<% end %>">
                        <span class="yt-uix-form-input-checkbox-container <% if playlist.playlist_allow_embedding %> checked<% end %>">
                          <input type="checkbox" value="1" id="playlist-allow-embedding" <% if playlist.playlist_allow_embedding %> checked="checked"<% end %> class="yt-uix-form-input-checkbox" name="allow_embedding" />
                          <span class="yt-uix-form-input-checkbox-element"></span>
                        </span>
                        <label for="playlist-allow-embedding">
                        允许其他人嵌入该课件锦囊
                        </label>
                        <div class="yt-alert yt-alert-naked yt-alert-warn  playlist-privacy-warning">
                           <div class="yt-alert-icon">
                              <img alt="缩略图" class="icon master-sprite" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" />
                           </div>
                           <div role="alert" class="yt-alert-content">
                              <span class="yt-alert-vertical-trick"></span>
                              <div class="yt-alert-message">
                                 由于此课件锦囊已设为私有，因此当它嵌入到其他网站时，他人将无法查看。
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="checkbox-container <% if playlist.playlist_allow_ratings %>active<% end %>">
                        <span class="yt-uix-form-input-checkbox-container  <% if playlist.playlist_allow_ratings %>checked<% end %>"><input type="checkbox" value="1" id="playlist-allow-ratings" <% if playlist.playlist_allow_ratings %> checked="checked" <% end %>class="yt-uix-form-input-checkbox" name="allow_ratings" /><span class="yt-uix-form-input-checkbox-element"></span></span>
                        <label for="playlist-allow-ratings">
                        允许他人对此课件锦囊执行“顶”或“踩”操作
                        </label>
                        <div class="yt-alert yt-alert-naked yt-alert-warn  playlist-privacy-warning">
                           <div class="yt-alert-icon">
                              <img alt="缩略图" class="icon master-sprite" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" />
                           </div>
                           <div role="alert" class="yt-alert-content">
                              <span class="yt-alert-vertical-trick"></span>
                              <div class="yt-alert-message">
                                 由于此课件锦囊已设为私有，因此他人将无法对其执行“顶”或“踩”操作。
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="checkbox-container <% if playlist.playlist_enable_grid_view %>active<% end %>">
                        <span class="yt-uix-form-input-checkbox-container <% if playlist.playlist_enable_grid_view %>checked<% end %>">
                          <input type="checkbox" value="1" id="playlist-enable-grid-view" class="yt-uix-form-input-checkbox" name="enable_grid_view" <% if playlist.playlist_enable_grid_view %> checked='checked' <% end %>/>
                          <span class="yt-uix-form-input-checkbox-element"></span></span>
                        <label for="playlist-enable-grid-view">
                        以网格形式显示此课件锦囊
                        </label>
                     </div>
                  </fieldset>
                  <hr class="yt-horizontal-rule " />
                  <fieldset id="playlist-delete">
                     <button role="button" onclick=";return false;" class="delete-playlist-button yt-uix-button yt-uix-button-default" type="button"><span class="yt-uix-button-content">删除课件锦囊 </span></button>
                     <div class="hid" id="delete-playlist-dialog">
                        <p>
                           您确定要删除<strong><%=  Sanitize.clean(playlist.title.gsub(/\n/, ' '), Sanitize::Config::BASIC).html_safe %>是</strong>吗？
                        </p>
                        <p>
                           注意：删除课件锦囊是一项无法撤消的永久性操作。
                        </p>
                        <button role="button" value="1" class="delete-playlist-confirm ignore-unsaved-changes yt-uix-button yt-uix-button-primary" type="submit" onclick=";return true;" name="action_delete"><span class="yt-uix-button-content">是的，我要删除 </span></button>
                        <button role="button" onclick=";return false;" class="delete-playlist-cancel yt-uix-button yt-uix-button-text" type="button"><span class="yt-uix-button-content">取消 </span></button>
                     </div>
                  </fieldset>
               </div>
            </div>
         </div>
      </div>
   </div>
</form>

<script type="text/javascript" charset="utf-8">
<% content_for :butt2 do %>
  $('#playlist-add-video').live('click',function(){
    $(this).toggleClass('yt-uix-button-toggled');
    $('#add-playlist-video-dialog').toggle().toggleClass('hid');
  });
  $('button.playlist-add-video-url-button-add').live('click',function(){
    $.ajax({
      url:'/ajax/add_to_playlist_by_url',
      type:'POST',
      data:{'url':$('.yt-uix-form-input-text.add-video-panel-url').val(),'playlist_id':'<%= playlist.id %>'},
      dataType:'json',
      error: function(){
        $('#add-video-success').hide();
        $('#add-video-failed > div > .yt-alert-content').text(json['reason']);
        $('#add-video-failed').show();
      }
    }).done(function(json){
      if(json['status'] == 'suc'){
        $('#add-video-failed').hide();
        $('#add-video-success').show();
        $('#playlist-video-items').append(json['list']);
      }else if(json['status'] =='failed'){
        $('#add-video-success').hide();
        $('#add-video-failed > div > .yt-alert-content').text(json['reason']);
        $('#add-video-failed').show();
      }
    });
  });
  var arr = new Array();
  var choose = new Array();
  var resortList = function(){
        arr = new Array();
        var k=1;
				$('li.playlist-video-item').each(function(index,li){
          if(!$(li).hasClass('removed')){
            arr.push($(li).attr('data-encrypted-kejian-id'));
            $('div > .playlist-video-item-base-content > .video-index',li).text(k.toString());
            k++;
          }
				});
  };
  resortList();
	var sorter = new Array();
	var quick_sort_gen = function(){
		sorter = new Array();
		$('li.playlist-video-item').each(function(index,li){
			sorter[index] = {};
			sorter[index]['data_created_at']=$(li).attr('data-created-at');
			sorter[index]['data_view_count']=$(li).attr('data-view-count');
			sorter[index]['data_title_pinyin']=$(li).attr('data-title-pinyin');
			sorter[index]['li']=li;
		});
	};
	quick_sort_gen();
  $('#playlist-quicksort').live('change',function(){
		quick_sort_gen();
    var sort = $('option:selected',this).val();
    $('.yt-uix-form-input-select-content > .yt-uix-form-input-select-value').text($('option:selected',this).text());
		switch(sort.trim()){
    		case 'playlist-sort-views':
					sorter.sort(function(x,y){
						return -(x.data_view_count - y.data_view_count)
					});
					break;
		    case 'playlist-sort-title':
					sorter.sort(function(x,y){
						return (x.data_title_pinyin > y.data_title_pinyin);
					});
					break;
		    case 'playlist-sort-date-uploaded':
					sorter.sort(function(x,y){
						return -(parseInt(x.data_created_at) -parseInt(y.data_created_at));
					});
					break;
				case 'playlist-sort-random':
					sorter.sort(function(x,y){
						return (Math.round(Math.random())-0.5);
					});
					break;
				case 'playlist-sort-reverse':
					sorter.reverse();
					break;
				default:
					break;
		}
		$('#playlist-video-items').html('');		
		$.each(sorter,function(index,li){
			$('#playlist-video-items').append(li.li);
		});
    resortList();
  });
  $('#playlist-select-all').live('click',function(){
    if($(this).attr('checked')){
       $('.yt-uix-form-input-checkbox.playlist-video-item-checkbox').attr('checked',true); 
       $('#playlist-edit-actions').attr('disabled',false);
			 resortList();
       choose = arr;
    }else{
       $('.yt-uix-form-input-checkbox.playlist-video-item-checkbox').attr('checked',false); 
       $('#playlist-edit-actions').attr('disabled',true);
       choose = new Array();
    }
  });
  $('.yt-uix-form-input-checkbox.playlist-video-item-checkbox').live('click',function(){
    if($(this).attr('checked')){
      $('#playlist-edit-actions').attr('disabled',false);
      choose.push($(this).parent().prev().val());
    }else{
      var ele = $(this).parent().prev().val();
      var indexOfele = choose.indexOf(ele);
      if(indexOfele != -1){
        choose.splice(indexOfele,indexOfele+1);
      }
      if(choose.length<1){
        $('#playlist-edit-actions').attr('disabled',true);        
      }
    }
  });
  $(document).click(function(e){
    var target = e.target
    if($('#playlist-edit-actions').hasClass('yt-uix-button-toggled') && !$(target).is('#playlist-edit-actions')){
      $('#playlist-edit-actions').removeClass('yt-uix-button-toggled');
      var ul = $('.__ytb > ul');
      ul.remove();
      ul.hide().addClass('hid');
      $('#playlist-edit-actions').append(ul);
    }
  });
  $('#playlist-edit-actions').live('click',function(e){
    $(this).toggleClass('yt-uix-button-toggled');
    e.stopPropagation();
    if($(this).hasClass('yt-uix-button-toggled')){
      var ul = $('ul',this);
      ul.remove();
      $('.__ytb').append(ul);
      var cssObj = {
        'min-width': '96px',
        'left': $(this).offset().left.toString() + 'px', 
        'top': ($(this).offset().top + $(this).height()).toString() + 'px'
      };
      ul.css(cssObj);
      ul.show().removeClass('hid');
    }else{
      var ul = $('.__ytb ul');
      ul.remove();
      ul.hide().addClass('hid');
      $(this).append(ul);
    }
  });
  $('#playlist-privacy-public-radio-button').live('click',function(){
      $('#playlist-allow-embedding').parent().parent().find('div.yt-alert.playlist-privacy-warning').hide();
      $('#playlist-allow-ratings').parent().parent().find('div.yt-alert.playlist-privacy-warning').hide();
  });
  $('#playlist-privacy-private-radio-button').live('click',function(){
    if($('#playlist-allow-embedding').attr('checked')){
      $('#playlist-allow-embedding').parent().parent().find('div.yt-alert.playlist-privacy-warning').show();
    }
    if($('#playlist-allow-ratings').attr('checked')){
      $('#playlist-allow-ratings').parent().parent().find('div.yt-alert.playlist-privacy-warning').show();
    }
  });
  $('button.delete-playlist-button.yt-uix-button.yt-uix-button-default').live('click',function(){
    $(this).hide().addClass('hid');
    $('#delete-playlist-dialog').show().removeClass('hid');
  });
  $('button.delete-playlist-cancel').live('click',function(){
    $('#delete-playlist-dialog').hide().addClass('hid');
    $('button.delete-playlist-button.yt-uix-button.yt-uix-button-default').show().removeClass('hid');
  });
  $('.playlist-landing ol').sortable({
    handle:".playlist-video-item-controls.yt-uix-dragdrop-drag-handle",
    update: function(){
      resortList();
    }
  });
  $('.playlist-video-item-controls.yt-uix-dragdrop-drag-handle').disableSelection();
	
  function selected_items(){
		var tmp = new Array();
		$('li.playlist-video-item').each(function(index,lix){
      if($('div > span.yt-uix-form-input-checkbox-container.playlist-video-item-checkbox-container > .yt-uix-form-input-checkbox.playlist-video-item-checkbox',lix).attr('checked')){
				$('div > span.yt-uix-form-input-checkbox-container.playlist-video-item-checkbox-container > .yt-uix-form-input-checkbox.playlist-video-item-checkbox',lix).attr('checked',false);
				tmp.push(lix);
				$(lix).remove();
      }
		});
		return tmp;
  };
	function after_edit_action_processing(){
    if($('#playlist-select-all').attr('checked'))
    {
       $('#playlist-select-all').attr('checked',false)
    }
		$('#playlist-edit-actions').attr('disabled',true);
	};
  $('#aria-id-top').live('click',function(){
		var tmp = selected_items();
		$.each(tmp.reverse(),function(index,li){
			$('#playlist-video-items').prepend(li);
		});
    after_edit_action_processing();
		resortList();
  });
  $('#aria-id-bottom').live('click',function(){
		arr = new Array();
		var tmp = selected_items();
		$.each(tmp,function(index,li){
			$('#playlist-video-items').append(li);
		});
		after_edit_action_processing();
		resortList();		
  });
  $('#aria-id-delete').live('click',function(){
    $('li.playlist-video-item').each(function(index,li){
      var inchoose = $.inArray($(li).attr('data-encrypted-kejian-id'),choose);
      if(inchoose != -1){
        $(li).addClass('removed');
				console.log(				$('div > input.delete-playlist-video',li));
				$('div > input.delete-playlist-kejian',li).val('1');
        $('div > span.yt-uix-form-input-checkbox-container.playlist-video-item-checkbox-container > .yt-uix-form-input-checkbox.playlist-video-item-checkbox',li).attr('checked',false);
        choose.splice(inchoose,inchoose+1);
      }
    });
		after_edit_action_processing();
    resortList();
  });
  $('button.undo-video-removal').live('click',function(){
    $(this).parent().parent().parent().removeClass('removed');
		$(this).parent().parent().find('input.delete-playlist-kejian').val('0');
		after_edit_action_processing();
    resortList();
  })
  $('.yt-uix-tooltip').tipsy({gravity: $.fn.tipsy.autoNS,fade: <%= @is_WebKit ? 'false' : 'true'%>,opacity: 1});
  $('.playlist-video-item-edit-annotation').live('click',function(){
    $(this).parent().find('label.video-annotation-input-container').show();
    $(this).parent().parent().parent().parent().parent().parent().addClass('editing-annotation');
  });
  $('.playlist-video-item-save-annotation').live('click',function(){
    var id = $(this).parent().attr('for');
    $(this).parent().parent().parent().parent().parent().parent().parent().removeClass('editing-annotation');
    $(this).parent().hide();
    var anno = $('#'+id).val();
    if($.trim(anno) != ''){
      $(this).parent().parent().parent().parent().parent().parent().parent().addClass('annotated');
      $(this).parent().next().find('.video-annotation-text').text(anno);
    }else{
      $(this).parent().parent().parent().parent().parent().parent().parent().removeClass('annotated');
      $(this).parent().next().find('.video-annotation-text').text(anno);
    }
  });
  $('.playlist-video-item-edit-range').live('click',function(){
    var id = $(this).parent().parent().parent().parent().parent().attr('data-encrypted-kejian-id');
    window.location.href = '/coursewares/'+id;
  });
	
	  $("input[name='title'],textarea[name='description']").live('keyup change',function(){
      var max = parseInt($(this).attr('maxlength'));
      if($(this).val().length > max){
          $(this).val($(this).val().substr(0, max));
      }
      $(this).parent().prev().find('.yt-uix-char-counter-remaining').html(max-$(this).val().length);
  });
   $('.yt-uix-tooltip').tipsy({gravity: $.fn.tipsy.autoNS,fade: <%= @is_WebKit ? 'false' : 'true'%>,opacity: 1});	

<% end %>
</script>
