
   <% cw = Courseware.find(cwid) %>
   <% user = User.find(cw.uploader_id) %>

    <li data-encrypted-kejian-id="<%= cwid %>" class="playlist-video-item yt-uix-dragdrop-draggable-item <% if !annotation[content.index(cwid)].blank? %> annotated <% end %><% if index%2 ==0 %> even <% else %>odd<% end %>" data-created-at="<%= cw.created_at.to_i %>" data-view-count="<%= cw.views_count %>" data-title-pinyin="<%= Pinyin.t(cw.title) %>">
       <div class="active display-state">
          <input type="hidden" value="<%= cw.id %>" name="playlist_kejian_id[]" />
          <span class="yt-uix-form-input-checkbox-container playlist-video-item-checkbox-container">
            <input type="checkbox" class="yt-uix-form-input-checkbox playlist-video-item-checkbox" name="" />
            <span class="yt-uix-form-input-checkbox-element"></span>
          </span>
          <span class="playlist-video-item-controls yt-uix-dragdrop-drag-handle"></span>
          <span class="playlist-video-item-base-content video-tile">
             <span class="video-index"><%= index+1 %></span>
             <span class="playlist-video-thumbnail-wrapper current-thumbnail">
             <span class="thumb-container">
             <span class="ux-thumb-wrap">
             <span class="video-thumb ux-thumb yt-thumb-default-124 ">
               <span class="yt-thumb-clip">
                 <span class="yt-thumb-clip-inner">
                   <img width="124" alt="缩略图" src="<%= asset_url('cw/'+ cw.ktvid.to_s + '/thumb_slide_0.jpg') %>" />
                   <span class="vertical-align">
                   </span>
                 </span>
               </span>
             </span>
             </span>
             </span>
             <span class="choose-thumbnail-overlay">
             <label for="choose-thumbnail-radio-button-0" class="choose-thumbnail-label">
             设为缩略图
             <span class="yt-uix-form-input-radio-container playlist-thumbnail-radio-button checked"><input type="radio" value="<%= cw.id %>" id="choose-thumbnail-radio-button-<%= index %>" checked="checked" class="yt-uix-form-input-radio" name="playlist_thumbnail_video_id" /><span class="yt-uix-form-input-radio-element"></span></span>
             </label>
             </span>
             </span>
             <span class="video-info ">
                <div data-warn-at-chars-remaining="20" data-char-limit="150" class="input-container">
                   <div class="annotation-details">
                      <label for="annotation_input_<%= index %>" class="video-annotation-input-container">
                         <button role="button" onclick=";return false;" class="playlist-video-item-save-annotation yt-uix-button yt-uix-button-default" style='height:29px'type="button"><span class="yt-uix-button-content">添加备注 </span></button>  
                         <div class="yt-uix-form-input-fluid yt-grid-fluid ">
                            <span class=" yt-uix-form-input-container"><input maxlength="150" id="annotation_input_<%= index %>" name="playlist_video_annotation[]" class="yt-uix-form-input-text video-annotation-input text yt-uix-char-counter-input" value="<%= annotation[content.index(cwid)] %>"/></span>
                         </div>
                      </label>
                      <span class="video-annotation-display">
                         <span class="video-thumb ux-thumb yt-thumb-square-28 ">
                           <span class="yt-thumb-clip">
                             <span class="yt-thumb-clip-inner">
                               <img width="28" alt="缩略图" src="<%=dz_avatar_url(user_id,User.find(user_id).email,:middle)%>" />
                               <span class="vertical-align"></span>
                             </span>
                           </span>
                         </span>
                         <p class="video-annotation-text"><%= annotation[content.index(cwid)] %></p>
                      </span>
                      <button role="button" title="添加备注" onclick=";return false;" class="playlist-video-item-edit-annotation yt-uix-tooltip yt-uix-button yt-uix-button-default yt-uix-tooltip" type="button">
                        <span class="yt-uix-button-content">  
                          <img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" />
                        </span>
                      </button>    
                   </div>
                </div>
                <span class="playlist-video-item-range-container">
                <button role="button" title="查看该课件" onclick=";return false;" class="playlist-video-item-edit-range yt-uix-tooltip yt-uix-button yt-uix-button-default yt-uix-tooltip" type="button">
                  <span class="yt-uix-button-content">  
                    <img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" />
                  </span>
                </button>
                </span>
                <span class="video-overview">
                <span class="video-title-container">
                <a href="/coursewares/<%= cw.id %>">
                <span dir="ltr" class="title video-title "><%= cw.title %></span>
                </a>
                </span>
                <span class="video-details">
                <span class="video-owner">
                创建者：<span dir="ltr" class="yt-user-name "><a href="/users/<%= User.get_slug cw.uploader_id %>"><%= name_beautify User.get_name(cw.uploader_id)%></a></span>
                </span>
                <span class="video-view-count">
                观看次数：<%= number_with_delimiter cw.views_count %> 次
                </span>
                </span>
                </span>
             </span>
          </span>
       </div>
       <div class="removed display-state">
          <p>
             此视频将被删除。
             <button role="button" onclick=";return false;" class="undo-video-removal yt-uix-button yt-uix-button-text" type="button"><span class="yt-uix-button-content">撤消 </span></button>
          </p>
       </div>
    </li>