<% coursewares = Courseware.eager_load(playlist.content).paginate(:page => params[:page], :per_page => @per_page) %>
<% coursewares.each_with_index do |cw,index| %>
  <% is_annotated = !playlist.annotation[playlist.content.index(cw.id)].blank? %>

<li class="playlist-video-item yt-uix-tile"> <span class="playlist-video-item-base-content">
   <span class="thumb-container">
   <span class="ux-thumb-wrap">
   <span class="video-thumb ux-thumb yt-thumb-square-291 ">
		 <span class="yt-thumb-clip">
			 <span class="yt-thumb-clip-inner">
				 <img width="291" alt="缩略图" src="<%= asset_url('cw/'+ cw.ktvid.to_s + '/thumb_slide_0.jpg') %>" />
				 <span class="vertical-align"></span>
			 </span>
   </span>
   </span> 
	 <span class="video-time">共<%= cw.slides_count %>页</span>
   </span>
   </span> 
	 <span class="video-overview">
		 <span class="video-index"><%= index+1 %></span>
   		<span class="video-details">
   			<span class="video-title ">
		 		 	<%= cw.title %>
   		  </span>
   <span class="video-owner">
   <span dir="ltr" class="yt-user-name "><a href="/<%= User.get_fangwendizhi cw.uploader_id %>"><%= name_beautify User.get_name(cw.uploader_id)%></a></span>
   |</span>
   <span class="video-view-count">阅读次数：<%= number_with_delimiter cw.views_count %> 次</span>
   </span>
   </span>
	 <% if is_annotated %>
   <span class="yt-uix-hovercard">
      <span class="video-thumb ux-thumb yt-thumb-square-28 annotation-thumb">
			 <span class="yt-thumb-clip">
				 <span class="yt-thumb-clip-inner">
					 <img width="32" data-orientation="vertical" class="yt-uix-hovercard-target" src="<%=dz_avatar_url(User.get_uid(playlist.user_id),User.get_email(playlist.user_id),:small)%>" alt="缩略图" data-position="topright" />
					 <span class="vertical-align"></span>
				 </span>
       </span>
      </span>
      <span class="ktv-hovercard-content" style='display:none'>
         <p class="yt"><%= playlist.annotation[playlist.content.index(cw.id)] %></p>
      </span>
   </span>
	 <% end %>
   </span> 
	 <a class="tile-link-block video-tile yt-uix-sessionlink yt-uix-tile-link" href="/coursewares/<%= cw.id %>"></a>
</li>
<% end %>
	<%= render partial:'mine/pagination' ,locals:{coursewares_ids:coursewares}%>
<script type="text/javascript">
<% content_for :butt2 do %>
var card = '<div id="yt-uix-hovercard-card1" class="yt-uix-hovercard-card yt-uix-hovercard-card-flip hid" style="display:none"><div class="yt-uix-card-border-arrow yt-uix-card-border-arrow-vertical" style="left: 8px;"></div><div class="yt-uix-hovercard-card-border"><div class="yt-uix-card-body-arrow yt-uix-card-body-arrow-vertical" style="left: 8px;"></div><div class="yt-uix-hovercard-card-body"><span class="yt-uix-hovercard-card-content"></span></div></div></div>'
$('#the_ytb').append(card);

// hovercard 待包装
$('.yt-uix-hovercard').live('click',function(e){
	e.stopPropagation();
});
$('#yt-uix-hovercard-card1').bind('mouseleave ', function(e) {
	$('.yt-uix-hovercard').removeClass('yt-uix-hovercard-active');
	$('#yt-uix-hovercard-card1').removeClass('yt-uix-hovercard-card-visible');
	$('#yt-uix-hovercard-card1').hide().addClass('hid');
});
$('.yt-uix-hovercard').hover(
	function(){
		$('#yt-uix-hovercard-card1 .yt-uix-hovercard-card-body .yt-uix-hovercard-card-content').html($('.ktv-hovercard-content',this).html());
			var gap = $(this).offset().top - $('body').scrollTop();
			var judge = $(window).height()/2;
			if (gap < judge){
				topx = $(this).offset().top + $('img',this).height()*1.3;
				left = $(this).offset().left - parseInt($('img',this).width()/3);
				cssObj = {
					'left': left.toString() + 'px',
					'top' : topx.toString() + 'px'
				};
				$('#yt-uix-hovercard-card1').addClass('yt-uix-hovercard-card-reverse');
			}else{
				$('#yt-uix-hovercard-card1').removeClass('yt-uix-hovercard-card-reverse');
				topx = $(this).offset().top - $('#yt-uix-hovercard-card1').height() - 8;
				left = $(this).offset().left - parseInt($('img',this).width()/3);
				cssObj = {
					'left': left.toString() + 'px',
					'top' : topx.toString() + 'px'
				};
			}
			$(this).addClass('yt-uix-hovercard-active');
			$('#yt-uix-hovercard-card1').css(cssObj);
			$('#yt-uix-hovercard-card1').addClass('yt-uix-hovercard-card-visible');
			$('#yt-uix-hovercard-card1').show().removeClass('hid');
	}
);
// hovercard 待包装

 <% end %> 
</script>

 