<%= render 'content_above' %>
<div id="mainbar">
<% content_for :butt2 do %>
  jQuery('#supernav li').click(function(){
    window.location.href = jQuery('a',this).attr('href');
  });
<% end %>
<div id="questions">
  <div id="supernav" class="supernav_red">
    <div class="switch switch_red">高级</div>
    <ul>
      <li class="red sigezi<%='_right_on jihuo' if params[:sort1].blank? or params[:sort1]=='all'%>"><a href="<%=alter_request_path request.fullpath,:sort1=>'all'%>">全部锦囊</a></li>
      <li class="red lianggezi<%='_right_on jihuo' if params[:sort1]=='lecture_notes'%>"><a href="<%=alter_request_path request.fullpath,:sort1=>'lecture_notes'%>">讲义</a></li>
      <li class="red lianggezi<%='_right_on jihuo' if params[:sort1]=='assignments'%>"><a href="<%=alter_request_path request.fullpath,:sort1=>'assignments'%>">作业</a></li>
      <li class="red lianggezi<%='_right_on jihuo' if params[:sort1]=='exams'%>"><a href="<%=alter_request_path request.fullpath,:sort1=>'exams'%>">试卷</a></li>
      <li class="red sigezi<%='_right_on jihuo' if params[:sort1]=='videos'%>"><a href="<%=alter_request_path request.fullpath,:sort1=>'videos'%>">课堂录像</a></li>
      <li class="red wugezi<%='_right_on jihuo' if params[:sort1]=='materials'%>"><a href="<%=alter_request_path request.fullpath,:sort1=>'materials'%>">资料/读物</a></li>
    </ul>
    <br style="clear:both">
    <div class="p">
      <a class="pubu pubu_red tb" href="/coursewares_by_departments">观赏课件锦囊瀑布</a>
      <div class="paixu">排序</div>
      <div class="paixu2 tb">
        <%=
          case params[:order]
          when 'slides_count1'
            jiangxu_active=1
            '页数从多到少'
          when 'slides_count0'
            jiangxu_active=0
            '页数从少到多'
          when 'price1'
            jiangxu_active=1
            '价格从高到低'
          when 'price0'
            jiangxu_active=0
            '价格从低到高'
          when 'thanked_count1'
            jiangxu_active=1
            '粉丝数从高到低'
          when 'thanked_count0'
            jiangxu_active=0
            '粉丝数从低到高'
          when 'human_time1'
            jiangxu_active=1
            '创作时间从多到少'
          when 'human_time0'
            jiangxu_active=0
            '创作时间从少到多'
          else
            no_shengxu_jiangxu=true
            '默认排序'
          end
        %>
      </div>
      <% unless no_shengxu_jiangxu %>
      <a class="shengxu <%='shengxu_active' if 0==jiangxu_active%> tb" href="<%=alter_request_path request.fullpath,:order=>params[:order][0..-2]+'0'%>">升序</a>
      <a class="jiangxu <%='jiangxu_active' if 1==jiangxu_active%> tb" href="<%=alter_request_path request.fullpath,:order=>params[:order][0..-2]+'1'%>">降序</a>
      <% end %>
      <div class="wenjian2 tb">
        <%=
          case params[:sort].split('|').first
          when 'ppt','pptx'
            'PowerPoint幻灯片'
          when 'doc','docx'
            'Word文档'
          when 'pdf','docx'
            'PDF文档'
          when 'djvu'
            'DJVU电子书'
          when 'xunlei','webm','youku','tudou','youtube'
            '在线视频'
          when 'zip','rar','7z'
            '压缩包'
          when 'png','jpg','jpeg'
            '图片集'
          else
            '全部文件类型'
          end
        %>
      </div>
      <div class="wenjian">文件类型</div>
    </div>
    <% content_for :butt2 do %>
      $('#supernav .paixu2').hover(function(){
        $('#supernav .sort_panel').show();
      },function(){
        $('#supernav .sort_panel').hide();
      });
      $('#supernav .sort_panel').hover(function(){
        $(this).show();
      },function(){
        $(this).hide();
      });
      $('#supernav .wenjian2').hover(function(){
        $('#supernav .wenjian_panel').show();
      },function(){
        $('#supernav .wenjian_panel').hide();
      });
      $('#supernav .wenjian_panel').hover(function(){
        $(this).show();
      },function(){
        $(this).hide();
      });
    <% end %>
    <div class="sort_panel" style="display:none;margin-left:180px;">
      <div class="tb slides_count1"><a href="<%=alter_request_path request.fullpath,:order=>'slides_count1'%>">页数从多到少</a></div>
      <div class="tb price1"><a href="<%=alter_request_path request.fullpath,:order=>'price1'%>">价格从高到低</a></div>
      <div class="tb thanked_count1"><a href="<%=alter_request_path request.fullpath,:order=>'thanked_count1'%>">粉丝数从高到低</a></div>
      <div class="tb human_time1"><a href="<%=alter_request_path request.fullpath,:order=>'human_time1'%>">创作时间从多到少</a></div>
      <div><a href="<%=alter_request_path request.fullpath,:order=>'all'%>">恢复默认排序</a></div>
    </div>
    <div class="wenjian_panel" style="display:none">
      <div class="tb ppt"><a href="<%=alter_request_path request.fullpath,:sort=>'ppt|pptx'%>">PowerPoint幻灯片</a></div>
      <div class="tb doc"><a href="<%=alter_request_path request.fullpath,:sort=>'doc|docx'%>">Word文档</a></div>
      <div class="tb pdf"><a href="<%=alter_request_path request.fullpath,:sort=>'pdf'%>">PDF文档</a></div>
      <div class="tb djvu"><a href="<%=alter_request_path request.fullpath,:sort=>'djvu'%>">DJVU电子书</a></div>
      <div class="tb flv"><a href="<%=alter_request_path request.fullpath,:sort=>'xunlei|webm|youku|tudou|youtube'%>">在线视频</a></div>
      <div class="tb jpg"><a href="<%=alter_request_path request.fullpath,:sort=>'png|jpg|jpeg'%>">图片集</a></div>
      <div class="tb zip"><a href="<%=alter_request_path request.fullpath,:sort=>'zip|rar|7z'%>">压缩包</a></div>
      <div><a href="<%=alter_request_path request.fullpath,:sort=>'all'%>">恢复全部类型</a></div>
    </div>
  </div>
<% content_for :butt2 do %>
$('.presentation').hover(function(){
  $('.play_list_overlay',this).show();
},function(){
  $('.play_list_overlay',this).hide();
});
<% end %>
<% if @play_lists.count<1 %>
<div style="line-height:88px;height:88px;text-align:center;">  还没有此类课件课件锦囊，<a class="psvr_login_required" href="/play_lists/new">创建一个</a>吧：）</div>
<% else %>
<% @play_lists.each do |item|%>
  <div id="question-summary-10960" class="question-summary">
      <div class="statscontainer __sdk">
        <div class="presentations">
          <%= render :partial => 'play_list',:locals=>{play_list:item} %>
        </div>
      </div>
      <div class="summary">
          <h3>
            <% item.course_fids.each do |course_fid| %>
              <% if nn=Course.get_name(course_fid) %>
                <a href="/courses/<%= course_fid %>" class="tag-post"><%= nn %></a>
                <% nd=Course.get_department(course_fid) %>
              <% end %>
            <% end %>
						<br>
            <a href="/play_lists/<%= item.id %>" class="question-hyperlink" title="<%= item.title %>">
            <%= item.title %>
            </a>
          </h3>
          <div class="excerpt excerpt_red">
            <% item.content.limit(3).each do |cwid| %>
              <a href="/coursewares/<%=cwid%>" class="playlist-detail-title yt-uix-sessionlink"><img class="tiny-video-icon" src="<%=asset_path 'yt/img/pixel-vfl3z5WfW.gif'%>" alt=""><span dir="ltr"><%=Courseware.get_title cwid%></span></a>
            <% end %>
          </div>
          <div class="tags t-nutrition">
            <% if item.desc.present? %>
              <%=item.desc%>
            <% else%>
              共<%=link_to item.coursewares_count,"/play_lists/#{item.id}"%>个课件.
            <% end%>
          </div>

          <div class="started fr" style="min-height: 60px;">
            <div class="user-info">
                <div class="user-action-time">
                  创建于<%= timeago(item.created_at,:span=>true) %>
                </div>
                <div class="user-gravatar32">
                    <a href="/users/<%=item.user_id  %>"><div class="">
                      <img width="32" height="32" alt="" src="<% avatar_url_quick(item.user_id,:small) %>">
                    </div></a>
                </div>
                <div class="user-details">
                  <a href="/users/<%= User.get_slug item.user_id %>">
                  <%= name_beautify User.get_name(item.user_id)%></a><br>
                    <span dir="ltr" title="reputation score 26521" class="reputation-score">26.5k</span>
										<span title="2 gold badges">
											<span class="badge1"></span>
											<span class="badgecount">2</span>
										</span>
										<span title="95 silver badges">
											<span class="badge2"></span>
											<span class="badgecount">95</span>
										</span>
										<span title="168 bronze badges">
											<span class="badge3"></span>
											<span class="badgecount">168</span>
										</span>
                </div>
            </div>
          </div>
      </div>
  </div>
  
  <% end %>
<% end %>  

</div>
<% if @play_lists.respond_to?(:total_pages) && @play_lists.total_pages > 1 %>
<div class="page-sizer fr">
  <a class="page-numbers<%= ' current' if 9==@per_page %>" title="每页显示9个课件" href="<%=alter_request_path request.fullpath,:per_page=>'9',:page=>'1'%>">9</a>
    <a class="page-numbers<%= ' current' if 15==@per_page %>" title="每页显示15个课件" href="<%=alter_request_path request.fullpath,:per_page=>'15',:page=>'1'%>">15</a>
    <a class="page-numbers<%= ' current' if 30==@per_page %>" title="每页显示30个课件" href="<%=alter_request_path request.fullpath,:per_page=>'30',:page=>'1'%>">30</a>
    <a class="page-numbers<%= ' current' if 50==@per_page %>" title="每页显示50个课件" href="<%=alter_request_path request.fullpath,:per_page=>'50',:page=>'1'%>">50</a>
    <span class="page-numbers desc">条目/页</span>
</div>

<%= will_paginate @play_lists, :renderer=> SKPLinkRenderer,:inner_window=>1 %>
<% end %>

</div>
<div id="sidebar">    
<%= render 'welcome_unlogin_user' unless user_signed_in? %>
    <div id="questions-count" class="module">
      <div class="summarycount al"><%= link_to number_with_delimiter(PlayList.destroyable.no_privacy.normal.count),'/play_lists' %></div>
      <p style="margin-top:6px">个课件锦囊已创建</p>
    </div>
<div class="__sdk" style="background:transparent">
  <a class="button_red primary psvr_login_required" href="/play_lists/new" style="color:white">创建课件锦囊</a>
</div>
<div class="module" id="chat-feature" style="padding-top:0">
    

    
<div class="module" id="recent-tags">
    <h4 id="h-recent-tags">按学院筛选课件锦囊</h4>
    <div id="recent-tags-list">
      <% Department.desc('play_lists_count').each do |item| %>
        <a href="/departments/<%= item.fid %>" class="post-tag" title="<%= item.name %>" rel="tag"><%= item.name %></a><span class="item-multiplier"><span class="item-multiplier-x"></span></span><br>
      <% end %>
    </div>
    <p class="ar"><a href="<%= courses_path %>">全部课程 &raquo;</a></p>
</div>      
</div>

           <strong><a href="/simple/home.php?mod=space&amp;do=friend&amp;view=online&amp;type=member"></a></strong>
<div id="online-users" class="module">
    <h4 id="h-recent-badges">在线用户: <strong><%= @session_count %></strong> 人在线
     - <strong><%= @onlinelist_count %></strong> 用户(<strong><%= @online_invisible_count %></strong> 隐身),
     <strong><%= @guest_count %></strong> 位游客
     - 最高记录是 <strong><%= @onlinerecord[0] %></strong> 于 <strong><%=Time.at(@onlinerecord[1].to_i).strftime("%F")%></strong></span>
    </h4>
    <table>
    <tbody>
     <% if @on_display.empty? %>
      <tr><td>当前只有游客或隐身用户在线</td></tr>
     <% else %>
       <% @on_display.each do |uid,online| %>
        <% if !online[2][1] %>
           <tr><td><a class="badge" href="/simple/?<%= uid %>"><span class="badge2" style="background-image:url(/simple/static/image/common/<%= online[3][1] %>);background-position:0 0;"></span>&nbsp;<%= online[1][0] %></a>
             <a href="/simple/?<%= uid %>"><%= timeago(Time.at(online[2][0])) %></a></td></tr>
        <% end %>
       <% end %>
     <% end %>

    </tbody></table>
    <p class="ar"><a href="/simple/home.php?mod=space&amp;do=friend&amp;view=online&amp;type=member">所有在线用户 »</a></p>
</div>

<div id="feed-link">
    <div id="feed-link-text"><a href="/welcome/feeds" title="RSS订阅最新课件"><span class="feed-icon"></span>RSS订阅最新课件</a></div>
</div>

        </div>
        
<%= render 'content_below' %>
