<% content_for :body_style do %>background:#CCC url(<%=asset_path 'ytb_diaplog.png'%>) repeat-x left top;<% end %>
<% content_for :armpit do %>
<%= stylesheet_link_tag 'ktv/__ytb' %>
<%= stylesheet_link_tag 'ktv/__ytb_playlists' %>
<% end %>

<div class="__ytb" style="margin-top:-10px" dir="ltr">
<div class=" playlist branded-page" id="page">
	<div id="sb-wrapper">
		<div class="sb-card sb-off" id="sb-container">
			<div class="sb-card-arrow">
			</div>
			<div class="sb-card-border">
				<div class="sb-card-body-arrow">
				</div>
				<div id="sb-target" class="sb-card-content">
				</div>
			</div>
		</div>
		<div class="sb-off" id="sb-onepick-target" style="top: 0px;">
		</div>
	</div>
	<div id="content-container">
		<!-- begin content -->
		<div id="content" style="width:970px">
			<div id="interstitial-editor" class="yt-dialog hid">
				<div class="yt-dialog-base">
					<span class="yt-dialog-align"></span>
					<div class="yt-dialog-fg">
						<div class="yt-dialog-fg-content yt-dialog-show-content">
							<div class="yt-dialog-header">
								<h2 class="yt-dialog-title">
								Add an introduction </h2>
							</div>
							<div class="yt-dialog-loading">
								<div class="yt-dialog-waiting-content">
									<div class="yt-spinner-img">
									</div>
									<div class="yt-dialog-waiting-text">
										Loading...
									</div>
								</div>
							</div>
							<div class="yt-dialog-content">
								<div class="yt-ic-tab-buttons">
									<button role="button" onclick=";return false;" class="yt-ic-webcam-button yt-uix-button yt-uix-button-default" type="button"><span class="yt-uix-button-content">Record from webcam </span></button>
									<button role="button" onclick=";return false;" class="yt-ic-text-button yt-uix-button yt-uix-button-default" type="button"><span class="yt-uix-button-content">Create text introduction </span></button>
								</div>
								<div class="yt-ic-text">
									<div class="yt-ic-text-main">
										<div class="yt-ic-preview-player">
										</div>
										<div class="yt-ic-text-settings">
											<div class="yt-ic-text-style-settings">
												<button aria-activedescendant="" aria-haspopup="true" aria-expanded="false" aria-pressed="false" role="button" data-button-menu-indicate-selected="true" onclick=";return false;" class="font-face-menu yt-uix-button yt-uix-button-default" type="button"><span class="yt-uix-button-content">Droid Sans </span><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-arrow">
												<ul style="display: none;" aria-haspopup="true" role="menu" class=" yt-uix-button-menu yt-uix-button-menu-default">
													<li id="aria-id-24656017147" role="menuitem"><span data-font-face="Droid Sans" onclick=";return false;" class="font-face-menu-item yt-ic-font-droid sans yt-uix-button-menu-item">Droid Sans</span></li>
													<li id="aria-id-22855935524" role="menuitem"><span data-font-face="Droid Serif" onclick=";return false;" class="font-face-menu-item yt-ic-font-droid serif yt-uix-button-menu-item">Droid Serif</span></li>
													<li id="aria-id-29210766664" role="menuitem"><span data-font-face="Open Sans" onclick=";return false;" class="font-face-menu-item yt-ic-font-open sans yt-uix-button-menu-item">Open Sans</span></li>
													<li id="aria-id-24674038620" role="menuitem"><span data-font-face="The Girl Next Door" onclick=";return false;" class="font-face-menu-item yt-ic-font-the girl next door yt-uix-button-menu-item">The Girl Next Door</span></li>
													<li id="aria-id-40045814686" role="menuitem"><span data-font-face="Reenie Beanie" onclick=";return false;" class="font-face-menu-item yt-ic-font-reenie beanie yt-uix-button-menu-item">Reenie Beanie</span></li>
													<li id="aria-id-41796537444" role="menuitem"><span data-font-face="Tangerine" onclick=";return false;" class="font-face-menu-item yt-ic-font-tangerine yt-uix-button-menu-item">Tangerine</span></li>
													<li id="aria-id-97695007649" role="menuitem"><span data-font-face="Raleway" onclick=";return false;" class="font-face-menu-item yt-ic-font-raleway yt-uix-button-menu-item">Raleway</span></li>
													<li id="aria-id-85695614248" role="menuitem"><span data-font-face="Comfortaa" onclick=";return false;" class="font-face-menu-item yt-ic-font-comfortaa yt-uix-button-menu-item">Comfortaa</span></li>
													<li id="aria-id-45132242648" role="menuitem"><span data-font-face="Rock Salt" onclick=";return false;" class="font-face-menu-item yt-ic-font-rock salt yt-uix-button-menu-item">Rock Salt</span></li>
													<li id="aria-id-93895394060" role="menuitem"><span data-font-face="Cabin Sketch" onclick=";return false;" class="font-face-menu-item yt-ic-font-cabin sketch yt-uix-button-menu-item">Cabin Sketch</span></li>
												</ul>
												</button><button aria-activedescendant="" aria-haspopup="true" aria-expanded="false" aria-pressed="false" role="button" data-button-menu-indicate-selected="true" onclick=";return false;" class="font-size-menu yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-font-size"><span class="yt-valign-trick"></span></span><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-arrow">
												<ul style="display: none;" aria-haspopup="true" role="menu" class=" yt-uix-button-menu yt-uix-button-menu-default">
													<li id="aria-id-428685466" role="menuitem"><span data-font-size-class="small" onclick=";return false;" class="font-size-menu-item yt-uix-button-menu-item">Small</span></li>
													<li id="aria-id-43491457287" role="menuitem"><span data-font-size-class="medium" onclick=";return false;" class="font-size-menu-item yt-uix-button-menu-item">Medium</span></li>
													<li id="aria-id-78759655092" role="menuitem"><span data-font-size-class="large" onclick=";return false;" class="font-size-menu-item yt-uix-button-menu-item">Large</span></li>
												</ul>
												</button><button role="button" data-button-toggle="true" onclick=";return false;" class="yt-ic-bold yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button" data-button-action="yt.www.playlist.InterstitialEditor.buttonAction_0"><span class="yt-uix-button-icon-wrapper"><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-font-bold"><span class="yt-valign-trick"></span></span></button><button role="button" data-button-toggle="true" onclick=";return false;" class="yt-ic-italic yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button" data-button-action="yt.www.playlist.InterstitialEditor.buttonAction_1"><span class="yt-uix-button-icon-wrapper"><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-font-italic"><span class="yt-valign-trick"></span></span></button><button aria-activedescendant="" aria-haspopup="true" aria-expanded="false" aria-pressed="false" role="button" onclick=";return false;" class="yt-ic-color-menu yt-ic-font-color yt-uix-button yt-uix-button-default" type="button"><span class="yt-uix-button-content"><img class="yt-ic-button-icon-font-color" alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"></span><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-arrow">
												<div style="display: none;" class=" yt-uix-button-menu yt-uix-button-menu-default">
													<span class="yt-ic-color-picker">
													<div>
														<div class="goog-palette" style="-moz-user-select: none;" tabindex="0">
															<table cellspacing="0" cellpadding="0" class="goog-palette-table" role="grid">
															<tbody class="goog-palette-body">
															<tr class="goog-palette-row">
																<td class="goog-palette-cell" id="goog-palette-cell-0" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 255, 255);" title="RGB (255, 255, 255)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-1" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(204, 204, 204);" title="RGB (204, 204, 204)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-2" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(192, 192, 192);" title="RGB (192, 192, 192)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-3" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(153, 153, 153);" title="RGB (153, 153, 153)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-4" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(102, 102, 102);" title="RGB (102, 102, 102)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-5" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(51, 51, 51);" title="RGB (51, 51, 51)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-6" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(0, 0, 0);" title="RGB (0, 0, 0)">
																	</div>
																</td>
															</tr>
															<tr class="goog-palette-row">
																<td class="goog-palette-cell" id="goog-palette-cell-7" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 204, 204);" title="RGB (255, 204, 204)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-8" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 102, 102);" title="RGB (255, 102, 102)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-9" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 0, 0);" title="RGB (255, 0, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-10" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(204, 0, 0);" title="RGB (204, 0, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-11" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(153, 0, 0);" title="RGB (153, 0, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-12" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(102, 0, 0);" title="RGB (102, 0, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-13" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(51, 0, 0);" title="RGB (51, 0, 0)">
																	</div>
																</td>
															</tr>
															<tr class="goog-palette-row">
																<td class="goog-palette-cell" id="goog-palette-cell-14" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 204, 153);" title="RGB (255, 204, 153)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-15" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 153, 102);" title="RGB (255, 153, 102)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-16" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 153, 0);" title="RGB (255, 153, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-17" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 102, 0);" title="RGB (255, 102, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-18" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(204, 102, 0);" title="RGB (204, 102, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-19" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(153, 51, 0);" title="RGB (153, 51, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-20" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(102, 51, 0);" title="RGB (102, 51, 0)">
																	</div>
																</td>
															</tr>
															<tr class="goog-palette-row">
																<td class="goog-palette-cell" id="goog-palette-cell-21" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 255, 153);" title="RGB (255, 255, 153)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-22" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 255, 102);" title="RGB (255, 255, 102)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-23" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 204, 102);" title="RGB (255, 204, 102)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-24" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 204, 51);" title="RGB (255, 204, 51)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-25" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(204, 153, 51);" title="RGB (204, 153, 51)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-26" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(153, 102, 51);" title="RGB (153, 102, 51)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-27" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(102, 51, 51);" title="RGB (102, 51, 51)">
																	</div>
																</td>
															</tr>
															<tr class="goog-palette-row">
																<td class="goog-palette-cell" id="goog-palette-cell-28" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 255, 204);" title="RGB (255, 255, 204)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-29" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 255, 51);" title="RGB (255, 255, 51)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-30" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 255, 0);" title="RGB (255, 255, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-31" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 204, 0);" title="RGB (255, 204, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-32" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(153, 153, 0);" title="RGB (153, 153, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-33" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(102, 102, 0);" title="RGB (102, 102, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-34" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(51, 51, 0);" title="RGB (51, 51, 0)">
																	</div>
																</td>
															</tr>
															<tr class="goog-palette-row">
																<td class="goog-palette-cell" id="goog-palette-cell-35" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(153, 255, 153);" title="RGB (153, 255, 153)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-36" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(102, 255, 153);" title="RGB (102, 255, 153)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-37" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(51, 255, 51);" title="RGB (51, 255, 51)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-38" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(51, 204, 0);" title="RGB (51, 204, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-39" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(0, 153, 0);" title="RGB (0, 153, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-40" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(0, 102, 0);" title="RGB (0, 102, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-41" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(0, 51, 0);" title="RGB (0, 51, 0)">
																	</div>
																</td>
															</tr>
															<tr class="goog-palette-row">
																<td class="goog-palette-cell" id="goog-palette-cell-42" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(153, 255, 255);" title="RGB (153, 255, 255)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-43" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(51, 255, 255);" title="RGB (51, 255, 255)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-44" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(102, 204, 204);" title="RGB (102, 204, 204)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-45" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(0, 204, 204);" title="RGB (0, 204, 204)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-46" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(51, 153, 153);" title="RGB (51, 153, 153)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-47" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(51, 102, 102);" title="RGB (51, 102, 102)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-48" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(0, 51, 51);" title="RGB (0, 51, 51)">
																	</div>
																</td>
															</tr>
															<tr class="goog-palette-row">
																<td class="goog-palette-cell" id="goog-palette-cell-49" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(204, 255, 255);" title="RGB (204, 255, 255)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-50" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(102, 255, 255);" title="RGB (102, 255, 255)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-51" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(51, 204, 255);" title="RGB (51, 204, 255)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-52" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(51, 102, 255);" title="RGB (51, 102, 255)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-53" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(51, 51, 255);" title="RGB (51, 51, 255)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-54" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(0, 0, 153);" title="RGB (0, 0, 153)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-55" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(0, 0, 102);" title="RGB (0, 0, 102)">
																	</div>
																</td>
															</tr>
															<tr class="goog-palette-row">
																<td class="goog-palette-cell" id="goog-palette-cell-56" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(204, 204, 255);" title="RGB (204, 204, 255)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-57" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(153, 153, 255);" title="RGB (153, 153, 255)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-58" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(102, 102, 204);" title="RGB (102, 102, 204)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-59" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(102, 51, 255);" title="RGB (102, 51, 255)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-60" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(102, 0, 204);" title="RGB (102, 0, 204)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-61" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(51, 51, 153);" title="RGB (51, 51, 153)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-62" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(51, 0, 153);" title="RGB (51, 0, 153)">
																	</div>
																</td>
															</tr>
															<tr class="goog-palette-row">
																<td class="goog-palette-cell" id="goog-palette-cell-63" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 204, 255);" title="RGB (255, 204, 255)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-64" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 153, 255);" title="RGB (255, 153, 255)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-65" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(204, 102, 204);" title="RGB (204, 102, 204)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-66" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(204, 51, 204);" title="RGB (204, 51, 204)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-67" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(153, 51, 153);" title="RGB (153, 51, 153)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-68" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(102, 51, 102);" title="RGB (102, 51, 102)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-69" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(51, 0, 51);" title="RGB (51, 0, 51)">
																	</div>
																</td>
															</tr>
															</tbody>
															</table>
														</div>
													</div>
													</span>
												</div>
												</button><button aria-activedescendant="" aria-haspopup="true" aria-expanded="false" aria-pressed="false" role="button" onclick=";return false;" class="yt-ic-color-menu yt-ic-bg-color yt-uix-button yt-uix-button-default" type="button"><span class="yt-uix-button-content"><img class="yt-ic-button-icon-bg-color" alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"></span><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-arrow">
												<div style="display: none;" class=" yt-uix-button-menu yt-uix-button-menu-default">
													<span class="yt-ic-color-picker">
													<div>
														<div class="goog-palette" style="-moz-user-select: none;" tabindex="0">
															<table cellspacing="0" cellpadding="0" class="goog-palette-table" role="grid">
															<tbody class="goog-palette-body">
															<tr class="goog-palette-row">
																<td class="goog-palette-cell" id="goog-palette-cell-70" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 255, 255);" title="RGB (255, 255, 255)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-71" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(204, 204, 204);" title="RGB (204, 204, 204)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-72" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(192, 192, 192);" title="RGB (192, 192, 192)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-73" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(153, 153, 153);" title="RGB (153, 153, 153)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-74" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(102, 102, 102);" title="RGB (102, 102, 102)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-75" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(51, 51, 51);" title="RGB (51, 51, 51)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-76" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(0, 0, 0);" title="RGB (0, 0, 0)">
																	</div>
																</td>
															</tr>
															<tr class="goog-palette-row">
																<td class="goog-palette-cell" id="goog-palette-cell-77" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 204, 204);" title="RGB (255, 204, 204)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-78" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 102, 102);" title="RGB (255, 102, 102)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-79" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 0, 0);" title="RGB (255, 0, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-80" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(204, 0, 0);" title="RGB (204, 0, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-81" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(153, 0, 0);" title="RGB (153, 0, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-82" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(102, 0, 0);" title="RGB (102, 0, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-83" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(51, 0, 0);" title="RGB (51, 0, 0)">
																	</div>
																</td>
															</tr>
															<tr class="goog-palette-row">
																<td class="goog-palette-cell" id="goog-palette-cell-84" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 204, 153);" title="RGB (255, 204, 153)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-85" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 153, 102);" title="RGB (255, 153, 102)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-86" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 153, 0);" title="RGB (255, 153, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-87" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 102, 0);" title="RGB (255, 102, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-88" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(204, 102, 0);" title="RGB (204, 102, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-89" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(153, 51, 0);" title="RGB (153, 51, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-90" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(102, 51, 0);" title="RGB (102, 51, 0)">
																	</div>
																</td>
															</tr>
															<tr class="goog-palette-row">
																<td class="goog-palette-cell" id="goog-palette-cell-91" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 255, 153);" title="RGB (255, 255, 153)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-92" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 255, 102);" title="RGB (255, 255, 102)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-93" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 204, 102);" title="RGB (255, 204, 102)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-94" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 204, 51);" title="RGB (255, 204, 51)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-95" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(204, 153, 51);" title="RGB (204, 153, 51)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-96" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(153, 102, 51);" title="RGB (153, 102, 51)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-97" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(102, 51, 51);" title="RGB (102, 51, 51)">
																	</div>
																</td>
															</tr>
															<tr class="goog-palette-row">
																<td class="goog-palette-cell" id="goog-palette-cell-98" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 255, 204);" title="RGB (255, 255, 204)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-99" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 255, 51);" title="RGB (255, 255, 51)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-100" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 255, 0);" title="RGB (255, 255, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-101" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 204, 0);" title="RGB (255, 204, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-102" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(153, 153, 0);" title="RGB (153, 153, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-103" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(102, 102, 0);" title="RGB (102, 102, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-104" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(51, 51, 0);" title="RGB (51, 51, 0)">
																	</div>
																</td>
															</tr>
															<tr class="goog-palette-row">
																<td class="goog-palette-cell" id="goog-palette-cell-105" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(153, 255, 153);" title="RGB (153, 255, 153)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-106" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(102, 255, 153);" title="RGB (102, 255, 153)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-107" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(51, 255, 51);" title="RGB (51, 255, 51)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-108" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(51, 204, 0);" title="RGB (51, 204, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-109" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(0, 153, 0);" title="RGB (0, 153, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-110" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(0, 102, 0);" title="RGB (0, 102, 0)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-111" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(0, 51, 0);" title="RGB (0, 51, 0)">
																	</div>
																</td>
															</tr>
															<tr class="goog-palette-row">
																<td class="goog-palette-cell" id="goog-palette-cell-112" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(153, 255, 255);" title="RGB (153, 255, 255)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-113" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(51, 255, 255);" title="RGB (51, 255, 255)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-114" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(102, 204, 204);" title="RGB (102, 204, 204)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-115" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(0, 204, 204);" title="RGB (0, 204, 204)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-116" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(51, 153, 153);" title="RGB (51, 153, 153)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-117" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(51, 102, 102);" title="RGB (51, 102, 102)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-118" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(0, 51, 51);" title="RGB (0, 51, 51)">
																	</div>
																</td>
															</tr>
															<tr class="goog-palette-row">
																<td class="goog-palette-cell" id="goog-palette-cell-119" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(204, 255, 255);" title="RGB (204, 255, 255)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-120" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(102, 255, 255);" title="RGB (102, 255, 255)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-121" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(51, 204, 255);" title="RGB (51, 204, 255)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-122" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(51, 102, 255);" title="RGB (51, 102, 255)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-123" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(51, 51, 255);" title="RGB (51, 51, 255)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-124" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(0, 0, 153);" title="RGB (0, 0, 153)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-125" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(0, 0, 102);" title="RGB (0, 0, 102)">
																	</div>
																</td>
															</tr>
															<tr class="goog-palette-row">
																<td class="goog-palette-cell" id="goog-palette-cell-126" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(204, 204, 255);" title="RGB (204, 204, 255)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-127" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(153, 153, 255);" title="RGB (153, 153, 255)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-128" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(102, 102, 204);" title="RGB (102, 102, 204)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-129" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(102, 51, 255);" title="RGB (102, 51, 255)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-130" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(102, 0, 204);" title="RGB (102, 0, 204)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-131" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(51, 51, 153);" title="RGB (51, 51, 153)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-132" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(51, 0, 153);" title="RGB (51, 0, 153)">
																	</div>
																</td>
															</tr>
															<tr class="goog-palette-row">
																<td class="goog-palette-cell" id="goog-palette-cell-133" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 204, 255);" title="RGB (255, 204, 255)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-134" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(255, 153, 255);" title="RGB (255, 153, 255)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-135" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(204, 102, 204);" title="RGB (204, 102, 204)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-136" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(204, 51, 204);" title="RGB (204, 51, 204)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-137" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(153, 51, 153);" title="RGB (153, 51, 153)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-138" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(102, 51, 102);" title="RGB (102, 51, 102)">
																	</div>
																</td>
																<td class="goog-palette-cell" id="goog-palette-cell-139" role="gridcell">
																	<div class="goog-palette-colorswatch" style="background-color: rgb(51, 0, 51);" title="RGB (51, 0, 51)">
																	</div>
																</td>
															</tr>
															</tbody>
															</table>
														</div>
													</div>
													</span>
												</div>
												</button>
											</div>
											<span class="yt-uix-form-input-container "><textarea rows="6" name="text_overlay" class="yt-uix-form-textarea "></textarea></span>
										</div>
									</div>
									<div class="yt-ic-text-tools">
										<div class="yt-ic-text-effects">
											<h3>Select an effect</h3>
											<ul>
												<li data-effect="fade-text" class="text-effect fade-text">
												<div class="thumbnail">
													<div class="title">
														Centered fade
													</div>
													<div class="icon">
														<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
													</div>
												</div>
												</li>
												<li data-effect="slide-text" class="text-effect slide-text">
												<div class="thumbnail">
													<div class="title">
														Slide
													</div>
													<div class="icon">
														<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
													</div>
												</div>
												</li>
												<li data-effect="zoom-text" class="text-effect zoom-text">
												<div class="thumbnail">
													<div class="title">
														Zoom
													</div>
													<div class="icon">
														<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
													</div>
												</div>
												</li>
												<li data-effect="blur-text" class="text-effect blur-text">
												<div class="thumbnail">
													<div class="title">
														Blur
													</div>
													<div class="icon">
														<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
													</div>
												</div>
												</li>
												<li data-effect="energy-text" class="text-effect energy-text">
												<div class="thumbnail">
													<div class="title">
														Smoke
													</div>
													<div class="icon">
														<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
													</div>
												</div>
												</li>
												<li data-effect="comet-text" class="text-effect comet-text">
												<div class="thumbnail">
													<div class="title">
														Comet
													</div>
													<div class="icon">
														<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
													</div>
												</div>
												</li>
											</ul>
										</div>
										<div class="yt-ic-audio-settings">
											<h3>Choose an audio track</h3>
											<button aria-activedescendant="" aria-haspopup="true" aria-expanded="false" aria-pressed="false" role="button" data-button-menu-indicate-selected="true" onclick=";return false;" class="audio-track-menu yt-uix-button yt-uix-button-default" type="button"><span class="yt-uix-button-content">No audio </span><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-arrow">
											<ul style="display: none;" aria-haspopup="true" role="menu" class=" yt-uix-button-menu yt-uix-button-menu-default">
												<li id="aria-id-98031750250" role="menuitem"><span data-audio-track-id="" onclick=";return false;" class="audio-track-menu-item yt-uix-button-menu-item">No audio</span></li>
												<li id="aria-id-822866779" role="menuitem"><span data-audio-track-id="aPNha4w1y_PxzqMWi4msjKZF3-0XWrlIaz4CQiqfoGuGEAdHFb2wh09ePbsrzOQh" onclick=";return false;" class="audio-track-menu-item yt-uix-button-menu-item">Bring It Home</span></li>
												<li id="aria-id-1733554811" role="menuitem"><span data-audio-track-id="gu1txFpWw8xWln7rmeA9uHT6zfm23oAVn7dZaLgWYHv6gltdeSB0Je2DgW3M6DZu" onclick=";return false;" class="audio-track-menu-item yt-uix-button-menu-item">Happy Jazz Piano</span></li>
												<li id="aria-id-10863078578" role="menuitem"><span data-audio-track-id="EOpyxYAbuhQEB0bt1m6z11YVGhy7WMU7lwjI6Ojbk8Q9wx8kIkdjBVMuC_BfFVNR" onclick=";return false;" class="audio-track-menu-item yt-uix-button-menu-item">Intense Sting</span></li>
												<li id="aria-id-87544112256" role="menuitem"><span data-audio-track-id="rDHY6QpfgFGnBXf01kqCWaD-0Wa-DQbO7IVF5MyjcNGpUY5V0F0LyMJSJpiYg-5Y" onclick=";return false;" class="audio-track-menu-item yt-uix-button-menu-item">Light Rock</span></li>
												<li id="aria-id-42571056858" role="menuitem"><span data-audio-track-id="t1YZpxTbq22NcbkD47hfYnd7S0cH14HPN23HcpHfvHHe-Loctave9eFWBlnZm0Rb" onclick=";return false;" class="audio-track-menu-item yt-uix-button-menu-item">Royal Wedding</span></li>
												<li id="aria-id-52584835522" role="menuitem"><span data-audio-track-id="Vv-6Op3FTWzHYCf5MHihP59pUBRfeyabNhU692n6RxDIW-S-HVO-C6nJUtKFS6p-" onclick=";return false;" class="audio-track-menu-item yt-uix-button-menu-item">Woodwind Dance</span></li>
											</ul>
											</button>
										</div>
										<div class="yt-ic-duration-settings">
											<h3>Set intro duration</h3>
											<div class="yt-ic-duration">
												<span><input type="text" class="time-field yt-uix-form-input-text"><span class="time-field-nudge-container"><button role="button" onclick=";return false;" class="time-field-nudge-up yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-time-field-up"><span class="yt-valign-trick"></span></span></button><button role="button" onclick=";return false;" class="time-field-nudge-down yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-time-field-down"><span class="yt-valign-trick"></span></span></button></span></span>
											</div>
										</div>
										<div class="hid">
											<div id="time-field-up-button-template">
												<!--
         <button type="button" class="time-field-nudge-up yt-uix-button yt-uix-button-default yt-uix-button-empty" onclick=";return false;"  role="button"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-time-field-up" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt=""><span class="yt-valign-trick"></span></span></button>
        -->
											</div>
											<div id="time-field-down-button-template">
												<!--
         <button type="button" class="time-field-nudge-down yt-uix-button yt-uix-button-default yt-uix-button-empty" onclick=";return false;"  role="button"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-time-field-down" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt=""><span class="yt-valign-trick"></span></span></button>
        -->
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="yt-dialog-working">
								<div id="yt-dialog-working-overlay">
								</div>
								<div id="yt-dialog-working-bubble">
									<div class="yt-dialog-waiting-content">
										<div class="yt-spinner-img">
										</div>
										<div class="yt-dialog-waiting-text">
											Working...
										</div>
									</div>
								</div>
							</div>
							<div class="yt-dialog-footer">
								<button role="button" data-action="cancel" onclick=";return false;" class=" yt-dialog-dismiss yt-uix-button yt-uix-button-default" type="button"><span class="yt-uix-button-content">取消 </span></button><button role="button" data-action="save" onclick=";return false;" class=" yt-dialog-dismiss yt-uix-button yt-uix-button-primary" type="button"><span class="yt-uix-button-content">保存 </span></button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="playlist-clip-editor" class="yt-dialog hid">
				<div class="yt-dialog-base">
					<span class="yt-dialog-align"></span>
					<div class="yt-dialog-fg">
						<div class="yt-dialog-fg-content yt-dialog-show-content">
							<div class="yt-dialog-header">
								<h2 class="yt-dialog-title">
								Adjust start and end times </h2>
							</div>
							<div class="yt-dialog-loading">
								<div class="yt-dialog-waiting-content">
									<div class="yt-spinner-img">
									</div>
									<div class="yt-dialog-waiting-text">
										Loading...
									</div>
								</div>
							</div>
							<div class="yt-dialog-content">
								<p class="clip-editor-intro-text">
									 Adjust the start and end times for this video when it is played as part of your playlist.
								</p>
								<p class="clip-editor-subtext">
									 The minimum trim length is 15 seconds.
								</p>
								<div id="playlist-clip-editor-player-container">
									<div id="playlist-clip-editor-player">
									</div>
									<div id="trimmer" class="clip-trimmer-container">
										<div class="clip-trimmer">
											<div class="framestrip">
												<div class="framestrip-slices">
                          <span class="framestrip-slice slice0"><img style="top:-0px" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"></span>
													<span class="framestrip-slice slice1"><img style="top:-96px" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"></span>
													<span class="framestrip-slice slice2"><img style="top:-192px" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"></span>
													<span class="framestrip-slice slice3"><img style="top:-288px" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"></span>
													<span class="framestrip-slice slice4"><img style="top:-384px" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"></span>
													<span class="framestrip-slice slice5"><img style="top:-480px" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"></span>
													<span class="framestrip-slice slice6"><img style="top:-576px" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"></span>
												</div>
											</div>
											<div class="grayout start-grayout">
											</div>
											<div class="dragger start-dragger">
												<button title="Nudge left" class="nudge-left"><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"></button>
												<img class="gripper" alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
												<button title="Nudge right" class="nudge-right"><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"></button>
											</div>
											<div class="readout start-readout">
												<span>0:00</span>
											</div>
											<div class="dragger end-dragger">
												<button title="Nudge left" class="nudge-left"><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"></button>
												<img class="gripper" alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
												<button title="Nudge right" class="nudge-right"><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"></button>
											</div>
											<div class="readout end-readout">
												<span>0:00</span>
											</div>
											<div class="grayout end-grayout">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="yt-dialog-working">
								<div id="yt-dialog-working-overlay">
								</div>
								<div id="yt-dialog-working-bubble">
									<div class="yt-dialog-waiting-content">
										<div class="yt-spinner-img">
										</div>
										<div class="yt-dialog-waiting-text">
											Working...
										</div>
									</div>
								</div>
							</div>
							<div class="yt-dialog-footer">
								<button role="button" data-action="cancel" onclick=";return false;" class=" yt-dialog-dismiss yt-uix-button yt-uix-button-default" type="button"><span class="yt-uix-button-content">Cancel </span></button><button role="button" data-action="save" onclick=";return false;" class=" yt-dialog-dismiss yt-uix-button yt-uix-button-primary" type="button"><span class="yt-uix-button-content">Save </span></button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<form action="/playlist_edit" method="post" id="playlist-editor-form">
				<input type="hidden" value="U8P_aKcvc6f77n7dAuB7YcpFSSL8kV4D" name="encrypted_playlist_id">
				<input type="hidden" value="TuLxhBDIcipyhErrvG8vng043_N8MTM1MDI4NTkwM0AxMzUwMTk5NTAz" name="session_token">
				<div id="playlist-editor-heading-container">
					<div class="ytg-box" id="playlist-editor-heading" style="height:32px">
						<h2>
            创建课件锦囊
            </h2>
						<ul>
							<li>
              <button role="button" class="ignore-unsaved-changes yt-uix-button yt-uix-button-default" id="playlist-editor-cancel-button" type="button" onclick=";window.location.href=this.getAttribute('href');return false;" href="<%=cancel_href%>"><span class="yt-uix-button-content">取消 </span></button>
							</li>
							<li>
							<button role="button" class="ignore-unsaved-changes yt-uix-button yt-uix-button-default" id="playlist-editor-save-button" type="submit" onclick=";return true;"><span class="yt-uix-button-content">保存</span></button>
							</li>
						</ul>
					</div>
				</div>
				<div class="ytg-base playlist-editor" id="branded-page-default-bg">
					<div class="ytg-base clearfix" id="branded-page-body-container">
						<div class="ytg-wide" id="branded-page-header-container" style="width:970px">
							<div class="ytg-wide ytg-box" id="branded-page-header" style="width:970px">
								<a href="/user/pmq20" class="profile-thumb">
								<span class="video-thumb ux-thumb yt-thumb-square-77 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="77" alt="Thumbnail" src="https://lh3.googleusercontent.com/-gbIM-7w-RGU/AAAAAAAAAAI/AAAAAAAAAAA/xU_37MxSH_M/s55-c-k/photo.jpg"><span class="vertical-align"></span></span></span></span>
								</a>
								<div class="ytg-box">
									<div class="playlist-info">
										<div class="header-right">
											<div class="header-stats ytg-box">
												<ul>
													<li class="stat-entry first">
													<span class="stat-value">0</span>
													<span class="stat-name">
													videos </span>
													</li>
												</ul>
											</div>
										</div>
										<div class="playlist-reference">
											<label data-char-limit="60" data-warn-at-chars-remaining="20" data-count-char-by-size="true" class="yt-uix-char-counter">
											锦囊标题 <span class="remaining-chars input-annotation">还可以输入
											<span class="yt-uix-char-counter-remaining">60</span> 个字符</span>
											<span class=" yt-uix-form-input-container"><input maxlength="60" value="aaa" name="name" class="yt-uix-form-input-text text yt-uix-char-counter-input" dir=""></span>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="branded-page-body">
							<div id="playlist-pane-container">
								<div class="primary-pane">
									<div class="playlist-actions">
										<span class="yt-uix-form-input-checkbox-container playlist-select-all"><input type="checkbox" id="playlist-select-all" class="yt-uix-form-input-checkbox" name=""><span class="yt-uix-form-input-checkbox-element"></span></span>
										<button aria-activedescendant="" aria-haspopup="true" aria-expanded="false" aria-pressed="false" role="button" class="yt-uix-button yt-uix-button-default" onclick=";return false;" id="playlist-edit-actions" type="button" disabled=""><span class="yt-uix-button-content">Actions </span><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-arrow">
										<ul style="min-width: 78px; left: 455px; top: 272.45px; display: none;" aria-haspopup="true" role="menu" class="yt-uix-button-menu yt-uix-button-menu-default hid">
											<li id="aria-id-50073136100" role="menuitem"><span onclick=";return false;" class="playlist-move-items-top yt-uix-button-menu-item">Move to top</span></li>
											<li id="aria-id-35894647422" role="menuitem"><span onclick=";return false;" class="playlist-move-items-bottom yt-uix-button-menu-item">Move to bottom</span></li>
											<li id="aria-id-70018134867" role="menuitem"><span onclick=";return false;" class="playlist-delete-items yt-uix-button-menu-item">Remove videos from playlist</span></li>
										</ul>
										</button>
										<button role="button" data-button-toggle="true" class="add-playlist-video-button yt-uix-button yt-uix-button-default yt-uix-button-toggled" id="playlist-add-video" type="button" onclick=";return false;"><span class="yt-uix-button-content">Add video by URL </span></button>
									</div>
									<div class="" id="add-playlist-video-dialog">
										<div id="add-video-success">
											<div class="yt-alert yt-alert-default yt-alert-success ">
												<div class="yt-alert-icon">
													<img alt="Alert icon" class="icon master-sprite" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
												</div>
												<div class="yt-alert-buttons">
												</div>
												<div role="alert" class="yt-alert-content">
													<span class="yt-alert-vertical-trick"></span>
													<div class="yt-alert-message">
														 Video successfully added!
													</div>
												</div>
											</div>
										</div>
										<div id="add-video-failed">
											<div class="yt-alert yt-alert-default yt-alert-error ">
												<div class="yt-alert-icon">
													<img alt="Alert icon" class="icon master-sprite" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
												</div>
												<div class="yt-alert-buttons">
												</div>
												<div role="alert" class="yt-alert-content">
												</div>
											</div>
										</div>
										<span class=" yt-uix-form-input-container"><input placeholder="Video URL" class="yt-uix-form-input-text add-video-panel-url label-input-label"></span>
										<button role="button" onclick=";return false;" class="playlist-add-video-url-button-add yt-uix-button yt-uix-button-default" type="button"><span class="yt-uix-button-content">Add </span></button>
										<span class="add-video-loader loader" id="add-video-in-progress">
										<img alt="Adding video..." src="<%=asset_path('yt/img/loader-vflff1Mjj.gif')%>">
										</span>
									</div>
									<div class="playlist-landing">
										<div class="playlist-empty-message">
											<div class="yt-alert yt-alert-default yt-alert-warn ">
												<div class="yt-alert-icon">
													<img alt="Alert icon" class="icon master-sprite" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
												</div>
												<div class="yt-alert-buttons">
												</div>
												<div role="alert" class="yt-alert-content">
													<span class="yt-alert-vertical-trick"></span>
													<div class="yt-alert-message">
                            这个锦囊内还没有任何物体.
													</div>
												</div>
											</div>
										</div>
										<ol class="playlist-video-items yt-uix-dragdrop" id="playlist-video-items">
										</ol>
										<ul class="hid" id="playlist-video-item-templates">
											<li class="playlist-video-item-interstitial-placeholder">
											Processing new video… </li>
										</ul>
									</div>
								</div>
								<div class="secondary-pane">
									<fieldset data-warn-at-chars-remaining="20" data-char-limit="5000" data-count-char-by-size="true" class="yt-uix-char-counter">
										<label>
										<span class="editor-input-header">
										Description <span class="remaining-chars input-annotation">
										<span class="yt-uix-char-counter-remaining">4997</span> characters remaining </span>
										</span>
										<span class="yt-uix-form-input-container "><textarea rows="6" maxlength="5000" name="description" class="yt-uix-form-textarea yt-uix-char-counter-input">bbb</textarea></span>
										</label>
									</fieldset>
									<hr class="yt-horizontal-rule ">
									<fieldset id="playlist-privacy-setting">
										<h3>
										公开程度 </h3>
										<ul>
											<li>
											<label>
											<span class="yt-uix-form-input-radio-container checked"><input type="radio" value="0" id="playlist-privacy-public-radio-button" checked="checked" class="yt-uix-form-input-radio" name="is_private"><span class="yt-uix-form-input-radio-element"></span></span>
											公共 </label>
											</li>
											<li>
											<label>
											<span class="yt-uix-form-input-radio-container "><input type="radio" value="1" id="playlist-privacy-private-radio-button" class="yt-uix-form-input-radio" name="is_private"><span class="yt-uix-form-input-radio-element"></span></span>
											私有 </label>
											</li>
										</ul>
									</fieldset>
									<hr class="yt-horizontal-rule ">
									<fieldset id="playlist-other-settings">
										<h3>
										设置 </h3>
										<div class="checkbox-container active">
											<span class="yt-uix-form-input-checkbox-container checked"><input type="checkbox" value="1" id="playlist-allow-embedding" checked="checked" class="yt-uix-form-input-checkbox" name="allow_embedding"><span class="yt-uix-form-input-checkbox-element"></span></span>
											<label for="playlist-allow-embedding">
											Allow others to embed this playlist </label>
											<div class="yt-alert yt-alert-naked yt-alert-warn playlist-privacy-warning">
												<div class="yt-alert-icon">
													<img alt="Alert icon" class="icon master-sprite" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
												</div>
												<div role="alert" class="yt-alert-content">
													<span class="yt-alert-vertical-trick"></span>
													<div class="yt-alert-message">
														 Others will not be able to view this playlist embedded on other sites since this playlist is private.
													</div>
												</div>
											</div>
										</div>
										<div class="checkbox-container active">
											<span class="yt-uix-form-input-checkbox-container checked"><input type="checkbox" value="1" id="playlist-allow-ratings" checked="checked" class="yt-uix-form-input-checkbox" name="allow_ratings"><span class="yt-uix-form-input-checkbox-element"></span></span>
											<label for="playlist-allow-ratings">
											Allow others to like or dislike this playlist </label>
											<div class="yt-alert yt-alert-naked yt-alert-warn playlist-privacy-warning">
												<div class="yt-alert-icon">
													<img alt="Alert icon" class="icon master-sprite" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
												</div>
												<div role="alert" class="yt-alert-content">
													<span class="yt-alert-vertical-trick"></span>
													<div class="yt-alert-message">
														 Others will not be able to like or dislike this playlist since this playlist is private.
													</div>
												</div>
											</div>
										</div>
										<div class="checkbox-container ">
											<span class="yt-uix-form-input-checkbox-container "><input type="checkbox" value="1" id="playlist-enable-grid-view" class="yt-uix-form-input-checkbox" name="enable_grid_view"><span class="yt-uix-form-input-checkbox-element"></span></span>
											<label for="playlist-enable-grid-view">
											Display this playlist as a grid </label>
										</div>
									</fieldset>
									<hr class="yt-horizontal-rule ">
									<fieldset id="playlist-delete">
										<button role="button" onclick=";return false;" class="delete-playlist-button yt-uix-button yt-uix-button-default" type="button"><span class="yt-uix-button-content">Delete Playlist </span></button>
										<div class="hid" id="delete-playlist-dialog">
											<p>
												 Are you sure you want to delete <strong>aaa</strong>?
											</p>
											<p>
												 Note: Deleting playlists is a permanent action and cannot be undone.
											</p>
											<button role="button" value="1" class="delete-playlist-confirm ignore-unsaved-changes yt-uix-button yt-uix-button-primary" type="submit" onclick=";return true;" name="action_delete"><span class="yt-uix-button-content">Yes, delete it </span></button>
											<button role="button" onclick=";return false;" class="delete-playlist-cancel yt-uix-button yt-uix-button-text" type="button"><span class="yt-uix-button-content">cancel </span></button>
										</div>
									</fieldset>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- end content -->
	</div>
	<div data-list-type="QL" data-list-id="" data-video-url="/watch?v=&amp;feature=BFql&amp;playnext=1&amp;list=QL" class="hid passive editable" id="playlist-bar">
		<div id="playlist-bar-bar-container">
			<div id="playlist-bar-bar">
				<div id="playlist-bar-notifications" class="yt-alert yt-alert-naked yt-alert-success hid ">
					<div class="yt-alert-icon">
						<img alt="Alert icon" class="icon master-sprite" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
					</div>
					<div role="alert" class="yt-alert-content">
					</div>
				</div>
				<span id="playlist-bar-info"><span class="playlist-bar-active playlist-bar-group"><button role="button" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" id="playlist-bar-prev-button" type="button" title="Previous video" onclick=";return false;"><span class="yt-uix-button-icon-wrapper"><img alt="Previous video" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-prev"><span class="yt-valign-trick"></span></span></button><span class="playlist-bar-count"><span class="playing-index">0</span> / <span class="item-count">0</span></span><button role="button" id="playlist-bar-next-button" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-next"><span class="yt-valign-trick"></span></span></button></span><span class="playlist-bar-active playlist-bar-group"><button role="button" data-button-toggle="true" id="playlist-bar-autoplay-button" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-autoplay"><span class="yt-valign-trick"></span></span></button><button role="button" data-button-toggle="true" id="playlist-bar-shuffle-button" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-shuffle"><span class="yt-valign-trick"></span></span></button></span><span class="playlist-bar-passive playlist-bar-group"><button role="button" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" id="playlist-bar-play-button" type="button" title="Play videos" onclick=";return false;"><span class="yt-uix-button-icon-wrapper"><img alt="Play videos" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-play"><span class="yt-valign-trick"></span></span></button><span class="playlist-bar-count"><span class="item-count">0</span></span></span><span class="yt-uix-button-group" id="playlist-bar-title"><span class="playlist-title">Unsaved Playlist</span></span></span>
				<a href="#" id="playlist-bar-lists-back">
				Return to active list </a>
				<span id="playlist-bar-controls"><span class="playlist-bar-group"><button role="button" id="playlist-bar-toggle-button" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-text yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-toggle"><span class="yt-valign-trick"></span></span></button></span><span class="playlist-bar-group"><button role="button" data-button-has-sibling-menu="true" data-button-menu-id="playlist-bar-options-menu" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button-reverse flip yt-uix-button yt-uix-button-text" type="button"><span class="yt-uix-button-content">Options </span><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-arrow"></button></span></span>
			</div>
		</div>
		<div id="playlist-bar-tray-container">
			<div class="yt-uix-slider yt-uix-slider-fluid" id="playlist-bar-tray">
				<button onclick="return false;" class="yt-uix-button playlist-bar-tray-button yt-uix-button-default yt-uix-slider-prev"><img alt="Previous video" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-slider-prev-arrow"></button><button onclick="return false;" class="yt-uix-button playlist-bar-tray-button yt-uix-button-default yt-uix-slider-next"><img alt="Next video" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-slider-next-arrow"></button>
				<div class="yt-uix-slider-body">
					<div class="yt-uix-slider-slide" id="playlist-bar-tray-content">
						<ol class="video-list">
						</ol>
						<ol id="playlist-bar-help">
							<li class="empty playlist-bar-help-message">Your list is empty. Add videos to your list using this button: <img class="addto-button-help" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"><br>
							 or <a class="load-lists" href="/view_all_playlists">load a different list</a>.</li>
						</ol>
					</div>
					<div class="yt-uix-slider-shade-left">
					</div>
					<div class="yt-uix-slider-shade-right">
					</div>
				</div>
			</div>
			<div id="playlist-bar-save">
			</div>
			<div class="dark-lolz" id="playlist-bar-lists">
			</div>
			<div id="playlist-bar-loading">
				<img alt="Loading..." src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"><span id="playlist-bar-loading-message">Loading...</span><span class="hid" id="playlist-bar-saving-message">Saving...</span>
			</div>
			<div data-video-thumb-url="//i4.ytimg.com/vi/__video_encrypted_id__/default.jpg" style="display: none;" id="playlist-bar-template">
				<!--<li class="playlist-bar-item yt-uix-slider-slide-unit __classes__" data-video-id="__video_encrypted_id__"><a href="__video_url__" title="__video_title__" class="yt-uix-sessionlink" data-sessionlink="ei=COHF_o39_7ICFSgWIQodIyWHGA%3D%3D&amp;feature=BFa"><span class="video-thumb ux-thumb yt-thumb-default-106 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="__video_title__" data-thumb-manual="true" data-thumb="__video_thumb_url__" width="106" ><span class="vertical-align"></span></span></span></span><span class="screen"></span><span class="count"><strong>__list_position__</strong></span><span class="play"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"></span><span class="yt-uix-button yt-uix-button-default delete"><img class="yt-uix-button-icon-playlist-bar-delete" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="Delete"></span><span class="now-playing">Now playing</span><span dir="ltr" class="title"><span>__video_title__  <span class="uploader">by __video_display_name__</span>
</span></span><span class="dragger"></span></a></li>-->
			</div>
			<div style="display: none;" id="playlist-bar-next-up-template">
				<!--<div class="playlist-bar-next-thumb"><span class="video-thumb ux-thumb yt-thumb-default-74 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img src="//i4.ytimg.com/vi/__video_encrypted_id__/default.jpg" alt="Thumbnail" width="74" ><span class="vertical-align"></span></span></span></span></div>-->
			</div>
		</div>
		<div class="hid" id="playlist-bar-options-menu">
			<div id="playlist-bar-extras-menu">
				<ul>
					<li><span data-action="save" class="yt-uix-button-menu-item">
					Save as a new playlist </span></li>
					<li><span data-action="clear" class="yt-uix-button-menu-item">
					Clear all videos from this list </span></li>
				</ul>
			</div>
			<ul>
				<li><span data-action="load-lists" class="yt-uix-button-menu-item">
				Load a different playlist </span></li>
				<li><span onclick="window.location.href='//support.google.com/youtube/bin/answer.py?answer=146749&amp;hl=en-US'" class="yt-uix-button-menu-item">Learn more</span></li>
			</ul>
		</div>
	</div>
</div>
</div>
