<% content_for :armpit do %>
<%= stylesheet_link_tag 'ktv/__ytb' %>
<%= stylesheet_link_tag 'ktv/__ytb_playlists_show' %>
<% end %>
<strong></strong>
<div class="__ytb" dir="ltr" >
	<div class=" playlist branded-page" id="page">
	<div id="sb-wrapper">
		<div class="sb-card sb-off" id="sb-container">
			<div class="sb-card-arrow">
			</div>
			<div class="sb-card-border">
				<div class="sb-card-body-arrow">
				</div>
				<div id="sb-target" class="sb-card-content">
				</div>
			</div>
		</div>
		<div class="sb-off" id="sb-onepick-target" style="top: 0px;">
		</div>
	</div>
	<div id="content-container">
		<!-- begin content -->
		<div id="content" style="width:970px">
				<div id="masthead-subnav" class="yt-nav yt-nav-dark ">
					<ul class="yt-nav-aside">
						<li>
						<a href="/mine/view_all_playlists" class="yt-uix-button yt-uix-sessionlink yt-uix-button-subnav yt-uix-button-dark" id="playlist-video-manager-button"><span class="yt-uix-button-content">课件管理器</span></a>
						</li>
					</ul>
					<ul>
						<li>
							<a href="/play_lists/<%= params[:id] %>/edit" class="yt-uix-button yt-uix-sessionlink yt-uix-button-subnav yt-uix-button-dark" data-sessionlink="ei=CObM-ur_gbMCFZ0VIQodtguFbQ%3D%3D" id="playlist-edit-button"><span class="yt-uix-button-content">修改课件锦囊</span></a>
						</li>
					</ul>
				</div>
<div id="branded-page-default-bg" class="ytg-base">
	<div id="branded-page-body-container" class="ytg-base clearfix ">
		<div id="branded-page-header-container" class="ytg-wide ">
			<div id="branded-page-header" class="ytg-wide ytg-box">
				<a class="profile-thumb" href="/users/<%= %>">
				<span class="video-thumb ux-thumb yt-thumb-square-77 ">
					<span class="yt-thumb-clip">
						<span class="yt-thumb-clip-inner">
							<img src="<%=  %>" alt="缩略图" width="77">
							<span class="vertical-align"></span>
						</span>
					</span>
				</span>
				</a>
				<div class="ytg-box">
					<div class="playlist-info">
						<div class="header-right">
							<div class="header-stats ytg-box">
								<ul>
									<li class="stat-entry first">
									<span class="stat-value">23</span>
									<span class="stat-name">
									视频 </span>
									</li>
									<li class="stat-entry">
									<span class="stat-value">73</span>
									<span class="stat-name">
									次观看 </span>
									</li>
								</ul>
							</div>
						</div>
						<div class="playlist-reference">
							<h1 title="收藏的视频">收藏的视频</h1>
							<p class="channel-author-attribution">
								 来自：<a href="/user/pmq20">Minqi Pan</a>
							</p>
						</div>
						<span id="play-all-button">
						<a class="yt-playall-link yt-playall-link-dark yt-uix-sessionlink " href="/watch?v=_tILqds7-jg&amp;list=FLIMHRDN2dx-0gbHFP7uqATA&amp;feature=plpp_play_all" data-sessionlink="ei=CObM-ur_gbMCFZ0VIQodtguFbQ%3D%3D&amp;feature=plpp_play_all">
						<img class="small-arrow" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
						全部播放 </a>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div id="branded-page-body">
			<div id="playlist-pane-container">
				<div class="primary-pane">
					<div class="playlist-landing ypc-list-container">
						 <div class="playlist-messages">
						    <div class="yt-alert yt-alert-default yt-alert-warn  ">  
									<div class="yt-alert-icon">
						    		<img alt="提醒图标" class="icon master-sprite" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
						  		</div>
									<div class="yt-alert-buttons"></div>
									<div role="alert" class="yt-alert-content">    
												<span class="yt-alert-vertical-trick"></span>
							    			<div class="yt-alert-message">
							            	这是私有播放列表，虽然可以分享，但只有在设为公开后，才能供其他人查看。
							    			</div>
									</div>
								</div>
							</div>
							<div id="playlist-actions">
								<div id="playlist-action-buttons">
									<button data-tooltip-text="分享或嵌入此课件锦囊" type="button" class="playlist-share yt-uix-button yt-uix-button-default yt-uix-tooltip" onclick=";return false;" title="分享或嵌入此课件锦囊" data-button-toggle="true" data-button-action="yt.www.playlist.share" role="button"><span class="yt-uix-button-content">分享 </span></button>
								</div>
								<div id="playlist-share-container" class="playlist-share-area hid">
								</div>
								<div id="playlist-share-loading" class="playlist-share-area hid">
									 正在加载...
								</div>
							</div>
              <ol>
                <%= render partial:'show_list',locals:{playlist:@playlist} %>
              </ol>
					</div>
				</div>
				<div class="secondary-pane">
					<div class="channel-module">
						<div class="playlist-creator-info">
							<h2>关于 Minqi Pan</h2>
							<div class="creator-links">
								<a href="/user/pmq20/videos?view=1">
								4 个课件锦囊 </a>
								<a href="/user/pmq20/videos?view=0">
								查看所有视频 </a>
							</div>
							<div class="creator-stats">
								<p>
									 观看次数：153 次
								</p>
								<p>
									 3 位订阅者
								</p>
							</div>
						</div>
						<div class="yt-horizontal-rule ">
							<span class="first"></span><span class="second"></span><span class="third"></span>
						</div>
					</div>
					<div class="playlists-narrow channel-module yt-uix-c3-module-container">
						<div class="module-view gh-featured">
							<h2>精选课件锦囊</h2>
							<div class="playlist yt-tile-visible yt-uix-tile">
								<a href="/watch?v=eO4V45qp_jU&amp;list=UUIMHRDN2dx-0gbHFP7uqATA&amp;feature=plpp" class="play-all yt-uix-sessionlink yt-uix-contextlink" data-sessionlink="context=C4a376e5FDvjVQa1PpcFNw9Jaj2PTfZ2GKVbGCMTNw0Sh9rtGFxqA%3D">
								<span class="playlist-thumb-strip playlist-thumb-strip-252"><span class="videos videos-4 horizontal-cutoff"><span class="clip"><span class="centering-offset"><span class="centering"><span class="ie7-vertical-align-hack">&nbsp;</span><img data-group-key="thumb-group-0" src="//i2.ytimg.com/vi/eO4V45qp_jU/default.jpg" data-thumb="//i2.ytimg.com/vi/eO4V45qp_jU/default.jpg" alt="" class="thumb"></span></span></span><span class="clip"><span class="centering-offset"><span class="centering"><span class="ie7-vertical-align-hack">&nbsp;</span><img data-group-key="thumb-group-0" src="//i3.ytimg.com/vi/rZmt-axGFBk/default.jpg" data-thumb="//i3.ytimg.com/vi/rZmt-axGFBk/default.jpg" alt="" class="thumb"></span></span></span><span class="clip"><span class="centering-offset"><span class="centering"><span class="ie7-vertical-align-hack">&nbsp;</span><img data-group-key="thumb-group-0" src="//i2.ytimg.com/vi/AvTk1UWEB0I/default.jpg" data-thumb="//i2.ytimg.com/vi/AvTk1UWEB0I/default.jpg" alt="" class="thumb"></span></span></span><span class="clip"><span class="centering-offset"><span class="centering"><span class="ie7-vertical-align-hack">&nbsp;</span><img data-group-key="thumb-group-0" src="//i3.ytimg.com/vi/2VeJA6JK-pU/default.jpg" data-thumb="//i3.ytimg.com/vi/2VeJA6JK-pU/default.jpg" alt="" class="thumb"></span></span></span></span><span class="resting-overlay"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="play-button" alt="Play all"><span class="video-count-box">
								6 个视频 </span>
								</span><span class="hover-overlay"><span class="play-all-container"><strong><img src="<%=asset_path('yt/img/mini-play-all-vflZu1SBs.png')%>" alt="">全部播放</strong></span></span></span>
								</a>
								<h3>
								<a href="/playlist?list=UUIMHRDN2dx-0gbHFP7uqATA&amp;feature=plpp" title="查看课件锦囊中的所有视频。" class="yt-uix-tile-link">
								上传的视频 </a>
								</h3>
								<span class="playlist-author-attribution">
								所有者：Minqi Pan </span>
							</div>
							<a class="view-all-link" href="/user/pmq20/videos?view=1">
							查看全部 <img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
		</div>
		<!-- end content -->
	  </div>
  </div>
</div>



<script type="text/javascript" charset="utf-8">
<% content_for :butt2 do %>
// var offset = -(jQuery('.__ytb').offset().top - 15 - (jQuery('header').offset().top + jQuery('header').height()));
// $('.__ytb').css('margin-top',offset.toString()+'px');

<% end %>
</script>
