<% content_for :armpit do %>
<%= stylesheet_link_tag 'ktv/__ytb' %>
<%= stylesheet_link_tag 'ktv/__ytb_playlists_show' %>
<% end %>
<strong></strong>
<div class="__ytb" dir="ltr" >
	<div class=" playlist branded-page" id="page">
	<div id="sb-wrapper">
		<div class="sb-card sb-off" id="sb-container">
			<div class="sb-card-arrow">
			</div>
			<div class="sb-card-border">
				<div class="sb-card-body-arrow">
				</div>
				<div id="sb-target" class="sb-card-content">
				</div>
			</div>
		</div>
		<div class="sb-off" id="sb-onepick-target" style="top: 0px;">
		</div>
	</div>
	<div id="content-container">
		<!-- begin content -->
		<div id="content" style="width:970px">
				<div id="masthead-subnav" class="yt-nav yt-nav-dark ">
					<ul class="yt-nav-aside">
						<li>
						<a href="/mine/view_all_playlists" class="yt-uix-button yt-uix-sessionlink yt-uix-button-subnav yt-uix-button-dark" id="playlist-video-manager-button"><span class="yt-uix-button-content">课件管理器</span></a>
						</li>
					</ul>
					<ul>
						<li>
							<a href="/play_lists/<%= params[:id] %>/edit" class="yt-uix-button yt-uix-sessionlink yt-uix-button-subnav yt-uix-button-dark" data-sessionlink="ei=CObM-ur_gbMCFZ0VIQodtguFbQ%3D%3D" id="playlist-edit-button"><span class="yt-uix-button-content">修改课件锦囊</span></a>
						</li>
					</ul>
				</div>
<div id="branded-page-default-bg" class="ytg-base">
	<div id="branded-page-body-container" class="ytg-base clearfix <% if @playlist.playlist_enable_grid_view %>playlist-grid-view<% end %>">
		<div id="branded-page-header-container" class="ytg-wide ">
			<div id="branded-page-header" class="ytg-wide ytg-box">
				<a class="profile-thumb" href="/users/<%= User.get_slug @playlist.user_id %>">
				<span class="video-thumb ux-thumb yt-thumb-square-77 ">
					<span class="yt-thumb-clip">
						<span class="yt-thumb-clip-inner">
							<img src=" <%=dz_avatar_url(@playlist.user_id,User.find(@playlist.user_id).email,:middle)%> " alt="缩略图" width="77">
							<span class="vertical-align"></span>
						</span>
					</span>
				</span>
				</a>
				<div class="ytg-box">
					<div class="playlist-info">
						<div class="header-right">
							<div class="header-stats ytg-box">
								<ul>
									<li class="stat-entry first">
									<span class="stat-value"><%= @playlist.coursewares_count%></span>
									<span class="stat-name">
									  课件 </span>
									</li>
									<li class="stat-entry">
                          <span class="stat-value"><%= @playlist.content_total_pages %></span>
                          <span class="stat-name">
                  总页数
                          </span>
                  </li>
									<li class="stat-entry">
									<span class="stat-value"><%= @playlist.views_count %></span>
									<span class="stat-name">
									次查看 </span>
									</li>
								</ul>
							</div>
						</div>
						<div class="playlist-reference">
							<h1 title="<%= @playlist.title %>"><%= @playlist.title %></h1>
							<p class="channel-author-attribution">
								 来自：<a href="/users/<%= User.get_slug @playlist.user_id %>"><%= name_beautify User.get_name(@playlist.user_id)%></a>
							</p>
						</div>
						<% if !@playlist.content.nil? %>
								<span id="play-all-button">
									<a class="yt-playall-link yt-playall-link-dark yt-uix-sessionlink " href="/coursewares/<%= @playlist.content[0] %>">
										<img class="small-arrow" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
										全部阅读 
									</a>
								</span>
						<% end %>
						<% if @playlist.playlist_enable_grid_view %>
							<%= render :partial=>'playlist_actions',:locals=>{playlist:@playlist} %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div id="branded-page-body">
			<div id="playlist-pane-container">
				<div class="primary-pane">
					<div class="playlist-landing ypc-list-container">
              <% if @playlist.privacy !=0 %>
						  <div class="playlist-messages">
						    <div class="yt-alert yt-alert-default yt-alert-warn  ">  
									<div class="yt-alert-icon">
						    		<img alt="提醒图标" class="icon master-sprite" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
						  		</div>
									<div class="yt-alert-buttons"></div>
									<div role="alert" class="yt-alert-content">    
												<span class="yt-alert-vertical-trick"></span>
							    			<div class="yt-alert-message">
							            	这是私有课件锦囊，虽然可以分享，但只有在设为公开后，才能供其他人查看。
							    			</div>
									</div>
								</div>
							</div>
              <% end %>
							<% if !@playlist.playlist_enable_grid_view %>
								<%= render :partial=>'playlist_actions',:locals=>{playlist:@playlist} %>
							<% end %>
					    <ol>
								<% if !@playlist.content.nil? %>">
										<% if !@playlist.playlist_enable_grid_view %>
											<%= render partial:'show_list',locals:{playlist:@playlist} %>
										<% else %>
											<%= render partial:'show_grid',locals:{playlist:@playlist} %>
										<% end %>
								<% else %>
	                <div class="playlist-empty-message" style="margin:20px 0 0 20px;width:600px">
	                  <div class="yt-alert yt-alert-default yt-alert-warn  ">  
	                    <div class="yt-alert-icon">
	                      <img alt="提醒图标" class="icon master-sprite" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
	                    </div>
	                    <div class="yt-alert-buttons"></div><div role="alert" class="yt-alert-content">    
	                      <span class="yt-alert-vertical-trick"></span>
	                      <div class="yt-alert-message">
	                          该课件锦囊中没有任何课件。
	                      </div>
	                    </div>
	                  </div>
								<% end %>
              </ol>
					</div>
				</div>
				<div class="secondary-pane">
				  <%  if !@playlist.desc.blank? %>
				  <div class="channel-module yt-uix-tooltip" title="课件锦囊描述">
                      <div class="playlist-description">
                        <%=  Sanitize.clean(@playlist.desc.gsub(/\n/, '<br />'), Sanitize::Config::BASIC).html_safe %>
                      </div>
                      <div class="yt-horizontal-rule ">
                        <span class="first"></span>
                        <span class="second"></span>
                        <span class="third"></span>
                      </div>
          </div>
          <% end %>
					<div class="channel-module">
						<div class="playlist-creator-info">
							<h2>关于 <%= name_beautify User.get_name(@playlist.user_id)%></h2>
							<div class="creator-links">
								<a href="/users/<%= User.get_slug @playlist.user_id %>">
								<%= @user.play_lists.count %> 个课件锦囊 </a>
								<a href="/users/<%= User.get_slug @playlist.user_id %>">
								查看所有课件 </a>
							</div>
							<div class="creator-stats">
								<p>
									 观看次数： <%= @user.profile_view_count %>次
								</p>
								<p>
									 <%= @user.followers_count %> 位订阅者
								</p>
							</div>
						</div>
						<% if (aa = false) %>
						<div class="yt-horizontal-rule ">
							<span class="first"></span><span class="second"></span><span class="third"></span>
						</div>
						<% end %>
					</div>
					<% if aa %>
					<div class="playlists-narrow channel-module yt-uix-c3-module-container">
						<div class="module-view gh-featured">
							<h2>精选课件锦囊</h2>
							<div class="playlist yt-tile-visible yt-uix-tile">
                	<a class="yt-uix-sessionlink" href="/play_lists/<%= @playlist.id %>">
              		<span class="playlist-thumb-strip playlist-thumb-strip-252">
              		  <span class="videos videos-<%= @playlist.content.count > 6 ? 6 : @playlist.content.count %> vertical-cutoff">
                      <% @playlist.content.each_with_index do |id,index| %>
                         <% if index > 5 
                              break
                           end %>
                           <% cw = Courseware.find(id) %>
              				    <% if @playlist.content.count < 3  
              				          src = asset_url_eb(cw.ktvid.to_s + '/slide_0.jpg')
              			         else
              			            src = asset_url('cw/'+ cw.ktvid.to_s + '/thumb_slide_0.jpg')
              		           end
              				      %>                      
              				    <span class="clip">
              				      <span class="centering-offset">
              				        <span class="centering">
              				          <span class="ie7-vertical-align-hack">&nbsp;</span>
              				            <img class="thumb" alt="" src="<%= src %>">
              				        </span>
              				      </span>
              				    </span>
              		    <% end %>
              		</span>
              		<span class="resting-overlay">
              			<img alt="Play all" class="play-button" src="<%= asset_path 'yt/img/pixel-vfl3z5WfW.gif' %>">
              			<span class="video-count-box">
              			  <%= @playlist.content.count %> 个课件 
              			</span>
              		</span>
              				<span class="hover-overlay">
              				  <span class="play-all-container">
              				    <strong><img alt="" src="<%= asset_path 'yt/img/mini-play-all-vflZu1SBs.png' %>">全部播放</strong>
              				  </span>
              				</span>
              		</span>
              		</a>

								<h3>
								<a href="/playlist?list=UUIMHRDN2dx-0gbHFP7uqATA&amp;feature=plpp" title="查看课件锦囊中的所有视频。" class="yt-uix-tile-link">
								上传的课件 </a>
								</h3>
								<span class="playlist-author-attribution">
								所有者：<%= name_beautify User.get_name(@playlist.user_id)%></span>
							</div>
							<a class="view-all-link" href="/users/<%= User.get_slug @playlist.user_id %>">
							查看全部 <img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</a>
						</div>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
		</div>
		<!-- end content -->
	  </div>
  </div>
</div>



<script type="text/javascript" charset="utf-8">
<% content_for :butt2 do %>
// var offset = -(jQuery('.__ytb').offset().top - 15 - (jQuery('header').offset().top + jQuery('header').height()));
// $('.__ytb').css('margin-top',offset.toString()+'px');
   $('.yt-uix-tooltip').tipsy({gravity: $.fn.tipsy.autoNS,fade: <%= @is_WebKit ? 'false' : 'true'%>,opacity: 1});
   $('.addto-watch-later-button,.addto-watch-later-button-success').live('click',function(){
     var cwid = $(this).attr('data-kejian-id').trim();
     var type='addto';
     if($(this).hasClass('addto-watch-later-button-success')){
       type='remove'
     }
     tmp = this;
     $.ajax({
       url:'/ajax/add_to_read_later',
       type:'POST',
       data:{'cwid':cwid,'type':type},
       dataType:'json'
     }).done(function(json){
        if(json['status']=='suc'){
          if(type=='addto'){
            $(tmp).addClass('addto-watch-later-button-success');
            $(tmp).removeClass('addto-watch-later-button'); 
          }else{
            $(tmp).addClass('addto-watch-later-button');
            $(tmp).removeClass('addto-watch-later-button-success');
          }
        }else{
          
        }
     });
   });
	$('.playlist-like,.playlist-dislike').live('click',function(){
		tmp = this;
		var type = 'dislike';
		if($(this).hasClass('playlist-like')){
			type = 'like';
		}
		$.ajax({
			url:'/ajax/like_playlist',
			type:'POST',
			data:{'pid':'<%= @playlist.id %>','type':type},
			dataType:'json'
		}).done(function(json){
			if(json.status == 'suc'){
				if(json.has != 0){
					var dynamic = '<div class="playlist-sparkbars"><div style="width: '+json.plike.toString()+'%" class="playlist-sparkbar-likes"></div><div style="width: '+ json.pdislike.toString()+'%" class="playlist-sparkbar-dislikes"></div></div><span class="playlist-likes-dislikes"><span class="likes">'+json.like+'</span> 人顶了此锦囊，<span class="dislikes">'+json.dislike+'</span> 人踩了此锦囊 </span>';
					console.log(dynamic);
					$('#playlist-likes-container').html(dynamic);
				}else{
					$('#playlist-likes-container').html('');
				}
				switch(json.aim){
					case 'like':
						$('.playlist-like').addClass('yt-uix-button-toggled');
						$('.playlist-dislike').removeClass('yt-uix-button-toggled');
						break;
					case 'dislike':
						$('.playlist-like').removeClass('yt-uix-button-toggled');
						$('.playlist-dislike').addClass('yt-uix-button-toggled');														
						break;
					case 'de_dislike':
					case 'de_like':
						$('.playlist-like').removeClass('yt-uix-button-toggled');
						$('.playlist-dislike').removeClass('yt-uix-button-toggled');
						break;
					default:
					break;
				}
			}else{
				$('#playlist-likes-container').html('');
			}
		});
	});
  $('.playlist-share').live('click',function(){
    $(this).toggleClass('yt-uix-button-toggled');
    if($(this).hasClass('yt-uix-button-toggled')){
        $('#playlist-share-loading').show().removeClass('hid');
        $.ajax({
          url:'/ajax/get_playlist_share',
          type:'POST',
          data:{'playlist_id':'<%= @playlist.id %>'},
          dataType:'html'
        }).done(function(html){
		        $('#playlist-share-loading').hide().addClass('hid');
		        $('#playlist-share-container').html(html);
		        $('#playlist-share-container').show().removeClass('hid');
        });							        
    }else{
        $('#playlist-share-container').html('');
        $('#playlist-share-container').hide().addClass('hid');
    }
  });
  $('input.share-panel-url').live('focus',function(){
        var $this = $(this);
        $this.select();
        $this.mouseup(function() {
            $this.unbind("mouseup");
            return false;
        });
  });
  $('.yt-uix-expander-head').live('click',function(){
    $(this).parent().toggleClass('yt-uix-expander-collapsed');
  });
	$('.playlist-video-item').live('click',function(){
		window.location.href = $('a.tile-link-block.video-tile.yt-uix-sessionlink.yt-uix-tile-link',this).attr('href');
	});
<% end %>
</script>
