<% content_for :armpit do %>
<%= stylesheet_link_tag 'ktv/__ytb' %>
<%= stylesheet_link_tag 'ktv/__ytb_playlists' %>
<% end %>

<div class="__ytb" style="margin-top:-11px" dir="ltr">
<div class=" playlist branded-page" id="page">
	<div id="sb-wrapper">
		<div class="sb-card sb-off" id="sb-container">
			<div class="sb-card-arrow">
			</div>
			<div class="sb-card-border">
				<div class="sb-card-body-arrow">
				</div>
				<div id="sb-target" class="sb-card-content">
				</div>
			</div>
		</div>
		<div class="sb-off" id="sb-onepick-target" style="top: 0px;">
		</div>
	</div>
	<div id="content-container">
		<!-- begin content -->
		<div id="content" style="width:970px">
<div id="masthead-subnav" class="yt-nav yt-nav-dark ">
	<ul class="yt-nav-aside">
		<li>
		<a href="/mine" class="yt-uix-button yt-uix-sessionlink yt-uix-button-subnav yt-uix-button-dark" data-sessionlink="ei=CObM-ur_gbMCFZ0VIQodtguFbQ%3D%3D" id="playlist-video-manager-button"><span class="yt-uix-button-content">课件管理器</span></a>
		</li>
	</ul>
	<ul>
		<li>
		<a href="/my_favorites" class="yt-uix-button yt-uix-sessionlink yt-uix-button-subnav yt-uix-button-dark" data-sessionlink="ei=CObM-ur_gbMCFZ0VIQodtguFbQ%3D%3D" id="playlist-edit-button"><span class="yt-uix-button-content">修改课件锦囊</span></a>
		</li>
	</ul>
</div>
<div id="branded-page-default-bg" class="ytg-base">
	<div id="branded-page-body-container" class="ytg-base clearfix ">
		<div id="branded-page-header-container" class="ytg-wide ">
			<div id="branded-page-header" class="ytg-wide ytg-box">
				<a class="profile-thumb" href="/user/pmq20">
				<span class="video-thumb ux-thumb yt-thumb-square-77 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img src="https://lh3.googleusercontent.com/-gbIM-7w-RGU/AAAAAAAAAAI/AAAAAAAAAAA/xU_37MxSH_M/s55-c-k/photo.jpg" alt="缩略图" width="77"><span class="vertical-align"></span></span></span></span>
				</a>
				<div class="ytg-box">
					<div class="playlist-info">
						<div class="header-right">
							<div class="header-stats ytg-box">
								<ul>
									<li class="stat-entry first">
									<span class="stat-value">23</span>
									<span class="stat-name">
									视频 </span>
									</li>
									<li class="stat-entry">
									<span class="stat-value">73</span>
									<span class="stat-name">
									次观看 </span>
									</li>
								</ul>
							</div>
						</div>
						<div class="playlist-reference">
							<h1 title="收藏的视频">收藏的视频</h1>
							<p class="channel-author-attribution">
								 来自：<a href="/user/pmq20">Minqi Pan</a>
							</p>
						</div>
						<span id="play-all-button">
						<a class="yt-playall-link yt-playall-link-dark yt-uix-sessionlink " href="/watch?v=_tILqds7-jg&amp;list=FLIMHRDN2dx-0gbHFP7uqATA&amp;feature=plpp_play_all" data-sessionlink="ei=CObM-ur_gbMCFZ0VIQodtguFbQ%3D%3D&amp;feature=plpp_play_all">
						<img class="small-arrow" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
						全部播放 </a>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div id="branded-page-body">
			<div id="playlist-pane-container">
				<div class="primary-pane">
					<div class="playlist-landing ypc-list-container">
						<div id="playlist-actions">
							<div id="playlist-action-buttons">
								<button data-tooltip-text="分享或嵌入此课件锦囊" type="button" class="playlist-share yt-uix-button yt-uix-button-default yt-uix-tooltip" onclick=";return false;" title="分享或嵌入此课件锦囊" data-button-toggle="true" data-button-action="yt.www.playlist.share" role="button"><span class="yt-uix-button-content">分享 </span></button>
								<img src="<%=asset_path('yt/img/playlist/playlist-hangout-icon-vflZSwp9g.png')%>" alt="Google 环聊" class="playlist-hangout-button" title="与您的朋友一同观看。">
							</div>
							<div id="playlist-share-container" class="playlist-share-area hid">
							</div>
							<div id="playlist-share-loading" class="playlist-share-area hid">
								 正在加载...
							</div>
						</div>
						<ol>
							<li class="playlist-video-item odd ">
							<a href="/watch?v=_tILqds7-jg&amp;list=FLIMHRDN2dx-0gbHFP7uqATA&amp;index=1&amp;feature=plpp_video" class="tile-link-block video-tile yt-uix-sessionlink" data-sessionlink="ei=CObM-ur_gbMCFZ0VIQodtguFbQ%3D%3D&amp;feature=plpp_video">
							<span class="playlist-video-item-base-content">
							<span class="video-index">1</span>
							<span class="thumb-container">
							<span class="ux-thumb-wrap">
							<span class="video-thumb ux-thumb yt-thumb-default-124 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img src="//i4.ytimg.com/vi/_tILqds7-jg/default.jpg" alt="缩略图" width="124"><span class="vertical-align"></span></span></span></span>
							<span class="video-time">1:48</span>
							<button data-tooltip-text="稍后阅读" onclick=";return false;" title="稍后阅读" type="button" class="addto-button video-actions addto-watch-later-button yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" data-video-ids="_tILqds7-jg" role="button"><span class="yt-uix-button-content"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="稍后阅读">
							</span></button>
							</span>
							</span>
							<span class="video-info ">
							<span class="video-buttons">
							</span>
							<span class="video-overview">
							<span class="video-title-container">
							<span class="yt-badge-std">
							已观看 </span>
							<span class="title video-title " dir="ltr">元首Rap：江南Style Gangnam Style from Hitler</span>
							</span>
							<span class="video-details">
							<span class="video-owner">
							创建者：<span class="yt-user-name " dir="ltr">近 袁</span>
							</span>
							<span class="video-view-count">
							观看次数：4,680,899 次 </span>
							</span>
							</span>
							</span>
							</span>
							</a>
							</li>
							<li class="playlist-video-item even ">
							<a href="/watch?v=v2SlpjCz7uE&amp;list=FLIMHRDN2dx-0gbHFP7uqATA&amp;index=2&amp;feature=plpp_video" class="tile-link-block video-tile yt-uix-sessionlink" data-sessionlink="ei=CObM-ur_gbMCFZ0VIQodtguFbQ%3D%3D&amp;feature=plpp_video">
							<span class="playlist-video-item-base-content">
							<span class="video-index">2</span>
							<span class="thumb-container">
							<span class="ux-thumb-wrap">
							<span class="video-thumb ux-thumb yt-thumb-default-124 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img src="//i3.ytimg.com/vi/v2SlpjCz7uE/default.jpg" alt="缩略图" width="124"><span class="vertical-align"></span></span></span></span>
							<span class="video-time">5:32</span>
							<button onclick=";return false;" title="稍后阅读" type="button" class="addto-button video-actions addto-watch-later-button yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" data-video-ids="v2SlpjCz7uE" role="button"><span class="yt-uix-button-content"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="稍后阅读">
							</span></button>
							</span>
							</span>
							<span class="video-info ">
							<span class="video-buttons">
							</span>
							<span class="video-overview">
							<span class="video-title-container">
							<span class="title video-title " dir="ltr">地上の星 / 中島みゆき [公式]</span>
							</span>
							<span class="video-details">
							<span class="video-owner">
							创建者：<span class="yt-user-name " dir="ltr">miyukiofficial</span>
							</span>
							<span class="video-view-count">
							观看次数：4,837,939 次 </span>
							</span>
							</span>
							</span>
							</span>
							</a>
							</li>
							<li class="playlist-video-item odd ">
							<a href="/watch?v=q1sRAXZ-qLM&amp;list=FLIMHRDN2dx-0gbHFP7uqATA&amp;index=3&amp;feature=plpp_video" class="tile-link-block video-tile yt-uix-sessionlink" data-sessionlink="ei=CObM-ur_gbMCFZ0VIQodtguFbQ%3D%3D&amp;feature=plpp_video">
							<span class="playlist-video-item-base-content">
							<span class="video-index">3</span>
							<span class="thumb-container">
							<span class="ux-thumb-wrap">
							<span class="video-thumb ux-thumb yt-thumb-default-124 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img src="//i2.ytimg.com/vi/q1sRAXZ-qLM/default.jpg" alt="缩略图" width="124"><span class="vertical-align"></span></span></span></span>
							<span class="video-time">9:10</span>
							<button onclick=";return false;" title="稍后阅读" type="button" class="addto-button video-actions addto-watch-later-button yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" data-video-ids="q1sRAXZ-qLM" role="button"><span class="yt-uix-button-content"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="稍后阅读">
							</span></button>
							</span>
							</span>
							<span class="video-info ">
							<span class="video-buttons">
							</span>
							<span class="video-overview">
							<span class="video-title-container">
							<span class="title video-title " dir="ltr">永遠の嘘をついてくれ （高画質）</span>
							</span>
							<span class="video-details">
							<span class="video-owner">
							创建者：<span class="yt-user-name " dir="ltr">southwave5963</span>
							</span>
							<span class="video-view-count">
							观看次数：388,910 次 </span>
							</span>
							</span>
							</span>
							</span>
							</a>
							</li>
						</ol>
					</div>
				</div>
				<div class="secondary-pane">
					<div class="channel-module">
						<div class="playlist-creator-info">
							<h2>关于 Minqi Pan</h2>
							<div class="creator-links">
								<a href="/user/pmq20/videos?view=1">
								4 个课件锦囊 </a>
								<a href="/user/pmq20/videos?view=0">
								查看所有视频 </a>
							</div>
							<div class="creator-stats">
								<p>
									 观看次数：153 次
								</p>
								<p>
									 3 位订阅者
								</p>
							</div>
						</div>
						<div class="yt-horizontal-rule ">
							<span class="first"></span><span class="second"></span><span class="third"></span>
						</div>
					</div>
					<div class="playlists-narrow channel-module yt-uix-c3-module-container">
						<div class="module-view gh-featured">
							<h2>精选课件锦囊</h2>
							<div class="playlist yt-tile-visible yt-uix-tile">
								<a href="/watch?v=eO4V45qp_jU&amp;list=UUIMHRDN2dx-0gbHFP7uqATA&amp;feature=plpp" class="play-all yt-uix-sessionlink yt-uix-contextlink" data-sessionlink="context=C4a376e5FDvjVQa1PpcFNw9Jaj2PTfZ2GKVbGCMTNw0Sh9rtGFxqA%3D">
								<span class="playlist-thumb-strip playlist-thumb-strip-252"><span class="videos videos-4 horizontal-cutoff"><span class="clip"><span class="centering-offset"><span class="centering"><span class="ie7-vertical-align-hack">&nbsp;</span><img data-group-key="thumb-group-0" src="//i2.ytimg.com/vi/eO4V45qp_jU/default.jpg" data-thumb="//i2.ytimg.com/vi/eO4V45qp_jU/default.jpg" alt="" class="thumb"></span></span></span><span class="clip"><span class="centering-offset"><span class="centering"><span class="ie7-vertical-align-hack">&nbsp;</span><img data-group-key="thumb-group-0" src="//i3.ytimg.com/vi/rZmt-axGFBk/default.jpg" data-thumb="//i3.ytimg.com/vi/rZmt-axGFBk/default.jpg" alt="" class="thumb"></span></span></span><span class="clip"><span class="centering-offset"><span class="centering"><span class="ie7-vertical-align-hack">&nbsp;</span><img data-group-key="thumb-group-0" src="//i2.ytimg.com/vi/AvTk1UWEB0I/default.jpg" data-thumb="//i2.ytimg.com/vi/AvTk1UWEB0I/default.jpg" alt="" class="thumb"></span></span></span><span class="clip"><span class="centering-offset"><span class="centering"><span class="ie7-vertical-align-hack">&nbsp;</span><img data-group-key="thumb-group-0" src="//i3.ytimg.com/vi/2VeJA6JK-pU/default.jpg" data-thumb="//i3.ytimg.com/vi/2VeJA6JK-pU/default.jpg" alt="" class="thumb"></span></span></span></span><span class="resting-overlay"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="play-button" alt="Play all"><span class="video-count-box">
								6 个视频 </span>
								</span><span class="hover-overlay"><span class="play-all-container"><strong><img src="<%=asset_path('yt/img/ui/playlist_thumb_strip/mini-play-all-vflZu1SBs.png')%>" alt="">全部播放</strong></span></span></span>
								</a>
								<h3>
								<a href="/playlist?list=UUIMHRDN2dx-0gbHFP7uqATA&amp;feature=plpp" title="查看课件锦囊中的所有视频。" class="yt-uix-tile-link">
								上传的视频 </a>
								</h3>
								<span class="playlist-author-attribution">
								所有者：Minqi Pan </span>
							</div>
							<a class="view-all-link" href="/user/pmq20/videos?view=1">
							查看全部 <img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
		</div>
		<!-- end content -->
	</div>
	<div data-list-type="QL" data-list-id="" data-video-url="/watch?v=&amp;feature=BFql&amp;playnext=1&amp;list=QL" class="hid passive editable" id="playlist-bar">
		<div id="playlist-bar-bar-container">
			<div id="playlist-bar-bar">
				<div id="playlist-bar-notifications" class="yt-alert yt-alert-naked yt-alert-success hid ">
					<div class="yt-alert-icon">
						<img alt="Alert icon" class="icon master-sprite" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
					</div>
					<div role="alert" class="yt-alert-content">
					</div>
				</div>
				<span id="playlist-bar-info"><span class="playlist-bar-active playlist-bar-group"><button role="button" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" id="playlist-bar-prev-button" type="button" title="Previous video" onclick=";return false;"><span class="yt-uix-button-icon-wrapper"><img alt="Previous video" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-prev"><span class="yt-valign-trick"></span></span></button><span class="playlist-bar-count"><span class="playing-index">0</span> / <span class="item-count">0</span></span><button role="button" id="playlist-bar-next-button" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-next"><span class="yt-valign-trick"></span></span></button></span><span class="playlist-bar-active playlist-bar-group"><button role="button" data-button-toggle="true" id="playlist-bar-autoplay-button" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-autoplay"><span class="yt-valign-trick"></span></span></button><button role="button" data-button-toggle="true" id="playlist-bar-shuffle-button" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-shuffle"><span class="yt-valign-trick"></span></span></button></span><span class="playlist-bar-passive playlist-bar-group"><button role="button" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" id="playlist-bar-play-button" type="button" title="Play videos" onclick=";return false;"><span class="yt-uix-button-icon-wrapper"><img alt="Play videos" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-play"><span class="yt-valign-trick"></span></span></button><span class="playlist-bar-count"><span class="item-count">0</span></span></span><span class="yt-uix-button-group" id="playlist-bar-title"><span class="playlist-title">Unsaved Playlist</span></span></span>
				<a href="#" id="playlist-bar-lists-back">
				Return to active list </a>
				<span id="playlist-bar-controls"><span class="playlist-bar-group"><button role="button" id="playlist-bar-toggle-button" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-text yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-toggle"><span class="yt-valign-trick"></span></span></button></span><span class="playlist-bar-group"><button role="button" data-button-has-sibling-menu="true" data-button-menu-id="playlist-bar-options-menu" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button-reverse flip yt-uix-button yt-uix-button-text" type="button"><span class="yt-uix-button-content">Options </span><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-arrow"></button></span></span>
			</div>
		</div>
		<div id="playlist-bar-tray-container">
			<div class="yt-uix-slider yt-uix-slider-fluid" id="playlist-bar-tray">
				<button onclick="return false;" class="yt-uix-button playlist-bar-tray-button yt-uix-button-default yt-uix-slider-prev"><img alt="Previous video" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-slider-prev-arrow"></button><button onclick="return false;" class="yt-uix-button playlist-bar-tray-button yt-uix-button-default yt-uix-slider-next"><img alt="Next video" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-slider-next-arrow"></button>
				<div class="yt-uix-slider-body">
					<div class="yt-uix-slider-slide" id="playlist-bar-tray-content">
						<ol class="video-list">
						</ol>
						<ol id="playlist-bar-help">
							<li class="empty playlist-bar-help-message">Your list is empty. Add videos to your list using this button: <img class="addto-button-help" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"><br>
							 or <a class="load-lists" href="/view_all_playlists">load a different list</a>.</li>
						</ol>
					</div>
					<div class="yt-uix-slider-shade-left">
					</div>
					<div class="yt-uix-slider-shade-right">
					</div>
				</div>
			</div>
			<div id="playlist-bar-save">
			</div>
			<div class="dark-lolz" id="playlist-bar-lists">
			</div>
			<div id="playlist-bar-loading">
				<img alt="Loading..." src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"><span id="playlist-bar-loading-message">Loading...</span><span class="hid" id="playlist-bar-saving-message">Saving...</span>
			</div>
			<div data-video-thumb-url="//i4.ytimg.com/vi/__video_encrypted_id__/default.jpg" style="display: none;" id="playlist-bar-template">
				<!--<li class="playlist-bar-item yt-uix-slider-slide-unit __classes__" data-video-id="__video_encrypted_id__"><a href="__video_url__" title="__video_title__" class="yt-uix-sessionlink" data-sessionlink="ei=COHF_o39_7ICFSgWIQodIyWHGA%3D%3D&amp;feature=BFa"><span class="video-thumb ux-thumb yt-thumb-default-106 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="__video_title__" data-thumb-manual="true" data-thumb="__video_thumb_url__" width="106" ><span class="vertical-align"></span></span></span></span><span class="screen"></span><span class="count"><strong>__list_position__</strong></span><span class="play"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"></span><span class="yt-uix-button yt-uix-button-default delete"><img class="yt-uix-button-icon-playlist-bar-delete" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="Delete"></span><span class="now-playing">Now playing</span><span dir="ltr" class="title"><span>__video_title__  <span class="uploader">by __video_display_name__</span>
</span></span><span class="dragger"></span></a></li>-->
			</div>
			<div style="display: none;" id="playlist-bar-next-up-template">
				<!--<div class="playlist-bar-next-thumb"><span class="video-thumb ux-thumb yt-thumb-default-74 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img src="//i4.ytimg.com/vi/__video_encrypted_id__/default.jpg" alt="Thumbnail" width="74" ><span class="vertical-align"></span></span></span></span></div>-->
			</div>
		</div>
		<div class="hid" id="playlist-bar-options-menu">
			<div id="playlist-bar-extras-menu">
				<ul>
					<li><span data-action="save" class="yt-uix-button-menu-item">
					Save as a new playlist </span></li>
					<li><span data-action="clear" class="yt-uix-button-menu-item">
					Clear all videos from this list </span></li>
				</ul>
			</div>
			<ul>
				<li><span data-action="load-lists" class="yt-uix-button-menu-item">
				Load a different playlist </span></li>
				<li><span onclick="window.location.href='//support.google.com/youtube/bin/answer.py?answer=146749&amp;hl=en-US'" class="yt-uix-button-menu-item">Learn more</span></li>
			</ul>
		</div>
	</div>
</div>
</div>
