<h2>访问记录</h2>

<table>
  <tr>
    <th style="display:none">客户端ID</th>
    <th>客户端名</th>
    <th></th>
    <th></th>
  </tr>

<% @accesses.each do |access| %>
  <tr>
    <td style="display:none"><%= access.client_uri %></td>
    <td><%= link_to access.client.name,cpanel_client_path(access.client) %></td>
    <td><%= link_to '流量统计', cpanel_access_path(access), class: "button icon settings" %></td>
   
      <% if access.blocked? %>
        <td><%= link_to '解除封锁', unblock_cpanel_access_path(access), method: :put, class: "button danger" %></td>
      <% else %>
        <td><%= link_to '封杀此客户端', block_cpanel_access_path(access), method: :put, class: "button danger" %></td>
      <% end %>

  </tr>
<% end %>
</table>

<br/>
