<div data-widget-id="3" class="dashboard-widget display promos yt-uix-dragdrop-draggable-item">
	<%= render partial:'mine/dashboard_widget_header',locals:{title:'promos',widget:'remove'} %>
	<div class="dashboard-widget-viewport">
		<div class="dashboard-widget-inside clearfix">
			<div class="content">
				<div data-slider-slides="3" data-slide-current="0" class="yt-uix-slider">
					<div class="promos-slider-container">
							<button class="yt-uix-button yt-uix-button-default yt-uix-slider-prev" disabled="disabled">
								<img alt="上一个通知" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-slider-prev-arrow">
							</button> 
							<button class="yt-uix-button yt-uix-button-default yt-uix-slider-next">
								<img alt="下一个通知" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-slider-next-arrow">
							</button>
								<div class="promos-content-container">
									<div class="yt-uix-slider-body">
										<div class="yt-uix-slider-slides">
											<ul class="yt-uix-slider-slide">
												<li class="yt-uix-slider-item">
													<h3 class="promo-title">
														全新课件在线阅读器
													</h3>
													<a href="/">
														 <img alt="全新课件在线阅读器。" src="<%=asset_path('promos1.png')%>" height="99px" width="128px" class="promo-image">
													</a>
													<div class="promo-content">
														凭借这一全新课件在线阅读器，您可以在线浏览的热门课件、最近顶过的课件等。<a href="/">了解详情</a>。
													</div>
												</li>
											</ul>
											<ul class="yt-uix-slider-slide">
												<li class="yt-uix-slider-item">
													<h3 class="promo-title">
														课件锦囊理念
													</h3><a href="/play_lists">
														<img alt="课件锦囊，对课件组织的全新理解。" src="<%=asset_path('promos2.png')%>" height="99px" width="128px"  class="promo-image">
													</a>
													<div class="promo-content">
														您现在可以使用课件锦囊组织自己喜欢的课件了。<a href="/play_lists">了解详情</a>。
													</div>
												</li>
											</ul>
											<ul class="yt-uix-slider-slide">
												<li class="yt-uix-slider-item">
													<h3 class="promo-title">
														在人人上关注 课件TV 公共主页
													</h3><a href="http://page.renren.com/601566104">
														<img alt="@课件TV 的 人人网 屏幕截图。" src="<%=asset_path('promos3.png')%>" height="99px" width="128px"  class="promo-image"> 
													</a>
													<div class="promo-content">
														请关注 课件TV 公共主页页面 <a href="http://page.renren.com/601566104">@课件TV</a>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
					</div>
					<div class="yt-uix-slider-nums yt-uix-pager">
						<button role="button" data-slider-num="0" class="yt-uix-slider-num yt-uix-slider-num-current yt-uix-button yt-uix-button-default" type="button">
							<span class="yt-uix-button-content">•</span>
						</button> 
						<button role="button" data-slider-num="1" class="yt-uix-slider-num yt-uix-button yt-uix-button-default" type="button">
							<span class="yt-uix-button-content">•</span>
						</button> 
						<button role="button" data-slider-num="2" class="yt-uix-slider-num yt-uix-button yt-uix-button-default" type="button">
							<span class="yt-uix-button-content">•</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>