<div data-widget-id="1" class="dashboard-widget display comments yt-uix-dragdrop-draggable-item">
	<%= render partial:'mine/dashboard_widget_header',locals:{title:'comments',widget:'config'} %>
	<div class="dashboard-widget-viewport">
		<div class="dashboard-widget-inside clearfix">
			<div class="content">
				<ol class="comment-list">
					<li class="dashboard-widget-item selectable-item comment-list-item">
						<div class="comment-thumb">
							<a href="/user/libersnail?feature=vmdshb"><span class="video-thumb ux-thumb yt-thumb-square-28">
								<span class="yt-thumb-clip">
									<span class="yt-thumb-clip-inner">
										<img width="28" alt="缩略图" src="">
										<span class="vertical-align"></span>
									</span>	
								</span>
						</a>
						</div>
						<div class="comment-body">
							<span class="comment-heading"><a href="/users/">Liber Liu</a>评论了Will Power</span>
							<div class="comment-comment">
								<img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="quotation-mark"> <a href="/watch?v=JZtQ25v7XsQ&amp;feature=vmdshb">......................................无语了﻿</a>
							</div>
							<ul class="comment-list-item-links">
								<li>1 年前
								</li>
								<li class="vm-link">
									<a href="DbVqsiMbx1Cllu8L4DmoocQ&amp;feature=vmdshb">回复</a>
								</li>
							</ul>
						</div>
					</li>
				</ol>
				<div class="view-all-link">
					<a href="/inbox?feature=vmdshb#comments/1">查看全部</a> &nbsp;»
				</div>
			</div>
			<div class="config">
			   <div class="comments-widget-number-of-items-box">
			      <h3>项数：</h3>
			      <div>
			         <span class="yt-uix-form-input-select ">

								 <% key = current_user.widget_property['comments'][1] %>
			            <span class="yt-uix-form-input-select-content"><img class="yt-uix-form-input-select-arrow" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" /><span class="yt-uix-form-input-select-value"><%= key %></span></span>
			            <select class="yt-uix-form-input-select-element comments-widget-count">
										<% ['1','2','3','4','5','10','15','20'].each do |v| %>
			               <option <%if key == v %>selected=""<% end %>value="<%= v %>"><%= v %></option>
										<% end %>
			            </select>
			         </span>
			      </div>
			   </div>
			   <div class="config-controls">
			      <div class="config-controls-left">
			         <button role="button" onclick=";return false;" class="dashboard-widget-remove yt-uix-button yt-uix-button-default" type="button"><span class="yt-uix-button-content">删除 </span></button>
			      </div>
			      <div class="config-controls-right">
			         <button role="button" onclick=";return false;" class="dashboard-widget-dismiss yt-uix-button yt-uix-button-default" type="button"><span class="yt-uix-button-content">取消 </span></button>
			         <button role="button" onclick=";return false;" class="dashboard-widget-save yt-uix-button yt-uix-button-primary" type="button"><span class="yt-uix-button-content">保存 </span></button>
			      </div>
			   </div>
			</div>
		</div>
	</div>
</div>