<li id="vm-video-<%= item.id %>" class="vm-video-item" style="margin-left:2px">
	<div class="vm-video-item-content">
		<span class="yt-uix-form-input-checkbox-container ">
			<input class="yt-uix-form-input-checkbox video-checkbox" value="<%= item.id %>" name="kejian-checkbox" data-times="<%= item.views_count %>" data-created-at='<%= item.created_at.to_i %>' type="checkbox">
			<span class="yt-uix-form-input-checkbox-element"></span>
		</span>
		<div class="vm-thumb">
			<a class="ux-thumb-wrap yt-uix-sessionlink" href="/coursewares/<%= item.id %>">
				<span class="video-thumb ux-thumb yt-thumb-default-224 ">
					<span class="yt-thumb-clip">
						<span class="yt-thumb-clip-inner">
							<% if item.status !=0 or !item.check_upyun_result %>
							<img width="224" alt="缩略图" src="<%=asset_path('yt/img/mqdefault.jpg')%>">
							<% else %>
							<img width="224" alt="缩略图" src="<%= asset_url("cw/#{item.ktvid}/#{item.revision}thumb_slide_0.jpg") %>">
							<% end %>
							<span class="vertical-align"></span>
						</span>
					</span>
				</span>
				<span class="video-time"><% if !item.tree.present? %>共<%=if item.status !=0 then '0' else item.slides_count.to_s end%>页<% else %>共<%=if item.status !=0 then '0' else item.slides_count.to_s end%>个子文件<% end %></span>
			</a>
			<div class="vm-thumb-overlay">
				<ul class="vm-quick-video-actions">
					<li>
						<a href="/coursewares/<%= item.id %>" class="vm-quick-watch-video" title="阅读">
								<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="阅读">
						</a>
					</li>
					<li>
							<a href="/edit/<%= item.id %>" class="vm-quick-edit-video" title="修改">
								<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="修改">
							</a>
					</li>
					<li>
							<a class="vm-quick-delete-video vm-video-delete" title="删除">
								<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="删除">
							</a>
					</li>
				</ul>
				<!-- =begin processing-->
				<% if item.status and item.status > 0 %>
				<div class="vm-processing-overlay">
					<img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
					<span class="vm-thumb-status">
						正在处理... 
					</span>
				</div>
				<% end %>
				<!-- =end -->
			</div>
		</div>
		<div class="vm-video-info-container">
			<div class="vm-video-title">
				<% titlelen = 20 %>
				<span id="checkbox_<%= item.id %>" class="vm-video-title-container yt-uix-tooltip" <% if item.title.to_s.size > titlelen %> title='<%= item.title %>' <% end %>>
				<a class="vm-video-title-content yt-uix-sessionlink" href="/coursewares/<%= item.id %>"><span class="vm-video-title-content"><% if item.title.present? %> <%= item.title[0...titlelen] %> <%= if item.title.length > titlelen then '...' end %> <% end %></span></a>
				</span>
				<span class="vm-video-title-badges">
					<span class="yt-badge-std"><%= Courseware::SORT1STR[item.sort1] %></span>
					<% if item.license == 1 %>
					<span title="知识共享（允许重复使用）" class="vm-video-creative-commons yt-uix-tooltip yt-uix-tooltip-reverse" data-tooltip-text="知识共享（允许重复使用）">
					      <img alt="知识共享（允许重复使用）" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
					</span>
					<% end %>
				</span>
			</div>
			<!-- =begin  ok-->
			<% if item.status and item.status <= 0 %>
			<span class="vm-video-info vm-date-info">
				<span class="localized-date" data-timestamp="<%= item.created_at.to_i %>" data-format="longdate">
					<%= item.created_at.strftime("%Y年%m月%d日%H:%M") %>
				</span>
			</span>
			<% else %>
			<span class="vm-video-info vm-date-info">
				正在处理... 
			</span>
			<% end %>
			<% if item.status and item.status >= 0 %>
			<div class="vm-video-info">
				<div class="vm-video-info vm-owner-bar">
					<span class="yt-uix-button-group">
						<a href="/edit/<%= item.id %>" class="yt-uix-button yt-uix-sessionlink start vm-playlist-edit-video vm-edit-button-link yt-uix-button-default">
							<span class="yt-uix-button-content">修改</span>
						</a>
						<button type="button" class="edit-expand-menu-button end yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-button-empty"  role="button">
							<img class="yt-uix-button-arrow" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
					<ul class=" yt-uix-button-menu yt-uix-button-menu-default cw-choice" role="menu" style="display: none;">
						<li role="menuitem" id="aria-id-detail">
							<span href="/edit/<%= item.id %>" class="vm-video-info-and-settings yt-uix-button-menu-item" >信息和设置</span>
						</li>
						<% if false %>
						<li role="menuitem" id="aria-id-enhance">
							<span href="/enhance?cwid=<%= item.id %>" class="vm-video-enhancements yt-uix-button-menu-item" >增强功能</span>
						</li>
						<li role="menuitem" id="aria-id-mp3">
							<span href="/coursewares_audio/<%= item.id %>" class="vm-video-audio yt-uix-button-menu-item" >音频</span>
						</li>
						<li role="menuitem" id="aria-id-note">
							<span href="/coursewares_annotate/<%= item.id %>" class="vm-video-annotations yt-uix-button-menu-item" >注释功能</span>
						</li>
						<li role="menuitem " id="aria-id-lyric">
							<span href="/coursewares_lyric/<%= item.id %>" class="vm-video-captions yt-uix-button-menu-item" >字幕</span>
						</li>
						<% end %>
						<% if item.status == 0 %>
						<li role="menuitem menu-subheading" id="aria-id-download">
							<span href='/coursewares/<%= item.id %>/download' class="vm-download-mp4 yt-uix-button-menu-item" >下载</span>
						</li>
						<li role="menuitem menu-subheading" id="aria-id-ads">
							<span <% if false %>href="/coursewares_ads/<%= item.id %>"<% end %> class="vm-video-promote yt-uix-button-menu-item menu-subheading" >推广</span>
						</li>
						<% end %>
					</ul>
					</button></span>
				</div>
			</div>
			<% elsif item.status != 0 %>
				<div class="vm-video-info">
				<div class="vm-video-info vm-owner-bar">
					<span class="vm-video-notifications">
					<div class="yt-alert yt-alert-naked yt-alert-error ">
						<div class="yt-alert-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="icon master-sprite" alt="提醒图标">
						</div>
						<div class="yt-alert-content" role="alert">
							<span class="yt-alert-vertical-trick"></span>
							<div class="yt-alert-message">
								 1
							</div>
						</div>
					</div>
					</span>
					<span class="primary-notification">
						<!-- =begin -->
						<% if item.status and item.status == 5 %>
						<a href="/copynotice?cwid=<%= item.id %>" class="notification-action">与第三方内容匹配。 </a>
						<!-- end
						=begin -->
						<% elsif item.status and item.status < 0 %>
						失败（上传已中止）
						<!-- =end -->
						<% end %>
						<% if item.redirect_to_id.present? %>
							<a href="/coursewares/<%= item.redirect_to_id %>" class="notification-action">相同课件已经存在。</a>
						<% end %>
					</span>
				</div>
			</div>		
			<% end %>
		</div>			
	<!-- =begin normal -->
		<% if item.status and item.status >= 0 %>
		<div class="vm-video-indicators">
			<span class="vm-video-privacy vm-public <% if item.privacy != 0 %>hid<% end %> yt-uix-tooltip yt-uix-tooltip-reverse" title="公开">
			<a href="/edit/<%= item.id %>?privacy=public"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="公开"></a>
			</span>
			<span class="vm-video-privacy vm-unlisted <% if item.privacy != 1 %>hid<% end %> yt-uix-tooltip yt-uix-tooltip-reverse" title="不公开">
			<a href="/edit/<%= item.id %>?privacy=unlisted"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="不公开"></a>
			</span>
			<span class="vm-video-privacy vm-private <% if item.privacy != 2 %>hid<% end %>  yt-uix-tooltip yt-uix-tooltip-reverse" title="私有">
				<a href="/edit/<%= item.id %>?privacy=private"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="私有"></a>
			</span>
			<% if item.privacy == 0 %>
			<span class="vm-time-published yt-uix-tooltip yt-uix-tooltip-reverse" title="发布时间：<%= item.public_time.strftime("%Y年%m月%d日(%Z)%H:%M") %> ">
				<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="发布时间：<%= item.public_time.strftime("%Y年%m月%d日(%Z)%H:%M") %> ">
			</span>
			<% end %>
		</div>
		<div class="vm-video-icons">
			<div class="vm-video-metrics">
				<a href="/analytics?cwid=<%= item.id %>" class="yt-uix-tooltip" title="查看统计信息(开发中...)">
				<span class="vm-video-metric video-view-count">
				<span>
				<span class="vm-video-metric-icon">
				<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
				</span>
				<span class="vm-video-metric-value"><%= number_with_delimiter item.views_count %></span>
				</span>
				</span>
				<span class="vm-video-metric video-likes-count">
				<span>
				<span class="vm-video-metric-icon">
				<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
				</span>
				<span class="vm-video-metric-value"><%= number_with_delimiter item.thanked_count %></span>
				</span>
				</span>
				<span class="vm-video-metric video-dislikes-count">
				<span>
				<span class="vm-video-metric-icon">
				<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
				</span>
				<span class="vm-video-metric-value"><%= number_with_delimiter item.disliked_count %></span>
				</span>
				</span>
				</a>
				<a href="/comments?type=Courseware&id=<%= item.id %>" class="yt-uix-tooltip yt-uix-tooltip-reverse" title="所有评论">
				<span class="vm-video-metric video-comments">
				<span>
				<span class="vm-video-metric-icon">
				<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
				</span>
				<span class="vm-video-metric-value"><%= number_with_delimiter item.comments_count %></span>
				</span>
				</span>
				</a>
			</div>
		</div>
	 <% else %>
		<div class="vm-video-delete-failed-upload">
		<button type="button" class="vm-video-delete yt-uix-button yt-uix-button-default"  role="button">
			<span class="yt-uix-button-content">删除 </span>
		</button>
	</div>
	<% end %>
	</div>
</li>
