<% content_for :armpit do %>
  <%= stylesheet_link_tag 'ktv/__ytb' %>
  <%= stylesheet_link_tag "ktv/__ytb_manager", :media => "all" %>
<% end %>


<%= render 'mine_above' %>
<div class="ytg-fl vm-has-videolist vm-list-view" id="yt-admin">
  <%= render 'manager_nav' %>
	<div class="ytg-fl " id="yt-admin-content">
		<div class="clearfix" id="vm-page-subheader">
			<div class="vm-page-subheader-content">
				<h3>我的搜索记录</h3>
			</div>
		</div>
		<%=  render :partial=>'read_later_action_bar' %>
		<% if @list.size >0 %>
		<ol class="vm-video-list vm-search-history-list" id="vm-playlist-video-list-ol">
			<% @list.each do |item| %>
			<%= render :partial=>'search_history_item',locals:{item:item} %>
			<% end %>
		</ol>
		<% else %>
			<div id="vm-playlist-no-videos">
		    未找到任何搜索记录。
		  </div>
		<% end %>
<%= render :partial=>'pagination',locals:{coursewares_ids:@list}%>
	</div>
</div>


<%= render 'mine_below' %>





