<% content_for :armpit do %>
<%= stylesheet_link_tag "bind/__rr", :media => "all" %>
<% end %>
<script type="text/javascript" charset="utf-8">
<% content_for :butt2 do %>
$("#loginForm").bind("ajax:beforeSend", function(){
  jQuery('#anniu').hide();
  jQuery('#zhengzaidenglu').show();
}).bind("ajax:complete", function(){
  jQuery('#anniu').show();
  jQuery('#zhengzaidenglu').hide();
}).bind("ajax:success", function(xhr, data, status) {
  if(!data['okay']){
    jQuery('#anniu').show();
    jQuery('#zhengzaidenglu').hide();
    jQuery("#errorMessage").show();
    jQuery("#errorMessage").html(data['failDescription']);
    jQuery('#huanyizhang').trigger('click');
  }else{
    jQuery("#errorMessage").hide();
    jQuery('.__rr').hide();
    jQuery('#content').css('background-color','#F8F8F8');
    jQuery('.__lnk').css('background-color','#F8F8F8');
    jQuery('#suc_bangding').show();
  }
});
$('#email,#password,#icode').focus(function(){
  $(this).parent().css('border-color','rgb(142,150,161)');
  if($(this).val().length>0){
    $(this).css('color','rgb(51, 51, 51)');
  }else{
    $(this).css('color','rgb(136, 136, 136)');
  }
}).blur(function(){
  $(this).parent().css('border-color','rgb(173, 182, 201)');
  if($(this).val().length>0){
    $(this).css('color','rgb(51, 51, 51)');
  }else{
    $(this).css('color','rgb(136, 136, 136)');
  }
});
$('#email,#password,#icode').keydown(function(){
  if($(this).val().length>0){
    $(this).css('color','rgb(51, 51, 51)');
  }else{
    $(this).css('color','rgb(136, 136, 136)');
  }
});
$('#password').focus(function(){
  $('#codeimg').show();
  $('#code').show();
});
$('#email,#password,#icode').each(function(){
  if($(this).val().length>0){
    $(this).css('color','rgb(51, 51, 51)');
  }else{
    $(this).css('color','rgb(136, 136, 136)');
  }
});
$('#huanyizhang').click(function(){
  $.post('/ajax/renren_huanyizhang',{
    'renren_cookie': $('#renren_cookie_id').val(),
    'rnd':  Math.random()
  },function(data){
    $('#verifyPic_login').attr('src',data['src']);
  },'json');
});
var _11d=new Date();
$('#uniqueTimestamp').val(_11d.getFullYear()+_11d.getMonth()+_11d.getDay()+_11d.getHours()+_11d.getSeconds()+_11d.getUTCMilliseconds());
<%end %>

</script>


<div class="__rr" style="width: 822px;position:absolute;top:186px;margin-left:166px" id="bind_service_target">
	<div id="syshome" class="login" style="width: 822px;">
		<div id="header">
			<div id="navBar" class="site-nav rr">
				<div class="navigation-wrapper">
					<div class="navigation navigation-new clearfix">
						<div id="logo2">
							<h1>
							<a href="http://www.renren.com" title="人人网 renren.com - 人人网校内是一个真实的社交网络，联系朋友，一起玩游戏" target="_blank">
							<img alt="人人网 renren.com - 人人网校内是一个真实的社交网络，联系朋友，一起玩游戏" title="人人网 renren.com - 人人网校内是一个真实的社交网络，联系朋友，一起玩游戏" height="72" width="222" src="http://a.xnimg.cn/n/apps/login/v6/res/logo_new.png">
							</a>
							</h1>
						</div>
						<div class="nav-body clearfix">
							<h2 class="nav-title">中国领先的实名制SNS社交网络</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="opi" class="page-wrapper clearfix">
			<div class="full-page-holder">
				<div class="full-page">
					<div class="login-page clearfix">
						<div class="side-column" style="height:438px">
							<div class="login-panel">
                <%= form_tag '/ajax/renren_real_bind', :id=>"loginForm", :class=>"login-form psvr_standard_ajax_form", :remote=>true do |f| %>
									<dl class="top clearfix">
										<dt><label for="email">帐号:</label></dt>
										<dd style="border-color: rgb(173, 182, 201); ">
                    <span id="errorMessage" class="errors_div" style="display: none; "></span>
										<input type="text" name="email" class="input-text" id="email" tabindex="1" placeholder="邮箱/手机号/用户名" value="" style="color: rgb(136, 136, 136); ">
										</dd>
									</dl>
									<dl class="pwd clearfix">
										<dt><label for="password">密码:</label></dt>
										<dd>
										<input type="password" id="password" name="password" placeholder="请输入密码" class="input-text" tabindex="2" autocomplete="off" style="color: rgb(136, 136, 136); ">
										</dd>
									</dl>
									<div class="caps-lock-tips" id="capsLockMessage" style="display:none">
									</div>
									<dl class="savepassword clearfix">
										<dt>
										<label for="guanzhu_ktv" class="labelCheckbox psvr_zhongwenfont">
										<input type="checkbox" name="guanzhu_ktv" checked="checked" id="guanzhu_ktv" value="true" tabindex="4">关注课件交流系统公共主页 </label>
										</dt>
										<dt>
										<label for="fabiao_ktv" class="labelCheckbox psvr_zhongwenfont">
										<input type="checkbox" name="fabiao_ktv" checked="checked" id="fabiao_ktv" value="true" tabindex="4">发表绑定成功状态 </label>
										</dt>
										<dd>
										</dd>
									</dl>
									<dl id="codeimg" class="codeimg clearfix">
										<dt></dt>
										<dd>
                      <img id="verifyPic_login" src="data:image/jpeg;base64,<%= raw @captcha %>" />
                      <!-- todo -->
                      <a href="javascript:void(0)" id="huanyizhang">换一张</a>
										</dd>
									</dl>
									<dl id="code" class="code clearfix">
										<dt><label for="code">验证码:</label></dt>
										<dd>
										<input id="icode" type="text" name="icode" class="input-text" tabindex="3" autocomplete="off" placeholder="请输入验证码" style="color: rgb(136, 136, 136); ">
										</dd>
									</dl>
									<dl class="bottom" id="anniu">
                    <input type="hidden" name="origURL" value="<%= @origURL %>" />
                    <input type="hidden" name="domain" value="<%= @domain %>" />
                    <input type="hidden" name="key_id" value="<%= @key_id %>" />
                    <input type="hidden" name="captcha_type" id="captcha_type" value="<%= @captcha_type %>" />
                    <input type="hidden" name="renren_cookie" id="renren_cookie_id" value="<%= @renren_cookie %>" />
                    <input type="hidden" name="uniqueTimestamp" id="uniqueTimestamp" value="" />
										<input type="submit" id="login_to_renren" class="input-submit login-btn" stats="loginPage_login_button" value="登录人人网" tabindex="5">
									</dl>
								<% end %>
                <div style="text-align:center;margin-bottom:50px;margin-top:20px;display:none" id="zhengzaidenglu">
                  <img src="http://a.xnimg.cn/imgpro/icons/load.gif">
                  <p style="font-weight:bold;margin-top:20px">正在登录</p>
                </div>
							</div>
						</div>
						<div class="main-column" style="width:565px;font-size:12px">
              <%= image_tag 'bind/renren_desc.png',style:'margin-top:60px' %>
              <%= image_tag 'bind/renren_desc2.png',style:'margin-top:88px' %>
            </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>