<ul id="ln_nav">
  <li id="ln_nav_home" class="<%= 'active' if '/account/edit'==request.path %>"><a href="/account/edit">我的账号</a></li>
  <li id="ln_nav_pref" class="<%= 'active' if '/account/edit_pref'==request.path %>"><a href="/account/edit_pref">偏好设置</a></li>
  <li id="ln_nav_avatar" class="<%= 'active' if '/account/edit_avatar'==request.path %>"><a href="/account/edit_avatar">修改头像</a></li>
  <li id="ln_nav_profile" class="<%= 'active' if '/account/edit_profile'==request.path %>"><a href="/account/edit_profile">个人资料</a></li>
  <li id="ln_nav_notifications" class="<%= 'active' if '/account/edit_notifications'==request.path %>"><a href="/account/edit_notifications">通知与提醒</a></li>
  <li id="ln_nav_banking" class="<%= 'active' if '/account/edit_banking'==request.path %>"><a href="/account/edit_banking">帐户与帐单</a></li>
  <li id="ln_nav_passwd" class="<%= 'active' if '/account/edit_passwd'==request.path %>"><a href="/account/edit_passwd">邮箱与密码安全</a></li>
  <li id="ln_nav_i18n" class="<%= 'active' if '/account/edit_i18n'==request.path %>"><a href="/account/edit_i18n">国际化设置</a></li>
  <li id="ln_nav_invite" class="<%= 'active' if '/account/edit_invite'==request.path %>"><a href="/account/edit_invite">邀请好友注册</a></li>
</ul>