<% content_for :armpit do %>
<%= stylesheet_link_tag "__lnk", :media => "all" %>
<%= stylesheet_link_tag "__lnk_app", :media => "all" %>
<%= stylesheet_link_tag "jia", :media => "all" %>
<% end %>
<%= render :partial => 'content_above', :locals=>{:skp_content_style => "height:1888px;background: white url(#{asset_path 'lnbg.png'}) repeat-y scroll 0 0;"} %>

<%= render 'ln_nav' %>

<%= render 'content_below' %>
<% content_for :butt2 do %>
$('#pagekey-nprofile-edit-success').resize(KTV.ln_targetize);
KTV.ln_targetize();
<% end %>
<div class="wrapper" style="width:1000px">
<div class="__lnk" id="pagekey-nprofile-edit-success">
<div class="en member v2 chrome-v4 background-v4 sticky-bg basic-member js ">
  <div id="body" class="" role="main" style="margin-top:15px;width:844px">
  	<div id="section-header" class="sub">
  		<h1>
  		<strong class="beta"><a href="/static?key=application_directory">绑定外部账号</a></strong>
  		</h1>
  	</div>
  	<div class="wrapper hp-nus-wrapper" style="width:822px">
  		<div id="global-error">
  		</div>
  		<div id="main" class="app-directory">
  			<p style="line-height:24px">
          <strong>课件台可以自动读取您的许多外部应用账号，来迅速丰富你的个人资料。</strong>除此之外：<br>
          · 课件台还可以读取您选过的课程或感兴趣的领域，以此为依据为您推荐最适合您的学习资料。<br>
          · 读者访问作者的外部账号（例如您的人人网主页）可以获得积分奖励，这有助于提高您的外部账号访问量。<br>
          · 在严格遵循《第三方账号使用协议》的前提下，课件台的自动化系统还可以能帮瞬间搞定许多繁琐的账号间信息同步的问题。
  			</p>
  			<div class="apps" id="app-list">
  				<ul id="yui-gen4">

            <% key = "spetial_#{Setting.ktv_sub}".to_sym; if value=Ktv::Consumers[key] %>
  					<li style="visibility: visible; ">
  					<div class="thumbnail">
  						<a href="/account/bind/<%= key %>"><span></span><img src="<%= asset_path "bind/#{key}_huge.png" %>" alt="<%= value[:namelong] %>" width="120" height="120"></a>
  					</div>
  					<h3><a href="/account/bind/<%= key %>">绑定<%= value[:name] %></a></h3>
  					<p class="author">
  						<%= value[:addr] %>
  					</p>
  					<p><%= value[:desc] %>
            </p>
  					</li>
            <% end %>
            
            <% Ktv::Consumers.each do |key,value| %>
            <% next if key.to_s.starts_with?('spetial_') %>
  					<li style="visibility: visible; ">
  					<div class="thumbnail">
  						<a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=105564&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1"><span></span><img src="<%= asset_path "bind/#{key}_huge.png" %>" alt="<%= value[:namelong] %>" width="120" height="120"></a>
  					</div>
  					<h3><a href="/account/bind/<%= key %>">绑定<%= value[:name] %></a></h3>
  					<p class="author">
  						<%= value[:addr] %>
  					</p>
  					<p><%= value[:desc] %></p>
  					</li>
            <% end %>

  				</ul>
  			</div>
  		</div>
  	</div>
  </div>

</div>
</div>
</div>