<% content_for :armpit do %>
<%= stylesheet_link_tag "__lnk", :media => "all" %>
<%= stylesheet_link_tag "__lnk_app", :media => "all" %>
<%= stylesheet_link_tag "jia", :media => "all" %>
<% end %>
<%= render :partial => 'content_above', :locals=>{:skp_content_style => "height:1888px;background: white url(#{asset_path 'lnbg.png'}) repeat-y scroll 0 0;"} %>

<%= render 'ln_nav' %>

<%= render 'content_below' %>
<% content_for :butt2 do %>
$('#pagekey-nprofile-edit-success').resize(KTV.ln_targetize);
KTV.ln_targetize();
<% end %>
<div class="wrapper" style="width:1000px">
<div class="__lnk" id="pagekey-nprofile-edit-success">
<div class="en member v2 chrome-v4 background-v4 sticky-bg basic-member js ">
  <div id="body" class="" role="main" style="margin-top:15px;width:844px">
  	<div id="section-header" class="sub">
  		<h1>
  		<strong class="beta"><a href="/static?key=application_directory">绑定外部账号</a></strong>
  		</h1>
  	</div>
  	<div class="wrapper hp-nus-wrapper" style="width:822px">
  		<div id="global-error">
  		</div>
  		<div id="main" class="app-directory">
  			<p style="line-height:24px">
          <strong>课件交流系统可以自动读取您的许多外部应用账号，来迅速丰富你的个人资料。</strong>除此之外：<br>
          · 课件交流系统还可以读取您选过的课程或感兴趣的领域，以此为依据为您推荐最适合您的学习资料。<br>
          · 读者访问作者的外部账号（例如您的人人网主页）可以获得积分奖励，这有助于提高您的外部账号访问量。<br>
          · 在严格遵循《第三方账号使用协议》的前提下，课件交流系统的自动化系统还可以能帮瞬间搞定许多繁琐的账号间信息同步的问题。
  			</p>
  			<div class="apps" id="app-list">
  				<ul id="yui-gen4">
  					<li style="visibility: visible; ">
  					<div class="thumbnail">
  						<a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=105564&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1"><span></span><img src="http://static.licdn.com/scds/common/u/img/applications/105564_appicon_v2.png" alt="E-Bookshelf" width="120" height="120"></a>
  					</div>
  					<h3><a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=105564&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1">E-Bookshelf</a></h3>
  					<p class="author">
  						by FT Press
  					</p>
  					<p>
  						Tap into the insights of the leading minds in business, E-Bookshelf by FT Press-essential reading for success. Read quick, concise business and career lessons from the top experts. Read the content you want, when you want and at a great value.
  					</p>
  					</li>
  					<li style="visibility: visible; ">
  					<div class="thumbnail">
  						<a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=104096&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1"><span></span><img src="http://static.licdn.com/scds/common/u/img/applications/104096_appicon.png" alt="Portfolio Display by Beehance" width="120" height="120"></a>
  					</div>
  					<h3><a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=104096&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1">Portfolio Display</a></h3>
  					<p class="author">
  						by Behance
  					</p>
  					<p>
  						Showcase your creative work in your LinkedIn Profile with the <strong>Creative Portfolio Display</strong> application. Free, easy to manage, and supports unlimited multimedia content.
  					</p>
  					</li>
  					<li style="visibility: visible; ">
  					<div class="thumbnail">
  						<a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=103978&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1"><span></span><img src="http://static.licdn.com/scds/common/u/img/applications/103978_appicon.png" alt="Projects and Teamspaces" width="120" height="120"></a>
  					</div>
  					<h3><a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=103978&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1">Projects and Teamspaces</a></h3>
  					<p class="author">
  						by Manymoon
  					</p>
  					<p>
  						Manymoon makes it simple to Get Work Done with your LinkedIn connections. Share and track unlimited tasks, projects, documents and Google Apps - for free!
  					</p>
  					</li>
  					<li style="visibility: visible; ">
  					<div class="thumbnail">
  						<a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=103900&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1"><span></span><img src="http://static.licdn.com/scds/common/u/img/applications/103900_appicon.png" alt="Legal Updates by JDSupra" width="120" height="120"></a>
  					</div>
  					<h3><a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=103900&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1">Legal Updates</a></h3>
  					<p class="author">
  						by JD Supra
  					</p>
  					<p>
  						Get legal news that matters to you and your business. (Lawyers, upload your articles and other content. Be found for your expertise on LinkedIn.)
  					</p>
  					</li>
  					<li style="visibility: visible; ">
  					<div class="thumbnail">
  						<a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=1500&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1"><span></span><img src="http://static.licdn.com/scds/common/u/img/applications/1500_appicon_v2.png" alt="Blog Link" width="120" height="120"></a>
  					</div>
  					<h3><a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=1500&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1">Blog Link</a></h3>
  					<p class="author">
  						by SixApart
  					</p>
  					<p>
  						With <strong>Blog Link</strong>, you can get the most of your LinkedIn relationships by connecting your blog to your LinkedIn profile. Blog Link helps you, and your professional network, stay connected.
  					</p>
  					</li>
  					<li style="visibility: visible; ">
  					<div class="thumbnail">
  						<a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=122233&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1"><span></span><img src="http://static.licdn.com/scds/common/u/img/applications/122233_appicon.png" alt="GitHub" width="120" height="120"></a>
  					</div>
  					<h3><a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=122233&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1">GitHub</a></h3>
  					<p class="author">
  						by LinkedIn
  					</p>
  					<p>
  						Showcase your GitHub projects on LinkedIn. Discover which of your LinkedIn Connections are most active on GitHub, and explore the projects they work on.
  					</p>
  					</li>
  					<li style="visibility: visible; ">
  					<div class="thumbnail">
  						<a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=1700&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1"><span></span><img src="http://static.licdn.com/scds/common/u/img/applications/1700_appicon.png" alt="Reading List" width="120" height="120"></a>
  					</div>
  					<h3><a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=1700&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1">Reading List by Amazon</a></h3>
  					<p class="author">
  						by Amazon
  					</p>
  					<p>
  						Extend your professional profile by sharing the books you’re reading with other LinkedIn members. Find out what you should be reading by following updates from your connections, people in your field, or other LinkedIn members of professional interest to you.
  					</p>
  					</li>
  					<li style="visibility: visible; ">
  					<div class="thumbnail">
  						<a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=1800&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1"><span></span><img src="http://static.licdn.com/scds/common/u/img/applications/1800_appicon_v2.png" alt="My Travel" width="120" height="120"></a>
  					</div>
  					<h3><a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=1800&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1">My Travel</a></h3>
  					<p class="author">
  						by TripIt, Inc.
  					</p>
  					<p>
  						See where your LinkedIn network is traveling and when you will be in the same city as your colleagues. Share your upcoming trips, current location, and travel stats with your network.
  					</p>
  					</li>
  					<li style="visibility: visible; ">
  					<div class="thumbnail">
  						<a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=2000&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1"><span></span><img src="http://static.licdn.com/scds/common/u/img/applications/2000_appicon_v2.png" alt="Events" width="120" height="120"></a>
  					</div>
  					<h3><a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=2000&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1">Events</a></h3>
  					<p class="author">
  						by LinkedIn
  					</p>
  					<p>
  						Find professional events, from conferences to local meet-ups, and make the right connections with other professionals at the event.
  					</p>
  					</li>
  					<li style="visibility: visible; ">
  					<div class="thumbnail">
  						<a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=1200&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1"><span></span><img src="http://static.licdn.com/scds/common/u/img/applications/1200_appicon.png" alt="SlideShare Presentations" width="120" height="120"></a>
  					</div>
  					<h3><a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=1200&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1">SlideShare Presentations</a></h3>
  					<p class="author">
  						by SlideShare Inc
  					</p>
  					<p>
  						<strong>SlideShare</strong> is the best way to share presentations on LinkedIn! You can upload &amp; display your own presentations, check out presentations from your colleagues, and find experts within your network.
  					</p>
  					</li>
  					<li style="visibility: visible; ">
  					<div class="thumbnail">
  						<a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=103909&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1"><span></span><img src="http://static.licdn.com/scds/common/u/img/applications/103909_appicon.png" alt="Real Estate Pro by Rofo" width="120" height="120"></a>
  					</div>
  					<h3><a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=103909&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1">Real Estate Pro</a></h3>
  					<p class="author">
  						by Rofo
  					</p>
  					<p>
  						Access your local real estate and office space market. Follow active brokers, agents and professionals. Track new property listings and available spaces and stay informed of completed deals in your area.
  					</p>
  					</li>
  					<li style="visibility: visible; ">
  					<div class="thumbnail">
  						<a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=1300&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1"><span></span><img src="http://static.licdn.com/scds/common/u/img/applications/1300_appicon.png" alt="Box.net Files" width="120" height="120"></a>
  					</div>
  					<h3><a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=1300&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1">Box.net Files</a></h3>
  					<p class="author">
  						by Box.net
  					</p>
  					<p>
  						Add the Box.net Files application to manage all your important files online. Box.net lets you share content on your profile, and collaborate with friends and colleagues.
  					</p>
  					</li>
  					<li style="visibility: visible; ">
  					<div class="thumbnail">
  						<a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=103424&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1"><span></span><img src="http://static.licdn.com/scds/common/u/img/applications/103424_appicon.png" alt="Lawyer Ratings" width="120" height="120"></a>
  					</div>
  					<h3><a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=103424&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1">Lawyer Ratings</a></h3>
  					<p class="author">
  						by LexisNexis Martindale-Hubbell
  					</p>
  					<p>
  						Are you a Legal Professional? Showcase your Martindale-Hubbell® Peer Review Ratings™ and Client Review Ratings™ to further validate your stated credentials and help you make the right connections.
  					</p>
  					</li>
  					<li style="visibility: visible; ">
  					<div class="thumbnail">
  						<a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=1900&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1"><span></span><img src="http://static.licdn.com/scds/common/u/img/applications/1900_appicon_v3.png" alt="Polls" width="120" height="120"></a>
  					</div>
  					<h3><a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=1900&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1">Polls</a></h3>
  					<p class="author">
  						by LinkedIn
  					</p>
  					<p>
  						The Polls application allows you to collect actionable data from your connections and the professional audience on LinkedIn.
  					</p>
  					</li>
  					<li style="visibility: visible; ">
  					<div class="thumbnail">
  						<a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=2200&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1"><span></span><img src="http://static.licdn.com/scds/common/u/img/applications/2200_appicon.png" alt="WordPress" width="120" height="120"></a>
  					</div>
  					<h3><a href="/opensocialInstallation/preview?_ch_panel_id=1&amp;_applicationId=2200&amp;goback=%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1">WordPress</a></h3>
  					<p class="author">
  						by WordPress
  					</p>
  					<p>
  						Connect your virtual lives with the WordPress LinkedIn Application. With the WordPress App, you can sync your WordPress blog posts with your LinkedIn profile, keeping everyone you know in the know.
  					</p>
  					</li>
  				</ul>
  			</div>
  		</div>
  	</div>
  </div>

</div>
</div>
</div>