<% content_for :armpit do %>
<%= stylesheet_link_tag "__lnk", :media => "all" %>
<% end %>


<%= render :partial => 'content_above', :locals=>{:skp_content_style => "height:1888px;background: white url(#{asset_path 'lnbg.png'}) repeat-y scroll 0 0;"} %>

<%= render 'ln_nav' %>

<%= render 'content_below' %>


<div class="wrapper" style="width:1000px">
<div class="__lnk" id="pagekey-nprofile-edit-success">
<div class=" en member v2 edit-my-profile chrome-v4 background-v4 sticky-bg basic-member js ">

	<% unless @user.errors.blank? %>
		<div id="global-error"><div role="alert" class="alert error"><i class="icon"></i><p><strong>您输入的某些信息存在错误，请修正下面标红的数据项.</strong></p></div></div>
	<% end %>
<div id="body" class="" role="main">
	<div id="section-header">
		<ul id="nav-secondary">
			<li id="nav-edit-profile" class=""><a href="/profile/edit?locale=en_US"><span>Edit Profile</span></a></li>
			<li id="nav-my-profile" class=""><a href="/profile/view?id=73526537&amp;locale=en_US&amp;trk=tab_pro"><span>View Profile</span></a></li>
		</ul>
	</div>
	<div class="wrapper hp-nus-wrapper">
		<div id="global-error">
		</div>
		<div id="main" class="profile-edit grid-e">
			<div id="content">
				<h1>个人资料</h1>
				<%= form_for(resource, :as => resource_name, :url => request.path, :html => { :method => :put, :class => 'normal',:id=>'submit_btn_form',:enctype =>  "multipart/form-data",:autocomplete=>"off" }) do |f| %>

				<form action="/profile/edit-basic-info-submit" method="POST" name="editBasicInfoForm" novalidate="novalidate" class="standard-form" id="yui-gen5">
					<fieldset>
						<legend><span>真实姓名</span></legend>
						<ul>
							<li class="first-name">
							<%= f.label :name,'真实姓名:' %>
							<div class="fieldgroup">
						    <%= f.text_field :name,:tabindex => 1,:autocomplete=>"off" %>
								<% unless resource.errors_for_field(:name).blank? %>
									<span class="error"><%= resource.errors_for_field(:name) %></span>						    
								<% end %>
							</div>
							<p class="note">
								<strong>注意:</strong> 
						    <% if @user.name_last_changed_at %>
									<%= "一月只可以修改一次。#{'(下次可修改日期：'+(resource.name_last_changed_at+1.months).getlocal.strftime("%Y年%m月%d日")+')'}" %>
						    <% else %>
						      <%= "一月只可以修改一次。" %>
						    <% end %>
							</p>
							</li>
						</ul>
					</fieldset>
					<fieldset>
						<legend><span>一句话介绍</span></legend>
						<ul>
							<li>
                <%= f.label :tagline,'一句话介绍:' %>
							<div class="fieldgroup">
						    <%= f.text_field :tagline,:tabindex => 2,:autocomplete=>"off" %>
								<% unless resource.errors_for_field(:tagline).blank? %>
                <span class="error"><%= resource.errors_for_field(:tagline) %></span>						    
								<% end %>
							</div>
							<p class="note">
								<strong>例如:</strong> 华东师范大学生物统计中心研究助理，抽象代数研究者，首都师范大学数学科学学院学生，世界史博士生导师，经验丰富的交通运输行政主管，网页设计师，信息架构师，远见卓识的企业家和投资者...<a class="" href="/static?key=pop_ex_headlines&amp;goback=%2Ersm_*1_*1_*1_*1%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1" onclick="LI.popup( '/static?key=pop_ex_headlines&amp;goback=%2Ersm_*1_*1_*1_*1%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1', {} ); return false;" title="New window will open">更多示例</a>
							</p>
							</li>
						</ul>
					</fieldset>
					<fieldset>
						<legend><span>Location &amp; Industry</span></legend>
						<ul id="yui-gen4">
							<li>
							<label for="birthprovince">所在地:</label>
							<span class="error" id="countryCode-location-editBasicInfoForm-error"></span>
							<div id="birthdistrictbox">


<select name="birthprovince" id="birthprovince" class="ps" onchange="showdistrict('birthdistrictbox', ['birthprovince', 'birthcity', 'birthdist', 'birthcommunity'], 4, 1, 'birth')" tabindex="3">
  <%= options_for_select(['-省份-']+PreCommonDistrict.where(:level=>1).order('displayorder').collect{|x| [x.name,x.name, {:did => x.id.to_s}]},@user.at_province)%>
</select>&nbsp;&nbsp;


<% father=PreCommonDistrict.where(:level=>1,:name=>@user.at_province).first %>
<select name="birthcity" id="birthcity" class="ps" onchange="showdistrict('birthdistrictbox', ['birthprovince', 'birthcity', 'birthdist', 'birthcommunity'], 4, 2, 'birth')" tabindex="4">
  <%= options_for_select(['-城市-']+PreCommonDistrict.where(:level=>2,:upid=>father.id).order('displayorder').collect{|x| [x.name,x.name, {:did => x.id.to_s}]},@user.at_city)%>
</select>&nbsp;&nbsp;
<% if @user.at_city.present? and @user.at_city[0]!='-' %>
<% father=PreCommonDistrict.where(:level=>2,:name=>@user.at_city).first %>
<select name="birthdist" id="birthdist" class="ps" onchange="showdistrict('birthdistrictbox', ['birthprovince', 'birthcity', 'birthdist', 'birthcommunity'], 4, 3, 'birth')" tabindex="5">
  <%= options_for_select(['-州县-']+PreCommonDistrict.where(:level=>3,:upid=>father.id).order('displayorder').collect{|x| [x.name,x.name, {:did => x.id.to_s}]},@user.at_dist)%>
</select>&nbsp;&nbsp;
<% if @user.at_dist.present? and @user.at_dist[0]!='-' %>
<% father=PreCommonDistrict.where(:level=>3,:name=>@user.at_dist).first %>
<select name="birthcommunity" id="birthcommunity" class="ps" onchange="showdistrict('birthdistrictbox', ['birthprovince', 'birthcity', 'birthdist', 'birthcommunity'], 4, 4, 'birth')" tabindex="6">
  <%= options_for_select(['-乡镇-']+PreCommonDistrict.where(:level=>4,:upid=>father.id).order('displayorder').collect{|x| [x.name,x.name, {:did => x.id.to_s}]},@user.at_community)%>
</select>&nbsp;&nbsp;
<% end %>
<% end %>


<% unless resource.errors_for_field(:location).blank? %>
<span class="error"><%= resource.errors_for_field(:location) %></span>						    
<% end %>
							</div>
  						</li>
							<li>
							<label for="industryChooser-editBasicInfoForm">所属行业或学术领域:</label>
							<span class="error" id="industryChooser-editBasicInfoForm-error"></span>
							<select name="industryChooser" id="industryChooser-editBasicInfoForm">
              <%= options_for_select(%w{
              [不选行业]
                会计
                航空公司/航空
                替代性争端解决
                替代性医学
                动画
                服装和时装
                建筑与规划
                艺术与手工艺品
                汽车工业
                航天工业
                银行业
                生物技术
                广播媒体
                建筑材料
                办公用品及设备
                资本市场
                化学工业
                公民和社会组织
                土木工程
                商业性房地产
                计算机与网络安全
                电脑游戏
                电脑硬件
                计算机网络
                计算机软件
                建筑施工
                消费类电子产品
                日用消费品
                消费者服务
                化妆品
                乳制品
                防务航天
                设计
                教育管理
                电子教学
                电气/电子制造
                娱乐业
                环境服务
                活动服务
                企业高管
                设施服务
                农业
                金融服务
                美术
                渔业
                食品和饮料
                粮食生产
                筹款
                家具
                赌博与赌场
                玻璃、陶瓷和混凝土
                政府管理
                政府关系
                图形设计
                健康、保健与健身
                高等教育
                小学/中学教育
                医院及健康护理
                酒店业
                人力资源
                进口与出口
                个人及家庭服务
                工业自动化
                信息服务
                信息技术与服务
                保险
                国际事务
                国际贸易与发展
                互联网
                投资银行
                投资管理
                司法
                执法
                法律实务
                法律服务
                立法事务官员
                休闲与旅游观光
                图书馆
                物流与供应链管理
                奢侈品与珠宝玉石首饰
                机械
                管理咨询
                海事
                营销和广告
                市场研究
                机械工程或工业工程
                媒体制作
                医疗器械
                医学实践
                心理健康服务
                军事
                采矿及金属
                电影
                博物馆和机构
                音乐
                纳米技术
                报纸
                非营利组织管理
                石油与能源
                网络媒体
                外包
                封装/货运交付
                包装和容器
                纸类与林业产品
                表演艺术
                制药
                慈善事业
                摄影
                塑料
                政治机构
                印刷
                职业培训和辅导
                程序开发
                公共政策
                公共关系与沟通
                公共安全
                出版
                铁路制造
                牧场
                房地产
                娱乐设施和服务
                宗教机构
                可再生能源与环境
                研究
                餐厅
                零售
                安全和调查
                半导体
                造船
                体育用品
                体育
                人员编制和招聘
                超市
                电信
                纺织品
                智库
                烟草
                翻译和本地化
                交通运输/卡车/铁路
                实用工具
                创业投资及私募
                兽医
                仓储
                批发
                葡萄酒和烈性酒
                无线
                写作和编辑  
                },@user.lingyu_industry) %>
							</select>
              或
							<select name="studyChooser" id="studyChooser-editBasicInfoForm">
                <%= options_for_select(%w{
                [不选学术领域]
                数学
                信息科学与系统科学
                力学
                物理学
                化学
                天文学
                地球科学
                生物学
                农学
                林学
                畜牧、兽医科学
                水产学
                基础医学
                临床医学
                预防医学与卫生学
                军事医学与特种医学
                药学
                中医学与中药学
                工程与技术科学基础学科
                测绘科学技术
                材料科学
                矿山工程技术
                冶金工程技术
                机械工程
                动力与电气工程
                能源科学技术
                核科学技术
                电子、通信与自动控制技术
                计算机科学技术
                化学工程
                纺织科学技术
                食品科学技术
                土木建筑工程
                水利工程
                交通运输工程
                航空、航天科学技术
                环境科学技术
                安全科学技术
                管理学
                马克思主义
                哲学
                宗教学
                语言学
                文学
                艺术学
                历史学
                考古学
                经济学
                政治学
                法学
                军事学
                社会学
                民族学
                新闻学与传播学
                图书馆、情报与文献学
                教育学
                体育科学
                统计学 
                  },@user.lingyu_study) %>
    					</select>
							<% unless resource.errors_for_field(:lingyu).blank? %>
								<span class="error"><%= resource.errors_for_field(:lingyu) %></span>						    
							<% end %>
							</li>
						</ul>
						<p class="note">
							行业或学术领域二者可选填其中一项. 所在地可酌情选择合适的行政区划粒度, 不必全选.
						</p>
					</fieldset>
					<p class="actions">
						<input type="submit" name="updateBasicInfo" value="保存修改" id="btn-submit" class="btn-primary">
            <span class="alternate" style="line-height:26px">或 <a href="/account/edit">返回我的账号首页</a></span>
					</p>
					<input type="hidden" name="locale" value="en_US" id="locale-editBasicInfoForm"><input type="hidden" name="nudgeID" value="" id="nudgeID-editBasicInfoForm"><input type="hidden" name="timestamp" value="1350628757304" id="timestamp-editBasicInfoForm"><input type="hidden" name="useJsonResponse" value="" id="useJsonResponse-editBasicInfoForm"><input type="hidden" name="isSubscriber" value="false" id="isSubscriber-editBasicInfoForm"><input type="hidden" name="isJobSeeker" value="false" id="isJobSeeker-editBasicInfoForm"><input type="hidden" name="showFullLastName" value="F" id="showFullLastName-editBasicInfoForm"><input type="hidden" name="csrfToken" value="ajax:1284132373356947614" id="csrfToken-editBasicInfoForm"><input type="hidden" name="sourceAlias" value="0_2LGi6vTm6uM7Apch1ukkLBuTpd9PHbMHgs66raSHmqK" id="sourceAlias-editBasicInfoForm"><input type="hidden" name="goback" value=".rsm_*1_*1_*1_*1.npe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1" id="goback-editBasicInfoForm">
					<div class="screen">
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>
