<% content_for :armpit do %>
<%= stylesheet_link_tag "__lnk", :media => "all" %>
<% end %>


<%= render :partial => 'content_above', :locals=>{:skp_content_style => "height:1888px;background: white url(#{asset_path 'lnbg.png'}) repeat-y scroll 0 0;"} %>

<%= render 'ln_nav' %>

<%= render 'content_below' %>

<% content_for :butt2 do %>
$('#edit-skills-add-ta').keydown(function( e ) {
  if ( e.keyCode == 13 ) {
    $('#edit-skills-add-btn').trigger('click');
  }
});
$('#edit-skills-add-btn').click(function(){
  if('<%= @user.fangwendizhi %>'==$('#edit-skills-add-ta').val()){
    return false;
  }
  $('.typeahead-loading-icon').show();
  $.getJSON('/ajax/check_fangwendizhi',{f:$('#edit-skills-add-ta').val()},function(data){
    $('.typeahead-loading-icon').hide();
    $('#fangwendizhi').val(data['ff']);
    if(data['not_used']){
    $('#yui-gen44').html("http://<%= Setting.ktv_subdomain %>/"+data['ff']);
      $('#slug-error').addClass('okay');
      $('#slug-error').removeClass('error');      
      $('#btn-primary').removeAttr('disabled');
      $('#slug-error').text('该后缀可以使用，请点击“保存修改”以生效.');
    }else{
      $('#yui-gen44').html("http://<%= Setting.ktv_subdomain %>/<span style=\"color:red;font-size:28px\">"+data['ff']+'</span>');
      $('#slug-error').removeClass('okay');
      $('#slug-error').addClass('error');
      $('#btn-primary').attr('disabled','disabled');
      $('#slug-error').text('对不起，此后缀已被占用，请换一个.');
    }
  });
})
<% end %>
<div class="wrapper" style="width:1000px">
<div class="__lnk" id="pagekey-nprofile-edit-success">
<div class=" en member v2 edit-my-profile edit-profile-section chrome-v4 background-v4 sticky-bg basic-member js ">
  <div role="main" class="" id="body" style="margin-top:0">
  	<div id="section-header">
  		<ul id="nav-secondary">
  			<li class="" id="nav-edit-profile"><a href="/profile/edit?locale=en_US"><span>Edit Profile</span></a></li>
  			<li class="" id="nav-my-profile"><a href="/profile/view?id=73526537&amp;locale=en_US&amp;trk=tab_pro"><span>View Profile</span></a></li>
  		</ul>
  	</div>
  	<div class="wrapper hp-nus-wrapper">
  		<div id="global-error">
  		</div>
  		<div class="grid-f profile-edit" id="main">
  			<div id="content">
  				<h1>修改资料页的访问地址</h1>
          
            <div class="add-skill-container">
              <input type="text" class="type-ahead exclude yui-ac-input" name="fangwendizhi-ta" value="" id="edit-skills-add-ta" placeholder="请输入新的访问地址后缀" autocomplete="off">
              <a class="btn-primary" id="edit-skills-add-btn" href="#">测试是否可用</a>
    					<span class="error" id="slug-error"></span>
              <img src="<%= asset_path 'ln03/scds/common/u/img/anim/anim_loading_16x16.gif' %>" class="typeahead-loading-icon">
            </div>
				<%= form_for(resource, :as => resource_name, :url => request.path, :html => { :method => :put, :class => 'standard-form stacked competencies" novalidate',:id=>'submit_btn_form',:enctype =>  "multipart/form-data",:autocomplete=>"off" }) do |f| %>
            <input type="hidden" name="fangwendizhi" id="fangwendizhi" value="">
  					<div class="skills-editor jellybean-editor" id="yui-gen4">
  						<span id="skills-editSkillsForm-error" class="error"></span>
  						<ol class="skills-list" id="yui-gen44" style="font-size:28px;line-height:45px;text-indent:8px">
                http://<%= Setting.ktv_subdomain %>/<%= @user.fangwendizhi %>
  						</ol>
  					</div>
  					<p class="actions">
  						<input type="submit" id="btn-primary" class="btn-primary" value="保存修改" name="" disabled="disabled">
              <span class="alternate" style="line-height:26px;font-size:12px">或 <a href="/account/edit">返回我的账号首页</a></span>
  					</p>
  					<div class="screen">
  					</div>
          <%end %>

  			</div>
  		</div>
  	</div>
  </div>
</div>
</div>
</div>