<% content_for :armpit do %>
<%= stylesheet_link_tag "__lnk", :media => "all" %>
<%= stylesheet_link_tag "jia", :media => "all" %>
<% end %>
<% content_for :butt2 do %>
$('.jbttt span').tipsy({gravity: 's',fade: <%= @is_WebKit ? 'false' : 'true'%>,opacity: 1});
<% end %>
<%= render :partial => 'content_above', :locals=>{:skp_content_style => "height:1888px;background: white url(#{asset_path 'lnbg.png'}) repeat-y scroll 0 0;"} %>

<%= render 'ln_nav' %>

<%= render 'content_below' %>

<div class="wrapper" style="width:1000px">
	
<div class="__skp" style="position:absolute;top:314px;margin-left:185px;z-index:22" id="pagekey-nprofile-psvr-skp">
	<div class="user-show-new">
		<div class="user-header">
			<div class="user-header-left" style="width:156px;margin:0">
				<div class="gravatar" style="width:100%">
					<div class="reputation">
	            <span>
                <a href="/users/96/sklivvz?tab=reputation">25,489</a>
	            </span>
	            名声
	        </div>
					<div class="badges">
	          <span><span title="9 gold badges"><span class="badge1"></span><span class="badgecount">9</span></span><span title="98 silver badges"><span class="badge2"></span><span class="badgecount">98</span></span><span title="192 bronze badges"><span class="badge3"></span><span class="badgecount">192</span></span></span>                    
          </div>
				</div>
			</div>
		</div>
	</div>	
</div>	
									
									
<div class="__lnk en member v2 edit-my-profile chrome-v4 background-v4 sticky-bg basic-member js " id="pagekey-nprofile-edit-success">
	<div id="body" class="" role="main">
		<div class="wrapper hp-nus-wrapper">
			<div id="global-error">
			</div>
			<!-- leo:gobackTemplateLinks/ -->
			<div id="main" class="profile grid-a">
				<div id="content" class="">
					<!-- Start profile card -->
          <%= link_to image_tag("efw/r#{@user.completion_rate}.png"),'#wanshan',style:'position:absolute;z-index:23;margin-left:568px;margin-top:202px' %>
					<div class="top-card" style="margin-top:8px">
						<div class="profile-card vcard">
							<div class="profile-picture" id="profile-picture">
								<div class="photo-wrap-lg">
									<img src="<%= avatar_url(@user,:big) %>" width="150" height="150" alt="Minqi Pan">
								</div>
								<div class="edit-photo">
									<a href="/account/edit_avatar">修改头像</a>
								</div>
							</div>
							<div class="profile-overview">
								<div id="member-73526537" class="masthead" style="<%= @is_firefox ? 'line-height:26px' : '' %>">
  								<div class="profile-aux" style="position:absolute;margin-top:228px">
  									<div class="profile-actions">
  										<div class="guided-actions">
  											<a name="guidedEdit" class="button-primary" href="/profile/guided?goback=%2Ersm_*1_*1_*1_*1%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&amp;trk=prof-0-sb-guided_edit-primary">
  											<span>Improve your profile</span>
  											</a>
  										</div>
  										<div class="button-group-secondary">
  											<a name="previewProfile" class="button-secondary" href="/profile/view?id=73526537&amp;locale=en_US&amp;trk=prof-0-ovw-view-secondary"><span>公共资料页</span></a>
  											<div class="button-menu connect-menu-toggle">
  												<span>More options</span>
  												<dl class="connect-menu">
  													<dd>
  													<a name="addRecommendations" href="/recRequests?cor=&amp;goback=%2Ersm_*1_*1_*1_*1&amp;trk=prof-0-sb-ask_for_rec-link">请求职位推荐</a>
  													</dd>
  													<dd>
  													<a href="/profile/edit-profile-in-another-language?goback=%2Ersm_*1_*1_*1_*1%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&amp;trk=prof-0-sb-create_pial-link">建立更多语言的资料页</a>
  													</dd>
  													<dd class="share">
  													<a href="/forwardProfileMsg?displayCreate=&amp;profileID=73526537&amp;profileName=Minqi+Pan&amp;network=M&amp;authToken=ehue&amp;authType=name&amp;goback=%2Ersm_*1_*1_*1_*1%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&amp;trk=prof-0-ab-share-0" id="yui-gen3">
  													<span>分享我的资料页</span>
  													</a>



  												</dd>
  													<dd class="pdf">
  													<a href="/profile/pdf?id=73526537&amp;locale=en_US&amp;authType=name&amp;authToken=ehue&amp;pdfFileName=MinqiPan&amp;disablePdfCompression=true&amp;trk=pdf_pro_full" title="Download as PDF">
  													<span>生成PDF资料页</span>
  													</a>
  													</dd>
  												</dl>
  											</div>
  										</div>
  									</div>
  								</div>
  								<!-- End profile-aux -->
                  
                  
									<h1>
									<span class="n fn" id="name">
										<span class="full-name"><%= name_beautify @user.name %></span>
									</span>
									<span class="edit">
										<a name="editBasicInfo" href="/account/edit_profile" title="编辑姓名" style="font-size:12px">编辑</a>
									</span>
									</h1>
									<span class="phonetic-full-name">
									</span>
									<p class="title" style="display:block">
										<%= @user.tagline.present? ? @user.tagline : '(未填写一句话介绍)' %>
									</p>
									<dl id="headline" class="demographic-info adr" style="font-size:13px">
										<dt>地区</dt>
										<dd>
										<span class="locality">
                      <% if @user.location.present? %>
                        <%= @user.location %>
                      <% else %>
                      <span class="add">
                        <a href="/account/edit_profile">+ 添加地区</a>
                      </span>
                      <% end %>
										</span>
										</dd>
										<dt>领域</dt>
										<% if @user.lingyu_industry.blank? and @user.lingyu_study.blank? %>
                    <dd class="industry">
                      <span class="add">
                        <a href="/account/edit_profile">+ 添加行业或学术领域</a>
                      </span>
                    </dd>
										<% else %>
											<% if @user.lingyu_industry.present? %>
											<dd class="industry">
												<%= @user.lingyu_industry %>
											</dd>
											<% end %>
											<% if @user.lingyu_study.present? %>
											<dd class="industry">
												<%= @user.lingyu_study %>
											</dd>
											<% end %>
										<% end %>
									</dl>
								</div>
                <div class="j32" style="width:617px;height:32px;margin:16px 0;">
                  <a class="jbttt jbt_renren"><span title="绑定人人网账号" class="jiathis_txt jtico jtico_renren"></span></a>
                  <a class="jbttt jbt_tsina"><span title="绑定新浪微博账号" class="jiathis_txt jtico jtico_tsina"></span></a>
                  <a class="jbttt jbt_douban"><span title="绑定豆瓣账号" class="jiathis_txt jtico jtico_douban"></span></a>
                  <a class="jbttt jbt_qq"><span title="绑定QQ账号" class="jiathis_txt jtico jtico_tqq"></span></a>
                  <a class="jbttt jbt_github"><span title="绑定Github账号" class="jiathis_txt jtico jtico_github"></span></a>
                  <a class="jbttt jbt_buzz"><span title="绑定谷歌Buzz账号" class="jiathis_txt jtico jtico_buzz"></span></a>
                  <a class="jbttt jbt_googleplus"><span title="绑定Google+账号" class="jiathis_txt jtico jtico_googleplus"></span></a>
                  <a class="jbttt jbt_fb"><span title="绑定Facebook账号" class="jiathis_txt jtico jtico_fb"></span></a>
                  <a class="jbttt jbt_twitter"><span title="绑定Twitter账号" class="jiathis_txt jtico jtico_twitter"></span></a>
                  <a class="jbttt jbt_linkedin"><span title="绑定LinkedIn账号" class="jiathis_txt jtico jtico_linkedin"></span></a>
                  <a class="jbttt jbt_msn"><span title="绑定MSN账号" class="jiathis_txt jtico jtico_msn"></span></a>
                </div>
                <table summary="关于<%= @user.name %>的综述">
                <tbody>
                  <tr class="overview-summary-current">
                  	<th id="overview-summary-current-title" scope="row">
                  		<a href="#profile-experience" class="current-title">现任职位 / 正在攻读</a>
                  	</th>
                  	<td>
                  		<ol>
                  			<li>
                  			<a href="/profile/edit_position" name="addPosition" class="add">
                  			+ <strong>添加</strong> 您的现任职位或正在攻读的学位 </a>
                  			</li>
                  		</ol>
                  	</td>
                  </tr>
                  <tr id="overview-summary-past">
                  	<th id="overview-summary-past-title" scope="row">
                  		<a href="#profile-experience" class="past-title">教育与学历</a>
                  	</th>
                  	<td>
                  		<ol>
                  			<li>
                  			<a href="/profile/edit_position" name="addPosition" class="add">
                  			+ <strong>添加</strong> 您的学历信息 </a>
                  			</li>
                  		</ol>
                  	</td>
                  </tr>
                </tbody>
                </table>
                
							</div>
							<!-- End profile-overview -->
						</div>
						<!-- End profile card -->
						<div class="profile-card-extras">
							<div class="more-info" style="display: none; ">
								<table summary="Internet Presence">
								<tbody>
								<tr>
									<th scope="row" rowspan="3">
										Websites
									</th>
									<td>
										 Personal Website <span class="edit"><a class="add" href="/profile/edit-additional-info?locale=en_US&amp;goback=%2Ersm_*1_*1_*1_*1%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&amp;trk=prof-ovw-edit-websites">Edit</a></span>
									</td>
								</tr>
								<tr>
									<td>
										 Blog <span class="edit"><a class="add" href="/profile/edit-additional-info?locale=en_US&amp;goback=%2Ersm_*1_*1_*1_*1%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&amp;trk=prof-ovw-edit-websites">Edit</a></span>
									</td>
								</tr>
								<tr>
									<td>
										 RSS feed <span class="edit"><a class="add" href="/profile/edit-additional-info?locale=en_US&amp;goback=%2Ersm_*1_*1_*1_*1%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&amp;trk=prof-ovw-edit-websites">Edit</a></span>
									</td>
								</tr>
								<tr>
									<th scope="row" rowspan="2">
										Twitter
									</th>
									<td>
										<a href="/redirect?url=http%3A%2F%2Fwww%2Etwitter%2Ecom%2Fpsvr&amp;urlhash=1SEr&amp;trk=pro_twit" target="_blank">psvr</a>
										<span class="edit">
										<a href="https://www.linkedin.com/secure/settings?twitterSettings=&amp;goback=%2Ersm_*1_*1_*1_*1%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&amp;trk=prof-ovw-edit-twitter">Edit</a>
										</span>
									</td>
								</tr>
								</tbody>
								</table>
								<table summary="Contact Info">
								<tbody>
								<tr>
									<th scope="row" rowspan="1">
										Email
									</th>
									<td>
										<a href="mailto:pmq2001@gmail.com">pmq2001@gmail.com</a>
									</td>
								</tr>
								<tr class="tel">
									<th scope="row" rowspan="1">
										Phone
									</th>
									<td>
										 +8618600259326 <span class="type">(mobile)</span>
										<span class="edit"><a class="add" href="/profile/edit-personal-info?locale=en_US&amp;goback=%2Ersm_*1_*1_*1_*1%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&amp;trk=prof-ovw-edit-phone">Edit</a></span>
									</td>
								</tr>
								<tr>
									<th scope="row" rowspan="1">
										IM
									</th>
									<td>
										 pmq2001@gmail.com (Google Talk) <span class="edit"><a class="add" href="/profile/edit-personal-info?locale=en_US&amp;goback=%2Ersm_*1_*1_*1_*1%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&amp;trk=prof-ovw-edit-im">Edit</a></span>
									</td>
								</tr>
								<tr>
									<th scope="row">
										Address
									</th>
									<td>
										 Xi San Huan Bei Lu #105<br>
										 Haidian District<br>
										 100048 Beijing <span class="edit"><a class="add" href="/profile/edit-personal-info?locale=en_US&amp;goback=%2Ersm_*1_*1_*1_*1%2Enpe_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&amp;trk=prof-ovw-edit-address">Edit</a></span>
									</td>
								</tr>
								</tbody>
								</table>
							</div>
							<div class="profile-actions">
								<ul>
									<li>
									<dl class="public-profile">
										<dt>资料页的公共访问地址</dt>
										<dd style="line-height:14px">
											<a href="http://<%= Setting.ktv_subdomain %>/<%= @user.fangwendizhi %>" target="_blank" title="View public profile" name="webProfileURL"><%= Setting.ktv_subdomain %>/<%= @user.fangwendizhi %></a>
										<a class="edit-public-profile" href="/account/edit_slug">修改访问地址</a>
										</dd>
									</dl>
									</li>
								</ul>
								<div class="show-more-info">
									<a href="#"><span class="contact">编辑联系方式</span></a>
								</div>
							</div>
							<!-- End profile-actions -->
						</div>
						<!-- End profile-extras -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>