<h3>设置</h3>
<div class="clearfix"></div>
<% params[:mode] = 'api' if @client_application %>
<nav class="tabNav mt20 clearfix">
  <ul>
    <li class="<%= 'current' if 'mail'!=params[:mode] and 'api'!=params[:mode] %>"><%= link_to '基本资料','/users/edit?mode=' %></li>
    <li class="<%= 'current' if 'mail'==params[:mode] %>"><%= link_to '邮件提醒设置','/users/edit?mode=mail' %></li>
  </ul>
</nav>

<% if 'mail'==params[:mode] %>					
  <!-- 这是邮件提醒设置 -->
  <section class="setupNotify clearfix">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :enctype =>  "multipart/form-data", :id => 'form_2' }) do |f| %>
      <label><input class="noBorder" type="checkbox" name='user[mail_be_followed]' <%= 'checked="checked"' if resource.mail_be_followed %>/>被人关注</label>
      <label><input class="noBorder" type="checkbox" name='user[mail_new_answer]' <%= 'checked="checked"' if resource.mail_new_answer %>/>关注的题有新解答</label>
      <label><input class="noBorder" type="checkbox" name='user[mail_invite_to_ask]' <%= 'checked="checked"' if resource.mail_invite_to_ask %>/>有人邀请我解答题</label>
      <label><input class="noBorder" type="checkbox" name='user[mail_ask_me]' <%= 'checked="checked"' if resource.mail_ask_me %>/>有人向我提问</label>
      <div class="clearfix"></div>
      <div class="btnNormalGreen" onclick="$('#form_2').submit()"><span>&nbsp;保 存&nbsp;</span></div>
    <% end %>



  </section>
<% else %>
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :enctype =>  "multipart/form-data", :id => 'form_1' }) do |f| %>
    <%= render "shared/error_messages", :target => resource %> 
    <!-- 这是基本资料修改 -->
    <section class="setupProfile clearfix">
      <dl>
        <dt>
        <div class="row string required">
          <label class="string required" for="user_name">昵称：<br> </label>
          <input class="string required" id="user_name" maxlength="12" name="user[name]" required="required" size="220" value="<%= resource.name %>" onchange="checklen(this,12)" type="text">
          <span id="user_name_tno" style="display:none;"></span>
          <mark class="fc999">
            <% if resource.name_last_changed_at %>
              <%= "一月只可以修改一次。最多6个汉字#{'(下次可修改日期：'+(resource.name_last_changed_at+1.months).getlocal.strftime("%Y年%m月%d日")+')'}。" %>
            <% else %>
              <%= "一月只可以修改一次。最多6个汉字。" %>
            <% end %>

            <img src="/transparent.png" class="questionLogo" title="Kejian.TV是一个问答社区，为了使大家更好的沟通，我们不提倡频繁的修改昵称">
          </mark>
        </div>
        </dt>

        <dt>用户名：<span class="fc999 hide" >http://kejian.tv/</span></dt>
        <dd>http://kejian.tv/<input type="text" value="<%=resource.slug%>" size="220" required="required" name="user[slug]" maxlength="20" id="user_slug" class="string required" /></dd>
        <dt>修改头像：</dt>
        <dd>
          <%= user_avatar_tag(resource,:normal,nil,true) %><br />
          <div id="file_wrapper">
            <div id="file_faker">
              <input id="file_uploader_text" type="text" />
              <div id="file_btn" class="btnNormalGreen">
                <span>浏 览</span>
              </div>
              <!-- 隐藏真正的上传 -->
            </div>
            <input class="file" id="file_uploader" name="user[avatar]" type="file" onchange="checkImg_edit($('#form_1 #file_uploader'))" />
          </div>
          <p class="fc999 hint">支持 jpg, gif, png 格式的图片，不要超过 2MB。建议图片尺寸大于 100×100。</p>
        </dd>
        <dt>博客或微博地址：</dt>
        <dd><input type="url" class="long" name="user[website]" value="<%=resource.website%>" placeholder="http://"/></dd>
        <dt>用一句话介绍下自己吧：</dt>
        <dd><input type="text" maxlength="40" class="long" name="user[tagline]" id="user_editing_tagline" value="<%=resource.tagline%>" onchange="checklen(this,40)" placeholder="如：工作经历、擅长领域" /><span id="user_editing_tagline_tno" style="display:none;"></span></dd>
        <dt>个人经历：</dt>
        <dd><textarea type="text" id="edit_user_bio" name="user[bio]" value="<%=resource.bio%>" class="richeditor" style="width:435px;height:100px"></textarea></dd>
        <dt><div class="btnNormalGreen" id="submit_form_1_btn" onclick="submit_form_1();"><span>&nbsp;保 存&nbsp;</span></div></dt>
      </dl>
    </section>
  <% end %>
<% end %>

<script type="text/javascript">
  function submit_form_1(){
    if(($("#user_slug_err").attr("id") && $("#user_slug_err").html()!="") || ($("#user_name_err").attr("id") && $("#user_name_err").html()!="") || ($("#form_1 .hint span").length!=0)){
      return false;
    }else{
      $('#form_1').submit();
    }
  }
  function checkImg_edit(fileObj){
    var agent=window.navigator.userAgent;
    var hint = $("#form_1 .hint");
    hint.html("支持 jpg, gif, png 格式的图片，不要超过 2MB。建议图片尺寸大于100 X 100。");
    if (fileObj.val() == ""){
      return false;
    } else if(!fileObj.val().match(/.jpeg|.jpg|.gif|.png/i)){
      hint.html(hint.html().replace("支持 jpg, gif, png 格式的图片","<span style=\"color:red\">支持jpg, gif, png 格式的图片</span>"));
    } else {
      if(agent.indexOf("Firefox")!=-1){//firefox
        var imgSize = (fileObj[0].files)?fileObj[0].files.item(0).size:0;
      }else if(agent.indexOf("MSIE")!=-1){
        var image = new Image();
        image.src = fileObj[0].value;
        var imgSize = image.fileSize;
      }else{
        var imgSize = (fileObj[0].files)?fileObj[0].files.item(0).fileSize:0;
      }     
      if (imgSize > 2048000){
        hint.html(hint.html().replace("不要超过 2MB","<span style=\"color:red\">不要超过 2MB</span>"));
      }
    }
  }
</script>

