<% content_for :armpit do %>
  <%= stylesheet_link_tag "__lnk_reg", :media => "all" %>
  <%= stylesheet_link_tag "ktv/__zm", :media => "all" %>
  <%= stylesheet_link_tag "ktv/__zm_reg", :media => "all" %>
<% end %>
<% content_for :butt2 do %>
KTV.lnreg_targetize();
window.check_check_check = function(){
  now_checked=$('.buttcheck:checked').length;
  if($('.buttcheck:checked').length==$('.buttcheck').length){
    $('#select-all-pymk').attr('checked', 'checked');
  }else{
    $('#select-all-pymk').removeAttr('checked');
  }
  if(0==now_checked){
    $('#submit_btn_ass').attr('disabled','disabled');
  }else{
    $('#submit_btn_ass').removeAttr('disabled');
  }
  $('#regged_count').html(now_checked.toString());
  $('.number-selected').show();
};
window.check_check_check();
$('#select-all-pymk').change(function(){
  $('.buttcheck').attr('checked', this.checked);
  window.check_check_check();
});
$('.buttcheck').change(function(){
  window.check_check_check();
});
$('#submit_btn_ass').click(function(){
  uids=[];
  $('#submit_btn_ass').attr('disabled','disabled');
  showloading('block','请稍候...');
  $('.buttcheck:checked').each(function(index,value){
    uids.push($(value).attr('name').split('person_')[1]);
  });
  $.post("/ajax/users_follow",{q:uids.join(",")}, function(res){
    window.location.href='/register05?force_053=1';
  });
  return false;
});
<% end %>



<div class="wrapper" style="width:838px">
<div class="__lnk" id="lnreg_target" style="position:absolute;z-index:222;margin-top:158px;width:838px;overflow:hidden;height:448px;background:white">
<div class="en member v2 guest chrome-v4 background-v4 sticky-bg basic-member js ">
<div id="body" style="border:none">
		<div id="global-error">
		</div>
		<div id="main" class="connect-webmail-contacts" style="background:white;width:804px">
			<div class="progress-container">
				<h1><%=Setting.ktv_subname%>课件交流系统上有您的朋友</h1>
				<p class="progress">
					<span class="summary">步骤 <strong>1</strong> / <strong>2</strong></span>
					<span class="progress-meter" title="50% Complete"><span class="has-progress" style="width:50%"></span></span>
				</p>
			</div>
			<div id="register-global-error">
			</div>
      <h2>我们发现您的 <%=@regged.count%> 个朋友已经加入了<%=Setting.ktv_subname%>课件交流系统. 请选中要建立联络的朋友.</h2>
			<form action="/reg/webmail-connect-create" method="POST" name="aBookConnectForm" novalidate="novalidate" class="connections" id="yui-gen1">
				<div style="margin:0;padding:0;display:inline">
					<input name="utf8" type="hidden" value="✓">
					<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
				</div>
				<div class="header">
					<p class="select-all">
						<input type="checkbox" value="all" id="select-all-pymk" checked="">
						<label for="select-all-pymk">选择全部</label>
					</p>
					<p class="number-selected" style="display:none">
          <span class="total" id="regged_count"></span> 已选中
					</p>
				</div>
				<div class="connect-friends no-long-form" style="width:802px">
					<div class="grid" style="height: 284px; ">
            <% 0.upto(@regged.count / 2) do |double_i| %>
						<div class="row ">
              <% 0.upto(1) do |j| %>
                <% item = @regged[double_i*2+j] %>
                <% if item %>
                  <div class="person-ymk checked">
                    <input type="checkbox" class="buttcheck" name="person_<%=item.uid%>" value="3" id="person_<%=item.uid%>" checked="checked">
                    <img src="<%=avatar_url(item,:small)%>" class="photo" width="48" height="48" alt="<%item.name_beautified%>" style="padding:3px 2px">
                    <div class="details">
                      <h3 class="fn n">
                      <label for="person_<%=item.uid%>">
                        <%=item.name_beautified %>
                      </label>
                      </h3>
                      <p class="title">
                        <%=item.tagline %>
                      </p>
                    </div>
                  </div>
                <% end %>
              <% end %>
						</div>
            <% end %>
					</div>
				</div>
				<p class="actions">
					<input class="btn-primary" disabled="disabled" name="submit" type="submit" value="与他(她)们建立联络" id="submit_btn_ass" style="font-size:13px;padding:5px 10px 4px">
					<span class="alternate" style="line-height:35px">
					或者 <a href="/register05?force_053=1">跳过这一步</a> » </span>
				</p>
			</form>
		</div>
</div>  
</div>  
</div>
</div>
<div class="__zm">
	<div id="reg-header" class="wide">
	</div>
	<div id="content" class="newreg wide" style="padding-top:6px;margin-bottom:22px">
    <div style="width:840px;height:51px;background:url(<%=asset_path 'zm/r11839/images/reg/bad_tiao2.png' %>)">
		</div>
		<div style="width:838px;border: 1px solid #D6D6D6;border-top: none;height:464px;" id="content_reg05">
		</div>
	</div>
	<div class="totop" id="backtotop" style="display: none;">
		<a href="javascript:void(0);">返回 </a>< /div>
		<div id="loginLayout">
		</div>
	</div>
</div>

