<% content_for :armpit do %>
  <%= stylesheet_link_tag "ktv/__zm", :media => "all" %>
  <%= stylesheet_link_tag "ktv/__zm_reg", :media => "all" %>
  <%= stylesheet_link_tag "qua_f791fcfc8935e1ad.css", :media => "all" %>
  <%= stylesheet_link_tag "qua_06b596594fbe5bcf.css", :media => "all" %>
  <!--[if IE]><%= stylesheet_link_tag "qua_7d84bd7ff4616c9b.css", :media => "all" %><![endif]-->
  <style type="text/css" media="screen">
  .__q .interests-selector .topic-col, .__q .people_suggestions_grid .topic-col{
  width:138px
  }

  .__q .w2_5{
  width:250px;
  }
  .__q .nux-flow .section h1{
    font-weight:normal
  }
  </style>
<% end %>
<script>
<% content_for :butt2 do %>
KTV.q_targetize();
window.working_cnt = 0;
window.huanyihuan = function(res,fid){
  showloading('block','请求中...');
  current_page = parseInt(jQuery('#'+res+'_'+fid+'_huanyihuan').data('current_page'));
  $.getJSON('/ajax/register_huanyihuan',{res:res,fid:fid,page:current_page+1},function(data){
    jQuery('#'+res+'_'+fid+'_huanyihuan').html(data['html']);
    window.psvr_bind_action();
  }).complete(function() { 
    showloading('none');
  });
  jQuery('#'+res+'_'+fid+'_huanyihuan').data('current_page',current_page+1);
};
window.working_what = function(){
  if(0==working_cnt){
    showloading('none');
  }else{
    showloading('block','保存中...');
  }
};
window.suc_cnt = 0;
window.suc_what = function(){
  if(0==suc_cnt){
    $('#psvr_qing0').show();
    $('#psvr_qing1').hide();
  }else{
    $('#psvr_qing0').hide();
    $('#psvr_qing1').show();
  }
  if(suc_cnt >= 5 ){
    $('.psvr_ld_0KNM7J_7115').hide();
    $('.psvr_ld_0KNM7J_71152').show();
  }else{
    $('.psvr_ld_0KNM7J_7115').show();
    $('.psvr_ld_0KNM7J_71152').hide();
    $('.psvr_shengyu').html((5 - suc_cnt).toString());
  }
};
window.suc_what();
$('#__w2_gS18dBt_nux_step_wrapper').click(function(e){
  window.location.href="/register05";
  return false;
});
window.psvr_bind_action = function(){
  $('.related-topic-list-item').click(function(e){
    id = $(this).data('id');
    res = $(this).data('res');
    checkbox = $('.psvr_checkbox',this);
    if(!checkbox.is(':checked')){
      if(!$(e.target).hasClass('psvr_checkbox')){
        checkbox.attr('checked','checked');
      }
      working_cnt += 1;
      window.working_what();
      $.get("/"+res+"/"+id+"/follow",{}, function(data){
        window.suc_cnt+=1;
        window.suc_what();
        if('teachers'==res){
          already = parseInt(jQuery('#teacher_gonna_'+id).html());
          already += 1;
          jQuery('#teacher_gonna_'+id).html(already);
        }
      }).complete(function() { 
        working_cnt -= 1;
        window.working_what();
      });
    }else{
      if(!$(e.target).hasClass('psvr_checkbox')){
        checkbox.removeAttr('checked');
      }
      working_cnt += 1;
      window.working_what();
      $.get("/"+res+"/"+id+"/unfollow",{}, function(data){
        window.suc_cnt-=1;
        window.suc_what();
        if('teachers'==res){
          already = parseInt(jQuery('#teacher_gonna_'+id).html());
          already -= 1;
          jQuery('#teacher_gonna_'+id).html(already);
        }
      }).complete(function() { 
        working_cnt -= 1;
        window.working_what();
      });
    }
    if($(e.target).hasClass('psvr_checkbox')){
      return true;
    }
    return false;
  });
};
window.psvr_bind_action();
<% end %>
</script>
<div class="wrapper" style="width:838px">
<div id="q_target" class="__q" style="position:absolute;z-index:222;overflow:hidden;margin-top:142px;">


  <div id="ld_Dx6b9v_951">
  	<div id="__w2_s59mhCl_pmsg_container" class=" pmsg_container main wrapper hidden">
  	</div>
  	<div class=" main wrapper">
  		<div class="welcome_main contents content main_content" style="width:818px;padding:0 10px">
  			<div id="__w2_T45TbL0_content">
  				<div class="row nux-flow " style="padding-bottom:0">
  					<div id="__w2_E7xbdla_nux_steps" class=" row nux-steps">
  						<div style="width:50%" class="nux-step-line">
  						</div>
  						<div id="__w2_E7xbdla_nux_interests_step" style="width:50%" class="single-step">
  							<div id="__w2_gS18dBt_nux_step_wrapper" class="nux-step-wrapper clickable">
  								<div id="__w2_gS18dBt_nux_step_number" class="number">
  									1
  								</div>
  								<h2 id="__w2_gS18dBt_nux_step_title" class="text">选择感兴趣的院系</h2>
  							</div>
  						</div>
  						<div id="__w2_E7xbdla_nux_topics_step" style="width:50%" class="single-step">
  							<div id="__w2_bESnGep_nux_step_wrapper" class="nux-step-wrapper curr">
  								<div id="__w2_bESnGep_nux_step_number" class="number">
  									2
  								</div>
  								<h2 id="__w2_bESnGep_nux_step_title" class="curr-text">关注相关老师或课程</h2>
  							</div>
  						</div>
  					</div>
  					<div id="__w2_OBGwKPv_topics_wrapper" class="nux-step-1" style="display: block;">
  						<div id="ld_9TAUbn_32360" style="">
  							<div id="__w2_sxYoK37_topics" class=" topics-step">
  								<div class="section w8" style="width:818px">
  									<div style="text-align: center;">
  										<h1 style="margin-bottom: 0px;">最后一步啦! 根据刚才您刚才选择的院系，我们为您推荐以下老师与课程</h1>
  										<div>
                        <h1 id="psvr_qing0">请关注至少 5 个老师或课程</h1>
  											<div id="psvr_qing1" style="text-align: center; margin-top: 15px; display: none;" class="form_buttons">
  												<div id="ld_pASXf4_10925">
                            <div class="psvr_ld_0KNM7J_71152" style="display:none"><a href="/register05?checkpoint=1" class="psvr_finalebtn submit_button">保存并完成注册&nbsp;→</a></div>
  													<p class="psvr_ld_0KNM7J_7115  br3 unbutton">
                            请再关注 <span class="psvr_shengyu"></span> 个老师或课程
  													</p>
  												</div>
  											</div>
  										</div>
  									</div>
  								</div>
  								<div class="col relative">
  									<div class="e_col w8" style="width:818px">
                      <% @departments.each do |dpt| %>
    										<div style="margin-left:62px;margin-right:0;" class=" topic-suggestions">
    											<div>
    												<h2>
    												<div class="feed_item_photo">
    													<div id="ld_pASXf4_10929">
                                <img width="50" height="50" alt="Books" src="<%=cover_url dpt,:mid%>" class="profile_photo_img">
    													</div>
    												</div>
                            <%=dpt.name%>老师推荐<span class="__zm" style="margin:4px 10px 0 0;background:transparent;float:right"><a href="javascript:void(0)" onclick="huanyihuan('teachers','<%=dpt.fid%>')" class="rotationbody" id="zhimei_star_refresh"><span class="iconbg refresh-ico rotation"></span>&nbsp;换一换</a></span></h2>
    												<div id="ld_pASXf4_10930">
                              <div class=" related-topic-suggestions w3_5" id="teachers_<%=dpt.fid%>_huanyihuan" data-current_page="1">
                                <%= render :partial=>'teachers_huanyihuan',:locals=>{:fid=>dpt.fid,:page=>1}%>
    													</div>
    												</div>
    											</div>
    										</div>
    										<div style="" class=" topic-suggestions">
    											<div>
    												<h2><%=dpt.name%>课程推荐<span class="__zm" style="margin:4px 10px 0 0;background:transparent;float:right"><a href="javascript:void(0)" onclick="huanyihuan('courses','<%=dpt.fid%>')" class="rotationbody" id="zhimei_star_refresh"><span class="iconbg refresh-ico rotation"></span>&nbsp;换一换</a></span></h2>
    												<div id="ld_pASXf4_10932">
    													<div class=" related-topic-suggestions w3_5" id="courses_<%=dpt.fid%>_huanyihuan" data-current_page="1">
                                <%= render :partial=>'courses_huanyihuan',:locals=>{:fid=>dpt.fid,:page=>1}%>
    													</div>
    												</div>
    											</div>
    										</div>
                      <% end %>
  									</div>
  								</div>
  								<div class="section w8" style="width:818px">
  									<div class="form_buttons">
  										<div id="ld_pASXf4_10926">
                          <div class="psvr_ld_0KNM7J_71152" style="display:none"><a href="/register05?checkpoint=1" class="psvr_finalebtn submit_button">保存并完成注册&nbsp;→</a></div>
  											<p id="__w2_LWhqGx8_unbutton" class="psvr_ld_0KNM7J_7115 br3 unbutton">
                            请再关注 <span class="psvr_shengyu"></span> 个老师或课程
  											</p>
  										</div>
  									</div>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>

</div>
</div>
<div class="__zm">
<div id="reg-header" class="wide">
</div>
<div id="content" class="newreg wide" style="padding-top:6px;margin-bottom:22px">
  <div style="width:840px;height:51px;background:url(<%=asset_path 'zm/r11839/images/reg/bad_tiao3.png' %>)">
  </div>
  <div style="width:838px;border: 1px solid #D6D6D6;border-top: none;height:1888px;" id="content_reg05">
  </div>
</div>
<div class="totop" id="backtotop" style="display: none;">
  <a href="javascript:void(0);">返回 </a > < /div>
<div id="loginLayout">
</div>

</div>
