<% content_for :armpit do %>
  <%= stylesheet_link_tag "ktv/__zm", :media => "all" %>
  <%= stylesheet_link_tag "ktv/__zm_reg", :media => "all" %>
<% end %>
<%content_for :body_style do%> overflow-x:hidden <%end%>
<% content_for :butt2 do %>
$('#pic_reg_extent_suc').animate({'margin-top':0}, {duration: 888, queue:false, easing: 'easeOutBounce', complete:function(){
  $('#reg_suc1').css({opacity:0,display:'block'});
  $('#reg_suc2').css({opacity:0,display:'block'});
  $('#reg_suc3').css({opacity:0,display:'block'});
  $('#reg_suc1').animate({'opacity':1}, {duration: 444, queue:false, easing: 'swing', complete:function(){
    $('#reg_suc2').animate({'opacity':1}, {duration: 444, queue:false, easing: 'swing', complete:function(){
      $('#reg_suc3').animate({'opacity':1}, {duration: 444, queue:false, easing: 'swing', complete:function(){
        //all done.
      }})
    }})
  }})
}});
<% end %>
<div style="width:698px;margin:0 auto;overflow:hidden">
  <div id="pic_reg_extent_suc" style="margin-top:-634px;width:698px;height:634px;background: transparent url(<%= asset_path('reg_extent_suc.png') %>) no-repeat scroll top left;text-indent:-9999em">YeeHaww! 注册完成! 立即体验一下给力功能吧！</div>
</div>

<div style="width:1245px;margin:0 auto;">
  <a id="reg_suc1" href="/coursewares/new" style="display:none;width:415px;height:303px;position:absolute;margin-left:0;background: transparent url(<%= asset_path('reg_suc1.png') %>) no-repeat scroll top left;text-indent:-9999em;">上传课件获取积分</a>
  <a id="reg_suc2" href="/courses" style="display:none;width:415px;height:303px;position:absolute;margin-left:415px;background: transparent url(<%= asset_path('reg_suc2.png') %>) no-repeat scroll top left;text-indent:-9999em;">浏览课程下载课件</a>
  <a id="reg_suc3" href="/search" style="display:none;width:415px;height:303px;position:absolute;margin-left:830px;background: transparent url(<%= asset_path('reg_suc3.png') %>) no-repeat scroll top left;text-indent:-9999em;">搜索全站课件资源</a>
</div>
