<% coursewares.each_with_index do |cw,index|  %>
<% unless cw.status !=0 or !cw.check_upyun_result or (current_user.present? and current_user.id != cw.uploader_id and cw.privacy == 2) or current_user.blank?%>
<li data-kejian-id="<%= cw.id %>" class="playlist-bar-item yt-uix-slider-slide-unit <% if false and (cw.status !=0 or !cw.check_upyun_result) %>playlist-bar-item-unviewable<% end %> playlist-bar-drag-source">
	<a class="yt-uix-sessionlink" title="<% if cw.status !=0 or !cw.check_upyun_result or (current_user.present? and current_user.id != cw.uploader_id and cw.privacy == 2) %>无法阅读的课件<% else %><%= cw.title %><% end %>" href="/coursewares/<%= cw.id %>?reading=<%= playlist_id %>&bar_max=1">
		<span class="video-thumb ux-thumb yt-thumb-default-106">
			<span class="yt-thumb-clip">
				<span class="yt-thumb-clip-inner">
					<% if cw.status !=0 or !cw.check_upyun_result %>
					<img width="106" alt="无法阅读的课件" src="<%=asset_path('yt/img/meh_mini-unreadable.png')%>">
					<% else %>
					<img width="106" alt="<%= cw.title %>" src="<%= asset_url("cw/#{cw.ktvid}/#{cw.revision}thumb_slide_0.jpg") %>">
					<% end %>
					<span class="yt-valign-trick"></span>
				</span>
			</span>
		</span>
		<span class="screen"></span>
		<span class="count"><strong><%= index+1 %></strong></span>
		<span class="play">
			<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
		</span>
		<span class="yt-uix-button yt-uix-button-default delete">
			<img alt="删除" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon-playlist-bar-delete">
		</span>
		<%if false%><span class="now-playing">正在阅读</span><%end%>
		<span class="title" dir="ltr">
			<span><% if cw.status !=0 or !cw.check_upyun_result %>无法阅读的课件 <span class="uploader">创建者：<%= name_beautify User.get_name(cw.uploader_id) %></span>
				<% else %>
				<%= cw.title %>
				<span class="uploader">创建者：<%= name_beautify User.get_name(cw.uploader_id) %></span>
				<% end %>
			</span>
		</span>
		<span class="dragger"></span>
	</a>
</li>
<% end %>
<% end %>