<div id="chart" class="bm bw0 cl">
  <p class="chart z">今日: <em><%= @coursewares1.count >0 ? @coursewares1.count : 0 %></em><span class="pipe">|</span>昨日: <em><%= @cwyesterday > 0 ? @cwyesterday : 0 %></em><span class="pipe">|</span>课件: <em><%= @cw > 0 ? @cw : 0 %></em><span class="pipe">|</span>会员: <em><%= @users > 0 ? @users : 0 %> </em><% if !@newuser.nil? %><span class="pipe">|</span><%=kaixue_msg%>, 欢迎新会员: <em><a href="home.php?mod=space&amp;username=<%= @newuser.username %>" target="_blank" class="xi2"><%= @newuser.username  %></a></em><% end %></p>
  <div class="y">
    <a href="/simple/forum.php?mod=guide&amp;view=my" title="我的课件" class="xi2">我的课件</a><span class="pipe">|</span><a href="/simple/forum.php?mod=guide&amp;view=new" title="最新课件" class="xi2">查看新课件</a><span class="pipe">|</span><a href="/simple/forum.php?mod=misc&action=nav" class="psvr_login_required xi2" onclick="showWindow('nav', this.href, 'get', 0)">上传课件</a></div>
</div>

