<div class="home-page __skp">
    <div id="notify-container"></div>
    <div id="overlay-header"></div>
    <div id="custom-header"></div>

    <div class="container">
        <div id="header">
            <div id="hmenus">
                <div class="nav mainnavs">
                    <ul style="float:left">
                      <li><a id="nav-subname" href="http://<%= Setting.ktv_subdomain %>"><%= Setting.ktv_subname %>课件交流系统</a></li>
                    </ul>
                    <ul>
                        <li class="<%= 'youarehere' if WelcomeController==controller.class %>"><a id="nav-questions" href="/">我的首页</a></li>
                        <li class="<%= 'youarehere' if CoursesController==controller.class || DepartmentsController==controller.class %>"><a id="nav-unanswered" href="/courses">课程目录</a></li>
                        <li class="<%= 'youarehere' if TeachersController==controller.class %>" style="display:none"><a id="nav-users" href="/teachers">全部老师</a></li>
                        <li class="<%= 'youarehere' if UsersController==controller.class %>" style="display:none"><a id="nav-users" href="/users">我的同学</a></li>
                        <li class="<%= 'youarehere' if @we_are_inside_qa %>" style="display:none"><a id="nav-tags" href="<%= for_help_path %>">求助区</a></li>
                    </ul>
                </div>
            </div>
        </div>

        



        <div id="content" style="<%= defined?(skp_content_style) ? skp_content_style : '' %>">
