      </div>
  </div>
  <div id="footer">
          <div class="footerwrap">
              <div id="footer-menu">
                <a onclick="setHomepage('http://<%=Setting.ktv_sub%>.kejian.tv/');" href="javascript:;">设为首页</a> |
                <a onclick="addFavorite(this.href, '<%= Setting.ktv_subname %>课件交流系统');return false;" href="http://<%=Setting.ktv_sub%>.kejian.tv/" >收藏本站</a> |
                <a href="/simple/misc.php?mod=stat">站点统计</a> |
                <a onclick="showWindow('miscreport', 'misc.php?mod=report&url='+REPORTURL);return false;" href="javascript:;">举报本页</a> |
                <a href="/welcome/shuffle">手气不错</a> |
                <a href="/simple/archiver/" target="_blank">简明版</a> |    
                <a href="/simple/admin.php" target="_blank">后台管理</a> | 
                <b><a href="/"><%= Setting.ktv_subname %>课件交流系统</a></b> | 
                <b><a href="http://<%= Setting.ktv_domain %>" target="_blank">返回主站</a></b>

                  <div id="footer-sites">

<span style="color:rgb(1, 90, 146);font-size:140%">■</span>&nbsp;<a href="http://ibeike.kejian.tv" target="_blank">北京科技大学</a>&nbsp;
<span style="color:rgb(15,49,146);font-size:140%">■</span>&nbsp;<a href="http://cnu.kejian.tv" target="_blank">首都师范大学</a>&nbsp;
<span style="color:rgb(1, 90, 146);font-size:140%">■</span>&nbsp;<a href="http://buaa.kejian.tv" target="_blank">北京航空航天大学</a>&nbsp;
<span style="color:rgb(174, 12, 42);font-size:140%">■</span>&nbsp;<a href="http://ruc.kejian.tv" target="_blank">中国人民大学</a>&nbsp;
<span style="color:rgb(148, 7, 10);font-size:140%">■</span>&nbsp;<a href="http://sdu.kejian.tv" target="_blank">山东大学</a>&nbsp;
<span style="color:rgb(31, 26, 23);font-size:140%">■</span>&nbsp;<a href="http://hit.kejian.tv" target="_blank">哈尔滨工业大学</a>&nbsp;
<span style="color:rgb(41, 57, 43);font-size:140%">■</span>&nbsp;<a href="http://whu.kejian.tv" target="_blank">武汉大学</a>&nbsp;
<span style="color:rgb(255,255,255);font-size:140%">■</span>&nbsp;<a href="http://scnu.kejian.tv" target="_blank">华南师范大学</a>&nbsp;
<span style="color:rgb(1, 59, 141);font-size:140%">■</span>&nbsp;<a href="http://swjtu.kejian.tv" target="_blank">西南交通大学</a>&nbsp;
<span style="color:rgb(23, 152, 242);font-size:140%">■</span>&nbsp;<a href="http://lzu.kejian.tv" target="_blank">兰州大学</a>&nbsp;
<span style="color:rgb(60, 16, 129);font-size:140%">■</span>&nbsp;<a href="http://nctu.kejian.tv" target="_blank">国立交通大学</a>&nbsp;
<span style="color:rgb(153,51,51);font-size:140%">■</span>&nbsp;<a href="http://mit.kejian.tv" target="_blank">麻省理工学院</a>&nbsp;
<span style="color:rgb(32, 27, 23);font-size:140%">■</span>&nbsp;<a href="http://bfa.kejian.tv" target="_blank">北京电影学院</a>&nbsp;
<span style="color:rgb(202, 201, 242);font-size:140%">■</span>&nbsp;<a href="http://history.kejian.tv" target="_blank">历史学</a>&nbsp;
<span style="color:rgb(15, 53, 89);font-size:140%">■</span>&nbsp;<a href="http://math.kejian.tv" target="_blank">数学</a>&nbsp;
<span style="color:rgb(48, 96, 129);font-size:140%">■</span>&nbsp;<a href="http://cs.kejian.tv" target="_blank">计算机科学</a>&nbsp;
<span style="color:rgb(0, 0, 0);font-size:140%">□</span>&nbsp;<a href="http://zhongxue.kejian.tv" target="_blank">中学课件</a>&nbsp;
<span style="color:rgb(0, 0, 0);font-size:140%">□</span>&nbsp;<a href="http://books.kejian.tv" target="_blank">发现·书</a>&nbsp;
                  </div>
              </div>
              <div id="footer-flair">
                  <a href="http://www.peer1.com/stackoverflow" class="peer1"></a>  
  	            <a class="cc-wiki-link" href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank"></a>
                  <div id="svnrev">rev 2012.9.20.4150</div>
                          </div>
              <div id="copyright">
    版权所有 <span title="Web-22-32-165">&copy;</span> <%=Time.now.year%> <%= Setting.ktv_sub.upcase %>.Kejian.TV <%= Setting.ktv_subname %>课件交流系统, 课件著作权为原作者所有. <a style="text-decoration:none" href="http://www.miibeian.gov.cn" target=“_blank">京ICP备12043859号</a>.
              </div>


          </div>
      </div>
</div>
