<% content_for :body_style do %>
background: #fdfdfd url(<%= asset_path 'sstatic/skeptics/img/grid_noise_dark.png' %>) repeat left top;
<%end %>
<div class="home-page __skp">
    <div id="notify-container"></div>
    <div id="overlay-header"></div>
    <div id="custom-header"></div>

    <div class="container">
        <div id="header">
            <div id="hmenus">
                <div class="nav mainnavs">
                    <ul style="float:left">
                      <li><a id="nav-subname" href="http://<%= Setting.ktv_subdomain %>"><%= Setting.ktv_subname %>课件交流系统</a></li>
                    </ul>
                    <ul>
                        <li class="<%= 'youarehere' if WelcomeController==controller.class %>"><a id="nav-questions" href="/">全部课件</a></li>
                        <li class="<%= 'youarehere' if PlayListsController==controller.class %>"><a id="nav-questions" href="/play_lists">播放列表</a></li>
                        <li class="<%= 'youarehere' if CoursesController==controller.class || DepartmentsController==controller.class %>"><a id="nav-unanswered" href="/courses">课程目录</a></li>
                        <li class="<%= 'youarehere' if SearchController==controller.class || DepartmentsController==controller.class %>"><a id="nav-unanswered" href="/search">课件搜索</a></li>
                    </ul>
                </div>
            </div>
        </div>

        



        <div id="content" style="<%= defined?(skp_content_style) ? skp_content_style : '' %>">
