      </div>
  </div>
  <div id="footer">
          <div class="footerwrap">
              <div id="footer-menu">
                <a onclick="setHomepage('http://<%=Setting.ktv_sub%>.kejian.tv/');" href="javascript:;">设为首页</a> |
                <a onclick="addFavorite(this.href, '<%= Setting.ktv_subname %>课件交流系统');return false;" href="http://<%=Setting.ktv_sub%>.kejian.tv/" >收藏本站</a> |
                <a href="/simple/misc.php?mod=stat">站点统计</a> |
                <a onclick="showWindow('miscreport', 'simple/misc.php?mod=report&url='+REPORTURL);return false;" href="javascript:;">举报本页</a> |
                <a href="/welcome/shuffle">手气不错</a> |
                <a href="/simple/archiver/" target="_blank">简明版</a> |    
                <a href="/simple/admin.php" target="_blank">后台管理</a> | 
                <b><a href="/"><%= Setting.ktv_subname %>课件交流系统</a></b> | 
                <b><a href="http://<%= Setting.ktv_domain %>" target="_blank">返回主站</a></b>

                  <div id="footer-sites">
                          <span style="color:rgb(1, 90, 146);font-size:140%">■</span>&nbsp;<a href="http://iBeike.kejian.tv" target="_blank">iBeike.kejian.tv 北京科技大学</a>&nbsp; 
                          <span style="color:rgb(15,49,146);font-size:140%">■</span>&nbsp;<a href="http://CNU.kejian.tv" target="_blank">CNU.kejian.tv 首都师范大学</a>&nbsp; 
                  </div>
              </div>
              <div id="footer-flair">
                  <a href="http://www.peer1.com/stackoverflow" class="peer1"></a>  
  	            <a class="cc-wiki-link" href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank"></a>
                  <div id="svnrev">rev 2012.9.20.4150</div>
                          </div>
              <div id="copyright">
    版权所有 <span title="Web-22-32-165">&copy;</span> <%=Time.now.year%> <%= Setting.ktv_sub.upcase %>.Kejian.TV <%= Setting.ktv_subname %>课件交流系统, 课件著作权为原作者所有. <a style="text-decoration:none" href="http://www.miibeian.gov.cn" target=“_blank">京ICP备11046107号</a>.
              </div>


          </div>
      </div>
</div>
