      </div>
  </div>
  <div id="footer">
          <div class="footerwrap">
              <div id="footer-menu">
                <a onclick="setHomepage('http://<%=Setting.ktv_sub%>.kejian.tv/');" href="javascript:;">设为首页</a> |
                <a onclick="addFavorite(this.href, '<%= Setting.ktv_subname %>课件台');return false;" href="http://<%=Setting.ktv_sub%>.kejian.tv/" >收藏本站</a> |
                <a href="/welcome/shuffle">手气不错</a> |
                <a href="/simple/archiver/" target="_blank">简明版</a> |    
                <a href="/admin" target="_blank">后台管理</a> | 
                <b><a href="/"><%= Setting.ktv_subname %>课件台</a></b> | 
                <% if Setting.cooperation_site_url %>
                  <b><a href="<%=Setting.cooperation_site_url %>" target="_blank"><%=Setting.cooperation_site_name %></a></b> | 
                <% end %>
                <b><a href="http://<%= Setting.ktv_domain %>" target="_blank">返回主站</a></b>

                  <div id="footer-sites">
<span style="color:rgb(1, 90, 146);font-size:140%">■</span>&nbsp;<a href="http://ibeike.kejian.tv" target="_blank">北京科技大学</a>&nbsp;
<span style="color:#82318E;font-size:140%">■</span>&nbsp;<a href="http://tsinghua.kejian.tv" target="_blank">清华大学</a>&nbsp;
<span style="color:rgb(15,49,146);font-size:140%">■</span>&nbsp;<a href="http://cnu.kejian.tv" target="_blank">首都师范大学</a>&nbsp;
<span style="color:rgb(174, 12, 42);font-size:140%">■</span>&nbsp;<a href="http://ruc.kejian.tv" target="_blank">中国人民大学</a>&nbsp;
<span style="color:rgb(1, 90, 146);font-size:140%">■</span>&nbsp;<a href="http://buaa.kejian.tv" target="_blank">北京航空航天大学</a>&nbsp;
<span style="color:#0F3482;font-size:140%">■</span>&nbsp;<a href="http://cugb.kejian.tv" target="_blank">中国地质大学</a>&nbsp;
<span style="color:#62BD48;font-size:140%">■</span>&nbsp;<a href="http://blcu.kejian.tv" target="_blank">北京语言大学</a>&nbsp;
                  </div>
              </div>
              <div id="footer-flair">
                  <a href="http://www.peer1.com/stackoverflow" class="peer1"></a>  
  	            <a class="cc-wiki-link" href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank"></a>
                  <div id="svnrev">rev 2012.9.20.4150</div>
                          </div>
              <div id="copyright">
    版权所有 <span title="Web-22-32-165">&copy;</span> <%=Time.now.year%> <%= Setting.ktv_sub.upcase %>.Kejian.TV <%= Setting.ktv_subname %>课件台, 课件著作权为原作者所有. <a style="text-decoration:none" href="http://www.miibeian.gov.cn" target="_blank">京ICP备12043859号</a>.
              </div>


<% if @is_ie8 || @is_ie7 %>
<div id="ie_dibuyinying">&nbsp;</div>
<% end %>
          </div>
      </div>
</div>
