<% playlist = PlayList.find('50875ee29a8aa2060e00005c') %>
<div class="passive editable min" id="playlist-bar">
	<!-- data-list-type="QL" data-list-id="" data-video-url="/watch?v=&amp;feature=BFql&amp;playnext=1&amp;list=QL" -->
	<div id="playlist-bar-bar-container">
		<div id="playlist-bar-bar">
			<div id="playlist-bar-notifications" class="yt-alert yt-alert-naked yt-alert-success hid">
				<div class="yt-alert-icon">
					<img alt="提醒图标" class="icon master-sprite" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
				</div>
				<div role="alert" class="yt-alert-content">
				</div>
			</div>
			<span id="playlist-bar-info">
				<span class="playlist-bar-active playlist-bar-group">
						<button role="button" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" id="playlist-bar-prev-button" type="button" title="上一个课件" onclick=";return false;">
							<span id="playlist-bar-info">
								<span class="yt-uix-button-icon-wrapper">
									<img alt="上一个课件" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-prev">
									<span class="yt-valign-trick"></span>
								</span>
							</span>
						</button>
						<span class="playlist-bar-count">
							<span class="playing-index">0</span> / <span class="item-count">4</span>
						</span>
						<button role="button" id="playlist-bar-next-button" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button" data-tooltip-text="下一个课件">
							<span class="yt-uix-button-icon-wrapper">
								<img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-next">
								<span class="yt-valign-trick"></span>
							</span>
						</button>
				</span>
				<span class="playlist-bar-active playlist-bar-group">
					<button role="button" data-button-toggle="true" id="playlist-bar-autoplay-button" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button" data-tooltip-text="打开自动阅读">
							<span class="yt-uix-button-icon-wrapper">
								<img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-autoplay">
								<span class="yt-valign-trick"></span>								
							</span>
					</button>
					<button role="button" data-button-toggle="true" id="playlist-bar-shuffle-button" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button" data-tooltip-text="打开随机阅读">
						<span class="yt-uix-button-icon-wrapper">
							<img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-shuffle">
							<span class="yt-valign-trick"></span>								
						</span>
					</button>
				</span>
				<span class="playlist-bar-passive playlist-bar-group">
					<button role="button" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" id="playlist-bar-play-button" type="button" title="阅读课件" onclick=";return false;" data-tooltip-text="阅读课件">
							<span class="yt-uix-button-icon-wrapper">
								<img alt="阅读课件" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-play">
								<span class="yt-valign-trick"></span>
						</span>
					</button>
					<span class="playlist-bar-count">
						<span class="item-count">4</span>
					</span>
				</span>
				<span class="yt-uix-button-group" id="playlist-bar-title">
						<button role="button" class="yt-uix-tooltip yt-uix-tooltip-masked start playlist-title yt-uix-button yt-uix-button-default yt-uix-tooltip" type="button" title="关于此课件锦囊的详情" onclick=";window.location.href=this.getAttribute('href');return false;" href="/playlist?list=PLU8P_aKcvc6dboIXEKcGeRMirE3sY4Eth" data-tooltip-text="关于此课件锦囊的详情">
							<span class="yt-uix-button-content">ke</span>
						</button>
						<button role="button" onclick=";window.location.href=this.getAttribute('href');return false;" class="yt-uix-tooltip yt-uix-tooltip-masked end yt-uix-button yt-uix-button-default" type="button" href="/user/pmq20?feature=BF">
							<span class="yt-uix-button-content">
								<a class="yt-user-photo" href="/user/pmq20">
									<span class="video-thumb ux-thumb yt-thumb-square-23" >
										<span class="yt-thumb-clip">
											<span class="yt-thumb-clip-inner">
												<img width="23px" alt="<%= current_user.name_beautified %>" src="<%=dz_avatar_url(current_user.uid,current_user.email,:small) %>">
												<span class="yt-valign-trick"></span>
											</span>
										</span>
									</span>
								</a>
								<span dir="ltr" class="yt-user-name" style="vertical-align: middle;"><%= current_user.name_beautified %></span>
							</span>
					</button>
				</span>
			</span>
			<a href="#" id="playlist-bar-lists-back" name="playlist-bar-lists-back">返回活动列表</a>
			<span id="playlist-bar-controls">
				<span class="playlist-bar-group">
					<button role="button" id="playlist-bar-toggle-button" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-text yt-uix-button-empty" type="button" data-tooltip-text="显示课件锦囊" title="显示课件锦囊">
						<span id="playlist-bar-controls">
							<span class="yt-uix-button-icon-wrapper">
								<img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-toggle">
								<span class="yt-valign-trick"></span>
							</span>
						</span>
					</button>
				</span>
				<span class="playlist-bar-group">
					<button role="button" data-button-has-sibling-menu="true" data-button-menu-id="playlist-bar-options-menu" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button-reverse flip yt-uix-button yt-uix-button-text" type="button">
							<span class="yt-uix-button-content">选项</span>
							<img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-arrow">
					</button>
				</span>
			</span>
		</div>
	</div>
	<div id="playlist-bar-tray-container">
		<div class="yt-uix-slider yt-uix-slider-fluid" id="playlist-bar-tray" data-slider-offset="0">
			<button onclick="return false;" class="yt-uix-button playlist-bar-tray-button yt-uix-button-default yt-uix-slider-prev">
				<img alt="上一个课件" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-slider-prev-arrow">
			</button>
			<button onclick="return false;" class="yt-uix-button playlist-bar-tray-button yt-uix-button-default yt-uix-slider-next">
				<img alt="下一个课件" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-slider-next-arrow">
			</button>
			<div class="yt-uix-slider-body">
				<div class="yt-uix-slider-slide" id="playlist-bar-tray-content" style="left: 0px;">
					<ol class="video-list">
						<li data-video-id="nsrsFkOClVg" class="playlist-bar-item yt-uix-slider-slide-unit <% if false %>playlist-bar-item-unviewable<% end %> playlist-bar-drag-source">
							<a data-sessionlink="ei=CPie39S9rbMCFVW3IQodKhZRHg%3D%3D&amp;feature=BFa" class="yt-uix-sessionlink" title="无法阅读的课件" href="/watch?v=nsrsFkOClVg&amp;feature=BFp&amp;list=PLU8P_aKcvc6dboIXEKcGeRMirE3sY4Eth">
								<span class="video-thumb ux-thumb yt-thumb-default-106">
									<span class="yt-thumb-clip">
										<span class="yt-thumb-clip-inner">
											<img width="106" data-thumb-manual="true" alt="无法阅读的课件" src="<%=asset_path('yt/img/meh_mini-unreadable.png')%>">
											<span class="yt-valign-trick"></span>
										</span>
									</span>
								</span>
								<span class="screen"></span>
								<span class="count"><strong>1</strong></span>
								<span class="play">
									<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
								</span>
								<span class="yt-uix-button yt-uix-button-default delete">
									<img alt="删除" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon-playlist-bar-delete">
								</span>
								<span class="now-playing">正在阅读</span>
								<span class="title" dir="ltr">
									<span>
										无法阅读的课件 <span class="uploader">创建者：Minqi Pan</span>
									</span>
								</span>
							</a>
						</li>
						<li data-video-id="eO4V45qp_jU" class="playlist-bar-item yt-uix-slider-slide-unit playlist-bar-drag-source">
							<a data-sessionlink="ei=CPie39S9rbMCFVW3IQodKhZRHg%3D%3D&amp;feature=BFa" class="yt-uix-sessionlink" title="中国科学技术大学数学分析（史济怀） sjh20030903 2" href="/watch?v=eO4V45qp_jU&amp;feature=BFp&amp;list=PLU8P_aKcvc6dboIXEKcGeRMirE3sY4Eth">
								<span class="video-thumb ux-thumb yt-thumb-default-106">
									<span class="yt-thumb-clip">
										<span class="yt-thumb-clip-inner">
											<img width="106" data-thumb-manual="true" alt="中国科学技术大学数学分析（史济怀） sjh20030903 2" src="<%=asset_path('yt/img/meh_mini-unreadable.png')%>">
											<span class="yt-valign-trick"></span>
										</span>
									</span>
								</span>
								<span class="count"><strong>2</strong></span>
								<span class="play">
									<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
								</span>
								<span class="yt-uix-button yt-uix-button-default delete">
									<img alt="删除" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon-playlist-bar-delete">
								</span>
								<span class="now-playing">正在阅读</span>
								<span class="title" dir="ltr">
									<span>中国科学技术大学数学分析（史济怀） sjh20030903 2 
										<span class="uploader">创建者：Minqi Pan</span>
									</span>
								</span>
							</a>
						</li>
						<li data-video-id="x3Z0PM1UNAQ" class="playlist-bar-item yt-uix-slider-slide-unit playlist-bar-drag-source">
							<a data-sessionlink="ei=CPie39S9rbMCFVW3IQodKhZRHg%3D%3D&amp;feature=BFa" class="yt-uix-sessionlink" title="中国科学技术大学数学分析（史济怀） sjh20030901" href="/watch?v=x3Z0PM1UNAQ&amp;feature=BFp&amp;list=PLU8P_aKcvc6dboIXEKcGeRMirE3sY4Eth">
								<span class="video-thumb ux-thumb yt-thumb-default-106">
									<span class="yt-thumb-clip">
										<span class="yt-thumb-clip-inner">
											<img width="106" data-thumb-manual="true" alt="中国科学技术大学数学分析（史济怀） sjh20030901" src="//i4.ytimg.com/vi/x3Z0PM1UNAQ/default.jpg">
										</span>
									</span>
								</span>
								<span class="count"><strong>3</strong></span>
								<span class="play">
									<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
								</span>
								<span class="yt-uix-button yt-uix-button-default delete">
									<img alt="删除" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon-playlist-bar-delete">
								</span>
								<span class="now-playing">正在阅读</span>
								<span class="title" dir="ltr">
									<span>中国科学技术大学数学分析（史济怀） sjh20030901 
										<span class="uploader">创建者：Minqi Pan</span>
									</span>
								</span>
							</a>
						</li>
						<li data-video-id="v2SlpjCz7uE" class="playlist-bar-item yt-uix-slider-slide-unit playlist-bar-drag-source">
							<a data-sessionlink="ei=CPie39S9rbMCFVW3IQodKhZRHg%3D%3D&amp;feature=BFa" class="yt-uix-sessionlink" title="地上の星 / 中島みゆき [公式]" href="/watch?v=v2SlpjCz7uE&amp;feature=BFp&amp;list=PLU8P_aKcvc6dboIXEKcGeRMirE3sY4Eth">
								<span class="video-thumb ux-thumb yt-thumb-default-106">
									<span class="yt-thumb-clip">
										<span class="yt-thumb-clip-inner">
											<img width="106" data-thumb="//i4.ytimg.com/vi/v2SlpjCz7uE/default.jpg" data-thumb-manual="true" alt="地上の星 / 中島みゆき [公式]" src="//i4.ytimg.com/vi/v2SlpjCz7uE/default.jpg">
										</span>
									</span>
								</span>
								<span class="count"><strong>4</strong></span>
								<span class="play">
									<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
								</span>
								<span class="yt-uix-button yt-uix-button-default delete">
									<img alt="删除" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon-playlist-bar-delete">
								</span>
								<span class="now-playing">正在阅读</span>
								<span class="title" dir="ltr">
									<span>地上の星 / 中島みゆき [公式] 
										<span class="uploader">创建者：miyukiofficial</span>
									</span>
								</span>
							</a>
						</li>
					</ol>
					<ol id="playlist-bar-help">
						<li class="empty playlist-bar-help-message">
							您的列表为空。请点击此按钮 
							<img class="addto-button-help" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"> 向列表添加课件或
							<a class="load-lists" href="/view_all_playlists">加载其他列表</a>。 
						</li>
					</ol>
				</div>
				<div class="yt-uix-slider-shade-left"></div>
				<div class="yt-uix-slider-shade-right"></div>
			</div>
		</div>
		<div id="playlist-bar-save"></div>
		<div class="dark-lolz" id="playlist-bar-lists"></div>
		<div id="playlist-bar-loading">
			<img alt="正在加载..." src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
			<span id="playlist-bar-loading-message">正在加载...</span>
			<span class="hid" id="playlist-bar-saving-message">正在保存...</span>
		</div>
		<div data-video-thumb-url="//i4.ytimg.com/vi/__video_encrypted_id__/default.jpg" style="display: none;" id="playlist-bar-template">
			<!-- <li class="playlist-bar-item yt-uix-slider-slide-unit __classes__" data-video-id="__video_encrypted_id__">
				<a href="__video_url__" title="__video_title__" class="yt-uix-sessionlink" data-sessionlink="ei=CPie39S9rbMCFVW3IQodKhZRHg%3D%3D&amp;feature=BFa">
					<span class="video-thumb ux-thumb yt-thumb-default-106 ">
						<span class="yt-thumb-clip">
							<span class="yt-thumb-clip-inner">
								<img src="http:<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="__video_title__" data-thumb-manual="true" data-thumb="__video_thumb_url__" width="106" ><span class="vertical-align">
								</span>
							</span>
						</span>
					</span>
					<span class="screen"></span>
					<span class="count">
						<strong>__list_position__</strong>
					</span>
					<span class="play">
						<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
					</span>
					<span class="yt-uix-button yt-uix-button-default delete">
						<img class="yt-uix-button-icon-playlist-bar-delete" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="删除"></span>
						<span class="now-playing">正在阅读</span>
						<span dir="ltr" class="title">
							<span>__video_title__  
								<span class="uploader">创建者：__video_display_name__</span>
							</span>
						</span>
						<span class="dragger"></span>
					</a>
				</li> -->
		</div>
		<div style="display: none;" id="playlist-bar-next-up-template">
			<!--<div class="playlist-bar-next-thumb">
			<span class="video-thumb ux-thumb yt-thumb-default-74 ">
				<span class="yt-thumb-clip">
					<span class="yt-thumb-clip-inner">
						<img src="//i4.ytimg.com/vi/__video_encrypted_id__/default.jpg" alt="缩略图" width="74" >
						<span class="vertical-align"></span>
					</span>
				</span>
			</span>
		</div>-->
		</div>
	</div>
	<div class="hid passive" id="playlist-bar-options-menu">
		<div id="playlist-bar-extras-menu">
			<ul>
				<li>
				<span data-action="save" class="yt-uix-button-menu-item">另存为新的课件锦囊</span>
				</li>
				<li>
				<span onclick="window.location.href='/playlist?list=PLU8P_aKcvc6dboIXEKcGeRMirE3sY4Eth'" class="yt-uix-button-menu-item">关于此课件锦囊的详情</span>
				</li>
			</ul>
		</div>
		<ul>
			<li>
			<span data-action="load-lists" class="yt-uix-button-menu-item">加载其他课件锦囊</span>
			</li>
			<li>
			<span onclick="window.location.href='//support.google.com/youtube/bin/answer.py?answer=146749&amp;hl=zh-CN'" class="yt-uix-button-menu-item">了解详情</span>
			</li>
		</ul>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	<% content_for :butt2 do %>
		$('#playlist-bar-bar,#playlist-bar-toggle-button').live('click',function(e){
				$('#playlist-bar').toggleClass('min').toggleClass('max');
		});
		$('#playlist-bar-bar button').live('click',function(e){
			e.stopPropagation();
		});
	<% end %>
</script>