	<div data-list-type="QL" data-list-id="" data-video-url="/watch?v=&amp;feature=BFql&amp;playnext=1&amp;list=QL" class="hid passive editable" id="playlist-bar">
   <div id="playlist-bar-bar-container">
      <div id="playlist-bar-bar">
         <div id="playlist-bar-notifications" class="yt-alert yt-alert-naked yt-alert-success hid ">
            <div class="yt-alert-icon">
               <img alt="Alert icon" class="icon master-sprite" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" />
            </div>
            <div role="alert" class="yt-alert-content">
            </div>
         </div>
         <span id="playlist-bar-info"><span class="playlist-bar-active playlist-bar-group"><button role="button" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" id="playlist-bar-prev-button" type="button" title="Previous video"><span class="yt-uix-button-icon-wrapper"><img alt="Previous video" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-prev" /><span class="yt-valign-trick"></span></span></button><span class="playlist-bar-count"><span class="playing-index">0</span> / <span class="item-count">0</span></span><button role="button" id="playlist-bar-next-button"  class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-next"><span class="yt-valign-trick"></span></span></button></span><span class="playlist-bar-active playlist-bar-group"><button role="button" data-button-toggle="true" id="playlist-bar-autoplay-button"  class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-autoplay"><span class="yt-valign-trick"></span></span></button><button role="button" data-button-toggle="true" id="playlist-bar-shuffle-button"  class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-shuffle"><span class="yt-valign-trick"></span></span></button></span><span class="playlist-bar-passive playlist-bar-group"><button role="button" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" id="playlist-bar-play-button" type="button" title="Play videos" ><span class="yt-uix-button-icon-wrapper"><img alt="Play videos" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-play"><span class="yt-valign-trick"></span></span></button><span class="playlist-bar-count"><span class="item-count">0</span></span></span><span class="yt-uix-button-group" id="playlist-bar-title"><span class="playlist-title">Unsaved Playlist</span></span></span>
         <a href="#" id="playlist-bar-lists-back">
         Return to active list </a>
         <span id="playlist-bar-controls"><span class="playlist-bar-group"><button role="button" id="playlist-bar-toggle-button" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-text yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-toggle" /><span class="yt-valign-trick"></span></span></button></span><span class="playlist-bar-group"><button role="button" data-button-has-sibling-menu="true" data-button-menu-id="playlist-bar-options-menu"  class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button-reverse flip yt-uix-button yt-uix-button-text" type="button"><span class="yt-uix-button-content">Options </span><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-arrow"></button></span></span>
      </div>
   </div>
   <div id="playlist-bar-tray-container">
      <div class="yt-uix-slider yt-uix-slider-fluid" id="playlist-bar-tray">
         <button class="yt-uix-button playlist-bar-tray-button yt-uix-button-default yt-uix-slider-prev"><img alt="Previous video" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-slider-prev-arrow" /></button><button  class="yt-uix-button playlist-bar-tray-button yt-uix-button-default yt-uix-slider-next"><img alt="Next video" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-slider-next-arrow"></button>
         <div class="yt-uix-slider-body">
            <div class="yt-uix-slider-slide" id="playlist-bar-tray-content">
               <ol class="video-list">
               </ol>
               <ol id="playlist-bar-help">
                  <li class="empty playlist-bar-help-message">Your list is empty. Add videos to your list using this button: <img class="addto-button-help" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" /><br>
                     or <a class="load-lists" href="/view_all_playlists">load a different list</a>.
                  </li>
               </ol>
            </div>
            <div class="yt-uix-slider-shade-left">
            </div>
            <div class="yt-uix-slider-shade-right">
            </div>
         </div>
      </div>
      <div id="playlist-bar-save">
      </div>
      <div class="dark-lolz" id="playlist-bar-lists">
      </div>
      <div id="playlist-bar-loading">
         <img alt="Loading..." src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" /><span id="playlist-bar-loading-message">Loading...</span><span class="hid" id="playlist-bar-saving-message">Saving...</span>
      </div>
      <div data-video-thumb-url="//i4.ytimg.com/vi/__video_encrypted_id__/default.jpg" style="display: none;" id="playlist-bar-template">
         <!--<li class="playlist-bar-item yt-uix-slider-slide-unit __classes__" data-video-id="__video_encrypted_id__"><a href="__video_url__" title="__video_title__" class="yt-uix-sessionlink" data-sessionlink="ei=COHF_o39_7ICFSgWIQodIyWHGA%3D%3D&amp;feature=BFa"><span class="video-thumb ux-thumb yt-thumb-default-106 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="__video_title__" data-thumb-manual="true" data-thumb="__video_thumb_url__" width="106" ><span class="vertical-align"></span></span></span></span><span class="screen"></span><span class="count"><strong>__list_position__</strong></span><span class="play"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"></span><span class="yt-uix-button yt-uix-button-default delete"><img class="yt-uix-button-icon-playlist-bar-delete" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="Delete"></span><span class="now-playing">Now playing</span><span dir="ltr" class="title"><span>__video_title__  <span class="uploader">by __video_display_name__</span>
            </span></span><span class="dragger"></span></a></li>-->
      </div>
      <div style="display: none;" id="playlist-bar-next-up-template">
         <!--<div class="playlist-bar-next-thumb"><span class="video-thumb ux-thumb yt-thumb-default-74 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img src="//i4.ytimg.com/vi/__video_encrypted_id__/default.jpg" alt="Thumbnail" width="74" ><span class="vertical-align"></span></span></span></span></div>-->
      </div>
   </div>
   <div class="hid" id="playlist-bar-options-menu">
      <div id="playlist-bar-extras-menu">
         <ul>
            <li><span data-action="save" class="yt-uix-button-menu-item">
               Save as a new playlist </span>
            </li>
            <li><span data-action="clear" class="yt-uix-button-menu-item">
               Clear all videos from this list </span>
            </li>
         </ul>
      </div>
      <ul>
         <li><span data-action="load-lists" class="yt-uix-button-menu-item">
            Load a different playlist </span>
         </li>
         <li><span class="yt-uix-button-menu-item">Learn more</span></li>
      </ul>
   </div>
</div>