<% if params[:reading].blank? or !Moped::BSON::ObjectId.legal?(params[:reading]) or  PlayList.find(params[:reading]).nil?%>
<div class=" passive editable" id="playlist-bar">
	<div id="playlist-bar-bar-container">
		<div id="playlist-bar-bar">
			<div id="playlist-bar-notifications" class="yt-alert yt-alert-naked yt-alert-success hid ">
				<div class="yt-alert-icon">
					<img alt="提醒图标" class="icon master-sprite" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
				</div>
				<div role="alert" class="yt-alert-content">
				</div>
			</div>
			<span id="playlist-bar-info"><span class="playlist-bar-active playlist-bar-group"><button role="button" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" id="playlist-bar-prev-button" type="button" title="上一个课件" onclick=";return false;"><span class="yt-uix-button-icon-wrapper"><img alt="上一个课件" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-prev"><span class="yt-uix-button-valign"></span></span></button><span class="playlist-bar-count"><span class="playing-index">0</span> / <span class="item-count">0</span></span><button role="button" id="playlist-bar-next-button" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-next"><span class="yt-uix-button-valign"></span></span></button></span><span class="playlist-bar-active playlist-bar-group"><button role="button" data-button-toggle="true" id="playlist-bar-autoplay-button" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-autoplay"><span class="yt-uix-button-valign"></span></span></button><button role="button" data-button-toggle="true" id="playlist-bar-shuffle-button" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-shuffle"><span class="yt-uix-button-valign"></span></span></button></span><span class="playlist-bar-passive playlist-bar-group"><button role="button" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" id="playlist-bar-play-button" type="button" title="播放课件" onclick=";return false;" data-tooltip-text="播放课件"><span class="yt-uix-button-icon-wrapper"><img alt="播放课件" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-play"><span class="yt-uix-button-valign"></span></span></button><span class="playlist-bar-count"><span class="item-count">0</span></span></span><span class="yt-uix-button-group" id="playlist-bar-title"><span class="playlist-title">未保存的课件锦囊</span></span></span>
			<a href="#" id="playlist-bar-lists-back">
			返回活动锦囊 </a>
			<span id="playlist-bar-controls"><span class="playlist-bar-group"><button role="button" id="playlist-bar-toggle-button" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-text yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-toggle"><span class="yt-uix-button-valign"></span></span></button></span><span class="playlist-bar-group"><button role="button" data-button-has-sibling-menu="true" data-button-menu-id="playlist-bar-options-menu" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button-reverse flip yt-uix-button yt-uix-button-text" type="button" aria-pressed="false" aria-expanded="false"><span class="yt-uix-button-content">选项 </span><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-arrow"></button></span></span>
		</div>
	</div>
	<div id="playlist-bar-tray-container">
		<div class="yt-uix-slider yt-uix-slider-fluid" id="playlist-bar-tray">
			<button onclick="return false;" class="yt-uix-button playlist-bar-tray-button yt-uix-button-default yt-uix-slider-prev"><img alt="上一个课件" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-slider-prev-arrow"></button><button onclick="return false;" class="yt-uix-button playlist-bar-tray-button yt-uix-button-default yt-uix-slider-next"><img alt="下一个课件" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-slider-next-arrow"></button>
			<div class="yt-uix-slider-body">
				<div class="yt-uix-slider-slide" id="playlist-bar-tray-content">
					<ol class="video-list">
					</ol>
					<ol id="playlist-bar-help">
						<li class="empty playlist-bar-help-message">您的锦囊为空。请点击此按钮 <img class="addto-button-help" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"> 向锦囊添加课件<br>
						或<a class="load-lists" href="/view_all_playlists">加载其他锦囊</a>。</li>
					</ol>
				</div>
				<div class="yt-uix-slider-shade-left">
				</div>
				<div class="yt-uix-slider-shade-right">
				</div>
			</div>
		</div>
		<div id="playlist-bar-save">
		</div>
		<div class="dark-lolz" id="playlist-bar-lists">
		</div>
		<div id="playlist-bar-loading">
			<img alt="正在加载..." src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"><span id="playlist-bar-loading-message">正在加载...</span><span class="hid" id="playlist-bar-saving-message">正在保存...</span>
		</div>
	</div>
	<div class="yt-uix-button-menu yt-uix-button-menu-external hid" id="playlist-bar-options-menu" style="min-width: 64px; max-height: 451px; left: -107px; top: -238px; display: none;">
		<div id="playlist-bar-extras-menu">
			<ul>
				<li><span data-action="save" class="yt-uix-button-menu-item">
				另存为新的课件锦囊 </span></li>
			</ul>
		</div>
		<ul>
			<li><span data-action="load-lists" class="yt-uix-button-menu-item">
			加载其他课件锦囊 </span></li>
		</ul>
	</div>
</div>
<%else %>
	<%= render partial:'playlist_bar' %>
<% end %>

<% content_for :butt2 do %>
var Historyx = window.History;
var bar_li_id = new Array();
var bar_resort  = function(){
	bar_li_id = new Array();
	$('#playlist-bar-tray-content > ol.video-list >li').each(function(index,li){
		$('span.count',li).html('<strong>'+(index+1).toString()+'</strong>');
		if($(li).attr('data-kejian-id')!=undefined){
			bar_li_id.push($(li).attr('data-kejian-id'));	
		}
	});
	$('.item-count').each(function(index,li){
		$(li).html(bar_li_id.length);
	});
	if(bar_li_id.length == 0){
		$('#playlist-bar').addClass('empty');
	}else{
		$('#playlist-bar').removeClass('empty');
	}
};
bar_resort();
var detect_bar_state = function() {
	path = window.location.pathname.split('/');
	index = bar_li_id.indexOf(path[2]);
	if(path[1] == 'coursewares' && index != -1){
		$('.playlist-bar-active').removeClass('playlist-bar-active').addClass('playlist-bar-passive');
		$('.playing-index').html((index+1).toString());
		if(index==0){
			$('#playlist-bar-prev-button').attr('disabled',true);
		}else if(index == bar_li_id.length - 1){
			$('#playlist-bar-next-button').attr('disabled',true);
		}
	}else if(path[1] != 'coursewares'){
		$('.playlist-bar-active').addClass('playlist-bar-active').removeClass('playlist-bar-passive');
		$('.playing-index').html('0');
	}else if(index == -1){
		$('.playlist-bar-active').addClass('playlist-bar-active').removeClass('playlist-bar-passive');
		$('.playing-index').html('0');
		$('#playlist-bar').addClass('min').removeClass('max');
	}
}
detect_bar_state();
$('#playlist-bar-next-button').live('click',function(e){
	var path = window.location.pathname.split('/');
	var index = bar_li_id.indexOf(path[2]);
	if(path[1] == 'coursewares'){
		if(index>-1 && index + 1 < bar_li_id.length){
			$(this).attr('disabled',false);
			url = '/coursewares/' + bar_li_id[index+1] + '?reading=' + $('#playlist-bar').attr('data-list-id') + '&bar_max=1';
			window.location.href = url;
		}else{
			$(this).attr('disabled',true);
		}
	}
});
$('#playlist-bar-prev-button').live('click',function(e){
	var path = window.location.pathname.split('/');
	var index = bar_li_id.indexOf(path[2]);
	if(path[1] == 'coursewares'){
		if(index>-1 && index > 0){
			$(this).attr('disabled',false);
			url = '/coursewares/' + bar_li_id[index-1] + '?reading=' + $('#playlist-bar').attr('data-list-id') + '&bar_max=1';
			window.location.href = url;
		}else{
			$(this).attr('disabled',true);
		}
	}
});
	$('#playlist-bar-bar,#playlist-bar-toggle-button').live('click',function(){
			$('#playlist-bar').toggleClass('min').toggleClass('max');
			if($('#playlist-bar').hasClass('max')){
				bar_max = 1
			}else{
				bar_max = 0
			}
	    url1=window.location.pathname
			url2=window.location.search
			if(url2.match(/(.*)(bar_max=[0-9])(.*)/)){
				url2 = url2.replace(/(.*)(bar_max=[0-9])(.*)/,'$1bar_max='+bar_max+'$3');
			}else if(url2){
				url2 = url2 + '&bar_max='+ bar_max
			}
			url = url1 + url2
			if (window.History.enabled){
				Historyx.pushState({url:url},null, decodeURI(url));	
			}
	});
	$('#playlist-bar-bar button').live('click',function(e){
		e.stopPropagation();
	});
	var bar_update_sort = function(){
		bar_loading();
		$.ajax({
			url:'/ajax/bar_update_content_in_playlist',
			type:'POST',
			data:{'content_string':bar_li_id,'pid':$('#playlist-bar').attr('data-list-id')},
			dataType:'json'
		}).done(function(json){
			bar_loading();
			if(json.status == 'suc'){
				bar_showNotification('课件锦囊更新成功！','success');
			}else if(json.status == 'failed'){
				bar_showNotification('课件锦囊更新失败！','error');					
			}
		});
	};
	$('#playlist-bar-play-button').live('click',function(e){
		bar_resort();
		if(bar_li_id[0]){
			window.location.href = '/coursewares/'+bar_li_id[0]+'?reading='+$('#playlist-bar').attr('data-list-id')+'&bar_max=1';	
		}else{
			window.location.href = '/mine/view_all_playlists';
		}
	});
	$('button[data-button-menu-id="playlist-bar-options-menu"]').live('click',function(){
		$(this).toggleClass('yt-uix-button-active');
		var menu = $('#playlist-bar-options-menu');
		if($(this).hasClass('yt-uix-button-active')){
			var height = $('#playlist-bar-options-menu').height();
			var width = $('#playlist-bar-options-menu').width();
			menu.remove();
			css = {
				'min-width': '64px',
				'max-height': '327px',
				'left': '-'+ (width-$(this).width()*1.75).toString() +'px', 
				'top': '-'+(height+$(this).height()*2.45).toString()+'px'
			}
			menu.css(css);
			menu.show().removeClass('hid');
			$(this).after(menu);
		}else{
			menu.remove();
			menu.hide().addClass('hid');
			$('#playlist-bar').append(menu);
		}
	});
	$('#playlist-bar-options-menu').live('click',function(e){
		e.stopPropagation();
	})
	$(document).click(function(e){
		if($('button[data-button-menu-id="playlist-bar-options-menu"]').hasClass('yt-uix-button-active')){
			$('button[data-button-menu-id="playlist-bar-options-menu"]').removeClass('yt-uix-button-active');
			var menu = $('#playlist-bar-options-menu');
			menu.remove();
			menu.hide().addClass('hid');
			$('#playlist-bar').append(menu);
		}
	});
	$('#playlist-bar-options-menu li').live('click',function(){
		$('button[data-button-menu-id="playlist-bar-options-menu"]').removeClass('yt-uix-button-active');
		var menu = $('#playlist-bar-options-menu');
		menu.remove();
		menu.hide().addClass('hid');
		$('#playlist-bar').append(menu);
	});
	$('#playlist-bar-tray .playlist-bar-tray-button').live('click',function(e){
		 if($(this).hasClass('yt-uix-slider-prev')){
              var next_state = bar_slider_cal_next_state('prev','tray');
              $('#playlist-bar-tray-content').css({'left':next_state + 'px'});
      }else if($(this).hasClass('yt-uix-slider-next')){
              var next_state = bar_slider_cal_next_state('next','tray');
              $('#playlist-bar-tray-content').css({'left':next_state+'px'});
      }
	});
	$('#playlist-bar-lists .playlist-bar-tray-button').live('click',function(e){
	        if($(this).hasClass('yt-uix-slider-prev')){
	                var next_state = bar_slider_cal_next_state('prev','lists');
	                $('#playlist-bar-lists-content').css({'left':next_state + 'px'});
	        }else if($(this).hasClass('yt-uix-slider-next')){
	                var next_state = bar_slider_cal_next_state('next','lists');
	                $('#playlist-bar-lists-content').css({'left':next_state+'px'});                         
	        }
	});
	var bar_slider_cal_next_state = function(direction,lt) {
    if(lt == 'tray'){
            var per_move_length = $('#playlist-bar-tray-content .playlist-bar-item').outerWidth();
            var item_count = parseInt($('.playlist-bar-count span.item-count').eq(0).html());
    }else{
            var per_move_length = $('#playlist-bar-lists-content .playlist-bar-item').outerWidth();
            var item_count = parseInt($('#playlist-bar-lists-content').attr('data-lists-count'));
    }
		var win_length = $(window).width();
		var contain_size = parseInt(win_length/per_move_length);
		var total_length = item_count * per_move_length;
		var cur_state = Math.abs($('#playlist-bar-'+lt+'-content').offset().left);
		var already_length = total_length - cur_state;
		var left_length = total_length-(win_length+cur_state);
		// var cur_item = parseInt(cur_state/per_move_length);
		var next_state = 0;
		if(direction == 'prev'){
			if(cur_state <= win_length){
				next_state = 0;
			}else if(already_length >= 6*per_move_length){
				next_state = cur_state - win_length + per_move_length * Math.random();
			}else if(already_length >=  3*per_move_length  && already_length < 6*per_move_length){
				next_state = cur_state - 3*per_move_length;
			}else{
				next_state = cur_state - per_move_length;
			}
			if(next_state<0){
				next_state = 0;
			}
		}else if(direction == 'next'){
			if(left_length > 6*per_move_length){
				next_state = cur_state + win_length + per_move_length * Math.random();
			}else if (left_length > 3*per_move_length && left_length < 6*per_move_length ){
				next_state = cur_state + 3*per_move_length;
			}else{
				next_state = total_length - 3*per_move_length;
			}
			if(next_state > total_length){
				next_state = total_length - 3*per_move_length;;
			}
		}
		return '-'+next_state;
	};
	var to_end = function() {
		var per_move_length = $('#playlist-bar-tray-content .playlist-bar-item').outerWidth();
		var item_count = parseInt($('.playlist-bar-count span.item-count').eq(0).html());
		var total_length = item_count * per_move_length;
		next_state = total_length - 3*per_move_length;
		if(next_state < 0){
			next_state = 0;
		}
		$('#playlist-bar-tray-content').css({'left':'-'+next_state+'px'});
	}
		
	$('#playlist-bar-tray-content > ol.video-list').sortable({
		forcePlaceholderSize: true,
		forceHelperSize: true,
		scroll:false,
		placeholder: {
      element: function(currentItem) {
         return $(currentItem).clone().css({'opacity':'0.5','position':'relative'})[0];
      },
			update: function(container, p) {
			   return;
			}
		},
    stop: function(){
			bar_resort();
			bar_update_sort();
    }
	}).disableSelection();
	
	$('#playlist-bar-extras-menu .yt-uix-button-menu-item[data-action="save"]').live('click',function(){
		bar_request_save_as();
	});
	var bar_request_save_as = function(){
		bar_loading();
		$.ajax({
			url:'/ajax/bar_request_save_as',
			type:'POST',
			data:{'authenticity_token':"<%= form_authenticity_token %>",'playlist_id':$('#playlist-bar').attr('data-list-id')},
			dataType:'json'
		}).done(function(json){
			$('#playlist-bar').removeClass('loading');
			if(json.status == 'suc'){
				$('#playlist-bar').removeClass('lists').removeClass('max').removeClass('min').addClass('save');
				$('#playlist-bar-save').html(json.html);
			}else if(json.status == 'failed'){
				bar_showNotification('系统无法完成请求，请稍后重试。！','error');					
			}
		});
	};
		
	var bar_timeout = null ;
	var bar_hideNotification = function () {
		clearTimeout(bar_timeout);
		$('#playlist-bar-notifications .yt-alert-content').html('');
		$('#playlist-bar-notifications').attr('class','').addClass('yt-alert yt-alert-naked yt-alert-success hid');
	}
	var bar_showNotification = function(text,type){
		// type=>[error,success,warn]
		$('#playlist-bar-notifications .yt-alert-content').html(text);
		$('#playlist-bar-notifications').attr('class','').addClass('yt-alert yt-alert-naked yt-alert-'+type).show();
		clearTimeout(bar_timeout);
		bar_timeout = window.setTimeout(function(){
			$('#playlist-bar-notifications').animate({opacity:'hide'},"slow",function(){
				$('#playlist-bar-notifications').attr('class','').addClass('yt-alert yt-alert-naked yt-alert-success hid');
			})
		},5000);
	};
	var bar_loading = function(){			
		$('#playlist-bar').toggleClass('editable').toggleClass('loading');
	}
	$('#playlist-bar-save-form button[type="submit"]').live('click',function(){
		bar_loading();
	  $.ajax({
       type: 'POST',//jQuery('#playlist-bar-save-form').attr('method')
       url: '/ajax/bar_playlist_save_as',
       data: $('#playlist-bar-save-form').serialize(),
			 dataType:'json',
			 async:false
    }).done(function(json){
			if(json.status == 'suc'){
				bar_update_list_and_name(json.new_playlist_id,function(){
						$('#playlist-bar').addClass('max').removeClass('save');
						bar_showNotification('课件锦囊已保存！','success');
						bar_loading();
				});
			}else if(json.status == 'failed'){
				bar_showNotification('课件锦囊保存失败！','error');					
			}else{
				bar_showNotification('请重复检查您的课件锦囊标题。','warn')
			}
   });
	});
		
	var bar_update_list_and_name = function(new_playlist_id,Callback){
		$.ajax({
			url:'/ajax/bar_request_update_bar',
			type:'POST',
			data:{'authenticity_token':"<%= form_authenticity_token %>",'playlist_id':new_playlist_id},
			dataType:'json'
		}).done(function(json){
			if(json.status == 'suc'){
				$('ol.video-list').html(json.ol);
				$('.item-count').each(function(index,li){
					$(li).html(json.count);
				});
				$('#playlist-bar-title .yt-uix-button-content').eq(0).html(json.title);
				$('#playlist-bar').attr('data-list-id',new_playlist_id);
				$('#playlist-bar-title button.yt-uix-tooltip-masked.start').attr('href','/play_lists/'+new_playlist_id);
				$('#playlist-bar-options-menu').replaceWith(json.bar_menu);
				var puname='/users/'+json.user_name;
				$('#playlist-bar-title button.yt-uix-tooltip-masked.end').attr('href',puname);
				$('#playlist-bar-title a.yt-user-photo').attr('href',puname);
				$('#playlist-bar-title img').attr('alt',json.user_name).attr('src',json.user_src);
				$('#playlist-bar-title .yt-user-name').html(json.user_name);
		    url1=window.location.pathname
				url2=window.location.search
				url2 = url2.replace(/(.*)(reading=[0-9a-zA-Z]+)(.*)/,'$1reading='+new_playlist_id+'$3');
				url = url1 + url2
				if (window.History.enabled){
					Historyx.pushState({url:url},null, decodeURI(url));	
				}	
				Callback();
			}else if(json.status == 'failed'){
				bar_showNotification('系统无法完成请求，请稍后重试。！','error');
			}
		});
	};
  Historyx.Adapter.bind(window,'statechange',function(){
      var State = History.getState();
      Historyx.log(State.data, State.title, State.url);
  });
	$('#playlist-bar li.playlist-bar-item a').live('click',function(e){
		// if(e.target != this){
		// 	e.preventDefault();
		// 	return false;
		// }
	});
	$('#playlist-bar .playlist-bar-item a span.delete').live('click',function(e){
		e.preventDefault();
		e.stopPropagation();
		var kid = $(this).parents('.playlist-bar-item.yt-uix-slider-slide-unit.playlist-bar-drag-source').attr('data-kejian-id');
		bar_loading();
		tmp = this;
		$.ajax({
			url:'/ajax/bar_delete_one_content',
			type:'POST',
			data:{'authenticity_token':"<%= form_authenticity_token %>",'pid':$('#playlist-bar').attr('data-list-id'),'kid':kid},
			dataType:'json'
		}).done(function(json){
			if(json.status == 'suc'){
				$(tmp).parents('.playlist-bar-item.yt-uix-slider-slide-unit.playlist-bar-drag-source').remove();
				bar_resort();
				bar_loading();
				bar_showNotification('课件已删除。<a class="playlist-bar-undo">撤消</a>','success')
			}else{
				bar_loading();
				bar_showNotification('系统无法完成请求，请稍后重试。！','error');
			}
		})
	});
	var bar_interval_timeout = null;
	var bar_interval_count = 0;
	$('#playlist-bar-notifications').live('click',function(e){
		e.stopPropagation();
	});
	$('#playlist-bar-notifications .playlist-bar-undo').live('click',function(e){
		e.stopPropagation();
		bar_loading();
		$.ajax({
			url:'/ajax/bar_undo_delete',
			type:'POST',
			data:{'authenticity_token':"<%= form_authenticity_token %>",'pid':$('#playlist-bar').attr('data-list-id')},
			dataType:'json'
		}).done(function(json){
			bar_loading();
			if(json.status == 'suc'){
				bar_hideNotification();
				to_end();
				$('#playlist-bar-tray-content ol.video-list').append(json.li);
				bar_resort();
				bar_interval_count=0;					
				clearInterval(bar_interval_timeout);
				bar_interval_time = 1000;
				bar_interval_timeout = setInterval(function(){
					bar_interval_count++;
					$('#playlist-bar-tray-content ol.video-list li:last').toggleClass('playlist-bar-item-highlight');
					if(bar_interval_count > 7){
						clearInterval(bar_interval_timeout);
						$('#playlist-bar-tray-content ol.video-list li:last').removeClass('playlist-bar-item-highlight');
					}
				},100);
			}else{
				bar_showNotification('系统无法完成请求，请稍后重试。！','error');
			}
		});
	});
	$('#playlist-bar-save-cancel').live('click',function(){
 	 	$('#playlist-bar').removeClass('save').addClass('max');
		$('#playlist-bar-save').html('');
	})
	$('#playlist-bar-options-menu > ul > li:first').live('click',function(){
		bar_loading();
		$.ajax({
			url:'/ajax/bar_request_playlists',
			type:'POST',
			data:{'authenticity_token':"<%= form_authenticity_token %>"},
			dataType:'json'
		}).done(function(json){
			bar_loading();
			if(json.status == 'suc'){
				$('#playlist-bar').removeClass('min').addClass('max').removeClass('save').addClass('lists');
				$('#playlist-bar-lists').html(json.html);
			}else{
				bar_showNotification('系统无法完成请求，请稍后重试。！','error');
			}
		});
	});
	$('#playlist-bar-lists-back').live('click',function(e){
		e.stopPropagation();
		$('#playlist-bar').removeClass('lists');
		$('#playlist-bar-lists').html('');
	});
	$('ol#playlist-bar-lists-content li a').live('click',function(e){
     e.stopPropagation();
     bar_loading();
     href = $(this).attr('href');
     pid = href.split('/').pop();
     bar_update_list_and_name(pid,function(){
             $('#playlist-bar').removeClass('lists');
             bar_loading();
     });
     return false;
	});
<% end %>