<% if params[:reading].blank? or !Moped::BSON::ObjectId.legal?(params[:reading]) or  PlayList.find(params[:reading]).nil?%>
<div class=" passive editable" id="playlist-bar">
	<div id="playlist-bar-bar-container">
		<div id="playlist-bar-bar">
			<div id="playlist-bar-notifications" class="yt-alert yt-alert-naked yt-alert-success hid ">
				<div class="yt-alert-icon">
					<img alt="提醒图标" class="icon master-sprite" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
				</div>
				<div role="alert" class="yt-alert-content">
				</div>
			</div>
			<span id="playlist-bar-info"><span class="playlist-bar-active playlist-bar-group"><button role="button" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" id="playlist-bar-prev-button" type="button" title="上一个课件" onclick=";return false;"><span class="yt-uix-button-icon-wrapper"><img alt="上一个课件" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-prev"><span class="yt-uix-button-valign"></span></span></button><span class="playlist-bar-count"><span class="playing-index">0</span> / <span class="item-count">0</span></span><button role="button" id="playlist-bar-next-button" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-next"><span class="yt-uix-button-valign"></span></span></button></span><span class="playlist-bar-active playlist-bar-group"><button role="button" data-button-toggle="true" id="playlist-bar-autoplay-button" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-autoplay"><span class="yt-uix-button-valign"></span></span></button><button role="button" data-button-toggle="true" id="playlist-bar-shuffle-button" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-shuffle"><span class="yt-uix-button-valign"></span></span></button></span><span class="playlist-bar-passive playlist-bar-group"><button role="button" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" id="playlist-bar-play-button" type="button" title="播放课件" onclick=";return false;" data-tooltip-text="播放课件"><span class="yt-uix-button-icon-wrapper"><img alt="播放课件" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-play"><span class="yt-uix-button-valign"></span></span></button><span class="playlist-bar-count"><span class="item-count">0</span></span></span><span class="yt-uix-button-group" id="playlist-bar-title"><span class="playlist-title">未保存的课件锦囊</span></span></span>
			<a href="#" id="playlist-bar-lists-back">
			返回活动锦囊 </a>
			<span id="playlist-bar-controls"><span class="playlist-bar-group"><button role="button" id="playlist-bar-toggle-button" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-text yt-uix-button-empty" type="button"><span class="yt-uix-button-icon-wrapper"><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-toggle"><span class="yt-uix-button-valign"></span></span></button></span><span class="playlist-bar-group"><button role="button" data-button-has-sibling-menu="true" data-button-menu-id="playlist-bar-options-menu" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button-reverse flip yt-uix-button yt-uix-button-text" type="button" aria-pressed="false" aria-expanded="false"><span class="yt-uix-button-content">选项 </span><img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-arrow"></button></span></span>
		</div>
	</div>
	<div id="playlist-bar-tray-container">
		<div class="yt-uix-slider yt-uix-slider-fluid" id="playlist-bar-tray">
			<button onclick="return false;" class="yt-uix-button playlist-bar-tray-button yt-uix-button-default yt-uix-slider-prev"><img alt="上一个课件" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-slider-prev-arrow"></button><button onclick="return false;" class="yt-uix-button playlist-bar-tray-button yt-uix-button-default yt-uix-slider-next"><img alt="下一个课件" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-slider-next-arrow"></button>
			<div class="yt-uix-slider-body">
				<div class="yt-uix-slider-slide" id="playlist-bar-tray-content">
					<ol class="video-list">
					</ol>
					<ol id="playlist-bar-help">
						<li class="empty playlist-bar-help-message">您的锦囊为空。请点击此按钮 <img class="addto-button-help" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"> 向锦囊添加课件<br>
						或<a class="load-lists" href="/view_all_playlists">加载其他锦囊</a>。</li>
					</ol>
				</div>
				<div class="yt-uix-slider-shade-left">
				</div>
				<div class="yt-uix-slider-shade-right">
				</div>
			</div>
		</div>
		<div id="playlist-bar-save">
		</div>
		<div class="dark-lolz" id="playlist-bar-lists">
		</div>
		<div id="playlist-bar-loading">
			<img alt="正在加载..." src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"><span id="playlist-bar-loading-message">正在加载...</span><span class="hid" id="playlist-bar-saving-message">正在保存...</span>
		</div>
	</div>
	<div class="yt-uix-button-menu yt-uix-button-menu-external hid" id="playlist-bar-options-menu" style="min-width: 64px; max-height: 451px; left: -107px; top: -238px; display: none;">
		<div id="playlist-bar-extras-menu">
			<ul>
				<li><span data-action="save" class="yt-uix-button-menu-item">
				另存为新的课件锦囊 </span></li>
			</ul>
		</div>
		<ul>
			<li><span data-action="load-lists" class="yt-uix-button-menu-item">
			加载其他课件锦囊 </span></li>
		</ul>
	</div>
</div>
<%else %>
	<%= render partial:'playlist_bar' %>
<% end %>