<%  
if Setting.ktv_sub != 'cnu' 
	return
end
%>
<% playlist = PlayList.find('50875ee29a8aa2060e00005c') %>
<% coursewares = Courseware.eager_load(playlist.content) %>
<div class="passive editable min" id="playlist-bar" data-list-id="<%= playlist.id %>">
	<!-- data-list-type="QL"  data-video-url="/watch?v=&amp;feature=BFql&amp;playnext=1&amp;list=QL" -->
	<div id="playlist-bar-bar-container">
		<div id="playlist-bar-bar">
			<div id="playlist-bar-notifications" class="yt-alert yt-alert-naked yt-alert-success hid">
				<div class="yt-alert-icon">
					<img alt="提醒图标" class="icon master-sprite" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
				</div>
				<div role="alert" class="yt-alert-content">
				</div>
			</div>
			<span id="playlist-bar-info">
				<span class="playlist-bar-active playlist-bar-group">
						<button role="button" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" id="playlist-bar-prev-button" type="button" title="上一个课件" onclick=";return false;">
							<span id="playlist-bar-info">
								<span class="yt-uix-button-icon-wrapper">
									<img alt="上一个课件" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-prev">
									<span class="yt-valign-trick"></span>
								</span>
							</span>
						</button>
						<span class="playlist-bar-count">
							<span class="playing-index">0</span> / <span class="item-count"><%= playlist.content.size %></span>
						</span>
						<button role="button" id="playlist-bar-next-button" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button" data-tooltip-text="下一个课件">
							<span class="yt-uix-button-icon-wrapper">
								<img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-next">
								<span class="yt-valign-trick"></span>
							</span>
						</button>
				</span>
				<span class="playlist-bar-active playlist-bar-group">
					<button role="button" data-button-toggle="true" id="playlist-bar-autoplay-button" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button" data-tooltip-text="打开自动阅读">
							<span class="yt-uix-button-icon-wrapper">
								<img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-autoplay">
								<span class="yt-valign-trick"></span>								
							</span>
					</button>
					<button role="button" data-button-toggle="true" id="playlist-bar-shuffle-button" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button" data-tooltip-text="打开随机阅读">
						<span class="yt-uix-button-icon-wrapper">
							<img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-shuffle">
							<span class="yt-valign-trick"></span>								
						</span>
					</button>
				</span>
				<span class="playlist-bar-passive playlist-bar-group">
					<button role="button" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" id="playlist-bar-play-button" type="button" title="阅读课件" onclick=";return false;" data-tooltip-text="阅读课件">
							<span class="yt-uix-button-icon-wrapper">
								<img alt="阅读课件" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-play">
								<span class="yt-valign-trick"></span>
						</span>
					</button>
					<span class="playlist-bar-count">
						<span class="item-count"><%= playlist.content.size %></span>
					</span>
				</span>
				<span class="yt-uix-button-group" id="playlist-bar-title">
						<button role="button" class="yt-uix-tooltip yt-uix-tooltip-masked start playlist-title yt-uix-button yt-uix-button-default yt-uix-tooltip" type="button" title="关于此课件锦囊的详情" onclick=";window.location.href=this.getAttribute('href');return false;" href="/play_lists/<%= playlist.id %>" data-tooltip-text="关于此课件锦囊的详情">
							<span class="yt-uix-button-content"><%= playlist.title %></span>
						</button>
						<button role="button" onclick=";window.location.href=this.getAttribute('href');return false;" class="yt-uix-tooltip yt-uix-tooltip-masked end yt-uix-button yt-uix-button-default" type="button" href="/users/<%= current_user.name_beautified %>">
							<span class="yt-uix-button-content">
								<a class="yt-user-photo" href="/users/<%= current_user.name_beautified %>">
									<span class="video-thumb ux-thumb yt-thumb-square-23" >
										<span class="yt-thumb-clip">
											<span class="yt-thumb-clip-inner">
												<img width="23px" alt="<%= current_user.name_beautified %>" src="<%=dz_avatar_url(current_user.uid,current_user.email,:small) %>">
												<span class="yt-valign-trick"></span>
											</span>
										</span>
									</span>
								</a>
								<span dir="ltr" class="yt-user-name" style="vertical-align: middle;"><%= current_user.name_beautified %></span>
							</span>
					</button>
				</span>
			</span>
			<a href="#" id="playlist-bar-lists-back" name="playlist-bar-lists-back">返回活动锦囊</a>
			<span id="playlist-bar-controls">
				<span class="playlist-bar-group">
					<button role="button" id="playlist-bar-toggle-button" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-text yt-uix-button-empty" type="button" data-tooltip-text="显示课件锦囊" title="显示课件锦囊">
						<span id="playlist-bar-controls">
							<span class="yt-uix-button-icon-wrapper">
								<img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-toggle">
								<span class="yt-valign-trick"></span>
							</span>
						</span>
					</button>
				</span>
				<span class="playlist-bar-group">
					<button role="button" data-button-has-sibling-menu="true" data-button-menu-id="playlist-bar-options-menu" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button-reverse flip yt-uix-button yt-uix-button-text" type="button">
							<span class="yt-uix-button-content">选项</span>
							<img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-arrow">
					</button>
				</span>
			</span>
		</div>
	</div>
	<div id="playlist-bar-tray-container">
		<div class="yt-uix-slider yt-uix-slider-fluid" id="playlist-bar-tray" data-slider-offset="0">
			<button onclick="return false;" class="yt-uix-button playlist-bar-tray-button yt-uix-button-default yt-uix-slider-prev">
				<img alt="上一个课件" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-slider-prev-arrow">
			</button>
			<button onclick="return false;" class="yt-uix-button playlist-bar-tray-button yt-uix-button-default yt-uix-slider-next">
				<img alt="下一个课件" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-slider-next-arrow">
			</button>
			<div class="yt-uix-slider-body">
				<div class="yt-uix-slider-slide" id="playlist-bar-tray-content" style="left: 0px;">
					<ol class="video-list">
						<% coursewares.each_with_index do |cw,index|  %>
						<li data-kejian-id="<%= cw.id %>" class="playlist-bar-item yt-uix-slider-slide-unit <% if false and (cw.status !=0 or !cw.check_upyun_result) %>playlist-bar-item-unviewable<% end %> playlist-bar-drag-source">
							<a class="yt-uix-sessionlink" title="<% if cw.status !=0 or !cw.check_upyun_result or (current_user.id != cw.uploader_id and cw.privacy == 2) %>无法阅读的课件<% else %><%= cw.title %><% end %>" href="/coursewares/<%= cw.id %>">
								<span class="video-thumb ux-thumb yt-thumb-default-106">
									<span class="yt-thumb-clip">
										<span class="yt-thumb-clip-inner">
											<% if cw.status !=0 or !cw.check_upyun_result %>
											<img width="106" data-thumb-manual="true" alt="无法阅读的课件" src="<%=asset_path('yt/img/meh_mini-unreadable.png')%>">
											<% else %>
											<img width="106" alt="<%= cw.title %>" src="<%= asset_url("cw/#{cw.ktvid}/#{cw.revision}thumb_slide_0.jpg") %>">
											<% end %>
											<span class="yt-valign-trick"></span>
										</span>
									</span>
								</span>
								<span class="screen"></span>
								<span class="count"><strong><%= index+1 %></strong></span>
								<span class="play">
									<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
								</span>
								<span class="yt-uix-button yt-uix-button-default delete">
									<img alt="删除" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon-playlist-bar-delete">
								</span>
								<%if false%><span class="now-playing">正在阅读</span><%end%>
								<span class="title" dir="ltr">
									<span><% if cw.status !=0 or !cw.check_upyun_result %>无法阅读的课件 <span class="uploader">创建者：Minqi Pan</span>
										<% else %>
										<%= cw.title %>
										<span class="uploader">创建者：<%= name_beautify User.get_name(cw.uploader_id) %></span>
										<% end %>
									</span>
								</span>
								<span class="dragger"></span>
							</a>
						</li>
						<% end %>
					</ol>
					<ol id="playlist-bar-help">
						<li class="empty playlist-bar-help-message">
							您的锦囊为空。请点击此按钮
							<img class="addto-button-help" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"> 向锦囊添加课件或
							<a class="load-lists" href="/view_all_playlists">加载其他锦囊</a>。 
						</li>
					</ol>
				</div>
				<div class="yt-uix-slider-shade-left"></div>
				<div class="yt-uix-slider-shade-right"></div>
			</div>
		</div>
		<div id="playlist-bar-save"></div>
		<div class="dark-lolz" id="playlist-bar-lists"></div>
		<div id="playlist-bar-loading">
			<img alt="正在加载..." src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
			<span id="playlist-bar-loading-message">正在加载...</span>
			<span class="hid" id="playlist-bar-saving-message">正在保存...</span>
		</div>
	</div>
	<div class="hid passive yt-uix-button-menu yt-uix-button-menu-external" id="playlist-bar-options-menu">
		<div id="playlist-bar-extras-menu">
			<ul>
				<li>
					<span data-action="save" class="yt-uix-button-menu-item">另存为新的课件锦囊</span>
				</li>
				<% if playlist.id == current_user.id and playlist.undestroyable and playlist.title == '稍后阅读' %>
				<li>
					<span data-action="clear" class="yt-uix-button-menu-item">清除该列表中的所有视频</span>
				</li>
				<% end %>
				<li>
					<span onclick="window.location.href='/playlist?list=PLU8P_aKcvc6dboIXEKcGeRMirE3sY4Eth'" class="yt-uix-button-menu-item">关于此课件锦囊的详情</span>
				</li>
			</ul>
		</div>
		<ul>
			<li>
			<span data-action="load-lists" class="yt-uix-button-menu-item">加载其他课件锦囊</span>
			</li>
			<% if false %>
			<li>
			<span onclick="window.location.href='//support.google.com/youtube/bin/answer.py?answer=146749&amp;hl=zh-CN'" class="yt-uix-button-menu-item">了解详情</span>
			</li>
			<% end %>
		</ul>
	</div>
</div>
<script type="text/javascript" charset="utf-8">
	<% content_for :butt2 do %>
		$('#playlist-bar-bar,#playlist-bar-toggle-button').live('click',function(){
				$('#playlist-bar').toggleClass('min').toggleClass('max');
		});
		$('#playlist-bar-bar button').live('click',function(e){
			e.stopPropagation();
		});
		var bar_li_id = new Array();
		$('button[data-button-menu-id="playlist-bar-options-menu"]').live('click',function(){
			$(this).toggleClass('yt-uix-button-active');
			var menu = $('#playlist-bar-options-menu');
			if($(this).hasClass('yt-uix-button-active')){
				var height = $('#playlist-bar-options-menu').height();
				var width = $('#playlist-bar-options-menu').width();
				menu.remove();
				css = {
					'min-width': '64px',
					'max-height': '327px',
					'left': '-'+ (width-$(this).width()*1.75).toString() +'px', 
					'top': '-'+(height+$(this).height()*2.95).toString()+'px'
				}
				console.log(css);
				menu.css(css);
				menu.show().removeClass('hid');
				$(this).after(menu);
			}else{
				menu.remove();
				menu.hide().addClass('hid');
				$('#playlist-bar').append(menu);
			}
		});
		$('#playlist-bar-options-menu').live('click',function(e){
			e.stopPropagation();
		})
		$(document).click(function(e){
			if($('button[data-button-menu-id="playlist-bar-options-menu"]').hasClass('yt-uix-button-active')){
				$('button[data-button-menu-id="playlist-bar-options-menu"]').removeClass('yt-uix-button-active');
				var menu = $('#playlist-bar-options-menu');
				menu.remove();
				menu.hide().addClass('hid');
				$('#playlist-bar').append(menu);
			}
		});
		var per_move_length = $('#playlist-bar-tray-content .playlist-bar-item').outerWidth();
		$('#playlist-bar-tray .playlist-bar-tray-button').live('click',function(e){
			var win_length = $(window).width();
			var contain_size = parseInt(win_length/per_move_length);
			var item_count = parseInt("<%= playlist.content.size %>");
			var total_length = item_count * per_move_length;
			var cur_state = Math.abs($('#playlist-bar-tray-content').offset().left);
			var already_length = total_length - cur_state;
			var left_length = total_length-(win_length+cur_state);
			// var cur_item = parseInt(cur_state/per_move_length);
			var next_state = 0;
			console.log(cur_state,already_length,left_length,total_length)
			if($(this).hasClass('yt-uix-slider-prev')){
				if(cur_state <= win_length){
					next_state = 0;
				}else if(already_length >= 6*per_move_length){
					next_state = cur_state - win_length + per_move_length * Math.random();
				}else if(already_length >=  3*per_move_length  && already_length < 6*per_move_length){
					next_state = cur_state - 3*per_move_length;
				}else{
					next_state = cur_state - per_move_length;
				}
				if(next_state<0){
					next_state = 0;
				}
				console.log(next_state);
				$('#playlist-bar-tray-content').css({'left':'-'+next_state + 'px'});
			}else if($(this).hasClass('yt-uix-slider-next')){
				if(left_length > 6*per_move_length){
					next_state = cur_state + win_length + per_move_length * Math.random();
				}else if (left_length > 3*per_move_length && left_length < 6*per_move_length ){
					next_state = cur_state + 3*per_move_length;
				}else{
					next_state = total_length - 3*per_move_length;
				}
				if(next_state > total_length){
					next_state = total_length - 3*per_move_length;;
				}
				$('#playlist-bar-tray-content').css({'left':'-'+next_state+'px'});				
			}
		});
		$('#playlist-bar-tray-content > ol').sortable({
			forcePlaceholderSize: true,
			forceHelperSize: true,
			scroll:false,
			placeholder: {
        element: function(currentItem) {
           return $(currentItem).clone().css({'opacity':'0.5','position':'relative'})[0];
        },
				update: function(container, p) {
				   return;
				}
			},
	    stop: function(){
				bar_update_sort();
				bar_resort();
	    }
		}).disableSelection();
		var bar_resort  = function(){
			bar_li_id = new Array();
			$('#playlist-bar-tray-content > ol >li').each(function(index,li){
				$('span.count',li).html('<strong>'+(index+1).toString()+'</strong>');
				bar_li_id.push($(li).attr('data-kejian-id'));
			});
		};
		var bar_update_sort = function(){
			$.ajax({
				url:'/ajax/bar_update_content_in_playlist',
				type:'POST',
				data:{'content_string':bar_li_id,'pid':$('#playlist-bar').attr('data-list-id')},
				dataType:'json'
			}).done(function(){
				
			});
		};
		
	<% end %>
</script>
