<div class="presenter" style="<%= defined?(style) ? style : '' %>">
  <a href="<%=user_path(user)%>"><%= avatar_tag(user,:small47) %></a>
  <h2><a href="<%=user_path(user)%>"><%=user.name%></a></h2>
  <p><%=user.tagline.present? ? user.tagline : "#{user.coursewares_count} 个课件" %></p>
</div>
