<% content_for :armpit do %>
  <%= stylesheet_link_tag "ktv/__zm_user.css", :media => "all" %>
<% end %>
<% content_for :body_style do %>background:url(<%=asset_path 'zm/r11839/images/common/bodybg.gif'%>) repeat scroll 0 0 #F0EEEE<% end %>
<script type="text/javascript">
<% content_for :butt2 do %>

var old_content = jQuery("#contentMain").html();
jQuery('.queryOrderCss').live('click', function () {
    var queryOrder = jQuery(this).attr("rel");
    jQuery('#queryOrder').val(queryOrder);
    jQuery('#ulQueryOrder > li').removeClass();
    jQuery(this).parent().addClass('current');
    queryExec();
});
function queryExec(){
    var queryOrder = jQuery('#queryOrder').val();
    jQuery("#contentMain").html(old_content);
    autoLayout.pageAuto = true;
    autoLayout.pageNums = 0;
    autoLayout.loading = true;
    autoLayout.isHasNextPage = true;
    autoLayout.pageNum = 2;
    autoLayout.psvr_client_width_offset = 242;
    autoLayout.psvr_mincol = 3;
    var linkUrl = "/courses/<%=@course.fid%>/coursewares",
        jsonUrl = "/courses/<%=@course.fid%>/coursewares_with_page/";
    autoLayout.init({
        contentID: "contentMain",
        rightLoad: true,
        leftID: "",
        dataContent: {
            'queryOrder': queryOrder
        },
        rightID: [],
        linkUrl: linkUrl,
        loadingID: "imloading",

        callBack: function () {
          var showContent = "还没有人为<%=@course.name%>上传课件";
          jQuery("#contentMain").prepend('<div style="text-align: center; margin-right: 233px; padding-top: 100px; left: 0px; top: 0px;" class="f14" columns="0">' + showContent + '</div>');
        }
    });
    autoLayout.eachAction(jsonUrl);
}
im(function () {
    queryExec();
});
<% end %>
</script>    
<div id="crs_dickhead">
  <ul>
    <li><a href="/courses/<%= @course.fid %>" class="a1 <%= 'active' if params[:sort1].blank?||'all'==params[:sort1] %>">全部资源</a></li>
    <% Courseware::SORT1STR.each_with_index do |arr,index| %>
      <% key,value=arr %>
      <li><a href="/courses/<%= @course.fid %>?sort1=<%= key %>" class="a<%= index+2 %> <%= 'active' if key==params[:sort1] %>"><%= value %></a></li>
    <% end %>
  </ul>
  <a href="#" class="crs_switch" title="切换到列表视图">切换到列表视图</a>
</div>

<div class="__zm" style="margin-top:">
  <% params[:queryOrder] ||= '1' %>
  <input id="queryOrder" type="hidden" value="<%= params[:queryOrder] %>" />
  <div id="pagewrap">
  	<div id="content" style="box-shadow:none;background:none;overflow:visible !important;margin-top:13px">
  		<!--内容容器开始-->
  		<div style="clear: both;">
  		</div>
  		<div id="contentMain" class="content" style="position: relative;">
  		</div>
  	</div>
  	<div id="imloading" class="imfootloading" style="visibility:hidden;">
  		<div class="loading">
  			正在加载，请稍候...
  		</div>
  	</div>
  </div>
</div>