<% if @notifies and @notifies.size > 0 %>
  <section id="notifyBox">
    <h3>新通知<a href="javascript:void(0)" class="close" onclick="return mark_all_notifies_as_read(this.parentNode);"></a></h3>
    <ul>
      <%
      @notifies.each do |k, children|
        next if k.to_s.blank? or children[:items].blank?
      %>
        <li>
          <%
          if children[:type] == "USER"
          %>
            <%= raw children[:items].map {|n| (n.log and n.log.user) ? user_name_tag(User.find(n.log.user_id), {:is_notify => true, :notify => n, :bold=>true}) : "" }.uniq.join("、") %> 关注了你。
          <%
          else
            if ["THANK_ANSWER"].include?children[:type]
              answer = Answer.first(:conditions => {:id => k})
              next if answer.blank?
              ask = answer.ask
              next if ask.blank?
            else
              ask = Ask.first(:conditions => {:id => k})
            end
            if !ask
            %>
              该问题已被原作者删除。
            <%
            else
            %>
              <%
              if children[:items].size > 1
                items = []; comments = []
                children[:items].each do |item|
                  if item.action == "NEW_COMMENT" and !comments.include?("#{item.targer_id},#{item.user_id}")
                    items << item
                    comments << "#{item.targer_id},#{item.user_id}"
                  elsif item.action != "NEW_COMMENT"
                    items << item
                  end
                end
              %>
                <% if children[:type] == "THANK_ANSWER" %>
                  <a href="#" class="expand" onclick="return expand_notification(this, 'ASK', '<%= ask.id %>')"><%= items.size %>项</a> 关于问题 <a href="<%= ask_path(ask) %>?nr=1#answer_<%= k %>"><%= ask.title %></a>
                <% else %>
                  <a href="#" class="expand" onclick="return expand_notification(this, 'ASK', '<%= ask.id %>')"><%= items.size %>项</a> 关于问题 <a href="<%= ask_path(ask) %>"><%= ask.title %></a>
                <% end %>
                  <ul class="notification-items" id="NASK_<%= ask.id %>_items" style="margin-left:25px;">
                  <%
                  items.each do |item|
                    if item.log
                      target_id = ["THANK_ANSWER","INVITE_TO_ANSWER"].include?(item.action) ? item.log.target_parent_id : item.target_id
                    %>
                      <li <%if item.id==items.last.id%>style="border-bottom:0px;padding-bottom:0px;"<%end%>>
                        <%= raw ask_notification_tag(target_id, item, false) %>
                        <span class="time"><%= l item.log.created_at.getlocal, :format => :long %></span>
                      </li>
                    <%
                    end
                  end
                %>
                </ul>
              <%
              else
                item = children[:items].first
                if item and item.log
                  target_id = ["THANK_ANSWER","INVITE_TO_ANSWER"].include?(item.action) ? item.log.target_parent_id : item.target_id
                %>
                  <%= raw ask_notification_tag(target_id, item, true) %>
                  <span class="time"><%= l item.log.created_at.getlocal, :format => :long %></span>
                <%
                end
              end
            end
          end
        %>
        </li>
      <% end %>
    </ul>
    <div class="btnNormalGreen" onclick="return mark_all_notifies_as_read(this);"><span>我知道了</span></div>
    <div class="clearfix"></div>
  </section>
<% end %>
