<% unless answer.blank? %>
<section>
	<aside>
		<span><em class="englishFont" title="赞成票数"><%= answer.votes_count %></em></span>
	</aside>
	<div class="details">
		<div class="summary">
			<a class="bold" href="#"><% if answer.user %><%= user_name_tag(answer.user) %><%=v_icon(answer.user)%><%= user_tagline_tag(answer.user,:prefix => ",") %> <% else %>此用户已经被删除<% end %></a>
      <% if answer.up_votes_count != 0 %>
				<br>投票者： <%= up_voter_links answer.up_voters(User) %>
			<% end %>
  		<div class="tfmt">
    		<% if answer.chomp_body.gsub(/<.*?>/,'').length <= 100 %>
				  <p><%= md_body(answer.chomp_body,:with_tfmt=>false) %></p>
				<% else %>
				<div class="full-body hide"  id="awb_<%= answer.ask_id %>_<%= answer.id %>">
				  <p><%= md_body(answer.chomp_body,:with_tfmt=>false) %></p>
				</div>
        <div id="aws_<%= answer.ask_id %>_<%= answer.id %>">
          <p><%= raw truncate(answer.body.gsub(/<.*?>/,''),:length => 100, :truncate_string =>"……") %>
          <a class="smore" href="#" onclick="return show_all_answer_body('<%= answer.ask_id %>', '<%= answer.id %>')">(更多)</a></p>
        </div>
				<% end %>
			</div>
	</div>
</div></section>
<% end %>