<% playlist_id ||= params[:reading] %>
<% bar_max ||= params[:bar_max] %>
<% params[:reading] ||= playlist_id %>
<% params[:bar_max] ||= bar_max %>
<% 
if (params[:reading].blank? and playlist_id.blank?) or (!Moped::BSON::ObjectId.legal?(params[:reading]) and !Moped::BSON::ObjectId.legal?(playlist_id))
	return false
end
if  (PlayList.find(params[:reading]).nil?  and PlayList.find(playlist_id).nil?)
	return false
end
%> 

<% playlist = PlayList.find(playlist_id) %>
<% coursewares = Courseware.eager_load(playlist.content) %>
<div class="passive editable <% if bar_max == '1' %>max<% else %>min<% end %>" id="playlist-bar" data-list-id="<%= playlist.id %>">
	<div id="playlist-bar-bar-container">
		<div id="playlist-bar-bar">
			<div id="playlist-bar-notifications" class="yt-alert yt-alert-naked yt-alert-success hid">
				<div class="yt-alert-icon">
					<img alt="提醒图标" class="icon master-sprite" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
				</div>
				<div role="alert" class="yt-alert-content">
				</div>
			</div>
			<span id="playlist-bar-info">
				<span class="playlist-bar-active playlist-bar-group">
						<button role="button" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" id="playlist-bar-prev-button" type="button" title="上一个课件" onclick=";return false;">
							<span id="playlist-bar-info">
								<span class="yt-uix-button-icon-wrapper">
									<img alt="上一个课件" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-prev">
									<span class="yt-valign-trick"></span>
								</span>
							</span>
						</button>
						<span class="playlist-bar-count">
							<span class="playing-index">0</span> / <span class="item-count"><%= playlist.content.size %></span>
						</span>
						<button role="button" id="playlist-bar-next-button" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button" data-tooltip-text="下一个课件">
							<span class="yt-uix-button-icon-wrapper">
								<img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-next">
								<span class="yt-valign-trick"></span>
							</span>
						</button>
				</span>
				<% if false %>
				<span class="playlist-bar-active playlist-bar-group">
					<button role="button" data-button-toggle="true" id="playlist-bar-autoplay-button" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button" data-tooltip-text="打开自动阅读">
							<span class="yt-uix-button-icon-wrapper">
								<img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-autoplay">
								<span class="yt-valign-trick"></span>								
							</span>
					</button>
					<button role="button" data-button-toggle="true" id="playlist-bar-shuffle-button" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-button-empty" type="button" data-tooltip-text="打开随机阅读">
						<span class="yt-uix-button-icon-wrapper">
							<img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-shuffle">
							<span class="yt-valign-trick"></span>								
						</span>
					</button>
				</span>
				<% end %>
				<span class="playlist-bar-passive playlist-bar-group">
					<button role="button" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" id="playlist-bar-play-button" type="button" title="阅读课件" onclick=";return false;" data-tooltip-text="阅读课件">
							<span class="yt-uix-button-icon-wrapper">
								<img alt="阅读课件" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-play">
								<span class="yt-valign-trick"></span>
						</span>
					</button>
					<span class="playlist-bar-count">
						<span class="item-count"><%= playlist.content.size %></span>
					</span>
				</span>
				<span class="yt-uix-button-group" id="playlist-bar-title">
						<button role="button" class="yt-uix-tooltip yt-uix-tooltip-masked start playlist-title yt-uix-button yt-uix-button-default yt-uix-tooltip" type="button" title="关于此课件锦囊的详情" onclick=";window.location.href=this.getAttribute('href');return false;" href="/play_lists/<%= playlist.id %>" data-tooltip-text="关于此课件锦囊的详情">
							<span class="yt-uix-button-content"><%= playlist.title %></span>
						</button>
						<% pu_name = name_beautify User.get_name(playlist.user_id)  %>
						<button role="button" onclick=";window.location.href=this.getAttribute('href');return false;" class="yt-uix-tooltip yt-uix-tooltip-masked end yt-uix-button yt-uix-button-default" type="button" href="/users/<%=  pu_name %>">
							<span class="yt-uix-button-content">
								<a class="yt-user-photo" href="/users/<%= pu_name  %>">
									<span class="video-thumb ux-thumb yt-thumb-square-23" >
										<span class="yt-thumb-clip">
											<span class="yt-thumb-clip-inner">
												<img width="23px" alt="<%= pu_name %>" src="<%=avatar_url_quick(playlist.user_id,:small) %>">
												<span class="yt-valign-trick"></span>
											</span>
										</span>
									</span>
								</a>
								<span dir="ltr" class="yt-user-name" style="vertical-align: middle;"><%= pu_name %></span>
							</span>
					</button>
				</span>
			</span>
			<a href="#" id="playlist-bar-lists-back">返回活动锦囊</a>
			<span id="playlist-bar-controls">
				<span class="playlist-bar-group">
					<button role="button" id="playlist-bar-toggle-button" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-button-text yt-uix-button-empty" type="button" data-tooltip-text="显示课件锦囊" title="显示课件锦囊">
						<span id="playlist-bar-controls">
							<span class="yt-uix-button-icon-wrapper">
								<img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-toggle">
								<span class="yt-valign-trick"></span>
							</span>
						</span>
					</button>
				</span>
				<span class="playlist-bar-group">
					<button role="button" data-button-has-sibling-menu="true" data-button-menu-id="playlist-bar-options-menu" onclick=";return false;" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button-reverse flip yt-uix-button yt-uix-button-text" type="button">
							<span class="yt-uix-button-content">选项</span>
							<img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-arrow">
					</button>
				</span>
			</span>
		</div>
	</div>
	<div id="playlist-bar-tray-container">
		<div class="yt-uix-slider yt-uix-slider-fluid" id="playlist-bar-tray" data-slider-offset="0">
			<button onclick="return false;" class="yt-uix-button playlist-bar-tray-button yt-uix-button-default yt-uix-slider-prev">
				<img alt="上一个课件" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-slider-prev-arrow">
			</button>
			<button onclick="return false;" class="yt-uix-button playlist-bar-tray-button yt-uix-button-default yt-uix-slider-next">
				<img alt="下一个课件" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-slider-next-arrow">
			</button>
			<div class="yt-uix-slider-body">
				<div class="yt-uix-slider-slide" id="playlist-bar-tray-content" style="left: 0px;">
					<ol class="video-list">
						<%= render partial:'bar_ol',locals:{coursewares:coursewares,playlist_id:playlist.id,is_history:playlist.is_history} %>
					</ol>
					<ol id="playlist-bar-help">
						<li class="empty playlist-bar-help-message">
							您的锦囊为空。请点击此按钮
							<img class="addto-button-help" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"> 向锦囊添加课件或
							<a class="load-lists" href="/mine/view_all_playlists">加载其他锦囊</a>。 
						</li>
					</ol>
				</div>
				<div class="yt-uix-slider-shade-left"></div>
				<div class="yt-uix-slider-shade-right"></div>
			</div>
		</div>
		<div id="playlist-bar-save"></div>
		<div class="dark-lolz" id="playlist-bar-lists"></div>
		<div id="playlist-bar-loading">
			<img alt="正在加载..." src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
			<span id="playlist-bar-loading-message">正在加载...</span>
			<span class="hid" id="playlist-bar-saving-message">正在保存...</span>
		</div>
	</div>
	<%= render partial:'bar_menu',locals:{playlist_id:playlist.id,playlist_undestroyable:playlist.undestroyable,playlist_title:playlist.title} %>
</div>
