<div class="presenter" style="<%= defined?(style) ? style : '' %>">
  <a href="<%=user_path(user)%>"><img src="<%=  dz_avatar_url(user.uid,user.email,:small) %>" class="imgHead" width="48" height="48"></a>
  <h2><a href="<%=user_path(user)%>"><%=name_beautify user.name%></a></h2>
  <p><%=user.tagline.present? ? user.tagline : "#{user.coursewares_count + user.coursewares_uploaded_count} 个课件" %></p>
</div>
