<li class="vm-video-item" id="vm-video-<%= item.id %>" style="margin-left:2px">
<div class="vm-video-item-content">
	<span class="yt-uix-form-input-checkbox-container ">
	<input type="checkbox"  value="<%= item.id %>" class="yt-uix-form-input-checkbox video-checkbox" name="kejian-checkbox" data-times="<%= item.views_count %>" data-created-at='<%= item.created_at.to_i %>' <% if request.path == '/mine/my_history' %> data-history-at="<%= history_time %>"<% end %> ><span class="yt-uix-form-input-checkbox-element"></span></span>
	<div class="vm-thumb">
		<a class="ux-thumb-wrap yt-uix-sessionlink" href="/coursewares/<%= item.id %>">
		<span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="120" alt="缩略图" src="<%= asset_url("cw/#{item.ktvid}/#{item.revision}thumb_slide_0.jpg") %>"><span class="vertical-align"></span></span></span></span>
		<span class="video-time">共<%= item.slides_count %>页</span>
		</a>
	</div>
	<div class="vm-video-info-container">
		<div class="vm-video-title">
			<% titlelen = 20 %>
			<span id="checkbox_<%= item.id %>" class="vm-video-title-container yt-uix-tooltip" <% if item.title.length > titlelen %> title='<%= item.title %>' <% end %>>
			<a class="vm-video-title-content yt-uix-sessionlink" href="/coursewares/<%= item.id %>"><%= item.title[0...titlelen] %><%= if item.title.length> titlelen then '...' end %></a>
			</span>
			<span class="vm-video-title-badges">
			</span>
		</div>
		<span class="vm-video-info">
		<span class="vm-video-desc">
			<% if !item.teachers.nil? %>
	      <% item.teachers.each do |teacher| %>
	        <a href="/teachers/<%= Teacher.get_id teacher %>">
	          <%= teacher%>
	        </a>
	      <% end %>
			<% end %>
			
      <% nd = nil %>
		  <% if nn=Course.get_name(item.course_fid) %>
        <a href="/courses/<%= item.course_fid %>" class="tag-post"><%= nn %></a><% if nd=Course.get_department(item.course_fid) %>, <a href="/departments/<%= Department.get_fid(nd) %>" class="tag-post"><%= nd %></a>.<% else %>.<% end %>
      <% end %>
      
      
		</span>
		</span>
		<span class="vm-video-info vm-date-info">
		<span><%= timeago(item.created_at) %></span>
		</span>
		<div class="vm-video-info">
      <a dir="ltr" class="yt-uix-sessionlink yt-user-name " href="/<%= User.get_fangwendizhi item.uploader_id %>"><%= name_beautify User.get_name(item.uploader_id)%></a>
		</div>
	</div>
	<div class="vm-video-icons">
		<div class="vm-video-metrics">
			<span class="vm-video-metric video-view-count">
			<span title="观看次数" class="yt-uix-tooltip">
			<span class="vm-video-metric-icon">
			<img alt="观看次数" src= "<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
			</span>
			<span class="vm-video-metric-value"><%= number_with_delimiter item.views_count %></span>
			</span>
			</span>
			<span class="vm-video-metric video-likes-count">
			<span title="顶过的人数" class="yt-uix-tooltip">
			<span class="vm-video-metric-icon">
			<img alt="顶过的人数" src= "<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
			</span>
			<span class="vm-video-metric-value"><%= number_with_delimiter item.thanked_count %></span>
			</span>
			</span>
			<span class="vm-video-metric video-dislikes-count">
			<span title="踩" class="yt-uix-tooltip">
			<span class="vm-video-metric-icon">
			<img alt="踩" src= "<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
			</span>
			<span class="vm-video-metric-value"><%= number_with_delimiter item.disliked_count %></span>
			</span>
			</span>
			<span class="vm-video-metric video-comments">
			<span title="评论数" class="yt-uix-tooltip">
			<span class="vm-video-metric-icon">
			<img alt="评论数" src= "<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
			</span>
			<span class="vm-video-metric-value"><%= number_with_delimiter item.comments_count %></span>
			</span>
			</span>
		</div>
	</div>
</div>
</li>