<div id="no-adsense-agreement-overlay-template" style="display:none">
	<div id="no-adsense-agreement" class="yt-uix-overlay" data-overlay-class="no-adsense" data-disable-shortcuts="true" style="display:none">
   <div class="yt-uix-overlay-header">
      <h2>
         为您的帐户启用获利
      </h2>
   </div>
   <div class="overlay-content-container">
      <p class="overlay-content-text">请查看下面的 课件TV 获利协议</p>
      <div class="yt-scrollable-text-container terms-of-agreement-within-overlay">__no_adsense_agreement__</div>
   </div>
   <div>
      <div class="no-adsense-agreement-checkbox">
         <span class="yt-uix-form-input-checkbox-container "><input type="checkbox" name="" class="yt-uix-form-input-checkbox" id="agreement-checkbox-1" /><span class="yt-uix-form-input-checkbox-element"></span></span>
         <label for="agreement-checkbox-1">我已阅读并同意接受上述条款。</label>
      </div>
      <div class="no-adsense-agreement-checkbox">
         <span class="yt-uix-form-input-checkbox-container "><input type="checkbox" name="" class="yt-uix-form-input-checkbox" id="agreement-checkbox-2" /><span class="yt-uix-form-input-checkbox-element"></span></span>
         <label for="agreement-checkbox-2">我承诺，我不会点击我通过 Google 的产品和服务所投放的 Google 广告，以欺骗手段增加自己的收入。</label>
      </div>
      <div class="no-adsense-agreement-checkbox">
         <span class="yt-uix-form-input-checkbox-container "><input type="checkbox" name="" class="yt-uix-form-input-checkbox" id="agreement-checkbox-3" /><span class="yt-uix-form-input-checkbox-element"></span></span>
         <label for="agreement-checkbox-3">我不会将任何自己未拥有足够权利的内容用于获利。</label>
      </div>
      <div class="no-adsense-review-disclaimer">__review_disclaimer__</div>
      <div class="no-adsense-underage-message">__underage_message__</div>
   </div>
   <div class="no-adsense-button-container">
      <button type="button" class="yt-uix-overlay-close close-button yt-uix-button yt-uix-button-default" id="agreement-close-button" role="button"><span class="yt-uix-button-content">取消 </span>
      </button>
      <button disabled="true" type="button" class="yt-uix-overlay-target no-adsense-sign-agreement-button yt-uix-button yt-uix-button-primary" id="agreement-accept-button" role="button"><span class="yt-uix-button-content">我接受 &raquo; </span>
      </button>
   </div>
   <div class="yt-uix-overlay-content"></div>
  </div>            
</div>
<div id="no-adsense-bulk-monetization-overlay-template" style="display:none">
	<div id="no-adsense-monetization" class="no-adsense-ad-formats-container">
   <div class="yt-uix-overlay-header">
      <h2>
         为我的课件启用获利
      </h2>
   </div>
   <div class="ad-formats-overlay">
      <div class="form-preview-area">
         <div class="form-area">
            <form class="ad-options-overlay-form">
               <div class="ad-formats-heading">
                  广告格式
               </div>
               <div class="ad-format overlay">
                  <span class="yt-uix-form-input-checkbox-container "><input type="checkbox" name="overlay" class="yt-uix-form-input-checkbox overlay-checkbox" name="overlay" id="overlay-checkbox" /><span class="yt-uix-form-input-checkbox-element"></span></span>
                  课件内嵌重叠式广告
                  <span class="helpable-preview" data-preview-id="preview-overlay">预览</span>
               </div>
               <div class="ad-format true-view">
                  <span class="yt-uix-form-input-checkbox-container "><input type="checkbox" name="true_view" class="yt-uix-form-input-checkbox trueview-checkbox" name="true_view" id="trueview-checkbox" /><span class="yt-uix-form-input-checkbox-element"></span></span>
                  TrueView 插播广告
                  <span class="helpable-preview" data-preview-id="preview-trueview">预览</span>
               </div>
               <div class="ad-format">
                  <span class="yt-uix-form-input-checkbox-container "><input type="checkbox" name="product_placement" class="yt-uix-form-input-checkbox" name="product_placement" /><span class="yt-uix-form-input-checkbox-element"></span></span>
                  <span class="product-placement">
                  课件包含产品展示位置
                  </span>
                  <span class="helpable-preview" data-preview-id="preview-product-placement">
                  了解详情
                  </span>
               </div>
               <div class="ad-format display">
                  默认情况下显示展示广告。
                  <span class="helpable-preview" data-preview-id="preview-display">预览</span>
               </div>
            </form>
            <div class="important-note">
               <b>重要提示</b>：要在 课件TV 上通过课件获利，即表示您确认您拥有所有视觉和音频元素的所有必要商业使用权利。课件TV 可能会对多次无法证明其拥有商业使用权利的帐户停用获利。<a href="//support.google.com/课件TV/bin/answer.py?answer=97527&amp;hl=zh-CN" target="_blank">了解详情</a>。
            </div>
         </div>
         <div class="preview-area">
            <div id="preview-overlay" class="ad-format-preview hid">
               <img src="<%=asset_path('yt/img/in-display-overlay-vfllJbecp.png')%>" /><br>
               <p>课件内重叠式广告是显示在您课件下半部分的透明的重叠式广告。
                  <a target="_new" href="//support.google.com/课件TV/bin/answer.py?answer=94525&amp;hl=zh-CN">
                  了解详情
                  </a>
               </p>
            </div>
            <div id="preview-trueview" class="ad-format-preview hid">
               <img src="<%=asset_path('yt/img/in-stream-trueview-vflyOPLHS.png')%>" /><br>
               <p>TrueView 插播广告由一系列格式组成，允许观众选择并控制显示哪些广告客户讯息及其显示的时间。
                  <a target="_new" href="//support.google.com/课件TV/bin/answer.py?answer=1205675&amp;hl=zh-CN">
                  了解详情
                  </a>
               </p>
            </div>
            <div id="preview-instream" class="ad-format-preview hid">
               <img src="<%=asset_path('yt/img/in-stream-standard-vflzoarfH.png')%>" /><br>
               <p>标准插播广告是指在主课件播放前、播放期间或播放后插入的课件广告，观众必须先看完广告才能观看所选的课件。
                  <a target="_new" href="//support.google.com/课件TV/bin/answer.py?answer=188038&amp;hl=zh-CN">
                  了解详情
                  </a>
               </p>
            </div>
            <div id="preview-product-placement" class="ad-format-preview hid">
               <p>合作伙伴可以在自己的内容中加入付费产品展示位置。所有产品展示位置都需要符合我们的广告政策。
                  <a target="_new" href="//support.google.com/课件TV/bin/answer.py?answer=154235&amp;hl=zh-CN">
                  了解详情
                  </a>
               </p>
            </div>
            <div id="preview-display" class="ad-format-preview hid">
               <img src="<%=asset_path('yt/img/in-display-vflqN9OMb.png')%>" /><br>
               <p>展示广告（横幅）可以在网站上的所有区域（首页除外）投放。这些广告显示在精选课件右侧和推荐课件列表的上方，大小为 300x250 像素。
                  <a target="_new" href="//support.google.com/课件TV/bin/answer.py?answer=1205617&amp;hl=zh-CN">
                  了解详情
                  </a>
               </p>
            </div>
         </div>
      </div>
      <div class="ad-options-button-area">
         <button type="button" class="yt-uix-overlay-target monetize-overlay-cancel-button bulk-monetize-overlay-cancel-button yt-uix-button yt-uix-button-default" id="overlay-cancel-button" role="button"><span class="yt-uix-button-content">跳过 </span></button>
         <button type="button" class="yt-uix-overlay-target monetize-overlay-monetize-button yt-uix-button yt-uix-button-primary" id="overlay-monetize-button" role="button"><span class="yt-uix-button-content">获利 </span></button>
      </div>
   </div>
	</div>
</div>
<div id="no-adsense-confirmation-overlay-template" style="display:none">
	<div id="no-adsense-confirmation" class="yt-uix-overlay" data-overlay-class="no-adsense-confirmation" data-disable-shortcuts="true">
   <div class="yt-uix-overlay-header">
      <h2>
         如何利用您的课件获利
      </h2>
   </div>
   <div id="no-adsense-confirmation-alert-container">
      <div class="yt-alert yt-alert-default yt-alert-warn hid " id="no-adsense-alert-template">
         <div class="yt-alert-icon">
            <img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="icon master-sprite" alt="&#25552;&#37266;&#22270;&#26631;" />
         </div>
         <div class="yt-alert-buttons"><button type="button" class="close yt-uix-close yt-uix-button yt-uix-button-close" data-close-parent-class="yt-alert" role="button"><span class="yt-uix-button-content">关闭 </span></button></div>
         <div class="yt-alert-content" role="alert"></div>
      </div>
   </div>
   <div class="overlay-content">
      <div class="monetization-instructions">
         <p class="instructions-p">
            点击 $ 图标或在<b>操作</b>下拉菜单中选择“获利”，可利用您的课件获利。
         </p>
         <p class="instructions-p">
            有关详情，请访问您的“帐户设置”中的<a href="/account_monetization" target="_blank">获利</a>。
         </p>
         <div class="got-it-button">
            <button type="button" class="confirmation-overlay-dismiss-button yt-uix-button yt-uix-button-primary" id="confirmation-overlay-dismiss-button" role="button"><span class="yt-uix-button-content">知道了 </span></button>
         </div>
      </div>
      <div class="instructions-image"></div>
   </div>
  </div>
</div>