<div data-widget-id="3" class="dashboard-widget display promos yt-uix-dragdrop-draggable-item">
	<%= render partial:'mine/dashboard_widget_header',locals:{title:'promos',widget:'remove'} %>
	<div class="dashboard-widget-viewport">
		<div class="dashboard-widget-inside clearfix">
			<div class="content">
				<div data-slider-slides="3" data-slide-current="0" class="yt-uix-slider">
					<div class="promos-slider-container">
							<button class="yt-uix-button yt-uix-button-default yt-uix-slider-prev" disabled="disabled">
								<img alt="上一个通知" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-slider-prev-arrow">
							</button> 
							<button class="yt-uix-button yt-uix-button-default yt-uix-slider-next">
								<img alt="下一个通知" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-slider-next-arrow">
							</button>
								<div class="promos-content-container">
									<div class="yt-uix-slider-body">
										<div class="yt-uix-slider-slides">
											<ul class="yt-uix-slider-slide">
												<li class="yt-uix-slider-item">
													<h3 class="promo-title">
														新的概览模板
													</h3>
													<a href="//support.google.com/%E8%AF%BE%E4%BB%B6TV/bin/answer.py?answer=2737256&amp;hl=zh-CN">
														<!-- <img alt="使用新的概览模板新建频道架的屏幕截图。" src="<%=asset_path('yt/img/videomanager/promo-new-overview-template-vflMfG5IO.png')%>" class="promo-image"> -->
													</a>
													<div class="promo-content">
														凭借这一新的频道页面概览模板，您可以突出显示上传的热门课件、最近顶过的课件等。<a href="//support.google.com/%E8%AF%BE%E4%BB%B6TV/bin/answer.py?answer=2737256&amp;hl=zh-CN">了解详情</a>。
													</div>
												</li>
											</ul>
											<ul class="yt-uix-slider-slide">
												<li class="yt-uix-slider-item">
													<h3 class="promo-title">
														向您的课件添加字幕
													</h3><a href="//support.google.com/%E8%AF%BE%E4%BB%B6TV/bin/answer.py?answer=100077&amp;hl=zh-CN">
														<!-- <img alt="在课件上修改字幕的屏幕截图。" src="<%=asset_path('yt/img/videomanager/promo-edit-captions-vflLaewiF.png')%>" class="promo-image"> -->
													</a>
													<div class="promo-content">
														您现在可以使用内嵌编辑器修改您课件的字幕了。<a href="//support.google.com/%E8%AF%BE%E4%BB%B6TV/bin/answer.py?answer=100077&amp;hl=zh-CN">了解详情</a>。
													</div>
												</li>
											</ul>
											<ul class="yt-uix-slider-slide">
												<li class="yt-uix-slider-item">
													<h3 class="promo-title">
														在 Twitter 上关注 @ytcreators
													</h3><a href="https://twitter.com/ytcreators">
														<!-- <img alt="@ytcreators 的 Twitter 屏幕截图。" src="<%=asset_path('yt/img/videomanager/promo-twitter-ytcreators-vflGlyYgk.png')%>" class="promo-image"> -->
													</a>
													<div class="promo-content">
														请关注 课件TV 合作伙伴和创作者的官方 Twitter 页面 <a href="https://twitter.com/ytcreators">@ytcreators</a>，您也可以在 <a href="https://plus.google.com/102302518872558262838/posts">Google+</a>上添加我们。
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
					</div>
					<div class="yt-uix-slider-nums yt-uix-pager">
						<button role="button" data-slider-num="0" class="yt-uix-slider-num yt-uix-slider-num-current yt-uix-button yt-uix-button-default" type="button">
							<span class="yt-uix-button-content">•</span>
						</button> 
						<button role="button" data-slider-num="1" class="yt-uix-slider-num yt-uix-button yt-uix-button-default" type="button">
							<span class="yt-uix-button-content">•</span>
						</button> 
						<button role="button" data-slider-num="2" class="yt-uix-slider-num yt-uix-button yt-uix-button-default" type="button">
							<span class="yt-uix-button-content">•</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>