<div data-widget-id="0" class="dashboard-widget display videos yt-uix-dragdrop-draggable-item">
	<%= render partial:'mine/dashboard_widget_header',locals:{title:'kejians',widget:'config'} %>
	<div class="dashboard-widget-viewport">
		<div class="dashboard-widget-inside clearfix">
			<div class="content">
				<ol class="video-list">
					<% coursewares.each do |item| %>
					<%=render partial: 'mine/dashboard_item',locals:{item:item} %>
					<% end %>
				</ol>
				<div class="view-all-link">
					<a href="/mine/my_coursewares">查看全部</a> &nbsp;»
				</div>
			</div>
			<div class="config">
			   <div class="videos-widget-number-of-items-box">
			      <h3>项数：</h3>
			      <div>
			         <span class="yt-uix-form-input-select ">
			            <span class="yt-uix-form-input-select-content"><img class="yt-uix-form-input-select-arrow" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" /><span class="yt-uix-form-input-select-value"><%= key = current_user.widget_property['kejians'][1] %></span></span>
			            <select class="yt-uix-form-input-select-element videos-widget-count">
										<% ['1','2','3','4','5','10','15','20'].each do |v| %>
			               <option <%if key == v %>selected=""<% end %>value="<%= v %>"><%= v %></option>
										 <% end %>
			            </select>
			         </span>
			      </div>
			   </div>
			   <div class="videos-widget-video-filter-box">
			      <h3>课件过滤器：</h3>
			      <div>
							<% prop = current_user.widget_property['kejians'][2]
							if prop ==''  
								option = '全部'
							elsif prop == 'is:public'
								option = '公开'
							elsif prop == 'is:unlisted'
								option = '不公开'
							elsif prop == 'is:private'
								option = '私有'
							else
								option = '自定义'
							end
								%>
			         <span class="yt-uix-form-input-select ">
			            <span class="yt-uix-form-input-select-content">
										<img class="yt-uix-form-input-select-arrow" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" />
										<span class="yt-uix-form-input-select-value"><%= option %></span>
									</span>
			            <select class="yt-uix-form-input-select-element videos-widget-search-presets">
										<% {
											'all' => '全部',
											'public' =>'公开',
											'unlisted' => '不公开',
											'private' => '私有',
											'custom' => '自定义'
											}.each do |k,v| %>
			               <option <% if option == v %>selected=""<% end %> value="<%= k %>"><%= v %></option>
										 <% end %>
			            </select>
			         </span>
			         <span class=" yt-uix-form-input-container">
								 <input value="<%= current_user.widget_property['kejians'][2] %>" class="yt-uix-form-input-text videos-widget-search-query" disabled="" />
							 </span>
			      </div>
			   </div>
			   <div class="config-controls">
			      <div class="config-controls-left">
			         <button role="button" onclick=";return false;" class="dashboard-widget-remove yt-uix-button yt-uix-button-default" type="button"><span class="yt-uix-button-content">删除 </span></button>
			      </div>
			      <div class="config-controls-right">
			         <button role="button" onclick=";return false;" class="dashboard-widget-dismiss yt-uix-button yt-uix-button-default" type="button"><span class="yt-uix-button-content">取消 </span></button>
			         <button role="button" onclick=";return false;" class="dashboard-widget-save yt-uix-button yt-uix-button-primary" type="button"><span class="yt-uix-button-content">保存 </span></button>
			      </div>
			   </div>
			</div>
		</div>
	</div>
</div>