<div class="clearfix" id="dashboard-header">
	<ul id="dashboard-header-stats">
		<li>
			<div class="dashboard-stat-value">
				<%=current_user.sum_cw_views_count %>
			</div>
			<div class="dashboard-stat-name">
				总课件观看次数
			</div>
		</li>
		<li>
			<div class="dashboard-stat-value">
				<%=current_user.followers_count %>
			</div>
			<div class="dashboard-stat-name">
				订阅人数
			</div>
		</li>
		<li>
			<% if false %>
			<div class="yt-uix-clickcard add-widget-clickcard">
			<span data-orientation="vertical" data-position="topleft" class="yt-uix-clickcard-target">
			<img alt="" class="add-widget-button" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
			</span>
			<div data-widget-limit="10" class="yt-uix-clickcard-content add-widget-menu-content">
				<h2>向您的信息中心添加窗口小部件</h2>
				<div class="too-many-widgets-alert">
					<div class="yt-alert yt-alert-naked yt-alert-warn ">
						<div class="yt-alert-icon">
							<img alt="提醒图标" class="icon master-sprite" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
						</div>
						<div role="alert" class="yt-alert-content">
							<span class="yt-alert-vertical-trick"></span>
							<div class="yt-alert-message">
								 Maximum widget limit reached.
							</div>
						</div>
					</div>
				</div>
				<ul>
					<li>
					<div class="add-widget-menu-item add-widget-videos">
						<div class="add-widget-menu-item-title">
							 视频
						</div>
						<img class="add-widget-menu-item-add" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
						<div class="add-widget-menu-item-added">
							 已添加
						</div>
					</div>
					</li>
					<li>
					<div class="add-widget-menu-item add-widget-comments added">
						<div class="add-widget-menu-item-title">
							 评论
						</div>
						<img class="add-widget-menu-item-add" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
						<div class="add-widget-menu-item-added">
							 已添加
						</div>
					</div>
					</li>
					<li>
					<div class="add-widget-menu-item add-widget-analytics added">
						<div class="add-widget-menu-item-title">
							 关键统计信息
						</div>
						<img class="add-widget-menu-item-add" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
						<div class="add-widget-menu-item-added">
							 已添加
						</div>
					</div>
					</li>
					<li>
					<div class="add-widget-menu-item add-widget-promos added">
						<div class="add-widget-menu-item-title">
							 新增功能
						</div>
						<img class="add-widget-menu-item-add" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
						<div class="add-widget-menu-item-added">
							 已添加
						</div>
					</div>
					</li>
				</ul>
			</div>
		</div>
			<% end %>
		</li>
	</ul>
	<div id="dashboard-header-user-info">
		<a class="yt-user-photo" href="<%=user_path(current_user)%>">
			<span class="video-thumb ux-thumb yt-thumb-square-60">
				<span class="yt-thumb-clip">
					<span class="yt-thumb-clip-inner">
						<img width="60" alt="<%= current_user.name_beautified %>" src="<%=dz_avatar_url(current_user.uid,current_user.email,:small) %>">
					</span>
				</span>
			</span>
		</a>
		<div id="dashboard-header-user-name-and-label">
			<h1>
				<%= current_user.name_beautified %>
			</h1>
		</div>
	</div>
</div>
<div id="vm-general-notifs"></div>

<script type="text/javascript" charset="utf-8">
	<%content_for :butt2 do %>
		$.easing.def = "linear";
  	$('.yt-uix-slider-nums.yt-uix-pager button').live('click',function(){
				var old = $('.yt-uix-slider-nums.yt-uix-pager button.yt-uix-slider-num-current').attr('data-slider-num');
      	var now = $(this).attr('data-slider-num');
				$('.yt-uix-slider').attr('data-slide-current',now);
				var cal = ((old-now)*($('.yt-uix-slider-slide').width()+6)).toString();
				shift(cal);
    });
		$('.yt-uix-slider-prev').live('click',function(){
			var cal = +($('.yt-uix-slider-slide').width()+6).toString();
			var old = $('.yt-uix-slider-nums.yt-uix-pager button.yt-uix-slider-num-current').attr('data-slider-num');
			$('.yt-uix-slider').attr('data-slide-current',(parseInt(old)-1).toString());
			shift(cal);
		});
		$('.yt-uix-slider-next').live('click',function(){
			var cal = -($('.yt-uix-slider-slide').width()+6).toString();
			var old = $('.yt-uix-slider-nums.yt-uix-pager button.yt-uix-slider-num-current').attr('data-slider-num');
			$('.yt-uix-slider').attr('data-slide-current',(parseInt(old)+1).toString());
			shift(cal);
		});
		
		var shift = function(cal){
			now = $('.yt-uix-slider').attr('data-slide-current');
			$('div.yt-uix-slider-slides').animate({
				left: '+='+ cal +'px'
			},'fast','linear',function(){
        $('.yt-uix-slider-nums.yt-uix-pager button.yt-uix-slider-num-current').removeClass('yt-uix-slider-num-current');
        $('.yt-uix-slider-nums.yt-uix-pager button[data-slider-num="'+now+'"]').addClass('yt-uix-slider-num-current');
				if(now=='0'){
					$('.yt-uix-slider-prev').attr('disabled',true);
					$('.yt-uix-slider-next').attr('disabled',false);
				}else if(now == '1'){
					$('.yt-uix-slider-prev').attr('disabled',false);
					$('.yt-uix-slider-next').attr('disabled',false);
				}else if(now == '2'){
					$('.yt-uix-slider-prev').attr('disabled',false);
					$('.yt-uix-slider-next').attr('disabled',true);
				}
			});
		}
	  $('.dashboard-widgets-left,.dashboard-widgets-right').sortable({
	    handle:".yt-uix-dragdrop-drag-handle",
			connectWith:'.yt-uix-dragdrop-container',
	    update: function(){
				var left = new Array();
				var right = new Array();
				$('.dashboard-widgets-left .dashboard-widget').each(function(index,widget){
					left.push($(widget).attr('data-widget-id'));
				});
				$('.dashboard-widgets-right .dashboard-widget').each(function(index,widget){
					right.push($(widget).attr('data-widget-id'));
				});
				$.ajax({
					url:'/ajax/update_widget_sort',
					type:'POST',
					data:{'left':left,'right':right},
					dataType:'json'
				});
	    }
	  });
		$('.yt-uix-dragdrop-drag-handle').disableSelection();
	<% end %>
</script>