<div id="yt-admin-sidebar" class="ytg-1col">
	<span class="yt-uix-button-group vm-upload-menu">
		<button href="/upload" type="button" class="start upload-menu-button yt-uix-button yt-uix-button-default yt-uix-button-short" onclick=";window.location.href=this.getAttribute('href');return false;" role="button">
			<span class="yt-uix-button-content">上传 </span>
		</button>
		<button type="button" class="upload-menu-expand-button end yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-button-empty"  role="button" >
			<img class="yt-uix-button-arrow" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
			<ul class=" yt-uix-button-menu yt-uix-button-menu-default" id="nav-upload" role="menu" aria-haspopup="true" style="display: none;">
				<li role="menuitem" id="aria-id-new">
					<span href="/upload" class="yt-uix-button-menu-item" onclick=";window.location.href=this.getAttribute('href');return false;">上传课件</span>
				</li>
				<li role="menuitem" id="aria-id-create">
					<span href="" class="menu-item-top-divider menu-subheading yt-uix-tooltip yt-uix-button-menu-item" title="正在施工">创作者工具</span>
				</li>
				<li role="menuitem" id="aria-id-ads" class='yt-uix-tooltip'  title='正在施工'>
					<span href="" class="yt-uix-button-menu-item menu-subheading">课件广告</span></li>
			</ul>
	</button>
</span>
  <ol class="vm-vertical-nav">
  	<% {
  	 	'信息中心' => ['/mine/dashboard','/dashboard'],
  	 	'上传的课件' => ['/mine/my_coursewares'],
  		'课件锦囊' => ['/mine/view_all_playlists'],
  		# '版权声明' => '/mine/my_coursewares_copyright',
  		'历史记录' => ['/mine/my_history'],
  		'搜索记录' => ['/mine/my_search_history'],
  		'稍后阅读' => ['/mine/my_watch_later_coursewares'],
  		'收藏' => ['/mine/my_favorites'],
  		'顶过的课件' => ['/mine/my_liked_coursewares']
  	}.each do |key,value| %>
		<% if value.include?(request.path) %>
  		  <li class="selected"><%= key %></li>
	  <% else %>
    	<li>
    		<a href="<%= value[0] %>"><%= key %> </a>
    	</li>	  
    	<% end %>
  	<% end %>
  </ol>
</div>

<script type="text/javascript" charset="utf-8">
	<% content_for :butt2 do %>
  $('.yt-uix-tooltip').tipsy({gravity: $.fn.tipsy.autoNS,fade: <%= @is_WebKit ? 'false' : 'true'%>,opacity: 1});
	$('button.upload-menu-expand-button.end').live('click',function(e){
		$(this).toggleClass('yt-uix-button-active');
		if($(this).hasClass('yt-uix-button-active')){
			var ul = $("#nav-upload");
			ul.remove();
			css = {
				'min-width': ($('button.start.upload-menu-button').width()).toString()+'px',
				'top': ($(this).offset().top + $(this).height()).toString() +'px', 
				'left':  ($('button.start.upload-menu-button').offset().left+60).toString()+'px'
			}
			ul.css(css);
			ul.show();
			ul = $('<span>').append(ul);
			$('#the_ytb').append(ul);
		}else{
			var ul = $("#nav-upload");
			ul.hide();
			ul.parent().remove();
			$(this).append(ul);
		}
		e.stopPropagation();
		
		<% pathx = ['/mine/my_history','/mine/my_watch_later_coursewares','/mine/my_favorites','/mine/my_liked_coursewares'] %>
		<% if request.path=='/mine/my_liked_lists' or request.path == '/mine/view_all_playlists' %>
				    if ($('#vm-new-playlist').hasClass('yt-uix-button-active')) {
				      div = $('#vm-dialog-new-playlist');
				      div.remove();
				      div.addClass('hid');
				      div.hide();
				      $('#yt-admin-content').append(div);
				      $('#vm-new-playlist').toggleClass('yt-uix-button-active');
				    }
				    if($('#vm-playlist-sort-btn').hasClass('yt-uix-button-active')){
				      div = $('ul.yt-uix-button-menu.yt-uix-button-menu-text');
				      div.remove();
				      div.hide().addClass('hid');
				      $('#vm-playlist-sort-btn').removeClass('yt-uix-button-active');
				      $('#vm-playlist-sort-btn').append(div);          
				    }			
		<% elsif pathx.include?(request.path) %>
		    if($('#vm-view-btn').hasClass('yt-uix-button-active')){
					restoreUL('#vm-view-btn');
		    }
				if($('button.addto-button').hasClass('yt-uix-button-active') ){
						$('button.addto-button').removeClass('yt-uix-button-active');
						$('#shared-addto-menu').hide().addClass('hid');
						$('#shared-addto-menu').html(loading);
				}
		<% elsif request.path == '/mine/my_coursewares'%>
			    if($('#vm-view-btn').hasClass('yt-uix-button-active')){
						restoreUL('#vm-view-btn');
			    }
					if($('#vm-playlist-action-menu').hasClass('yt-uix-button-active') ){
						restoreUL('#vm-playlist-action-menu');
					}
					if($('.edit-expand-menu-button.end').hasClass('yt-uix-button-active')){
						restoreUL('.edit-expand-menu-button.end');
					}
		<% end %>
	});
	$(document).click(function(e){
		var target = e.target;
		cleanerUpload(target);
	});
	var cleanerUpload = function(target){
		if($('button.upload-menu-expand-button.end').hasClass('yt-uix-button-active') && !$(target).is('button.upload-menu-expand-button.end')){
			var ul = $("#nav-upload");
			ul.hide();
			ul.parent().remove();
			$('button.upload-menu-expand-button.end').append(ul).removeClass('yt-uix-button-active');
		}
	};
	<% end %>
</script>