<div class="__ytb" id="the_ytb" style="padding-top:13px" dir="ltr">
<div class=" playlist branded-page" id="page">
	<div id="sb-wrapper">
		<div class="sb-card sb-off" id="sb-container">
			<div class="sb-card-arrow">
			</div>
			<div class="sb-card-border">
				<div class="sb-card-body-arrow">
				</div>
				<div id="sb-target" class="sb-card-content">
				</div>
			</div>
		</div>
		<div class="sb-off" id="sb-onepick-target" style="top: 0px;">
		</div>
	</div>




<div id="masthead-container" style="background:transparent !important">
	<!-- begin masthead -->

	<div class="yt-nav yt-nav-dark " id="masthead-subnav" style="width:970px">
		<ul class="yt-nav-aside">
<% if false%>
      <li class="subnav-secondary">
			<a href="/inbox?feature=mhsn" class="yt-nav-item">
			收件箱 (3) </a>
    </li>
  <% end %>
			<li class="subnav-secondary">
			<a href="/account/edit" class="yt-nav-item">
			账号设置 </a>
			</li>
		</ul>
		<ul>
			<li class=" psvr-selected">
			<span class="yt-nav-item">
			课件管理器 </span>
    </li>
    <% if false %>
			<li>
			<a href="https://www.youtube.com/analytics?vmv=2&amp;feature=mhsn" class="yt-nav-item">
			流量统计分析 </a>
			</li>
			<li>
			<a href="/editor?feature=mhsn" class="yt-nav-item">
			收入与财务报告 </a>
			</li>
			<li>
			<a href="/my_subscriptions?feature=mhsn" class="yt-nav-item">
			我的订阅 </a>
    </li>
  <% end %>
		</ul>
	</div>
	<div id="alerts">
	</div>
	<!-- end masthead -->
</div>






	<div id="content-container">
		<!-- begin content -->
		<div id="content" style="width:970px">





      <div id="yt-admin-top" class="ytg-base">
      	<div id="messages" class="yt-message-panel ytg-wide">
      	</div>
      	<div class="hid">
      		<div class="yt-alert yt-alert-default yt-alert-success " id="success-template">
      			<div class="yt-alert-icon">
      				<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="icon master-sprite" alt="提醒图标">
      			</div>
      			<div class="yt-alert-buttons">
      				<button type="button" class="close yt-uix-close yt-uix-button yt-uix-button-close"  data-close-parent-class="yt-alert" role="button"><span class="yt-uix-button-content">关闭 </span></button>
      			</div>
      			<div class="yt-alert-content" role="alert">
      			</div>
      		</div>
      		<div class="yt-alert yt-alert-default yt-alert-error " id="error-template">
      			<div class="yt-alert-icon">
      				<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="icon master-sprite" alt="提醒图标">
      			</div>
      			<div class="yt-alert-buttons">
      				<button type="button" class="close yt-uix-close yt-uix-button yt-uix-button-close"  data-close-parent-class="yt-alert" role="button"><span class="yt-uix-button-content">关闭 </span></button>
      			</div>
      			<div class="yt-alert-content" role="alert">
      			</div>
      		</div>
      		<div class="yt-alert yt-alert-default yt-alert-warn " id="warn-template">
      			<div class="yt-alert-icon">
      				<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="icon master-sprite" alt="提醒图标">
      			</div>
      			<div class="yt-alert-buttons">
      				<button type="button" class="close yt-uix-close yt-uix-button yt-uix-button-close"  data-close-parent-class="yt-alert" role="button"><span class="yt-uix-button-content">关闭 </span></button>
      			</div>
      			<div class="yt-alert-content" role="alert">
      			</div>
      		</div>
      		<div class="yt-alert yt-alert-default yt-alert-info " id="info-template">
      			<div class="yt-alert-icon">
      				<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="icon master-sprite" alt="提醒图标">
      			</div>
      			<div class="yt-alert-buttons">
      				<button type="button" class="close yt-uix-close yt-uix-button yt-uix-button-close"  data-close-parent-class="yt-alert" role="button"><span class="yt-uix-button-content">关闭 </span></button>
      			</div>
      			<div class="yt-alert-content" role="alert">
      			</div>
      		</div>
      		<div class="yt-alert yt-alert-default yt-alert-status " id="status-template">
      			<div class="yt-alert-icon">
      				<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="icon master-sprite" alt="提醒图标">
      			</div>
      			<div class="yt-alert-buttons">
      				<button type="button" class="close yt-uix-close yt-uix-button yt-uix-button-close"  data-close-parent-class="yt-alert" role="button"><span class="yt-uix-button-content">关闭 </span></button>
      			</div>
      			<div class="yt-alert-content" role="alert">
      			</div>
      		</div>
      		<div class="yt-alert yt-alert-naked yt-alert-success " id="success-small-template">
      			<div class="yt-alert-icon">
      				<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="icon master-sprite" alt="提醒图标">
      			</div>
      			<div class="yt-alert-content" role="alert">
      			</div>
      		</div>
      		<div class="yt-alert yt-alert-naked yt-alert-error " id="error-small-template">
      			<div class="yt-alert-icon">
      				<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="icon master-sprite" alt="提醒图标">
      			</div>
      			<div class="yt-alert-content" role="alert">
      			</div>
      		</div>
      		<div class="yt-alert yt-alert-naked yt-alert-warn " id="warn-small-template">
      			<div class="yt-alert-icon">
      				<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="icon master-sprite" alt="提醒图标">
      			</div>
      			<div class="yt-alert-content" role="alert">
      			</div>
      		</div>
      		<div class="yt-alert yt-alert-naked yt-alert-info " id="info-small-template">
      			<div class="yt-alert-icon">
      				<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="icon master-sprite" alt="提醒图标">
      			</div>
      			<div class="yt-alert-content" role="alert">
      			</div>
      		</div>
      		<div class="yt-alert yt-alert-naked yt-alert-status " id="status-small-template">
      			<div class="yt-alert-icon">
      				<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="icon master-sprite" alt="提醒图标">
      			</div>
      			<div class="yt-alert-content" role="alert">
      			</div>
      		</div>
      	</div>
      </div>
			
			
		
