<% uplist.each do |item| %>
<li id="vm-playlist-<%= item.id %>" style="margin-right:2px">
<div class="vm-video-item-content">
	<div class="vm-pl-thumbs">
		<% if item.content.count <=0 %>
		<div class="vm-pl-empty">
			<span>该列表为空。</span>
		</div>
		<% else %>
		<a class="yt-uix-sessionlink" href="/coursewares?watch_all=<%= item.id %>">
		<span class="playlist-thumb-strip playlist-thumb-strip-350">
		  <span class="videos videos-<%= item.content.count > 6 ? 6 : item.content.count %> vertical-cutoff">
        <% item.content.each_with_index do |id,index| %>
           <% if index > 5 
                break
             end %>
             <% cw = Courseware.find(id) %>
				    <% if item.content.count < 3  
				          src = asset_url_eb(cw.ktvid.to_s + '/slide_0.jpg')
			         else
			            src = asset_url('cw/'+ cw.ktvid.to_s + '/thumb_slide_0.jpg')
		           end
				      %>                      
				    <span class="clip">
				      <span class="centering-offset">
				        <span class="centering">
				          <span class="ie7-vertical-align-hack">&nbsp;</span>
				            <img class="thumb" alt="" src="<%= src %>">
				        </span>
				      </span>
				    </span>
		    <% end %>
		</span>
		<span class="resting-overlay">
			<img alt="Play all" class="play-button" src="<%= asset_path 'yt/img/pixel-vfl3z5WfW.gif' %>">
			<span class="video-count-box">
			  <%= item.content.count %> 个课件 
			</span>
		</span>
				<span class="hover-overlay">
				  <span class="play-all-container">
				    <strong><img alt="" src="<%= asset_path 'yt/img/mini-play-all-vflZu1SBs.png' %>">全部播放</strong>
				  </span>
				</span>
		</span>
		</a>
		<% end %>
	</div>

	<div class="vm-pl-item-inner-content">
		<div class="vm-pl-title vm-video-title">
			<a class="vm-video-title-text" href="/play_lists/<%= item.id %>"><%= item.title %></a>
		</div>
		<div class="vm-pl-description vm-video-info">
			<span class="vm-pl-title-badges">
			<a href="/play_lists/<%= item.id %>/edit">
			<% if item.privacy == 0 %>  
				<span title="公开" class="vm-video-privacy vm-public yt-uix-tooltip yt-uix-tooltip-reverse">
				    <img alt="公开" src="<%= asset_path 'yt/img/pixel-vfl3z5WfW.gif' %>">
				</span>
			<% else %>
				<span title="私有" class="vm-video-privacy vm-private yt-uix-tooltip yt-uix-tooltip-reverse" data-tooltip-text="私有">
              <img alt="私有" src="<%= asset_path 'yt/img/pixel-vfl3z5WfW.gif' %>">
        </span>
      <% end %>
			</a>
			</span>
			<p>
				<%= item.desc %>
			</p>
		</div>
	</div>
	<div class="vm-pl-edit">
		<button role="button"  class="yt-uix-button yt-uix-button-default" type="button" href="/play_lists/<%= item.id %>/edit"><span class="yt-uix-button-content">修改 </span></button>
	</div>
</div>
</li>
<% end %>