<% content_for :armpit do %>
<%=stylesheet_link_tag 'ktv/__ytb' %>
<%=stylesheet_link_tag "ktv/__ytb_manager", :media=>"all" %>
<%=stylesheet_link_tag "ktv/__ytb_dashboard", :media=>"all" %>
<%=stylesheet_link_tag "ktv/__ytb_contract", :media=>"all" %>
<% end %>
<%=render 'mine_above' %>
<div class="ytg-fl vm-has-videolist vm-list-view vm-dashboard" id="yt-admin">
	<%=render 'manager_nav' %>
	<div class="ytg-fl dashboard_content" id="yt-admin-content" style="padding-bottom:100px">
		<%= render partial:'dashboard_header' %>
		<div class="yt-uix-dragdrop dashboard-widgets">
			<div class="dashboard-widgets-left yt-uix-dragdrop-container">
				<% current_user.widget_sort['left'].each do |w| %>
				<%= render partial:'dashboard_widget_'+w ,locals:{coursewares:@coursewares}%>
				<% end %>
			</div>
			<div class="dashboard-widgets-right yt-uix-dragdrop-container">
				<%= render partial:'dashboard_notification' %>
				<% current_user.widget_sort['right'].each do |w| %>
				<%= render partial:'dashboard_widget_'+w,locals:{coursewares:@coursewares}%>
				<% end %>
			</div>
		</div>
	</div>
</div>
<%=render 'mine_below' %>
