<% content_for :armpit do %>
<%=stylesheet_link_tag 'ktv/__ytb' %>
<%=stylesheet_link_tag "ktv/__ytb_manager", :media=>"all" %>
<%=stylesheet_link_tag "ktv/__ytb_dashboard", :media=>"all" %>
<%=stylesheet_link_tag "ktv/__ytb_contract", :media=>"all" %>
<% end %>
<%=render 'mine_above' %>
<div class="ytg-fl vm-has-videolist vm-list-view vm-dashboard" id="yt-admin">
	<%=render 'manager_nav' %>
	<div class="ytg-fl dashboard_content" id="yt-admin-content" style="padding-bottom:100px">
		<%= render partial:'dashboard_header' %>
		<div class="yt-uix-dragdrop dashboard-widgets">
			<div class="dashboard-widgets-left yt-uix-dragdrop-container">
				<div data-widget-id="0" class="dashboard-widget display videos yt-uix-dragdrop-draggable-item">
					<%= render partial:'dashboard_widget_header',locals:{title:'课件',widget:'config'} %>
					<div class="dashboard-widget-viewport">
						<div class="dashboard-widget-inside clearfix">
							<div class="content">
								<ol class="video-list">
									<% @coursewares.each do |item| %>
										<%=render partial: 'dashboard_item',locals:{item:item} %>
									<% end %>
								</ol>
								<div class="view-all-link">
									<a href="/mine/my_coursewares">查看全部</a> &nbsp;»
								</div>
							</div>
						</div>
					</div>
				</div>
				<div data-widget-id="1" class="dashboard-widget display comments yt-uix-dragdrop-draggable-item">
					<%= render partial:'dashboard_widget_header',locals:{title:'评论',widget:'config'} %>
					<div class="dashboard-widget-viewport">
						<div class="dashboard-widget-inside clearfix">
							<div class="content">
								<ol class="comment-list">
									<li class="dashboard-widget-item selectable-item comment-list-item">
										<div class="comment-thumb">
											<a href="/user/libersnail?feature=vmdshb"><span class="video-thumb ux-thumb yt-thumb-square-28"><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="28" alt="缩略图" src="https://lh5.googleuserconAAAAAAA/Hh1gHr3Vd0M/s28-c-k/photo.jpg"></span></span></span></a>
										</div>
										<div class="comment-body">
											<span class="comment-heading"><a href="/user/libersnail?feature=vmdshb">Liber Liu</a>评论了Will Power</span>
											<div class="comment-comment">
												<img alt="" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="quotation-mark"> <a href="/watch?v=JZtQ25v7XsQ&amp;feature=vmdshb">......................................无语了﻿</a>
											</div>
											<ul class="comment-list-item-links">
												<li>1 年前
												</li>
												<li class="vm-link">
													<a href="DbVqsiMbx1Cllu8L4DmoocQ&amp;feature=vmdshb">回复</a>
												</li>
											</ul>
										</div>
									</li>
								</ol>
								<div class="view-all-link">
									<a href="/inbox?feature=vmdshb#comments/1">查看全部</a> &nbsp;»
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="dashboard-widgets-right yt-uix-dragdrop-container">
				<%= render partial:'dashboard_notification' %>
				<div data-widget-id="2" class="dashboard-widget display analytics yt-uix-dragdrop-draggable-item">
					<%= render partial:'dashboard_widget_header',locals:{title:'过去 30 天的主要统计信息',widget:'remove'} %>
					<div class="dashboard-widget-viewport">
						<div class="dashboard-widget-inside clearfix">
							<div class="content">
								<a href="https://www.%E8%AF%BE%E4%BB%B6TV.com/analytics?feature=vmdshb"></a>
								<div class="clearfix section">
									<div class="section-sparkline">
										<img width="55" height="55" src="https://chart.googleapis.com/chart?chxt=r&amp;chd=s%3A&amp;chxs=0N%2Af0s%2A%2C%2C9%2C1%2C_&amp;chxr=0%2C0%2C4&amp;chco=5f8fc9&amp;chs=55x55&amp;cht=ls"> <img width="128" height="55" alt="显示过去 30 天您获得的观看次数的图表。" src="https://chart.googleapis.com/chart?chxt=&amp;chd=s%3APAPAAAAAfPAAAAPffPPfPAAuAAffA&amp;chxs=0N%2Af0s%2A%2C%2C9%2C1%2C_&amp;chxr=0%2C0%2C4&amp;chco=5f8fc9&amp;chs=128x55&amp;cht=ls">
									</div>
									<div class="section-value">
										22
									</div>
									<div class="section-label">
										课件观看次数
									</div>
								</div>
								<div class="clearfix section">
									<div class="section-sparkline">
										<img width="55" height="55" src="https://chart.googleapis.com/chart?chxt=r&amp;chd=s%3A&amp;chxs=0N%2Af0s%2A%2C%2C9%2C1%2C_&amp;chxr=0%2C0%2C4&amp;chco=5f8fc9&amp;chs=55x55&amp;cht=ls"> <img width="128" height="55" alt="显示过去 30 天您所获订阅次数的变化情况的图表。" src="https://chart.googleapis.com/chart?chxt=&amp;chd=s%3AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA&amp;chxs=0N%2Af0s%2A%2C%2C9%2C1%2C_&amp;chxr=0%2C0%2C4&amp;chco=5f8fc9&amp;chs=128x55&amp;cht=ls">
									</div>
									<div class="section-value">
										0
									</div>
									<div class="section-label">
										订阅人数净变化
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div data-widget-id="3" class="dashboard-widget display promos yt-uix-dragdrop-draggable-item">
					<%= render partial:'dashboard_widget_header',locals:{title:'新增内容',widget:'remove'} %>
					<div class="dashboard-widget-viewport">
						<div class="dashboard-widget-inside clearfix">
							<div class="content">
								<div data-slider-slides="3" data-slide-current="0" class="yt-uix-slider">
									<div class="promos-slider-container">
											<button class="yt-uix-button yt-uix-button-default yt-uix-slider-prev" disabled="disabled">
												<img alt="上一个通知" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-slider-prev-arrow">
											</button> 
											<button class="yt-uix-button yt-uix-button-default yt-uix-slider-next">
												<img alt="下一个通知" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-slider-next-arrow">
											</button>
												<div class="promos-content-container">
													<div class="yt-uix-slider-body">
														<div class="yt-uix-slider-slides">
															<ul class="yt-uix-slider-slide">
																<li class="yt-uix-slider-item">
																	<h3 class="promo-title">
																		新的概览模板
																	</h3>
																	<a href="//support.google.com/%E8%AF%BE%E4%BB%B6TV/bin/answer.py?answer=2737256&amp;hl=zh-CN">
																		<!-- <img alt="使用新的概览模板新建频道架的屏幕截图。" src="<%=asset_path('yt/img/videomanager/promo-new-overview-template-vflMfG5IO.png')%>" class="promo-image"> -->
																	</a>
																	<div class="promo-content">
																		凭借这一新的频道页面概览模板，您可以突出显示上传的热门课件、最近顶过的课件等。<a href="//support.google.com/%E8%AF%BE%E4%BB%B6TV/bin/answer.py?answer=2737256&amp;hl=zh-CN">了解详情</a>。
																	</div>
																</li>
															</ul>
															<ul class="yt-uix-slider-slide">
																<li class="yt-uix-slider-item">
																	<h3 class="promo-title">
																		向您的课件添加字幕
																	</h3><a href="//support.google.com/%E8%AF%BE%E4%BB%B6TV/bin/answer.py?answer=100077&amp;hl=zh-CN">
																		<!-- <img alt="在课件上修改字幕的屏幕截图。" src="<%=asset_path('yt/img/videomanager/promo-edit-captions-vflLaewiF.png')%>" class="promo-image"> -->
																	</a>
																	<div class="promo-content">
																		您现在可以使用内嵌编辑器修改您课件的字幕了。<a href="//support.google.com/%E8%AF%BE%E4%BB%B6TV/bin/answer.py?answer=100077&amp;hl=zh-CN">了解详情</a>。
																	</div>
																</li>
															</ul>
															<ul class="yt-uix-slider-slide">
																<li class="yt-uix-slider-item">
																	<h3 class="promo-title">
																		在 Twitter 上关注 @ytcreators
																	</h3><a href="https://twitter.com/ytcreators">
																		<!-- <img alt="@ytcreators 的 Twitter 屏幕截图。" src="<%=asset_path('yt/img/videomanager/promo-twitter-ytcreators-vflGlyYgk.png')%>" class="promo-image"> -->
																	</a>
																	<div class="promo-content">
																		请关注 课件TV 合作伙伴和创作者的官方 Twitter 页面 <a href="https://twitter.com/ytcreators">@ytcreators</a>，您也可以在 <a href="https://plus.google.com/102302518872558262838/posts">Google+</a>上添加我们。
																	</div>
																</li>
															</ul>
														</div>
													</div>
												</div>
									</div>
									<div class="yt-uix-slider-nums yt-uix-pager">
										<button role="button" data-slider-num="0" class="yt-uix-slider-num yt-uix-slider-num-current yt-uix-button yt-uix-button-default" type="button">
											<span class="yt-uix-button-content">•</span>
										</button> 
										<button role="button" data-slider-num="1" class="yt-uix-slider-num yt-uix-button yt-uix-button-default" type="button">
											<span class="yt-uix-button-content">•</span>
										</button> 
										<button role="button" data-slider-num="2" class="yt-uix-slider-num yt-uix-button yt-uix-button-default" type="button">
											<span class="yt-uix-button-content">•</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%=render 'mine_below' %>
