<% content_for :armpit do %>
  <%= stylesheet_link_tag "ktv/__yk", :media => "all" %>
<% end %>
<% content_for :body_style do %>background: none repeat scroll 0 0 #D3EAF4<% end %>

<div class="__yk">
   <div class="window">
      <div class="screen">
         <div class="s_body">
            <div _ucpage="listvideo" _uc="mg" class="KTV">
               <div class="KTV_layout_12">
                  <div style="padding-bottom:0;height:auto;" class="KTV_body">
                     <div class="KTV_dashboard">
                        <!--课件管理-->
                        <div class="KTV_button">
                           <div class="form_btn form_btn_m form_btnsub_m">
                            <%= link_to '上传课件',new_courseware_path,:class => 'form_btn_txt',:_hz => 'l_upload'%>          
                           </div>
                        </div>
                        <div class="KTV_text"><span>我的课件</span></div>
                        <ul class="KTV_menu">
                           <li class="current"><%= link_to '我上传的',mine_url%></li>
                           <li><%= link_to '我收藏的',coursewares_mine_url%></li>
                        </ul>
                        <ul class="KTV_submenu">
                           <li><a target="_blank" href="http://www.youku.com/service/feed/subtype/1">
                            报告课件问题
                           </a></li>
                        </ul>
                     </div>
                     <!-- .KTV_dashboard -->
                     <div class="KTV_main">
                        <div style="padding-bottom:0;" class="KTV_section">
                           <div class="KTV_box">
                              <div class="bd">
                                 <div class="KTV_tab">
                                    <ul>
                                       <li class="current"><a href="javascript:;">已上传(<%= @coursewares.count %>)</a></li>
                                       <li><a onclick="hz.handler_object(1,'lost')" href="/u/videos/lost">发布失败(0)</a></li>
                                    </ul>
                                    <form name="searchvideoform" id="searchvideoform" method="get" action="/u/videos/search">
                                       <div class="KTV_search">
                                          <div class="searchinput"><input type="text" class="form_input form_input_s form_input_defaultvalue" value="" id="searchvideoinput" name="q" _init_v="" /></div>
                                          <div class="form_btn form_btn_s form_btnsub_s" id="searchvideobtn"><span class="form_btn_text">搜 索</span></div>
                                       </div>
                                    </form>
                                 </div>
                                 <!--KTV_tab end-->
                                 <div class="KTV_manager">
                                    <div class="manager_con">
                                       <div class="databox">
                                          <table cellspacing="0" cellpadding="0" border="0">
                                             <thead>
                                                <tr class="">
                                                   <th class="m_check">
                                                      <div class="check"><input type="checkbox" id="check_all" onclick="mg.check_all(1);" /><label for="check_all">课件</label></div>
                                                   </th>
                                                   <th class="m_video">&nbsp;</th>
                                                   <th class="m_stat">状态</th>
                                                   <th class="m_heat">热度</th>
                                                   <th class="m_opt">操作</th>
                                                </tr>
                                             </thead>
                                             <tbody id="videolist">
                                                <% @courseware.each do |cw| %>
                                                <tr class="" id="">
                                                   <td class="m_check">
                                                      <div class="check"><input type="checkbox" name="videos[]" value="<%= cw.id %>" id="input<%= cw.created_at.to_i %>" /><label for="input<%= cw.created_at.to_i %>"></label></div>
                                                   </td>
                                                   <td class="m_video">
                                                      <ul class="v vsh">
                                                         <li class="v_link"><%= link_to '',cw,:title=>cw.title,:target => '_blank' %></li>
                                                         <li class="v_thumb"><img title="<%= cw.title %>" alt="<%= cw.title %>" src="http://ktv-pic.b0.upaiyun.com/cw/<%= cw.id.to_s %>/<%= cw.pinpicname %>" /></li>
                                                         <li class="v_ishd"></li>
                                                         <li class="v_time"><span class="num"><%= cw.topic %></span><span class="bg"></span></li>
                                                         <li class="v_ishd"></li>
                                                         <li class="v_title">
                                                            <%= link_to cw.title,cw,:target => '_blank' %>
                                                         </li>
                                                         <li class="v_info">
                                                            <span title="所有人可见" class="icon unlock">
                                                            <em>priority</em>
                                                            </span>								
                                                            <span class="num"><%= cw.created_at.strftime('%Y-%m-%d %H:%M:%S') %></span>
                                                         </li>
                                                      </ul>
                                                   </td>
                                                   <td class="m_stat">
                                                      <div class="stat">
                                                         <div class="stat_cont">
                                                            <div class="complete"><span><%= Courseware::STATE_TEXT[Courseware::STATE_SYM[cw.status]] %></span></div>
                                                         </div>
                                                      </div>
                                                   </td>
                                                   <td class="m_heat">
                                                      <ul class="heat">
                                                         <li>
                                                            <a href="/u/videos/info/id_XMzY1NTYxMTY0.html" target="_blank" _hz="v_pv"><span title="查看次数" class="ico__statplay"></span><%= cw.views_count %></a>
                                                         </li>
                                                         <li>
                                                            <a href="http://v.youku.com/v_show/id_XMzY1NTYxMTY0.html" target=" _blank" _hz="v_comment"><span class="ico__statcomment" title="评论次数"></span><%= cw.comments_count %></a>
                                                         </li>
                                                         <li>
                                                            <a href="/u/videos/info/id_XMzY1NTYxMTY0.html" target="_blank" _hz="v_reference"><span title="下载次数" class="ico__refer"><em>
                                                                下载
                                                            </em></span><%= cw.downloads_count %></a>
                                                         </li>
                                                         <li>
                                                             <a href="/u/videos/info/id_XMzY1NTYxMTY0.html" target="_blank" _hz="v_reference"><span title="喜欢次数" class="ico__refer"></span><%= cw.thanked_count  %></a>
                                                          </li>
                                                      </ul>
                                                   </td>
                                                   <td class="m_opt">
                                                      <div class="action" id="">
                                                         <span><%= link_to '编辑',edit_courseware_path(cw),:_hz => 'edit',:target => '_blank',:class => 'edit_mine' %></span>
                                                         <span style="display: none;" class="del"><!-- <a _click="svdel" href="javascript:;">删除</a> --><%= link_to '删除',courseware_path(cw),:method => :delete, :confirm => '您确认要删除这个课件吗？' %></span>
                                                             <!-- JiaThis Button BEGIN -->
                                                             <div class="jiathis_style" style="display:none">
                                                             	<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt" target="_blank">
                                                             	  分享bugs
                                                             	</a>
                                                             	<a class="jiathis_counter_style_margin:3px 0 0 2px"></a>
                                                             </div>
                                                             <!-- JiaThis Button END -->
                                                         
                                                      </div>
                                                   </td>
                                                </tr>
                                                <% end %>
                                             </tbody>
                                             <tfoot>
                                                <tr>
                                                   <td class="m_check">
                                                      <div class="check"><input type="checkbox" onclick="mg.check_all(2);" id="check_all_foot" /><label for="check_all_foot">
                                                        课件
                                                      </label></div>
                                                   </td>
                                                   <td class="m_video">&nbsp;</td>
                                                   <td class="m_stat">&nbsp;</td>
                                                   <td class="m_heat">&nbsp;</td>
                                                   <td class="m_opt"><div class="pagination"></div></td>
                                                </tr>
                                             </tfoot>
                                          </table>
                                       </div>
                                    </div>
                                    <!--manager_con end-->	
                                    <div class="manager_tool">
                                       <div class="manager_action">
                                          <div id="adddel" class="adddel">
                                             <div class="fn2nd">
                                                <a _p="0" href="javascript:;" <!-- onclick="mg.getPlaylit(this);" -->>添加到文件夹</a>
                                             </div>
                                             <div class="fn2nd">
                                                <a href="javascript:;"  _click="deletevideo">删除</a>
                                                <div id="tmpdel" style="display:none"></div>
                                             </div>
                                          </div>
                                       </div>
                                       <!--manager_action end-->
                                       <div class="clear"></div>
                                    </div>
                                    <!--manager_tool end-->
                                 </div>
                                 <!--KTV_manager end-->		
                              </div>
                              <!--bd end-->
                           </div>
                        </div>
                     </div>
                     <!--main end-->
                     <div class="clear"></div>
                  </div>
                  <!--KTVbody end-->
               </div>
               <!--layout end-->
              
            </div>
         </div>
      </div>
   </div>
</div>

<div class="KTV_manager_tips" style="display:none;">
	<!--查询为空提示-->
	<div id="searchLayer">
		<div class="searchvideo"><label><em>提示</em></label>请输入关键字</div>
	</div>	
	<div id="cont0">
		<div class="manager_tips">
			<div class="tips_title"><span class="ico__fail"><em>提示</em></span>您确定要删除此视频么？</div>
			<div class="tips_action"><div onclick="mg.deletevideook('single')" class="form_btn form_btn_s form_btnmaj_s"><span class="form_btn_text">确 定</span></div><div onclick="mg.qwindow.hide()" class="form_btn form_btn_s form_btnsub_s"><span class="form_btn_text">取 消</span></div></div>
		</div>
	</div>
	
	<div id="cont1">
		<div class="manager_tips">
			<div class="tips_title"><span class="ico__fail"><em>提示</em></span>您将删除replaceNum个视频，请输入登录密码确认。</div>
				<div class="tips_content">
				<span>
					<input type="password" value="" class="form_input form_input_defaultvalue" id="passwd">
				</span>
				<span class="error" style="display:none" id="passwderror">密码错误</span>
			</div>
			<div class="tips_action"><div onclick="mg.deletevideook('some')" class="form_btn form_btn_s form_btnmaj_s"><span class="form_btn_text">确  定</span></div><div onclick="mg.qwindow.hide()" class="form_btn form_btn_s form_btnsub_s"><span class="form_btn_text">取  消</span></div></div>
		</div>
	</div>
	<div id="cont2">
		<div class="manager_tips">
			<div class="tips_title"><span class="ico__fail"><em>提示</em></span>解除视频推荐</div>
			<div class="tips_content"><span>
			该视频当前正在被优酷官方推荐，为了保证推荐效果，暂时不允许对该视频进行编辑操作。如果您希望编辑或删除该视频，请点击【申请解除推荐】按钮提交申请，工作人员稍后将会进行处理。
			</span></div>
			<div class="tips_action"><div onclick="mg.unrecommendok()" class="form_btn form_btn_s form_btnmaj_s"><span class="form_btn_text">申请解除推荐</span></div><div onclick="mg.qwindow.hide()" class="form_btn form_btn_s form_btnsub_s"><span class="form_btn_text">取消</span></div></div>
		</div>
	</div>
	
	<div id="cont3">
		<div class="manager_tips">
			<div class="tips_title"><span class="ico__fail"><em>提示</em></span>请先选择视频</div>
		</div>
	</div>
	<div id="cont4">
		<div class="manager_tips">
			<div class="tips_title"><span class="ico__success"><em>提示</em></span>删除成功</div>
		</div>
	</div>
	<div id="cont5">
		<div class="manager_tips">
			<div class="tips_title">删除失败，请刷新页面重试</div>
			<div class="tips_action"><div class="form_btn form_btn_s form_btnmaj_s" onclick="mg.qwindow.hide()"><span class="form_btn_text">知道了</span></div></div>
		</div>
	</div>
	<div id="cont6">
		<div class="managershare" style="display: block;">
			<div class="p1">
				<h3 class="title">将"%title"分享给站外好友</h3>
				<div class="item">
					<span class="label">视频地址：</span><input type="text" class="form_input form_input_s form_input_defaultvalue" value="%url" />
					<div class="form_btn form_btn_s form_btnsub_s"><span class="form_btn_text" onclick="javascript:mg.copy2Clipboard(this);">复　制</span></div>
				</div>
				<h4>把视频贴到Blog或BBS</h4>
				<div class="help"><a target="_blank" href="http://www.youku.com/help/view/fid/4#q2">怎么贴?</a></div>
				<div class="item">
					<span class="label">flash地址：</span> <input  type="text" class="form_input form_input_s form_input_defaultvalue" value="http://player.youku.com/player.php/sid/XMTA5OTI4ODg4/v.swf" />
					<div class="form_btn form_btn_s form_btnsub_s"><span class="form_btn_text" onclick="javascript:mg.copy2Clipboard(this);">复　制</span></div>
				</div>
				<div class="item">
					<span class="label">html代码：</span> <input  type="text" class="form_input form_input_s form_input_defaultvalue" value='<embed src="http://player.youku.com/player.php/sid/%eid/v.swf" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>' />
					<div class="form_btn form_btn_s form_btnsub_s"><span class="form_btn_text" onclick="javascript:mg.copy2Clipboard(this);">复　制</span></div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="copyerror">复制失败，请选中文字，在右键菜单中选择复制或按Ctrl+C复制</div>
		</div>
	</div>
	<div id="listEditBox" style="display:none;">
	<div class="listEditBox">
		<div class="tab">
			<ul class="menus">
				<li class="current"><span>全部</span></li>
				<li><a onclick="mg.PlaylistS(1);">已选</a></li>
			</ul>
			<span class="extand l_b_ex">将20个视频添加到专辑</span>
			<div class="close"></div>
		</div>
		<div class="line_dot"></div>
		<ul class="list l_b_all">

		</ul>
		<ul class="list l_b_select" style="display:none;">

		</ul>
		<div class="action"><div class="form_btn form_btn_m form_btnmaj_m form_btn_disabled l_b_sub"><span class="form_btn_text">确&#12288;定</span></div><div onclick="mg.PlaylistW.hide()" class="form_btn form_btn_m form_btnsub_m"><span class="form_btn_text">取&#12288;消</span></div></div>
		<div class="qPager l_b_Pager"></div>
	</div>
	</div><!-- end listEditBox -->

</div>
</div><!--s_body-->


<% content_for :butt do %>
    <%= javascript_include_tag 'ktv/prototype' %>
    <%= javascript_include_tag 'ktv/manager' %>
    <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=1334637994605266" charset="utf-8"></script>
    
<% end %>