<% content_for :armpit do %>
  <%= stylesheet_link_tag 'ktv/__ytb' %>
  <%= stylesheet_link_tag "ktv/__ytb_manager", :media => "all" %>
<% end %>


<%= render 'mine_above' %>
<div id="yt-admin" class="ytg-fl vm-has-videolist vm-list-view">
	<%= render 'manager_nav' %>
	<div id="yt-admin-content" class="ytg-fl ">
		<div id="vm-page-subheader" class="clearfix">
			<div class="vm-page-subheader-content">
				<h3>上传的课件</h3>
				<span id="vm-num-videos-shown" class="yt-badge-vm"><%= current_user.upload_count %></span>
			</div>
		<%= render partial:'my_courseware_search' %>
		</div>

		<%= render partial:'my_courseware_header' %>
		<%  if false  %>
				<%=	render partial:'my_courseware_ads' %>
		<% end %> 
		<div id="vm-video-list-container">
			<ol id="vm-playlist-video-list-ol" class="vm-video-list">
				<% @coursewares.each do |item| %>
					<%= render partial:'my_courseware_item',locals:{item:item}%>
				<% end %>
			</ol>
		</div>
		<%=render :partial=>'pagination',locals:{coursewares_ids:@coursewares}%>
	</div>
</div>
<%= render :partial=>'addto_loading' %>

<% if false %>
<%= render partial:'my_courseware_dialog' %>
<% end %>
<%= render 'mine_below' %>

