<% content_for :armpit do %>
  <%= stylesheet_link_tag 'ktv/__ytb' %>
  <%= stylesheet_link_tag "ktv/__ytb_manager", :media => "all" %>
<% end %>


<%= render 'mine_above' %>





  <div class="ytg-fl vm-has-videolist vm-list-view" id="yt-admin">
	  <%= render 'manager_nav' %>

  	<div class="ytg-fl " id="yt-admin-content">
  		<div class="clearfix" id="vm-page-subheader">
  			<div class="vm-page-subheader-content">
  				<h3>版权声明</h3>
  			</div>
  		</div>
  		<div style="">
  		</div>
  		<div class="vm-my-copyright goog-scrollfloater scrollfloat" id="vm-video-actions-bar" style="">
  			<div id="vm-video-actions-inner">
  				<span class="vm-copyright-filter-wrapper"><span id="vm-view-filter">
  				<span id="vm-view-filter-label">观看：</span>
  				<button aria-activedescendant="" aria-haspopup="true" aria-expanded="false" aria-pressed="false" role="button" class="yt-uix-button yt-uix-button-text"  id="vm-view-btn" type="button" aria-labelledby="vm-view-filter-label"><span class="yt-uix-button-content">全部 </span><img alt="" src= "<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-arrow">
  				<ul style="min-width: 58px; left: 463px; top: 207px; display: none;" aria-haspopup="true" role="menu" class="yt-uix-button-menu yt-uix-button-menu-text hid">
  					<li id="aria-id-54743476738" role="menuitem"><span class=" yt-uix-button-menu-item"  id="copyright_strikes" href="?vmo=copyright_strikes&amp;ls=copyright_strikes">版权警示</span></li>
  					<li id="aria-id-68423675412" role="menuitem"><span class=" yt-uix-button-menu-item"  id="content_id_matches" href="?vmo=content_id_matches&amp;ls=content_id_matches">内容匹配</span></li>
  				</ul>
  				</button>
  				</span>
  				</span>
  			</div>
  		</div>
  		<div id="vm-video-list-container">
  			<ol class="vm-video-list" id="vm-playlist-video-list-ol">
  				<li class="vm-video-item " id="vm-video-rZmt-axGFBk">
  				<div class="vm-video-item-content">
  					<div class="vm-thumb">
  						<a data-sessionlink="ei=CMrwlKTOgrMCFdGGIQodBkpcuA%3D%3D" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink " href="/watch?v=rZmt-axGFBk"><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="120" alt="缩略图" src="//i3.ytimg.com/vi/rZmt-axGFBk/default.jpg"><span class="vertical-align"></span></span></span></span><span class="video-time">0:45</span></a>
  						<div class="vm-thumb-overlay">
  						</div>
  					</div>
  					<div class="vm-video-info-container">
  						<div class="vm-video-title">
  							<span id="checkbox_rZmt-axGFBk" class="vm-video-title-container yt-uix-tooltip">
  							<a data-sessionlink="ei=CMrwlKTOgrMCFdGGIQodBkpcuA%3D%3D" class="vm-video-title-content yt-uix-sessionlink" href="/watch?v=rZmt-axGFBk">CNUKejian Trailer.m4v</a>
  							</span>
  							<span class="vm-video-title-badges">
  							</span>
  						</div>
  						<span class="vm-video-info vm-date-info">
  						<span data-format="longdate" data-timestamp="1308550454" class="localized-date">2011年06月20日14:14</span>
  						</span>
  						<div class="vm-video-info">
  							<div class="vm-video-info vm-owner-bar">
  								<span class="yt-uix-button-group">
  								<a data-sessionlink="ei=CMrwlKTOgrMCFdGGIQodBkpcuA%3D%3D" class="yt-uix-button yt-uix-sessionlink start vm-playlist-edit-video vm-edit-button-link yt-uix-button-default" href="/my_videos_edit?ns=1&amp;video_id=rZmt-axGFBk"><span class="yt-uix-button-content">修改</span></a><button aria-activedescendant="" aria-haspopup="true" aria-expanded="false" aria-pressed="false" role="button"  class="edit-expand-menu-button end yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-button-empty" type="button"><img alt="" src= "<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-arrow">
  								<ul style="display: none;" aria-haspopup="true" role="menu" class=" yt-uix-button-menu yt-uix-button-menu-default">
  									<li id="aria-id-61728517304" role="menuitem"><span  class="vm-video-info-and-settings yt-uix-button-menu-item" href="/my_videos_edit?ns=1&amp;feature=vm&amp;video_id=rZmt-axGFBk">信息和设置</span></li>
  									<li id="aria-id-98952177159" role="menuitem"><span  class="vm-video-enhancements yt-uix-button-menu-item" href="/enhance?feature=vm&amp;v=rZmt-axGFBk">增强功能</span></li>
  									<li id="aria-id-78245777624" role="menuitem"><span  class="vm-video-audio yt-uix-button-menu-item" href="/audio?feature=vm&amp;v=rZmt-axGFBk">音频</span></li>
  									<li id="aria-id-46249985364" role="menuitem"><span  class="vm-video-annotations yt-uix-button-menu-item" href="/my_videos_annotate?feature=vm&amp;v=rZmt-axGFBk">注释功能</span></li>
  									<li id="aria-id-4220403538" role="menuitem"><span  class="vm-video-captions yt-uix-button-menu-item" href="/my_videos_timedtext?video_id=rZmt-axGFBk&amp;feature=vm">字幕</span></li>
  									<li id="aria-id-71642286716" role="menuitem"><span  class="vm-video-promote yt-uix-button-menu-item" href="/my_video_ad?v=rZmt-axGFBk&amp;utm_source=youtube&amp;utm_medium=permanent&amp;utm_term=drop_down&amp;utm_content=edit_menu&amp;utm_campaign=yt_video_manager">推广</span></li>
  								</ul>
  								</button></span>
  								<span class="primary-notification"><a class="notification-action" href="/copynotice?video_id=rZmt-axGFBk&amp;feature=vm">
  								与第三方内容匹配。 </a>
  								</span>
  							</div>
  						</div>
  					</div>
  					<div class="vm-video-indicators">
  						<span title="公开" class="vm-video-privacy vm-public yt-uix-tooltip yt-uix-tooltip-reverse">
  						<a href="/my_videos_edit?ns=1&amp;feature=vm-privacy&amp;video_id=rZmt-axGFBk"><img alt="公开" src= "<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"></a>
  						</span>
  						<span title="不公开" class="vm-video-privacy vm-unlisted hid yt-uix-tooltip yt-uix-tooltip-reverse">
  						<a href="/my_videos_edit?ns=1&amp;feature=vm-privacy&amp;video_id=rZmt-axGFBk"><img alt="不公开" src= "<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"></a>
  						</span>
  						<span title="私有" class="vm-video-privacy vm-private hid yt-uix-tooltip yt-uix-tooltip-reverse">
  						<a href="/my_videos_edit?ns=1&amp;feature=vm-privacy&amp;video_id=rZmt-axGFBk"><img alt="私有" src= "<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"></a>
  						</span>
  						<span title="发布时间：2011年06月19日(PDT)23:14 " class="vm-time-published yt-uix-tooltip yt-uix-tooltip-reverse">
  						<img alt="发布时间：2011年06月19日(PDT)23:14 " src= "<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
  						</span>
  					</div>
  					<div class="vm-video-icons">
  						<div class="vm-video-metrics">
  							<a title="查看统计信息" class="yt-uix-tooltip" href="https://www.youtube.com/analytics?vmv=2#fi=v-rZmt-axGFBk">
  							<span class="vm-video-metric video-view-count">
  							<span>
  							<span class="vm-video-metric-icon">
  							<img alt="" src= "<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
  							</span>
  							<span class="vm-video-metric-value">11</span>
  							</span>
  							</span>
  							<span class="vm-video-metric video-likes-count">
  							<span>
  							<span class="vm-video-metric-icon">
  							<img alt="" src= "<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
  							</span>
  							<span class="vm-video-metric-value">0</span>
  							</span>
  							</span>
  							<span class="vm-video-metric video-dislikes-count">
  							<span>
  							<span class="vm-video-metric-icon">
  							<img alt="" src= "<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
  							</span>
  							<span class="vm-video-metric-value">0</span>
  							</span>
  							</span>
  							</a>
  							<a title="所有评论" class="yt-uix-tooltip yt-uix-tooltip-reverse" href="/all_comments?v=rZmt-axGFBk">
  							<span class="vm-video-metric video-comments">
  							<span>
  							<span class="vm-video-metric-icon">
  							<img alt="" src= "<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
  							</span>
  							<span class="vm-video-metric-value">0</span>
  							</span>
  							</span>
  							</a>
  						</div>
  					</div>
  				</div>
  				</li>
  				<li class="vm-video-item " id="vm-video-AvTk1UWEB0I">
  				<div class="vm-video-item-content">
  					<div class="vm-thumb">
  						<a data-sessionlink="ei=CMrwlKTOgrMCFdGGIQodBkpcuA%3D%3D" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink " href="/watch?v=AvTk1UWEB0I"><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img width="120" alt="缩略图" src="//i2.ytimg.com/vi/AvTk1UWEB0I/default.jpg"><span class="vertical-align"></span></span></span></span><span class="video-time">11:25</span></a>
  						<div class="vm-thumb-overlay">
  						</div>
  					</div>
  					<div class="vm-video-info-container">
  						<div class="vm-video-title">
  							<span id="checkbox_AvTk1UWEB0I" class="vm-video-title-container yt-uix-tooltip">
  							<a data-sessionlink="ei=CMrwlKTOgrMCFdGGIQodBkpcuA%3D%3D" class="vm-video-title-content yt-uix-sessionlink" href="/watch?v=AvTk1UWEB0I">CNU Kejian</a>
  							</span>
  							<span class="vm-video-title-badges">
  							</span>
  						</div>
  						<span class="vm-video-info vm-date-info">
  						<span data-format="longdate" data-timestamp="1308546113" class="localized-date">2011年06月20日13:01</span>
  						</span>
  						<div class="vm-video-info">
  							<div class="vm-video-info vm-owner-bar">
  								<span class="yt-uix-button-group">
  								<a data-sessionlink="ei=CMrwlKTOgrMCFdGGIQodBkpcuA%3D%3D" class="yt-uix-button yt-uix-sessionlink start vm-playlist-edit-video vm-edit-button-link yt-uix-button-default" href="/my_videos_edit?ns=1&amp;video_id=AvTk1UWEB0I"><span class="yt-uix-button-content">修改</span></a><button aria-activedescendant="" aria-haspopup="true" aria-expanded="false" aria-pressed="false" role="button"  class="edit-expand-menu-button end yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-button-empty" type="button"><img alt="" src= "<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-arrow">
  								<ul style="display: none;" aria-haspopup="true" role="menu" class=" yt-uix-button-menu yt-uix-button-menu-default">
  									<li id="aria-id-52867235923" role="menuitem"><span  class="vm-video-info-and-settings yt-uix-button-menu-item" href="/my_videos_edit?ns=1&amp;feature=vm&amp;video_id=AvTk1UWEB0I">信息和设置</span></li>
  									<li id="aria-id-29001898386" role="menuitem"><span  class="vm-video-enhancements yt-uix-button-menu-item" href="/enhance?feature=vm&amp;v=AvTk1UWEB0I">增强功能</span></li>
  									<li id="aria-id-4921839516" role="menuitem"><span  class="vm-video-audio yt-uix-button-menu-item" href="/audio?feature=vm&amp;v=AvTk1UWEB0I">音频</span></li>
  									<li id="aria-id-5863673764" role="menuitem"><span  class="vm-video-annotations yt-uix-button-menu-item" href="/my_videos_annotate?feature=vm&amp;v=AvTk1UWEB0I">注释功能</span></li>
  									<li id="aria-id-35069745119" role="menuitem"><span  class="vm-video-captions yt-uix-button-menu-item" href="/my_videos_timedtext?video_id=AvTk1UWEB0I&amp;feature=vm">字幕</span></li>
  									<li id="aria-id-75785446324" role="menuitem"><span  class="vm-video-promote yt-uix-button-menu-item" href="/my_video_ad?v=AvTk1UWEB0I&amp;utm_source=youtube&amp;utm_medium=permanent&amp;utm_term=drop_down&amp;utm_content=edit_menu&amp;utm_campaign=yt_video_manager">推广</span></li>
  								</ul>
  								</button></span>
  								<span class="primary-notification"><a class="notification-action" href="/copynotice?video_id=AvTk1UWEB0I&amp;feature=vm">
  								与第三方内容匹配。 </a>
  								</span>
  							</div>
  						</div>
  					</div>
  					<div class="vm-video-indicators">
  						<span title="公开" class="vm-video-privacy vm-public yt-uix-tooltip yt-uix-tooltip-reverse">
  						<a href="/my_videos_edit?ns=1&amp;feature=vm-privacy&amp;video_id=AvTk1UWEB0I"><img alt="公开" src= "<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"></a>
  						</span>
  						<span title="不公开" class="vm-video-privacy vm-unlisted hid yt-uix-tooltip yt-uix-tooltip-reverse">
  						<a href="/my_videos_edit?ns=1&amp;feature=vm-privacy&amp;video_id=AvTk1UWEB0I"><img alt="不公开" src= "<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"></a>
  						</span>
  						<span title="私有" class="vm-video-privacy vm-private hid yt-uix-tooltip yt-uix-tooltip-reverse">
  						<a href="/my_videos_edit?ns=1&amp;feature=vm-privacy&amp;video_id=AvTk1UWEB0I"><img alt="私有" src= "<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>"></a>
  						</span>
  						<span title="发布时间：2011年06月19日(PDT)22:01 " class="vm-time-published yt-uix-tooltip yt-uix-tooltip-reverse">
  						<img alt="发布时间：2011年06月19日(PDT)22:01 " src= "<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
  						</span>
  					</div>
  					<div class="vm-video-icons">
  						<div class="vm-video-metrics">
  							<a title="查看统计信息" class="yt-uix-tooltip" href="https://www.youtube.com/analytics?vmv=2#fi=v-AvTk1UWEB0I">
  							<span class="vm-video-metric video-view-count">
  							<span>
  							<span class="vm-video-metric-icon">
  							<img alt="" src= "<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
  							</span>
  							<span class="vm-video-metric-value">13</span>
  							</span>
  							</span>
  							<span class="vm-video-metric video-likes-count">
  							<span>
  							<span class="vm-video-metric-icon">
  							<img alt="" src= "<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
  							</span>
  							<span class="vm-video-metric-value">0</span>
  							</span>
  							</span>
  							<span class="vm-video-metric video-dislikes-count">
  							<span>
  							<span class="vm-video-metric-icon">
  							<img alt="" src= "<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
  							</span>
  							<span class="vm-video-metric-value">0</span>
  							</span>
  							</span>
  							</a>
  							<a title="所有评论" class="yt-uix-tooltip yt-uix-tooltip-reverse" href="/all_comments?v=AvTk1UWEB0I">
  							<span class="vm-video-metric video-comments">
  							<span>
  							<span class="vm-video-metric-icon">
  							<img alt="" src= "<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
  							</span>
  							<span class="vm-video-metric-value">0</span>
  							</span>
  							</span>
  							</a>
  						</div>
  					</div>
  				</div>
  				</li>
  			</ol>
  		</div>
  		<div id="vm-pagination">
  		</div>
  	</div>
  </div>
<%= render 'mine_below' %>

