<% content_for :armpit do %>
  <%= stylesheet_link_tag 'ktv/__ytb' %>
  <%= stylesheet_link_tag "ktv/__ytb_manager", :media => "all" %>
<% end %>


<%= render 'mine_above' %>



<div id="yt-admin" class="ytg-fl vm-has-videolist vm-list-view">
	<%= render 'manager_nav' %>
	<div id="yt-admin-content" class="ytg-fl ">
		<div id="vm-page-subheader" class="clearfix">
			<div class="vm-page-subheader-content">
				<h3>上传的课件</h3>
				<span id="vm-num-videos-shown" class="yt-badge-vm">8</span>
			</div>
			<div class="vm-page-subheader-controls">
				<form method="get" id="vm-videos-search-form" action="/my_videos">
					<div id="vm-videos-search-container">
						<span class=" yt-uix-form-input-container"><input class="yt-uix-form-input-text " name="sq" id="vm-myvideos-search-box" value="" placeholder="搜索上传的课件"></span>
					</div>
					<button type="submit" id="vm-myvideos-search-btn"  class=" yt-uix-button yt-uix-button-default" role="button"><span class="yt-uix-button-content">搜索 </span></button>
				</form>
			</div>
		</div>
		<div id="vm-general-notifs">
		</div>
		<div style="" class="goog-scrollfloater" id="vm-video-actions-bar">
			<div id="vm-video-actions-inner" class="clearfix">
				<span class="yt-uix-button-group vm-view-toggle" data-button-toggle-group="required">
				<button aria-label="切换到网格视图" type="button" class="start view-toggle-button yt-uix-button yt-uix-button-default yt-uix-button-empty"  data-button-toggle="true" data-page-class="vm-beauty-view" role="button"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-vm-beauty-view" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt=""><span class="yt-valign-trick"></span></span></button><button aria-label="切换到列表视图" type="button" class="end view-toggle-button yt-uix-button-toggled yt-uix-button yt-uix-button-default yt-uix-button-empty"  data-button-toggle="true" data-page-class="vm-list-view" role="button"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-vm-list-view" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt=""><span class="yt-valign-trick"></span></span></button></span>
				<span class="yt-uix-form-input-checkbox-container vm-select-all"><input name="vm-video-select-all" class="yt-uix-form-input-checkbox" id="vm-video-select-all" type="checkbox"><span class="yt-uix-form-input-checkbox-element"></span></span>
				<button disabled="True" type="button" class="addto-button default show-label yt-uix-button yt-uix-button-default"  data-button-menu-action="yt.www.lists.addto.toggleMenu" data-button-menu-id="shared-addto-menu" data-video-ids="" data-feature="vm" role="button"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-addto" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt=""><span class="yt-valign-trick"></span></span><span class="yt-uix-button-content"><span class="addto-label">添加到</span></span><img class="yt-uix-button-arrow" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt=""></button>
				<button disabled="True" type="button" id="vm-playlist-action-menu"  class=" yt-uix-button yt-uix-button-default" role="button" aria-pressed="false" aria-expanded="false" aria-haspopup="true" aria-activedescendant=""><span class="yt-uix-button-content">操作 </span><img class="yt-uix-button-arrow" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
				<ul class=" yt-uix-button-menu yt-uix-button-menu-default" role="menu" aria-haspopup="true" style="display: none;">
					<li role="menuitem" id="aria-id-28804054661"><span id="vm-playlist-delete-videos"  class=" yt-uix-button-menu-item">删除</span></li>
					<li role="menuitem" id="aria-id-95287531649"><span class="menu-subheading yt-uix-button-menu-item" >隐私设置</span></li>
					<li role="menuitem" id="aria-id-12945458188"><span id="vm-playlist-set-videos-privacy-public"  class="menu-subitem yt-uix-button-menu-item">公开</span></li>
					<li role="menuitem" id="aria-id-35105908756"><span id="vm-playlist-set-videos-privacy-unlisted"  class="menu-subitem yt-uix-button-menu-item">不公开的课件</span></li>
					<li role="menuitem" id="aria-id-91380742013"><span id="vm-playlist-set-videos-privacy-private"  class="menu-subitem yt-uix-button-menu-item">私有</span></li>
					<li role="menuitem" id="aria-id-86843812961"><span class="menu-subheading yt-uix-button-menu-item" >许可</span></li>
					<li role="menuitem" id="aria-id-44264528610"><span id="vm-playlist-set-videos-license-standard"  class="menu-subitem yt-uix-button-menu-item">标准许可</span></li>
					<li role="menuitem" id="aria-id-7867396083"><span id="vm-playlist-set-videos-license-cc"  class="menu-subitem yt-uix-button-menu-item">知识共享</span></li>
				</ul>
				</button>
				<span id="watch-history-pause-container" class="hid">
				<button type="button" id="watch-history-pause-button"  class=" yt-uix-button yt-uix-button-default" role="button"><span class="yt-uix-button-content">暂停观看历史记录 </span></button>
				</span>
				<span id="watch-history-resume-container" class="hid">
				<button type="button" id="watch-history-resume-button"  class=" yt-uix-button yt-uix-button-default" role="button"><span class="yt-uix-button-content">恢复观看历史记录 </span></button>
				</span>
				<span id="search-history-pause-container" class="hid">
				<button type="button" id="search-history-pause-button"  class=" yt-uix-button yt-uix-button-default" role="button"><span class="yt-uix-button-content">暂停搜索记录 </span></button>
				</span>
				<span id="search-history-resume-container" class="hid">
				<button type="button" id="search-history-resume-button"  class=" yt-uix-button yt-uix-button-default" role="button"><span class="yt-uix-button-content">恢复搜索记录 </span></button>
				</span>
				<span id="vm-view-filter">
				<span id="vm-view-filter-label">观看：</span>
				<button aria-labelledby="vm-view-filter-label" type="button" id="vm-view-btn"  class=" yt-uix-button yt-uix-button-text" role="button" aria-pressed="false" aria-expanded="false" aria-haspopup="true" aria-activedescendant=""><span class="yt-uix-button-content">最新课件 </span><img class="yt-uix-button-arrow" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
				<ul class=" yt-uix-button-menu yt-uix-button-menu-text" role="menu" aria-haspopup="true" style="display: none;">
					<li role="menuitem" id="aria-id-94205034509"><span href="?vmo=oldest&amp;sa=1&amp;sf=added" id="oldest"  class=" yt-uix-button-menu-item">最早上传</span></li>
					<li role="menuitem" id="aria-id-52154534779"><span href="?vmo=viewed&amp;sa=0&amp;sf=viewcount" id="viewed"  class=" yt-uix-button-menu-item">观看最多</span></li>
					<li role="menuitem" id="aria-id-76655227206"><span href="?vmo=public&amp;sq=is%3Apublic" id="public"  class="menu-item-top-divider yt-uix-button-menu-item">公共</span></li>
					<li role="menuitem" id="aria-id-75210932192"><span href="?vmo=unlisted&amp;sq=is%3Aunlisted" id="unlisted"  class=" yt-uix-button-menu-item">不公开的课件</span></li>
					<li role="menuitem" id="aria-id-57599943971"><span href="?vmo=private&amp;sq=is%3Aprivate" id="private"  class=" yt-uix-button-menu-item">私有</span></li>
				</ul>
				</button>
				</span>
			</div>
			<span class="yt-uix-overlay hid" data-overlay-class="vm-video-actions-delete-overlay">
			<span class="yt-uix-overlay-content vm-video-actions-delete-overlay-content">
			<div class="vm-video-actions-delete-full-area">
				<div class="vm-video-actions-delete-header">
					<div class="yt-alert yt-alert-naked yt-alert-error ">
						<div class="yt-alert-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="icon master-sprite" alt="提醒图标">
						</div>
						<div class="yt-alert-content" role="alert">
							<span class="yt-alert-vertical-trick"></span>
							<div class="yt-alert-message">
								 确认
							</div>
						</div>
					</div>
				</div>
				<div class="vm-video-actions-delete-main-area">
					<span class="vm-video-actions-delete-warning"></span>
					<div class="vm-video-actions-delete-extra-warning hid">
					</div>
					<div class="vm-video-actions-delete-button-area">
						<button type="button" class="yt-uix-overlay-close vm-video-actions-delete-button-cancel yt-uix-button yt-uix-button-default"  role="button"><span class="yt-uix-button-content">取消 </span></button>
						<button type="button" class="vm-video-actions-delete-button-confirm yt-uix-button yt-uix-button-destructive"  role="button"><span class="yt-uix-button-content">删除 </span></button>
					</div>
				</div>
			</div>
			</span>
			</span>
		</div>
		<span class="yt-uix-overlay" data-overlay-class="ad-formats-overlay">
		<span class="yt-uix-overlay-content ad-options-overlay-content">
		<div class="ad-options-full-area">
			<div class="yt-uix-overlay-header">
				<h2>通过所选课件获利</h2>
			</div>
			<div>
				<div class="form-preview-area">
					<div class="form-area">
						<form class="ad-options-overlay-form">
							<div class="ad-formats-heading">
								 广告格式
							</div>
							<div class="ad-format overlay">
								<span class="yt-uix-form-input-checkbox-container "><input name="overlay" class="yt-uix-form-input-checkbox overlay-checkbox" id="overlay-checkbox" type="checkbox"><span class="yt-uix-form-input-checkbox-element"></span></span>
								课件内嵌重叠式广告 <span class="helpable-preview" data-preview-id="preview-overlay">预览</span>
							</div>
							<div class="ad-format true-view">
								<span class="yt-uix-form-input-checkbox-container "><input name="true_view" class="yt-uix-form-input-checkbox trueview-checkbox" id="trueview-checkbox" type="checkbox"><span class="yt-uix-form-input-checkbox-element"></span></span>
								TrueView 插播广告 <span class="helpable-preview" data-preview-id="preview-trueview">预览</span>
							</div>
							<div class="ad-format">
								<span class="yt-uix-form-input-checkbox-container "><input name="product_placement" class="yt-uix-form-input-checkbox" type="checkbox"><span class="yt-uix-form-input-checkbox-element"></span></span>
								<span class="product-placement">
								课件包含产品展示位置 </span>
								<span class="helpable-preview" data-preview-id="preview-product-placement">
								了解详情 </span>
							</div>
							<div class="ad-format display">
								 默认情况下显示展示广告。 <span class="helpable-preview" data-preview-id="preview-display">预览</span>
							</div>
						</form>
						<div class="important-note">
							<b>重要提示</b>：要在 YouTube 上通过课件获利，即表示您确认您拥有所有视觉和音频元素的所有必要商业使用权利。YouTube 可能会对多次无法证明其拥有商业使用权利的帐户停用获利。<a href="//support.google.com/youtube/bin/answer.py?answer=97527&amp;hl=zh-CN" target="_blank">了解详情</a>。
						</div>
					</div>
					<div class="preview-area">
						<div id="preview-overlay" class="ad-format-preview hid">
							<img src="<%=asset_path('yt/img/in-display-overlay-vfllJbecp.png')%>"><br>
							<p>
								课件内重叠式广告是显示在您课件下半部分的透明的重叠式广告。 <a target="_new" href="//support.google.com/youtube/bin/answer.py?answer=94525&amp;hl=zh-CN">
								了解详情 </a>
							</p>
						</div>
						<div id="preview-trueview" class="ad-format-preview hid">
							<img src="<%=asset_path('yt/img/in-stream-trueview-vflyOPLHS.png')%>"><br>
							<p>
								TrueView 插播广告由一系列格式组成，允许观众选择并控制显示哪些广告客户讯息及其显示的时间。 <a target="_new" href="//support.google.com/youtube/bin/answer.py?answer=1205675&amp;hl=zh-CN">
								了解详情 </a>
							</p>
						</div>
						<div id="preview-instream" class="ad-format-preview hid">
							<img src="<%=asset_path('yt/img/in-stream-standard-vflzoarfH.png')%>"><br>
							<p>
								标准插播广告是指在主课件播放前、播放期间或播放后插入的课件广告，观众必须先看完广告才能观看所选的课件。 <a target="_new" href="//support.google.com/youtube/bin/answer.py?answer=188038&amp;hl=zh-CN">
								了解详情 </a>
							</p>
						</div>
						<div id="preview-product-placement" class="ad-format-preview hid">
							<p>
								合作伙伴可以在自己的内容中加入付费产品展示位置。所有产品展示位置都需要符合我们的广告政策。 <a target="_new" href="//support.google.com/youtube/bin/answer.py?answer=154235&amp;hl=zh-CN">
								了解详情 </a>
							</p>
						</div>
						<div id="preview-display" class="ad-format-preview hid">
							<img src="<%=asset_path('yt/img/in-display-vflqN9OMb.png')%>"><br>
							<p>
								展示广告（横幅）可以在网站上的所有区域（首页除外）投放。这些广告显示在精选课件右侧和推荐课件列表的上方，大小为 300x250 像素。 <a target="_new" href="//support.google.com/youtube/bin/answer.py?answer=1205617&amp;hl=zh-CN">
								了解详情 </a>
							</p>
						</div>
					</div>
				</div>
				<div class="ad-options-button-area">
					<button type="button" class="yt-uix-overlay-close bulk-monetize-overlay-cancel-button yt-uix-button yt-uix-button-default"  role="button"><span class="yt-uix-button-content">取消 </span></button>
					<button type="button" class="yt-uix-overlay-close bulk-monetize-overlay-monetize-button yt-uix-button yt-uix-button-primary"  role="button"><span class="yt-uix-button-content">获利 </span></button>
				</div>
			</div>
		</div>
		</span>
		</span>
		<div id="vm-video-list-container">
			<ol id="vm-playlist-video-list-ol" class="vm-video-list">
				<li id="vm-video-nsrsFkOClVg" class="vm-video-item">
				<div class="vm-video-item-content">
					<span class="yt-uix-form-input-checkbox-container "><input name="video-checkbox" class="yt-uix-form-input-checkbox video-checkbox" value="nsrsFkOClVg" aria-labelledby="checkbox_nsrsFkOClVg" type="checkbox"><span class="yt-uix-form-input-checkbox-element"></span></span>
					<div class="vm-thumb">
						<a href="/watch?v=nsrsFkOClVg" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink " data-sessionlink="ei=CPmoyaOFgrMCFdqCIQodoCUsYw%3D%3D"><span class="video-thumb ux-thumb yt-thumb-default-224 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img src="//i3.ytimg.com/vi/nsrsFkOClVg/mqdefault.jpg" alt="缩略图" width="224"><span class="vertical-align"></span></span></span></span><span class="video-time">0:00</span></a>
						<div class="vm-thumb-overlay">
							<ul class="vm-quick-video-actions">
								<li>
								<a href="/watch?v=nsrsFkOClVg" class="vm-quick-watch-video" title="观看">
								<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="观看">
								</a>
								</li>
								<li>
								<a href="/my_videos_edit?ns=1&amp;video_id=nsrsFkOClVg" class="vm-quick-edit-video" title="修改">
								<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="修改">
								</a>
								</li>
								<li>
								<a class="vm-quick-delete-video vm-video-delete" title="删除">
								<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="删除">
								</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="vm-video-info-container">
						<div class="vm-video-title">
							<span data-tooltip-text="中国科学技术大学数学分析（史济怀） sjh20030905 1" title="中国科学技术大学数学分析（史济怀） sjh20030905 1" class="vm-video-title-container yt-uix-tooltip" id="checkbox_nsrsFkOClVg">
							<span data-original-html="中国科学技术大学数学分析（史济怀） sjh20030905 1" class="vm-video-title-content">中国科学技术大学数学分析（史济怀） sjh…</span>
							</span>
							<span class="vm-video-title-badges">
							</span>
						</div>
						<span class="vm-video-info vm-date-info">
						<span class="localized-date" data-timestamp="1341048405" data-format="longdate">2012年06月30日17:26</span>
						</span>
						<div class="vm-video-info">
							<div class="vm-video-info vm-owner-bar">
								<span class="vm-video-notifications">
								<div class="yt-alert yt-alert-naked yt-alert-error ">
									<div class="yt-alert-icon">
										<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="icon master-sprite" alt="提醒图标">
									</div>
									<div class="yt-alert-content" role="alert">
										<span class="yt-alert-vertical-trick"></span>
										<div class="yt-alert-message">
											 1
										</div>
									</div>
								</div>
								</span>
								<span class="primary-notification"><a href="//support.google.com/youtube/bin/answer.py?answer=166815&amp;hl=zh-CN">失败（上传已中止）</a></span>
							</div>
						</div>
					</div>
					<div class="vm-video-delete-failed-upload">
						<button type="button" class="vm-video-delete yt-uix-button yt-uix-button-default"  role="button"><span class="yt-uix-button-content">删除 </span></button>
					</div>
				</div>
				</li>
				<li id="vm-video-eO4V45qp_jU" class="vm-video-item">
				<div class="vm-video-item-content">
					<span class="yt-uix-form-input-checkbox-container "><input name="video-checkbox" class="yt-uix-form-input-checkbox video-checkbox" value="eO4V45qp_jU" aria-labelledby="checkbox_eO4V45qp_jU" type="checkbox"><span class="yt-uix-form-input-checkbox-element"></span></span>
					<div class="vm-thumb">
						<a href="/watch?v=eO4V45qp_jU" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink " data-sessionlink="ei=CPmoyaOFgrMCFdqCIQodoCUsYw%3D%3D"><span class="video-thumb ux-thumb yt-thumb-default-224 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img src="//i2.ytimg.com/vi/eO4V45qp_jU/mqdefault.jpg" alt="缩略图" width="224"><span class="vertical-align"></span></span></span></span><span class="video-time">43:10</span></a>
						<div class="vm-thumb-overlay">
							<ul class="vm-quick-video-actions">
								<li>
								<a href="/watch?v=eO4V45qp_jU" class="vm-quick-watch-video" title="观看">
								<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="观看">
								</a>
								</li>
								<li>
								<a href="/my_videos_edit?ns=1&amp;video_id=eO4V45qp_jU" class="vm-quick-edit-video" title="修改">
								<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="修改">
								</a>
								</li>
								<li>
								<a class="vm-quick-delete-video vm-video-delete" title="删除">
								<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="删除">
								</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="vm-video-info-container">
						<div class="vm-video-title">
							<span data-tooltip-text="中国科学技术大学数学分析（史济怀） sjh20030903 2" title="中国科学技术大学数学分析（史济怀） sjh20030903 2" class="vm-video-title-container yt-uix-tooltip" id="checkbox_eO4V45qp_jU">
							<a data-original-html="中国科学技术大学数学分析（史济怀） sjh20030903 2" href="/watch?v=eO4V45qp_jU" class="vm-video-title-content yt-uix-sessionlink" data-sessionlink="ei=CPmoyaOFgrMCFdqCIQodoCUsYw%3D%3D">中国科学技术大学数学分析（史济怀） sjh…</a>
							</span>
							<span class="vm-video-title-badges">
							</span>
						</div>
						<span class="vm-video-info vm-date-info">
						<span class="localized-date" data-timestamp="1341039735" data-format="longdate">2012年06月30日15:02</span>
						</span>
						<div class="vm-video-info">
							<div class="vm-video-info vm-owner-bar">
								<span class="yt-uix-button-group">
								<a href="/my_videos_edit?ns=1&amp;video_id=eO4V45qp_jU" class="yt-uix-button yt-uix-sessionlink start vm-playlist-edit-video vm-edit-button-link yt-uix-button-default" data-sessionlink="ei=CPmoyaOFgrMCFdqCIQodoCUsYw%3D%3D"><span class="yt-uix-button-content">修改</span></a><button type="button" class="edit-expand-menu-button end yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-button-empty"  role="button" aria-pressed="false" aria-expanded="false" aria-haspopup="true" aria-activedescendant=""><img class="yt-uix-button-arrow" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
								<ul class=" yt-uix-button-menu yt-uix-button-menu-default" role="menu" aria-haspopup="true" style="display: none;">
									<li role="menuitem" id="aria-id-70125287611"><span href="/my_videos_edit?ns=1&amp;feature=vm&amp;video_id=eO4V45qp_jU" class="vm-video-info-and-settings yt-uix-button-menu-item" >信息和设置</span></li>
									<li role="menuitem" id="aria-id-55285424819"><span href="/enhance?feature=vm&amp;v=eO4V45qp_jU" class="vm-video-enhancements yt-uix-button-menu-item" >增强功能</span></li>
									<li role="menuitem" id="aria-id-1919541426"><span href="/audio?feature=vm&amp;v=eO4V45qp_jU" class="vm-video-audio yt-uix-button-menu-item" >音频</span></li>
									<li role="menuitem" id="aria-id-23646788897"><span href="/my_videos_annotate?feature=vm&amp;v=eO4V45qp_jU" class="vm-video-annotations yt-uix-button-menu-item" >注释功能</span></li>
									<li role="menuitem" id="aria-id-63859339339"><span href="/my_videos_timedtext?video_id=eO4V45qp_jU&amp;feature=vm" class="vm-video-captions yt-uix-button-menu-item" >字幕</span></li>
									<li role="menuitem" id="aria-id-46968589204"><span data-download-url="/download_my_video?t=9KwzIZSF9JdgLNEbzrPi4vT31p58MTM1MDM1NjgxNUAxMzUwMjcwNDE1&amp;v=eO4V45qp_jU" class="vm-download-mp4 yt-uix-button-menu-item" >下载 MP4</span></li>
									<li role="menuitem" id="aria-id-76953461329"><span href="/my_video_ad?v=eO4V45qp_jU&amp;utm_source=youtube&amp;utm_medium=permanent&amp;utm_term=drop_down&amp;utm_content=edit_menu&amp;utm_campaign=yt_video_manager" class="vm-video-promote yt-uix-button-menu-item" >推广</span></li>
								</ul>
								</button></span>
							</div>
						</div>
					</div>
					<div class="vm-video-indicators">
						<span class="vm-video-privacy vm-public yt-uix-tooltip yt-uix-tooltip-reverse" title="公开">
						<a href="/my_videos_edit?ns=1&amp;feature=vm-privacy&amp;video_id=eO4V45qp_jU"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="公开"></a>
						</span>
						<span class="vm-video-privacy vm-unlisted hid yt-uix-tooltip yt-uix-tooltip-reverse" title="不公开">
						<a href="/my_videos_edit?ns=1&amp;feature=vm-privacy&amp;video_id=eO4V45qp_jU"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="不公开"></a>
						</span>
						<span class="vm-video-privacy vm-private hid yt-uix-tooltip yt-uix-tooltip-reverse" title="私有">
						<a href="/my_videos_edit?ns=1&amp;feature=vm-privacy&amp;video_id=eO4V45qp_jU"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="私有"></a>
						</span>
						<span class="vm-time-published yt-uix-tooltip yt-uix-tooltip-reverse" title="发布时间：2012年06月30日(PDT)02:28 ">
						<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="发布时间：2012年06月30日(PDT)02:28 ">
						</span>
					</div>
					<div class="vm-video-icons">
						<div class="vm-video-metrics">
							<a href="https://www.youtube.com/analytics?vmv=2#fi=v-eO4V45qp_jU" class="yt-uix-tooltip" title="查看统计信息">
							<span class="vm-video-metric video-view-count">
							<span>
							<span class="vm-video-metric-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</span>
							<span class="vm-video-metric-value">65</span>
							</span>
							</span>
							<span class="vm-video-metric video-likes-count">
							<span>
							<span class="vm-video-metric-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</span>
							<span class="vm-video-metric-value">0</span>
							</span>
							</span>
							<span class="vm-video-metric video-dislikes-count">
							<span>
							<span class="vm-video-metric-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</span>
							<span class="vm-video-metric-value">0</span>
							</span>
							</span>
							</a>
							<a href="/all_comments?v=eO4V45qp_jU" class="yt-uix-tooltip yt-uix-tooltip-reverse" title="所有评论">
							<span class="vm-video-metric video-comments">
							<span>
							<span class="vm-video-metric-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</span>
							<span class="vm-video-metric-value">1</span>
							</span>
							</span>
							</a>
						</div>
					</div>
				</div>
				</li>
				<li id="vm-video-x3Z0PM1UNAQ" class="vm-video-item">
				<div class="vm-video-item-content">
					<span class="yt-uix-form-input-checkbox-container "><input name="video-checkbox" class="yt-uix-form-input-checkbox video-checkbox" value="x3Z0PM1UNAQ" aria-labelledby="checkbox_x3Z0PM1UNAQ" type="checkbox"><span class="yt-uix-form-input-checkbox-element"></span></span>
					<div class="vm-thumb">
						<a href="/watch?v=x3Z0PM1UNAQ" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink " data-sessionlink="ei=CPmoyaOFgrMCFdqCIQodoCUsYw%3D%3D"><span class="video-thumb ux-thumb yt-thumb-default-224 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img src="//i1.ytimg.com/vi/x3Z0PM1UNAQ/mqdefault.jpg" alt="缩略图" width="224"><span class="vertical-align"></span></span></span></span><span class="video-time">1:06:49</span></a>
						<div class="vm-thumb-overlay">
							<ul class="vm-quick-video-actions">
								<li>
								<a href="/watch?v=x3Z0PM1UNAQ" class="vm-quick-watch-video" title="观看">
								<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="观看">
								</a>
								</li>
								<li>
								<a href="/my_videos_edit?ns=1&amp;video_id=x3Z0PM1UNAQ" class="vm-quick-edit-video" title="修改">
								<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="修改">
								</a>
								</li>
								<li>
								<a class="vm-quick-delete-video vm-video-delete" title="删除">
								<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="删除">
								</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="vm-video-info-container">
						<div class="vm-video-title">
							<span data-tooltip-text="中国科学技术大学数学分析（史济怀） sjh20030901" title="中国科学技术大学数学分析（史济怀） sjh20030901" class="vm-video-title-container yt-uix-tooltip" id="checkbox_x3Z0PM1UNAQ">
							<a data-original-html="中国科学技术大学数学分析（史济怀） sjh20030901" href="/watch?v=x3Z0PM1UNAQ" class="vm-video-title-content yt-uix-sessionlink" data-sessionlink="ei=CPmoyaOFgrMCFdqCIQodoCUsYw%3D%3D">中国科学技术大学数学分析（史济怀） sjh…</a>
							</span>
							<span class="vm-video-title-badges">
							<span class="yt-badge-std">HD</span>
							</span>
						</div>
						<span class="vm-video-info vm-date-info">
						<span class="localized-date" data-timestamp="1340582400" data-format="longdate">2012年06月25日8:00</span>
						</span>
						<div class="vm-video-info">
							<div class="vm-video-info vm-owner-bar">
								<span class="yt-uix-button-group">
								<a href="/my_videos_edit?ns=1&amp;video_id=x3Z0PM1UNAQ" class="yt-uix-button yt-uix-sessionlink start vm-playlist-edit-video vm-edit-button-link yt-uix-button-default" data-sessionlink="ei=CPmoyaOFgrMCFdqCIQodoCUsYw%3D%3D"><span class="yt-uix-button-content">修改</span></a><button type="button" class="edit-expand-menu-button end yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-button-empty"  role="button" aria-pressed="false" aria-expanded="false" aria-haspopup="true" aria-activedescendant=""><img class="yt-uix-button-arrow" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
								<ul class=" yt-uix-button-menu yt-uix-button-menu-default" role="menu" aria-haspopup="true" style="display: none;">
									<li role="menuitem" id="aria-id-75889518553"><span href="/my_videos_edit?ns=1&amp;feature=vm&amp;video_id=x3Z0PM1UNAQ" class="vm-video-info-and-settings yt-uix-button-menu-item" >信息和设置</span></li>
									<li role="menuitem" id="aria-id-13756742295"><span href="/enhance?feature=vm&amp;v=x3Z0PM1UNAQ" class="vm-video-enhancements yt-uix-button-menu-item" >增强功能</span></li>
									<li role="menuitem" id="aria-id-43429500935"><span href="/audio?feature=vm&amp;v=x3Z0PM1UNAQ" class="vm-video-audio yt-uix-button-menu-item" >音频</span></li>
									<li role="menuitem" id="aria-id-23687132580"><span href="/my_videos_annotate?feature=vm&amp;v=x3Z0PM1UNAQ" class="vm-video-annotations yt-uix-button-menu-item" >注释功能</span></li>
									<li role="menuitem" id="aria-id-15026092627"><span href="/my_videos_timedtext?video_id=x3Z0PM1UNAQ&amp;feature=vm" class="vm-video-captions yt-uix-button-menu-item" >字幕</span></li>
									<li role="menuitem" id="aria-id-65309151386"><span data-download-url="/download_my_video?t=9KwzIZSF9JdgLNEbzrPi4vT31p58MTM1MDM1NjgxNUAxMzUwMjcwNDE1&amp;v=x3Z0PM1UNAQ" class="vm-download-mp4 yt-uix-button-menu-item" >下载 MP4</span></li>
								</ul>
								</button></span>
							</div>
						</div>
					</div>
					<div class="vm-video-indicators">
						<span class="vm-video-privacy vm-public hid yt-uix-tooltip yt-uix-tooltip-reverse" title="公开">
						<a href="/my_videos_edit?ns=1&amp;feature=vm-privacy&amp;video_id=x3Z0PM1UNAQ"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="公开"></a>
						</span>
						<span class="vm-video-privacy vm-unlisted hid yt-uix-tooltip yt-uix-tooltip-reverse" title="不公开">
						<a href="/my_videos_edit?ns=1&amp;feature=vm-privacy&amp;video_id=x3Z0PM1UNAQ"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="不公开"></a>
						</span>
						<span class="vm-video-privacy vm-private yt-uix-tooltip yt-uix-tooltip-reverse" title="私有">
						<a href="/my_videos_edit?ns=1&amp;feature=vm-privacy&amp;video_id=x3Z0PM1UNAQ"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="私有"></a>
						</span>
					</div>
					<div class="vm-video-icons">
						<div class="vm-video-metrics">
							<a data-tooltip-text="查看统计信息" href="https://www.youtube.com/analytics?vmv=2#fi=v-x3Z0PM1UNAQ" class="yt-uix-tooltip" title="查看统计信息">
							<span class="vm-video-metric video-view-count">
							<span>
							<span class="vm-video-metric-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</span>
							<span class="vm-video-metric-value">6</span>
							</span>
							</span>
							<span class="vm-video-metric video-likes-count">
							<span>
							<span class="vm-video-metric-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</span>
							<span class="vm-video-metric-value">0</span>
							</span>
							</span>
							<span class="vm-video-metric video-dislikes-count">
							<span>
							<span class="vm-video-metric-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</span>
							<span class="vm-video-metric-value">0</span>
							</span>
							</span>
							</a>
							<a href="/all_comments?v=x3Z0PM1UNAQ" class="yt-uix-tooltip yt-uix-tooltip-reverse" title="所有评论">
							<span class="vm-video-metric video-comments">
							<span>
							<span class="vm-video-metric-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</span>
							<span class="vm-video-metric-value">0</span>
							</span>
							</span>
							</a>
						</div>
					</div>
				</div>
				</li>
				<li id="vm-video-rZmt-axGFBk" class="vm-video-item">
				<div class="vm-video-item-content">
					<span class="yt-uix-form-input-checkbox-container "><input name="video-checkbox" class="yt-uix-form-input-checkbox video-checkbox" value="rZmt-axGFBk" aria-labelledby="checkbox_rZmt-axGFBk" type="checkbox"><span class="yt-uix-form-input-checkbox-element"></span></span>
					<div class="vm-thumb">
						<a href="/watch?v=rZmt-axGFBk" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink " data-sessionlink="ei=CPmoyaOFgrMCFdqCIQodoCUsYw%3D%3D"><span class="video-thumb ux-thumb yt-thumb-default-224 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img src="//i3.ytimg.com/vi/rZmt-axGFBk/mqdefault.jpg" alt="缩略图" width="224"><span class="vertical-align"></span></span></span></span><span class="video-time">0:45</span></a>
						<div class="vm-thumb-overlay">
							<ul class="vm-quick-video-actions">
								<li>
								<a href="/watch?v=rZmt-axGFBk" class="vm-quick-watch-video" title="观看">
								<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="观看">
								</a>
								</li>
								<li>
								<a href="/my_videos_edit?ns=1&amp;video_id=rZmt-axGFBk" class="vm-quick-edit-video" title="修改">
								<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="修改">
								</a>
								</li>
								<li>
								<a class="vm-quick-delete-video vm-video-delete" title="删除">
								<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="删除">
								</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="vm-video-info-container">
						<div class="vm-video-title">
							<span class="vm-video-title-container yt-uix-tooltip" id="checkbox_rZmt-axGFBk">
							<a href="/watch?v=rZmt-axGFBk" class="vm-video-title-content yt-uix-sessionlink" data-sessionlink="ei=CPmoyaOFgrMCFdqCIQodoCUsYw%3D%3D">CNUKejian Trailer.m4v</a>
							</span>
							<span class="vm-video-title-badges">
							</span>
						</div>
						<span class="vm-video-info vm-date-info">
						<span class="localized-date" data-timestamp="1308550454" data-format="longdate">2011年06月20日14:14</span>
						</span>
						<div class="vm-video-info">
							<div class="vm-video-info vm-owner-bar">
								<span class="yt-uix-button-group">
								<a href="/my_videos_edit?ns=1&amp;video_id=rZmt-axGFBk" class="yt-uix-button yt-uix-sessionlink start vm-playlist-edit-video vm-edit-button-link yt-uix-button-default" data-sessionlink="ei=CPmoyaOFgrMCFdqCIQodoCUsYw%3D%3D"><span class="yt-uix-button-content">修改</span></a><button type="button" class="edit-expand-menu-button end yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-button-empty"  role="button" aria-pressed="false" aria-expanded="false" aria-haspopup="true" aria-activedescendant=""><img class="yt-uix-button-arrow" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
								<ul class=" yt-uix-button-menu yt-uix-button-menu-default" role="menu" aria-haspopup="true" style="display: none;">
									<li role="menuitem" id="aria-id-4042356968"><span href="/my_videos_edit?ns=1&amp;feature=vm&amp;video_id=rZmt-axGFBk" class="vm-video-info-and-settings yt-uix-button-menu-item" >信息和设置</span></li>
									<li role="menuitem" id="aria-id-94933825509"><span href="/enhance?feature=vm&amp;v=rZmt-axGFBk" class="vm-video-enhancements yt-uix-button-menu-item" >增强功能</span></li>
									<li role="menuitem" id="aria-id-80032309853"><span href="/audio?feature=vm&amp;v=rZmt-axGFBk" class="vm-video-audio yt-uix-button-menu-item" >音频</span></li>
									<li role="menuitem" id="aria-id-83519933996"><span href="/my_videos_annotate?feature=vm&amp;v=rZmt-axGFBk" class="vm-video-annotations yt-uix-button-menu-item" >注释功能</span></li>
									<li role="menuitem" id="aria-id-65315305668"><span href="/my_videos_timedtext?video_id=rZmt-axGFBk&amp;feature=vm" class="vm-video-captions yt-uix-button-menu-item" >字幕</span></li>
									<li role="menuitem" id="aria-id-30021412908"><span href="/my_video_ad?v=rZmt-axGFBk&amp;utm_source=youtube&amp;utm_medium=permanent&amp;utm_term=drop_down&amp;utm_content=edit_menu&amp;utm_campaign=yt_video_manager" class="vm-video-promote yt-uix-button-menu-item" >推广</span></li>
								</ul>
								</button></span>
								<span class="primary-notification"><a href="/copynotice?video_id=rZmt-axGFBk&amp;feature=vm" class="notification-action">
								与第三方内容匹配。 </a>
								</span>
							</div>
						</div>
					</div>
					<div class="vm-video-indicators">
						<span class="vm-video-privacy vm-public yt-uix-tooltip yt-uix-tooltip-reverse" title="公开">
						<a href="/my_videos_edit?ns=1&amp;feature=vm-privacy&amp;video_id=rZmt-axGFBk"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="公开"></a>
						</span>
						<span class="vm-video-privacy vm-unlisted hid yt-uix-tooltip yt-uix-tooltip-reverse" title="不公开">
						<a href="/my_videos_edit?ns=1&amp;feature=vm-privacy&amp;video_id=rZmt-axGFBk"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="不公开"></a>
						</span>
						<span class="vm-video-privacy vm-private hid yt-uix-tooltip yt-uix-tooltip-reverse" title="私有">
						<a href="/my_videos_edit?ns=1&amp;feature=vm-privacy&amp;video_id=rZmt-axGFBk"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="私有"></a>
						</span>
						<span class="vm-time-published yt-uix-tooltip yt-uix-tooltip-reverse" title="发布时间：2011年06月19日(PDT)23:14 ">
						<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="发布时间：2011年06月19日(PDT)23:14 ">
						</span>
					</div>
					<div class="vm-video-icons">
						<div class="vm-video-metrics">
							<a href="https://www.youtube.com/analytics?vmv=2#fi=v-rZmt-axGFBk" class="yt-uix-tooltip" title="查看统计信息">
							<span class="vm-video-metric video-view-count">
							<span>
							<span class="vm-video-metric-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</span>
							<span class="vm-video-metric-value">11</span>
							</span>
							</span>
							<span class="vm-video-metric video-likes-count">
							<span>
							<span class="vm-video-metric-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</span>
							<span class="vm-video-metric-value">0</span>
							</span>
							</span>
							<span class="vm-video-metric video-dislikes-count">
							<span>
							<span class="vm-video-metric-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</span>
							<span class="vm-video-metric-value">0</span>
							</span>
							</span>
							</a>
							<a href="/all_comments?v=rZmt-axGFBk" class="yt-uix-tooltip yt-uix-tooltip-reverse" title="所有评论">
							<span class="vm-video-metric video-comments">
							<span>
							<span class="vm-video-metric-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</span>
							<span class="vm-video-metric-value">0</span>
							</span>
							</span>
							</a>
						</div>
					</div>
				</div>
				</li>
				<li id="vm-video-AvTk1UWEB0I" class="vm-video-item">
				<div class="vm-video-item-content">
					<span class="yt-uix-form-input-checkbox-container "><input name="video-checkbox" class="yt-uix-form-input-checkbox video-checkbox" value="AvTk1UWEB0I" aria-labelledby="checkbox_AvTk1UWEB0I" type="checkbox"><span class="yt-uix-form-input-checkbox-element"></span></span>
					<div class="vm-thumb">
						<a href="/watch?v=AvTk1UWEB0I" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink " data-sessionlink="ei=CPmoyaOFgrMCFdqCIQodoCUsYw%3D%3D"><span class="video-thumb ux-thumb yt-thumb-default-224 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img src="//i2.ytimg.com/vi/AvTk1UWEB0I/mqdefault.jpg" alt="缩略图" width="224"><span class="vertical-align"></span></span></span></span><span class="video-time">11:25</span></a>
						<div class="vm-thumb-overlay">
							<ul class="vm-quick-video-actions">
								<li>
								<a href="/watch?v=AvTk1UWEB0I" class="vm-quick-watch-video" title="观看">
								<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="观看">
								</a>
								</li>
								<li>
								<a href="/my_videos_edit?ns=1&amp;video_id=AvTk1UWEB0I" class="vm-quick-edit-video" title="修改">
								<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="修改">
								</a>
								</li>
								<li>
								<a class="vm-quick-delete-video vm-video-delete" title="删除">
								<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="删除">
								</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="vm-video-info-container">
						<div class="vm-video-title">
							<span class="vm-video-title-container yt-uix-tooltip" id="checkbox_AvTk1UWEB0I">
							<a href="/watch?v=AvTk1UWEB0I" class="vm-video-title-content yt-uix-sessionlink" data-sessionlink="ei=CPmoyaOFgrMCFdqCIQodoCUsYw%3D%3D">CNU Kejian</a>
							</span>
							<span class="vm-video-title-badges">
							</span>
						</div>
						<span class="vm-video-info vm-date-info">
						<span class="localized-date" data-timestamp="1308546113" data-format="longdate">2011年06月20日13:01</span>
						</span>
						<div class="vm-video-info">
							<div class="vm-video-info vm-owner-bar">
								<span class="yt-uix-button-group">
								<a href="/my_videos_edit?ns=1&amp;video_id=AvTk1UWEB0I" class="yt-uix-button yt-uix-sessionlink start vm-playlist-edit-video vm-edit-button-link yt-uix-button-default" data-sessionlink="ei=CPmoyaOFgrMCFdqCIQodoCUsYw%3D%3D"><span class="yt-uix-button-content">修改</span></a><button type="button" class="edit-expand-menu-button end yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-button-empty"  role="button" aria-pressed="false" aria-expanded="false" aria-haspopup="true" aria-activedescendant=""><img class="yt-uix-button-arrow" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
								<ul class=" yt-uix-button-menu yt-uix-button-menu-default" role="menu" aria-haspopup="true" style="display: none;">
									<li role="menuitem" id="aria-id-97655052562"><span href="/my_videos_edit?ns=1&amp;feature=vm&amp;video_id=AvTk1UWEB0I" class="vm-video-info-and-settings yt-uix-button-menu-item" >信息和设置</span></li>
									<li role="menuitem" id="aria-id-50351950182"><span href="/enhance?feature=vm&amp;v=AvTk1UWEB0I" class="vm-video-enhancements yt-uix-button-menu-item" >增强功能</span></li>
									<li role="menuitem" id="aria-id-75623942320"><span href="/audio?feature=vm&amp;v=AvTk1UWEB0I" class="vm-video-audio yt-uix-button-menu-item" >音频</span></li>
									<li role="menuitem" id="aria-id-21042170893"><span href="/my_videos_annotate?feature=vm&amp;v=AvTk1UWEB0I" class="vm-video-annotations yt-uix-button-menu-item" >注释功能</span></li>
									<li role="menuitem" id="aria-id-7105236454"><span href="/my_videos_timedtext?video_id=AvTk1UWEB0I&amp;feature=vm" class="vm-video-captions yt-uix-button-menu-item" >字幕</span></li>
									<li role="menuitem" id="aria-id-16539033631"><span href="/my_video_ad?v=AvTk1UWEB0I&amp;utm_source=youtube&amp;utm_medium=permanent&amp;utm_term=drop_down&amp;utm_content=edit_menu&amp;utm_campaign=yt_video_manager" class="vm-video-promote yt-uix-button-menu-item" >推广</span></li>
								</ul>
								</button></span>
								<span class="primary-notification"><a href="/copynotice?video_id=AvTk1UWEB0I&amp;feature=vm" class="notification-action">
								与第三方内容匹配。 </a>
								</span>
							</div>
						</div>
					</div>
					<div class="vm-video-indicators">
						<span class="vm-video-privacy vm-public yt-uix-tooltip yt-uix-tooltip-reverse" title="公开">
						<a href="/my_videos_edit?ns=1&amp;feature=vm-privacy&amp;video_id=AvTk1UWEB0I"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="公开"></a>
						</span>
						<span class="vm-video-privacy vm-unlisted hid yt-uix-tooltip yt-uix-tooltip-reverse" title="不公开">
						<a href="/my_videos_edit?ns=1&amp;feature=vm-privacy&amp;video_id=AvTk1UWEB0I"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="不公开"></a>
						</span>
						<span class="vm-video-privacy vm-private hid yt-uix-tooltip yt-uix-tooltip-reverse" title="私有">
						<a href="/my_videos_edit?ns=1&amp;feature=vm-privacy&amp;video_id=AvTk1UWEB0I"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="私有"></a>
						</span>
						<span class="vm-time-published yt-uix-tooltip yt-uix-tooltip-reverse" title="发布时间：2011年06月19日(PDT)22:01 ">
						<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="发布时间：2011年06月19日(PDT)22:01 ">
						</span>
					</div>
					<div class="vm-video-icons">
						<div class="vm-video-metrics">
							<a href="https://www.youtube.com/analytics?vmv=2#fi=v-AvTk1UWEB0I" class="yt-uix-tooltip" title="查看统计信息">
							<span class="vm-video-metric video-view-count">
							<span>
							<span class="vm-video-metric-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</span>
							<span class="vm-video-metric-value">13</span>
							</span>
							</span>
							<span class="vm-video-metric video-likes-count">
							<span>
							<span class="vm-video-metric-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</span>
							<span class="vm-video-metric-value">0</span>
							</span>
							</span>
							<span class="vm-video-metric video-dislikes-count">
							<span>
							<span class="vm-video-metric-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</span>
							<span class="vm-video-metric-value">0</span>
							</span>
							</span>
							</a>
							<a href="/all_comments?v=AvTk1UWEB0I" class="yt-uix-tooltip yt-uix-tooltip-reverse" title="所有评论">
							<span class="vm-video-metric video-comments">
							<span>
							<span class="vm-video-metric-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</span>
							<span class="vm-video-metric-value">0</span>
							</span>
							</span>
							</a>
						</div>
					</div>
				</div>
				</li>
				<li id="vm-video-2VeJA6JK-pU" class="vm-video-item">
				<div class="vm-video-item-content">
					<span class="yt-uix-form-input-checkbox-container "><input name="video-checkbox" class="yt-uix-form-input-checkbox video-checkbox" value="2VeJA6JK-pU" aria-labelledby="checkbox_2VeJA6JK-pU" type="checkbox"><span class="yt-uix-form-input-checkbox-element"></span></span>
					<div class="vm-thumb">
						<a href="/watch?v=2VeJA6JK-pU" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink " data-sessionlink="ei=CPmoyaOFgrMCFdqCIQodoCUsYw%3D%3D"><span class="video-thumb ux-thumb yt-thumb-default-224 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img src="//i3.ytimg.com/vi/2VeJA6JK-pU/mqdefault.jpg" alt="缩略图" width="224"><span class="vertical-align"></span></span></span></span><span class="video-time">2:39</span></a>
						<div class="vm-thumb-overlay">
							<ul class="vm-quick-video-actions">
								<li>
								<a href="/watch?v=2VeJA6JK-pU" class="vm-quick-watch-video" title="观看">
								<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="观看">
								</a>
								</li>
								<li>
								<a href="/my_videos_edit?ns=1&amp;video_id=2VeJA6JK-pU" class="vm-quick-edit-video" title="修改">
								<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="修改">
								</a>
								</li>
								<li>
								<a class="vm-quick-delete-video vm-video-delete" title="删除">
								<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="删除">
								</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="vm-video-info-container">
						<div class="vm-video-title">
							<span class="vm-video-title-container yt-uix-tooltip" id="checkbox_2VeJA6JK-pU">
							<a data-original-html="Magic For Women" href="/watch?v=2VeJA6JK-pU" class="vm-video-title-content yt-uix-sessionlink" data-sessionlink="ei=CPmoyaOFgrMCFdqCIQodoCUsYw%3D%3D">Magic For Women</a>
							</span>
							<span class="vm-video-title-badges">
							</span>
						</div>
						<span class="vm-video-info vm-date-info">
						<span class="localized-date" data-timestamp="1297212245" data-format="longdate">2011年02月09日8:44</span>
						</span>
						<div class="vm-video-info">
							<div class="vm-video-info vm-owner-bar">
								<span class="yt-uix-button-group">
								<a href="/my_videos_edit?ns=1&amp;video_id=2VeJA6JK-pU" class="yt-uix-button yt-uix-sessionlink start vm-playlist-edit-video vm-edit-button-link yt-uix-button-default" data-sessionlink="ei=CPmoyaOFgrMCFdqCIQodoCUsYw%3D%3D"><span class="yt-uix-button-content">修改</span></a><button type="button" class="edit-expand-menu-button end yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-button-empty"  role="button" aria-pressed="false" aria-expanded="false" aria-haspopup="true" aria-activedescendant=""><img class="yt-uix-button-arrow" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
								<ul class=" yt-uix-button-menu yt-uix-button-menu-default" role="menu" aria-haspopup="true" style="display: none;">
									<li role="menuitem" id="aria-id-44958461656"><span href="/my_videos_edit?ns=1&amp;feature=vm&amp;video_id=2VeJA6JK-pU" class="vm-video-info-and-settings yt-uix-button-menu-item" >信息和设置</span></li>
									<li role="menuitem" id="aria-id-61863126468"><span href="/enhance?feature=vm&amp;v=2VeJA6JK-pU" class="vm-video-enhancements yt-uix-button-menu-item" >增强功能</span></li>
									<li role="menuitem" id="aria-id-79422756843"><span href="/audio?feature=vm&amp;v=2VeJA6JK-pU" class="vm-video-audio yt-uix-button-menu-item" >音频</span></li>
									<li role="menuitem" id="aria-id-74113144664"><span href="/my_videos_annotate?feature=vm&amp;v=2VeJA6JK-pU" class="vm-video-annotations yt-uix-button-menu-item" >注释功能</span></li>
									<li role="menuitem" id="aria-id-31093328916"><span href="/my_videos_timedtext?video_id=2VeJA6JK-pU&amp;feature=vm" class="vm-video-captions yt-uix-button-menu-item" >字幕</span></li>
									<li role="menuitem" id="aria-id-56477338576"><span data-download-url="/download_my_video?t=9KwzIZSF9JdgLNEbzrPi4vT31p58MTM1MDM1NjgxNUAxMzUwMjcwNDE1&amp;v=2VeJA6JK-pU" class="vm-download-mp4 yt-uix-button-menu-item" >下载 MP4</span></li>
									<li role="menuitem" id="aria-id-76117694214"><span href="/my_video_ad?v=2VeJA6JK-pU&amp;utm_source=youtube&amp;utm_medium=permanent&amp;utm_term=drop_down&amp;utm_content=edit_menu&amp;utm_campaign=yt_video_manager" class="vm-video-promote yt-uix-button-menu-item" >推广</span></li>
								</ul>
								</button></span>
							</div>
						</div>
					</div>
					<div class="vm-video-indicators">
						<span class="vm-video-privacy vm-public yt-uix-tooltip yt-uix-tooltip-reverse" title="公开">
						<a href="/my_videos_edit?ns=1&amp;feature=vm-privacy&amp;video_id=2VeJA6JK-pU"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="公开"></a>
						</span>
						<span class="vm-video-privacy vm-unlisted hid yt-uix-tooltip yt-uix-tooltip-reverse" title="不公开">
						<a href="/my_videos_edit?ns=1&amp;feature=vm-privacy&amp;video_id=2VeJA6JK-pU"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="不公开"></a>
						</span>
						<span class="vm-video-privacy vm-private hid yt-uix-tooltip yt-uix-tooltip-reverse" title="私有">
						<a href="/my_videos_edit?ns=1&amp;feature=vm-privacy&amp;video_id=2VeJA6JK-pU"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="私有"></a>
						</span>
						<span class="vm-time-published yt-uix-tooltip yt-uix-tooltip-reverse" title="发布时间：2011年02月08日(PST)16:44 ">
						<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="发布时间：2011年02月08日(PST)16:44 ">
						</span>
					</div>
					<div class="vm-video-icons">
						<div class="vm-video-metrics">
							<a href="https://www.youtube.com/analytics?vmv=2#fi=v-2VeJA6JK-pU" class="yt-uix-tooltip" title="查看统计信息">
							<span class="vm-video-metric video-view-count">
							<span>
							<span class="vm-video-metric-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</span>
							<span class="vm-video-metric-value">14</span>
							</span>
							</span>
							<span class="vm-video-metric video-likes-count">
							<span>
							<span class="vm-video-metric-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</span>
							<span class="vm-video-metric-value">0</span>
							</span>
							</span>
							<span class="vm-video-metric video-dislikes-count">
							<span>
							<span class="vm-video-metric-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</span>
							<span class="vm-video-metric-value">0</span>
							</span>
							</span>
							</a>
							<a href="/all_comments?v=2VeJA6JK-pU" class="yt-uix-tooltip yt-uix-tooltip-reverse" title="所有评论">
							<span class="vm-video-metric video-comments">
							<span>
							<span class="vm-video-metric-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</span>
							<span class="vm-video-metric-value">0</span>
							</span>
							</span>
							</a>
						</div>
					</div>
				</div>
				</li>
				<li id="vm-video-JZtQ25v7XsQ" class="vm-video-item">
				<div class="vm-video-item-content">
					<span class="yt-uix-form-input-checkbox-container "><input name="video-checkbox" class="yt-uix-form-input-checkbox video-checkbox" value="JZtQ25v7XsQ" aria-labelledby="checkbox_JZtQ25v7XsQ" type="checkbox"><span class="yt-uix-form-input-checkbox-element"></span></span>
					<div class="vm-thumb">
						<a href="/watch?v=JZtQ25v7XsQ" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink " data-sessionlink="ei=CPmoyaOFgrMCFdqCIQodoCUsYw%3D%3D"><span class="video-thumb ux-thumb yt-thumb-default-224 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img src="//i3.ytimg.com/vi/JZtQ25v7XsQ/mqdefault.jpg" alt="缩略图" width="224"><span class="vertical-align"></span></span></span></span><span class="video-time">3:57</span></a>
						<div class="vm-thumb-overlay">
							<ul class="vm-quick-video-actions">
								<li>
								<a href="/watch?v=JZtQ25v7XsQ" class="vm-quick-watch-video" title="观看">
								<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="观看">
								</a>
								</li>
								<li>
								<a href="/my_videos_edit?ns=1&amp;video_id=JZtQ25v7XsQ" class="vm-quick-edit-video" title="修改">
								<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="修改">
								</a>
								</li>
								<li>
								<a class="vm-quick-delete-video vm-video-delete" title="删除">
								<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="删除">
								</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="vm-video-info-container">
						<div class="vm-video-title">
							<span class="vm-video-title-container yt-uix-tooltip" id="checkbox_JZtQ25v7XsQ">
							<a href="/watch?v=JZtQ25v7XsQ" class="vm-video-title-content yt-uix-sessionlink" data-sessionlink="ei=CPmoyaOFgrMCFdqCIQodoCUsYw%3D%3D">Will Power</a>
							</span>
							<span class="vm-video-title-badges">
							</span>
						</div>
						<span class="vm-video-info vm-date-info">
						<span class="localized-date" data-timestamp="1292219012" data-format="longdate">2010年12月13日13:43</span>
						</span>
						<div class="vm-video-info">
							<div class="vm-video-info vm-owner-bar">
								<span class="yt-uix-button-group">
								<a href="/my_videos_edit?ns=1&amp;video_id=JZtQ25v7XsQ" class="yt-uix-button yt-uix-sessionlink start vm-playlist-edit-video vm-edit-button-link yt-uix-button-default" data-sessionlink="ei=CPmoyaOFgrMCFdqCIQodoCUsYw%3D%3D"><span class="yt-uix-button-content">修改</span></a><button type="button" class="edit-expand-menu-button end yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-button-empty"  role="button" aria-pressed="false" aria-expanded="false" aria-haspopup="true" aria-activedescendant=""><img class="yt-uix-button-arrow" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
								<ul class=" yt-uix-button-menu yt-uix-button-menu-default" role="menu" aria-haspopup="true" style="display: none;">
									<li role="menuitem" id="aria-id-90908581422"><span href="/my_videos_edit?ns=1&amp;feature=vm&amp;video_id=JZtQ25v7XsQ" class="vm-video-info-and-settings yt-uix-button-menu-item" >信息和设置</span></li>
									<li role="menuitem" id="aria-id-42243167604"><span href="/enhance?feature=vm&amp;v=JZtQ25v7XsQ" class="vm-video-enhancements yt-uix-button-menu-item" >增强功能</span></li>
									<li role="menuitem" id="aria-id-28294965980"><span href="/audio?feature=vm&amp;v=JZtQ25v7XsQ" class="vm-video-audio yt-uix-button-menu-item" >音频</span></li>
									<li role="menuitem" id="aria-id-23956505250"><span href="/my_videos_annotate?feature=vm&amp;v=JZtQ25v7XsQ" class="vm-video-annotations yt-uix-button-menu-item" >注释功能</span></li>
									<li role="menuitem" id="aria-id-98884096882"><span href="/my_videos_timedtext?video_id=JZtQ25v7XsQ&amp;feature=vm" class="vm-video-captions yt-uix-button-menu-item" >字幕</span></li>
									<li role="menuitem" id="aria-id-7087932730"><span data-download-url="/download_my_video?t=9KwzIZSF9JdgLNEbzrPi4vT31p58MTM1MDM1NjgxNUAxMzUwMjcwNDE1&amp;v=JZtQ25v7XsQ" class="vm-download-mp4 yt-uix-button-menu-item" >下载 MP4</span></li>
									<li role="menuitem" id="aria-id-29162965944"><span href="/my_video_ad?v=JZtQ25v7XsQ&amp;utm_source=youtube&amp;utm_medium=permanent&amp;utm_term=drop_down&amp;utm_content=edit_menu&amp;utm_campaign=yt_video_manager" class="vm-video-promote yt-uix-button-menu-item" >推广</span></li>
								</ul>
								</button></span>
							</div>
						</div>
					</div>
					<div class="vm-video-indicators">
						<span class="vm-video-privacy vm-public yt-uix-tooltip yt-uix-tooltip-reverse" title="公开">
						<a href="/my_videos_edit?ns=1&amp;feature=vm-privacy&amp;video_id=JZtQ25v7XsQ"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="公开"></a>
						</span>
						<span class="vm-video-privacy vm-unlisted hid yt-uix-tooltip yt-uix-tooltip-reverse" title="不公开">
						<a href="/my_videos_edit?ns=1&amp;feature=vm-privacy&amp;video_id=JZtQ25v7XsQ"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="不公开"></a>
						</span>
						<span class="vm-video-privacy vm-private hid yt-uix-tooltip yt-uix-tooltip-reverse" title="私有">
						<a href="/my_videos_edit?ns=1&amp;feature=vm-privacy&amp;video_id=JZtQ25v7XsQ"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="私有"></a>
						</span>
						<span class="vm-time-published yt-uix-tooltip yt-uix-tooltip-reverse" title="发布时间：2010年12月12日(PST)21:43 ">
						<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="发布时间：2010年12月12日(PST)21:43 ">
						</span>
					</div>
					<div class="vm-video-icons">
						<div class="vm-video-metrics">
							<a href="https://www.youtube.com/analytics?vmv=2#fi=v-JZtQ25v7XsQ" class="yt-uix-tooltip" title="查看统计信息">
							<span class="vm-video-metric video-view-count">
							<span>
							<span class="vm-video-metric-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</span>
							<span class="vm-video-metric-value">14</span>
							</span>
							</span>
							<span class="vm-video-metric video-likes-count">
							<span>
							<span class="vm-video-metric-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</span>
							<span class="vm-video-metric-value">1</span>
							</span>
							</span>
							<span class="vm-video-metric video-dislikes-count">
							<span>
							<span class="vm-video-metric-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</span>
							<span class="vm-video-metric-value">0</span>
							</span>
							</span>
							</a>
							<a href="/all_comments?v=JZtQ25v7XsQ" class="yt-uix-tooltip yt-uix-tooltip-reverse" title="所有评论">
							<span class="vm-video-metric video-comments">
							<span>
							<span class="vm-video-metric-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</span>
							<span class="vm-video-metric-value">1</span>
							</span>
							</span>
							</a>
						</div>
					</div>
				</div>
				</li>
				<li id="vm-video-_5FK7_69JPM" class="vm-video-item">
				<div class="vm-video-item-content">
					<span class="yt-uix-form-input-checkbox-container "><input name="video-checkbox" class="yt-uix-form-input-checkbox video-checkbox" value="_5FK7_69JPM" aria-labelledby="checkbox__5FK7_69JPM" type="checkbox"><span class="yt-uix-form-input-checkbox-element"></span></span>
					<div class="vm-thumb">
						<a href="/watch?v=_5FK7_69JPM" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink " data-sessionlink="ei=CPmoyaOFgrMCFdqCIQodoCUsYw%3D%3D"><span class="video-thumb ux-thumb yt-thumb-default-224 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img src="//i4.ytimg.com/vi/_5FK7_69JPM/mqdefault.jpg" alt="缩略图" width="224"><span class="vertical-align"></span></span></span></span><span class="video-time">3:41</span></a>
						<div class="vm-thumb-overlay">
							<ul class="vm-quick-video-actions">
								<li>
								<a href="/watch?v=_5FK7_69JPM" class="vm-quick-watch-video" title="观看">
								<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="观看">
								</a>
								</li>
								<li>
								<a href="/my_videos_edit?ns=1&amp;video_id=_5FK7_69JPM" class="vm-quick-edit-video" title="修改">
								<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="修改">
								</a>
								</li>
								<li>
								<a class="vm-quick-delete-video vm-video-delete" title="删除">
								<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="删除">
								</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="vm-video-info-container">
						<div class="vm-video-title">
							<span class="vm-video-title-container yt-uix-tooltip" id="checkbox__5FK7_69JPM">
							<a href="/watch?v=_5FK7_69JPM" class="vm-video-title-content yt-uix-sessionlink" data-sessionlink="ei=CPmoyaOFgrMCFdqCIQodoCUsYw%3D%3D">Li enters the bank</a>
							</span>
							<span class="vm-video-title-badges">
							</span>
						</div>
						<span class="vm-video-info vm-date-info">
						<span class="localized-date" data-timestamp="1273564890" data-format="longdate">2010年05月11日16:01</span>
						</span>
						<div class="vm-video-info">
							<div class="vm-video-info vm-owner-bar">
								<span class="yt-uix-button-group">
								<a href="/my_videos_edit?ns=1&amp;video_id=_5FK7_69JPM" class="yt-uix-button yt-uix-sessionlink start vm-playlist-edit-video vm-edit-button-link yt-uix-button-default" data-sessionlink="ei=CPmoyaOFgrMCFdqCIQodoCUsYw%3D%3D"><span class="yt-uix-button-content">修改</span></a><button type="button" class="edit-expand-menu-button end yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-button-empty"  role="button" aria-pressed="false" aria-expanded="false" aria-haspopup="true" aria-activedescendant=""><img class="yt-uix-button-arrow" src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
								<ul class=" yt-uix-button-menu yt-uix-button-menu-default" role="menu" aria-haspopup="true" style="display: none;">
									<li role="menuitem" id="aria-id-12312337170"><span href="/my_videos_edit?ns=1&amp;feature=vm&amp;video_id=_5FK7_69JPM" class="vm-video-info-and-settings yt-uix-button-menu-item" >信息和设置</span></li>
									<li role="menuitem" id="aria-id-42696052497"><span href="/enhance?feature=vm&amp;v=_5FK7_69JPM" class="vm-video-enhancements yt-uix-button-menu-item" >增强功能</span></li>
									<li role="menuitem" id="aria-id-74418662172"><span href="/audio?feature=vm&amp;v=_5FK7_69JPM" class="vm-video-audio yt-uix-button-menu-item" >音频</span></li>
									<li role="menuitem" id="aria-id-11603558232"><span href="/my_videos_annotate?feature=vm&amp;v=_5FK7_69JPM" class="vm-video-annotations yt-uix-button-menu-item" >注释功能</span></li>
									<li role="menuitem" id="aria-id-88116680161"><span href="/my_videos_timedtext?video_id=_5FK7_69JPM&amp;feature=vm" class="vm-video-captions yt-uix-button-menu-item" >字幕</span></li>
									<li role="menuitem" id="aria-id-13520301496"><span data-download-url="/download_my_video?t=9KwzIZSF9JdgLNEbzrPi4vT31p58MTM1MDM1NjgxNUAxMzUwMjcwNDE1&amp;v=_5FK7_69JPM" class="vm-download-mp4 yt-uix-button-menu-item" >下载 MP4</span></li>
									<li role="menuitem" id="aria-id-36277499446"><span href="/my_video_ad?v=_5FK7_69JPM&amp;utm_source=youtube&amp;utm_medium=permanent&amp;utm_term=drop_down&amp;utm_content=edit_menu&amp;utm_campaign=yt_video_manager" class="vm-video-promote yt-uix-button-menu-item" >推广</span></li>
								</ul>
								</button></span>
							</div>
						</div>
					</div>
					<div class="vm-video-indicators">
						<span class="vm-video-privacy vm-public yt-uix-tooltip yt-uix-tooltip-reverse" title="公开">
						<a href="/my_videos_edit?ns=1&amp;feature=vm-privacy&amp;video_id=_5FK7_69JPM"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="公开"></a>
						</span>
						<span class="vm-video-privacy vm-unlisted hid yt-uix-tooltip yt-uix-tooltip-reverse" title="不公开">
						<a href="/my_videos_edit?ns=1&amp;feature=vm-privacy&amp;video_id=_5FK7_69JPM"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="不公开"></a>
						</span>
						<span class="vm-video-privacy vm-private hid yt-uix-tooltip yt-uix-tooltip-reverse" title="私有">
						<a href="/my_videos_edit?ns=1&amp;feature=vm-privacy&amp;video_id=_5FK7_69JPM"><img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="私有"></a>
						</span>
						<span class="vm-time-published yt-uix-tooltip yt-uix-tooltip-reverse" title="发布时间：2010年05月11日(PDT)01:01 ">
						<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="发布时间：2010年05月11日(PDT)01:01 ">
						</span>
					</div>
					<div class="vm-video-icons">
						<div class="vm-video-metrics">
							<a href="https://www.youtube.com/analytics?vmv=2#fi=v-_5FK7_69JPM" class="yt-uix-tooltip" title="查看统计信息">
							<span class="vm-video-metric video-view-count">
							<span>
							<span class="vm-video-metric-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</span>
							<span class="vm-video-metric-value">30</span>
							</span>
							</span>
							<span class="vm-video-metric video-likes-count">
							<span>
							<span class="vm-video-metric-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</span>
							<span class="vm-video-metric-value">1</span>
							</span>
							</span>
							<span class="vm-video-metric video-dislikes-count">
							<span>
							<span class="vm-video-metric-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</span>
							<span class="vm-video-metric-value">0</span>
							</span>
							</span>
							</a>
							<a data-tooltip-text="所有评论" href="/all_comments?v=_5FK7_69JPM" class="yt-uix-tooltip yt-uix-tooltip-reverse" title="所有评论">
							<span class="vm-video-metric video-comments">
							<span>
							<span class="vm-video-metric-icon">
							<img src="<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" alt="">
							</span>
							<span class="vm-video-metric-value">0</span>
							</span>
							</span>
							</a>
						</div>
					</div>
				</div>
				</li>
			</ol>
		</div>
<%#render :partial=>'pagination',locals:{coursewares_ids:@coursewares_ids}%>
	</div>
</div>
<div class="yt-dialog hid" id="suggested-edits-dialog">
	<div class="yt-dialog-base">
		<span class="yt-dialog-align"></span>
		<div class="yt-dialog-fg">
			<div class="yt-dialog-fg-content yt-dialog-show-content">
				<div class="yt-dialog-header">
					<h2 class="yt-dialog-title">
					改进您的课件 </h2>
				</div>
				<div class="yt-dialog-loading">
					<div class="yt-dialog-waiting-content">
						<div class="yt-spinner-img">
						</div>
						<div class="yt-dialog-waiting-text">
							正在加载...
						</div>
					</div>
				</div>
				<div class="yt-dialog-content">
					<div id="suggested-edits-dialog-message">
					</div>
					<div class="suggested-edits-player">
						<div class="preview-player">
						</div>
					</div>
				</div>
				<div class="yt-dialog-working">
					<div id="yt-dialog-working-overlay">
					</div>
					<div id="yt-dialog-working-bubble">
						<div class="yt-dialog-waiting-content">
							<div class="yt-spinner-img">
							</div>
							<div class="yt-dialog-waiting-text">
								进行中...
							</div>
						</div>
					</div>
				</div>
				<div class="yt-dialog-footer">
					<div class="opt-out">
						<a href="#" id="suggested-edit-opt-out" class=" yt-dialog-dismiss" data-action="opt-out">
						不再询问 </a>
					</div>
					<button type="button" class=" yt-dialog-dismiss yt-uix-button yt-uix-button-default"  data-action="cancel" role="button"><span class="yt-uix-button-content">不，谢谢！ </span></button><button type="button" class=" yt-dialog-dismiss yt-uix-button yt-uix-button-primary"  data-action="save" role="button"><span class="yt-uix-button-content">好的 </span></button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="yt-dialog hid" id="suggested-edit-opt-out-dialog">
	<div class="yt-dialog-base">
		<span class="yt-dialog-align"></span>
		<div class="yt-dialog-fg">
			<div class="yt-dialog-fg-content yt-dialog-show-content">
				<div class="yt-dialog-header">
					<h2 class="yt-dialog-title">
					您确定吗？ </h2>
				</div>
				<div class="yt-dialog-loading">
					<div class="yt-dialog-waiting-content">
						<div class="yt-spinner-img">
						</div>
						<div class="yt-dialog-waiting-text">
							正在加载...
						</div>
					</div>
				</div>
				<div class="yt-dialog-content">
					<p>
						确定不再希望系统提示您优化课件了吗？
					</p>
					<p>
					</p>
					<p>
						我们将不再显示任何建议，但您仍可以在<em>修改</em>菜单中选择<em>增强功能</em>来优化任意课件。
					</p>
				</div>
				<div class="yt-dialog-working">
					<div id="yt-dialog-working-overlay">
					</div>
					<div id="yt-dialog-working-bubble">
						<div class="yt-dialog-waiting-content">
							<div class="yt-spinner-img">
							</div>
							<div class="yt-dialog-waiting-text">
								进行中...
							</div>
						</div>
					</div>
				</div>
				<div class="yt-dialog-footer">
					<button type="button" class=" yt-dialog-dismiss yt-uix-button yt-uix-button-default"  data-action="cancel" role="button"><span class="yt-uix-button-content">取消 </span></button><button type="button" class=" yt-dialog-dismiss yt-uix-button yt-uix-button-primary"  data-action="save" role="button"><span class="yt-uix-button-content">是 </span></button>
				</div>
			</div>
		</div>
	</div>
</div>
<%= render 'mine_below' %>

