<% content_for :armpit do %>
  <%= stylesheet_link_tag 'ktv/__ytb' %>
  <%= stylesheet_link_tag "ktv/__ytb_manager", :media => "all" %>
<% end %>


<%= render 'mine_above' %>



    <div class="ytg-fl vm-has-videolist vm-list-view" id="yt-admin">

	    <%= render 'manager_nav' %>
    	<div class="ytg-fl " id="yt-admin-content">
    		<div id="vm-page-subheader">
    			<h3>顶过的课件</h3>
    			<span class="yt-badge-vm" id="vm-num-videos-shown"><%= current_user.thanked_courseware_ids.size %></span>
    			<span class="vm-separator">|</span>
    			<h3><a href="/my_liked_lists">顶过的课件锦囊</a></h3>
    			<span class="yt-badge-vm" id="vm-num-videos-shown"><%= current_user.thanked_play_list_ids.size %></span>
    		</div>
    		<div id="vm-video-actions-bar" class="goog-scrollfloater" style="">
    			<div class="clearfix" id="vm-video-actions-inner">
    				<span class="yt-uix-form-input-checkbox-container vm-select-all"><input type="checkbox" id="vm-video-select-all" class="yt-uix-form-input-checkbox" name="vm-video-select-all"><span class="yt-uix-form-input-checkbox-element"></span></span>
    				<button role="button" data-feature="vm" data-video-ids="" data-button-menu-id="shared-addto-menu" data-button-menu-action="yt.www.lists.addto.toggleMenu"  class="addto-button default show-label yt-uix-button yt-uix-button-default" type="button" disabled="True"><span class="yt-uix-button-icon-wrapper"><img alt="" src= "<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-icon yt-uix-button-icon-addto"><span class="yt-valign-trick"></span></span><span class="yt-uix-button-content"><span class="addto-label">添加到</span></span><img alt="" src= "<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-arrow"></button>
    				<button role="button" class=" yt-uix-button yt-uix-button-default"  id="vm-playlist-play-all" type="button" href="/watch?v=xibQbeTLMfU&amp;feature=my_liked_videos&amp;list=LLIMHRDN2dx-0gbHFP7uqATA"><span class="yt-uix-button-content">全部播放 </span></button>
    				<button role="button" class=" yt-uix-button yt-uix-button-default"  id="vm-playlist-remove-videos" type="button" disabled="True"><span class="yt-uix-button-content">删除 </span></button>
    				<span class="hid" id="watch-history-pause-container">
    				<button role="button" class=" yt-uix-button yt-uix-button-default"  id="watch-history-pause-button" type="button"><span class="yt-uix-button-content">暂停观看历史记录 </span></button>
    				</span>
    				<span class="hid" id="watch-history-resume-container">
    				<button role="button" class=" yt-uix-button yt-uix-button-default"  id="watch-history-resume-button" type="button"><span class="yt-uix-button-content">恢复观看历史记录 </span></button>
    				</span>
    				<span class="hid" id="search-history-pause-container">
    				<button role="button" class=" yt-uix-button yt-uix-button-default"  id="search-history-pause-button" type="button"><span class="yt-uix-button-content">暂停搜索记录 </span></button>
    				</span>
    				<span class="hid" id="search-history-resume-container">
    				<button role="button" class=" yt-uix-button yt-uix-button-default"  id="search-history-resume-button" type="button"><span class="yt-uix-button-content">恢复搜索记录 </span></button>
    				</span>
    				<span id="vm-view-filter">
    				<span id="vm-view-filter-label">观看：</span>
    				<button aria-activedescendant="" aria-haspopup="true" aria-expanded="false" aria-pressed="false" role="button" class=" yt-uix-button yt-uix-button-text"  id="vm-view-btn" type="button" aria-labelledby="vm-view-filter-label"><span class="yt-uix-button-content">最新课件 </span><img alt="" src= "<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>" class="yt-uix-button-arrow">
    				<ul style="display: none;" aria-haspopup="true" role="menu" class=" yt-uix-button-menu yt-uix-button-menu-text">
    					<li id="aria-id-17580942920" role="menuitem"><span class=" yt-uix-button-menu-item"  id="oldest" href="?vmo=oldest&amp;sa=1&amp;sf=added">最早上传</span></li>
    					<li id="aria-id-92989781333" role="menuitem"><span class=" yt-uix-button-menu-item"  id="viewed" href="?vmo=viewed&amp;sa=0&amp;sf=viewcount">观看最多</span></li>
    				</ul>
    				</button>
    				</span>
    			</div>
    			<span data-overlay-class="vm-video-actions-delete-overlay" class="yt-uix-overlay hid">
    			<span class="yt-uix-overlay-content vm-video-actions-delete-overlay-content">
    			<div class="vm-video-actions-delete-full-area">
    				<div class="vm-video-actions-delete-header">
    					<div class="yt-alert yt-alert-naked yt-alert-error ">
    						<div class="yt-alert-icon">
    							<img alt="提醒图标" class="icon master-sprite" src= "<%=asset_path('yt/img/pixel-vfl3z5WfW.gif')%>">
    						</div>
    						<div role="alert" class="yt-alert-content">
    							<span class="yt-alert-vertical-trick"></span>
    							<div class="yt-alert-message">
    								 确认
    							</div>
    						</div>
    					</div>
    				</div>
    				<div class="vm-video-actions-delete-main-area">
    					<span class="vm-video-actions-delete-warning"></span>
    					<div class="vm-video-actions-delete-extra-warning hid">
    					</div>
    					<div class="vm-video-actions-delete-button-area">
    						<button role="button"  class="yt-uix-overlay-close vm-video-actions-delete-button-cancel yt-uix-button yt-uix-button-default" type="button"><span class="yt-uix-button-content">取消 </span></button>
    						<button role="button"  class="vm-video-actions-delete-button-confirm yt-uix-button yt-uix-button-destructive" type="button"><span class="yt-uix-button-content">删除 </span></button>
    					</div>
    				</div>
    			</div>
    			</span>
    			</span>
    		</div>
    		<div id="vm-video-list-container">
    			<ol class="vm-video-list" id="vm-playlist-video-list-ol">
<% current_user.thanked_courseware_ids.each_with_index do |cw_id,index| %>
  <% item = @coursewares[index] %>
  <%= render :partial => 'cw_item',:locals=>{item:item} %>
<% end %>

    			</ol>
    		</div>
    		<div id="vm-pagination">
    		</div>
    	</div>
    </div>


<%= render 'mine_below' %>

