<% content_for :armpit do %>
  <%= stylesheet_link_tag 'ktv/__ytb' %>
  <%= stylesheet_link_tag "ktv/__ytb_manager", :media => "all" %>
<% end %>


<%= render 'mine_above' %>


  <div class="ytg-fl vm-has-videolist vm-list-view" id="yt-admin">
	<%= render 'manager_nav' %>
  	<div class="ytg-fl " id="yt-admin-content">
  		<div class="clearfix" id="vm-page-subheader" style='  margin-left:2px'>
  			<div class="vm-page-subheader-content">
  				<h3>课件锦囊</h3>
  				<span class="yt-badge-vm" id="vm-num-videos-shown"><%= current_user.play_lists_ugc.count %></span>
  			</div>
  		</div>
  		<div id="vm-video-actions-bar" class="goog-scrollfloater">
  			<div id="vm-video-actions-inner" style='margin-left:2px'>
  				<span id="vm-playlist-sort-bar">
  				<span id="vm-view-filter-label">观看：</span>
  				<button aria-activedescendant="" aria-haspopup="true" aria-expanded="false" aria-pressed="false" role="button" class=" yt-uix-button yt-uix-button-text" onclick=";return false;" id="vm-playlist-sort-btn" type="button" aria-labelledby="vm-view-filter-label"><span class="yt-uix-button-content">最新创建 </span><img alt="" src="<%= asset_path 'yt/img/pixel-vfl3z5WfW.gif' %>" class="yt-uix-button-arrow">
  				<ul style="display: none;" aria-haspopup="true" role="menu" class=" yt-uix-button-menu yt-uix-button-menu-text">
  					<li class="aria-id-sort" role="menuitem"><span class=" yt-uix-button-menu-item"  id="vm-sort-newest" href="?sf=time&amp;sa=1">最新创建</span></li>
  					<li class="aria-id-sort" role="menuitem"><span class=" yt-uix-button-menu-item"  id="vm-sort-oldest" href="?sf=time&amp;sa=0">最早创建</span></li>
  					<li class="aria-id-sort" role="menuitem"><span class=" yt-uix-button-menu-item"  id="vm-sort-az" href="?sf=name&amp;sa=0">A-Z</span></li>
  					<li class="aria-id-sort" role="menuitem"><span class=" yt-uix-button-menu-item"  id="vm-sort-za" href="?sf=name&amp;sa=1">Z-A</span></li>
  				</ul>
  				</button>
  				</span>
  				<div id="vm-playlist-div">
  					<button role="button" data-button-menu-id="vm-dialog-new-playlist" class="yt-uix-button yt-uix-button-default" onclick=";return false;" id="vm-new-playlist" type="button">
  					  <span class="yt-uix-button-content">+ 新建播放列表 </span>
  					  <img alt="" src="<%= asset_path 'yt/img/pixel-vfl3z5WfW.gif' %>" class="yt-uix-button-arrow">
  					</button>
  				</div>
  			</div>
  		</div>
  		<div class="vm-dialog hid" id="vm-dialog-new-playlist">
  			<div id="vm-new-playlist-notifs">
  			</div>
  			<p>
  				 课件锦囊标题
  			</p>
  			<p>
  				<span class="text yt-uix-form-input-container"><input type="text" maxlength="255" id="vm-new-playlist-title-field" class="yt-uix-form-input-text "></span>
  			</p>
  			<p>
  				 课件锦囊说明
  			</p>
  			<p>
  				<span class="yt-uix-form-input-container text"><textarea rows="6" id="vm-new-playlist-desc-field" class="yt-uix-form-textarea "></textarea></span>
  			</p>
  			<p>
  				<button role="button" class=" yt-uix-button yt-uix-button-default"  id="vm-new-playlist-save" type="button"><span class="yt-uix-button-content">创建课件锦囊 </span></button>
  				<a id="vm-new-playlist-cancel">
  				取消 </a>
  			</p>
  		</div>
  		<div id="vm-video-list-container" style='margin-left:2px'>
  			<ol class="vm-video-list vm-playlists" id="vm-playlist-video-list-ol">
  			  <%= render :partial =>'playlist_sort',locals:{uplist:@uplist} %>
  			</ol>
  		</div>
  		<div id="vm-pagination">
  		</div>
  	</div>
  </div>
<script type="text/javascript" charset="utf-8">
  <% content_for :butt2 do %>
      $('#vm-dialog-new-playlist').live('click',function(e){
        e.stopPropagation();
      });
      $('#vm-playlist-div').live('click',function(){
          $('#vm-new-playlist').toggleClass('yt-uix-button-active');
          div = $('#vm-dialog-new-playlist');
          if($('#vm-new-playlist').hasClass('yt-uix-button-active')){
            $('#vm-dialog-new-playlist').remove();
            var cssObj = {
              'min-width': '96px',
              'left': $(this).offset().left.toString() + 'px', 
              'top': ($(this).offset().top + $(this).height()).toString() + 'px'
            };
            div.show();
            div.removeClass('hid');
            div.addClass('vm-dialog yt-uix-button-menu yt-uix-button-menu-external');
            div.css(cssObj);
            $('.__ytb').append(div);
          }
          else{
            div.remove();
            div.addClass('hid');
            div.hide();
            $('#yt-admin-content').append(div);
          }
      });
      
      $('#vm-playlist-sort-btn').live('click',function(e){
        e.stopPropagation();
        $(this).toggleClass('yt-uix-button-active')
        if($(this).hasClass('yt-uix-button-active')){
            var div = $('ul',this);
            div.remove();
            var cssObj = {
              'min-width': '79px',
              'left': $(this).offset().left.toString() + 'px', 
              'top': ($(this).offset().top + $(this).height()).toString() + 'px'
            };
            div.css(cssObj);
            div.show().removeClass('hid');
            $('.__ytb').append(div);
        }else{
            var div = $('.__ytb > ul');
            div.remove();
            div.hide().addClass('hid');
            $(this).append(div);
        }
      });
      $(window).scroll(function(){
        var hidden = '<div style="visibility: hidden; position: static; top: auto; left: auto; display: block; float: none; margin: 0px; width: 766px; height: 54px;"></div>'
        var cssObj = {
          'left': ($('#vm-page-subheader').offset().left-2).toString()+'px',
          'width': '766px',
          'float': 'none',
          'position': 'fixed',
          'top': '0px'
        };          
        if($(window).scrollTop() >= $('#vm-page-subheader').offset().top +$('#vm-page-subheader').height()){
          if(!$('#vm-video-actions-bar').hasClass('scrollfloat')){
              $('#vm-video-actions-bar').before(hidden);  
              $('#vm-video-actions-bar').addClass('scrollfloat');
              $('#vm-video-actions-bar').css(cssObj);
          }
        }else{
           if($('#vm-video-actions-bar').hasClass('scrollfloat')){
             $('#vm-page-subheader').next().remove();
             $('#vm-video-actions-bar').removeClass('scrollfloat');
             $('#vm-video-actions-bar').removeAttr('style');
           }
        }
      });
      $(document).click(function(e){
        var target = e.target;
        if ($('#vm-new-playlist').hasClass('yt-uix-button-active') && !$(target).is('#vm-playlist-div') && !$(target).parent().parent().is('#vm-playlist-div') && !$(target).parent().is('#vm-playlist-div')) {
          div = $('#vm-dialog-new-playlist');
          div.remove();
          div.addClass('hid');
          div.hide();
          $('#yt-admin-content').append(div);
          $('#vm-new-playlist').toggleClass('yt-uix-button-active');
        }
        if($('#vm-playlist-sort-btn').hasClass('yt-uix-button-active') && !$(target).is('#vm-playlist-sort-btn')){
          div = $('ul.yt-uix-button-menu.yt-uix-button-menu-text');
          div.remove();
          div.hide().addClass('hid');
          $('#vm-playlist-sort-btn').removeClass('yt-uix-button-active');
          $('#vm-playlist-sort-btn').append(div);          
        }
      });
      $('#vm-new-playlist-cancel').live('click',function(){
         div = $('#vm-dialog-new-playlist');
         div.remove();
         div.addClass('hid');
         div.hide();
         $('#yt-admin-content').append(div);
         $('#vm-new-playlist-title-field').val('');
         $('#vm-new-playlist-desc-field').val('')
      });
      $('#vm-new-playlist-save').live('click',function(){
          var loading = '<div class="yt-alert yt-alert-default yt-alert-info">  <div class="yt-alert-icon"><img alt="提醒图标" class="icon master-sprite" src="<%= asset_path "yt/img/pixel-vfl3z5WfW.gif" %>"></div><div class="yt-alert-buttons"><button role="button" data-close-parent-class="yt-alert" onclick=";return false;" class="close yt-uix-close yt-uix-button yt-uix-button-close" type="button"><span class="yt-uix-button-content">关闭 </span></button></div><div role="alert" class="yt-alert-content">正在创建播放列表...</div></div>';
          var error = '<div class="yt-alert yt-alert-default yt-alert-error">  <div class="yt-alert-icon"><img alt="提醒图标" class="icon master-sprite" src="<%= asset_path "yt/img/pixel-vfl3z5WfW.gif" %>"></div><div class="yt-alert-buttons"><button role="button" data-close-parent-class="yt-alert" onclick=";return false;" class="close yt-uix-close yt-uix-button yt-uix-button-close" type="button"><span class="yt-uix-button-content">关闭 </span></button></div><div role="alert" class="yt-alert-content">请指定标题。</div></div>'

          if($('#vm-new-playlist-title-field').val() == ''){
            $('.yt-alert-info').remove();
            $('.yt-alert-error').remove();
            $('#vm-new-playlist-notifs').append(error);
            return false;
          }
          $('.yt-alert-info').remove();
          $('.yt-alert-error').remove();
          $('#vm-new-playlist-notifs').append(loading);
          $(this).text('正在创建...');
          $(this).attr('disabled');
          $.ajax({
            url:'/ajax/create_new_playlist',
            type:'POST', data:{'list_title':$('#vm-new-playlist-title-field').val(),'desc':$('#vm-new-playlist-desc-field').val()},
            dataType:'json'
          }).done(function(data){
            if(data['status'] == 'suc'){
              window.location.replace('/play_lists/'+data['id'] + '/edit');
            }else{
              
            }
          }); 
      });
      $('.yt-alert-buttons').live('click',function(){
        $(this).parent().remove()
      })
      $('.yt-uix-tooltip').tipsy({gravity: $.fn.tipsy.autoNS,fade: <%= @is_WebKit ? 'false' : 'true'%>,opacity: 1});
      $('li.aria-id-sort').live('click',function(){
        var params = $('span',this).attr("id");
        $.ajax({
          url:'/ajax/get_sorted_playlist',
          type:'POST',
          data:{'sort':params},
          dataType:'html'
        }).done(function(html){
          $('#vm-playlist-video-list-ol').html(html);
        });
      });
      $('.vm-pl-edit').live('click',function(){
        var url = $('button',this).attr('href')
        window.location.replace(url);

      });
  <% end %>
</script>
<%= render 'mine_below' %>

