<%= render 'content_above' %>
<%= render :partial => 'dz_navi',:locals => {margintop:15} %>
<div id="mainbar">

<div class="subheader">
    <div id="tabs">
    <a class="<%= 'youarehere' if '/'==request.path %>" href="/?psvr_force=1">我的首页</a>
    <a class="<%= 'youarehere' if '/welcome/latest'==request.path %>" href="/welcome/latest">全部课件</a>
    <a class="" href="/simple/forum.php?mod=guide&view=my">我的课件</a>
    <a class="" href="/simple/forum.php?mod=guide&view=new">最新课件</a>
    </div>

</div>
<% content_for :butt2 do %>
  jQuery('#supernav li').click(function(){
    window.location.href = jQuery('a',this).attr('href');
  });
<% end %>
<div id="questions">
<% if '/'==request.path%>
<div style="line-height:88px;height:88px;text-align:center;">  您关注的资源暂无新动态，去关注更多<%= link_to '课程',courses_path %> + <%= link_to '老师',teachers_path %> + <%= link_to '同学', users_path %>吧！</div>
<% else %>
  <div id="supernav">
    <div class="switch">高级</div>
    <ul>
      <li class="sigezi<%='_right_on jihuo' if params[:sort1].blank? or params[:sort1]=='all'%>"><a href="<%=alter_request_path request.fullpath,:sort1=>'all'%>">全部资源</a></li>
      <li class="lianggezi<%='_right_on jihuo' if params[:sort1]=='lecture_notes'%>"><a href="<%=alter_request_path request.fullpath,:sort1=>'lecture_notes'%>">讲义</a></li>
      <li class="lianggezi<%='_right_on jihuo' if params[:sort1]=='assignments'%>"><a href="<%=alter_request_path request.fullpath,:sort1=>'assignments'%>">作业</a></li>
      <li class="lianggezi<%='_right_on jihuo' if params[:sort1]=='exams'%>"><a href="<%=alter_request_path request.fullpath,:sort1=>'exams'%>">试卷</a></li>
      <li class="sigezi<%='_right_on jihuo' if params[:sort1]=='videos'%>"><a href="<%=alter_request_path request.fullpath,:sort1=>'videos'%>">课堂录像</a></li>
      <li class="wugezi<%='_right_on jihuo' if params[:sort1]=='materials'%>"><a href="<%=alter_request_path request.fullpath,:sort1=>'materials'%>">资料/读物</a></li>
    </ul>
    <br style="clear:both">
    <div class="p">
      <a class="pubu tb" href="/coursewares_by_departments">观赏课件瀑布</a>
      <div class="paixu">排序</div>
      <div class="paixu2 tb">
        <%=
          case params[:order]
          when 'slides_count1'
            jiangxu_active=1
            '页数从多到少'
          when 'slides_count0'
            jiangxu_active=0
            '页数从少到多'
          when 'price1'
            jiangxu_active=1
            '价格从高到低'
          when 'price0'
            jiangxu_active=0
            '价格从低到高'
          when 'thanked_count1'
            jiangxu_active=1
            '粉丝数从高到低'
          when 'thanked_count0'
            jiangxu_active=0
            '粉丝数从低到高'
          when 'human_time1'
            jiangxu_active=1
            '创作时间从多到少'
          when 'human_time0'
            jiangxu_active=0
            '创作时间从少到多'
          else
            no_shengxu_jiangxu=true
            '默认排序'
          end
        %>
      </div>
      <% unless no_shengxu_jiangxu %>
      <a class="shengxu <%='shengxu_active' if 0==jiangxu_active%> tb" href="<%=alter_request_path request.fullpath,:order=>params[:order][0..-2]+'0'%>">升序</a>
      <a class="jiangxu <%='jiangxu_active' if 1==jiangxu_active%> tb" href="<%=alter_request_path request.fullpath,:order=>params[:order][0..-2]+'1'%>">降序</a>
      <% end %>
      <div class="wenjian2 tb">
        <%=
          case params[:sort].split('|').first
          when 'ppt','pptx'
            'PowerPoint幻灯片'
          when 'doc','docx'
            'Word文档'
          when 'pdf','docx'
            'PDF文档'
          when 'djvu'
            'DJVU电子书'
          when 'xunlei','webm','youku','tudou','youtube'
            '在线视频'
          when 'zip','rar','7z'
            '压缩包'
          when 'png','jpg','jpeg'
            '图片集'
          else
            '全部文件类型'
          end
        %>
      </div>
      <div class="wenjian">文件类型</div>
    </div>
    <% content_for :butt2 do %>
      $('#supernav .paixu2').hover(function(){
        $('#supernav .sort_panel').show();
      },function(){
        $('#supernav .sort_panel').hide();
      });
      $('#supernav .sort_panel').hover(function(){
        $(this).show();
      },function(){
        $(this).hide();
      });
      $('#supernav .wenjian2').hover(function(){
        $('#supernav .wenjian_panel').show();
      },function(){
        $('#supernav .wenjian_panel').hide();
      });
      $('#supernav .wenjian_panel').hover(function(){
        $(this).show();
      },function(){
        $(this).hide();
      });
    <% end %>
    <div class="sort_panel" style="display:none">
      <div class="tb slides_count1"><a href="<%=alter_request_path request.fullpath,:order=>'slides_count1'%>">页数从多到少</a></div>
      <div class="tb price1"><a href="<%=alter_request_path request.fullpath,:order=>'price1'%>">价格从高到低</a></div>
      <div class="tb thanked_count1"><a href="<%=alter_request_path request.fullpath,:order=>'thanked_count1'%>">粉丝数从高到低</a></div>
      <div class="tb human_time1"><a href="<%=alter_request_path request.fullpath,:order=>'human_time1'%>">创作时间从多到少</a></div>
      <div><a href="<%=alter_request_path request.fullpath,:order=>'all'%>">恢复默认排序</a></div>
    </div>
    <div class="wenjian_panel" style="display:none">
      <div class="tb ppt"><a href="<%=alter_request_path request.fullpath,:sort=>'ppt|pptx'%>">PowerPoint幻灯片</a></div>
      <div class="tb doc"><a href="<%=alter_request_path request.fullpath,:sort=>'doc|docx'%>">Word文档</a></div>
      <div class="tb pdf"><a href="<%=alter_request_path request.fullpath,:sort=>'pdf'%>">PDF文档</a></div>
      <div class="tb djvu"><a href="<%=alter_request_path request.fullpath,:sort=>'djvu'%>">DJVU电子书</a></div>
      <div class="tb flv"><a href="<%=alter_request_path request.fullpath,:sort=>'xunlei|webm|youku|tudou|youtube'%>">在线视频</a></div>
      <div class="tb jpg"><a href="<%=alter_request_path request.fullpath,:sort=>'png|jpg|jpeg'%>">图片集</a></div>
      <div class="tb zip"><a href="<%=alter_request_path request.fullpath,:sort=>'zip|rar|7z'%>">压缩包</a></div>
      <div><a href="<%=alter_request_path request.fullpath,:sort=>'all'%>">恢复全部类型</a></div>
    </div>
  </div>

<% if @coursewares.count<1 %>
<div style="line-height:88px;height:88px;text-align:center;">  还没有此类课件，<a class="psvr_login_required gonna_new_courseware" href="/coursewares/new">上传一个</a>吧：）</div>
<% else %>
<% @coursewares.each do |item|%>
  <div id="question-summary-10960" class="question-summary">
      <div class="statscontainer __sdk">
        <div class="presentations">
          <%= render :partial => 'cw',:locals=>{courseware:item,version:item.version,courseware_id:item.ktvid} %>
        </div>
      </div>
      <div class="summary">
          <h3>
            <% if nn=Course.get_name(item.course_fid) %>
              <a href="/simple/forum.php?mod=forumdisplay&fid=<%= item.course_fid %>" class="post-tag" title="<%= nn %>" rel="tag"><%= nn %></a> 
              <% nd=Course.get_department(item.course_fid) %>
            <% end %>
            <a href="/coursewares/<%= item.id %>" class="question-hyperlink" title="<%= item.desc %>">
            <%= item.title %>
            </a>
          </h3>
          <div class="excerpt">
            <% 
            arr=[]
            arr<<item.filesort_mundane if item.filesort_mundane
            arr<<"共#{number_with_delimiter item.slides_count}页" if item.slides_count>0 and !item.tree.present?
            arr<<"共#{number_with_delimiter item.slides_count}个可阅读文档" if item.slides_count>0 and item.tree.present?
            arr<<"#{number_with_delimiter item.words_count}字" if item.words_count>0
            arr.reject! {|x| x.blank?}
            %>
            <%= arr.blank? ? item.fileinfo : arr.join(', ')+'.' %>
            <% 
            arr=[]
            arr<<"作者创作时间投入: #{item.human_time_human(:very_short => true)}" if item.human_time>0
            arr<<"最终完稿于: #{item.finished_at.strftime('%Y年%m月%d日 %H:%M:%S')}" if item.finished_at
            arr.reject! {|x| x.blank?}
          %>
            <% unless arr.blank? %>
              <br><%= arr.join(', ')+'.' %>
            <% end %>
          </div>

          <div class="tags t-nutrition">
            <% if false and item.teacher.present? %>
              <!-- todo -->
              <a href="/teachers/<%= item.teacher_typeid %>" class="post-tag" title="<%= item.teacher %>" rel="tag"><%= item.teacher %></a> 
            <% end %>
            <% if false and nd %>
              <!-- todo -->
              <a href="/departments/<%= item.course_fid %>" class="post-tag" title="<%= nd %>" rel="tag"><%= nd %></a> 
            <% end %>
          </div>
          <div class="started fr">


      <div class="user-info ">
          <div class="user-action-time">
            上传于<%= timeago(item.created_at,:span=>true) %>
          </div>
          <div class="user-gravatar32">
              <a href="/users/454/oliver-c"><div class="">
                <img width="32" height="32" alt="" src="<%= avatar_url_quick(item.uploader_id,:small30) %>">
              </div></a>
          </div>
          <div class="user-details">
            <a href="/users/<%= User.get_slug item.uploader_id %>"><%= User.get_name item.uploader_id %></a><br>
              <span dir="ltr" title="reputation score 26521" class="reputation-score">26.5k</span><span title="2 gold badges"><span class="badge1"></span><span class="badgecount">2</span></span><span title="95 silver badges"><span class="badge2"></span><span class="badgecount">95</span></span><span title="168 bronze badges"><span class="badge3"></span><span class="badgecount">168</span></span>
          </div>
      </div>

          </div>  
      </div>
  </div>
  
  <% end %>
<% end %>  

<% end %>
</div>
<% if @coursewares.total_pages > 1 %>
<div class="page-sizer fr">
    <a class="page-numbers<%= ' current' if 9==@per_page %>" title="每页显示9个课件" href="<%= request.path %>?page=1&per_page=9">9</a>
    <a class="page-numbers<%= ' current' if 15==@per_page %>" title="每页显示15个课件" href="<%= request.path %>?page=1&per_page=15">15</a>
    <a class="page-numbers<%= ' current' if 30==@per_page %>" title="每页显示30个课件" href="<%= request.path %>?page=1&per_page=30">30</a>
    <a class="page-numbers<%= ' current' if 50==@per_page %>" title="每页显示50个课件" href="<%= request.path %>?page=1&per_page=50">50</a>
    <span class="page-numbers desc">课件/页</span>
</div>

<%= will_paginate @coursewares, :renderer=> SKPLinkRenderer,:inner_window=>4 %>
<% end %>

</div>
<div id="sidebar">    
<% unless user_signed_in? %>
    <div class="module newuser newuser-greeting" id="newuser-box">
        <h4>欢迎来到课件交流系统!</h4>
        <div>
            <p>轻松分享讲义·电子书·复习资料·问答互助·课堂录像!</p>
            <p>通过课件交流系统，您可以迅速定位最感兴趣的课程，轻松获取大家共同维护的最优质的一份学习资料.</p>
            <p>然而，课件系统不仅是一个出色的学习资源交流平台，她更是一个开放的在线学习社区。在这里，您可以把遇到的难题发出来，大家共同切磋。在这里，我们共同进步.</p>
<% if 'ibeike'==Setting.ktv_sub %>
            <p class="ar">
              <a class="" id="login_ibeike" href="/login_ibeike"><img alt="用iBeike帐号登录" src="<%=asset_path 'ibeike.png'%>"></a>
            </p>
<%end%>
            <p class="ar">
              <a class="" id="login_renren" href="/account/auth/renren"><img alt="用人人网帐号登录" src="<%=asset_path 'renren.png'%>"></a>
            </p>
        </div>
    </div>
<% end %>
    <div id="questions-count" class="module">
      <div class="summarycount al"><%= link_to number_with_delimiter(Courseware.count),'/coursewares_by_departments' %></div>
      <p style="margin-top:6px">个课件已上传，其中：</p>
      <p class="cw_normal" style="margin-top:12px"><%=number_with_delimiter Courseware.normal.count%> 已上线</p>
      <p class="cw_transcoding"><%=number_with_delimiter Courseware.transcoding.count%> 转码中</p>
      <p class="cw_abnormal"><%=number_with_delimiter Courseware.abnormal.count%> 文件有误</p>
    </div>
<div class="__sdk" style="background:transparent">
  <a class="button primary psvr_login_required" id="cw_newhuge" href="/coursewares/new" style="color:white">上传分享课件</a>
</div>
<div class="module" id="chat-feature" style="padding-top:0">
    

    
<div class="module" id="recent-tags">
    <h4 id="h-recent-tags">学院 × 课件数</h4>
    <div id="recent-tags-list">
      <% Department.desc('coursewares_count').each do |item| %>
        <a href="/departments/<%= item.fid %>" class="post-tag" title="<%= item.name %>" rel="tag"><%= item.name %></a><span class="item-multiplier"><span class="item-multiplier-x">&times;</span>&nbsp;<span class="item-multiplier-count"><%= item.coursewares_count %></span></span><br>
      <% end %>
    </div>
    <p class="ar"><a href="<%= courses_path %>">全部课程 &raquo;</a></p>
</div>      
</div>

           <strong><a href="/simple/home.php?mod=space&amp;do=friend&amp;view=online&amp;type=member"></a></strong>
<div id="online-users" class="module">
    <h4 id="h-recent-badges">在线用户: <strong><%= @session_count %></strong> 人在线
     - <strong><%= @onlinelist_count %></strong> 用户(<strong><%= @online_invisible_count %></strong> 隐身),
     <strong><%= @guest_count %></strong> 位游客
     - 最高记录是 <strong><%= @onlinerecord[0] %></strong> 于 <strong><%=Time.at(@onlinerecord[1].to_i).strftime("%F")%></strong></span>
    </h4>
    <table>
    <tbody>
     <% if @on_display.empty? %>
      <tr><td>当前只有游客或隐身用户在线</td></tr>
     <% else %>
       <% @on_display.each do |uid,online| %>
        <% if !online[2][1] %>
           <tr><td><a class="badge" href="/simple/?<%= uid %>"><span class="badge2" style="background-image:url(/simple/static/image/common/<%= online[3][1] %>);background-position:0 0;"></span>&nbsp;<%= online[1][0] %></a>
             <a href="/simple/?<%= uid %>"><%= timeago(Time.at(online[2][0])) %></a></td></tr>
        <% end %>
       <% end %>
     <% end %>

    </tbody></table>
    <p class="ar"><a href="/simple/home.php?mod=space&amp;do=friend&amp;view=online&amp;type=member">所有在线用户 »</a></p>
</div>

<div id="feed-link">
    <div id="feed-link-text"><a href="/welcome/feeds" title="RSS订阅最新课件"><span class="feed-icon"></span>RSS订阅最新课件</a></div>
</div>

        </div>
        
<%= render 'content_below' %>        
