<div id="midder">
    <div class="content" style="">
        <div class="contentbox">
                <div class="div_1">
                    <div class="hd"><h3>课件 TOP 10 （三日内）</h3><span class="moreimg"><a href="www.ttmeiju.com/?action-weekcalendar#z1"><img src="<%= asset_path 'extand_images/more.gif' %>" alt="查看更多"></a></span></div>
                    <div class="bd">
                        <ul class="meijulist"><!--meiju_new10-->
                        

             <li><span class="newstime">点击量:60911</span><a href="www.ttmeiju.com/meiju/True.Blood.html">真爱如血 True Blood</a></li>
            

             <li><span class="newstime">点击量:51488</span><a href="www.ttmeiju.com/meiju/The.Newsroom.html">新闻编辑室 The Newsroom</a></li>
            

             <li><span class="newstime">点击量:42960</span><a href="www.ttmeiju.com/meiju/Breaking.Bad.html">绝命毒师 Breaking Bad</a></li>
            

             <li><span class="newstime">点击量:34341</span><a href="www.ttmeiju.com/meiju/Continuum.html">超越时间线 Continuum</a></li>
            

             <li><span class="newstime">点击量:27814</span><a href="www.ttmeiju.com/meiju/Drop.Dead.Diva.html">美女上错身 Drop Dead Diva</a></li>
            

             <li><span class="newstime">点击量:27108</span><a href="www.ttmeiju.com/meiju/Leverage.html">都市侠盗 Leverage</a></li>
            

             <li><span class="newstime">点击量:12529</span><a href="www.ttmeiju.com/meiju/Hell.on.Wheels.html">地狱之轮 Hell on Wheels</a></li>
            

             <li><span class="newstime">点击量:9094</span><a href="www.ttmeiju.com/meiju/Weeds.html">单身毒妈 Weeds</a></li>
            

             <li><span class="newstime">点击量:6133</span><a href="www.ttmeiju.com/meiju/Sinbad.html">辛巴达历险记 Sinbad</a></li>
            

             <li><span class="newstime">点击量:5939</span><a href="www.ttmeiju.com/meiju/Xie.Tian.Xie.Di.Ni.Lai.La.html">谢天谢地你来啦 Xie Tian Xie Di Ni Lai La</a></li>
            

                        </ul>
                    </div>
                </div>
                <div class="div_2">
                    <div class="hd"><h3>最热课程榜</h3></div>
                    <div class="bd">
                        <ul class="seedlist"><!--seed_top10-->
                 

                         <li class="top1"><span class="newstime">点击量:865</span>
                         <a href="www.ttmeiju.com/seed/10541.html">
                         
全美超模大赛 Americas Next Top Model S19E01                             
                         
                         </a></li>
                                

                         <li class="top2"><span class="newstime">点击量:812</span>
                         <a href="www.ttmeiju.com/seed/10540.html">
                         
反击 Strike Back S03E01E03 720p                             
                         
                         </a></li>
                                

                         <li class="top3"><span class="newstime">点击量:719</span>
                         <a href="www.ttmeiju.com/seed/10555.html">
                         
天桥骄子美版 Project Runway US S10E06                             
                         
                         </a></li>
                                

                         <li class="top4"><span class="newstime">点击量:693</span>
                         <a href="www.ttmeiju.com/seed/10549.html">
                         
中国好声音 Voice of China S01E07 720p 刘欢队内PK                             
                         
                         </a></li>
                                

                         <li class="top5"><span class="newstime">点击量:435</span>
                         <a href="www.ttmeiju.com/seed/10539.html">
                         
反击 Strike Back S03E03                             
                         
                         </a></li>
                                

                         <li class="top6"><span class="newstime">点击量:319</span>
                         <a href="www.ttmeiju.com/seed/10556.html">
                         
英国偶像 The X Factor UK S09E02                             
                         
                         </a></li>
                                

                         <li class="top7"><span class="newstime">点击量:229</span>
                         <a href="www.ttmeiju.com/seed/10580.html">
                         
福尔摩斯.丝缠奇案.2004.Chi_Eng.PDTVrip-果然字幕组                             
                         
                         </a></li>
                                

                         <li class="top8"><span class="newstime">点击量:206</span>
                         <a href="www.ttmeiju.com/seed/10550.html">
                         
35岁退休第一季全 Retired at 35  Season 1 多米诺字幕组                             
                         
                         </a></li>
                                

                         <li class="top9"><span class="newstime">点击量:196</span>
                         <a href="www.ttmeiju.com/seed/10548.html">
                         
风城大佬 BOSS S02E02 720p                             
                         
                         </a></li>
                                

                         <li class="top10"><span class="newstime">点击量:175</span>
                         <a href="www.ttmeiju.com/seed/10547.html">
                         
风城大佬 BOSS S02E02                             
                         
                         </a></li>
                                
                        </ul>
                    </div>
                </div>
        </div>
        <div class="contentbox">
            <table class="seedtable" border="0" align="center" cellpadding="1" cellspacing="1" bgcolor="#cccccc" width="100%">
              <tr bgcolor="#f1f1f1">
                <td height="28" colspan="8" align="left"><h3>2012-08-27 更新</h3></td>
              </tr>
              <tr bgcolor="#fafafa" align="center">
                <td width="5%" align="center">序号</td>
                <td width="45%" align="left">名字</td>
                <td width="14%">Download</td>
                <td width="6%">Size</td>
                <td width="5%">格式</td>
                <td width="10%">字幕下载</td>
                <td width="7%">点击量</td>
                <td width="6%">讨论</td>
              </tr><!--seed_today-->
 

<!--seed_today-->

 

   <tr bgcolor="#ffffff" align="center">
                <td>1</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10579.html">新闻编辑室 The Newsroom 2012 S01E10 720p 本季终                    
<img src="<%= asset_path 'extand_images/h.gif' %>" alt="推荐" />
                
                </a></td>
                <td>
     
     
     
     
     
     
                </td>
                <td>0 M</td>
                <td>mp4</td>
                <td>  
     
            <a href="ytet.org/category/sub_review/t-z/the-newsroom/" target="_blank" rel="nofollow">搜中</a>
     

     
            <a href="www.addic7ed.com/overview/31286/The%20Newsroom%20(2012)" target="_blank" rel="nofollow">搜英</a>
     
     
     
                </td>
                <td>0</td> 
                <td>
           
              </tr> 
 

   <tr bgcolor="#ffffff" align="center">
                <td>2</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10578.html">新闻编辑室 The Newsroom 2012 S01E10                    
<img src="<%= asset_path 'extand_images/h.gif' %>" alt="推荐" />
                
                </a></td>
                <td>
     
     
     
     
     
     
                </td>
                <td>0 M</td>
                <td>mp4</td>
                <td>  
     
            <a href="ytet.org/category/sub_review/t-z/the-newsroom/" target="_blank" rel="nofollow">搜中</a>
     

     
            <a href="www.addic7ed.com/overview/31286/The%20Newsroom%20(2012)" target="_blank" rel="nofollow">搜英</a>
     
     
     
                </td>
                <td>0</td> 
                <td>
           
              </tr> 
 

   <tr bgcolor="#ffffff" align="center">
                <td>3</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10577.html">辛巴达历险记 Sinbad S01E08 720                    
                
                </a></td>
                <td>
     
     
     
     
     
     
                </td>
                <td>0 M</td>
                <td>mp4</td>
                <td>  
     
            <a href="shooter.cn/search/Sinbad/" target="_blank" rel="nofollow">搜中</a>
     

     
            <a href="www.addic7ed.com/overview/31744/Sinbad" target="_blank" rel="nofollow">搜英</a>
     
     
     
                </td>
                <td>0</td> 
                <td>
           
              </tr> 
 

   <tr bgcolor="#ffffff" align="center">
                <td>4</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10576.html">辛巴达历险记 Sinbad S01E08                    
                
                </a></td>
                <td>
     
     
     
     
     
     
                </td>
                <td>0 M</td>
                <td>mp4</td>
                <td>  
     
            <a href="shooter.cn/search/Sinbad/" target="_blank" rel="nofollow">搜中</a>
     

     
            <a href="www.addic7ed.com/overview/31744/Sinbad" target="_blank" rel="nofollow">搜英</a>
     
     
     
                </td>
                <td>0</td> 
                <td>
           
              </tr> 
 

   <tr bgcolor="#ffffff" align="center">
                <td>5</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10575.html">美女上错身 Drop Dead Diva S04E12 720p                    
                
                </a></td>
                <td>
     
         <a href="www.ttmeiju.com/download.php?id=10575" target="_blank" title="BT"></a>
     
     
     
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10575&k=3" target="_blank" title="磁力链"></a>
     
                </td>
                <td>874 M</td>
                <td>mkv</td>
                <td>  
     

     
            <a href="www.addic7ed.com/overview/21886/Drop%20Dead%20Diva" target="_blank" rel="nofollow">搜英</a>
     
     
     
                </td>
                <td>38</td> 
                <td>
           
              </tr> 
 

   <tr bgcolor="#ffffff" align="center">
                <td>6</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10574.html">美女上错身 Drop Dead Diva S04E12                    
                
                </a></td>
                <td>
     
     
     
     
     
     
                </td>
                <td>0 M</td>
                <td>mp4</td>
                <td>  
     

     
            <a href="www.addic7ed.com/overview/21886/Drop%20Dead%20Diva" target="_blank" rel="nofollow">搜英</a>
     
     
     
                </td>
                <td>0</td> 
                <td>
           
              </tr> 
 

   <tr bgcolor="#ffffff" align="center">
                <td>7</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10573.html">绝命毒师 Breaking Bad S05E07 720p                    
<img src="<%= asset_path 'extand_images/h.gif' %>" alt="推荐" />
                
                </a></td>
                <td>
     
     
     
     
     
     
                </td>
                <td>0 M</td>
                <td>mp4</td>
                <td>  
     
            <a href="shooter.cn/search/Breaking+Bad/" target="_blank" rel="nofollow">搜中</a>
     

     
            <a href="www.addic7ed.com/overview/18164/Breaking%20Bad" target="_blank" rel="nofollow">搜英</a>
     
     
     
                </td>
                <td>0</td> 
                <td>
           
              </tr> 
 

   <tr bgcolor="#ffffff" align="center">
                <td>8</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10572.html">绝命毒师 Breaking Bad S05E07                    
<img src="<%= asset_path 'extand_images/h.gif' %>" alt="推荐" />
                
                </a></td>
                <td>
     
     
     
     
     
     
                </td>
                <td>0 M</td>
                <td>mp4</td>
                <td>  
     
            <a href="shooter.cn/search/Breaking+Bad/" target="_blank" rel="nofollow">搜中</a>
     

     
            <a href="www.addic7ed.com/overview/18164/Breaking%20Bad" target="_blank" rel="nofollow">搜英</a>
     
     
     
                </td>
                <td>0</td> 
                <td>
           
              </tr> 
 

   <tr bgcolor="#ffffff" align="center">
                <td>9</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10571.html">单身毒妈 Weeds S08E09 720p                    
                
                </a></td>
                <td>
     
     
     
     
     
     
                </td>
                <td>0 M</td>
                <td>mp4</td>
                <td>  
     
            <a href="shooter.cn/search/weeds/" target="_blank" rel="nofollow">搜中</a>
     

     
            <a href="www.addic7ed.com/overview/6554/Weeds" target="_blank" rel="nofollow">搜英</a>
     
     
     
                </td>
                <td>0</td> 
                <td>
           
              </tr> 
 

   <tr bgcolor="#ffffff" align="center">
                <td>10</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10570.html">单身毒妈 Weeds S08E09                    
                
                </a></td>
                <td>
     
     
     
     
     
     
                </td>
                <td>0 M</td>
                <td>mp4</td>
                <td>  
     
            <a href="shooter.cn/search/weeds/" target="_blank" rel="nofollow">搜中</a>
     

     
            <a href="www.addic7ed.com/overview/6554/Weeds" target="_blank" rel="nofollow">搜英</a>
     
     
     
                </td>
                <td>0</td> 
                <td>
           
              </tr> 
 

   <tr bgcolor="#ffffff" align="center">
                <td>11</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10569.html">都市侠盗 Leverage S05E06 720p                    
                
                </a></td>
                <td>
     
         <a href="www.ttmeiju.com/download.php?id=10569" target="_blank" title="BT"></a>
     
     
     
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10569&k=3" target="_blank" title="磁力链"></a>
     
                </td>
                <td>0.99 G</td>
                <td>mkv</td>
                <td>  
     
            <a href="shooter.cn/search/Leverage/" target="_blank" rel="nofollow">搜中</a>
     

     
            <a href="www.addic7ed.com/overview/18411/Leverage" target="_blank" rel="nofollow">搜英</a>
     
     
     
                </td>
                <td>24</td> 
                <td>
           
              </tr> 
 

   <tr bgcolor="#ffffff" align="center">
                <td>12</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10568.html">都市侠盗 Leverage S05E06                    
                
                </a></td>
                <td>
     
         <a href="www.ttmeiju.com/download.php?id=10568" target="_blank" title="BT"></a>
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10568&k=4" target="_blank" title="QQ旋风"></a>
     
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10568&k=3" target="_blank" title="磁力链"></a>
     
                </td>
                <td>299 M</td>
                <td>mp4</td>
                <td>  
     
            <a href="shooter.cn/search/Leverage/" target="_blank" rel="nofollow">搜中</a>
     

     
            <a href="www.addic7ed.com/overview/18411/Leverage" target="_blank" rel="nofollow">搜英</a>
     
     
     
                </td>
                <td>24</td> 
                <td>
           
              </tr> 
 

   <tr bgcolor="#ffffff" align="center">
                <td>13</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10567.html">真爱如血 True Blood S05E12 720p 本季终                    
<img src="<%= asset_path 'extand_images/h.gif' %>" alt="推荐" />
                
                </a></td>
                <td>
     
         <a href="www.ttmeiju.com/download.php?id=10567" target="_blank" title="BT"></a>
     
     
     
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10567&k=3" target="_blank" title="磁力链"></a>
     
                </td>
                <td>1.87 G</td>
                <td>mkv</td>
                <td>  
     
            <a href="shooter.cn/search/True+Blood/" target="_blank" rel="nofollow">搜中</a>
     

     
            <a href="www.addic7ed.com/overview/12662/True%20Blood" target="_blank" rel="nofollow">搜英</a>
     
     
     
                </td>
                <td>106</td> 
                <td>
           
              </tr> 
 

   <tr bgcolor="#ffffff" align="center">
                <td>14</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10566.html">真爱如血 True Blood S05E12                    
<img src="<%= asset_path 'extand_images/h.gif' %>" alt="推荐" />
                
                </a></td>
                <td>
     
     
     
     
     
     
                </td>
                <td>0 M</td>
                <td>mp4</td>
                <td>  
     
            <a href="shooter.cn/search/True+Blood/" target="_blank" rel="nofollow">搜中</a>
     

     
            <a href="www.addic7ed.com/overview/12662/True%20Blood" target="_blank" rel="nofollow">搜英</a>
     
     
     
                </td>
                <td>0</td> 
                <td>
           
              </tr> 
 

   <tr bgcolor="#ffffff" align="center">
                <td>15</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10565.html">地狱之轮 Hell on Wheels S02E03 720p                    
                
                </a></td>
                <td>
     
         <a href="www.ttmeiju.com/download.php?id=10565" target="_blank" title="BT"></a>
     
     
     
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10565&k=3" target="_blank" title="磁力链"></a>
     
                </td>
                <td>1.16 G</td>
                <td>mkv</td>
                <td>  
     
            <a href="shooter.cn/search/Hell+on+Wheels/" target="_blank" rel="nofollow">搜中</a>
     

     
            <a href="www.addic7ed.com/overview/27195/Hell%20On%20Wheels" target="_blank" rel="nofollow">搜英</a>
     
     
     
                </td>
                <td>17</td> 
                <td>
           
              </tr> 
 

   <tr bgcolor="#ffffff" align="center">
                <td>16</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10564.html">地狱之轮 Hell on Wheels S02E03                    
                
                </a></td>
                <td>
     
     
     
     
     
     
                </td>
                <td>0 M</td>
                <td>mp4</td>
                <td>  
     
            <a href="shooter.cn/search/Hell+on+Wheels/" target="_blank" rel="nofollow">搜中</a>
     

     
            <a href="www.addic7ed.com/overview/27195/Hell%20On%20Wheels" target="_blank" rel="nofollow">搜英</a>
     
     
     
                </td>
                <td>0</td> 
                <td>
           
              </tr> 
 

   <tr bgcolor="#ffffff" align="center">
                <td>17</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10563.html">纽约神探 Copper S01E02 720p                    
                
                </a></td>
                <td>
     
     
     
     
     
     
                </td>
                <td>0 M</td>
                <td>mp4</td>
                <td>  
     

     
            <a href="www.addic7ed.com/overview/30120/Copper" target="_blank" rel="nofollow">搜英</a>
     
     
     
                </td>
                <td>0</td> 
                <td>
           
              </tr> 
 

   <tr bgcolor="#ffffff" align="center">
                <td>18</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10562.html">纽约神探 Copper S01E02                    
                
                </a></td>
                <td>
     
     
     
     
     
     
                </td>
                <td>0 M</td>
                <td>mp4</td>
                <td>  
     

     
            <a href="www.addic7ed.com/overview/30120/Copper" target="_blank" rel="nofollow">搜英</a>
     
     
     
                </td>
                <td>0</td> 
                <td>
           
              </tr> 
 

   <tr bgcolor="#ffffff" align="center">
                <td>19</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10561.html">老大哥美版 Big Brother US S14E20                    
                
                </a></td>
                <td>
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10561&k=4" target="_blank" title="QQ旋风"></a>
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10561&k=2" target="_blank" title="迅雷快传"></a>
     
     
                </td>
                <td>309 M</td>
                <td>mp4</td>
                <td>  
     

     
     
     
                </td>
                <td>99</td> 
                <td>
           
              </tr> 
 

            </table>
        </div>
        <div class="contentbox">
            <table class="seedtable" border="0" align="center" cellpadding="1" cellspacing="1" bgcolor="#cccccc" width="100%">
              <tr bgcolor="#f1f1f1">
                <td height="28" colspan="8" align="left"><h3>2012-08-26 更新</h3></td>
              </tr>
              <tr bgcolor="#fafafa" align="center">
                <td width="5%" align="center">序号</td>
                <td width="45%" align="left">名字</td>
                <td width="14%">Download</td>
                <td width="6%">Size</td>
                <td width="5%">格式</td>
                <td width="10%">字幕下载</td>
                <td width="7%">点击量</td>
                <td width="6%">讨论</td>
              </tr><!--seed_yesterday-->

 

<!--seed_yesterday-->

 

  <tr bgcolor="#ffffff" align="center">
                <td>1</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10580.html">福尔摩斯.丝缠奇案.2004.Chi_Eng.PDTVrip-果然字幕组                    
                
                </a></td>
                <td>
     
         <a href="www.ttmeiju.com/download.php?id=10580" target="_blank" title="BT"></a>
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10580&k=4" target="_blank" title="QQ旋风"></a>
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10580&k=2" target="_blank" title="迅雷快传"></a>
     
     
         <a href="www.ttmeiju.com/download.php?id=10580&k=3" target="_blank" title="磁力链"></a>
     
                </td>
                <td>312 M</td>
                <td>rmvb</td>
                <td>
     

     
     
            <font color="#339999">内嵌双语字幕</font>
     
     
     
                </td>
                <td>228</td> 
                <td>
           
              </tr> 
 

  <tr bgcolor="#ffffff" align="center">
                <td>2</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10560.html">情何以堪 Awkward S02E09 720p WEB-DL                    
                
                </a></td>
                <td>
     
         <a href="www.ttmeiju.com/download.php?id=10560" target="_blank" title="BT"></a>
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10560&k=4" target="_blank" title="QQ旋风"></a>
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10560&k=2" target="_blank" title="迅雷快传"></a>
     
     
         <a href="www.ttmeiju.com/download.php?id=10560&k=3" target="_blank" title="磁力链"></a>
     
                </td>
                <td>617 M</td>
                <td>mkv</td>
                <td>
     
            <a href="ytet.org/tag/awkward/" target="_blank" rel="nofollow">搜中</a>
     

     
            <a href="www.addic7ed.com/overview/28691/Awkward" target="_blank" rel="nofollow">搜英</a>
     
     
     
     
                </td>
                <td>39</td> 
                <td>
           
              </tr> 
 

  <tr bgcolor="#ffffff" align="center">
                <td>3</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10559.html">拯救希望 Saving Hope S01E10 HR-HDTV 果然字幕组                    
                
                </a></td>
                <td>
     
     
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10559&k=2" target="_blank" title="迅雷快传"></a>
     
     
         <a href="www.ttmeiju.com/download.php?id=10559&k=3" target="_blank" title="磁力链"></a>
     
                </td>
                <td>486 M</td>
                <td>mkv</td>
                <td>
     

     
     
            <font color="#339999">内嵌双语字幕</font>
     
     
     
                </td>
                <td>27</td> 
                <td>
           
              </tr> 
 

  <tr bgcolor="#ffffff" align="center">
                <td>4</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10558.html">御姐奶爸 Melissa and Joey S02E14 -多米诺字幕组                    
                
                </a></td>
                <td>
     
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10558&k=5" target="_blank" title="百度网盘"></a>
     
     
         <a href="www.ttmeiju.com/download.php?id=10558&k=2" target="_blank" title="迅雷快传"></a>
     
     
                </td>
                <td>98 M</td>
                <td>rmvb</td>
                <td>
     

     
     
            <font color="#339999">内嵌双语字幕</font>
     
     
     
                </td>
                <td>80</td> 
                <td>
           
              </tr> 
 

  <tr bgcolor="#ffffff" align="center">
                <td>5</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10557.html">英国偶像 The X Factor UK S09E02 720p                    
                
                </a></td>
                <td>
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10557&k=4" target="_blank" title="QQ旋风"></a>
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10557&k=2" target="_blank" title="迅雷快传"></a>
     
     
                </td>
                <td>1.33 G</td>
                <td>mkv</td>
                <td>
     

     
     
     
     
                </td>
                <td>82</td> 
                <td>
           
              </tr> 
 

  <tr bgcolor="#ffffff" align="center">
                <td>6</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10556.html">英国偶像 The X Factor UK S09E02                    
                
                </a></td>
                <td>
     
         <a href="www.ttmeiju.com/download.php?id=10556" target="_blank" title="BT"></a>
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10556&k=4" target="_blank" title="QQ旋风"></a>
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10556&k=2" target="_blank" title="迅雷快传"></a>
     
     
         <a href="www.ttmeiju.com/download.php?id=10556&k=3" target="_blank" title="磁力链"></a>
     
                </td>
                <td>514 M</td>
                <td>mp4</td>
                <td>
     

     
     
     
     
                </td>
                <td>318</td> 
                <td>
           
              </tr> 
 
 


            </table>
        </div>
        <div class="contentbox">
            <table class="seedtable" border="0" align="center" cellpadding="1" cellspacing="1" bgcolor="#cccccc" width="100%">
              <tr bgcolor="#f1f1f1">
                <td height="28" colspan="8" align="left"><h3>2012-08-25  更新</h3></td>
              </tr>
              <tr bgcolor="#fafafa" align="center">
                <td width="5%" align="center">序号</td>
                <td width="45%" align="left">名字</td>
                <td width="14%">Download</td>
                <td width="6%">Size</td>
                <td width="5%">格式</td>
                <td width="10%">字幕下载</td>
                <td width="7%">点击量</td>
                <td width="6%">讨论</td>
              </tr><!--seed_BFyesterday-->

 

<!--seed_BFyesterday-->

 

  <tr bgcolor="#ffffff" align="center">
                <td>1</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10555.html">天桥骄子美版 Project Runway US S10E06                    
                
                </a></td>
                <td>
    
         <a href="www.ttmeiju.com/download.php?id=10555" target="_blank" title="BT"></a>
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10555&k=4" target="_blank" title="QQ旋风"></a>
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10555&k=2" target="_blank" title="迅雷快传"></a>
     
     
         <a href="www.ttmeiju.com/download.php?id=10555&k=3" target="_blank" title="磁力链"></a>
     
                </td>
                <td>359 M</td>
                <td>mp4</td>
                <td>
     

     
     
     
                </td>
                <td>717</td> 
                <td>
           
              </tr> 
 

  <tr bgcolor="#ffffff" align="center">
                <td>2</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10554.html">马赫脱口秀 Real Time With Bill Maher 2012 08 24                    
                
                </a></td>
                <td>
    
         <a href="www.ttmeiju.com/download.php?id=10554" target="_blank" title="BT"></a>
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10554&k=4" target="_blank" title="QQ旋风"></a>
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10554&k=2" target="_blank" title="迅雷快传"></a>
     
     
         <a href="www.ttmeiju.com/download.php?id=10554&k=3" target="_blank" title="磁力链"></a>
     
                </td>
                <td>435 M</td>
                <td>mp4</td>
                <td>
     

     
     
     
                </td>
                <td>128</td> 
                <td>
           
              </tr> 
 

  <tr bgcolor="#ffffff" align="center">
                <td>3</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10553.html">35岁退休 Retired at 35 S02E02 多米诺字幕组                    
                
                </a></td>
                <td>
    
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10553&k=5" target="_blank" title="百度网盘"></a>
     
     
         <a href="www.ttmeiju.com/download.php?id=10553&k=2" target="_blank" title="迅雷快传"></a>
     
     
                </td>
                <td>99 M</td>
                <td>rmvb</td>
                <td>
     

     
     
            <font color="#339999">内嵌双语字幕</font>
     
     
                </td>
                <td>77</td> 
                <td>
           
              </tr> 
 

  <tr bgcolor="#ffffff" align="center">
                <td>4</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10552.html">同居离婚男 The Exes S02E10 多米诺字幕组                    
                
                </a></td>
                <td>
    
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10552&k=5" target="_blank" title="百度网盘"></a>
     
     
         <a href="www.ttmeiju.com/download.php?id=10552&k=2" target="_blank" title="迅雷快传"></a>
     
     
                </td>
                <td>106 M</td>
                <td>rmvb</td>
                <td>
     

     
     
            <font color="#339999">内嵌双语字幕</font>
     
     
                </td>
                <td>115</td> 
                <td>
           
              </tr> 
 

  <tr bgcolor="#ffffff" align="center">
                <td>5</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10551.html">35岁退休 Retired at 35 S02E01 多米诺字幕组                    
                
                </a></td>
                <td>
    
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10551&k=5" target="_blank" title="百度网盘"></a>
     
     
         <a href="www.ttmeiju.com/download.php?id=10551&k=2" target="_blank" title="迅雷快传"></a>
     
     
                </td>
                <td>97 M</td>
                <td>rmvb</td>
                <td>
     

     
     
            <font color="#339999">内嵌双语字幕</font>
     
     
                </td>
                <td>142</td> 
                <td>
           
              </tr> 
 

  <tr bgcolor="#ffffff" align="center">
                <td>6</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10550.html">35岁退休第一季全 Retired at 35  Season 1 多米诺字幕组                    
                
                </a></td>
                <td>
    
     
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10550&k=2" target="_blank" title="迅雷快传"></a>
     
     
                </td>
                <td>1 G</td>
                <td>rmvb</td>
                <td>
     

     
     
            <font color="#339999">内嵌双语字幕</font>
     
     
                </td>
                <td>203</td> 
                <td>
           
              </tr> 
 

  <tr bgcolor="#ffffff" align="center">
                <td>7</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10549.html">中国好声音 Voice of China S01E07 720p 刘欢队内PK                    
                
                </a></td>
                <td>
    
     
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10549&k=2" target="_blank" title="迅雷快传"></a>
     
     
                </td>
                <td>3.46 G</td>
                <td>mkv</td>
                <td>
     

     
     
     
                </td>
                <td>687</td> 
                <td>
           
              </tr> 
 

  <tr bgcolor="#ffffff" align="center">
                <td>8</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10548.html">风城大佬 BOSS S02E02 720p                    
                
                </a></td>
                <td>
    
         <a href="www.ttmeiju.com/download.php?id=10548" target="_blank" title="BT"></a>
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10548&k=4" target="_blank" title="QQ旋风"></a>
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10548&k=2" target="_blank" title="迅雷快传"></a>
     
     
         <a href="www.ttmeiju.com/download.php?id=10548&k=3" target="_blank" title="磁力链"></a>
     
                </td>
                <td>1.07 G</td>
                <td>mkv</td>
                <td>
     

     
     
     
                </td>
                <td>194</td> 
                <td>
           
              </tr> 
 

  <tr bgcolor="#ffffff" align="center">
                <td>9</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10547.html">风城大佬 BOSS S02E02                    
                
                </a></td>
                <td>
    
         <a href="www.ttmeiju.com/download.php?id=10547" target="_blank" title="BT"></a>
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10547&k=4" target="_blank" title="QQ旋风"></a>
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10547&k=2" target="_blank" title="迅雷快传"></a>
     
     
         <a href="www.ttmeiju.com/download.php?id=10547&k=3" target="_blank" title="磁力链"></a>
     
                </td>
                <td>311 M</td>
                <td>mp4</td>
                <td>
     

     
     
     
                </td>
                <td>169</td> 
                <td>
           
              </tr> 
 

  <tr bgcolor="#ffffff" align="center">
                <td>10</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10546.html">吉米晚间秀 Jimmy Fallon 2012 08 23 Spike Lee                    
                
                </a></td>
                <td>
    
     
     
         <a href="www.ttmeiju.com/download.php?id=10546&k=4" target="_blank" title="QQ旋风"></a>
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10546&k=2" target="_blank" title="迅雷快传"></a>
     
     
                </td>
                <td>337 M</td>
                <td>mp4</td>
                <td>
     

     
     
     
                </td>
                <td>108</td> 
                <td>
           
              </tr> 
 

  <tr bgcolor="#ffffff" align="center">
                <td>11</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10541.html">全美超模大赛 Americas Next Top Model S19E01                    
                
                </a></td>
                <td>
    
         <a href="www.ttmeiju.com/download.php?id=10541" target="_blank" title="BT"></a>
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10541&k=4" target="_blank" title="QQ旋风"></a>
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10541&k=2" target="_blank" title="迅雷快传"></a>
     
     
         <a href="www.ttmeiju.com/download.php?id=10541&k=3" target="_blank" title="磁力链"></a>
     
                </td>
                <td>405 M</td>
                <td>mp4</td>
                <td>
     

     
     
     
                </td>
                <td>859</td> 
                <td>
           
              </tr> 
 

  <tr bgcolor="#ffffff" align="center">
                <td>12</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10540.html">反击 Strike Back S03E01E03 720p                    
                
                </a></td>
                <td>
    
         <a href="www.ttmeiju.com/download.php?id=10540" target="_blank" title="BT"></a>
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10540&k=4" target="_blank" title="QQ旋风"></a>
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10540&k=2" target="_blank" title="迅雷快传"></a>
     
     
         <a href="www.ttmeiju.com/download.php?id=10540&k=3" target="_blank" title="磁力链"></a>
     
                </td>
                <td>2.07 G</td>
                <td>mkv</td>
                <td>
     

     
     
     
                </td>
                <td>803</td> 
                <td>
           
              </tr> 
 

  <tr bgcolor="#ffffff" align="center">
                <td>13</td>
                <td align="left"><a href="www.ttmeiju.com/seed/10539.html">反击 Strike Back S03E03                    
                
                </a></td>
                <td>
    
         <a href="www.ttmeiju.com/download.php?id=10539" target="_blank" title="BT"></a>
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10539&k=4" target="_blank" title="QQ旋风"></a>
     
     
     
         <a href="www.ttmeiju.com/download.php?id=10539&k=2" target="_blank" title="迅雷快传"></a>
     
     
         <a href="www.ttmeiju.com/download.php?id=10539&k=3" target="_blank" title="磁力链"></a>
     
                </td>
                <td>543 M</td>
                <td>mp4</td>
                <td>
     

     
     
     
                </td>
                <td>432</td> 
                <td>
           
              </tr> 
 

            </table>
        </div>
    </div>
</div>  
