<div id="chart" class="bm bw0 cl">
  <p class="chart z">今日: <em><%= @coursewares1.count >0 ? @coursewares1.count : 0 %></em><span class="pipe">|</span>昨日: <em><%= @cwyesterday > 0 ? @cwyesterday : 0 %></em><span class="pipe">|</span>课件: <em><%= @cw > 0 ? @cw : 0 %></em><span class="pipe">|</span>会员: <em><%= @users > 0 ? @users : 0 %> </em><% if !@newuser.nil? %><span class="pipe">|</span><%=kaixue_msg%>, 欢迎新会员: <em><a href="home.php?mod=space&amp;username=<%= @newuser.username %>" target="_blank" class="xi2"><%= @newuser.username  %></a></em><% end %></p>
  <div class="y">
    <a href="/simple/forum.php?mod=guide&amp;view=my" title="我的课件" class="xi2">我的课件</a><span class="pipe">|</span><a href="/simple/forum.php?mod=guide&amp;view=new" title="最新课件" class="xi2">查看新课件</a><span class="pipe">|</span><a href="/simple/forum.php?mod=misc&action=nav" class="psvr_login_required xi2" onclick="showWindow('nav', this.href, 'get', 0)">上传课件</a></div>
</div>

<div id="psvr_midder">
   <div class="psvr_content" style="">
      <div class="psvr_contentbox">
         <div class="psvr_div_1">
            <div class="psvr_hd">
               <h3 class="psvr">课程资源榜</h3>
               <span class="psvr psvr_moreimg"><a class="psvr" href="<%=courses_path%>"><img class="psvr" src="<%= asset_path 'extand_images/more.gif' %>" alt="查看更多"></a></span>
            </div>
            <div class="psvr_bd">
               <ul class="psvr psvr_meijulist">
                  <!--meiju_new10-->
                  <%@courses.each do |course|%>
                  <% dd=Course.get_department(course.fid)%>
                  <% ddfid=Department.get_fid(dd)%>
                  <% cc=Course.get_name(course.fid)%>
                  <li class="psvr"><span class="psvr psvr_newstime"><%=course.threads%>个课件</span>[<a class="psvr" href="/simple/forum.php?mod=forumdisplay&amp;fid=<%=ddfid%>"><%=dd%></a>] <a class="psvr" href="/simple/forum.php?mod=forumdisplay&fid=<%=course.fid%>"><%=cc%></a></li>
                  <%end%> 
               </ul>
            </div>
         </div>
         <div class="psvr_div_2">
            <div class="psvr_hd">
               <h3 class="psvr">课件 TOP-10</h3>
               <span class="psvr psvr_moreimg"><a class="psvr" href="<%=courses_path%>"><img class="psvr" src="<%= asset_path 'extand_images/more.gif' %>" alt="查看更多"></a></span>
            </div>
            <div class="psvr_bd">
               <ul class="psvr psvr_seedlist">
                  <!--seed_top10-->
                  <%@coursewares.each do |cw|%>
                  <li class="psvr psvr_top1"><span class="psvr psvr_newstime"><a class="psvr" href="/simple/home.php?mod=space&amp;uid=<%=cw.authorid%>&amp;do=profile"><%=cw.author%></a>上传</span>
                     <a class="psvr" href="/simple/forum.php?mod=viewthread&amp;tid=<%=cw.tid%>">
                     <%=cw.subject%> (<%=cw.views%>点击)
                     </a>
                  </li>
                  <%end%>
               </ul>
            </div>
         </div>
      </div>
      <div class="psvr_contentbox">
         <table class="psvr psvr_seedtable" border="0" align="center" cellpadding="1" cellspacing="1" bgcolor="#cccccc" width="100%">
            <tr bgcolor="#f1f1f1">
               <td height="28" colspan="6" align="left">
                  <h3 class="psvr"><%=l Date.today, :format => :long%> 上传</h3>
               </td>
            </tr>
            <% if @coursewares1.count>0 %>
            <tr bgcolor="#fafafa" align="center">
               <td width="5%" align="center">序号</td>
               <td align="left">名字</td>
               <td width="9%">大小</td>
               <td width="5%">格式</td>
               <td width="8%">上传者</td>
               <td width="6%">点击量</td>
            </tr>
            <!--seed_today-->
            <!--seed_today-->
            <%inss = Ktv::Utils.find_in_batch(Courseware,:tid,@coursewares1.collect(&:tid))%>
            <%teachers = Ktv::Utils.find_in_batch(PreForumThreadclass,:typeid,@coursewares1.collect(&:typeid))%>
            <%@coursewares1.each_with_index do |cw,index|%> 
            <%ins = inss[cw.tid]%>
            <%cc=Course.get_name(cw.fid)%>
            <%teacher=teachers[cw.typeid]%>
            <tr bgcolor="#ffffff" align="center">
               <td><%=index+1%></td>
               <td align="left">
                  <%if teacher%>
                  [<%=link_to teacher.name,"/simple/forum.php?mod=forumdisplay&fid=#{cw.fid}&filter=typeid&typeid=#{cw.typeid}",class:'psvr'%>]
                  <%end%>
                  <a class="psvr" href="/simple/forum.php?mod=viewthread&amp;tid=<%=cw.tid%>">
                  <%=cc%><%=cw.subject%>
                  </a>
               </td>
               <td><%=number_to_human_size(ins.filesize*1000,:precision=>1) if ins%></td>
               <td><%=ins.sort.upcase if ins%></td>
               <td>  
                  <a class="psvr" href="/simple/home.php?mod=space&amp;uid=<%=cw.authorid%>&amp;do=profile">
                  <%=cw.author%> 
                  </a>
               </td>
               <td><%=cw.views%></td>
            </tr>
            <% end %>
            <% else %>
            <tr bgcolor="#ffffff" align="center">
               <td colspan="6" style="padding:22px 0">
                  今天还没有人上传课件，<a href="/simple/forum.php?mod=misc&action=nav" class="psvr_login_required" onclick="showWindow('nav', this.href, 'get', 0)">[点击这里]</a>上传一个吧!
               </td>
            </tr>
            <% end %>
         </table>
      </div>
    
      <% if @coursewares2.present? %>
      <div class="psvr_contentbox">
         <table class="psvr psvr_seedtable" border="0" align="center" cellpadding="1" cellspacing="1" bgcolor="#cccccc" width="100%">
            <tr bgcolor="#f1f1f1">
               <td height="28" colspan="6" align="left">
                  <h3 class="psvr"><%=l Time.at(@coursewares2.first.dateline).to_date, :format => :long%> 上传</h3>
               </td>
            </tr>
            <tr bgcolor="#fafafa" align="center">
               <td width="5%" align="center">序号</td>
               <td align="left">名字</td>
               <td width="9%">大小</td>
               <td width="5%">格式</td>
               <td width="8%">上传者</td>
               <td width="6%">点击量</td>
            </tr>
            <!--seed_today-->
            <!--seed_today-->
            <%inss = Ktv::Utils.find_in_batch(Courseware,:tid,@coursewares2.collect(&:tid))%>
            <%teachers = Ktv::Utils.find_in_batch(PreForumThreadclass,:typeid,@coursewares2.collect(&:typeid))%>
            <%@coursewares2.each_with_index do |cw,index|%> 
            <%ins = inss[cw.tid]%>
            <%cc = Course.get_name(cw.fid)%>
            <%teacher = teachers[cw.typeid]%>
            <tr bgcolor="#ffffff" align="center">
               <td><%=index+1%></td>
               <td align="left">
                  <%if teacher%>
                  [<%=link_to teacher.name,"/simple/forum.php?mod=forumdisplay&fid=#{cw.fid}&filter=typeid&typeid=#{cw.typeid}",class:'psvr'%>]
                  <%end%>
                  <a class="psvr" href="/simple/forum.php?mod=viewthread&amp;tid=<%=cw.tid%>">
                  <%=cc %><%=cw.subject%>
                  </a>
               </td>
               <td><%=number_to_human_size(ins.filesize*1000,:precision=>1) if ins%></td>
               <td><%=ins.sort.upcase if ins%></td>
               <td>  
                  <a class="psvr" href="/simple/home.php?mod=space&amp;uid=<%=cw.authorid%>&amp;do=profile">
                  <%=cw.author%> 
                  </a>
               </td>
               <td><%=cw.views%></td>
            </tr>
            <% end %>
         </table>
      </div>
      <% end %>
      
      
      <% if @coursewares3.present? %>
      <div class="psvr_contentbox">
         <table class="psvr psvr_seedtable" border="0" align="center" cellpadding="1" cellspacing="1" bgcolor="#cccccc" width="100%">
            <tr bgcolor="#f1f1f1">
               <td height="28" colspan="6" align="left">
                  <h3 class="psvr"><%=l Time.at(@coursewares3.first.dateline).to_date, :format => :long%> 上传</h3>
               </td>
            </tr>
            <tr bgcolor="#fafafa" align="center">
               <td width="5%" align="center">序号</td>
               <td align="left">名字</td>
               <td width="9%">大小</td>
               <td width="5%">格式</td>
               <td width="8%">上传者</td>
               <td width="6%">点击量</td>
            </tr>
            <!--seed_today-->
            <!--seed_today-->
            <%inss = Ktv::Utils.find_in_batch(Courseware,:tid,@coursewares3.collect(&:tid))%>
            <%teachers = Ktv::Utils.find_in_batch(PreForumThreadclass,:typeid,@coursewares3.collect(&:typeid))%>
            <%@coursewares3.each_with_index do |cw,index|%> 
            <%ins = inss[cw.tid]%>
            <%cc=Course.get_name(cw.fid)%>
            <%teacher=teachers[cw.typeid]%>
            <tr bgcolor="#ffffff" align="center">
               <td><%=index+1%></td>
               <td align="left">
                  <%if teacher%>
                  [<%=link_to teacher.name,"/simple/forum.php?mod=forumdisplay&fid=#{cw.fid}&filter=typeid&typeid=#{cw.typeid}",class:'psvr'%>]
                  <%end%>
                  <a class="psvr" href="/simple/forum.php?mod=viewthread&amp;tid=<%=cw.tid%>">
                  <%=cc%><%=cw.subject%>
                  </a>
               </td>
               <td><%=number_to_human_size(ins.filesize*1000,:precision=>1) if ins%></td>
               <td><%=ins.sort.upcase if ins%></td>
               <td>  
                  <a class="psvr" href="/simple/home.php?mod=space&amp;uid=<%=cw.authorid%>&amp;do=profile">
                  <%=cw.author%> 
                  </a>
               </td>
               <td><%=cw.views%></td>
            </tr>
            <% end %>
         </table>
      </div>
      <% end %>
   </div>

   <div class="mn">

     <div id="online" class="bm oll">
       <div class="bm_h">
         <h3>
           <strong><a href="/simple/home.php?mod=space&amp;do=friend&amp;view=online&amp;type=member">在线会员</a></strong>
           <span class="xs1">- <strong><%= @session_count %></strong> 人在线
             - <strong><%= @onlinelist_count %></strong> 会员(<strong><%= @online_invisible_count %></strong> 隐身),
             <strong><%= @guest_count %></strong> 位游客
             - 最高记录是 <strong><%= @onlinerecord[0] %></strong> 于 <strong><%=Time.at(@onlinerecord[1].to_i).strftime("%F")%></strong>.</span>
         </h3>
       </div>
       <dl id="onlinelist" class="bm_c">
         <dt class="ptm pbm bbda">
         <% @pic_sorted.values.each do |pic| %>    
             <img src="/simple/static/image/common/<%= pic[1][1] %>" /> <%= pic[1][0] %> &nbsp; &nbsp; &nbsp; 
         <% end %>
         </dt>
         <dd class="ptm pbm">
         <ul class="cl">
           <% if @on_display.empty? %>
             <li style="width: auto">当前只有游客或隐身会员在线</li>
           <% else %>
             <% @on_display.each do |uid,online| %>
<!-- ##@on_display => {35=>[1, ["libo-liu", 1], [1346908864, false], ["管理员", "online_admin.gif"]],, 61=>[3,["llb0536", 4], [1346730774, false], ["版主", "online_moderator.gif"]]} -->
              <% if !online[2][1] %>
                 <li title="时间:<%= Time.at(online[2][0]).strftime("%R") %>">
                 <img src="/simple/static/image/common/<%= online[3][1] %>" alt="icon" />
                 <a href="/simple/home.php?mod=space&amp;uid=<%= uid %>"><%= online[1][0] %></a>
                 </li>
              <% end %>
             <% end %>
           <% end %>
         </ul>
         </dd>
       </dl>
     </div>

   </div><!--mn-->

</div><!--midder-->
