
<div class="home-page __skp">
    <div id="notify-container"></div>
    <div id="overlay-header"></div>
    <div id="custom-header"></div>

    <div class="container">
        <div id="header">
            <div id="hmenus">
                <div class="nav mainnavs">
                    <ul style="float:left">
                      <li><a id="nav-subname" href="http://<%= Setting.ktv_subdomain %>"><%= Setting.ktv_subname %>课件交流系统</a></li>
                    </ul>
                    <ul>
                        <li class="<%= 'youarehere' if WelcomeController==controller.class %>"><a id="nav-questions" href="/">我的首页</a></li>
                        <li class="<%= 'youarehere' if CoursesController==controller.class %>"><a id="nav-unanswered" href="/courses">全部课程</a></li>
                        <li class="<%= 'youarehere' if TeachersController==controller.class %>"><a id="nav-users" href="/teachers">全部老师</a></li>
                        <li class="<%= 'youarehere' if UsersController==controller.class %>"><a id="nav-users" href="/users">我的同学</a></li>
                        <li class="<%= 'youarehere' if @we_are_inside_qa %>"><a id="nav-tags" href="/for_help">求助区</a></li>
                    </ul>
                </div>
            </div>
        </div>

        



        <div id="content">
            
            <div class="__dz" id="dz_navi">
                <div class="bm cl" id="pt">
                  <div class="z">
                    <a title="<%=Setting.ktv_subname%>课件交流系统" class="nvhm" href="/"><%=Setting.ktv_subname%>课件交流系统</a>
                    <em>»</em>
                    <a href="<%=request.fullpath%>"><%=@seo[:title]%></a>
                  </div>
                  <div class="z"></div>
                </div>
            </div>



<div id="mainbar">

<div class="subheader">
    <div id="tabs">
    <a class="<%= 'youarehere' if '/'==request.path %>" href="/?psvr_force=1">我关注的</a>
    <a class="<%= 'youarehere' if '/welcome/featured'==request.path %>" href="/welcome/featured">资源广场</a>
    <a class="<%= 'youarehere' if '/welcome/hot'==request.path %>" href="/simple/forum.php?mod=guide&view=my">我的课件</a>
    <a class="<%= 'youarehere' if '/welcome/week'==request.path %>" href="/simple/forum.php?mod=guide&view=new">未读课件</a>
    </div>
</div>
<div id="questions">
<% if @coursewares.count<1 and '/'==request.path%>
  您关注的资源没有新动态，去<%= link_to '资源广场','/welcome/featured' %>关注更多内容吧！
<% else %>
<% @coursewares.each do |item|%>
  <div id="question-summary-10960" class="question-summary">
      <div class="statscontainer __sdk">
        <div class="presentations">
          <%= render :partial => 'cw',:locals=>{courseware:item,version:item.version,courseware_id:item.ktvid} %>
        </div>
      </div>
      <div class="summary">        
          <h3>
            <a href="/coursewares/<%= item.id %>" class="question-hyperlink" title="<%= item.desc %>"><%= item.title %></a>
          </h3>
          <div class="excerpt">
              It's probably logical to assume that if a piece of soap has some dirty stains on it, it should affect your skin the same way as any other object with such stains, but then it's soap, it helps clean ...
          </div>

          <div class="tags t-nutrition">
            <% if item.teacher.present? %>
              <a href="/teachers/<%= item.teacher_typeid %>" class="post-tag" title="<%= item.teacher %>" rel="tag"><%= item.teacher %></a> 
            <% end %>
            <% if nn=Course.get_name(item.course_fid) %>
              <a href="/courses/<%= item.course_fid %>" class="post-tag" title="<%= nn %>" rel="tag"><%= nn %></a> 
              <% if nd=Course.get_department(item.course_fid) %>
                <a href="/departments/<%= item.course_fid %>" class="post-tag" title="<%= nd %>" rel="tag"><%= nd %></a> 
              <% end %>
            <% end %>
          </div>
          <div class="started fr">


      <div class="user-info ">
          <div class="user-action-time">
            上传于<%= timeago(item.created_at,:span=>true) %>
          </div>
          <div class="user-gravatar32">
              <a href="/users/454/oliver-c"><div class="">
                <img width="32" height="32" alt="" src="<%= avatar_url_quick(item.uploader_id,:small30) %>">
              </div></a>
          </div>
          <div class="user-details">
            <a href="/users/<%= User.get_slug item.uploader_id %>"><%= User.get_name item.uploader_id %></a><br>
              <span dir="ltr" title="reputation score 26521" class="reputation-score">26.5k</span><span title="2 gold badges"><span class="badge1"></span><span class="badgecount">2</span></span><span title="95 silver badges"><span class="badge2"></span><span class="badgecount">95</span></span><span title="168 bronze badges"><span class="badge3"></span><span class="badgecount">168</span></span>
          </div>
      </div>

          </div>  
      </div>
  </div>
  
  <% end %>
<% end %>  
</div>


</div>
<div id="sidebar">    



    <div class="module newuser newuser-greeting" id="newuser-box" style="display:none;">
        <h4>Welcome!</h4>
        <div>
            <p>This is a collaboratively edited question and answer site for <b>scientific skepticism</b>. It's 100% free, no registration required.</p><p>Got a question about the site itself? <a href="http://meta.skeptics.stackexchange.com">meta</a> is the place to talk about things like what questions are appropriate, what tags we should use, etc.</p>
            <p class="ar"><a href="/about?mnu=1">about &raquo;</a>&nbsp;&nbsp;&nbsp;<a href="/faq?mnu=1">faq &raquo;</a>
&nbsp; <a href="http://meta.skeptics.stackexchange.com">meta &raquo;</a>            </p>
        </div>
    </div>
    <div id="questions-count" class="module">
      <div class="summarycount al"><%= link_to number_with_delimiter(Courseware.count),'/coursewares_by_departments' %></div>
      <p>个课件已上传</p>
    </div>
<div class="__sdk" style="background:transparent">
  <a class="button primary" id="cw_newhuge" href="/coursewares/new" style="color:white">上传分享课件</a>
</div>
<div class="module" id="chat-feature" style="padding-top:0">
    

    
<div class="module" id="recent-tags">
    <h4 id="h-recent-tags">学院 × 课件数</h4>
    <div id="recent-tags-list">
      <% Department.desc('coursewares_count').each do |item| %>
        <a href="<%= department_path item %>" class="post-tag" title="<%= item.name %>" rel="tag"><%= item.name %></a><span class="item-multiplier"><span class="item-multiplier-x">&times;</span>&nbsp;<span class="item-multiplier-count"><%= item.coursewares_count %></span></span>                <br>
      <% end %>
    </div>
    <p class="ar"><a href="<%= courses_path %>">全部课程 &raquo;</a></p>
</div>      
</div>

           <strong><a href="/simple/home.php?mod=space&amp;do=friend&amp;view=online&amp;type=member"></a></strong>
<div id="online-users" class="module">
    <h4 id="h-recent-badges">在线用户: <strong><%= @session_count %></strong> 人在线
     - <strong><%= @onlinelist_count %></strong> 用户(<strong><%= @online_invisible_count %></strong> 隐身),
     <strong><%= @guest_count %></strong> 位游客
     - 最高记录是 <strong><%= @onlinerecord[0] %></strong> 于 <strong><%=Time.at(@onlinerecord[1].to_i).strftime("%F")%></strong></span>
    </h4>
    <table>
    <tbody>
     <% if @on_display.empty? %>
      <tr><td>当前只有游客或隐身用户在线</td></tr>
     <% else %>
       <% @on_display.each do |uid,online| %>
        <% if !online[2][1] %>
           <tr><td><a class="badge" href="/simple/?<%= uid %>"><span class="badge2" style="background-image:url(/simple/static/image/common/<%= online[3][1] %>);background-position:0 0;"></span>&nbsp;<%= online[1][0] %></a>
             <a href="/simple/?<%= uid %>"><%= timeago(Time.at(online[2][0])) %></a></td></tr>
        <% end %>
       <% end %>
     <% end %>

    </tbody></table>
    <p class="ar"><a href="/simple/home.php?mod=space&amp;do=friend&amp;view=online&amp;type=member">所有在线用户 »</a></p>
</div>

<div id="feed-link">
    <div id="feed-link-text"><a href="/welcome/feeds" title="RSS订阅最新课件"><span class="feed-icon"></span>RSS订阅最新课件</a></div>
</div>

        </div>
    </div>
</div>


<%= render file:'/application/footers/_zm_footer' %>