<div class="home-page __skp">
    <div id="notify-container"></div>
    <div id="overlay-header"></div>
    <div id="custom-header"></div>

    <div class="container">
        <div id="header">
            <div id="hmenus">
                <div class="nav mainnavs">
                    <ul style="float:left">
                      <li><a id="nav-questions" href="http://<%= Setting.ktv_subdomain %>"><%= Setting.ktv_subname %>课件交流系统</a></li>
                    </ul>
                    <ul>
                        <li class="youarehere"><a id="nav-questions" href="/questions">我的首页</a></li>
                        <li><a id="nav-users" href="/users">我的同学</a></li>
                        <li><a id="nav-unanswered" href="/unanswered">全部课程</a></li>
                        <li><a id="nav-users" href="/users">全部老师</a></li>
                        <li><a id="nav-tags" href="/tags">课件寻求</a></li>
                    </ul>
                </div>
            </div>
        </div>

        



        <div id="content">
            
<div id="mainbar">

<div class="subheader">
    <h1 id="h-top-questions">
        最新课件    
    </h1>
    <div id="tabs">

    <a class="youarehere" href="?tab=active" title="questions that have been asked, answered, or updated recently">我关注的</a>
    <a href="?tab=featured" title="questions with an active bounty"><span class='bounty-indicator-tab'>2</span>优良课件</a>
    <a href="?tab=hot" title="questions with the most views, answers, and votes over the last few days">最热</a>
    <a href="?tab=week" title="questions with the most views, answers, and votes this week">本周</a>
    <a href="?tab=month" title="questions with the most views, answers, and votes this month">本月</a>
            
    </div>
</div>
<div id="question-mini-list">
<% @coursewares.each do |item|%>
<div class="question-summary narrow" id="question-summary-10939">
    <div onclick="window.location.href='/questions/10939/genetically-modified-crops'" class="cp">
        <div class="votes">
            <div class="mini-counts"><%= item.views_count %></div>
            <div>点击</div>
        </div>
        <div class="status unanswered">
            <div class="mini-counts"><%= item.files_count %></div>
            <div>文件</div>
        </div>
        <div class="views">
            <div class="mini-counts"><%= item.downloads_count %></div>
            <div>下载</div>
        </div>
    </div>
    <div class="summary">
        
        <h3><a href="<%= coursewares_path item %>" class="question-hyperlink" title="<%= item.desc %>"><%= item.title %></a></h3>
        <div class="tags t-nutrition">
          <% if item.teacher.present? %>
            <a href="/courses/<%= item.teacher_typeid %>" class="post-tag" title="" rel="tag"><%= item.teacher %></a> 
          <% end %>
          <% if nn=Course.get_name(item.course_fid) %>
            <a href="/courses/<%= item.course_fid %>" class="post-tag" title="" rel="tag"><%= nn %></a> 
            <% if nd=Course.get_department(item.course_fid) and ndid = Department.get_fid(nd) %>
              <a href="/departments/<%= ndid %>" class="post-tag" title="" rel="tag"><%= nd %></a> 
            <% end %>
          <% end %>
        </div>
        <div class="started">
            <a href="/questions/10939/genetically-modified-crops" class="started-link"><%= timeago(item.created_at,:span=>true) %></a>
            <a href="/users/<%= User.get_slug item.user_id %>"><%= User.get_name item.user_id %></a> <span class="reputation-score" title="reputation score" dir="ltr"><%= User.get_reputation(item.user_id) %></span>
        </div>
    </div>
</div>
<% end %>

</div>

</div>
<div id="sidebar">    



    <div class="module newuser newuser-greeting" id="newuser-box" style="display:none;">
        <h4>Welcome!</h4>
        <div>
            <p>This is a collaboratively edited question and answer site for <b>scientific skepticism</b>. It's 100% free, no registration required.</p><p>Got a question about the site itself? <a href="http://meta.skeptics.stackexchange.com">meta</a> is the place to talk about things like what questions are appropriate, what tags we should use, etc.</p>
            <p class="ar"><a href="/about?mnu=1">about &raquo;</a>&nbsp;&nbsp;&nbsp;<a href="/faq?mnu=1">faq &raquo;</a>
&nbsp; <a href="http://meta.skeptics.stackexchange.com">meta &raquo;</a>            </p>
        </div>
    </div>
    <div id="questions-count" class="module">
      <div class="summarycount al"><%= link_to number_with_delimiter(Courseware.count),coursewares_path %></div>
      <p>个课件已上传</p>
    </div>    
<div class="module" id="chat-feature">
    

    
<div class="module" id="recent-tags">
    <h4 id="h-recent-tags">学院 × 课件数</h4>
    <div id="recent-tags-list">
      <% Department.desc('coursewares_count').each do |item| %>
        <a href="<%= department_path item %>" class="post-tag" title="<%= item.name %>" rel="tag"><%= item.name %></a><span class="item-multiplier"><span class="item-multiplier-x">&times;</span>&nbsp;<span class="item-multiplier-count"><%= item.coursewares_count %></span></span>                <br>
      <% end %>
    </div>
    <p class="ar"><a href="<%= courses_path %>">全部课程 &raquo;</a></p>
</div>      
</div>

<div id="feed-link">
    <div id="feed-link-text"><a href="/feeds" title="RSS订阅最新课件"><span class="feed-icon"></span>RSS订阅最新课件</a></div>
</div>

        </div>
    </div>
</div>


<%= render file:'/application/footers/_zm_footer' %>