<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie_all ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie_all ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie_all ie8" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie_all ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/i/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= @seo[:aux_title].present? ? @seo[:aux_title] : "#{Setting.ktv_subname}课件交流系统" %> - <%= @seo[:title] %></title>
  <meta name="author" content="Kejian.TV" />
  <meta name="copyright" content="<%= Time.now.year %> Kejian.TV Ltd." />
  <meta name="keywords" content="<%= @seo[:keywords] %>">
  <meta name="description" content="<%= @seo[:description] %>">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">
  <%= javascript_include_tag "pre_application" %>
  <%= stylesheet_link_tag "pre_application", :media => "all" %>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
  <%= stylesheet_link_tag "ktv/application", :media => "all" %>
  <%= csrf_meta_tag %>
  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->
  <!--[if lte IE 8]>
  <script src="/DOM-shim/lib/DOM-shim-ie8.js"></script>
  <![endif]-->
  <!--[if gte IE 9]>
  <script src="/DOM-shim/lib/DOM-shim.js"></script>
  <![endif]-->
  <!--[if !IE]> -->
  <script src="/DOM-shim/lib/DOM-shim.js"></script>
  <!-- <![endif]-->

  <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
  <!--[if lt IE 9]>
  <script src="/js/libs/html5.js"></script>
  <![endif]-->
  <!--[if (gte IE 6)&(lte IE 8)]>
   <script src="/js/ie1.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag "application" %>
	<%= stylesheet_link_tag 'ktv/__ytb_min_ql' %>
  <!--[if IE]><link rel="stylesheet" type="text/css" href="<%= asset_path('ktv/ie.css') %>" /><![endif]-->
  <!--[if ie 7]><link href="<%= asset_path('ktv/ie7.css') %>" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if IE 6]>
  <link href="<%= asset_path('ktv/ie6.css') %>" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/js/iepngfix.min.js"></script>
  <script type="text/javascript">
  iePngFix.fix('.png');
  </script>
  <![endif]-->
  <!--[if IE 8 ]>
    <link href="/css_ie8.css" media="all" rel="stylesheet" type="text/css" />
  <![endif]-->
  <!--[if lt IE 8 ]>
    <link href="<%= asset_path('css_ie.css')%>" media="all" rel="stylesheet" type="text/css" />
  <![endif]-->
  <script src="/js/libs/modernizr-2.5.3.min.js"></script>
  <%= render 'common_header' %>
  <%= yield :armpit %>
  <%= raw flash[:extra_ucenter_operations] %>
  <%= auto_discovery_link_tag(:rss, "/welcome/feeds.rss") %>
  <!-- w. <%=Sidekiq::VERSION%> -->
</head>

<body <%if @is_ie8 or @is_ie7 or @is_ie6 %>onload="window.psvr_ie_readyfix()"<%end%> id="psvr_subject_all" style="  <%=yield :body_style%>" data-subdomain="<%= request.subdomain %>" class="<%=yield :body_klass%> <%= ' chrome ' if @is_chrome %><%= ' firefox ' if @is_firefox %><%= ' mac ' if @is_mac %><%= ' windows ' if @is_windows %>">
<div class="__dz"><div id="append_parent"></div></div>
<div class="__dz"><div id="ajaxwaitid"></div></div>

<div class="__sdk">
<% if @simple_header %>
  <header style="background-image:url(<%= asset_path('dark.png') %>)">
  <div class="wrapper" style="<%=yield :sdk_wrapper_style%>;width:<%=@simple_header_width%>px">
      <h1><a href="/" id="core_logotext_wrap"><%= image_tag "logo_ktv_#{Setting.ktv_sub}.png",:alt => "#{Setting.ktv_subname}课件交流系统",:id=>'core_logotext' %></a></h1>
      <% if @simple_header_with_exit %>
      <div class="navigation">
        <div id="amazing-shadow"></div>
        <ul id="account-settings" style="min-width:44px">
          <li class="psvr"><a class=" " id="logout" href="/logout">退出登录</a>
          </li>
        </ul>
      </div>
      <% end %>
  </div>
  </header>
<% else %>
  <header style="background-image:url(<%= asset_path('dark.png') %>)">
    <div class="wrapper" style="<%=yield :sdk_wrapper_style%>">
      <h1><a href="/" id="core_logotext_wrap"><%= image_tag "logo_ktv_#{Setting.ktv_sub}.png",:alt => "#{Setting.ktv_subname}课件交流系统",:id=>'core_logotext' %></a></h1>
      <form accept-charset="UTF-8" action="/search" id="search_form" method="get" data-width-tobe="<%= Setting.logo_ktv_width + 490 %>" style="<%= "margin-left:#{Setting.logo_ktv_width + 78}px" %>">
				<div style="margin:0;padding:0;display:inline">
					<input name="utf8" type="hidden" value="✓">
					<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
				</div>
        <input type="text" id="q" name="q" value="" class="placeholded" placeholder="全站搜索" />
      </form>
      <div class="navigation">
        <ul>
<!--
          <li class="raise_ask"><a href="<%= new_ask_path %>" class="lh39 pa0" id="core_addtext_wrap">我要提问</a></li>
-->
<%if request.path.starts_with?('/coursewares_')%>
          <li class="browse"><a href="/" class="lh39 pa0 core_wraps" id="core_all_wrap">返回首页</a></li>
<% else %>    
          <li class="browse"><a href="/coursewares_by_departments" class="lh39 pa0 core_wraps" id="core_all_wrap">课件瀑布</a></li>
<% end %>    

<%if request.path == '/coursewares/new'%>
          <li class="upload"><a href="/" class="lh39 pa0 core_wraps">返回首页</a></li>
<% else %>    
          <li class="upload"><a href="<%= new_courseware_path %>" class="lh39 pa0 core_wraps" id="core_addcw_wrap">上传课件</a></li>
<% end %>
        </ul>
        <div id="amazing-shadow"></div>
        <% if user_signed_in? %>
          <ul id="account-settings">
            <li>
            <a class="user" href="<%= user_path(current_user) %>"><img src="<%=dz_avatar_url(current_user.uid,current_user.email,:small)%>" class="imgHead" width="47" height="47" alt="" style=""><%= current_user.name.present? ? name_beautify(current_user.name) : '姓名未知' %>
                
                <span id="hardest_a_ever"><span dir="ltr" title="your reputation; view reputation changes" class="reputation-score">
                  <%=@_G['member']['credits']%>
                </span></span>
                </a>
              <ul>
                <li><a href="/mine">课件管理器</a></li>
                <li><a href="/account/edit">账号设置</a></li>
                <li><a href="#">意见反馈</a></li>
                <li><a href="/logout">退出</a></li>
              </ul>
            </li>
          </ul>
        <%else%>
          <ul id="account-settings" style="min-width:100px">
            <li class="psvr"><a class=" " id="login" href="/login">登录 / 注册新用户</a>
            </li>
          </ul>
        <%end%>
      </div>
    </div>
  </header>
<% end %>
</div>

<% if @is_ie %>
  <%= content_for :butt2 do %>
    Asks.completeAll($("#q"));
  <% end %>
<% else %>
  <div style="background:none repeat scroll 0 0 #F5F5F5" id="results_tray_div">
  <div class="wrapper">
  <div class="__qua" id="results_tray" data-data-height="32" style="height:0px">
  <div id="__w2_bOT1DHU_results_frame" class="results_frame new_results_frame">
    <ul id="core_search_ul">
  <li class="instruction" id="__w2_eqidaIV_list_item_0"><a class="result_item" href="#">请输入汉字或拼音作为关键词，按回车可进入详细搜索结果页</a></li>
    </ul></div>
  </div>
  </div>
  </div>
<% end %>

<div class="__sdk">
  <div id="sdk_flashes">
  <% if !notice.blank? %>
    <p class="flash notice"><%=raw notice %></p>
    <%= content_for :butt2 do %>
      $("#sdk_flashes .notice").fadeOut().fadeIn();
    <% end %>
  <% end %>
  <% if !alert.blank? %>
    <p class="flash alert"><%=raw alert %></p>
    <%= content_for :butt2 do %>
      $("#sdk_flashes .alert").fadeOut('fast').fadeIn('fast').fadeOut('fast').fadeIn('fast');
    <% end %>
  <% end %>
  </div>
</div>
<% if !@we_are_inside_qa or @raw_raw_raw %><%= yield %>
<% else %>
  <%= render :partial => 'content_above',:locals => {skp_content_style:'padding:0;width:1000px'} %>
  <%= render :partial => 'dz_navi',:locals => {margintop:15,marginleft:28} %>
  <div class="__qa">
    <button href="/asks/new" onclick="return Asks.addAsk()" class="btnGoAsk"></button>
    <section id="container" class="clearfix" style="width:100%;">
      <section id="main" style="<%= 'width:100%' if @render_no_sidebar %>">
        <section id="mainContent" class="<%= 'askPage' if 'asks_show'==pos_signature %>">
          <% if !@notice.blank? %>
            <% if cookies[:hide_notice] != @notice.id.to_s %>
              <div id="sys_notice">
                <%= raw @notice.body %>
                <div class="info">
                  <span class="date"><%= l @notice.updated_at.getlocal, :format => :long %></span>
                  <a href="#" class="gray_button small" onclick="return App.hideNotice('<%= @notice.id %>');">我知道了</a>
                </div>
              </div>
            <% end %>
          <% end %>
          <% if !notice.blank? %>
            <div class="notice_message"><%= notice %></div>
            <% content_for :butt do %>
              <script type="text/javascript">
                $(".notice_message").fadeOut().fadeIn();
              </script>
            <% end %>
          <% end %>
          <% if !alert.blank? %>
            <div class="alert_message"><%= alert %></div>
            <% content_for :butt do %>
              <script type="text/javascript">
                $(".alert_message").fadeOut().fadeIn();
              </script>
            <% end %>
          <% end %>				<%= yield %>
        </section>
      </section>
      <% unless @render_no_sidebar %>
        <aside id="sidebar" style="width:250px;margin:0">
          <%= yield :sidebar %>
          <div class="clearfix mt20">
          </div>
        </aside>
      <% end %>
    </section>
  </div>
  <%= render :partial => 'content_below' %>
<% end %>

<div class="__qa">
    
  <div id="hidden_new_ask" style="display: none;">
    <form action="/asks" method="post" id="inner_new_ask">
      <%= auth_token %>
      <header>
        创建新问题
        <a class="close"  onclick="$.facebox.close(); return false;"></a>
      </header>
      <section>
        <div class="editorBox mt10 clearfix">
          <!-- XXX是这个人人名 -->
          <textarea name="ask[title]" id="new_ask_title_gl" rows="1" class="textarea"></textarea>
          <div class="bar limitwords"></div>
          <textarea name="ask[body]" id="new_ask_body_gl" rows="1" class="textarea mt10"></textarea>
          <div class="bar limitwords"></div>
        </div>
        <ul class="topicNav modify clearfix">
        </ul>
        <div class="addTopic mt5 clearfix" id="theAddTopic" >
          <input type="text" name="topic"><div class="btnNormalSilver"><span class="add_topic">添加</span></div>
        </div>
      </section>
      <input type="hidden" name="topics" value="">
      <footer>
        <div class="btnNormalGreen bold mt20 submit rightbtn"><span>发布题</span></div>
      </footer>
    </form>
  </div>

  <div style="display: none;" id="loading">
    <div class="logo"></div>
    <div class="text">加载中…</div>
  </div>
  
</div>


  <div class="__zm">
    <div class="totop" id="backtotop" style="display: none;"><a href="javascript:void(0);">返回 </a></div>
    <div id="loginLayout"></div>
    <div id="newcwLayout"></div>
    <div id="firstload" class="firstload" style="display:none;">加载中...</div>
  </div>
	<% if !current_user.nil? %>
	<div class="__ytb" id="pl_ytb" <% if params[:reading].blank? %>style="display:none"<% end %>>
		<div id="page">
			<%= render partial:'pl' %>
		</div>
	</div>
	<% end %>
  <!-- JavaScript at the bottom for fast page loading -->
	<div id="js">
  <%= javascript_include_tag "ktv/application" %>
  <%= javascript_include_tag !@is_ie ? "jquery.ui.autocomplete.js" : "jquery.autocomplete.js" %>
  <script type="text/javascript" charset="utf-8">
    (function($){
    jQuery(function(){
      KTV.ajaxize($('.psvr_standard_ajax_form'));
			var summonQL = function(playlist_id,bar_max){
				$.ajax({
					url:'/ajax/summonQL',
					type:'POST',
					data:{'authenticity_token':"<%= form_authenticity_token %>",'playlist_id':playlist_id,'bar_max':bar_max},
					dataType:'json'
				}).done(function(json){
					if(json.status == 'suc'){
						$('#pl_ytb').show();
						$('#pl_ytb #page').html(json.html);
					}
				});
			};
      <%= yield :butt2 %>
      KTV.dz_targetize();
      $('#psvr_dz_target').resize(KTV.dz_targetize);
      jQuery('#search_form').width(jQuery('#search_form').data('width-orig',<%=@is_WebKit ? 494 : 558 %>-jQuery('#core_logotext_wrap').width()-jQuery('#account-settings').width()).data('width-orig'));
      $('#core_addtext_wrap').click(function(){return Asks.addAsk()});
      $('#login').click(function(){return KTV.login()});
      $("abbr.timeago").timeago();
      $("span.relativetime").timeago();
      <% unless current_user %>
        $('.psvr_login_required').attr('onclick','').unbind('click').bind('click',function(){
          return KTV.login();
        });
      <% end %>
    });
    $('.yt-uix-tooltip').tipsy({gravity: $.fn.tipsy.autoNS,fade: <%= @is_WebKit ? 'false' : 'true'%>,opacity: 1});
		
    // jQuery.fn.extend({
    //     shareModes:['share-public', 'share-followers','share-private'],
    //     shareMod:['分享该笔记','只好友可见','仅自己可见'],
    //     shareModeNum:['1','2','0'],
    //     resetShareModeClassNames:function() {
    //       var elements = this;
    //       elements.removeClass();
    //       return this;
    //     },
    //     resetShareMode:function() {
    //       this.resetShareModeClassNames();
    //       return this.each(function() {
    //         $('#note_shared').attr('value','0');
    //         jQuery(this).data('shareModeIndex', 0)
    //           .addClass(jQuery.fn.shareModes[2]).html(jQuery.fn.shareMod[2]);
    //       });
    //     },
    //     toggleShareMode:function() {
    //       // this.resetShareModeClassNames();
    //       return this.each(function() {
    //         var element = jQuery(this);
    //         var shareModeIndex = element.data('shareModeIndex') || 0;
    //         shareModeIndex = (shareModeIndex + 1) % jQuery.fn.shareModes.length;
    //         element.data('shareModeIndex', shareModeIndex)
    //           .addClass(jQuery.fn.shareModes[shareModeIndex]).html(jQuery.fn.shareMod[shareModeIndex]);
    //         $('#note_shared').attr('value',jQuery.fn.shareModeNum[shareModeIndex]);  
    //       });
    //     }
    //   });
    })(jQuery);
  </script>
  <script type="text/javascript" charset="utf-8">
     window.wait_till_frame_ready = function(){
       <%= yield :butt3 %>
     }
  </script>
  <%= javascript_include_tag "application" %>
  <%= yield :bottom %>

  <%= yield :scripts %>
  
  <script type="text/javascript">
  <% if current_user %>
    var logined = true;
  <% else %>
    var logined = false;
  <% end %>
  </script>
  <%= yield :butt %>
  <!-- end scripts -->
  </div>
  <%= render 'analytics' if $psvr_really_production %>

</body>
</html>
