<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if lt IE 7]> <html class="no-js ie_all ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie_all ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie_all ie8" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie_all ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首都师范大学课件交流系统 - <%= @seo[:title] %></title>
<meta name="keywords" content="<%= @seo[:title] %>" />
<meta name="description" content="<%= @seo[:title] %> " />
<meta name="author" content="Kejian.TV" />
<meta name="copyright" content="<%= Time.now.year %> Kejian.TV Ltd." />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="imagetoolbar" content="no" />
<!--<link rel="stylesheet" type="text/css" href="/simple/data/cache/style_1_common.css" />
<link rel="stylesheet" type="text/css" href="/simple/data/cache/style_1_forum_index.css" />-->
<script src="simple/psvr/modernizr.js" type="text/javascript" type="text/javascript"></script>
<%= stylesheet_link_tag "application", :media => "all" %>
<%= csrf_meta_tags %>
</head>

<body>

  <!--背景图片 拉伸效果-->
  <script language="javascript">
    if(typeof document.compatMode!='undefined'&&document.compatMode!='BackCompat'){
        cot_t1_DOCtp="_top:expression(document.documentElement.scrollTop+document.documentElement.clientHeight-this.clientHeight);_left:expression(document.documentElement.scrollLeft + document.documentElement.clientWidth - offsetWidth);}";
    }else{
        cot_t1_DOCtp="_top:expression(document.body.scrollTop+document.body.clientHeight-this.clientHeight);_left:expression(document.body.scrollLeft + document.body.clientWidth - offsetWidth);}";
    }
    var fdcCSS='.psvr_bgscroll {';
    var fdcCSS=fdcCSS+cot_t1_DOCtp;
    document.write('<style type=\"text\/css\">'+fdcCSS+'<\/style>');
  </script>

<div class="psvr_bgscroll" id="ktv_bg_container">
</div>

<div id="psvr_append_parent"></div>
<div id="psvr_ajaxwaitid"></div>

<div id="psvr_wrap">
<div id="psvr_wrapper">

<div id="psvr_header">
 <div class="psvr_headtop">
      <div class="psvr_logo">
        <a href="/"><img src="<%= asset_path 'logo_cnu.png' %>" alt="首都师范大学课件交流系统" id="psvr_logimg"></a>
      </div>
  </div>



  <div class="psvr_menu_out">
      <div class="psvr_menu_in" id="psvr_navmenu"> 
          <div class="psvr_menu" id="psvr_navmenu"><ul>
              <li style="height:37px">&nbsp;</li>
              <li><a class="<%= '/'==request.path ? 'psvr_now' : ''%>" href="/"><span>首页</span></a></li>
              <li><a class="<%= '/courses'==request.path ? 'psvr_now' : ''%>" href="<%=courses_path%>"><span>本学期课程</span></a></li>
           <li><a href="www.ttmeiju.com/countdown.html"><span>全部老师</span></a></li>
           <li><a href="www.ttmeiju.com/summary.html"><span>上传龙虎榜</span></a></li>
           <li><a href="bbs.ttmeiju.com/forum-49-1.html"><span>过科攻略</span></a></li>
           <li><a href="bbs.ttmeiju.com" title="求助" target="_blank"><span>求助</span></a></li>
           <li><a href="http://kejian.tv" title="返回主站" target="_blank"><span>返回主站</span></a></li>
</ul>
          </div>
      </div>
  </div>
</div>

<!--header end-->

<%= yield %>

<div id="psvr_footer">
<div id="psvr_footer_top">
  <p class="psvr_good_link">
  <span style="float:left">
<a href="/">首都师范大学课件交流系统</a> | 
<a href="www.ttmeiju.com/?action-site-type-map">设为首页</a> | 
<a href="www.ttmeiju.com/?action-site-type-link">加入收藏</a></span>
<span style="float:right;margin-right:20px"><a href="#">背景图为<%= $cnu_fotos[@bg_index] %>.</a></span>
</p>
</div>
<div class="psvr_copyright">
<p id="psvr_copyright">
版权所有 <a href="kejian.tv">Kejian.TV</a> &copy; <%= Time.now.year %> 课件交流系统. 课件著作权为原作者所有
        </p>
<p></p>
</div>

</div><!--footer end-->
</div></div>

<%= javascript_include_tag "application" %>
<script type="text/javascript" charset="utf-8">
  jQuery(function(){
    <%= yield :butt2 %>
    window.psvr_bgImg = new Image();
    window.psvr_bgImg.onload = function() {
      jQuery.extend(window.psvr_kina, {
          psvr_height: window.psvr_bgImg.height,
          psvr_width: window.psvr_bgImg.width
      });
      jQuery(window.psvr_bgImg).addClass('psvr_bgimg');
      jQuery(window.psvr_bgImg).attr('id','ktv_bg');
      jQuery(window.psvr_bgImg).attr('alt',<%=raw $cnu_fotos[@bg_index].to_json %>);
      jQuery('#ktv_bg_container').prepend(window.psvr_bgImg);
      jQuery.extend(window.psvr_kina, {
          bg: jQuery('#ktv_bg')[0],
          timer: setInterval(window.psvr_kina.fix, 200)
      });
    };
    window.psvr_bgImg.src = <%= raw asset_path("cnu_foto/#{@bg_index}.jpg").to_json %>;
  });
</script>
<%= yield :butt %>
</body>
</html>
