<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"> 
  <title>Kejian.TV开放API后台管理接口</title>
  <%= stylesheet_link_tag "cpanel_oauth" %>
  <%= javascript_include_tag 'cpanel_oauth' %>
  <%= csrf_meta_tag %>
</head>

<body">
  <div class="container">
      <div class="navigation">
          <div style="float: right">
            (Kejian.TVAPI后台)
          </div>
          <div>
            <%= link_to("访问记录", cpanel_accesses_path)  %> |
            <%= link_to("客户端管理", cpanel_clients_path)  %> |
            <%= link_to("认证范畴", cpanel_scopes_path) %> 
          </div>
      </div>
      <br/>


    <% if flash.notice %>
      <div class="flash_notice">
        <%= flash.notice %>
      </div>
    <% end %>

    <% if flash.alert %>
      <div class=flash_alert>
        <%= flash.alert %>
        <% if @info %>
          <p>Additional information: 
          <%= @info.to_json%>
          </p>
        <% end %>
      </div>
    <% end %>

    <%= yield %>

  </div>
</body>
</html>
