<!DOCTYPE html> 
<html>
  <head> 
    <title><%= Setting.app_name %> - 后台</title> 
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'cpanel' %>
    <%= csrf_meta_tag %>
  </head> 
  <body>
    <div id="header" style="margin-bottom:20px;">
      <div id="app_nom">Kejian.TV管理后台</div>
      <div class="app_admin" style="margin-right:5px;">
        <% if current_user %>
          <a href="http://my.kejian.tv/loginmgr/logout.asp?strBkUrl=http://<%= request.host_with_port %>/" id="logout_link">退出</a>
        <% end %>
      </div>
      <div class="app_admin" style="margin-right:15px;">
        <a href="http://<%= Setting.wendao_domain_name %>/" class="out">返回前台</a>
      </div>
      <div class="app_admin" style="margin-right:50px;">
        <% if current_user %>
          您好, <%= current_user.name %>!
        <% end %>
      </div>
    </div>
    <% if @simple_cpanel_layout %>
      <%= yield %>
    <% else %>
      <%=render :partial=>"/layouts/cpanel_sidebar"%>
      <div id="main" style="float:left;margin:0px;">
        <%=form_tag "/cpanel/#{controller.controller_name}",:method=>:get do%>
          <input type="text" name="q" value="" style="width:600px"><%=submit_tag '后台搜索',width:'100px'%>
        <%end unless @no_form_search%>
        <div class="container">
          <% if !notice.blank? %>
            <div class="notice_message"><%= notice %></div>
            <% content_for :butt2 do %>
              $(".notice_message").fadeOut().fadeIn();    
            <% end %>
          <% end %>
          <% if !alert.blank? %>
            <div class="alert_message"><%= alert %></div>
            <% content_for :butt2 do %>
              $(".alert_message").fadeOut().fadeIn();    
            <% end %>
          <% end %> 
          <%= yield %>
        </div> 
      </div>
      <div id="footer" class="container">
        <div class="container">
          <%= raw Setting.foot_html %>
        </div>
      </div>
    <% end %>

    <%= javascript_include_tag "cpanel","validationEngine" %>
    <script type="text/javascript">
(function($){
      $(document).ready(function(){
        $("form").validationEngine();
      });
})(jQuery);      
    </script>
    <%= yield :scripts %>
    <script type="text/javascript" charset="utf-8">
<%= yield :butt2 %>
    </script>
    <%= yield :butt %>


  </body> 
</html> 
