<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie_all ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie_all ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie_all ie8" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie_all ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="viewport" content="width=960"/>
    <meta http-equiv="x-dns-prefetch-control" content="off"/>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta property="wb:webmaster" content="8511185f3b58f41f" />
    <title>首都师范大学课件交流系统 - <%=@seo[:title]%></title>
    <link rel="shortcut icon" href="/favicon.ico?v=003" /> 
    <meta charset="UTF-8">
    <%= csrf_meta_tag %>

    <!--[if lt IE 9 ]>
    <%= javascript_include_tag "for_help/html5" %>
    <![endif]-->
    <%= stylesheet_link_tag "for_help/application" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <!--[if IE 8 ]>
      <link href="/css_ie8.css" media="all" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if lt IE 8 ]>
      <link href="/css_ie.css" media="all" rel="stylesheet" type="text/css" />
    <![endif]-->
    <%= flash[:extra_ucenter_operations] %>
  </head>

<body data-subdomain="<%= request.subdomain %>">
  <div class="psvrsub">
  <!--背景图片 拉伸效果-->
  <script language="javascript">
    if(typeof document.compatMode!='undefined'&&document.compatMode!='BackCompat'){
        cot_t1_DOCtp="_top:expression(document.documentElement.scrollTop+document.documentElement.clientHeight-this.clientHeight);_left:expression(document.documentElement.scrollLeft + document.documentElement.clientWidth - offsetWidth);}";
    }else{
        cot_t1_DOCtp="_top:expression(document.body.scrollTop+document.body.clientHeight-this.clientHeight);_left:expression(document.body.scrollLeft + document.body.clientWidth - offsetWidth);}";
    }
    var fdcCSS='.psvr_bgscroll {';
    var fdcCSS=fdcCSS+cot_t1_DOCtp;
    document.write('<style type=\"text\/css\">'+fdcCSS+'<\/style>');
  </script>

  <div class="psvr_bgscroll" id="ktv_bg_container">
  </div>
  </div>


    <% if @raw_raw_raw %>
      <%= yield %>
    <% else %>
      <section id="container" class="wrapper clearfix" style="<%='background:white' if @render_no_sidebar %>">
        <section id="main" style="<%= 'width:100%' if @render_no_sidebar %>">
          <section id="mainContent" class="<%= 'askPage' if 'asks_show'==pos_signature %>">
            <% if !@notice.blank? %>
              <% if cookies[:hide_notice] != @notice.id.to_s %>
                <div id="sys_notice">
                  <%= raw @notice.body %>
                  <div class="info">
                    <span class="date"><%= l @notice.updated_at.getlocal, :format => :long %></span>
                    <a href="#" class="gray_button small" onclick="return App.hideNotice('<%= @notice.id %>');">我知道了</a>
                  </div>
                </div>
              <% end %>
            <% end %>
            <% if !notice.blank? %>
              <div class="notice_message"><%= notice %></div>
              <%= content_for :butt do %>
                <script type="text/javascript">
                  $(".notice_message").fadeOut().fadeIn();
                </script>
              <% end %>
            <% end %>
            <% if !alert.blank? %>
              <div class="alert_message"><%= alert %></div>
              <%= content_for :butt do %>
                <script type="text/javascript">
                  $(".alert_message").fadeOut().fadeIn();
                </script>
              <% end %>
            <% end %>


            <%= yield %>
          </section>
        </section>
        <% unless @render_no_sidebar %>
          <aside id="sidebar">
            <%= yield :sidebar %>
            <div class="clearfix mt20">
            </div>
          </aside>
        <% end %>
      </section>

    <% end %>

    <div id="hidden_new_ask" style="display: none;">
      <form action="/asks" method="post" id="inner_new_ask">
        <%= auth_token %>
        <header>
          创建新问题
          <a class="close"  onclick="$.facebox.close(); return false;"></a>
        </header>
        <section>
          <div class="editorBox mt10 clearfix">
            <!-- XXX是这个人人名 -->
            <textarea name="ask[title]" id="new_ask_title_gl" rows="1" class="textarea"></textarea>
            <div class="bar limitwords"></div>
            <textarea name="ask[body]" id="new_ask_body_gl" rows="1" class="textarea mt10"></textarea>
            <div class="bar limitwords"></div>
          </div>
          <ul class="topicNav modify clearfix">
          </ul>
          <div class="addTopic mt5 clearfix" id="theAddTopic" >
            <input type="text" name="topic"><div class="btnNormalSilver"><span class="add_topic">添加</span></div>
          </div>
        </section>
        <input type="hidden" name="topics" value="">
        <footer>
          <div class="btnNormalGreen bold mt20 submit rightbtn"><span>发布问题</span></div>
        </footer>
      </form>
    </div>

    <div style="display: none;" id="loading">
      <div class="logo"></div>
      <div class="text">加载中…</div>
    </div>
    <div style="overflow:hidden;" class="hide">
      <%= image_tag("loading.gif") %>
      <div id="report_page">
        <header>举报内容 <a class="close" href="javascript:void(0);"></a></header>
        <section>
          <form id="report_page_form" action="/report.js" onsubmit="App.loading();" method="post" class="simple_form"> 
            <%= auth_token %>
            <input type="hidden" name="url" value="<%= request.path %>" />
            <p class="fc999">请填写举报原因:</p>
            <div class="editorBox mt10 clearfix">
              <textarea name="desc" style="height:80px;"></textarea>
            </div>
          </form>
        </section>
        <footer>
          <div class="btnNormalGreen bold mt20 rightbtn" id="report_submit" >
            <span>提 交</span>
          </div>
        </footer>
      </div>
    </div>

    <%= yield :bottom %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "for_help/application" %>
    <%= yield :scripts %>
    <script type="text/javascript" charset="utf-8">
      jQuery(function(){
        <%= yield :butt2 %>
      })
    </script>

    <script type="text/javascript">
      <% if current_user %>
        var logined = true;
      <% else %>
        var logined = false;
      <% end %>
    </script>
    <%= yield :butt %>
</body>
</html>
