<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"> 
  <title>欢迎使用Kejian.TV开放API</title>
  <%= stylesheet_link_tag "cpanel_oauth" %>
  <%= javascript_include_tag 'cpanel_oauth' %>
  <%= csrf_meta_tag %>
</head>

<body>
  <div class="container">
    <% unless request.path == oauth_authorization_path %>
      <div class="header">
        <h1>Kejian.TV开放API</h1>
        <p>
          <b>您可以使用本管理界面注册您的应用程序，管理已注册应用程序，查看请求记录。请阅读<%= link_to 'Kejian.TV开放API文档','/apidoc' %>以了解此API的详细使用方法。</b>
        </p>
      </div>
    <% end %>
      <div class="navigation">
        <% if current_user %>
          <div style="float: right">
            您登录为 <%= current_user.email %>.
            <%= link_to "返回Kejian.TV", "http://#{Setting.domain}" %>
          </div>
          <div>
            <%= link_to("首页", api_cpanel_root_path)  %> |
            <%= link_to("访问记录", accesses_path)  %> |
            <%= link_to("客户端管理", clients_path)  %>
          </div>
        <% else %>
          <%= link_to "注册用户", 'http://my.kejian.tv/loginmgr/regist_serviceitem.asp?f=l' %> or
          <%= link_to "登录", 'http://kejian.tv/newbie?from=http%3A%2F%2Fwendaodev.kejian.tv%2Fusers%2Fedit' %>
        <% end %>
      </div>
      <br/>


    <% if flash.notice %>
      <div class="flash_notice">
        <%= flash.notice %>
      </div>
    <% end %>

    <% if flash.alert %>
      <div class=flash_alert>
        <%= flash.alert %>
        <% if @info %>
          <p>Additional information: 
          <%= @info.to_json%>
          </p>
        <% end %>
      </div>
    <% end %>

    <%= yield %>

  </div>
</body>
</html>
