<div class="comments-post-containerx">
  <div class="comment-share-area yt-rounded">
    <div class="comment-share-content">
      <h4>链接到此评论：</h4>
      <div>
        <input type="text" class="comment-share-url yt-uix-form-input-text" value="http://<%= Setting.ktv_sub.nil? ? 'www' : Setting.ktv_sub %>.<%= Setting.ktv_domain %>/coursewares/<%= cw.id %>?cid=<%= comment.id %>">
      </div>
      <div>
        <span>分享到：</span>
          <img class="icon-comment-share icon-comment-share-facebook" src="<%= asset_path 'yt/wfw.gif' %>" title="Facebook" alt="">
          <img class="icon-comment-share icon-comment-share-twitter" src="<%= asset_path 'yt/wfw.gif' %>" title="Twitter" alt="">
          <img class="icon-comment-share icon-comment-share-googleplus" src="<%= asset_path 'yt/wfw.gif' %>" title="Google+" alt="">
      </div>
    </div>
    <div data-action="close-share" class="close comment-action">
      <img class="close-button" src="<%= asset_path 'yt/wfw.gif' %>">
    </div>
  </div>
  

  </div>
  
  
