<% if cw.milestone.count < Courseware::MILESTONE_TYPE.count %>
<div class="watch-actions-stats">
        <p>尚无任何统计信息。</p>
    <div class="clearL"></div>
</div>
<% else %>
<div class="watch-actions-stats">
   <div class="stats-header">
      <h1>
         视频统计信息    
      </h1>
   </div>
   <div class="views">
      <h2>观看次数和发现事件</h2>
      <div class="stats-box yt-uix-expander yt-uix-expander-collapsed">
         <div class="stats-big-chart">
           <% all_day = CwDaily.where(:cw_id=>cw.id).asc('date') %>
           <% axis = all_day.map{|x| x.get_view_count}.max + 100 %>
           <% last_date = all_day.last.date %>
           <% first_date = all_day.first.date %>
           <% all = gap_days(last_date - first_date) %>
           <% alph = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N'] %>
            <img alt="" src="http://chart.apis.google.com/chart?cht=lc:nda&amp;chs=460x100&amp;chf=bg,s,F4F4F4&amp;chco=5F8FC9&amp;chls=1.5&amp;chg=0,-1,1,1&amp;chxt=y,x&amp;chxtc=0,0&amp;chxs=0N*s* ,333333,10|1,333333,10&amp;chxl=1:|<%= Time.at(first_date).strftime("%y-%m-%d") %>|<%= Time.at(all_day[all_day.count/2].date).strftime("%y-%m-%d")%>|<%= Time.at(all_day.last.date).strftime("%y-%m-%d")  %>&amp;chxp=1,5,50,95&amp;chxr=0,0,<%= axis  %>|1,0,100&amp;chd=t:0.0,<%= all_day.map{|x| x.get_view_count.to_f}.to_s.chop.split('[')[-1] %>&amp;chm=B,dce7eed4,0,0,0|AA,333333,0,<%= percent_days(cw.milestone['0'][0][1],first_date,all)%>,10|AB,333333,0,<%= percent_days(cw.milestone['1'][0][1],first_date,all)%>,10" class="stats-big-chart-collapsed">

            <img alt="" src="http://chart.apis.google.com/chart?cht=lc:nda&amp;chs=460x100&amp;chf=bg,s,F4F4F4&amp;chco=5F8FC9&amp;chls=1.5&amp;chg=0,-1,1,1&amp;chxt=y,x&amp;chxtc=0,0&amp;chxs=0N*s* ,333333,10|1,333333,10&amp;chxl=1:|<%= Time.at(first_date).strftime("%y-%m-%d") %>|<%= Time.at(all_day[all_day.count/2].date).strftime("%y-%m-%d")%>|<%= Time.at(last_date).strftime("%y-%m-%d")  %>&amp;chxp=1,5,50,95&amp;chxr=0,0,<%=axis%>|1,0,100&amp;chd=t:0.0,<%= all_day.map{|x| x.get_view_count.to_f}.to_s.chop.split('[')[-1] %>&amp;chm=B,dce7eed4,0,0,0<% for i in 0..Courseware::MILESTONE_TYPE.count %><% if !cw.milestone[i.to_s].nil? %>|A<%= alph[i] %>,333333,0,<%= percent_days(cw.milestone[i.to_s][0][1],first_date,all) %>,10<% end %><% end %>" class="stats-big-chart-expanded">
            <!-- |AH,333333,0,50.5,10|AI,333333,0,69.5,10 -->
         </div>
         <div class="stats-views">
            观看次数：
            <h3><%= number_with_delimiter @courseware.views_count %></h3>
         </div>
         <div class="horizontal-line"></div>
         <h4>主要发现活动</h4>
         <div class="stats-discovery-events">
            <dl>
               <% if !cw.milestone['0'].nil? %>
               <dt class="stats-label">A</dt>
               <dd class="event">
                  <p>            <span><%= Courseware::MILESTONE_TYPE[0] %>:</span>
                     <span class="extra">              <a dir="ltr" href="<%= cw.milestone['0'][0][0] %>" rel="nofollow"><%= cw.milestone['0'][0][3] %></a>          </span>
                  </p>
                  <p class="sub-data"> <%= cw.milestone['0'][0][1].strftime("%Y-%m-%d") %>-<%= number_with_delimiter cw.milestone['0'][1] %> 次观看
                  </p>
               </dd>
               <% end %>
               <% if !cw.milestone['2'].nil? %>
               <dt class="stats-label">B</dt>
               <dd class="event">
                  <p>            <span><%= Courseware::MILESTONE_TYPE[1] %>:</span>
                     <span class="extra">              <a dir="ltr" href="<%= cw.milestone['1'][0][0] %>" rel="nofollow">推荐课件</a>          </span>
                  </p>
                  <p class="sub-data"><%= cw.milestone['1'][0][1].strftime("%Y-%m-%d") %>-<%= number_with_delimiter cw.milestone['1'][1] %>次观看
                  </p>
               </dd>
               <% end %>
            </dl>
            <dl class="extra-events">
              <% if !cw.milestone['2'].nil? %>
               <dt class="stats-label">C</dt>
               <dd class="event">
                  <p>            <span><%= Courseware::MILESTONE_TYPE[2] %>: <%= cw.milestone['2'][0][4] %></span>
                     <span class="extra">              <a dir="ltr" href="<%= cw.milestone['2'][0][0] %>" rel="nofollow"><%= cw.milestone['2'][0][3] %></a>          </span>
                  </p>
                  <p class="sub-data"><%= cw.milestone['2'][0][1].strftime("%Y-%m-%d") %>-<%= number_with_delimiter cw.milestone['2'][1] %> 次观看
                  </p>
               </dd>
               <% end %>
               <% if !cw.milestone['3'].nil? %>
               <dt class="stats-label">D</dt>
               <dd class="event">
                  <p>            <span><%= Courseware::MILESTONE_TYPE[3] %>:<%= cw.milestone['3'][0][3] %></span>
                     <span class="extra"><a dir="ltr" href="<%= cw.milestone['3'][0][0] %>" rel="nofollow">分享链接</a></span>
                  </p>
                  <p class="sub-data"><%= cw.milestone['3'][0][1].strftime("%Y-%m-%d") %>-<%= number_with_delimiter cw.milestone['3'][1] %> 次观看
                  </p>
               </dd>
               <% end %>
               <% if !cw.milestone['4'].nil? %>
               <dt class="stats-label">E</dt>
               <dd class="event">
                  <p><span><%= Courseware::MILESTONE_TYPE[4] %>:</span>
                     <span class="extra"><a dir="ltr" href="<%= cw.milestone['4'][0][0] %>" rel="nofollow">内嵌地址</a></span>
                  </p>
                  <p class="sub-data"><%= cw.milestone['4'][0][1].strftime("%Y-%m-%d") %>-<%= number_with_delimiter cw.milestone['4'][1] %> 次观看
                  </p>
               </dd>
               <% end %>
               <% if !cw.milestone['5'].nil? %>
               <dt class="stats-label">F</dt>
               <dd class="event">
                  <p>          <%= Courseware::MILESTONE_TYPE[5] %>
                  </p>
                  <p class="sub-data"><%= cw.milestone['5'][0][1].strftime("%Y-%m-%d") %>-<%= number_with_delimiter cw.milestone['5'][1] %> 次观看
                  </p>
               </dd>
               <% end %>
               <% if !cw.milestone['6'].nil? %>
               <dt class="stats-label">I</dt>
               <dd class="event">
                  <p>          <%= Courseware::MILESTONE_TYPE[6] %>
                  </p>
                  <p class="sub-data"><%= cw.milestone['6'][0][1].strftime("%Y-%m-%d") %>-<%= number_with_delimiter cw.milestone['6'][1] %> 次观看
                  </p>
               </dd>
               <% end %>
            </dl>
            <div class="stats-discovery-toggle">
               <a class="expand yt-uix-expander-head">
               显示更多活动
               <img alt="" src="<%= asset_path 'yt/wfw.gif' %>">
               </a>
               <a class="collapse yt-uix-expander-head">
               显示部分活动
               <img alt="" src="<%= asset_path 'yt/wfw.gif' %>">
               </a>
            </div>
         </div>
      </div>
   </div>
   <div class="clearL"></div>
    <div class="engagement-audience">
      <div class="stats-engagement">
         <h2>参与度</h2>
         <div class="stats-box">
            <table>
               <tbody>
                  <tr>
                     <td class="stats-box-top stats-box-left">
                        <img alt="" src="http://chart.apis.google.com/chart?cht=ls&amp;chs=80x18&amp;chf=bg,s,F4F4F4&amp;chco=5F8FC9&amp;chls=1&amp;chm=B,DCE6EDdd,0,0,0&amp;chd=t:0.0,<%= all_day.map{|x| x.events_count.to_f}.to_s.chop.split('[')[-1] %>" class="stats-engagement-chart">
                        <span>
                           评论次数：
                           <h4><%= cw.comments.count %></h4>
                        </span>
                     </td>
                     <td class="stats-box-top stats-box-right">
                        <img alt="" src="http://chart.apis.google.com/chart?cht=ls&amp;chs=80x18&amp;chf=bg,s,F4F4F4&amp;chco=5F8FC9&amp;chls=1&amp;chm=B,DCE6EDdd,0,0,0&amp;chd=t:0.0,<%= all_day.map{|x| x.cw_comment_count.to_f}.to_s.chop.split('[')[-1] %>" class="stats-engagement-chart">
                        <span>
                           收藏次数：
                           <h4><%= cw.add_to_count %></h4>
                        </span>
                     </td>
                  </tr>
                  <tr>
                     <td class="stats-box-bottom stats-box-left">
                        <img alt="" src="http://chart.apis.google.com/chart?cht=ls&amp;chs=80x18&amp;chf=bg,s,F4F4F4&amp;chco=5F8FC9&amp;chls=1&amp;chm=B,DCE6EDdd,0,0,0&amp;chd=t:0.0,<%= all_day.map{|x| x.cw_addedto_count.to_f}.to_s.chop.split('[')[-1] %>" class="stats-engagement-chart">
                        <span>
                           顶的次数：
                           <h4><%= cw.thanked_count %></h4>
                        </span>
                     </td>
                     <td class="stats-box-bottom stats-box-right">
                        <img alt="" src="http://chart.apis.google.com/chart?cht=ls&amp;chs=80x18&amp;chf=bg,s,F4F4F4&amp;chco=5F8FC9&amp;chls=1&amp;chm=B,DCE6EDdd,0,0,0&amp;chd=t:0.0,<%= all_day.map{|x| x.cw_ding_count.to_f}.to_s.chop.split('[')[-1] %>" class="stats-engagement-chart">
                        <span>
                           踩的次数：
                           <h4><%= cw.disliked_count %></h4>
                        </span>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <% if false %>
      <div class="stats-audience">
         <h2>受众群体</h2>
         <div class="stats-box">
            <h4>热门国家/地区</h4>
            <dl>
               <dd>
                  日本
               </dd>
               <dd>
                  台湾
               </dd>
               <dd>
                  香港
               </dd>
            </dl>
            <h4>热门受众特征</h4>
            <dl>
               <dd>
                  45-54 岁的男性
               </dd>
               <dd>
                  55-64 岁的男性
               </dd>
               <dd>
                  35-44 岁的男性
               </dd>
            </dl>
         </div>
      </div>
      <% end %>
   
   </div>
   <div class="clearL"></div>
</div>
<% end %>