<%= spaceless do %>
<!DOCTYPE html> 
<html> 
    <head> 
        <title>Kejian.TV</title> 
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <meta charset="UTF-8"/>
        <!--<link rel="stylesheet" href="/mobilepublic/css/jquery.mobile-1.0.css" />-->
        <link rel="stylesheet" href="/mobilepublic/css/jquery.mobile-1.1.0.min.css" />
        <link rel="stylesheet" href="/mobilepublic/css/mobile.css" />
        <script src="/mobilepublic/js/jquery-1.6.4.min.js"></script>
        <script src="/mobilepublic/js/custom-scripting.js"></script>
        <script src="/mobilepublic/js/mobile.js"></script>
        <!--<script src="/mobilepublic/js/jquery.mobile-1.0.min.js"></script>-->
        <script src="/mobilepublic/js/jquery.mobile-1.1.0.min.js"></script>
      <script type="text/javascript">
        <% if current_user %>
        var logined = true;
        <% else %>
        var logined = false;
        <% end %>
      </script>
      <%= flash[:extra_ucenter_operations] %>
    </head> 
    <body> 
      
        <div data-role="page" data-add-back-btn="true" data-back-btn-text="返回">

            <div data-role="header">
                <!--<a href="/" data-icon="home" data-iconpos="notext" title="Home"><span class="ui-btn-inner ui-btn-corner-all" aria-hidden="true"><span class="ui-btn-text">首页</span><span class="ui-icon ui-icon-home ui-icon-shadow"></span></span></a>-->
                <!--<h1>Kejian.TV</h1>-->
                <h1 style="margin-top:0;"><img src="<%=asset_path 'mobile_logo.png' %>" alt="Kejian.TV" /></h1>
<!--
<% if current_user %>
            <a href="http://my.kejian.tv/loginmgr/logout.asp?strBkUrl=http://<%= request.host_with_port %>/" class="ui-btn-right" data-role="button" data-icon="info">退出(<%= current_user.name %>)</a>
          <% else %>
            <a href="/mobile/login" class="ui-btn-right" data-role="button" data-icon="info">登录/注册</a>
<% end %>
-->
<%unless current_user%>
  <%if request.path!='/mobile/login'%>
    <a href="/mobile/login" class="ui-btn-right" data-role="button" data-icon="info">登录/注册</a>
  <%end%>
<%end%>
                <!-- /navbar -->
            </div><!-- /header -->
            <%= render file:'mobile/_search' unless @no_search_bar%>
            <script type="text/javascript" charset="utf-8">
              window.still_going=false
            </script>

              <%= yield %>

<!--
            <div data-role="footer"> 
                <h4>&copy; 课件台Kejian.TV版权所有</h4> 
            </div> 
-->
        <div data-role="footer" data-position="fixed" data-theme="a">
             <div data-role="navbar" data-iconpos="top" id="siteNavbar">
                <ul>
                    <li><a href="/?force_mobile=1" data-icon="wdhome" id="gotohome">首页</a></li>
                    <li><a href="/newbie?force_mobile=1" data-icon="wdsquare" id="gotosquare">风云榜</a></li>
                    <li><a href="<%= current_user.blank? ? '/mobile/login' : '/asks/new?force_mobile=1' %>" data-icon="search" id="gotoask">提问</a></li>
                    <% cnt = current_user.blank? ? 0 : current_user.notifications.unread.count %>
                    <li><a href="<%= current_user.blank? ? '/mobile/login' : '/mobile/notifications?force_mobile=1' %>" data-icon="back" id="gotonotify">通知</a><%if cnt>0%><span class="notifies"><%=cnt%></span><%end%></li>
                </ul>
            </div>
        </div>
        </div><!-- /page -->
	<a id='popup' href="" data-rel="dialog" data-transition="pop" class="hide"></a>
	
	<script src="/mobilepublic/js/tools.js"></script>

      <script type="text/javascript">
        <% if current_user %>
        var logined = true;
        <% else %>
        var logined = false;
        <% end %>

      </script>
  <%= render 'analytics' if $psvr_really_production %>
    </body>

</html>
<% end %>
